Repository firebase/firebase-ios-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @firebase/firebase-ios-sdk-admin, @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe, @samedson, @themiswang, @tejasd

Add test for DocumentReference AsyncSequence
  Firestore/Swift/Tests/Unit/AsyncAwait/AsyncSequenceTests.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

Add concrete sequence for RemoteConfig
  FirebaseRemoteConfig/Swift/RemoteConfig+Async.swift
Owners: @firebase/firebase-ios-sdk-admin

Add a mechanism to prevent concurrent token refreshes
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/SystemService/TokenRefreshCoalescer.swift
  FirebaseAuth/Tests/Unit/TokenRefreshCoalescerTests.swift
Owners: @firebase/firebase-ios-sdk-admin

try another flag
  Firestore/core/test/unit/timestamp_test.cc
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

test ASSERT_DEATH on github ci
  Firestore/core/test/unit/timestamp_test.cc
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

Fix styling
  Firestore/Swift/Source/AsyncAwait/DocumentReference+AsyncSequence.swift
  Firestore/Swift/Source/AsyncAwait/Query+AsyncSequence.swift
  Firestore/Swift/Tests/Unit/AsyncAwait/AsyncSequenceTests.swift
  Package.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe, @firebase/firebase-ios-sdk-admin

Fix styling
  FirebaseRemoteConfig/Swift/RemoteConfig+Async.swift
Owners: @firebase/firebase-ios-sdk-admin

test new flag: ABSL_HAVE_EXCEPTIONS
  Firestore/core/test/unit/timestamp_test.cc
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

test cmake environment
  Firestore/core/test/unit/model/field_path_test.cc
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

Address Comments - tvOS-only refresh and round up amd add tvOS tests
  FirebasePerformance/Sources/AppActivity/FPRScreenTraceTracker.m
  FirebasePerformance/Tests/Unit/FPRScreenTraceTrackerTest.m
Owners: @firebase/firebase-ios-sdk-admin

infra: Carthage update for M173
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAILogicBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Owners: @firebase/firebase-ios-sdk-admin

infra: Carthage update for M173 (#15496)
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAILogicBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Owners: @firebase/firebase-ios-sdk-admin

Update versions for Release 12.7.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAI.podspec
  FirebaseAILogic.podspec
  FirebaseAnalytics.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCombineSwift.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Owners: @firebase/firebase-ios-sdk-admin, @samedson, @themiswang, @tejasd, @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

[Firebase AI] Add support for direct Vertex AI integration testing
  FirebaseAI/Sources/Constants.swift
  FirebaseAI/Sources/FirebaseAI.swift
  FirebaseAI/Sources/GenerativeAIService.swift
  FirebaseAI/Sources/GenerativeModel.swift
  FirebaseAI/Sources/Types/Internal/APIConfig.swift
  FirebaseAI/Tests/TestApp/FirebaseAITestApp.xcodeproj/xcshareddata/xcschemes/FirebaseAITestApp-SPM.xcscheme
  FirebaseAI/Tests/TestApp/Tests/Utilities/InstanceConfig.swift
Owners: @firebase/firebase-ios-sdk-admin

Needed test adaptations
  FirebasePerformance/Tests/Unit/FPRScreenTraceTrackerTest.m
Owners: @firebase/firebase-ios-sdk-admin

[Firebase AI] Replace xcodeproj groups with folders in integration tests
  FirebaseAI/Tests/TestApp/FirebaseAITestApp.xcodeproj/project.pbxproj
Owners: @firebase/firebase-ios-sdk-admin

verify behaviour
  Firestore/core/test/unit/timestamp_test.cc
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

infra: Update versions for Release 12.7.0 (#15497)
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAI.podspec
  FirebaseAILogic.podspec
  FirebaseAnalytics.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCombineSwift.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Owners: @firebase/firebase-ios-sdk-admin, @samedson, @themiswang, @tejasd, @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

test reverted re2 version
  cmake/external/re2.cmake
Owners: @firebase/firebase-ios-sdk-admin

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
* @firebase/firebase-ios-sdk-admin

# Firestore Code
FirebaseFirestore.podspec @ehsannas @cherylEnkidu @wu-hui @dconeybe
Firestore/ @ehsannas @cherylEnkidu @wu-hui @dconeybe
.github/workflows/firestore.yml @ehsannas @cherylEnkidu @wu-hui @dconeybe
.github/workflows/firestore-nightly.yml @ehsannas @cherylEnkidu @wu-hui @dconeybe

# Crashlytics Code
FirebaseCrashlytics.podspec @samedson @themiswang @tejasd
Crashlytics/ @samedson @themiswang @tejasd
.github/workflows/crashlytics.yml @samedson @themiswang @tejasd
