Repository firebase/firebase-ios-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @firebase/firebase-ios-sdk-admin, @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe, @samedson, @themiswang, @tejasd

Make sure the AsyncSequences returned from authStateChanges and idTokenChanges are `Sendable`.
  FirebaseAuth/Sources/Swift/Auth/Auth+Async.swift
Owners: @firebase/firebase-ios-sdk-admin

make duplicate alias recoverable error
  Firestore/Swift/Source/Helper/PipelineHelper.swift
  Firestore/Swift/Source/Stages.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/Pipeline.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

add tests
  Firestore/Swift/Source/Helper/PipelineHelper.swift
  Firestore/Swift/Source/Stages.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/Pipeline.swift
  Firestore/Swift/Tests/Integration/PipelineTests.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

Run crashlytics nightly CI later
  .github/workflows/crashlytics.yml
Owners: @samedson, @themiswang, @tejasd

Update crashlytics.yml
  .github/workflows/crashlytics.yml
Owners: @samedson, @themiswang, @tejasd

solve rebase error
  Firestore/Swift/Tests/Integration/PipelineTests.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

improve readability
  Firestore/Swift/Source/SwiftAPI/Pipeline/Pipeline.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

Prevent stale configuration data after iOS device restore (#15442)
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.h
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.m
Owners: @firebase/firebase-ios-sdk-admin

chore: Bump changwlogs for m173
  FirebaseRemoteConfig/CHANGELOG.md
Owners: @firebase/firebase-ios-sdk-admin

chore: Bump changwlogs for m173 (#15464)
  FirebaseRemoteConfig/CHANGELOG.md
Owners: @firebase/firebase-ios-sdk-admin

[Firebase AI] Add integration test using `gemini-2.5-flash-native-audio-preview-09-2025`
  FirebaseAI/Tests/TestApp/Sources/Constants.swift
  FirebaseAI/Tests/TestApp/Tests/Integration/LiveSessionTests.swift
Owners: @firebase/firebase-ios-sdk-admin

[Firebase AI] Use `build-for-testing` and `test-without-building`
  scripts/build.sh
Owners: @firebase/firebase-ios-sdk-admin

Add `build.sh` to `firebaseai` workflow paths
  .github/workflows/firebaseai.yml
Owners: @firebase/firebase-ios-sdk-admin

Run crashlytics nightly CI later (#15462)
  .github/workflows/crashlytics.yml
Owners: @samedson, @themiswang, @tejasd

Fix typos in some files
  FirebaseAI/Sources/AILog.swift
  FirebaseAI/Sources/Types/Internal/Live/LiveSessionService.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
Owners: @firebase/firebase-ios-sdk-admin

docs: fix "maintaining" in description comments
  FirebaseAI/Sources/Types/Internal/Live/LiveSessionService.swift
Owners: @firebase/firebase-ios-sdk-admin

docs: fix "propagate" throughout the code
  FirebaseAI/Sources/Types/Internal/Live/LiveSessionService.swift
  scripts/repo/Sources/Util/Process.swift
Owners: @firebase/firebase-ios-sdk-admin

docs: fix "implicitly" in comments
  FirebaseAI/Sources/Types/Internal/Live/LiveSessionService.swift
Owners: @firebase/firebase-ios-sdk-admin

style: line wrap
  FirebaseAI/Sources/Types/Internal/Live/LiveSessionService.swift
Owners: @firebase/firebase-ios-sdk-admin

add comments
  Firestore/Swift/Source/Stages.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

Add checking for duplicate alias (#15449)
  Firestore/Swift/Source/Helper/PipelineHelper.swift
  Firestore/Swift/Source/Stages.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/Aggregates/AggregateFunction.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/Pipeline.swift
  Firestore/Swift/Tests/Integration/PipelineTests.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

docs: Fix a bunch of typos (#15472)
  FirebaseAI/Sources/Types/Internal/Live/LiveSessionService.swift
  scripts/repo/Sources/Util/Process.swift
Owners: @firebase/firebase-ios-sdk-admin

docs: fix "mutability" in comments
  FirebaseAI/Sources/Types/Internal/Live/LiveSessionService.swift
Owners: @firebase/firebase-ios-sdk-admin

test: fix "immutability" spelling
  FirebasePerformance/Tests/Unit/FIRPerformanceTest.m
  FirebasePerformance/Tests/Unit/Instruments/FIRHTTPMetricTests.m
  FirebasePerformance/Tests/Unit/Timer/FIRTraceTest.m
Owners: @firebase/firebase-ios-sdk-admin

fix: "mutability" throughout the code (#15473)
  FirebaseAI/Sources/Types/Internal/Live/LiveSessionService.swift
  FirebasePerformance/Tests/Unit/FIRPerformanceTest.m
  FirebasePerformance/Tests/Unit/Instruments/FIRHTTPMetricTests.m
  FirebasePerformance/Tests/Unit/Timer/FIRTraceTest.m
Owners: @firebase/firebase-ios-sdk-admin

Trigger global tap
  Gemfile
Owners: @firebase/firebase-ios-sdk-admin

abtesting
  .github/workflows/abtesting.yml
Owners: @firebase/firebase-ios-sdk-admin

auth
  .github/workflows/auth.yml
Owners: @firebase/firebase-ios-sdk-admin

crashlytics
  .github/workflows/crashlytics.yml
Owners: @samedson, @themiswang, @tejasd

rtdb
  .github/workflows/database.yml
Owners: @firebase/firebase-ios-sdk-admin

fiam
  .github/workflows/inappmessaging.yml
Owners: @firebase/firebase-ios-sdk-admin

fis
  .github/workflows/installations.yml
Owners: @firebase/firebase-ios-sdk-admin

fcm
  .github/workflows/messaging.yml
Owners: @firebase/firebase-ios-sdk-admin

perf
  .github/workflows/performance.yml
Owners: @firebase/firebase-ios-sdk-admin

rc
  .github/workflows/remoteconfig.yml
Owners: @firebase/firebase-ios-sdk-admin

gcs
  .github/workflows/storage.yml
Owners: @firebase/firebase-ios-sdk-admin

chore: Revert debugging code in nc/quickstarts branch (#15479)
  .github/workflows/abtesting.yml
  .github/workflows/auth.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/installations.yml
  .github/workflows/messaging.yml
  .github/workflows/performance.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/storage.yml
Owners: @firebase/firebase-ios-sdk-admin, @samedson, @themiswang, @tejasd

fix: Update firebaseai.yml behavior for forks
  .github/workflows/firebaseai.yml
Owners: @firebase/firebase-ios-sdk-admin

format code
  Firestore/Swift/Source/Stages.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/Pipeline.swift
  Firestore/Swift/Tests/Integration/PipelineTests.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

solve merging issue
  Firestore/Swift/Source/SwiftAPI/Pipeline/Expressions/Expression.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
* @firebase/firebase-ios-sdk-admin

# Firestore Code
FirebaseFirestore.podspec @ehsannas @cherylEnkidu @wu-hui @dconeybe
Firestore/ @ehsannas @cherylEnkidu @wu-hui @dconeybe
.github/workflows/firestore.yml @ehsannas @cherylEnkidu @wu-hui @dconeybe
.github/workflows/firestore-nightly.yml @ehsannas @cherylEnkidu @wu-hui @dconeybe

# Crashlytics Code
FirebaseCrashlytics.podspec @samedson @themiswang @tejasd
Crashlytics/ @samedson @themiswang @tejasd
.github/workflows/crashlytics.yml @samedson @themiswang @tejasd
