Repository firebase/firebase-ios-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @firebase/firebase-ios-sdk-admin, @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe, @samedson, @themiswang, @tejasd

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
* @firebase/firebase-ios-sdk-admin

# Firestore Code
FirebaseFirestore.podspec @ehsannas @cherylEnkidu @wu-hui @dconeybe
Firestore/ @ehsannas @cherylEnkidu @wu-hui @dconeybe
.github/workflows/firestore.yml @ehsannas @cherylEnkidu @wu-hui @dconeybe
.github/workflows/firestore-nightly.yml @ehsannas @cherylEnkidu @wu-hui @dconeybe

# Crashlytics Code
FirebaseCrashlytics.podspec @samedson @themiswang @tejasd
Crashlytics/ @samedson @themiswang @tejasd
.github/workflows/crashlytics.yml @samedson @themiswang @tejasd

fix format
  Firestore/Swift/Source/Stages.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

Fix an issue where Swift complained that the sent object in transactions could not be passed across actor boundaries (#15467)
  Firestore/CHANGELOG.md
  Firestore/Swift/Source/AsyncAwait/Firestore+AsyncAwait.swift
  Firestore/Swift/Source/Stages.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

infra: set up cocoapods prelease workflow
  .github/workflows/prerelease_cocoapods.yml
Owners: @firebase/firebase-ios-sdk-admin

finish copy
  .github/workflows/prerelease_cocoapods.yml
Owners: @firebase/firebase-ios-sdk-admin

fix lint errors
  Firestore/core/src/api/expressions.h
  Firestore/core/src/api/pipeline_result.h
  Firestore/core/src/api/query_snapshot.cc
  Firestore/core/src/api/query_snapshot.h
  Firestore/core/src/api/realtime_pipeline_snapshot.h
  Firestore/core/src/core/view.cc
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

docs
  docs/ContinuousIntegration.md
  scripts/create_spec_repo/README.md
Owners: @firebase/firebase-ios-sdk-admin

fix missing header
  FirebaseFirestoreInternal/FirebaseFirestore/FIRPipelineBridge.h
Owners: @firebase/firebase-ios-sdk-admin

infra: Rename release.yml workflow to release_cocoapods.yml
  .github/workflows/release_cocoapods.yml
Owners: @firebase/firebase-ios-sdk-admin

infra: Rename prerelease.yml workflow to prerelease_cocoapods.yml (#15486)
  .github/workflows/prerelease_cocoapods.yml
  docs/ContinuousIntegration.md
  scripts/create_spec_repo/README.md
Owners: @firebase/firebase-ios-sdk-admin

infra: Rename release.yml workflow to release_cocoapods.yml
  .github/workflows/release_cocoapods.yml
Owners: @firebase/firebase-ios-sdk-admin

update docs
  docs/ContinuousIntegration.md
Owners: @firebase/firebase-ios-sdk-admin

infra: versatility and cleanup improvements to zip.yml
  .github/workflows/zip.yml
Owners: @firebase/firebase-ios-sdk-admin

Apply suggestion from @ncooke3
  .github/workflows/zip.yml
Owners: @firebase/firebase-ios-sdk-admin

remove file that caused build breakages
  FirebaseFirestoreInternal/FirebaseFirestore/FIRPipelineBridge.h
Owners: @firebase/firebase-ios-sdk-admin

Update .github/workflows/zip.yml
  .github/workflows/zip.yml
Owners: @firebase/firebase-ios-sdk-admin

Apply suggestion from @gemini-code-assist[bot]
  .github/workflows/common_quickstart.yml
Owners: @firebase/firebase-ios-sdk-admin

fix c++ format error
  Firestore/core/src/api/query_snapshot.h
  Firestore/core/src/core/expressions_eval.cc
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

Simplify sample code snippets
  FirebaseAuth/Sources/Swift/Auth/Auth+Async.swift
Owners: @firebase/firebase-ios-sdk-admin

Use concrete AsyncSequence types for snapshots
  Firestore/Swift/Source/AsyncAwait/DocumentReference+AsyncSequence.swift
  Firestore/Swift/Source/AsyncAwait/Query+AsyncSequence.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

Make sure can only perform one token refresh at once
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/SystemService/TokenRefreshCoalescer.swift
  FirebaseAuth/Tests/Unit/TokenRefreshCoalescerTests.swift
Owners: @firebase/firebase-ios-sdk-admin

Add missing expressions (#15457)
  Firestore/Swift/Source/ExpressionImplementation.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/Expressions/Expression.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/Pipeline.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/TimeGranularity.swift
  Firestore/Swift/Tests/Integration/PipelineTests.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

remove duplicate vector
  Firestore/core/src/api/query_snapshot.h
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

Apply suggestions from code review
  .github/workflows/prerelease.yml
  .github/workflows/prerelease_cocoapods.yml
  .github/workflows/release.yml
Owners: @firebase/firebase-ios-sdk-admin

fix c++ type error
  Firestore/core/src/core/expressions_eval.cc
  Firestore/core/test/unit/testutil/expression_test_util.h
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

infra(ci): Add run command to integ test script (#15433)
  .github/workflows/firebaseai.yml
  scripts/repo/Sources/Tests/Run.swift
  scripts/repo/Sources/Tests/main.swift
Owners: @firebase/firebase-ios-sdk-admin

infra: Rename release.yml workflow to release_cocoapods.yml (#15488)
  .github/workflows/release_cocoapods.yml
  docs/ContinuousIntegration.md
Owners: @firebase/firebase-ios-sdk-admin

Tests WIP
  Firestore/Swift/Tests/Unit/AsyncAwait/AsyncSequenceTests.swift
  Package.swift
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe, @firebase/firebase-ios-sdk-admin

Apply suggestions from code review
  .github/workflows/zip.yml
Owners: @firebase/firebase-ios-sdk-admin

infra: versatility and cleanup improvements to zip.yml (#15489)
  .github/workflows/zip.yml
Owners: @firebase/firebase-ios-sdk-admin

Apply suggestion from @ncooke3
  .github/workflows/prerelease.yml
Owners: @firebase/firebase-ios-sdk-admin

Apply suggestion from @ncooke3
  .github/workflows/prerelease_cocoapods.yml
Owners: @firebase/firebase-ios-sdk-admin

Apply suggestion from @ncooke3
  .github/workflows/prerelease_cocoapods.yml
Owners: @firebase/firebase-ios-sdk-admin

fix type error 2
  Firestore/core/test/unit/core/expressions/arithmetic_test.cc
  Firestore/core/test/unit/core/expressions/array_test.cc
  Firestore/core/test/unit/core/expressions/comparison_test.cc
  Firestore/core/test/unit/core/expressions/debug_test.cc
  Firestore/core/test/unit/core/expressions/mirroring_semantics_test.cc
  Firestore/core/test/unit/core/expressions/string_test.cc
  Firestore/core/test/unit/core/expressions/timestamp_test.cc
  Firestore/core/test/unit/core/pipeline/collection_group_test.cc
  Firestore/core/test/unit/core/pipeline/collection_test.cc
  Firestore/core/test/unit/core/pipeline/complex_test.cc
  Firestore/core/test/unit/testutil/expression_test_util.cc
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

fix more type error
  Firestore/core/test/unit/core/expressions/arithmetic_test.cc
  Firestore/core/test/unit/testutil/expression_test_util.cc
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe

upload
  .github/workflows/release.yml
Owners: @firebase/firebase-ios-sdk-admin

infra: Fix zip's ai artifact name and do not upload service plists
  .github/workflows/common_quickstart.yml
  .github/workflows/prerelease_cocoapods.yml
  .github/workflows/release_cocoapods.yml
  .github/workflows/zip.yml
Owners: @firebase/firebase-ios-sdk-admin

infra: Fix zip's ai artifact name and do not upload service plists (#15492)
  .github/workflows/common_quickstart.yml
  .github/workflows/prerelease_cocoapods.yml
  .github/workflows/release_cocoapods.yml
  .github/workflows/zip.yml
Owners: @firebase/firebase-ios-sdk-admin

Update .github/workflows/release_cocoapods.yml
  .github/workflows/release_cocoapods.yml
Owners: @firebase/firebase-ios-sdk-admin

Update .github/workflows/zip.yml
  .github/workflows/zip.yml
Owners: @firebase/firebase-ios-sdk-admin

try solving assertion failure
  Firestore/core/test/unit/credentials/empty_credentials_provider_test.cc
  Firestore/core/test/unit/timestamp_test.cc
Owners: @ehsannas, @cherylEnkidu, @wu-hui, @dconeybe
