Repository firebase/firebase-ios-sdk, pull requests merged in 2018-07, with the labels that each got.

#1486 Update Messaging changelog
  Firebase/Messaging/CHANGELOG.md
Labels: Messaging, cla: yes

#1485 Fuzz test Serializer to decode FieldValue
  Firestore/Example/FuzzTests/FSTFuzzTestsPrincipal.mm
Labels: cla: yes

#1484 Add support for NoDocument in the local serializer
  Firestore/core/src/firebase/firestore/local/local_serializer.cc
  Firestore/core/src/firebase/firestore/local/local_serializer.h
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/src/firebase/firestore/remote/serializer.h
  Firestore/core/test/firebase/firestore/local/local_serializer_test.cc
Labels: cla: yes

#1500 Don't use umbrella header import in tests
  Example/Auth/Tests/FIRUserTests.m
Labels: cla: yes

#1498 Add spec test support for target-scoped resume tokens
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/json/collection_spec_test.json
  Firestore/Example/Tests/SpecTests/json/existence_filter_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limbo_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limit_spec_test.json
  Firestore/Example/Tests/SpecTests/json/listen_spec_test.json
  Firestore/Example/Tests/SpecTests/json/offline_spec_test.json
  Firestore/Example/Tests/SpecTests/json/orderby_spec_test.json
  Firestore/Example/Tests/SpecTests/json/persistence_spec_test.json
  Firestore/Example/Tests/SpecTests/json/remote_store_spec_test.json
  Firestore/Example/Tests/SpecTests/json/resume_token_spec_test.json
  Firestore/Example/Tests/SpecTests/json/write_spec_test.json
Labels: cla: yes

#1504 C++: for immutable data structures, forbid ignoring result of insert/erase
  Firestore/core/src/firebase/firestore/immutable/CMakeLists.txt
  Firestore/core/src/firebase/firestore/immutable/sorted_map.h
  Firestore/core/src/firebase/firestore/immutable/sorted_set.h
Labels: Firestore, cla: yes

#1502 Remove one more umbrella header import in Auth Tests
  Example/Auth/Tests/FIRAuthTests.m
  Example/Auth/Tests/FIRUserTests.m
  Example/Firebase.xcodeproj/project.pbxproj
  Example/Firebase.xcodeproj/xcshareddata/xcschemes/Auth_Tests_tvOS.xcscheme
Labels: cla: yes

#1506 pod update for the addition of GoogleUtilities
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
Labels: Firestore, cla: yes

#1503 avoid calling [UIApplication sharedApplication] in app extensions
  Firebase/Messaging/FIRMessaging.m
  Firebase/Messaging/FIRMessagingContextManagerService.m
  Firebase/Messaging/FIRMessagingReceiver.m
  Firebase/Messaging/FIRMessagingRemoteNotificationsProxy.m
  Firebase/Messaging/FIRMessagingUtilities.h
  Firebase/Messaging/FIRMessagingUtilities.m
Labels: cla: yes

#1508 Reorganize cmake dependencies
  CMakeLists.txt
  cmake/CompilerSetup.cmake
  cmake/external/FirebaseCore.cmake
  cmake/external/GoogleUtilities.cmake
  cmake/external/c-ares.cmake
  cmake/external/firestore.cmake
  cmake/external/googletest.cmake
  cmake/external/grpc.cmake
  cmake/external/leveldb.cmake
  cmake/external/nanopb.cmake
  cmake/external/protobuf.cmake
  cmake/external/zlib.cmake
Labels: Firestore, cla: yes

#1509 Check CMake files for copyrights
  Firestore/Protos/CMakeLists.txt
  scripts/check_copyright.sh
Labels: Firestore, cla: yes

#1511 Fix typo in LoggerLevel docs
  Firebase/Core/Public/FIRLoggerLevel.h
  Firebase/Utilities/Logger/Public/GULLoggerLevel.h
Labels: cla: yes

#1505 In FSTLocalDocumentsView, search for all batches affecting a set of keys in one go
  Firestore/Example/Tests/Integration/API/FIRWriteBatchTests.mm
  Firestore/Source/Local/FSTLocalDocumentsView.mm
  scripts/cpplint.py
Labels: Firestore, cla: yes

#1507 Eliminate unnecessary DocumentKey->FSTDocumentKey conversions
  Firestore/Example/Tests/Integration/API/FIRWriteBatchTests.mm
  Firestore/Source/Core/FSTView.mm
  Firestore/Source/Local/FSTDocumentReference.mm
  Firestore/Source/Local/FSTLevelDBRemoteDocumentCache.mm
  Firestore/Source/Model/FSTDocument.mm
  Firestore/Source/Model/FSTDocumentKey.h
  Firestore/Source/Model/FSTDocumentKey.mm
  Firestore/Source/Model/FSTMutation.mm
  Firestore/Source/Model/FSTMutationBatch.mm
  Firestore/core/src/firebase/firestore/model/document_key.h
Labels: Firestore, cla: yes

#1465 C++ migration: add a C++ implementation of `FSTExponentialBackoff`
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/exponential_backoff.cc
  Firestore/core/src/firebase/firestore/remote/exponential_backoff.h
  Firestore/core/src/firebase/firestore/util/executor.h
  Firestore/core/test/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/test/firebase/firestore/remote/exponential_backoff_test.cc
  Firestore/core/test/firebase/firestore/util/executor_test.cc
Labels: Firestore, cla: yes

#1514 Expose array transforms and array contains queries.
  Firestore/CHANGELOG.md
  Firestore/Example/SwiftBuildTest/main.swift
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/Source/API/FIRFieldValue+Internal.h
  Firestore/Source/API/FIRQuery+Internal.h
  Firestore/Source/Public/FIRFieldValue.h
  Firestore/Source/Public/FIRQuery.h
Labels: Firestore, cla: yes, enhancement

#1501 Add Auth interoperability library.
  .travis.yml
  Example/Auth/Tests/FIRAuthTests.m
  Example/Core/Tests/FIRAppTest.m
  Example/Podfile
  Firebase/Auth/Source/FIRAuth.m
  Firebase/Auth/Source/FIRAuth_Internal.h
  Firebase/Auth/Source/FIRUser.m
  Firebase/Core/FIRApp.m
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  Firestore/Example/Podfile
  Interop/Auth/Public/FIRAuthInterop.h
Labels: cla: yes

#1510 Firestore CMake cleanup
  Firestore/CMakeLists.txt
  Firestore/Protos/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/nanopb/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  cmake/FindGRPC.cmake
  cmake/FindLevelDB.cmake
  cmake/FindNanopb.cmake
  cmake/SanitizerOptions.cmake
  cmake/external/c-ares.cmake
  cmake/external/firestore.cmake
  cmake/external/googletest.cmake
  cmake/external/grpc.cmake
  cmake/external/leveldb.cmake
  cmake/external/nanopb.cmake
  cmake/external/protobuf.cmake
  cmake/external/zlib.cmake
  cmake/xcodebuild.cmake
Labels: Firestore, cla: yes

#1512 Move creation of FSTFilter objects to static create method on FSTFilter.
  Firestore/Example/Tests/Core/FSTQueryTests.mm
  Firestore/Example/Tests/Remote/FSTSerializerBetaTests.mm
  Firestore/Example/Tests/Util/FSTHelpers.h
  Firestore/Example/Tests/Util/FSTHelpers.mm
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/Core/FSTQuery.h
  Firestore/Source/Core/FSTQuery.mm
  Firestore/Source/Remote/FSTSerializerBeta.mm
Labels: Firestore, cla: yes

#1519 Fix Firestore when compiled with Xcode 8.3
  .travis.yml
  Firestore/CHANGELOG.md
  Firestore/Example/Firestore.xcodeproj/xcshareddata/xcschemes/Firestore_Tests_iOS.xcscheme
  Firestore/core/src/firebase/firestore/local/local_serializer.cc
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
  scripts/build.sh
Labels: Firestore, cla: yes

#1520 Convert the gRPC external build to use an HTTP download
  cmake/ExternalProjectFlags.cmake
  cmake/external/boringssl.cmake
  cmake/external/grpc.cmake
Labels: Firestore, cla: yes

#1526 Simplify README now that source pods are default
  README.md
Labels: cla: yes

#1528 Restore iOS7 to GoogleUtilities
  GoogleUtilities.podspec
  GoogleUtilities/Environment/third_party/GULAppEnvironmentUtil.m
  GoogleUtilities/Example/Tests/Environment/GULAppEnvironmentUtilTest.m
  GoogleUtilities/Network/GULNetworkURLSession.m
Labels: cla: yes

#1522 Convert googletest and nanopb CMake builds to add_subdirectory
  Firestore/CMakeLists.txt
  Firestore/Protos/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/nanopb/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/third_party/abseil-cpp/CMakeLists.txt
  cmake/FindGMock.cmake
  cmake/external/googletest.cmake
  cmake/external/nanopb.cmake
  cmake/utils.cmake
Labels: Firestore, cla: yes

#1513 Fuzz testing Serializer with a dictionary and corpus
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/FuzzTests/FSTFuzzTestsPrincipal.mm
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/ConvertTextToBinary.sh
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/arr-strings-01
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/doc-01
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/doc-02
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/doc-03
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-boolean-01
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-boolean-02
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-double-01
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-double-02
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-double-03
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-double-04
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-double-05
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-double-06
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-double-07
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-double-08
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-double-09
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-int-01
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-int-02
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-int-03
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-int-04
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-int-05
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-int-06
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-int-07
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-map-01
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-map-02
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-string-01
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-string-02
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-string-03
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-string-04
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-string-05
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/TextProtos/fv-string-06
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/serializer.dictionary
Labels: Firestore, cla: yes

#1529 Travis build test for GoogleUtilities on iOS 6 and iOS 7
  .travis.yml
  GoogleUtilities.podspec
Labels: cla: yes

#1495 Initial (incomplete) implementation of f:f:core::Filter
  Firestore/core/src/firebase/firestore/core/CMakeLists.txt
  Firestore/core/src/firebase/firestore/core/filter.cc
  Firestore/core/src/firebase/firestore/core/filter.h
  Firestore/core/src/firebase/firestore/core/query.cc
  Firestore/core/src/firebase/firestore/core/query.h
  Firestore/core/src/firebase/firestore/core/relation_filter.cc
  Firestore/core/src/firebase/firestore/core/relation_filter.h
  Firestore/core/src/firebase/firestore/model/field_value.cc
  Firestore/core/src/firebase/firestore/model/field_value.h
  Firestore/core/test/firebase/firestore/core/query_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: cla: yes

#1523 Suppress uninitialized read error under VS2017
  Firestore/core/src/firebase/firestore/nanopb/tag.h
Labels: Firestore, cla: yes

#1524 Migrate contents of SwiftBuildTest to Firestore_SwiftTests_iOS
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Firestore.xcodeproj/xcshareddata/xcschemes/Firestore_SwiftTests_iOS.xcscheme
  Firestore/Example/Podfile
  Firestore/Swift/Tests/API/BasicCompileTests.swift
  scripts/build.sh
Labels: Firestore, cla: yes

#1537 Convert grpc and protobuf CMake builds to add_subdirectory
  Firestore/CMakeLists.txt
  Firestore/Protos/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  cmake/FindGRPC.cmake
  cmake/external/boringssl.cmake
  cmake/external/c-ares.cmake
  cmake/external/grpc.cmake
  cmake/external/protobuf.cmake
  cmake/external/zlib.cmake
Labels: Firestore, cla: yes

#1538 Fuzz testing uses protoc from a pod dependency
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/ConvertTextToBinary.sh
  Firestore/Example/Podfile
Labels: Firestore, cla: yes

#1531 Generate CMake frameworks from podspecs
  Firebase/Core/FIRApp.m
  Firestore/CMakeLists.txt
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  cmake/FindFirebaseCore.cmake
  cmake/FindGoogleUtilities.cmake
  cmake/cc_rules.cmake
  cmake/external/FirebaseCore.cmake
  cmake/external/GoogleUtilities.cmake
  cmake/external/firestore.cmake
  cmake/podspec_cmake.rb
  cmake/podspec_rules.cmake
  cmake/xcodebuild.cmake
Labels: Firestore, cla: yes

#1541 Add GoogleUtilities README
  GoogleUtilities.podspec
  GoogleUtilities/README.md
  README.md
Labels: cla: yes

#1542 Use CMake to build LevelDB
  Firestore/CMakeLists.txt
  cmake/external/leveldb.cmake
Labels: Firestore, cla: yes

#1533 Minimize rereading of batches in FSTLocalDocumentsView documentsMatchingCollectionQuery
  Firestore/Source/Local/FSTLocalDocumentsView.mm
  Firestore/core/src/firebase/firestore/model/base_path.h
Labels: Firestore, cla: yes

#1532 Implement a CMake build for FirebaseAuthInterop
  Firestore/CMakeLists.txt
  scripts/if_changed.sh
Labels: Firestore, cla: yes

#1534 Update changelog to mention performance improvements in write batches
  Firestore/CHANGELOG.md
Labels: Firestore, cla: yes

#1551 Fix broken build under linux
  Firestore/CMakeLists.txt
Labels: cla: yes

#1553 Eliminate -Wimplicit-fallthrough triggers
  Firestore/Source/Local/FSTLevelDBMigrations.mm
Labels: cla: yes

#1554 Prevent the comment in the prepare_command from interfering
  FirebaseFirestore.podspec
Labels: Firestore, cla: yes

#1555 Remove the exclusive tag from the Firestore spec tests
  Firestore/Example/Tests/SpecTests/json/listen_spec_test.json
  Firestore/Source/Local/FSTLocalDocumentsView.mm
Labels: Firestore, cla: yes

#1556 b/72533250: Fix issue with limbo resolutions triggering incorrect manufactured deletes.
  Firestore/Example/Tests/SpecTests/json/limbo_spec_test.json
  Firestore/Source/Core/FSTSyncEngine.mm
Labels: Firestore, cla: yes

#1557 Allow remote updates from watch to heal a cache with synthesized deletes in it
  Firestore/Example/Tests/SpecTests/json/listen_spec_test.json
  Firestore/Source/Local/FSTLocalStore.mm
Labels: Firestore, cla: yes

#1558 Add a schema migration that drops the query cache
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Local/FSTLevelDBMigrationsTests.mm
  Firestore/Source/Local/FSTLevelDB.mm
  Firestore/Source/Local/FSTLevelDBMigrations.h
  Firestore/Source/Local/FSTLevelDBMigrations.mm
  Firestore/core/src/firebase/firestore/local/leveldb_transaction.h
Labels: Firestore, cla: yes

#1552 Port local::QueryData from java/objc
  Firestore/core/src/firebase/firestore/core/query.h
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/query_data.cc
  Firestore/core/src/firebase/firestore/local/query_data.h
Labels: Firestore, cla: yes

#1562 Prepare Firestore release 0.12.6
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Local/FSTLevelDBMigrationsTests.mm
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/json/collection_spec_test.json
  Firestore/Example/Tests/SpecTests/json/existence_filter_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limbo_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limit_spec_test.json
  Firestore/Example/Tests/SpecTests/json/listen_spec_test.json
  Firestore/Example/Tests/SpecTests/json/offline_spec_test.json
  Firestore/Example/Tests/SpecTests/json/orderby_spec_test.json
  Firestore/Example/Tests/SpecTests/json/persistence_spec_test.json
  Firestore/Example/Tests/SpecTests/json/remote_store_spec_test.json
  Firestore/Example/Tests/SpecTests/json/resume_token_spec_test.json
  Firestore/Example/Tests/SpecTests/json/write_spec_test.json
  Firestore/Source/Core/FSTSyncEngine.mm
  Firestore/Source/Local/FSTLevelDB.mm
  Firestore/Source/Local/FSTLevelDBMigrations.h
  Firestore/Source/Local/FSTLevelDBMigrations.mm
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/core/src/firebase/firestore/local/leveldb_transaction.h
Labels: Firestore, cla: yes

#1550 Multiple fuzz testing targets
  Firestore/Example/Firestore.xcodeproj/xcshareddata/xcschemes/Firestore_FuzzTests_iOS.xcscheme
  Firestore/Example/FuzzTests/FSTFuzzTestsPrincipal.mm
Labels: Firestore, cla: yes

#1137 Add Google Benchmark library and benchmark leveldb
  Firestore/Example/Benchmarks/FSTLevelDBBenchmarkTests.mm
  Firestore/Example/Benchmarks/Info.plist
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/GoogleBenchmark.podspec
  Firestore/Example/Podfile
Labels: Firestore, cla: yes

#1567 Merge Firebase 5.4.1 to master
  Example/Podfile
  Firebase/Core/FIROptions.m
  FirebaseCore.podspec
  FirebaseFirestore.podspec
  Firestore/CHANGELOG.md
  Firestore/Example/Podfile
  Releases/update-versions.py
Labels: cla: no

#1568 Include sequence number in FSTQueryData hash and isEqual
  Firestore/Source/Local/FSTQueryData.mm
Labels: cla: yes

#1564 Open source the Swizzler
  GoogleUtilities.podspec
  GoogleUtilities/AppDelegateSwizzler/GULAppDelegateSwizzler.m
  GoogleUtilities/AppDelegateSwizzler/Internal/GULAppDelegateSwizzler_Private.h
  GoogleUtilities/AppDelegateSwizzler/Private/GULAppDelegateSwizzler.h
  GoogleUtilities/Common/GULLoggerCodes.h
  GoogleUtilities/Example/GoogleUtilities.xcodeproj/project.pbxproj
  GoogleUtilities/Example/Podfile
  GoogleUtilities/Example/Tests/Swizzler/GULAppDelegateSwizzlerTest.m
  GoogleUtilities/Example/Tests/Swizzler/GULObjectSwizzlerTest.m
  GoogleUtilities/Example/Tests/Swizzler/GULRuntimeClassDiffTests.m
  GoogleUtilities/Example/Tests/Swizzler/GULRuntimeClassSnapshotTests.m
  GoogleUtilities/Example/Tests/Swizzler/GULRuntimeDiffTests.m
  GoogleUtilities/Example/Tests/Swizzler/GULRuntimeSnapshotTests.m
  GoogleUtilities/Example/Tests/Swizzler/GULRuntimeStateHelperTests.m
  GoogleUtilities/Example/Tests/Swizzler/GULSwizzlerInheritedMethodsSwizzlingTest.m
  GoogleUtilities/Example/Tests/Swizzler/GULSwizzlerTest.m
  GoogleUtilities/Example/Tests/Swizzler/GULSwizzlingCacheTest.m
  GoogleUtilities/ISASwizzler/GULObjectSwizzler.m
  GoogleUtilities/ISASwizzler/GULSwizzledObject.m
  GoogleUtilities/ISASwizzler/Private/GULObjectSwizzler.h
  GoogleUtilities/ISASwizzler/Private/GULSwizzledObject.h
  GoogleUtilities/MethodSwizzler/GULSwizzler.m
  GoogleUtilities/MethodSwizzler/Private/GULOriginalIMPConvenienceMacros.h
  GoogleUtilities/MethodSwizzler/Private/GULSwizzler.h
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeClassDiff.h
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeClassDiff.m
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeClassSnapshot.h
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeClassSnapshot.m
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeDiff.h
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeDiff.m
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeSnapshot.h
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeSnapshot.m
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeStateHelper.h
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeStateHelper.m
  GoogleUtilities/SwizzlerTestHelpers/GULSwizzlingCache.h
  GoogleUtilities/SwizzlerTestHelpers/GULSwizzlingCache.m
  GoogleUtilities/SwizzlerTestHelpers/GULSwizzlingCache_Private.h
Labels: cla: yes

#1572 Mention additional libraries may be necessary for Carthage installs
  Carthage.md
Labels: cla: yes

#1563 Fuzz testing refactoring
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/FuzzTests/FSTFuzzTestsPrincipal.mm
  Firestore/Example/FuzzTests/FuzzingTargets/FSTFuzzTestSerializer.h
  Firestore/Example/FuzzTests/FuzzingTargets/FSTFuzzTestSerializer.mm
Labels: Firestore, cla: yes

#1560 Rename global data collection switch.
  Example/Core/Tests/FIRAppTest.m
  Example/Core/Tests/FIROptionsTest.m
  Example/Messaging/Tests/FIRMessagingTest.m
  Firebase/Core/FIRApp.m
  Firebase/Core/FIROptions.m
  Firebase/Core/Private/FIRAppInternal.h
  Firebase/Messaging/FIRMessaging.m
Labels: cla: yes

#1578 Fix iOS 7 warnings.
  GoogleUtilities/AppDelegateSwizzler/GULAppDelegateSwizzler.m
Labels: cla: yes

#1579 Update CHANGELOG.md
  Firebase/Messaging/CHANGELOG.md
Labels: cla: yes

#1582 GoogleUtilities version for initial publish
  GoogleUtilities.podspec
Labels: cla: yes

#1583 Move global data collection switch to public API.
  Firebase/Core/Private/FIRAppInternal.h
  Firebase/Core/Public/FIRApp.h
Labels: cla: yes

#1569 Fix preserving query cache metadata
  Firestore/Example/Tests/Local/FSTLRUGarbageCollectorTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBQueryCacheTests.mm
  Firestore/Example/Tests/Local/FSTMemoryQueryCacheTests.mm
  Firestore/Example/Tests/Local/FSTPersistenceTestHelpers.h
  Firestore/Example/Tests/Local/FSTPersistenceTestHelpers.mm
  Firestore/Example/Tests/Local/FSTQueryCacheTests.mm
  Firestore/Source/Local/FSTLevelDB.mm
  Firestore/Source/Local/FSTLevelDBQueryCache.h
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/Source/Local/FSTMemoryQueryCache.mm
  Firestore/Source/Local/FSTQueryCache.h
Labels: cla: yes

#1584 Update CHANGELOG for M30
  Firebase/Core/CHANGELOG.md
Labels: cla: yes

#1525 Move Firestore to Auth interop library.
  FirebaseFirestore.podspec
  Firestore/Source/API/FIRFirestore.mm
  Firestore/Source/API/FSTFirestoreComponent.h
  Firestore/Source/API/FSTFirestoreComponent.mm
  Firestore/core/src/firebase/firestore/auth/firebase_credentials_provider_apple.h
  Firestore/core/src/firebase/firestore/auth/firebase_credentials_provider_apple.mm
  Firestore/core/test/firebase/firestore/auth/firebase_credentials_provider_test.mm
Labels: Firestore, cla: yes

#1576 Partial [en|de]coding of QueryData via the local serializer
  Firestore/core/src/firebase/firestore/core/query.h
  Firestore/core/src/firebase/firestore/local/local_serializer.cc
  Firestore/core/src/firebase/firestore/local/local_serializer.h
  Firestore/core/src/firebase/firestore/local/query_data.cc
  Firestore/core/src/firebase/firestore/local/query_data.h
  Firestore/core/src/firebase/firestore/model/resource_path.h
  Firestore/core/src/firebase/firestore/nanopb/reader.cc
  Firestore/core/src/firebase/firestore/nanopb/reader.h
  Firestore/core/src/firebase/firestore/nanopb/writer.cc
  Firestore/core/src/firebase/firestore/nanopb/writer.h
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/src/firebase/firestore/remote/serializer.h
  Firestore/core/test/firebase/firestore/local/local_serializer_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: Firestore, cla: yes

#1545 Misc CMake build improvements
  CMakeLists.txt
  Firestore/CMakeLists.txt
  cmake/cc_rules.cmake
  cmake/compiler_setup.cmake
  cmake/external_rules.cmake
  cmake/sanitizer_options.cmake
Labels: Firestore, cla: yes

#1592 Fix FIRLogger initialization after GULLogger
  Example/Core/Tests/FIRLoggerTest.m
  Firebase/Core/FIRLogger.m
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseMessaging.podspec
  GoogleUtilities.podspec
  GoogleUtilities/Example/Tests/Logger/GULLoggerTest.m
  GoogleUtilities/Logger/GULLogger.m
  GoogleUtilities/Logger/Private/GULLogger.h
Labels: cla: yes

#1595 Fix GULLoggerEnableSTDERR by using STDERR_FILENO
  GoogleUtilities/Logger/GULLogger.m
Labels: GoogleUtilities, cla: yes

#1596 Bump GoogleUtilities patch version to publish #1595
  GoogleUtilities.podspec
Labels: cla: yes

#1597 Allow CMake to build Firestore with OpenSSL
  .gitignore
  CMakeLists.txt
  Firestore/core/src/firebase/firestore/util/CMakeLists.txt
Labels: Firestore, cla: yes

#1598 Tolerate the schedule becoming empty in Schedule::PopBlocking
  Firestore/core/src/firebase/firestore/util/executor_std.h
Labels: Firestore, cla: yes

#1599 Add initial support for non-UTF-8 compilation and filenames
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/firebase/firestore/util/CMakeLists.txt
  Firestore/core/src/firebase/firestore/util/string_win.cc
  Firestore/core/src/firebase/firestore/util/string_win.h
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
  Firestore/core/test/firebase/firestore/util/CMakeLists.txt
  Firestore/core/test/firebase/firestore/util/string_win_test.cc
  cmake/compiler_setup.cmake
Labels: Firestore, cla: yes

#1604 fix import pattern
  Firestore/Example/Tests/Local/FSTLevelDBLRUGarbageCollectorTests.mm
  scripts/cpplint.py
Labels: Firestore, cla: yes

#1606 Fix some comments
  Firestore/Example/Tests/Local/FSTQueryCacheTests.mm
Labels: cla: yes
