Repository firebase/firebase-ios-sdk, pull requests merged in 2018-12, with the labels that each got.

#2128 Update CHANGELOG.md
  Firebase/Auth/CHANGELOG.md
Labels: cla: yes

#2144 Fix Swizzler test warnings
  GoogleUtilities/Example/Tests/Swizzler/GULAppDelegateSwizzlerTest.m
  GoogleUtilities/Example/Tests/Swizzler/GULSwizzlerInheritedMethodsSwizzlingTest.m
  GoogleUtilities/Example/Tests/Swizzler/GULSwizzlerTest.m
Labels: cla: yes

#2146 gRPC: fix cases where gRPC call could be finished twice
  Firestore/core/src/firebase/firestore/remote/grpc_stream.cc
  Firestore/core/src/firebase/firestore/remote/grpc_stream.h
  Firestore/core/test/firebase/firestore/remote/grpc_stream_test.cc
Labels: Firestore, cla: yes

#2145 Merging the 5.14.0 release into master.
  Example/Podfile
  Firebase/Core/FIROptions.m
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseMessaging.podspec
  Firestore/Example/Podfile
  Releases/Manifests/5.14.0.json
Labels: cla: yes

#2150 Silence Storage Unit Test `nil` warning.
  Example/Storage/Tests/Unit/FIRStoragePathTests.m
Labels: cla: yes

#2153 Save schema version on downgrade, add test to verify
  Firestore/Example/Tests/Local/FSTLevelDBMigrationsTests.mm
  Firestore/core/src/firebase/firestore/local/leveldb_migrations.cc
  Firestore/core/src/firebase/firestore/local/leveldb_migrations.h
Labels: Firestore, cla: yes

#2113 Functions Interop
  FirebaseFunctions.podspec
  Functions/Backend/package.json
  Functions/Example/FirebaseFunctions.xcodeproj/project.pbxproj
  Functions/Example/IntegrationTests/FIRIntegrationTests.m
  Functions/Example/Podfile
  Functions/Example/TestUtils/FUNFakeApp.h
  Functions/Example/TestUtils/FUNFakeApp.m
  Functions/Example/Tests/FIRFunctionsTests.m
  Functions/FirebaseFunctions/FIRFunctions+Internal.h
  Functions/FirebaseFunctions/FIRFunctions.m
  Functions/FirebaseFunctions/FUNContext.h
  Functions/FirebaseFunctions/FUNContext.m
Labels: Functions, cla: yes

#2110 Clean up FIRAuth bits from FIRApp
  Example/Auth/Tests/FIRAuthTests.m
  Example/Core/Tests/FIRAppTest.m
  Firebase/Auth/Source/FIRAuth.m
  Firebase/Auth/Source/FIRAuth_Internal.h
  Firebase/Core/FIRApp.m
  Firebase/Core/Private/FIRAppInternal.h
Labels: Core, cla: yes

#2162 Initial structural work for the google data logger.
  .gitignore
  .travis.yml
  GoogleDataLogger.podspec
  GoogleDataLogger/CHANGELOG.md
  GoogleDataLogger/GoogleDataLogger/Classes/GDLLogEvent.h
  GoogleDataLogger/GoogleDataLogger/Classes/GDLLogEvent.m
  GoogleDataLogger/GoogleDataLogger/Classes/GDLLogger.m
  GoogleDataLogger/GoogleDataLogger/Classes/Public/GDLLogTransformer.h
  GoogleDataLogger/GoogleDataLogger/Classes/Public/GDLLogger.h
  GoogleDataLogger/GoogleDataLogger/Classes/Public/GoogleDataLogger.h
  GoogleDataLogger/README.md
  GoogleDataLogger/Tests/GDLLogEventTest.m
  GoogleDataLogger/Tests/GDLLoggerTest.m
  GoogleDataLogger/generate_project.sh
Labels: cla: yes

#2171 Carthage: update the name of certificates bundle
  Carthage.md
Labels: Carthage, Firestore, cla: yes

#2172 Fix format string in FSTRemoteStore error logging
  Firestore/Source/Remote/FSTRemoteStore.mm
Labels: Firestore, cla: yes

#2139 C++: replace `FSTMaybeDocumentDictionary` with a C++ equivalent
  Firestore/Example/Benchmarks/FSTLevelDBBenchmarkTests.mm
  Firestore/Example/Tests/API/FSTAPIHelpers.mm
  Firestore/Example/Tests/Core/FSTQueryTests.mm
  Firestore/Example/Tests/Core/FSTViewTests.mm
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBMigrationsTests.mm
  Firestore/Example/Tests/Local/FSTLocalSerializerTests.mm
  Firestore/Example/Tests/Local/FSTLocalStoreTests.mm
  Firestore/Example/Tests/Local/FSTReferenceSetTests.mm
  Firestore/Example/Tests/Local/FSTRemoteDocumentCacheTests.mm
  Firestore/Example/Tests/Model/FSTDocumentKeyTests.mm
  Firestore/Example/Tests/Model/FSTDocumentTests.mm
  Firestore/Example/Tests/Remote/FSTRemoteEventTests.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.h
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/Example/Tests/Util/FSTHelpers.h
  Firestore/Example/Tests/Util/FSTHelpers.mm
  Firestore/Source/API/FIRDocumentSnapshot.mm
  Firestore/Source/Core/FSTFirestoreClient.mm
  Firestore/Source/Core/FSTQuery.mm
  Firestore/Source/Core/FSTSyncEngine.mm
  Firestore/Source/Core/FSTView.h
  Firestore/Source/Core/FSTView.mm
  Firestore/Source/Core/FSTViewSnapshot.mm
  Firestore/Source/Local/FSTDocumentReference.mm
  Firestore/Source/Local/FSTLevelDBRemoteDocumentCache.mm
  Firestore/Source/Local/FSTLocalDocumentsView.h
  Firestore/Source/Local/FSTLocalDocumentsView.mm
  Firestore/Source/Local/FSTLocalStore.h
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/Source/Local/FSTLocalWriteResult.h
  Firestore/Source/Local/FSTLocalWriteResult.mm
  Firestore/Source/Local/FSTMemoryMutationQueue.mm
  Firestore/Source/Local/FSTMemoryRemoteDocumentCache.h
  Firestore/Source/Local/FSTMemoryRemoteDocumentCache.mm
  Firestore/Source/Local/FSTPersistence.h
  Firestore/Source/Local/FSTRemoteDocumentCache.h
  Firestore/Source/Model/FSTDocument.mm
  Firestore/Source/Model/FSTDocumentDictionary.h
  Firestore/Source/Model/FSTDocumentDictionary.mm
  Firestore/Source/Model/FSTDocumentKey.h
  Firestore/Source/Model/FSTDocumentKey.mm
  Firestore/Source/Model/FSTDocumentSet.h
  Firestore/Source/Model/FSTDocumentSet.mm
  Firestore/Source/Model/FSTFieldValue.mm
  Firestore/Source/Remote/FSTRemoteEvent.h
  Firestore/Source/Remote/FSTRemoteEvent.mm
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/Source/Remote/FSTWatchChange.mm
  Firestore/core/src/firebase/firestore/model/CMakeLists.txt
  Firestore/core/src/firebase/firestore/model/document_key.h
  Firestore/core/src/firebase/firestore/model/document_map.h
Labels: Firestore, cla: yes

#2140 Port performance optimizations to speed up reading large collections from Android
  Firestore/Example/Tests/Local/FSTRemoteDocumentCacheTests.mm
  Firestore/Source/Local/FSTLevelDBRemoteDocumentCache.mm
  Firestore/Source/Local/FSTLocalDocumentsView.h
  Firestore/Source/Local/FSTLocalDocumentsView.mm
  Firestore/Source/Local/FSTLocalSerializer.mm
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/Source/Local/FSTMemoryRemoteDocumentCache.mm
  Firestore/Source/Local/FSTRemoteDocumentCache.h
  Firestore/Source/Model/FSTDocument.h
  Firestore/Source/Model/FSTDocument.mm
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/core/src/firebase/firestore/remote/watch_stream.mm
Labels: Firestore, cla: yes

#2183 When searching for gRPC certificates, search the main bundle as well
  Firestore/core/src/firebase/firestore/remote/grpc_root_certificate_finder_apple.mm
Labels: Firestore, cla: yes

#2137 Use registerLibrary for pods in Firebase workspace
  Example/Auth/Tests/FIRAuthTests.m
  Example/Core/Tests/FIRAppTest.m
  Example/Core/Tests/FIRComponentContainerTest.m
  Example/Core/Tests/FIRTestComponents.h
  Example/Core/Tests/FIRTestComponents.m
  Example/Database/Tests/Helpers/FIRFakeApp.m
  Example/Storage/Tests/Unit/FIRStorageComponentTests.m
  Firebase/Auth/Source/FIRAuth.m
  Firebase/Auth/Source/FirebaseAuthVersion.m
  Firebase/Auth/Source/Public/FirebaseAuthVersion.h
  Firebase/Core/FIRApp.m
  Firebase/Core/FIRComponentContainer.m
  Firebase/Core/FIRComponentType.m
  Firebase/Core/Private/FIRAppInternal.h
  Firebase/Core/Private/FIRComponentContainer.h
  Firebase/Core/Private/FIRComponentContainerInternal.h
  Firebase/Core/Private/FIRComponentRegistrant.h
  Firebase/Core/Private/FIRLibrary.h
  Firebase/Database/Api/FIRDatabaseComponent.m
  Firebase/DynamicLinks/FIRDynamicLinks.m
  Firebase/Messaging/FIRMessaging.m
  Firebase/Storage/FIRStorageComponent.m
  Firebase/Storage/FIRStorageConstants.m
  Firebase/Storage/Public/FIRStorage.h
  FirebaseFunctions.podspec
  Firestore/Source/API/FIRFirestoreVersion.h
  Firestore/Source/API/FIRFirestoreVersion.mm
  Firestore/Source/API/FSTFirestoreComponent.mm
  Firestore/core/test/firebase/firestore/auth/firebase_credentials_provider_test.mm
  Functions/FirebaseFunctions/FIRFunctions.m
  scripts/pod_lib_lint.sh
Labels: cla: yes

#2176 Port Memory remote document cache to C++
  Firestore/Source/Local/FSTMemoryRemoteDocumentCache.h
  Firestore/Source/Local/FSTMemoryRemoteDocumentCache.mm
  Firestore/core/src/firebase/firestore/local/memory_remote_document_cache.h
  Firestore/core/src/firebase/firestore/local/memory_remote_document_cache.mm
Labels: cla: yes

#2182 Minor tweaks to release note
  Firestore/CHANGELOG.md
Labels: cla: yes

#2185 Enable travis for GoogleDataLogger using cocoapods-generate
  .travis.yml
  Gemfile
  Gemfile.lock
  scripts/build.sh
  scripts/if_changed.sh
  scripts/install_prereqs.sh
Labels: cla: yes

#2173 Remove start from persistence interface
  Firestore/Example/Tests/Local/FSTPersistenceTestHelpers.mm
  Firestore/Source/Core/FSTFirestoreClient.mm
  Firestore/Source/Local/FSTLevelDB.h
  Firestore/Source/Local/FSTLevelDB.mm
  Firestore/Source/Local/FSTMemoryPersistence.mm
  Firestore/Source/Local/FSTPersistence.h
Labels: cla: yes

#2192 Fix small typos in public documentation.
  Firebase/Auth/Source/Public/FIRAuthTokenResult.h
  Firebase/Auth/Source/Public/FIRPhoneAuthProvider.h
  Firebase/Database/Public/FIRDatabaseQuery.h
Labels: Auth, Database, cla: yes

#2187 fix the unit test #1451
  Example/Messaging/Tests/FIRMessagingRemoteNotificationsProxyTest.m
Labels: cla: yes

#2195 Release 5.15.0
  Example/Podfile
  Firebase/Core/CHANGELOG.md
  Firebase/Core/FIROptions.m
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseFirestore.podspec
  FirebaseFunctions.podspec
  Firestore/Example/Podfile
  Releases/Manifests/5.15.0.json
  SymbolCollisionTest/Podfile
Labels: cla: yes

#2199 Fix leaks in Firestore
  Firestore/Source/Local/FSTLRUGarbageCollector.mm
  Firestore/Source/Local/FSTLevelDBMutationQueue.mm
  Firestore/Source/Local/FSTLevelDBQueryCache.mm
  Firestore/core/src/firebase/firestore/remote/connectivity_monitor_apple.mm
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.h
Labels: Firestore, cla: yes

#2202 Port FSTLevelDBQueryCache to C++
  Firestore/Source/Local/FSTLevelDB.mm
  Firestore/Source/Local/FSTLevelDBQueryCache.h
  Firestore/Source/Local/FSTLevelDBQueryCache.mm
  Firestore/Source/Local/FSTMemoryQueryCache.mm
  Firestore/core/src/firebase/firestore/local/leveldb_query_cache.h
  Firestore/core/src/firebase/firestore/local/leveldb_query_cache.mm
  Firestore/core/src/firebase/firestore/local/memory_query_cache.h
  Firestore/core/src/firebase/firestore/local/memory_query_cache.mm
Labels: cla: yes

#2206 Fix Storage private imports.
  Firebase/Storage/Private/FIRStorageDownloadTask_Private.h
  Firebase/Storage/Private/FIRStorageObservableTask_Private.h
  Firebase/Storage/Private/FIRStorageTaskSnapshot_Private.h
Labels: cla: yes

#2207 Add missing Foundation imports to Interop headers
  Interop/Analytics/Public/FIRInteropEventNames.h
  Interop/Analytics/Public/FIRInteropParameterNames.h
  Interop/Auth/Public/FIRAuthInterop.h
Labels: cla: yes

#2204 Implement -hash and -copy of GDLLogEvent, copy on log, and don't assign extensionBytes in log writer
  GoogleDataLogger/GoogleDataLogger/Classes/GDLLogEvent.m
  GoogleDataLogger/GoogleDataLogger/Classes/GDLLogWriter.m
  GoogleDataLogger/GoogleDataLogger/Classes/GDLLogger.m
Labels: cla: yes

#2212 Add some test helpers and structure for new classes
  GoogleDataLogger/GoogleDataLogger/Classes/GDLUploader.h
  GoogleDataLogger/GoogleDataLogger/Classes/GDLUploader.m
  GoogleDataLogger/Tests/GDLLogUploaderTest.m
  GoogleDataLogger/Tests/Helpers/GDLTestBackend.h
  GoogleDataLogger/Tests/Helpers/GDLTestBackend.m
  GoogleDataLogger/Tests/Helpers/GDLTestPrioritizer.h
  GoogleDataLogger/Tests/Helpers/GDLTestPrioritizer.m
Labels: cla: yes

#2211 Port production usages of QueryCache
  Firestore/Example/Tests/Local/FSTLRUGarbageCollectorTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBMigrationsTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBQueryCacheTests.mm
  Firestore/Example/Tests/Local/FSTLocalStoreTests.mm
  Firestore/Example/Tests/Local/FSTMemoryQueryCacheTests.mm
  Firestore/Source/Local/FSTLRUGarbageCollector.h
  Firestore/Source/Local/FSTLRUGarbageCollector.mm
  Firestore/Source/Local/FSTLevelDB.mm
  Firestore/Source/Local/FSTLevelDBQueryCache.h
  Firestore/Source/Local/FSTLevelDBQueryCache.mm
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/Source/Local/FSTMemoryPersistence.mm
  Firestore/Source/Local/FSTMemoryQueryCache.h
  Firestore/Source/Local/FSTMemoryQueryCache.mm
  Firestore/Source/Local/FSTPersistence.h
  Firestore/Source/Local/FSTQueryCache.h
  Firestore/core/src/firebase/firestore/local/leveldb_query_cache.h
  Firestore/core/src/firebase/firestore/local/memory_query_cache.h
  Firestore/core/src/firebase/firestore/local/query_cache.h
Labels: Firestore, cla: yes

#2213 Continue work on ReferenceSet
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Local/FSTLRUGarbageCollectorTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBMutationQueueTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBQueryCacheTests.mm
  Firestore/Example/Tests/Local/FSTMemoryMutationQueueTests.mm
  Firestore/Example/Tests/Local/FSTMemoryQueryCacheTests.mm
  Firestore/Example/Tests/Local/FSTQueryCacheTests.mm
  Firestore/Example/Tests/Local/FSTReferenceSetTests.mm
  Firestore/Source/Core/FSTSyncEngine.mm
  Firestore/Source/Local/FSTDocumentReference.h
  Firestore/Source/Local/FSTDocumentReference.mm
  Firestore/Source/Local/FSTLevelDB.mm
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/Source/Local/FSTMemoryMutationQueue.mm
  Firestore/Source/Local/FSTMemoryPersistence.mm
  Firestore/Source/Local/FSTMemoryQueryCache.mm
  Firestore/Source/Local/FSTPersistence.h
  Firestore/Source/Local/FSTReferenceSet.h
  Firestore/Source/Local/FSTReferenceSet.mm
  Firestore/core/src/firebase/firestore/immutable/sorted_set.h
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/document_reference.cc
  Firestore/core/src/firebase/firestore/local/document_reference.h
  Firestore/core/src/firebase/firestore/local/memory_query_cache.h
  Firestore/core/src/firebase/firestore/local/memory_query_cache.mm
  Firestore/core/src/firebase/firestore/local/reference_set.cc
  Firestore/core/src/firebase/firestore/local/reference_set.h
  Firestore/core/test/firebase/firestore/local/reference_set_test.cc
Labels: Firestore, cla: yes

#2209 Implement QueryCache interface and port QueryCache tests
  Firestore/Example/Tests/Local/FSTLRUGarbageCollectorTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBMigrationsTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBQueryCacheTests.mm
  Firestore/Example/Tests/Local/FSTLocalStoreTests.mm
  Firestore/Example/Tests/Local/FSTMemoryQueryCacheTests.mm
  Firestore/Example/Tests/Local/FSTQueryCacheTests.h
  Firestore/Example/Tests/Local/FSTQueryCacheTests.mm
  Firestore/Source/Local/FSTLRUGarbageCollector.h
  Firestore/Source/Local/FSTLRUGarbageCollector.mm
  Firestore/Source/Local/FSTLevelDB.mm
  Firestore/Source/Local/FSTLevelDBQueryCache.h
  Firestore/Source/Local/FSTLevelDBQueryCache.mm
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/Source/Local/FSTMemoryPersistence.mm
  Firestore/Source/Local/FSTMemoryQueryCache.h
  Firestore/Source/Local/FSTMemoryQueryCache.mm
  Firestore/Source/Local/FSTPersistence.h
  Firestore/Source/Local/FSTQueryCache.h
  Firestore/core/src/firebase/firestore/local/leveldb_query_cache.h
  Firestore/core/src/firebase/firestore/local/memory_query_cache.h
  Firestore/core/src/firebase/firestore/local/memory_query_cache.mm
  Firestore/core/src/firebase/firestore/local/query_cache.h
Labels: Firestore, cla: yes

#2215 Implement log storage
  GoogleDataLogger/GoogleDataLogger/Classes/GDLLogStorage.h
  GoogleDataLogger/GoogleDataLogger/Classes/GDLLogStorage.m
  GoogleDataLogger/GoogleDataLogger/Classes/Private/GDLLogStorage_Private.h
  GoogleDataLogger/GoogleDataLogger/DependencyWrappers/GDLConsoleLogger.h
  GoogleDataLogger/Tests/Categories/GDLLogStorage+Testing.h
  GoogleDataLogger/Tests/Categories/GDLLogStorage+Testing.m
  GoogleDataLogger/Tests/Categories/GDLRegistrar+Testing.h
  GoogleDataLogger/Tests/Categories/GDLRegistrar+Testing.m
  GoogleDataLogger/Tests/GDLLogStorageTest.m
Labels: cla: yes

#2216 Implement NSSecureCoding for GDLLogStorage
  GoogleDataLogger/GoogleDataLogger/Classes/GDLLogStorage.m
  GoogleDataLogger/Tests/GDLLogStorageTest.m
Labels: cla: yes

#2218 Fix private tests by removing unnecessary storyboard entries
  Example/DynamicLinks/App/iOS/DL-Info.plist
Labels: cla: yes
