Repository firebase/firebase-ios-sdk, pull requests merged in 2018-06, with the labels that each got.

#1367 Fix Firestore compilation under Xcode < 9.2
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/core/src/firebase/firestore/util/CMakeLists.txt
  Firestore/core/src/firebase/firestore/util/hashing.h
  Firestore/core/src/firebase/firestore/util/string_format.h
  Firestore/core/src/firebase/firestore/util/type_traits.h
  Firestore/core/test/firebase/firestore/util/CMakeLists.txt
  Firestore/core/test/firebase/firestore/util/hashing_test.cc
  Firestore/core/test/firebase/firestore/util/string_format_apple_test.mm
  Firestore/core/test/firebase/firestore/util/type_traits_apple_test.mm
Labels: Firestore, cla: yes

#1371 Rename nanopb generated headers from foo.pb.h to foo.nanopb.h
  Firestore/Protos/CMakeLists.txt
  Firestore/Protos/build-protos.sh
  Firestore/Protos/cpp/google/protobuf/any.pb.cc
  Firestore/Protos/cpp/google/protobuf/any.pb.h
  Firestore/Protos/cpp/google/protobuf/empty.pb.cc
  Firestore/Protos/cpp/google/protobuf/empty.pb.h
  Firestore/Protos/cpp/google/protobuf/struct.pb.cc
  Firestore/Protos/cpp/google/protobuf/struct.pb.h
  Firestore/Protos/cpp/google/protobuf/timestamp.pb.cc
  Firestore/Protos/cpp/google/protobuf/timestamp.pb.h
  Firestore/Protos/cpp/google/protobuf/wrappers.pb.cc
  Firestore/Protos/cpp/google/protobuf/wrappers.pb.h
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.h
  Firestore/Protos/nanopb/firestore/local/maybe_document.pb.c
  Firestore/Protos/nanopb/firestore/local/mutation.nanopb.h
  Firestore/Protos/nanopb/firestore/local/mutation.pb.c
  Firestore/Protos/nanopb/firestore/local/target.nanopb.h
  Firestore/Protos/nanopb/firestore/local/target.pb.c
  Firestore/Protos/nanopb/google/api/annotations.nanopb.h
  Firestore/Protos/nanopb/google/api/annotations.pb.c
  Firestore/Protos/nanopb/google/api/http.nanopb.h
  Firestore/Protos/nanopb/google/api/http.pb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/common.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/common.pb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/document.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/document.pb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/firestore.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/firestore.pb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/query.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/query.pb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/write.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/write.pb.c
  Firestore/Protos/nanopb/google/protobuf/any.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/any.pb.c
  Firestore/Protos/nanopb/google/protobuf/empty.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/struct.pb.c
  Firestore/Protos/nanopb/google/protobuf/timestamp.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/timestamp.pb.c
  Firestore/Protos/nanopb/google/protobuf/wrappers.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/wrappers.pb.c
  Firestore/Protos/nanopb/google/rpc/status.nanopb.h
  Firestore/Protos/nanopb/google/rpc/status.pb.c
  Firestore/Protos/nanopb/google/type/latlng.nanopb.h
  Firestore/Protos/nanopb/google/type/latlng.pb.c
  Firestore/Protos/nanopb/google/type/latlng.pb.h
  Firestore/core/src/firebase/firestore/nanopb/reader.cc
  Firestore/core/src/firebase/firestore/nanopb/writer.cc
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  scripts/style.sh
Labels: Firestore, cla: yes

#1364 Added a new Xcode target and scheme for fuzz tests
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Firestore.xcodeproj/xcshareddata/xcschemes/Firestore_FuzzTests_iOS.xcscheme
  Firestore/Example/FuzzTests/FSTFuzzTestsPrincipal.mm
  Firestore/Example/FuzzTests/Firestore_FuzzTests_iOS-Info.plist
  Firestore/Example/Podfile
Labels: Firestore, cla: yes

#1354 Skip unknown fields while decoding FieldValue proto objects.
  Firestore/core/src/firebase/firestore/nanopb/reader.cc
  Firestore/core/src/firebase/firestore/nanopb/reader.h
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
Labels: cla: yes

#1375 Build cleanup
  Firestore/core/src/firebase/firestore/util/CMakeLists.txt
  Firestore/core/src/firebase/firestore/util/string_util.h
  Firestore/core/test/firebase/firestore/util/CMakeLists.txt
Labels: Firestore, cla: yes

#1378 Consistent specification of preprocessor options in podspecs to work with the CocoaPods packager
  FirebaseCore.podspec
  FirebaseFirestore.podspec
Labels: cla: yes

#1377 Skip unknown fields while decoding BatchGetDocumentsResponse proto objects
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
Labels: cla: yes

#1376 Add pathname manipulation utilities
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/firebase/firestore/util/CMakeLists.txt
  Firestore/core/src/firebase/firestore/util/path.cc
  Firestore/core/src/firebase/firestore/util/path.h
  Firestore/core/test/firebase/firestore/util/CMakeLists.txt
  Firestore/core/test/firebase/firestore/util/path_test.cc
Labels: Firestore, cla: yes

#1382 Fix comment spelling
  Firebase/Auth/Source/AuthProviders/Phone/FIRPhoneAuthProvider.m
Labels: Auth, cla: yes

#1381 Fix undefined behaviour in test.
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
Labels: cla: yes

#1385 Fix support scripts on Linux
  Firestore/core/test/firebase/firestore/util/path_test.cc
  scripts/lint.sh
  scripts/style.sh
Labels: Firestore, cla: yes

#1387 Update changelog for 0.12.1 and 0.12.3
  Firestore/CHANGELOG.md
Labels: Firestore, cla: yes

#1388 Adding AppCode schema for Fuzzer tests
  Firestore/Example/Firestore.xcodeproj/xcshareddata/xcschemes/Firestore_FuzzTests_iOS.xcscheme
Labels: cla: yes

#1380 Adding EventAggregator spec tests
  Firestore/Example/Tests/SpecTests/json/existence_filter_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limbo_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limit_spec_test.json
  Firestore/Example/Tests/SpecTests/json/listen_spec_test.json
Labels: cla: yes

#1373 Force refresh token if RPC fails with "Unauthenticated" error
  Firestore/Example/Tests/Integration/FSTStreamTests.mm
  Firestore/Example/Tests/Remote/FSTDatastoreTests.mm
  Firestore/Source/Remote/FSTDatastore.mm
  Firestore/Source/Remote/FSTStream.mm
  Firestore/core/src/firebase/firestore/auth/credentials_provider.h
  Firestore/core/src/firebase/firestore/auth/empty_credentials_provider.cc
  Firestore/core/src/firebase/firestore/auth/empty_credentials_provider.h
  Firestore/core/src/firebase/firestore/auth/firebase_credentials_provider_apple.h
  Firestore/core/src/firebase/firestore/auth/firebase_credentials_provider_apple.mm
  Firestore/core/test/firebase/firestore/auth/empty_credentials_provider_test.cc
  Firestore/core/test/firebase/firestore/auth/firebase_credentials_provider_test.mm
Labels: Firestore, cla: yes

#1389 Allowing field deletes using merge fields
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/Source/API/FSTUserDataConverter.mm
Labels: cla: yes

#1390 Disable sanitizer race condition error
  Firebase/Core/FIRLogger.m
Labels: Core, cla: yes

#1391 Update Travis to use CocoaPods 1.5.3
  Gemfile.lock
Labels: cla: yes

#1379 Refactor Remote Event
  Firestore/Example/Firestore.xcodeproj/xcshareddata/xcschemes/Firestore_FuzzTests_iOS.xcscheme
  Firestore/Example/Tests/Core/FSTQueryListenerTests.mm
  Firestore/Example/Tests/Core/FSTViewTests.mm
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Example/Tests/Local/FSTLocalStoreTests.mm
  Firestore/Example/Tests/Remote/FSTRemoteEventTests.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/Util/FSTHelpers.h
  Firestore/Example/Tests/Util/FSTHelpers.mm
  Firestore/Source/Core/FSTSyncEngine.mm
  Firestore/Source/Core/FSTView.mm
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/Source/Remote/FSTRemoteEvent.h
  Firestore/Source/Remote/FSTRemoteEvent.mm
  Firestore/Source/Remote/FSTRemoteStore.h
  Firestore/Source/Remote/FSTRemoteStore.mm
  Firestore/Source/Remote/FSTWatchChange.mm
Labels: cla: yes

#1395 Fuzz testing Header Search Paths settings
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Firestore.xcodeproj/xcshareddata/xcschemes/Firestore_FuzzTests_iOS.xcscheme
  Firestore/Example/FuzzTests/FSTFuzzTestsPrincipal.mm
Labels: Firestore, cla: yes

#1374 Create Status objects from errno
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/firebase/firestore/util/CMakeLists.txt
  Firestore/core/src/firebase/firestore/util/status.cc
  Firestore/core/src/firebase/firestore/util/status.h
  Firestore/core/src/firebase/firestore/util/status_apple.mm
  Firestore/core/src/firebase/firestore/util/statusor.h
  Firestore/core/src/firebase/firestore/util/strerror.cc
  Firestore/core/src/firebase/firestore/util/strerror.h
  Firestore/core/test/firebase/firestore/util/CMakeLists.txt
  Firestore/core/test/firebase/firestore/util/status_test.cc
  Firestore/core/test/firebase/firestore/util/status_test_util.h
  Firestore/core/test/firebase/firestore/util/strerror_test.cc
Labels: Firestore, cla: yes

#1392 Fix protobuf/nanopb builds on Windows
  cmake/FindNanopb.cmake
  cmake/FindProtobuf.cmake
  cmake/external/grpc.cmake
  cmake/external/nanopb.cmake
  cmake/external/protobuf.cmake
Labels: Firestore, cla: yes

#1396 Merge: Refactor Remote Event
  Firestore/Example/Tests/Core/FSTQueryListenerTests.mm
  Firestore/Example/Tests/Core/FSTViewTests.mm
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Example/Tests/Local/FSTLocalStoreTests.mm
  Firestore/Example/Tests/Remote/FSTRemoteEventTests.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/json/existence_filter_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limbo_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limit_spec_test.json
  Firestore/Example/Tests/SpecTests/json/listen_spec_test.json
  Firestore/Example/Tests/Util/FSTHelpers.h
  Firestore/Example/Tests/Util/FSTHelpers.mm
  Firestore/Source/Core/FSTSyncEngine.mm
  Firestore/Source/Core/FSTView.mm
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/Source/Remote/FSTRemoteEvent.h
  Firestore/Source/Remote/FSTRemoteEvent.mm
  Firestore/Source/Remote/FSTRemoteStore.h
  Firestore/Source/Remote/FSTRemoteStore.mm
  Firestore/Source/Remote/FSTWatchChange.mm
Labels: cla: yes

#1400 Update CHANGELOG for Firestore v0.12.4
  Firestore/CHANGELOG.md
Labels: Firestore, cla: yes

#1404 Added comment about Carthage build phase
  Carthage.md
Labels: cla: yes

#1406 Version updates for Firebase 5.3.0
  Example/Podfile
  Firebase/Core/FIROptions.m
  FirebaseCore.podspec
  FirebaseFirestore.podspec
  Firestore/Example/Podfile
  scripts/push-pods.sh
  scripts/update-tags.sh
Labels: cla: yes

#1405 Remove unused static logging variable.
  Example/Core/Tests/FIRLoggerTest.m
  Firebase/Core/FIRLogger.m
Labels: cla: yes

#1407 Core M28 release notes
  Firebase/Core/CHANGELOG.md
Labels: cla: yes

#1401 Minor LevelDB cleanups
  Firestore/Example/Tests/Local/FSTLevelDBMigrationsTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBTransactionTests.mm
  Firestore/Source/Local/FSTLevelDB.h
  Firestore/Source/Local/FSTLevelDB.mm
  Firestore/Source/Local/FSTLevelDBMutationQueue.h
  Firestore/Source/Local/FSTLevelDBMutationQueue.mm
  Firestore/Source/Local/FSTLevelDBQueryCache.h
  Firestore/Source/Local/FSTLevelDBQueryCache.mm
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
Labels: Firestore, cla: yes

#1408 One more FirebaseCore release note
  Firebase/Core/CHANGELOG.md
Labels: cla: yes

#1414 Automate release version updating
  Releases/Manifests/5.3.0.json
  Releases/Manifests/README
  Releases/update-versions.py
  scripts/push-pods.sh
  scripts/update-tags.sh
Labels: cla: yes

#1416 Fixups to rsgowman/protobuf_cpp
  FirebaseFirestore.podspec
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/ProtobufCpp.podspec
  Firestore/Source/Remote/FSTDatastore.mm
  scripts/check_test_inclusion.py
  scripts/sync_project.rb
Labels: Firestore, cla: yes

#1411 Avoid closing unintialized substreams
  Firestore/core/src/firebase/firestore/nanopb/reader.cc
  Firestore/core/src/firebase/firestore/nanopb/reader.h
Labels: cla: yes

#1343 Hookup serializer_test.cc to the xcode based test suite
  FirebaseFirestore.podspec
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Podfile
  Firestore/Example/ProtobufCpp.podspec
  Firestore/Source/Remote/FSTDatastore.mm
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
  scripts/check_test_inclusion.py
  scripts/sync_project.rb
Labels: Firestore, cla: yes

#1422 remove the token check for topic subscription/unsubscription
  Firebase/Messaging/FIRMessaging.m
Labels: cla: yes

#1425 Corrected the deprecation warning when subscribing to or unsubscribing from a topic
  Example/Messaging/Tests/FIRMessagingPubSubTest.m
  Firebase/Messaging/FIRMessaging.m
  Firebase/Messaging/FIRMessagingPubSub.h
  Firebase/Messaging/FIRMessagingPubSub.m
Labels: cla: yes

#1424 Sample of LRU test refactor
  Firestore/Example/Tests/Local/FSTLRUGarbageCollectorTests.mm
Labels: Firestore, cla: yes

#1427 add a warning message that the topic operation is suspended without a token
  Example/Messaging/Tests/FIRMessagingServiceTest.m
  Firebase/Messaging/FIRMessaging.m
Labels: cla: yes

#1383 Promote users to non-anonymous status even when linking account w/o pw
  Example/Auth/Tests/FIRUserTests.m
  Firebase/Auth/CHANGELOG.md
  Firebase/Auth/Source/FIRUser.m
Labels: cla: yes

#1420 Removing the target state on stream error
  Firestore/Example/Tests/Remote/FSTRemoteEventTests.mm
  Firestore/Source/Remote/FSTRemoteEvent.h
  Firestore/Source/Remote/FSTRemoteStore.mm
Labels: Firestore, cla: yes

#1413 Remove Limbo Document GC
  Firestore/Example/Firestore.xcodeproj/xcshareddata/xcschemes/Firestore_FuzzTests_iOS.xcscheme
  Firestore/Source/Core/FSTSyncEngine.mm
Labels: cla: yes

#1415 Initial creation of the local serializer.
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/local_serializer.cc
  Firestore/core/src/firebase/firestore/local/local_serializer.h
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/src/firebase/firestore/remote/serializer.h
  Firestore/core/test/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/local_serializer_test.cc
Labels: Firestore, cla: yes

#1434 Add a couple of new small Functions APIs.
  Functions/CHANGELOG.md
  Functions/Example/Tests/FIRFunctionsTests.m
  Functions/FirebaseFunctions/FIRFunctions.m
  Functions/FirebaseFunctions/Public/FIRFunctions.h
Labels: cla: yes

#1435 Refactored a few methods from anon namespace to remote serializer
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/src/firebase/firestore/remote/serializer.h
Labels: cla: yes

#1439 Fix a few implicit converstion warnings
  Firestore/core/src/firebase/firestore/local/local_serializer.h
  Firestore/core/test/firebase/firestore/local/local_serializer_test.cc
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
Labels: cla: yes

#1433 Clean up LRU tests
  Firestore/Example/Tests/Local/FSTLRUGarbageCollectorTests.mm
Labels: Firestore, cla: yes

#1440 Drop FSTGarbageCollector and FSTEagerGarbageCollector
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Local/FSTEagerGarbageCollectorTests.mm
  Firestore/Example/Tests/Local/FSTMutationQueueTests.mm
  Firestore/Example/Tests/Local/FSTQueryCacheTests.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.h
  Firestore/Source/Core/FSTFirestoreClient.mm
  Firestore/Source/Local/FSTEagerGarbageCollector.h
  Firestore/Source/Local/FSTEagerGarbageCollector.mm
  Firestore/Source/Local/FSTGarbageCollector.h
  Firestore/Source/Local/FSTLevelDBMutationQueue.h
  Firestore/Source/Local/FSTLevelDBMutationQueue.mm
  Firestore/Source/Local/FSTLevelDBQueryCache.h
  Firestore/Source/Local/FSTLevelDBQueryCache.mm
  Firestore/Source/Local/FSTLocalStore.h
  Firestore/Source/Local/FSTMemoryMutationQueue.h
  Firestore/Source/Local/FSTMemoryMutationQueue.mm
  Firestore/Source/Local/FSTMemoryQueryCache.mm
  Firestore/Source/Local/FSTMutationQueue.h
  Firestore/Source/Local/FSTQueryCache.h
  Firestore/Source/Local/FSTReferenceSet.h
  Firestore/Source/Local/FSTReferenceSet.mm
Labels: Firestore, cla: yes

#1438 Refactor nanopb decoding methods
  Firestore/core/src/firebase/firestore/local/local_serializer.cc
  Firestore/core/src/firebase/firestore/nanopb/reader.cc
  Firestore/core/src/firebase/firestore/nanopb/reader.h
  Firestore/core/src/firebase/firestore/remote/serializer.cc
Labels: cla: yes

#1446 Fix data race issue caught by sanitizer
  Firebase/Auth/Source/FIRAuthAppDelegateProxy.m
Labels: Auth, cla: yes

#1445 Fix undefined behavior sanitizer issues in RTDB
  Firebase/Database/Api/FIRDatabaseQuery.m
  Firebase/Database/Persistence/FLevelDBStorageEngine.m
  Firebase/Database/Snapshot/FIndexedNode.m
Labels: Database, cla: yes

#1441 Update Carthage docs for FirebaseML
  Carthage.md
Labels: Carthage, cla: yes

#1448 Fix bad JWT parsing
  Firebase/Auth/CHANGELOG.md
  Firebase/Auth/Source/FIRUser.m
Labels: Auth, cla: yes

#1449 Remove heartbeat timestamp
  Firebase/Messaging/FIRMessaging.m
  Firebase/Messaging/FIRMessagingConnection.h
  Firebase/Messaging/FIRMessagingConnection.m
  Firebase/Messaging/FIRMessagingSecureSocket.m
Labels: Messaging, cla: yes

#1453 Fix bad versions in Auth changelog
  Firebase/Auth/CHANGELOG.md
Labels: Auth, cla: yes

#1452 Disable failing didReceiveRemoteNotification tests(#1451)
  Example/Messaging/Tests/FIRMessagingRemoteNotificationsProxyTest.m
Labels: Messaging, cla: yes

#1447 Always run sanitizers with AllUnitTests_iOS
  Example/Auth/Tests/FIREmailLinkSignInResponseTests.m
  Example/Firebase.xcodeproj/xcshareddata/xcschemes/AllUnitTests_iOS.xcscheme
Labels: Infrastructure, cla: yes

#1456 Disable sanitizers
  Example/Firebase.xcodeproj/xcshareddata/xcschemes/AllUnitTests_iOS.xcscheme
Labels: cla: yes

#1458 Update database release notes for M29
  Firebase/Database/CHANGELOG.md
Labels: cla: yes

#1454 Update CHANGELOG.md
  Firebase/Messaging/CHANGELOG.md
Labels: cla: yes

#1459 Prepare for installed sub-projects
  .gitignore
  CMakeLists.txt
  Firestore/CMakeLists.txt
  cmake/FindFirebaseCore.cmake
  cmake/FindGRPC.cmake
  cmake/FindLevelDB.cmake
  cmake/FindNanopb.cmake
  cmake/FindProtobuf.cmake
  cmake/external/googletest.cmake
  cmake/external/leveldb.cmake
  cmake/external/nanopb.cmake
  cmake/external/protobuf.cmake
Labels: Firestore, cla: yes

#1455 Improves "Could not reach Firestore backend." log message.
  Firestore/Source/Remote/FSTOnlineStateTracker.h
  Firestore/Source/Remote/FSTOnlineStateTracker.mm
  Firestore/Source/Remote/FSTRemoteStore.mm
Labels: Firestore, cla: yes, enhancement

#1463 Update CHANGELOG for Firestore v0.12.5
  Firestore/CHANGELOG.md
Labels: Firestore, cla: yes

#1462 Install FirebaseCore during CMake build
  CMakeLists.txt
  cmake/FindFirebaseCore.cmake
  cmake/xcodebuild.cmake
Labels: Firestore, cla: yes

#1461 Install googletest during CMake build
  Firestore/CMakeLists.txt
  Firestore/core/test/firebase/firestore/util/CMakeLists.txt
  Firestore/third_party/abseil-cpp/CMakeLists.txt
  cmake/FindGMock.cmake
  cmake/external/googletest.cmake
Labels: Firestore, cla: yes

#1460 Install protobuf during CMake build
  CMakeLists.txt
  Firestore/CMakeLists.txt
  Firestore/Protos/CMakeLists.txt
  cmake/FindNanopb.cmake
  cmake/FindProtobuf.cmake
  cmake/external/grpc.cmake
  cmake/external/nanopb.cmake
  cmake/external/protobuf.cmake
Labels: Firestore, cla: yes

#1450 Force GTMSessionFetcher to not reuse NSURLSessions
  Firebase/Auth/Source/RPCs/FIRAuthBackend.m
Labels: Auth, cla: yes

#1468 Auth 5.0.2 release note updates
  Firebase/Auth/CHANGELOG.md
Labels: cla: yes

#1467 Better mocking for Core Unit Tests
  Example/Core/Tests/FIRAnalyticsConfigurationTest.m
  Example/Core/Tests/FIRAppTest.m
  Example/Core/Tests/FIRLoggerTest.m
  Firebase/Core/FIRLogger.m
Labels: Core, cla: yes

#1437 Add FirebaseCore component interoperability.
  Example/Core/Tests/FIRComponentContainerTest.m
  Example/Core/Tests/FIRComponentTypeTest.m
  Example/Core/Tests/FIRTestComponents.h
  Example/Core/Tests/FIRTestComponents.m
  Example/Firebase.xcodeproj/project.pbxproj
  Firebase/Core/FIRApp.m
  Firebase/Core/FIRComponent.m
  Firebase/Core/FIRComponentContainer.m
  Firebase/Core/FIRComponentType.m
  Firebase/Core/FIRDependency.m
  Firebase/Core/Private/FIRAppAssociationRegistration.h
  Firebase/Core/Private/FIRAppInternal.h
  Firebase/Core/Private/FIRComponent.h
  Firebase/Core/Private/FIRComponentContainer.h
  Firebase/Core/Private/FIRComponentContainerInternal.h
  Firebase/Core/Private/FIRComponentRegistrant.h
  Firebase/Core/Private/FIRComponentType.h
  Firebase/Core/Private/FIRCoreConfigurable.h
  Firebase/Core/Private/FIRDependency.h
Labels: Core, cla: yes

#1473 Add an external CMake build for zlib
  CMakeLists.txt
  cmake/external/grpc.cmake
  cmake/external/zlib.cmake
Labels: Firestore, cla: yes

#1436 Add informative error to JWT parse failures
  Example/Auth/Tests/FIRAuthTests.m
  Example/Auth/Tests/FIRPhoneAuthProviderTests.m
  Example/Auth/Tests/FIRUserTests.m
  Firebase/Auth/Source/FIRAuthErrorUtils.h
  Firebase/Auth/Source/FIRAuthErrorUtils.m
  Firebase/Auth/Source/FIRAuthInternalErrors.h
  Firebase/Auth/Source/FIRUser.m
  Firebase/Auth/Source/Public/FIRAuthErrors.h
Labels: Auth, cla: yes

#1475 Update Auth changelog
  Firebase/Auth/CHANGELOG.md
Labels: Auth, cla: yes

#1474 Change 2015 to 2018 in CHANGELOG
  Firebase/Messaging/CHANGELOG.md
Labels: cla: yes

#1482 Update versions for Release 5.4.0
  Example/Podfile
  Firebase/Core/FIROptions.m
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseDatabase.podspec
  FirebaseFirestore.podspec
  FirebaseFunctions.podspec
  FirebaseMessaging.podspec
  Firestore/Example/Podfile
  Releases/Manifests/5.4.0.json
Labels: cla: yes

#1466 Fix the race condition of global data flag and fcm auto init enabled flag
  Example/Messaging/Tests/FIRMessagingTest.m
  Firebase/Messaging/FIRMessaging+FIRApp.m
  Firebase/Messaging/FIRMessaging.m
  Firebase/Messaging/FIRMessaging_Private.h
Labels: cla: yes

#1471 Initial (incomplete) implementation of f:f::core::Query
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/firebase/firestore/core/CMakeLists.txt
  Firestore/core/src/firebase/firestore/core/query.cc
  Firestore/core/src/firebase/firestore/core/query.h
  Firestore/core/test/firebase/firestore/core/CMakeLists.txt
  Firestore/core/test/firebase/firestore/core/query_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: Firestore, cla: yes
