Repository firebase/firebase-ios-sdk, pull requests merged in 2018-09, with the labels that each got.

#1772 Fix crash in `ExecutorLibdispatch` when running unit tests
  Firestore/core/src/firebase/firestore/util/executor_libdispatch.h
  Firestore/core/src/firebase/firestore/util/executor_libdispatch.mm
Labels: Firestore, cla: yes

#1771 Ignore dotfiles when running sync_project.rb
  scripts/sync_project.rb
Labels: Firestore, cla: yes

#1660 Move Storage to Interop process
  Example/Firebase.xcodeproj/project.pbxproj
  Example/Shared/FIRAuthInteropFake.h
  Example/Shared/FIRAuthInteropFake.m
  Example/Shared/FIRComponentTestUtilities.h
  Example/Shared/FIRComponentTestUtilities.m
  Example/Storage/Tests/Unit/FIRStorageComponentTests.m
  Example/Storage/Tests/Unit/FIRStorageDeleteTests.m
  Example/Storage/Tests/Unit/FIRStorageGetMetadataTests.m
  Example/Storage/Tests/Unit/FIRStorageReferenceTests.m
  Example/Storage/Tests/Unit/FIRStorageTestHelpers.h
  Example/Storage/Tests/Unit/FIRStorageTestHelpers.m
  Example/Storage/Tests/Unit/FIRStorageTests.m
  Example/Storage/Tests/Unit/FIRStorageTokenAuthorizerTests.m
  Example/Storage/Tests/Unit/FIRStorageUpdateMetadataTests.m
  Firebase/Storage/FIRStorage.m
  Firebase/Storage/FIRStorageComponent.m
  Firebase/Storage/FIRStorageTokenAuthorizer.m
  Firebase/Storage/Private/FIRStorageComponent.h
  Firebase/Storage/Private/FIRStorageReference_Private.h
  Firebase/Storage/Private/FIRStorageTokenAuthorizer.h
  FirebaseStorage.podspec
Labels: Storage, cla: yes

#1776 Bump GoogleUtilities version to release analyzer fixes
  GoogleUtilities.podspec
Labels: GoogleUtilities, cla: yes

#1782 Fix mismatched-parameter-type warning
  GoogleUtilities/Example/Tests/Swizzler/GULAppDelegateSwizzlerTest.m
Labels: GoogleUtilities, cla: yes

#1783 Offline get() improvements.
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/json/offline_spec_test.json
  Firestore/Example/Tests/SpecTests/json/remote_store_spec_test.json
  Firestore/Source/Remote/FSTOnlineStateTracker.mm
  Firestore/Source/Remote/FSTRemoteStore.mm
Labels: Firestore, cla: yes

#1777 Start rewriting build-protos.sh as build_protos.py
  Firestore/Protos/CMakeLists.txt
  Firestore/Protos/build-protos.sh
  Firestore/Protos/build_protos.py
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.c
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.h
  Firestore/Protos/nanopb/firestore/local/mutation.nanopb.c
  Firestore/Protos/nanopb/firestore/local/mutation.nanopb.h
  Firestore/Protos/nanopb/firestore/local/target.nanopb.c
  Firestore/Protos/nanopb/firestore/local/target.nanopb.h
  Firestore/Protos/nanopb/google/api/annotations.nanopb.c
  Firestore/Protos/nanopb/google/api/annotations.nanopb.h
  Firestore/Protos/nanopb/google/api/http.nanopb.c
  Firestore/Protos/nanopb/google/api/http.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/common.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/common.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/document.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/document.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/firestore.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/firestore.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/query.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/query.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/write.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/write.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/any.nanopb.c
  Firestore/Protos/nanopb/google/protobuf/any.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/empty.nanopb.c
  Firestore/Protos/nanopb/google/protobuf/empty.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.c
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/timestamp.nanopb.c
  Firestore/Protos/nanopb/google/protobuf/timestamp.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/wrappers.nanopb.c
  Firestore/Protos/nanopb/google/protobuf/wrappers.nanopb.h
  Firestore/Protos/nanopb/google/rpc/status.nanopb.c
  Firestore/Protos/nanopb/google/rpc/status.nanopb.h
  Firestore/Protos/nanopb/google/type/latlng.nanopb.c
  Firestore/Protos/nanopb/google/type/latlng.nanopb.h
Labels: Firestore, cla: yes

#1795 Split protoc and nanopb python generation
  Firestore/Protos/CMakeLists.txt
Labels: Firestore, cla: yes

#1780 Generate Objective-C and C++ protos via CMake
  Firestore/Protos/CMakeLists.txt
  Firestore/Protos/README.md
  Firestore/Protos/build-protos.sh
  Firestore/Protos/build_protos.py
  Firestore/Protos/objc/google/firestore/v1beta1/Firestore.pbrpc.h
  Firestore/Protos/objc/google/firestore/v1beta1/Firestore.pbrpc.m
  Firestore/Protos/strip-registry.py
Labels: Firestore, cla: yes

#1781 Add a protoc plugin for nanopb
  Firestore/Protos/CMakeLists.txt
  Firestore/Protos/build_protos.py
  Firestore/Protos/nanopb_cpp_generator.py
Labels: Firestore, cla: yes

#1787 Make C++ exponential backoff account for already-elapsed time.
  Firestore/core/src/firebase/firestore/remote/exponential_backoff.cc
  Firestore/core/src/firebase/firestore/remote/exponential_backoff.h
Labels: Firestore, cla: yes

#1788 Enable malloc support in nanopb and mark up dynamic fields
  CMakeLists.txt
  Firestore/Protos/build_protos.py
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.c
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.h
  Firestore/Protos/nanopb/firestore/local/mutation.nanopb.c
  Firestore/Protos/nanopb/firestore/local/mutation.nanopb.h
  Firestore/Protos/nanopb/firestore/local/target.nanopb.c
  Firestore/Protos/nanopb/firestore/local/target.nanopb.h
  Firestore/Protos/nanopb/google/api/http.nanopb.c
  Firestore/Protos/nanopb/google/api/http.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/common.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/common.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/document.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/document.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/firestore.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/firestore.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/query.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/query.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/write.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/write.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/any.nanopb.c
  Firestore/Protos/nanopb/google/protobuf/any.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.c
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/wrappers.nanopb.c
  Firestore/Protos/nanopb/google/protobuf/wrappers.nanopb.h
  Firestore/Protos/nanopb/google/rpc/status.nanopb.c
  Firestore/Protos/nanopb/google/rpc/status.nanopb.h
  Firestore/Protos/nanopb_cpp_generator.py
  Firestore/Protos/protos/google/api/http.options
  Firestore/Protos/protos/google/firestore/v1beta1/document.options
  Firestore/Protos/protos/google/firestore/v1beta1/firestore.options
  Firestore/Protos/protos/google/firestore/v1beta1/write.options
  Firestore/Protos/protos/google/protobuf/struct.options
Labels: Firestore, cla: yes

#1789 Use anonymous unions for oneofs in nanopb
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.c
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.h
  Firestore/Protos/nanopb/firestore/local/target.nanopb.c
  Firestore/Protos/nanopb/firestore/local/target.nanopb.h
  Firestore/Protos/nanopb/google/api/http.nanopb.c
  Firestore/Protos/nanopb/google/api/http.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/common.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/common.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/document.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/document.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/firestore.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/firestore.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/query.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/query.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/write.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/write.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.c
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.h
  Firestore/Protos/nanopb_cpp_generator.py
Labels: Firestore, cla: yes

#1790 Always use the bytes type in nanopb instead of string
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.c
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.h
  Firestore/Protos/nanopb/google/api/http.nanopb.c
  Firestore/Protos/nanopb/google/api/http.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/common.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/common.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/document.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/document.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/firestore.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/firestore.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/query.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/query.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1beta1/write.nanopb.c
  Firestore/Protos/nanopb/google/firestore/v1beta1/write.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/any.nanopb.c
  Firestore/Protos/nanopb/google/protobuf/any.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.c
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/wrappers.nanopb.c
  Firestore/Protos/nanopb/google/protobuf/wrappers.nanopb.h
  Firestore/Protos/nanopb/google/rpc/status.nanopb.c
  Firestore/Protos/nanopb/google/rpc/status.nanopb.h
  Firestore/Protos/nanopb_cpp_generator.py
Labels: Firestore, cla: yes

#1799 Fix a link in README
  README.md
Labels: cla: yes

#1786 gRPC C++: don't wait for initial server metadata during `GrpcStream::Start`
  Firestore/core/src/firebase/firestore/remote/grpc_stream.cc
  Firestore/core/test/firebase/firestore/remote/grpc_stream_test.cc
Labels: Firestore, cla: yes

#1765 C++ migration: make C++ Datastore create gRPC objects
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/firebase/firestore/remote/datastore.h
  Firestore/core/src/firebase/firestore/remote/datastore.mm
  Firestore/core/src/firebase/firestore/remote/grpc_connection.h
  Firestore/core/src/firebase/firestore/remote/grpc_connection.mm
  Firestore/core/test/firebase/firestore/remote/datastore_test.cc
  Firestore/core/test/firebase/firestore/remote/datastore_test.mm
Labels: Firestore, cla: yes

#1808 ifdef out flaky Database Integration Tests
  Example/Database/Tests/Integration/FData.m
  Example/Database/Tests/Integration/FIRDatabaseQueryTests.m
Labels: cla: yes

#1770 C++ migration: implement `WatchStream`
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/firebase/firestore/model/types.h
  Firestore/core/src/firebase/firestore/remote/stream.h
  Firestore/core/src/firebase/firestore/remote/stream.mm
  Firestore/core/src/firebase/firestore/remote/stream_objc_bridge.h
  Firestore/core/src/firebase/firestore/remote/stream_objc_bridge.mm
  Firestore/core/src/firebase/firestore/remote/watch_stream.h
  Firestore/core/src/firebase/firestore/remote/watch_stream.mm
  Firestore/core/src/firebase/firestore/util/executor.h
  Firestore/core/test/firebase/firestore/remote/grpc_stream_test.cc
  Firestore/core/test/firebase/firestore/remote/stream_test.mm
  Firestore/core/test/firebase/firestore/util/grpc_stream_tester.cc
  Firestore/core/test/firebase/firestore/util/grpc_stream_tester.h
Labels: Firestore, cla: yes

#1811 Log to console Data Collection flag value and source
  Firebase/Core/FIRApp.m
Labels: cla: yes

#1814 Release 5.8.0
  Example/Podfile
  Firebase/Core/FIROptions.m
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseDatabase.podspec
  FirebaseFirestore.podspec
  FirebaseFunctions.podspec
  FirebaseMessaging.podspec
  FirebaseStorage.podspec
  Firestore/Example/Podfile
  Releases/Manifests/5.8.0.json
  Releases/update-versions.py
Labels: cla: yes

#1819 Fix tvOS build with Xcode 10
  Example/Firebase.xcodeproj/project.pbxproj
Labels: cla: yes

#1810 Add supporting of custom fdl domain
  Example/Auth/Tests/FIRGetOOBConfirmationCodeRequestTests.m
  Firebase/Auth/Source/FIRAuthErrorUtils.h
  Firebase/Auth/Source/FIRAuthErrorUtils.m
  Firebase/Auth/Source/FIRAuthInternalErrors.h
  Firebase/Auth/Source/Public/FIRActionCodeSettings.h
  Firebase/Auth/Source/Public/FIRAuthErrors.h
  Firebase/Auth/Source/RPCs/FIRAuthBackend.m
  Firebase/Auth/Source/RPCs/FIRGetOOBConfirmationCodeRequest.h
  Firebase/Auth/Source/RPCs/FIRGetOOBConfirmationCodeRequest.m
Labels: Auth, cla: yes

#1812 Add GULUserDefaults to GoogleUtilities.
  GoogleUtilities.podspec
  GoogleUtilities/Example/GoogleUtilities.xcodeproj/project.pbxproj
  GoogleUtilities/Example/Tests/User Defaults/GULUserDefaultsTests.m
  GoogleUtilities/UserDefaults/GULUserDefaults.m
  GoogleUtilities/UserDefaults/Private/GULUserDefaults.h
Labels: GoogleUtilities, cla: yes

#1798 add firebase in-app messaging display pod
  Firebase/InAppMessagingDisplay/Banner/FIDBannerViewController.h
  Firebase/InAppMessagingDisplay/Banner/FIDBannerViewController.m
  Firebase/InAppMessagingDisplay/Banner/FIDBannerViewUIWindow.h
  Firebase/InAppMessagingDisplay/Banner/FIDBannerViewUIWindow.m
  Firebase/InAppMessagingDisplay/FIDBaseRenderingViewController.h
  Firebase/InAppMessagingDisplay/FIDBaseRenderingViewController.m
  Firebase/InAppMessagingDisplay/FIDRenderingWindowHelper.h
  Firebase/InAppMessagingDisplay/FIDRenderingWindowHelper.m
  Firebase/InAppMessagingDisplay/FIRCore+InAppMessagingDisplay.h
  Firebase/InAppMessagingDisplay/FIRCore+InAppMessagingDisplay.m
  Firebase/InAppMessagingDisplay/FIRIAMDefaultDisplayImpl.m
  Firebase/InAppMessagingDisplay/ImageOnly/FIDImageOnlyViewController.h
  Firebase/InAppMessagingDisplay/ImageOnly/FIDImageOnlyViewController.m
  Firebase/InAppMessagingDisplay/Modal/FIDModalViewController.h
  Firebase/InAppMessagingDisplay/Modal/FIDModalViewController.m
  Firebase/InAppMessagingDisplay/Public/FIRIAMDefaultDisplayImpl.h
  Firebase/InAppMessagingDisplay/README.md
  Firebase/InAppMessagingDisplay/Resources/FIRInAppMessageDisplayStoryboard.storyboard
  Firebase/InAppMessagingDisplay/Resources/close-with-transparency.png
  Firebase/InAppMessagingDisplay/Resources/close-with-transparency@2x.png
  Firebase/InAppMessagingDisplay/Util/FIDTimeFetcher.h
  Firebase/InAppMessagingDisplay/Util/FIDTimeFetcher.m
  FirebaseInAppMessagingDisplay.podspec
  InAppMessagingDisplay/Example/FiamDisplaySwiftExample/AppDelegate.swift
  InAppMessagingDisplay/Example/FiamDisplaySwiftExample/Assets.xcassets/AppIcon.appiconset/Contents.json
  InAppMessagingDisplay/Example/FiamDisplaySwiftExample/Assets.xcassets/Contents.json
  InAppMessagingDisplay/Example/FiamDisplaySwiftExample/BannerMessageViewController.swift
  InAppMessagingDisplay/Example/FiamDisplaySwiftExample/Base.lproj/LaunchScreen.storyboard
  InAppMessagingDisplay/Example/FiamDisplaySwiftExample/Base.lproj/Main.storyboard
  InAppMessagingDisplay/Example/FiamDisplaySwiftExample/CommonMessageTestVC.swift
  InAppMessagingDisplay/Example/FiamDisplaySwiftExample/ImageOnlyMessageViewController.swift
  InAppMessagingDisplay/Example/FiamDisplaySwiftExample/Info.plist
  InAppMessagingDisplay/Example/FiamDisplaySwiftExample/ModalMessageViewController.swift
  InAppMessagingDisplay/Example/InAppMessagingDisplay-Sample.xcodeproj/project.pbxproj
  InAppMessagingDisplay/Example/InAppMessagingDisplay-UITests/InAppMessagingDisplayBannerViewUITests.swift
  InAppMessagingDisplay/Example/InAppMessagingDisplay-UITests/InAppMessagingDisplayImageOnlyViewUITests.swift
  InAppMessagingDisplay/Example/InAppMessagingDisplay-UITests/InAppMessagingDisplayModalViewUITests.swift
  InAppMessagingDisplay/Example/InAppMessagingDisplay-UITests/InAppMessagingDisplayUITestsBase.swift
  InAppMessagingDisplay/Example/InAppMessagingDisplay-UITests/Info.plist
  InAppMessagingDisplay/Example/Podfile
  InAppMessagingDisplay/README.md
  README.md
Labels: cla: yes

#1822 Allow GoogleServices-Info.plist to configure Firestore integration tests
  Firestore/Example/App/GoogleService-Info.plist
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/README.md
Labels: Firestore, cla: yes

#1807 C++ migration: implement `WriteStream`
  Firestore/core/src/firebase/firestore/remote/stream_objc_bridge.h
  Firestore/core/src/firebase/firestore/remote/stream_objc_bridge.mm
  Firestore/core/src/firebase/firestore/remote/write_stream.h
  Firestore/core/src/firebase/firestore/remote/write_stream.mm
Labels: Firestore, cla: yes

#1828 Revert "Add supporting of custom fdl domain"
  Example/Auth/Tests/FIRGetOOBConfirmationCodeRequestTests.m
  Firebase/Auth/Source/FIRAuthErrorUtils.h
  Firebase/Auth/Source/FIRAuthErrorUtils.m
  Firebase/Auth/Source/FIRAuthInternalErrors.h
  Firebase/Auth/Source/Public/FIRActionCodeSettings.h
  Firebase/Auth/Source/Public/FIRAuthErrors.h
  Firebase/Auth/Source/RPCs/FIRAuthBackend.m
  Firebase/Auth/Source/RPCs/FIRGetOOBConfirmationCodeRequest.h
  Firebase/Auth/Source/RPCs/FIRGetOOBConfirmationCodeRequest.m
Labels: cla: yes

#1818 Drop acknowledged mutations in schema migration
  Firestore/Example/Tests/Local/FSTLevelDBMigrationsTests.mm
  Firestore/Source/Local/FSTLevelDBQueryCache.mm
  Firestore/core/src/firebase/firestore/local/leveldb_key.cc
  Firestore/core/src/firebase/firestore/local/leveldb_key.h
  Firestore/core/src/firebase/firestore/local/leveldb_migrations.cc
  Firestore/core/src/firebase/firestore/nanopb/reader.cc
  Firestore/core/src/firebase/firestore/nanopb/reader.h
Labels: cla: yes

#1833 fix common typo
  Firebase/Auth/Source/AuthProviders/Phone/FIRPhoneAuthProvider.m
  Firebase/Auth/Source/FIRAuthErrorUtils.m
  Firebase/Auth/Source/FIRAuthInternalErrors.h
  Firebase/Auth/Source/FIRAuthWebUtils.h
  Firebase/Auth/Source/Public/FIRPhoneAuthProvider.h
  Firebase/Messaging/FIRMessagingSecureSocket.m
  Firestore/Protos/build_protos.py
  Firestore/core/src/firebase/firestore/local/local_serializer.h
  Firestore/core/test/firebase/firestore/util/grpc_stream_tester.h
  scripts/cpplint.py
Labels: Firestore, cla: yes

#1830 Fix GoogleUtilities warnings in static library installs
  .travis.yml
  GoogleUtilities.podspec
  GoogleUtilities/AppDelegateSwizzler/GULAppDelegateSwizzler.m
  GoogleUtilities/Environment/third_party/GULAppEnvironmentUtil.m
  GoogleUtilities/Network/GULNetworkURLSession.m
Labels: GoogleUtilities, cla: yes

#1827 Make internal FieldValue construction match external
  Firestore/core/src/firebase/firestore/model/field_value.cc
  Firestore/core/src/firebase/firestore/model/field_value.h
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/test/firebase/firestore/core/query_test.cc
  Firestore/core/test/firebase/firestore/model/document_test.cc
  Firestore/core/test/firebase/firestore/model/field_value_test.cc
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: Firestore, cla: yes

#1835 Fix deadlock in `ExecutorLibdispatch` destructor
  Firestore/core/src/firebase/firestore/util/executor_libdispatch.mm
  Firestore/core/test/firebase/firestore/util/executor_libdispatch_test.mm
Labels: Firestore, cla: yes

#1837 Bump minor version for next GoogleUtilities release
  GoogleUtilities.podspec
Labels: GoogleUtilities, cla: yes

#1841 tune fiam display sdk version
  FirebaseInAppMessagingDisplay.podspec
Labels: cla: yes

#1840 Update CHANGELOG for Firestore v0.13.4
  Firestore/CHANGELOG.md
Labels: Firestore, cla: yes

#1851 Don't drop empty object during merge
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.h
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/Source/API/FSTUserDataConverter.mm
  Firestore/Source/Model/FSTMutation.mm
Labels: cla: yes

#1849 Run pod lib lint in CI for Dynamic Links
  .travis.yml
  FirebaseDynamicLinks.podspec
Labels: DynamicLinks, cla: yes

#1817 C++: slightly refactor Datastore and GrpcConnection
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/datastore.h
  Firestore/core/src/firebase/firestore/remote/datastore.mm
  Firestore/core/src/firebase/firestore/remote/grpc_connection.h
  Firestore/core/src/firebase/firestore/remote/grpc_connection.mm
  Firestore/core/src/firebase/firestore/remote/grpc_stream.cc
  Firestore/core/src/firebase/firestore/remote/grpc_util.cc
  Firestore/core/src/firebase/firestore/remote/grpc_util.h
  Firestore/core/src/firebase/firestore/remote/stream.h
  Firestore/core/src/firebase/firestore/remote/stream.mm
  Firestore/core/src/firebase/firestore/remote/watch_stream.h
  Firestore/core/src/firebase/firestore/remote/watch_stream.mm
  Firestore/core/src/firebase/firestore/remote/write_stream.h
  Firestore/core/src/firebase/firestore/remote/write_stream.mm
  Firestore/core/test/firebase/firestore/remote/datastore_test.mm
  Firestore/core/test/firebase/firestore/remote/stream_test.mm
  cmake/external/grpc.cmake
Labels: Firestore, cla: yes

#1852 b/80200799: Automatically log warnings for errors that likely represent developer mistakes / oversights
  Firestore/CHANGELOG.md
  Firestore/Source/Core/FSTSyncEngine.mm
Labels: Firestore, cla: yes

#1857 Create Umbrella Header for FIAMDisplay
  Firebase/InAppMessagingDisplay/Public/FirebaseInAppMessagingDisplay.h
Labels: InAppMessaging, cla: yes

#1860 Sample app update
  Example/Auth/README.md
  Example/Auth/Sample/ApplicationDelegate.m
  Example/Auth/Sample/MainViewController.m
  Example/Auth/Sample/MainViewController.xib
  Example/Auth/Sample/SettingsViewController.xib
  Example/Auth/Sample/UserInfoViewController.xib
Labels: cla: yes

#1859 Non-optional commit time
  Firestore/Example/Tests/Remote/FSTSerializerBetaTests.mm
  Firestore/Source/Model/FSTMutation.h
  Firestore/Source/Model/FSTMutation.mm
  Firestore/Source/Remote/FSTSerializerBeta.h
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/Source/Remote/FSTStream.mm
  Firestore/core/src/firebase/firestore/remote/stream_objc_bridge.mm
Labels: cla: yes

#1858 Fix building of objc protos
  Firestore/Protos/CMakeLists.txt
  Firestore/Protos/README.md
  Firestore/Protos/objc/google/firestore/v1beta1/Firestore.pbrpc.h
  Firestore/Protos/objc/google/firestore/v1beta1/Firestore.pbrpc.m
  scripts/build.sh
Labels: cla: yes

#1820 C++ migration: implement `Datastore::LookupDocuments`
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/firebase/firestore/remote/datastore.h
  Firestore/core/src/firebase/firestore/remote/datastore.mm
  Firestore/core/src/firebase/firestore/remote/grpc_connection.h
  Firestore/core/src/firebase/firestore/remote/grpc_connection.mm
  Firestore/core/src/firebase/firestore/remote/grpc_stream.cc
  Firestore/core/src/firebase/firestore/remote/grpc_stream.h
  Firestore/core/src/firebase/firestore/remote/grpc_stream_observer.h
  Firestore/core/src/firebase/firestore/remote/grpc_streaming_reader.cc
  Firestore/core/src/firebase/firestore/remote/grpc_streaming_reader.h
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.h
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.mm
  Firestore/core/src/firebase/firestore/remote/stream.h
  Firestore/core/src/firebase/firestore/remote/stream.mm
  Firestore/core/src/firebase/firestore/remote/watch_stream.h
  Firestore/core/src/firebase/firestore/remote/write_stream.h
  Firestore/core/test/firebase/firestore/remote/datastore_test.mm
  Firestore/core/test/firebase/firestore/remote/grpc_stream_test.cc
  Firestore/core/test/firebase/firestore/remote/grpc_streaming_reader_test.cc
  Firestore/core/test/firebase/firestore/remote/stream_test.mm
  Firestore/core/test/firebase/firestore/util/grpc_stream_tester.cc
  Firestore/core/test/firebase/firestore/util/grpc_stream_tester.h
Labels: Firestore, cla: yes

#1863 Remove a non-existent, unneeded file from xcode project
  Functions/Example/FirebaseFunctions.xcodeproj/project.pbxproj
Labels: Functions, cla: yes

#1861 add message ID to direct channel message
  Firebase/Messaging/FIRMessaging.m
  Firebase/Messaging/FIRMessagingReceiver.m
  Firebase/Messaging/FIRMessaging_Private.h
  Firebase/Messaging/Public/FIRMessaging.h
Labels: cla: yes

#1872 Implement a directory iterator
  Firestore/core/src/firebase/firestore/util/filesystem.h
  Firestore/core/src/firebase/firestore/util/filesystem_common.cc
  Firestore/core/src/firebase/firestore/util/filesystem_detail.h
  Firestore/core/src/firebase/firestore/util/filesystem_posix.cc
Labels: cla: yes

#1874 Port DirectoryIterator to Windows
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/firebase/firestore/util/filesystem.h
  Firestore/core/src/firebase/firestore/util/filesystem_common.cc
  Firestore/core/src/firebase/firestore/util/filesystem_detail.h
  Firestore/core/src/firebase/firestore/util/filesystem_posix.cc
  Firestore/core/src/firebase/firestore/util/filesystem_win.cc
Labels: Firestore, cla: yes

#1871 Fix Core version requirement.
  FirebaseAuth.podspec
  FirebaseFirestore.podspec
  FirebaseStorage.podspec
Labels: cla: yes

#1870 Firestore project: Import of API interfaces.
  Firestore/core/include/firebase/firestore/collection_reference.h
  Firestore/core/include/firebase/firestore/document_reference.h
  Firestore/core/include/firebase/firestore/document_snapshot.h
  Firestore/core/include/firebase/firestore/event_listener.h
  Firestore/core/include/firebase/firestore/field_value.h
  Firestore/core/include/firebase/firestore/firestore.h
  Firestore/core/include/firebase/firestore/listener_registration.h
  Firestore/core/include/firebase/firestore/map_field_value.h
  Firestore/core/include/firebase/firestore/query.h
  Firestore/core/include/firebase/firestore/query_snapshot.h
  Firestore/core/include/firebase/firestore/settings.h
Labels: Firestore, cla: yes

#1873 Enforce field initialization order
  FirebaseFirestore.podspec
  Firestore/Source/Local/FSTLRUGarbageCollector.mm
  Firestore/core/src/firebase/firestore/remote/datastore.mm
  Firestore/core/src/firebase/firestore/remote/grpc_stream.cc
  Firestore/core/src/firebase/firestore/remote/stream.mm
  cmake/compiler_setup.cmake
Labels: cla: yes

#1875 Add a boolean value on whether to use direct channel callback for all ios versions
  Example/Messaging/Tests/FIRMessagingReceiverTest.m
  Firebase/Messaging/FIRMessaging.m
  Firebase/Messaging/FIRMessagingReceiver.h
  Firebase/Messaging/FIRMessagingReceiver.m
  Firebase/Messaging/FIRMessaging_Private.h
  Firebase/Messaging/Public/FIRMessaging.h
  FirebaseMessaging.podspec
Labels: cla: yes

#1881 Move -Wreorder to cxxflag (instead of common, which impacts cflags)
  cmake/compiler_setup.cmake
Labels: cla: yes

#1883 UnlinkFromFacebook and UnlinkFromEmailPassword both accidentally unlink from Google
  Example/Auth/Sample/MainViewController.m
Labels: Auth, cla: yes

#1886 Fix DynamicLinks public header typo
  Firebase/DynamicLinks/Public/FDLURLComponents.h
Labels: DynamicLinks, cla: yes

#1887 turn on travis testing for in-app messaging display
  .travis.yml
  InAppMessagingDisplay/Example/FiamDisplaySwiftExample/BannerMessageViewController.swift
  InAppMessagingDisplay/Example/FiamDisplaySwiftExample/ImageOnlyMessageViewController.swift
  InAppMessagingDisplay/Example/FiamDisplaySwiftExample/ModalMessageViewController.swift
  InAppMessagingDisplay/Example/InAppMessagingDisplay-Sample.xcodeproj/project.pbxproj
  scripts/build.sh
  scripts/if_changed.sh
  scripts/install_prereqs.sh
Labels: cla: yes

#1880 Fix the issue that when topic is invalid, the callback was not triggered.
  Example/Messaging/Tests/FIRMessagingServiceTest.m
  Firebase/Messaging/FIRMessaging.m
  Firebase/Messaging/FIRMessagingPubSub.h
  Firebase/Messaging/Public/FIRMessaging.h
Labels: cla: yes
