Repository firebase/firebase-ios-sdk, pull requests merged in 2019-10, with the labels that each got.

#3956 Changelog and podspec for GoogleUtilities 6.3.1
  GoogleUtilities.podspec
  GoogleUtilities/CHANGELOG.md
Labels: cla: yes

#3957 Factor in space for top safe area insets into max height calculations
  Firebase/InAppMessagingDisplay/ImageOnly/FIDImageOnlyViewController.m
  Firebase/InAppMessagingDisplay/Modal/FIDModalViewController.m
Labels: cla: yes

#3917 Migrate tests written as C++ into the C++ tree
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/test/firebase/firestore/model/CMakeLists.txt
  Firestore/core/test/firebase/firestore/model/field_transform_test.cc
  Firestore/core/test/firebase/firestore/model/transform_operation_test.cc
Labels: api: firestore, cla: yes

#3919 Migrate FSTViewSnapshotTests to C++
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Core/FSTViewSnapshotTest.mm
  Firestore/core/test/firebase/firestore/core/CMakeLists.txt
  Firestore/core/test/firebase/firestore/core/view_snapshot_test.cc
Labels: api: firestore, cla: yes

#3964 cron test fix for Xcode 11
  CocoapodsIntegrationTest/scripts/build_with_environment.sh
Labels: cla: yes

#3953 Provide better error messages when encoding is not available
  Firestore/Swift/Source/Codable/CodableErrors.swift
  Firestore/Swift/Source/Codable/DocumentReference+Codable.swift
  Firestore/Swift/Source/Codable/FieldValue+Encodable.swift
  Firestore/Swift/Source/Codable/SelfDocumentId.swift
  Firestore/Swift/Tests/Codable/FirestoreEncoderTests.swift
  Firestore/third_party/FirestoreEncoder/FirestoreEncoder.swift
Labels: api: firestore, cla: yes

#3933 Fix unit testing crash with localization on
  GoogleUtilities/CHANGELOG.md
  GoogleUtilities/Logger/GULLogger.m
Labels: cla: yes

#3968 Move addSnapshotsInSyncListener to public
  Firestore/Source/API/FIRFirestore.mm
Labels: api: firestore, cla: yes

#3969 Remove RoundedCornersView since there's an issue with IBDesignables
  Firebase/InAppMessagingDisplay/Card/FIDCardViewController.m
  Firebase/InAppMessagingDisplay/Modal/FIDModalViewController.m
  Firebase/InAppMessagingDisplay/Resources/FIRInAppMessageDisplayStoryboard.storyboard
  Firebase/InAppMessagingDisplay/Util/RoundedCornersView.h
  Firebase/InAppMessagingDisplay/Util/RoundedCornersView.m
Labels: cla: yes

#3971 Add support of linkWithProvider and reauthenticateWithProvider
  Example/Auth/Sample/MainViewController+OAuth.m
  Firebase/Auth/Source/Public/FIRUser.h
  Firebase/Auth/Source/User/FIRUser.m
Labels: cla: yes

#3972 Fix CMake build with Clang 10
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
  cmake/external/boringssl.cmake
Labels: api: firestore, cla: yes

#3896 Refactor GDT Backgrounding
  GoogleDataTransport.podspec
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/GDTCORStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORTransformer.m
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORStorage_Private.h
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORTransformer_Private.h
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORUploadCoordinator.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORPlatform.h
  GoogleDataTransport/GDTCORTests/Lifecycle/GDTCORLifecycleTest.m
  GoogleDataTransportCCTSupport.podspec
  GoogleDataTransportCCTSupport/CHANGELOG.md
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTUploader.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTFLLUploader.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/Private/GDTCCTUploader.h
  GoogleDataTransportCCTSupport/GDTCCTLibrary/Private/GDTFLLUploader.h
  GoogleDataTransportCCTSupport/GDTCCTTests/Integration/GDTCCTIntegrationTest.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Integration/GDTFLLIntegrationTest.m
Labels: cla: yes

#3960 Make FIRDocumentChange a closed enum
  Firestore/Source/Public/FIRDocumentChange.h
Labels: api: firestore, cla: yes

#3927 Update FIAM for iOS 13 Scene lifecycle paradigm
  Firebase/InAppMessaging/Analytics/FIRIAMClearcutLogStorage.m
  Firebase/InAppMessaging/Analytics/FIRIAMClearcutUploader.m
  Firebase/InAppMessaging/Flows/FIRIAMActivityLogger.m
  Firebase/InAppMessaging/Flows/FIRIAMDisplayCheckOnAppForegroundFlow.m
  Firebase/InAppMessaging/Flows/FIRIAMFetchOnAppForegroundFlow.m
  Firebase/InAppMessagingDisplay/Banner/FIDBannerViewController.m
  Firebase/InAppMessagingDisplay/FIDBaseRenderingViewController.h
  Firebase/InAppMessagingDisplay/FIDBaseRenderingViewController.m
  Firebase/InAppMessagingDisplay/FIDRenderingWindowHelper.m
Labels: cla: yes

#3970 Block sign in with Apple in generic IDP flow
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthProvider.m
Labels: cla: yes

#3976 Update CHANGELOG for Firestore v1.6.0
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#3974 Fix main thread crashing issue, reenable tests.
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORPlatform.h
  GoogleDataTransport/GDTCORTests/Lifecycle/GDTCORLifecycleTest.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Integration/GDTCCTIntegrationTest.m
Labels: cla: yes

#3975 Address possibly nil country codes
  GoogleDataTransportCCTSupport/CHANGELOG.md
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTNanopbHelpers.m
Labels: cla: yes

#3979 In-app messaging M57 release notes
  Firebase/InAppMessaging/CHANGELOG.md
  Firebase/InAppMessagingDisplay/CHANGELOG.md
Labels: cla: yes

#3977 Update nanopb from 0.3.9.2 to 0.3.9.3
  Firebase/CoreDiagnostics/FIRCDLibrary/Protogen/nanopb/firebasecore.nanopb.c
  Firebase/CoreDiagnostics/FIRCDLibrary/Protogen/nanopb/firebasecore.nanopb.h
  Firebase/CoreDiagnostics/ProtoSupport/generate_nanopb_protos.sh
  Firebase/InAppMessaging/Analytics/Protogen/nanopb/fiam.nanopb.c
  Firebase/InAppMessaging/Analytics/Protogen/nanopb/fiam.nanopb.h
  Firebase/InAppMessaging/ProtoSupport/generate_nanopb_protos.sh
  GoogleDataTransportCCTSupport/GDTCCTLibrary/Protogen/nanopb/cct.nanopb.c
  GoogleDataTransportCCTSupport/GDTCCTLibrary/Protogen/nanopb/cct.nanopb.h
  GoogleDataTransportCCTSupport/ProtoSupport/generate_cct_protos.sh
Labels: cla: yes

#3978 FirebaseInstallations FID generation: don't cut UUID
  FirebaseInstallations/Source/Library/FIRInstallationsItem.m
Labels: cla: yes

#3982 Allow for multiple uploads during CCT Test.
  GoogleDataTransportCCTSupport/GDTCCTTests/Integration/GDTCCTIntegrationTest.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Integration/GDTFLLIntegrationTest.m
Labels: cla: yes

#3954 Rewrite ExplicitNull as a propertyWrapper
  Firestore/Swift/Source/Codable/ExplicitNull.swift
  Firestore/Swift/Tests/Codable/FirestoreEncoderTests.swift
  Firestore/Swift/Tests/Integration/CodableIntegrationTests.swift
Labels: api: firestore, cla: yes

#3983 Remove log argument that causes SocketRocket crash
  Firebase/Database/CHANGELOG.md
  Firebase/Database/third_party/SocketRocket/FSRWebSocket.m
Labels: cla: yes

#3986 Cherrypick #3983 and include Database in release.
  Firebase/Database/CHANGELOG.md
  Firebase/Database/third_party/SocketRocket/FSRWebSocket.m
  FirebaseDatabase.podspec
  Releases/Manifests/6.10.0.json
Labels: cla: yes

#3984 Fix race condition in FIRComponentContainer instance creation
  Firebase/Core/FIRComponentContainer.m
Labels: api: core, cla: yes

#3981 Delete unused commented asl tests
  Example/Core/Tests/FIRLoggerTest.m
  GoogleUtilities/Example/Tests/Logger/GULLoggerTest.m
Labels: GoogleUtilities, api: core, cla: yes

#3988 Cherrypick for #3984 along with CHANGELOG update.
  Firebase/Core/CHANGELOG.md
  Firebase/Core/FIRComponentContainer.m
Labels: cla: yes

#3989 Simplify update-versions script with --use-json
  Releases/update-versions.py
Labels: cla: yes

#3990 Add Query.MatchesAllDocuments()
  Firestore/core/src/firebase/firestore/core/query.cc
  Firestore/core/src/firebase/firestore/core/query.h
  Firestore/core/test/firebase/firestore/core/query_test.cc
Labels: api: firestore, cla: yes

#3991 Add QueryData.with() helpers
  Firestore/Example/Firestore.xcodeproj/xcshareddata/xcschemes/Firestore_Benchmarks_iOS.xcscheme
  Firestore/Example/Tests/Local/FSTLRUGarbageCollectorTests.mm
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.mm
  Firestore/core/src/firebase/firestore/local/leveldb_lru_reference_delegate.mm
  Firestore/core/src/firebase/firestore/local/local_store.mm
  Firestore/core/src/firebase/firestore/local/memory_lru_reference_delegate.cc
  Firestore/core/src/firebase/firestore/local/query_data.cc
  Firestore/core/src/firebase/firestore/local/query_data.h
  Firestore/core/src/firebase/firestore/remote/remote_store.mm
Labels: api: firestore, cla: yes

#3996 Add golang install to Readme
  CMAKE.md
Labels: api: firestore, cla: yes

#3994 Project updates for recently added/moved files
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
Labels: api: firestore, cla: yes

#3987 Remove --allow-warnings from tests
  .travis.yml
Labels: cla: yes

#3995 Implement test apps and monkey tests for CCT and FLL
  GoogleDataTransportCCTSupport.podspec
  GoogleDataTransportCCTSupport/GDTCCTTestApp/app.swift
  GoogleDataTransportCCTSupport/GDTCCTTestApp/gdthelpers.swift
  GoogleDataTransportCCTSupport/GDTCCTTestApp/globals.swift
  GoogleDataTransportCCTSupport/GDTCCTTestApp/ios/Main.storyboard
  GoogleDataTransportCCTSupport/GDTCCTTestApp/macos/Main.storyboard
  GoogleDataTransportCCTSupport/GDTCCTTestApp/proto/flltest.pb.swift
  GoogleDataTransportCCTSupport/GDTCCTTestApp/proto/flltest.proto
  GoogleDataTransportCCTSupport/GDTCCTTestApp/tvos/Main.storyboard
  GoogleDataTransportCCTSupport/GDTCCTTestApp/viewcontroller.swift
  GoogleDataTransportCCTSupport/GDTCCTTests/Monkey/GDTCCTMonkeyTest.swift
Labels: cla: yes

#3980 Fix GDT monkey test path
  GoogleDataTransport.podspec
  GoogleDataTransport/GDTCORTests/Monkey/GDTMonkeyTest.swift
  GoogleDataTransport/GDTTestApp/app.swift
Labels: cla: yes

#3965 Migrate FSTRemoteEventTests to C++
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Local/FSTLocalStoreTests.mm
  Firestore/Example/Tests/Remote/FSTRemoteEventTests.mm
  Firestore/Example/Tests/Util/FSTHelpers.h
  Firestore/Example/Tests/Util/FSTHelpers.mm
  Firestore/core/test/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/test/firebase/firestore/remote/fake_target_metadata_provider.cc
  Firestore/core/test/firebase/firestore/remote/fake_target_metadata_provider.h
  Firestore/core/test/firebase/firestore/remote/remote_event_test.cc
Labels: api: firestore, cla: yes

#4001 CocoaPods 1.8.3
  Gemfile
  Gemfile.lock
Labels: cla: yes

#3998 RemoteConfig: Add changelog for M57
  FirebaseRemoteConfig/CHANGELOG.md
Labels: cla: yes

#3997 Add RemoteDocumentReadTimeKey to LevelDb
  Firestore/core/src/firebase/firestore/local/leveldb_key.cc
  Firestore/core/src/firebase/firestore/local/leveldb_key.h
  Firestore/core/test/firebase/firestore/local/leveldb_key_test.cc
Labels: api: firestore, cla: yes

#4005 Build Firestore with Xcode 11
  .travis.yml
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Podfile
  scripts/build.sh
  scripts/sync_project.rb
Labels: api: firestore, cla: yes

#4002 Fix formatting that was somehow ignored
  Firestore/Swift/Source/Codable/ExplicitNull.swift
  Firestore/Swift/Tests/Codable/FirestoreEncoderTests.swift
  Firestore/Swift/Tests/Integration/CodableIntegrationTests.swift
  Firestore/third_party/FirestoreEncoder/FirestoreEncoder.swift
  scripts/style.sh
Labels: api: firestore, cla: yes

#4014 Small improvements to sample app
  Example/Auth/Sample/MainViewController+App.m
  Firebase/Auth/Source/Auth/FIRAuth.m
Labels: cla: yes

#4015 Update Auth changelog
  Firebase/Auth/CHANGELOG.md
Labels: api: auth, cla: yes

#4003 Rewrite ServerTimestamp as a property wrapper
  Firestore/Swift/Source/Codable/ExplicitNull.swift
  Firestore/Swift/Source/Codable/FieldValue+Encodable.swift
  Firestore/Swift/Source/Codable/ServerTimestamp.swift
  Firestore/Swift/Tests/Codable/FirestoreEncoderTests.swift
  Firestore/Swift/Tests/Integration/CodableIntegrationTests.swift
Labels: api: firestore, cla: yes

#4021 Add Firebase Pod to the repo
  .travis.yml
  Firebase.podspec
  Firebase/Firebase/CHANGELOG.md
  Firebase/Firebase/NOTICES
  Firebase/Firebase/README.md
  Firebase/Firebase/Sources/Firebase.h
  Firebase/Firebase/Sources/module.modulemap
  Firebase/Firebase/Tests/FirebasePodTest/FirebasePodTest.xcodeproj/project.pbxproj
  Firebase/Firebase/Tests/FirebasePodTest/FirebasePodTest/AppDelegate.swift
  Firebase/Firebase/Tests/FirebasePodTest/FirebasePodTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  Firebase/Firebase/Tests/FirebasePodTest/FirebasePodTest/Assets.xcassets/Contents.json
  Firebase/Firebase/Tests/FirebasePodTest/FirebasePodTest/Base.lproj/LaunchScreen.storyboard
  Firebase/Firebase/Tests/FirebasePodTest/FirebasePodTest/Base.lproj/Main.storyboard
  Firebase/Firebase/Tests/FirebasePodTest/FirebasePodTest/Info.plist
  Firebase/Firebase/Tests/FirebasePodTest/FirebasePodTest/SceneDelegate.swift
  Firebase/Firebase/Tests/FirebasePodTest/FirebasePodTest/ViewController.swift
  Firebase/Firebase/Tests/FirebasePodTest/Podfile
  scripts/build.sh
  scripts/check_whitespace.sh
  scripts/if_changed.sh
  scripts/install_prereqs.sh
  scripts/style.sh
Labels: cla: yes

#4029 Update NOTICES.
  Firebase/Firebase/NOTICES
  ZipBuilder/Template/NOTICES
Labels: cla: yes

#4022 Release 6.10.0
  Example/Podfile
  Firebase/Core/CHANGELOG.md
  Firebase/Database/CHANGELOG.md
  FirebaseABTesting.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseDatabase.podspec
  FirebaseFirestore.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingDisplay.podspec
  FirebaseMessaging.podspec
  FirebaseRemoteConfig.podspec
  Firestore/Example/Podfile
  Releases/Manifests/6.10.0.json
  SymbolCollisionTest/Podfile
Labels: cla: yes

#3992 Port remaining serializer methods
  Firestore/Protos/nanopb/google/firestore/v1/document.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/document.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.h
  Firestore/Protos/protos/google/firestore/v1/document.options
  Firestore/Protos/protos/google/firestore/v1/firestore.options
  Firestore/Protos/protos/google/firestore/v1/write.options
  Firestore/core/src/firebase/firestore/local/local_serializer.cc
  Firestore/core/src/firebase/firestore/model/mutation.cc
  Firestore/core/src/firebase/firestore/model/mutation.h
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/src/firebase/firestore/remote/serializer.h
  Firestore/core/src/firebase/firestore/remote/watch_change.h
  Firestore/core/src/firebase/firestore/remote/watch_change.mm
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
Labels: api: firestore, cla: yes

#3999 Add SimpleQueryEngine
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/query_engine.h
  Firestore/core/src/firebase/firestore/local/simple_query_engine.cc
  Firestore/core/src/firebase/firestore/local/simple_query_engine.h
Labels: api: firestore, cla: yes

#4023 Fix threading issue with ivar access in GDTCORUploadCoordinator
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
  GoogleDataTransportCCTSupport/GDTCCTTestApp/app.swift
Labels: cla: yes

#3993 The instanceID sync API is deprecated. Implement the async instanceID API
  FirebaseRemoteConfig/Sources/RCNFetch.m
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/ViewController.m
Labels: cla: yes

#4025 Always check if IID and token are consistent
  Example/InstanceID/Tests/FIRInstanceIDTest.m
  Example/InstanceID/Tests/FIRInstanceIDTokenManagerTest.m
  Firebase/InstanceID/FIRInstanceID.m
  Firebase/InstanceID/FIRInstanceIDTokenManager.h
  Firebase/InstanceID/FIRInstanceIDTokenManager.m
Labels: cla: yes

#4033 Remove migration logic from document folder to application folder
  Example/InstanceID/Tests/FIRInstanceIDBackupExcludedPlistTest.m
  Example/Messaging/Tests/FIRMessagingDataMessageManagerTest.m
  Example/Messaging/Tests/FIRMessagingRmqManagerTest.m
  Example/Messaging/Tests/FIRMessagingSyncMessageManagerTest.m
  Firebase/InstanceID/FIRIMessageCode.h
  Firebase/InstanceID/FIRInstanceIDBackupExcludedPlist.m
  Firebase/Messaging/FIRMMessageCode.h
  Firebase/Messaging/FIRMessagingRmq2PersistentStore.h
  Firebase/Messaging/FIRMessagingRmq2PersistentStore.m
  Firebase/Messaging/FIRMessagingRmqManager.h
  Firebase/Messaging/FIRMessagingRmqManager.m
Labels: cla: yes

#4041 Documentation to improve pod gen usability
  README.md
Labels: cla: yes

#4043 Fix sanitizer issues
  GoogleDataTransport/GDTCORLibrary/GDTCORStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTUploader.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTFLLUploader.m
Labels: cla: yes

#4045 Remove the class FIRMessagingRmq2PersistentStore
  Example/Messaging/Tests/FIRMessagingDataMessageManagerTest.m
  Example/Messaging/Tests/FIRMessagingRmqManagerTest.m
  Example/Messaging/Tests/FIRMessagingSyncMessageManagerTest.m
  Firebase/Messaging/FIRMMessageCode.h
  Firebase/Messaging/FIRMessagingConnection.m
  Firebase/Messaging/FIRMessagingRmq2PersistentStore.h
  Firebase/Messaging/FIRMessagingRmq2PersistentStore.m
  Firebase/Messaging/FIRMessagingRmqManager.h
  Firebase/Messaging/FIRMessagingRmqManager.m
Labels: cla: yes

#4012 Fix small issues in C++ serializer and port remaining tests
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.h
  Firestore/Protos/protos/google/firestore/v1/write.options
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/src/firebase/firestore/remote/serializer.h
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
Labels: api: firestore, cla: yes

#4052 FIRInstallationsAPIService: Retry API request on HTTP 500.
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsHTTPError.h
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsHTTPError.m
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIDControllerTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsTests.m
Labels: api: installations, cla: yes

#4030 Fix container instantiation timing, IID startup.
  Example/Core/Tests/FIRComponentContainerTest.m
  Example/Messaging/Tests/FIRInstanceIDWithFCMTest.m
  Example/Messaging/Tests/FIRMessagingTest.m
  Firebase/Core/FIRApp.m
  Firebase/Core/FIRComponentContainer.m
  Firebase/Core/Private/FIRComponentContainerInternal.h
  Firebase/InstanceID/FIRInstanceID.m
  Firebase/Messaging/FIRMessaging.m
Labels: cla: yes

#4051 Add OIDC nonce support
  Example/Auth/Sample/MainViewController+Apple.h
  Example/Auth/Sample/MainViewController+Apple.m
  Example/Auth/Sample/MainViewController.m
  Example/Firebase.xcodeproj/project.pbxproj
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential.m
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential_Internal.h
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthProvider.m
  Firebase/Auth/Source/Backend/FIRAuthBackend.m
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.h
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.m
  Firebase/Auth/Source/Public/FIRAuthErrors.h
  Firebase/Auth/Source/Public/FIROAuthProvider.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.m
  Firebase/Auth/Source/Utilities/FIRAuthInternalErrors.h
Labels: cla: yes

#4054 Firestore podspec: avoid adding Firestore headers to sources
  FirebaseFirestore.podspec
Labels: api: firestore, cla: yes

#4063 Cherry pick GDT and GDTCCT fixes into release-6.10.0
  .travis.yml
  GoogleDataTransport.podspec
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCORLibrary/GDTCORStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
  GoogleDataTransportCCTSupport.podspec
  GoogleDataTransportCCTSupport/CHANGELOG.md
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTUploader.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTFLLUploader.m
  GoogleDataTransportCCTSupport/GDTCCTTestApp/app.swift
Labels: cla: yes

#4065 Post GDT patch release merge
  GoogleDataTransport.podspec
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransportCCTSupport.podspec
  GoogleDataTransportCCTSupport/CHANGELOG.md
Labels: cla: yes

#4068 Revert "Add OIDC nonce support"
  Example/Auth/Sample/MainViewController+Apple.h
  Example/Auth/Sample/MainViewController+Apple.m
  Example/Auth/Sample/MainViewController.m
  Example/Firebase.xcodeproj/project.pbxproj
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential.m
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential_Internal.h
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthProvider.m
  Firebase/Auth/Source/Backend/FIRAuthBackend.m
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.h
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.m
  Firebase/Auth/Source/Public/FIRAuthErrors.h
  Firebase/Auth/Source/Public/FIROAuthProvider.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.m
  Firebase/Auth/Source/Utilities/FIRAuthInternalErrors.h
Labels: cla: yes

#4069 FirebaseCore M58 release notes
  Firebase/Core/CHANGELOG.md
Labels: api: core, cla: yes

#4071 Add OIDC nonce support
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential.m
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential_Internal.h
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthProvider.m
  Firebase/Auth/Source/Backend/FIRAuthBackend.m
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.h
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.m
  Firebase/Auth/Source/Public/FIRAuthErrors.h
  Firebase/Auth/Source/Public/FIROAuthProvider.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.m
  Firebase/Auth/Source/Utilities/FIRAuthInternalErrors.h
Labels: cla: yes

#4031 Rewrite SelfDocumentID as a property wrapper
  Firestore/Swift/Source/Codable/DocumentID.swift
  Firestore/Swift/Source/Codable/ExplicitNull.swift
  Firestore/Swift/Source/Codable/SelfDocumentId.swift
  Firestore/Swift/Source/Codable/ServerTimestamp.swift
  Firestore/Swift/Tests/Codable/FirestoreEncoderTests.swift
  Firestore/Swift/Tests/Integration/CodableIntegrationTests.swift
  Firestore/third_party/FirestoreEncoder/FirestoreDecoder.swift
  Firestore/third_party/FirestoreEncoder/FirestoreEncoder.swift
Labels: api: firestore, cla: yes

#4066 Use UIApplication.connectedScenes on iOS 13
  Firebase/Auth/Source/Utilities/FIRAuthDefaultUIDelegate.m
Labels: cla: yes

#4076 FirebaseInstallation: merge master into FIS integration branch
  Example/InstanceID/Tests/FIRInstanceIDTest.m
  Example/Messaging/Tests/FIRInstanceIDWithFCMTest.m
  Firebase/InstanceID/FIRInstanceID.m
Labels: cla: yes

#4079 FirebaseInstallations: re-generate Installation on HTTP 401 and 404
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsHTTPError.h
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsHTTPError.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIDControllerTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsTests.m
Labels: cla: yes

#4077 Update changelog for messaging and instanceID
  Firebase/InstanceID/CHANGELOG.md
  Firebase/Messaging/CHANGELOG.md
Labels: cla: yes

#4082 Revert "Add OIDC nonce support"
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential.m
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential_Internal.h
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthProvider.m
  Firebase/Auth/Source/Backend/FIRAuthBackend.m
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.h
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.m
  Firebase/Auth/Source/Public/FIRAuthErrors.h
  Firebase/Auth/Source/Public/FIROAuthProvider.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.m
  Firebase/Auth/Source/Utilities/FIRAuthInternalErrors.h
Labels: cla: yes

#4078 Update CHANGELOG for Firestore v1.6.1
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#4086 Disable Xcode 8.3 tests
  .travis.yml
Labels: cla: yes

#4088 Remote Config test app: use local IID version.
  FirebaseRemoteConfig/Tests/Sample/Podfile
Labels: cla: yes

#4089 Remote Config test app: use local IID and FIS.
  FirebaseRemoteConfig/Tests/Sample/Podfile
Labels: cla: yes

#4075 Implement SQLite helper functions for GDT refactor
  GoogleDataTransport.podspec
  GoogleDataTransport/GDTCORLibrary/GDTCORSqlite.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORConsoleLogger.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORSqlite.h
  GoogleDataTransport/GDTCORTests/Unit/GDTCORSqliteTest.m
  GoogleDataTransportCCTSupport.podspec
Labels: GoogleDataTransport, cla: yes

#4094 Add Xcode 10 testing back
  .travis.yml
Labels: cla: yes

#4095 Built for xcode 10
  Firebase/Auth/Source/Utilities/FIRAuthDefaultUIDelegate.m
Labels: cla: yes

#4091 Fix potential race during client initialization
  Firestore/CHANGELOG.md
  Firestore/core/src/firebase/firestore/core/firestore_client.h
  Firestore/core/src/firebase/firestore/core/firestore_client.mm
Labels: api: firestore, cla: yes

#4102 Fix potential race during client initialization (#4091)
  Firestore/CHANGELOG.md
  Firestore/core/src/firebase/firestore/core/firestore_client.h
  Firestore/core/src/firebase/firestore/core/firestore_client.mm
Labels: api: firestore, cla: yes

#4096 tokenWithAuthorizedEntity: method should also check if token is fresh
  Example/InstanceID/Tests/FIRInstanceIDTest.m
  Example/InstanceID/Tests/FIRInstanceIDTokenInfoTest.m
  Firebase/InstanceID/CHANGELOG.md
  Firebase/InstanceID/FIRInstanceID.m
  Firebase/InstanceID/FIRInstanceIDTokenInfo.h
  Firebase/InstanceID/FIRInstanceIDTokenInfo.m
  Firebase/InstanceID/FIRInstanceIDTokenManager.m
Labels: cla: yes

#4105 Remove !@available notation
  Firebase/Auth/Source/Utilities/FIRAuthDefaultUIDelegate.m
Labels: cla: yes

#4090 CocoaPods 1.8.4
  Gemfile
  Gemfile.lock
Labels: cla: yes

#4112 Restore Firebase pod to closed source location
  CoreOnly/CHANGELOG.md
  CoreOnly/NOTICES
  CoreOnly/README.md
  CoreOnly/Sources/Firebase.h
  CoreOnly/Sources/module.modulemap
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest.xcodeproj/project.pbxproj
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest/AppDelegate.swift
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest/Assets.xcassets/AppIcon.appiconset/Contents.json
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest/Assets.xcassets/Contents.json
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest/Base.lproj/LaunchScreen.storyboard
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest/Base.lproj/Main.storyboard
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest/Info.plist
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest/SceneDelegate.swift
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest/ViewController.swift
  CoreOnly/Tests/FirebasePodTest/Podfile
  Dangerfile
  Firebase.podspec
  Firebase/Firebase/Tests/FirebasePodTest/Podfile
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  scripts/build.sh
  scripts/check_whitespace.sh
  scripts/if_changed.sh
  scripts/install_prereqs.sh
  scripts/style.sh
Labels: cla: yes

#4073 Ensure that projectIDs are validated
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/core/test/firebase/firestore/testutil/app_testing.h
  Firestore/core/test/firebase/firestore/testutil/app_testing.mm
Labels: api: firestore, cla: yes

#4101 Move all ReferenceDelegate handling to .cc file
  Firestore/core/src/firebase/firestore/local/memory_persistence.cc
  Firestore/core/src/firebase/firestore/local/memory_persistence.h
Labels: api: firestore, cla: yes

#4099 Persist ReadTime in RemoteDocumentCache
  Firestore/Example/Tests/Local/FSTLRUGarbageCollectorTests.mm
  Firestore/Example/Tests/Local/FSTLocalStoreTests.mm
  Firestore/Example/Tests/Local/FSTRemoteDocumentCacheTests.mm
  Firestore/core/src/firebase/firestore/local/leveldb_remote_document_cache.h
  Firestore/core/src/firebase/firestore/local/leveldb_remote_document_cache.mm
  Firestore/core/src/firebase/firestore/local/local_store.mm
  Firestore/core/src/firebase/firestore/local/memory_remote_document_cache.h
  Firestore/core/src/firebase/firestore/local/memory_remote_document_cache.mm
  Firestore/core/src/firebase/firestore/local/remote_document_cache.h
Labels: api: firestore, cla: yes

#4104 token request should pass through if token is not fresh
  Example/InstanceID/Tests/FIRInstanceIDTest.m
  Example/InstanceID/Tests/FIRInstanceIDTokenInfoTest.m
  Firebase/InstanceID/FIRInstanceID.m
  Firebase/InstanceID/FIRInstanceIDTokenInfo.h
  Firebase/InstanceID/FIRInstanceIDTokenInfo.m
  Firebase/InstanceID/FIRInstanceIDTokenManager.m
Labels: api: instanceid, cla: yes

#4103 Fix issue where danger filepath match wasn't matching anything
  .travis.yml
  Dangerfile
Labels: cla: yes

#4083 Add IndexFreeQueryEngine
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/index_free_query_engine.cc
  Firestore/core/src/firebase/firestore/local/index_free_query_engine.h
  Firestore/core/src/firebase/firestore/local/local_documents_view.h
  Firestore/core/src/firebase/firestore/local/local_documents_view.mm
  Firestore/core/src/firebase/firestore/local/query_engine.h
  Firestore/core/src/firebase/firestore/local/simple_query_engine.cc
  Firestore/core/src/firebase/firestore/local/simple_query_engine.h
Labels: api: firestore, cla: yes

#4109 Workaround for NSDecimalNumber longLongValue issue.
  Example/Database/Tests/Unit/FLevelDBStorageEngineTests.m
  Firebase/Database/Persistence/FLevelDBStorageEngine.m
Labels: api: database, cla: yes

#4067 Update README.md for Firebase pod updater
  ZipBuilder/README.md
Labels: cla: yes, zip-builder

#4115 [danger] Don't check changelogs on non-source changes
  Dangerfile
Labels: Infrastructure, cla: yes

#4118 Make sync_project work after pod deintegrate
  scripts/sync_project.rb
Labels: api: firestore, cla: yes

#4107 Rationalize input validation exceptions and assertion failures
  Firestore/Source/API/FIRCollectionReference.mm
  Firestore/Source/API/FIRDocumentReference.mm
  Firestore/Source/API/FIRDocumentSnapshot.mm
  Firestore/Source/API/FIRFieldPath.mm
  Firestore/Source/API/FIRFirestore.mm
  Firestore/Source/API/FIRFirestoreSettings.mm
  Firestore/Source/API/FIRGeoPoint.mm
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/API/FIRQuerySnapshot.mm
  Firestore/Source/API/FIRTransaction.mm
  Firestore/Source/API/FSTFirestoreComponent.mm
  Firestore/Source/API/FSTUserDataConverter.mm
  Firestore/core/src/firebase/firestore/api/CMakeLists.txt
  Firestore/core/src/firebase/firestore/api/collection_reference.cc
  Firestore/core/src/firebase/firestore/api/input_validation.h
  Firestore/core/src/firebase/firestore/api/input_validation_apple.mm
  Firestore/core/src/firebase/firestore/api/input_validation_std.cc
  Firestore/core/src/firebase/firestore/api/query_core.mm
  Firestore/core/src/firebase/firestore/api/query_snapshot.cc
  Firestore/core/src/firebase/firestore/api/write_batch.mm
  Firestore/core/src/firebase/firestore/core/field_filter.cc
  Firestore/core/src/firebase/firestore/core/firestore_client.mm
  Firestore/core/src/firebase/firestore/core/user_data.cc
  Firestore/core/src/firebase/firestore/model/CMakeLists.txt
  Firestore/core/src/firebase/firestore/model/field_path.cc
  Firestore/core/src/firebase/firestore/model/field_path.h
  Firestore/core/src/firebase/firestore/util/CMakeLists.txt
  Firestore/core/src/firebase/firestore/util/exception.cc
  Firestore/core/src/firebase/firestore/util/exception.h
  Firestore/core/src/firebase/firestore/util/exception_apple.h
  Firestore/core/src/firebase/firestore/util/exception_apple.mm
  Firestore/core/src/firebase/firestore/util/hard_assert.cc
  Firestore/core/src/firebase/firestore/util/hard_assert.h
  Firestore/core/src/firebase/firestore/util/hard_assert_apple.mm
  Firestore/core/test/firebase/firestore/util/hard_assert_test.cc
Labels: api: firestore, cla: yes

#4114 FirebaseInstallation: send IID checkin data on IID migration.
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsErrorUtil.h
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsErrorUtil.m
  FirebaseInstallations/Source/Library/FIRInstallationsItem.h
  FirebaseInstallations/Source/Library/FIRInstallationsItem.m
  FirebaseInstallations/Source/Library/FIRInstallationsLogger.h
  FirebaseInstallations/Source/Library/FIRInstallationsLogger.m
  FirebaseInstallations/Source/Library/IIDMigration/FIRInstallationsIIDCheckinStore.h
  FirebaseInstallations/Source/Library/IIDMigration/FIRInstallationsIIDCheckinStore.m
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredIIDCheckin.h
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredIIDCheckin.m
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredItem.h
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredItem.m
  FirebaseInstallations/Source/Library/SecureStorage/FIRInstallationsKeychainUtils.h
  FirebaseInstallations/Source/Library/SecureStorage/FIRInstallationsKeychainUtils.m
  FirebaseInstallations/Source/Library/SecureStorage/FIRSecureStorage.h
  FirebaseInstallations/Source/Library/SecureStorage/FIRSecureStorage.m
  FirebaseInstallations/Source/Tests/Integration/FIRInstallationsIntegrationTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIDControllerTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIIDCheckinStoreTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsStoredItemTests.m
Labels: api: installations, cla: yes

#4119 Add travis_retry to mitigate impact of GDTCCT flakes
  .travis.yml
Labels: cla: yes

#4013 Use C++ serializer for communicating with the backend
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.mm
  Firestore/Source/API/FIRTransaction.mm
  Firestore/core/src/firebase/firestore/core/transaction.h
  Firestore/core/src/firebase/firestore/core/transaction.mm
  Firestore/core/src/firebase/firestore/local/local_serializer.h
  Firestore/core/src/firebase/firestore/nanopb/CMakeLists.txt
  Firestore/core/src/firebase/firestore/nanopb/message.cc
  Firestore/core/src/firebase/firestore/nanopb/message.h
  Firestore/core/src/firebase/firestore/nanopb/reader.cc
  Firestore/core/src/firebase/firestore/nanopb/reader.h
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/datastore.cc
  Firestore/core/src/firebase/firestore/remote/datastore.h
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.h
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.mm
  Firestore/core/src/firebase/firestore/remote/remote_store.cc
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/src/firebase/firestore/remote/serializer.h
  Firestore/core/src/firebase/firestore/remote/stream.cc
  Firestore/core/src/firebase/firestore/remote/watch_change.cc
  Firestore/core/src/firebase/firestore/remote/watch_stream.cc
  Firestore/core/src/firebase/firestore/remote/watch_stream.h
  Firestore/core/src/firebase/firestore/remote/write_stream.cc
  Firestore/core/src/firebase/firestore/remote/write_stream.h
  Firestore/core/test/firebase/firestore/local/local_serializer_test.cc
  Firestore/core/test/firebase/firestore/nanopb/CMakeLists.txt
  Firestore/core/test/firebase/firestore/nanopb/message_test.cc
  Firestore/core/test/firebase/firestore/remote/datastore_test.mm
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
Labels: api: firestore, cla: yes

#4106 Add IndexFreeQueryEngineTests
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/firebase/firestore/local/local_documents_view.h
  Firestore/core/test/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/index_free_query_engine_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#4120 FIS: Complex unrecoverable error handling reverted and replaced by a simple log message.
  FirebaseInstallations/Source/Library/FIRInstallationsItem.h
  FirebaseInstallations/Source/Library/FIRInstallationsItem.m
  FirebaseInstallations/Source/Library/FIRInstallationsLogger.h
  FirebaseInstallations/Source/Library/FIRInstallationsLogger.m
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.h
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsStatus.h
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredItem.h
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredItem.m
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredRegistrationError.h
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredRegistrationError.m
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredRegistrationParameters.h
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredRegistrationParameters.m
  FirebaseInstallations/Source/Tests/Integration/FIRInstallationsIntegrationTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIDControllerTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsStoredItemTests.m
  FirebaseInstallations/Source/Tests/Utils/FIRInstallationsItem+Tests.h
  FirebaseInstallations/Source/Tests/Utils/FIRInstallationsItem+Tests.m
  FirebaseInstallations/Source/Tests/Utils/FIRTestKeychain.h
  FirebaseInstallations/Source/Tests/Utils/XCTestCase+DateAsserts.h
  FirebaseInstallations/Source/Tests/Utils/XCTestCase+DateAsserts.m
Labels: api: installations, cla: yes

#4127 Travis: install particular version of clang-format and swiftformat.
  .travis.yml
Labels: cla: yes

#4128 Switch to Xcode 10.2 since travis 10.1 config is broken
  .travis.yml
Labels: cla: yes

#4123 Optimize `DocumentKey` comparisons
  Firestore/core/src/firebase/firestore/model/base_path.h
  Firestore/core/src/firebase/firestore/model/document_key.h
  Firestore/core/src/firebase/firestore/model/resource_path.h
  Firestore/core/src/firebase/firestore/util/comparison.h
Labels: api: firestore, cla: yes

#4131 remove NSException from firestore client
  Firestore/core/src/firebase/firestore/core/firestore_client.mm
Labels: api: firestore, cla: yes

#4122 Migrate FSTPersistenceTestHelpers to C++
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Local/FSTLevelDBLRUGarbageCollectorTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBLocalStoreTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBMigrationsTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBMutationQueueTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBQueryCacheTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBRemoteDocumentCacheTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBTransactionTests.mm
  Firestore/Example/Tests/Local/FSTMemoryLRUGarbageCollectorTests.mm
  Firestore/Example/Tests/Local/FSTMemoryLocalStoreTests.mm
  Firestore/Example/Tests/Local/FSTMemoryMutationQueueTests.mm
  Firestore/Example/Tests/Local/FSTMemoryQueryCacheTests.mm
  Firestore/Example/Tests/Local/FSTMemoryRemoteDocumentCacheTests.mm
  Firestore/Example/Tests/Local/FSTPersistenceTestHelpers.h
  Firestore/Example/Tests/Local/FSTPersistenceTestHelpers.mm
  Firestore/Example/Tests/SpecTests/FSTLevelDBSpecTests.mm
  Firestore/Example/Tests/SpecTests/FSTMemorySpecTests.mm
  Firestore/core/test/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/index_manager_test.cc
  Firestore/core/test/firebase/firestore/local/index_manager_test.h
  Firestore/core/test/firebase/firestore/local/leveldb_index_manager_test.mm
  Firestore/core/test/firebase/firestore/local/memory_index_manager_test.cc
  Firestore/core/test/firebase/firestore/local/persistence_testing.h
  Firestore/core/test/firebase/firestore/local/persistence_testing.mm
Labels: api: firestore, cla: yes

#4130 Prepare FirebaseFirestoreSwift for initial release
  FirebaseFirestoreSwift.podspec
  Firestore/Swift/CHANGELOG.md
Labels: api: firestore, cla: yes

#4134 Merge 6.11.0
  Example/Podfile
  Firebase.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
  FirebaseRemoteConfig.podspec
  Firestore/Example/Podfile
  Firestore/Swift/CHANGELOG.md
  Releases/Manifests/6.11.0.json
  Releases/update-versions.py
  SymbolCollisionTest/Podfile
Labels: cla: yes

#4139 Update README for Firebase pod for mac/tv
  README.md
Labels: Docs, cla: yes

#4116 C++ migration: use C++ serializer for communicating with the local store
  Firestore/Example/Benchmarks/FSTLevelDBBenchmarkTests.mm
  Firestore/Example/FuzzTests/FuzzingTargets/FSTFuzzTestSerializer.mm
  Firestore/Example/Tests/Local/FSTLevelDBMigrationsTests.mm
  Firestore/core/src/firebase/firestore/core/firestore_client.mm
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/leveldb_migrations.cc
  Firestore/core/src/firebase/firestore/local/leveldb_mutation_queue.h
  Firestore/core/src/firebase/firestore/local/leveldb_mutation_queue.mm
  Firestore/core/src/firebase/firestore/local/leveldb_persistence.h
  Firestore/core/src/firebase/firestore/local/leveldb_persistence.mm
  Firestore/core/src/firebase/firestore/local/leveldb_query_cache.h
  Firestore/core/src/firebase/firestore/local/leveldb_query_cache.mm
  Firestore/core/src/firebase/firestore/local/leveldb_remote_document_cache.h
  Firestore/core/src/firebase/firestore/local/leveldb_remote_document_cache.mm
  Firestore/core/src/firebase/firestore/local/leveldb_transaction.cc
  Firestore/core/src/firebase/firestore/local/leveldb_transaction.h
  Firestore/core/src/firebase/firestore/local/local_serializer.cc
  Firestore/core/src/firebase/firestore/local/local_serializer.h
  Firestore/core/src/firebase/firestore/local/memory_mutation_queue.h
  Firestore/core/src/firebase/firestore/local/memory_mutation_queue.mm
  Firestore/core/src/firebase/firestore/local/mutation_queue.h
  Firestore/core/src/firebase/firestore/local/proto_sizer.cc
  Firestore/core/src/firebase/firestore/local/proto_sizer.h
  Firestore/core/src/firebase/firestore/nanopb/fields_array.h
  Firestore/core/src/firebase/firestore/nanopb/message.cc
  Firestore/core/src/firebase/firestore/nanopb/message.h
  Firestore/core/src/firebase/firestore/nanopb/reader.cc
  Firestore/core/src/firebase/firestore/nanopb/reader.h
  Firestore/core/src/firebase/firestore/nanopb/writer.cc
  Firestore/core/src/firebase/firestore/nanopb/writer.h
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/datastore.cc
  Firestore/core/src/firebase/firestore/remote/grpc_nanopb.cc
  Firestore/core/src/firebase/firestore/remote/grpc_nanopb.h
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.h
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.mm
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/src/firebase/firestore/remote/watch_stream.cc
  Firestore/core/src/firebase/firestore/remote/write_stream.cc
  Firestore/core/test/firebase/firestore/local/local_serializer_test.cc
  Firestore/core/test/firebase/firestore/local/persistence_testing.mm
  Firestore/core/test/firebase/firestore/nanopb/message_test.cc
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
  Firestore/fuzzing/serializer_fuzzer.cc
Labels: api: firestore, cla: yes

#4135 Update changelogs for M58
  Firebase/Auth/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
  scripts/make_release_notes.py
Labels: api: auth, api: firestore, api: remoteconfig, cla: yes

#4140 style.sh generated changes
  ZipBuilder/Sources/UpdateFirebasePod/FirebasePod.swift
  ZipBuilder/Sources/UpdateFirebasePod/LaunchArgs.swift
  ZipBuilder/Sources/UpdateFirebasePod/main.swift
  scripts/style.sh
Labels: cla: yes, zip-builder

#4146 FIS: Make sure refreshed auth token is stored to the storage.
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIDControllerTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIIDStoreTests.m
Labels: api: installations, cla: yes

#4148 FIS: race condition
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsSingleOperationPromiseCache.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsSingleOperationPromiseCacheTests.m
Labels: api: installations, cla: yes

#4142 Unit test fixes
  Firestore/core/src/firebase/firestore/local/local_store.mm
  Firestore/core/test/firebase/firestore/local/remote_document_cache_test.mm
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#4151 Remove Objective-C serializers and make local/ and remote/ (almost) fully C++
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Local/FSTLocalSerializerTests.mm
  Firestore/Example/Tests/Remote/FSTSerializerBetaTests.mm
  Firestore/Source/CMakeLists.txt
  Firestore/Source/Local/FSTLocalSerializer.h
  Firestore/Source/Local/FSTLocalSerializer.mm
  Firestore/Source/Remote/CMakeLists.txt
  Firestore/Source/Remote/FSTSerializerBeta.h
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/leveldb_index_manager.cc
  Firestore/core/src/firebase/firestore/local/leveldb_lru_reference_delegate.cc
  Firestore/core/src/firebase/firestore/local/leveldb_mutation_queue.cc
  Firestore/core/src/firebase/firestore/local/leveldb_persistence.cc
  Firestore/core/src/firebase/firestore/local/leveldb_query_cache.cc
  Firestore/core/src/firebase/firestore/local/leveldb_remote_document_cache.cc
  Firestore/core/src/firebase/firestore/local/local_documents_view.cc
  Firestore/core/src/firebase/firestore/local/local_store.cc
  Firestore/core/src/firebase/firestore/local/memory_mutation_queue.cc
  Firestore/core/src/firebase/firestore/local/memory_query_cache.cc
  Firestore/core/src/firebase/firestore/local/memory_remote_document_cache.cc
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.mm
  Firestore/core/test/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/leveldb_index_manager_test.cc
  Firestore/core/test/firebase/firestore/local/leveldb_remote_document_cache_test.cc
  Firestore/core/test/firebase/firestore/local/memory_remote_document_cache_test.cc
  Firestore/core/test/firebase/firestore/local/persistence_testing.cc
  Firestore/core/test/firebase/firestore/local/remote_document_cache_test.cc
  Firestore/core/test/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/test/firebase/firestore/remote/datastore_test.cc
  Firestore/core/test/firebase/firestore/remote/stream_test.cc
  Firestore/core/test/firebase/firestore/remote/watch_change_test.cc
  Firestore/core/test/firebase/firestore/testutil/xcgmock.h
Labels: api: firestore, cla: yes

#4149 Stop using statics in header
  FirebaseCoreDiagnosticsInterop.podspec
  Interop/CoreDiagnostics/Public/FIRCoreDiagnosticsData.h
  scripts/if_changed.sh
Labels: cla: yes

#4152 IID with FIS: send FIS auth token with IID token request
  Example/InstanceID/Tests/FIRInstanceIDTokenManagerTest.m
  Firebase/InstanceID/FIRInstanceIDTokenDeleteOperation.m
  Firebase/InstanceID/FIRInstanceIDTokenFetchOperation.m
  Firebase/InstanceID/FIRInstanceIDTokenOperation+Private.h
  Firebase/InstanceID/FIRInstanceIDTokenOperation.m
Labels: api: installations, api: instanceid, cla: yes

#4141 Filter documents by read time
  Firestore/core/src/firebase/firestore/local/leveldb_remote_document_cache.cc
  Firestore/core/src/firebase/firestore/local/leveldb_remote_document_cache.h
  Firestore/core/src/firebase/firestore/local/local_documents_view.cc
  Firestore/core/src/firebase/firestore/local/local_documents_view.h
  Firestore/core/src/firebase/firestore/local/memory_remote_document_cache.cc
  Firestore/core/src/firebase/firestore/local/memory_remote_document_cache.h
  Firestore/core/src/firebase/firestore/local/remote_document_cache.h
  Firestore/core/test/firebase/firestore/local/remote_document_cache_test.h
  Firestore/core/test/firebase/firestore/local/remote_document_cache_test.mm
Labels: api: firestore, cla: yes

#4113 Copy component container to GoogleUtilitiesComponents
  .travis.yml
  GoogleUtilities/Logger/GULLogger.m
  GoogleUtilitiesComponents.podspec
  GoogleUtilitiesComponents/Sources/GULCCComponent.m
  GoogleUtilitiesComponents/Sources/GULCCComponentContainer.m
  GoogleUtilitiesComponents/Sources/GULCCComponentType.m
  GoogleUtilitiesComponents/Sources/GULCCDependency.m
  GoogleUtilitiesComponents/Sources/Private/GULCCComponentContainerInternal.h
  GoogleUtilitiesComponents/Sources/Public/GULCCComponent.h
  GoogleUtilitiesComponents/Sources/Public/GULCCComponentContainer.h
  GoogleUtilitiesComponents/Sources/Public/GULCCComponentType.h
  GoogleUtilitiesComponents/Sources/Public/GULCCDependency.h
  GoogleUtilitiesComponents/Sources/Public/GULCCLibrary.h
  GoogleUtilitiesComponents/Tests/GULCCComponentContainerTest.m
  GoogleUtilitiesComponents/Tests/GULCCComponentTypeTest.m
  GoogleUtilitiesComponents/Tests/GULCCTestComponents.h
  GoogleUtilitiesComponents/Tests/GULCCTestComponents.m
  scripts/if_changed.sh
Labels: GoogleUtilities, cla: yes

#4169 FIS Keychain: Replace deprecated `kSecAttrAccessibleAlwaysThisDeviceOnly`
  FirebaseInstallations/Source/Library/SecureStorage/FIRInstallationsKeychainUtils.m
Labels: api: installations, cla: yes

#4172 update keychain access level
  Example/InstanceID/Tests/FIRInstanceIDAuthKeyChainTest.m
  Example/InstanceID/Tests/FIRInstanceIDCheckinStoreTest.m
  Example/InstanceID/Tests/FIRInstanceIDFakeKeychain.m
  Firebase/InstanceID/FIRInstanceIDAuthKeyChain.h
  Firebase/InstanceID/FIRInstanceIDAuthKeyChain.m
  Firebase/InstanceID/FIRInstanceIDCheckinStore.m
  Firebase/InstanceID/FIRInstanceIDKeyPairStore.m
  Firebase/InstanceID/FIRInstanceIDKeychain.m
  Firebase/InstanceID/FIRInstanceIDTokenStore.m
Labels: api: instanceid, cla: yes

#4178 Fix documentation comments for the Container.
  Firebase/Core/FIRComponentContainer.m
  Firebase/Core/Private/FIRComponentContainerInternal.h
  GoogleUtilitiesComponents/Sources/GULCCComponentContainer.m
  GoogleUtilitiesComponents/Sources/Private/GULCCComponentContainerInternal.h
Labels: api: core, cla: yes

#4171 Change import of XCTestCase to XCTest
  GoogleUtilitiesComponents/Tests/GULCCComponentContainerTest.m
Labels: GoogleUtilities, cla: yes

#4158 Add support for in-memory and other types of stores
  GoogleDataTransport/GDTCORLibrary/GDTCORSqlite.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORSqlite.h
  GoogleDataTransport/GDTCORTests/Unit/GDTCORSqliteTest.m
  scripts/check.sh
Labels: GoogleDataTransport, cla: yes

#4053 move database operation off main thread
  Example/Messaging/Tests/FIRMessagingDataMessageManagerTest.m
  Example/Messaging/Tests/FIRMessagingRmqManagerTest.m
  Example/Messaging/Tests/FIRMessagingSyncMessageManagerTest.m
  Firebase/Messaging/FIRMMessageCode.h
  Firebase/Messaging/FIRMessaging.m
  Firebase/Messaging/FIRMessagingClient.m
  Firebase/Messaging/FIRMessagingConnection.h
  Firebase/Messaging/FIRMessagingConnection.m
  Firebase/Messaging/FIRMessagingDataMessageManager.m
  Firebase/Messaging/FIRMessagingDelayedMessageQueue.m
  Firebase/Messaging/FIRMessagingRmqManager.h
  Firebase/Messaging/FIRMessagingRmqManager.m
  Firebase/Messaging/FIRMessagingSyncMessageManager.m
Labels: cla: yes

#4159 Build all sources with CMake
  CMakeLists.txt
  Firestore/Source/CMakeLists.txt
  Firestore/core/CMakeLists.txt
  Firestore/core/include/firebase/firestore/CMakeLists.txt
  Firestore/core/src/firebase/firestore/api/CMakeLists.txt
  Firestore/core/src/firebase/firestore/core/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/memory_eager_reference_delegate.h
  Firestore/core/src/firebase/firestore/nanopb/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.mm
  Firestore/core/src/firebase/firestore/util/CMakeLists.txt
  Firestore/core/test/firebase/firestore/CMakeLists.txt
  Firestore/core/test/firebase/firestore/api/CMakeLists.txt
  Firestore/core/test/firebase/firestore/core/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/model/CMakeLists.txt
  Firestore/core/test/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/test/firebase/firestore/remote/datastore_test.cc
  Firestore/core/test/firebase/firestore/testutil/CMakeLists.txt
  Firestore/core/test/firebase/firestore/util/CMakeLists.txt
  Firestore/core/test/firebase/firestore/util/objc_compatibility_apple_test.mm
  scripts/check.sh
  scripts/check_cmake_files.py
Labels: api: firestore, cla: yes

#4182 Change id to NSArray<id> for IN queries
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/Source/API/FIRQuery+Internal.h
  Firestore/Source/API/FIRQuery.mm
  Firestore/core/src/firebase/firestore/api/query_core.mm
Labels: api: firestore, cla: yes

#4168 Only assign errors if parameter is non-NULL.
  Functions/CHANGELOG.md
  Functions/FirebaseFunctions/FUNSerializer.m
Labels: api: functions, cla: yes

#4183 Add OIDC nonce support
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential.m
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential_Internal.h
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthProvider.m
  Firebase/Auth/Source/Backend/FIRAuthBackend.m
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.h
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.m
  Firebase/Auth/Source/Public/FIRAuthErrors.h
  Firebase/Auth/Source/Public/FIROAuthProvider.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.m
  Firebase/Auth/Source/Utilities/FIRAuthInternalErrors.h
Labels: api: auth, cla: yes

#4174 Make IN queries publicly available
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Source/API/FIRQuery+Internal.h
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/Public/FIRQuery.h
  Firestore/Swift/Tests/API/BasicCompileTests.swift
Labels: api: firestore, cla: yes

#4188 Add a changelog entry on the C++ serializer migration
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#4186 explicitly mention 'self' to indicate this is intended behavior
  Firebase/Messaging/FIRMessagingRmqManager.m
Labels: api: messaging, cla: yes

#4181 update changelog for messaging and instanceID in M59
  Firebase/InstanceID/CHANGELOG.md
  Firebase/Messaging/CHANGELOG.md
Labels: api: instanceid, api: messaging, cla: yes

#4195 Update CHANGELOG for Firestore v1.7.0
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#4192 Fix fuzz build
  Firestore/Example/FuzzTests/FuzzingTargets/FSTFuzzTestSerializer.mm
  Firestore/fuzzing/serializer_fuzzer.cc
Labels: api: firestore, cla: yes

#4197 Update Database CHANGELOG.md
  Firebase/Database/CHANGELOG.md
Labels: api: database, cla: yes

#4180 Initial implementation of GDTCORDatabase
  GoogleDataTransport/GDTCORLibrary/GDTCORDatabase.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORDatabase_Private.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORConsoleLogger.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORDatabase.h
  GoogleDataTransport/GDTCORTests/Unit/GDTCORDatabaseTest.m
Labels: cla: yes

#4194 Add bundle id http header to FIS requests
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
Labels: api: installations, cla: yes

#4202 Address issues found by repeated tsan runs
  GoogleDataTransport/GDTCORLibrary/GDTCORRegistrar.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCOREventTransformer.h
  GoogleDataTransport/GDTCORTests/Common/Categories/GDTCORRegistrar+Testing.m
  GoogleDataTransport/GDTCORTests/Integration/GDTCORIntegrationTest.m
  GoogleDataTransport/GDTTestApp/viewcontroller.swift
Labels: GoogleDataTransport, cla: yes

#4211 Write test docs and fix one tsan issue
  GoogleDataTransport/GDTCORLibrary/GDTCORDatabase.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORDatabaseTest.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORSqliteTest.m
Labels: GoogleDataTransport, cla: yes

#4201 Add kokoro CI skeleton to firebase-ios-sdk
  kokoro/README.md
  kokoro/macos_external/continuous.cfg
  kokoro/macos_external/continuous.sh
  kokoro/macos_external/pull_request/presubmit.cfg
Labels: Infrastructure, cla: yes
