Repository firebase/firebase-ios-sdk, pull requests merged in 2019-08, with the labels that each got.

#3481 Fix sync_project when running under bundler
  Firestore/Example/Podfile
Labels: api: firestore, cla: yes

#3477 Migrate FSTQuery document matching to C++
  Firestore/Source/Core/FSTQuery.mm
  Firestore/core/src/firebase/firestore/core/query.cc
  Firestore/core/src/firebase/firestore/core/query.h
Labels: api: firestore, cla: yes

#3457 Add AppendOnlyList
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/firebase/firestore/immutable/CMakeLists.txt
  Firestore/core/src/firebase/firestore/immutable/append_only_list.h
  Firestore/core/test/firebase/firestore/immutable/CMakeLists.txt
  Firestore/core/test/firebase/firestore/immutable/append_only_list_test.cc
Labels: api: firestore, cla: yes

#3478 Migrate FSTBound to C++ Bound
  Firestore/Example/Tests/Core/FSTQueryTests.mm
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/Core/FSTQuery.h
  Firestore/Source/Core/FSTQuery.mm
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/core/src/firebase/firestore/api/query_core.h
  Firestore/core/src/firebase/firestore/api/query_core.mm
  Firestore/core/src/firebase/firestore/core/CMakeLists.txt
  Firestore/core/src/firebase/firestore/core/bound.cc
  Firestore/core/src/firebase/firestore/core/bound.h
  Firestore/core/src/firebase/firestore/core/query.cc
  Firestore/core/src/firebase/firestore/core/query.h
  Firestore/core/test/firebase/firestore/testutil/xcgmock.h
Labels: api: firestore, cla: yes

#3479 Migrate canonical ID and Document comparators to C++
  Firestore/Example/Tests/Core/FSTQueryTests.mm
  Firestore/Example/Tests/Local/FSTQueryCacheTests.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Source/Core/FSTQuery.h
  Firestore/Source/Core/FSTQuery.mm
  Firestore/core/src/firebase/firestore/core/query.cc
  Firestore/core/src/firebase/firestore/core/query.h
  Firestore/core/src/firebase/firestore/immutable/sorted_map.h
  Firestore/core/src/firebase/firestore/immutable/sorted_set.h
  Firestore/core/src/firebase/firestore/local/leveldb_query_cache.mm
  Firestore/core/src/firebase/firestore/model/document_set.h
  Firestore/core/src/firebase/firestore/model/document_set.mm
Labels: api: firestore, cla: yes

#3488 Update Auth changelog
  Firebase/Auth/CHANGELOG.md
Labels: cla: yes

#3486 Revert "Disable incremental installation"
  Firestore/Example/Podfile
Labels: api: firestore, cla: yes

#3487 Update core changelog for M53
  Firebase/Core/CHANGELOG.md
Labels: cla: yes

#3489 Update dynamic links changelog for M53
  Firebase/DynamicLinks/CHANGELOG.md
Labels: cla: yes

#3483 Reimplement C++ Query with AppendOnlyList
  Firestore/Example/Tests/Core/FSTQueryTests.mm
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/Core/FSTQuery.h
  Firestore/Source/Core/FSTQuery.mm
  Firestore/Source/Remote/FSTSerializerBeta.h
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/core/src/firebase/firestore/api/query_core.mm
  Firestore/core/src/firebase/firestore/api/query_snapshot.mm
  Firestore/core/src/firebase/firestore/core/bound.cc
  Firestore/core/src/firebase/firestore/core/bound.h
  Firestore/core/src/firebase/firestore/core/field_filter.cc
  Firestore/core/src/firebase/firestore/core/field_filter.h
  Firestore/core/src/firebase/firestore/core/filter.h
  Firestore/core/src/firebase/firestore/core/order_by.h
  Firestore/core/src/firebase/firestore/core/query.cc
  Firestore/core/src/firebase/firestore/core/query.h
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#3490 Fix undocumented symbols in public SDKs
  Firebase/Auth/Source/Public/FIRFederatedAuthProvider.h
  Firebase/Messaging/Public/FIRMessagingExtensionHelper.h
Labels: cla: yes

#3493 Make sure the first valid auth domain is retrieved
  Example/Auth/Sample/MainViewController+OAuth.m
  Firebase/Auth/Source/Utilities/FIRAuthWebUtils.m
Labels: cla: yes

#3485 Migrate FSTQueryTests to C++ / remove FSTQuery
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Core/FSTQueryTests.mm
  Firestore/Source/Core/FSTQuery.h
  Firestore/Source/Core/FSTQuery.mm
  Firestore/core/src/firebase/firestore/model/document.cc
  Firestore/core/src/firebase/firestore/model/document.h
  Firestore/core/src/firebase/firestore/model/document_key.cc
  Firestore/core/src/firebase/firestore/model/document_key.h
  Firestore/core/src/firebase/firestore/model/document_set.h
  Firestore/core/src/firebase/firestore/model/field_path.cc
  Firestore/core/src/firebase/firestore/model/field_path.h
  Firestore/core/test/firebase/firestore/core/CMakeLists.txt
  Firestore/core/test/firebase/firestore/core/query_test.cc
Labels: api: firestore, cla: yes

#3496 Prevent triggering compliance checker on 'backdoor'
  Firestore/core/test/firebase/firestore/util/delayed_constructor_test.cc
Labels: api: firestore, cla: yes

#3497 Fix OTHER_CFLAGS in zip build.
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: cla: yes

#3494 Remove the rest of Firebase as development pods
  Firestore/Example/Podfile
Labels: api: firestore, cla: yes

#3492 Add IN and ARRAY_CONTAINS_ANY (not publicly exposed)
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/Example/Tests/Remote/FSTSerializerBetaTests.mm
  Firestore/Protos/cpp/google/firestore/v1/query.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/query.pb.h
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.h
  Firestore/Protos/objc/google/firestore/v1/Query.pbobjc.h
  Firestore/Protos/objc/google/firestore/v1/Query.pbobjc.m
  Firestore/Source/API/FIRQuery+Internal.h
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/Swift/Tests/API/BasicCompileTests.swift
  Firestore/core/src/firebase/firestore/api/query_core.h
  Firestore/core/src/firebase/firestore/api/query_core.mm
  Firestore/core/src/firebase/firestore/core/CMakeLists.txt
  Firestore/core/src/firebase/firestore/core/array_contains_any_filter.cc
  Firestore/core/src/firebase/firestore/core/array_contains_any_filter.h
  Firestore/core/src/firebase/firestore/core/field_filter.cc
  Firestore/core/src/firebase/firestore/core/filter.h
  Firestore/core/src/firebase/firestore/core/in_filter.cc
  Firestore/core/src/firebase/firestore/core/in_filter.h
  Firestore/core/src/firebase/firestore/core/key_field_in_filter.cc
  Firestore/core/src/firebase/firestore/core/key_field_in_filter.h
  Firestore/core/src/firebase/firestore/core/operator.h
  Firestore/core/src/firebase/firestore/core/query.cc
  Firestore/core/src/firebase/firestore/core/query.h
  Firestore/core/test/firebase/firestore/core/query_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#3498 rename a few methods and properties to fit in the readability
  Firebase/Messaging/FIRMessagingRemoteNotificationsProxy.m
Labels: cla: yes

#3499 Rework CMake builds of Firebase Frameworks
  CMakeLists.txt
  Firebase/Core/CMakeLists.txt
  Firestore/core/src/firebase/firestore/auth/CMakeLists.txt
  Firestore/core/src/firebase/firestore/util/CMakeLists.txt
  Firestore/core/test/firebase/firestore/testutil/CMakeLists.txt
  GoogleUtilities/CMakeLists.txt
  Interop/Auth/CMakeLists.txt
  Interop/CoreDiagnostics/CMakeLists.txt
  cmake/cc_rules.cmake
  cmake/compiler_setup.cmake
  cmake/firebase_version.sed
  cmake/podspec_cmake.rb
  cmake/podspec_rules.cmake
  cmake/podspec_version.sed
Labels: api: firestore, cla: yes

#3491 Support the RTDB emulator
  Example/Database/Tests/Integration/FIRDatabaseTests.m
  Example/Database/Tests/Unit/FUtilitiesTest.m
  Firebase/Database/CHANGELOG.md
  Firebase/Database/Core/FRepoInfo.m
  Firebase/Database/Utilities/FUtilities.m
Labels: cla: yes

#3507 Open Source ABTesting
  .travis.yml
  FirebaseABTesting.podspec
  FirebaseABTesting/README.md
  FirebaseABTesting/Sources/ABTConditionalUserPropertyController.h
  FirebaseABTesting/Sources/ABTConditionalUserPropertyController.m
  FirebaseABTesting/Sources/ABTConstants.h
  FirebaseABTesting/Sources/FIRExperimentController.m
  FirebaseABTesting/Sources/FIRLifecycleEvents.m
  FirebaseABTesting/Sources/Protos/PortableProtoFilterTemplate.asciipb
  FirebaseABTesting/Sources/Protos/developers/mobile/abt/proto/ExperimentPayload.pbobjc.h
  FirebaseABTesting/Sources/Protos/developers/mobile/abt/proto/ExperimentPayload.pbobjc.m
  FirebaseABTesting/Sources/Public/FIRExperimentController.h
  FirebaseABTesting/Sources/Public/FIRLifecycleEvents.h
  FirebaseABTesting/Sources/Public/FirebaseABTesting.h
  FirebaseABTesting/Tests/Unit/ABTConditionalUserPropertyControllerTest.m
  FirebaseABTesting/Tests/Unit/ABTFakeFIRAConditionalUserPropertyController.h
  FirebaseABTesting/Tests/Unit/ABTFakeFIRAConditionalUserPropertyController.m
  FirebaseABTesting/Tests/Unit/ABTTestUniversalConstants.h
  FirebaseABTesting/Tests/Unit/ABTTestUniversalConstants.m
  FirebaseABTesting/Tests/Unit/FIRExperimentControllerTest.m
  README.md
  scripts/if_changed.sh
Labels: cla: yes

#3502 Fix build under Linux/GCC Windows/MSVC
  Firestore/core/src/firebase/firestore/model/transform_operations.cc
  Firestore/core/src/firebase/firestore/objc/objc_class.h
  Firestore/core/test/firebase/firestore/core/query_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
  Firestore/core/test/firebase/firestore/util/ordered_code_test.cc
  cmake/cc_rules.cmake
  cmake/compiler_setup.cmake
Labels: api: firestore, cla: yes

#3509 Use modular imports for FirebaseInstanceID.h
  Example/Messaging/Tests/FIRMessagingLinkHandlingTest.m
  Example/Messaging/Tests/FIRMessagingServiceTest.m
Labels: cla: yes

#3495 Add assertion for Facebook generic IDP flow
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthProvider.m
Labels: cla: yes

#3510 Update protos to include IN and ARRAY_CONTAINS_ANY
  Firestore/Protos/cpp/google/firestore/v1/query.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/query.pb.h
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.h
  Firestore/Protos/objc/google/firestore/v1/Query.pbobjc.h
  Firestore/Protos/protos/google/firestore/v1/query.proto
Labels: api: firestore, cla: yes

#3513 Add table view index to the sample app
  Example/Auth/Sample/StaticContentTableViewManager.m
Labels: cla: yes

#3467 Port public shutdown
  Firestore/Example/Tests/API/FSTAPIHelpers.mm
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.h
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/Source/API/FIRFirestore+Internal.h
  Firestore/Source/API/FIRFirestore.mm
  Firestore/Source/API/FSTFirestoreComponent.h
  Firestore/Source/API/FSTFirestoreComponent.mm
  Firestore/Source/Core/FSTFirestoreClient.h
  Firestore/Source/Core/FSTFirestoreClient.mm
  Firestore/core/src/firebase/firestore/api/firestore.h
  Firestore/core/src/firebase/firestore/api/firestore.mm
  Firestore/core/src/firebase/firestore/remote/connectivity_monitor_apple.mm
  Firestore/core/src/firebase/firestore/remote/datastore.h
  Firestore/core/src/firebase/firestore/remote/datastore.mm
  Firestore/core/src/firebase/firestore/remote/stream.h
  Firestore/core/src/firebase/firestore/remote/stream.mm
  Firestore/core/src/firebase/firestore/remote/watch_stream.h
  Firestore/core/src/firebase/firestore/remote/watch_stream.mm
  Firestore/core/src/firebase/firestore/remote/write_stream.h
  Firestore/core/src/firebase/firestore/remote/write_stream.mm
  Firestore/core/src/firebase/firestore/util/async_queue.cc
  Firestore/core/src/firebase/firestore/util/async_queue.h
  Firestore/core/test/firebase/firestore/remote/datastore_test.mm
  Firestore/core/test/firebase/firestore/remote/stream_test.mm
  Firestore/core/test/firebase/firestore/util/async_queue_test.cc
Labels: api: firestore, cla: yes

#3512 Update Database for Catalyst
  Example/Database/Tests/Unit/FLevelDBStorageEngineTests.m
  Firebase/Database/third_party/SocketRocket/FSRWebSocket.m
Labels: Catalyst, api: database, cla: yes

#3518 Release 6.6.0
  Example/Podfile
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCoreDiagnosticsInterop.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingDisplay.podspec
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
  Firestore/Example/Podfile
  GoogleDataTransport.podspec
  GoogleDataTransportCCTSupport.podspec
  Releases/Manifests/6.6.0.json
  Releases/update-versions.py
  SymbolCollisionTest/Podfile
Labels: cla: yes

#3519 Fix typo
  Firebase/Auth/Source/Public/FIRActionCodeSettings.h
Labels: cla: yes

#3515 use repo-root relative path for unit test files
  Example/Firebase.xcodeproj/project.pbxproj
  Example/Messaging/Tests/FIRInstanceIDWithFCMTest.m
  Example/Messaging/Tests/FIRMessagingAnalyticsTest.m
  Example/Messaging/Tests/FIRMessagingClientTest.m
  Example/Messaging/Tests/FIRMessagingCodedInputStreamTest.m
  Example/Messaging/Tests/FIRMessagingConnectionTest.m
  Example/Messaging/Tests/FIRMessagingContextManagerServiceTest.m
  Example/Messaging/Tests/FIRMessagingDataMessageManagerTest.m
  Example/Messaging/Tests/FIRMessagingExtensionHelperTest.m
  Example/Messaging/Tests/FIRMessagingFakeConnection.h
  Example/Messaging/Tests/FIRMessagingFakeConnection.m
  Example/Messaging/Tests/FIRMessagingFakeSocket.h
  Example/Messaging/Tests/FIRMessagingFakeSocket.m
  Example/Messaging/Tests/FIRMessagingLinkHandlingTest.m
  Example/Messaging/Tests/FIRMessagingPendingTopicsListTest.m
  Example/Messaging/Tests/FIRMessagingPubSubTest.m
  Example/Messaging/Tests/FIRMessagingRemoteNotificationsProxyTest.m
  Example/Messaging/Tests/FIRMessagingRmqManagerTest.m
  Example/Messaging/Tests/FIRMessagingSecureSocketTest.m
  Example/Messaging/Tests/FIRMessagingServiceTest.m
  Example/Messaging/Tests/FIRMessagingSyncMessageManagerTest.m
  Example/Messaging/Tests/FIRMessagingTest.m
  Example/Messaging/Tests/FIRMessagingTestNotificationUtilities.m
  Example/Messaging/Tests/FIRMessagingTestUtilities.h
  FirebaseMessaging.podspec
Labels: cla: yes

#3520 (Attempt to) Address iOS UIScene related lifecycle changes
  GoogleDataTransport/GDTLibrary/GDTPlatform.m
  GoogleDataTransport/GDTLibrary/Public/GDTLifecycle.h
Labels: GoogleDataTransport, cla: yes

#3526 A grab bag of misc fixes
  Firestore/Example/Tests/Util/FSTHelpers.h
  Firestore/Source/API/FSTUserDataConverter.h
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/Source/Local/FSTQueryData.mm
  Firestore/Source/Model/FSTDocument.h
  Firestore/Source/Model/FSTDocument.mm
  Firestore/Source/Model/FSTMutation.h
  Firestore/Source/Remote/FSTSerializerBeta.h
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/Swift/Tests/Integration/CodableIntegrationTests.swift
  Firestore/core/src/firebase/firestore/api/document_change.mm
  Firestore/core/src/firebase/firestore/api/document_snapshot.h
  Firestore/core/src/firebase/firestore/core/field_filter.cc
  Firestore/core/src/firebase/firestore/core/user_data.h
  Firestore/core/src/firebase/firestore/core/view_snapshot.mm
  Firestore/core/src/firebase/firestore/model/precondition.h
  Firestore/core/src/firebase/firestore/model/snapshot_version.cc
  Firestore/core/src/firebase/firestore/model/snapshot_version.h
  Firestore/core/src/firebase/firestore/util/hashing.h
  Firestore/core/test/firebase/firestore/testutil/xcgmock.h
  Firestore/core/test/firebase/firestore/util/hashing_test.cc
Labels: api: firestore, cla: yes

#3527 Update all the header path to pod repo relative
  Example/Messaging/Tests/FIRInstanceIDWithFCMTest.m
  Example/Messaging/Tests/FIRMessagingClientTest.m
  Example/Messaging/Tests/FIRMessagingConnectionTest.m
  Example/Messaging/Tests/FIRMessagingContextManagerServiceTest.m
  Example/Messaging/Tests/FIRMessagingDataMessageManagerTest.m
  Example/Messaging/Tests/FIRMessagingFakeConnection.m
  Example/Messaging/Tests/FIRMessagingFakeSocket.m
  Example/Messaging/Tests/FIRMessagingLinkHandlingTest.m
  Example/Messaging/Tests/FIRMessagingRemoteNotificationsProxyTest.m
  Example/Messaging/Tests/FIRMessagingRmqManagerTest.m
  Example/Messaging/Tests/FIRMessagingSecureSocketTest.m
  Example/Messaging/Tests/FIRMessagingServiceTest.m
  Example/Messaging/Tests/FIRMessagingTest.m
  Example/Messaging/Tests/FIRMessagingTestNotificationUtilities.m
  Example/Messaging/Tests/FIRMessagingTestUtilities.m
  Firebase/Messaging/FIRMessaging.m
  Firebase/Messaging/FIRMessagingAnalytics.m
  Firebase/Messaging/FIRMessagingClient.h
  Firebase/Messaging/FIRMessagingClient.m
  Firebase/Messaging/FIRMessagingCodedInputStream.m
  Firebase/Messaging/FIRMessagingConnection.m
  Firebase/Messaging/FIRMessagingConstants.m
  Firebase/Messaging/FIRMessagingContextManagerService.m
  Firebase/Messaging/FIRMessagingDataMessageManager.m
  Firebase/Messaging/FIRMessagingDelayedMessageQueue.m
  Firebase/Messaging/FIRMessagingExtensionHelper.m
  Firebase/Messaging/FIRMessagingLogger.m
  Firebase/Messaging/FIRMessagingPacketQueue.m
  Firebase/Messaging/FIRMessagingPendingTopicsList.h
  Firebase/Messaging/FIRMessagingPendingTopicsList.m
  Firebase/Messaging/FIRMessagingPersistentSyncMessage.m
  Firebase/Messaging/FIRMessagingPubSub.h
  Firebase/Messaging/FIRMessagingPubSub.m
  Firebase/Messaging/FIRMessagingPubSubRegistrar.h
  Firebase/Messaging/FIRMessagingPubSubRegistrar.m
  Firebase/Messaging/FIRMessagingReceiver.h
  Firebase/Messaging/FIRMessagingReceiver.m
  Firebase/Messaging/FIRMessagingRemoteNotificationsProxy.m
  Firebase/Messaging/FIRMessagingRmq2PersistentStore.m
  Firebase/Messaging/FIRMessagingRmqManager.m
  Firebase/Messaging/FIRMessagingSecureSocket.m
  Firebase/Messaging/FIRMessagingSyncMessageManager.m
  Firebase/Messaging/FIRMessagingTopicOperation.h
  Firebase/Messaging/FIRMessagingTopicOperation.m
  Firebase/Messaging/FIRMessagingUtilities.m
  Firebase/Messaging/FIRMessagingVersionUtilities.m
  Firebase/Messaging/FIRMessaging_Private.h
  Firebase/Messaging/FirebaseMessaging.h
  Firebase/Messaging/Public/FirebaseMessaging.h
Labels: cla: yes

#3534 IID unit test update for Catalyst
  Example/InstanceID/Tests/FIRInstanceIDKeyPairMigrationTest.m
Labels: Catalyst, api: instanceid, cla: yes

#3535 Remove asserts and replace with GDTLogs
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  GoogleDataTransport/GDTLibrary/GDTConsoleLogger.m
  GoogleDataTransport/GDTLibrary/GDTPlatform.m
  GoogleDataTransport/GDTLibrary/GDTReachability.m
  GoogleDataTransport/GDTLibrary/GDTStorage.m
  GoogleDataTransport/GDTLibrary/GDTTransformer.m
  GoogleDataTransport/GDTLibrary/GDTUploadCoordinator.m
  GoogleDataTransport/GDTLibrary/GDTUploadPackage.m
  GoogleDataTransport/GDTLibrary/Public/GDTConsoleLogger.h
  GoogleDataTransport/GDTLibrary/Public/GoogleDataTransport.h
  GoogleDataTransport/GDTTests/Unit/GDTTransformerTest.m
  GoogleDataTransport/GDTTests/Unit/GDTUploadPackageTest.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTNanopbHelpers.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTUploader.m
Labels: GoogleDataTransport, cla: yes

#3528 Remove fields that are currently unused.
  Firebase/CoreDiagnostics/FIRCDLibrary/Protogen/nanopb/firebasecore.nanopb.c
  Firebase/CoreDiagnostics/FIRCDLibrary/Protogen/nanopb/firebasecore.nanopb.h
  Firebase/CoreDiagnostics/ProtoSupport/Protos/firebasecore.proto
Labels: cla: yes

#3537 remove internalHeader folder whose file is only used in unit test
  Example/Messaging/Tests/FIRMessagingServiceTest.m
  Firebase/Messaging/InternalHeaders/FIRMessagingInternalUtilities.h
Labels: cla: yes

#3542 Remove asserts and replace with GDTLogs (#3535)
  .travis.yml
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  FirebaseCoreDiagnostics.podspec
  GoogleDataTransport.podspec
  GoogleDataTransport/GDTLibrary/GDTConsoleLogger.m
  GoogleDataTransport/GDTLibrary/GDTPlatform.m
  GoogleDataTransport/GDTLibrary/GDTReachability.m
  GoogleDataTransport/GDTLibrary/GDTStorage.m
  GoogleDataTransport/GDTLibrary/GDTTransformer.m
  GoogleDataTransport/GDTLibrary/GDTUploadCoordinator.m
  GoogleDataTransport/GDTLibrary/GDTUploadPackage.m
  GoogleDataTransport/GDTLibrary/Public/GDTConsoleLogger.h
  GoogleDataTransport/GDTLibrary/Public/GoogleDataTransport.h
  GoogleDataTransport/GDTTests/Unit/GDTTransformerTest.m
  GoogleDataTransport/GDTTests/Unit/GDTUploadPackageTest.m
  GoogleDataTransportCCTSupport.podspec
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTNanopbHelpers.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTUploader.m
Labels: cla: yes

#3543 Release 6.6.0 - GDT Patch update
  FirebaseCoreDiagnostics.podspec
  GoogleDataTransport.podspec
  GoogleDataTransportCCTSupport.podspec
Labels: cla: yes

#3540 Add support for initializing custom domains without Core.
  Example/DynamicLinks/Tests/FIRDynamicLinksTest.m
  Firebase/DynamicLinks/FIRDynamicLinks.m
Labels: cla: yes

#3544 GULUserDefaults clear for all archs
  GoogleUtilities/Example/Tests/UserDefaults/GULUserDefaultsTests.m
  GoogleUtilities/UserDefaults/GULUserDefaults.m
Labels: Catalyst, GoogleUtilities, cla: yes

#3550 Fix tvOS 13 build break
  GoogleDataTransport/GDTLibrary/GDTPlatform.m
Labels: GoogleDataTransport, cla: yes, tvOS

#3548 Prep for GoogleUtilities 6.2.5
  GoogleUtilities.podspec
  GoogleUtilities/CHANGELOG.md
Labels: cla: yes

#3555 Make ivar references safer
  GoogleDataTransport/GDTLibrary/GDTStorage.m
  GoogleDataTransport/GDTLibrary/GDTUploadCoordinator.m
Labels: cla: yes

#3549 Migrate Auth from UIWebView to WKWebView
  Firebase/Auth/Source/Public/FIRAuth.h
  Firebase/Auth/Source/Public/FIRAuthErrors.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.m
  Firebase/Auth/Source/Utilities/FIRAuthInternalErrors.h
  Firebase/Auth/Source/Utilities/FIRAuthURLPresenter.h
  Firebase/Auth/Source/Utilities/FIRAuthWebView.h
  Firebase/Auth/Source/Utilities/FIRAuthWebView.m
  Firebase/Auth/Source/Utilities/FIRAuthWebViewController.m
Labels: Catalyst, api: auth, cla: yes

#3539 Port FSTEventManager to C++
  Firestore/Example/Tests/Core/FSTEventManagerTests.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/Source/Core/FSTEventManager.h
  Firestore/Source/Core/FSTEventManager.mm
  Firestore/Source/Core/FSTFirestoreClient.mm
  Firestore/Source/Core/FSTSyncEngine.h
  Firestore/Source/Core/FSTSyncEngine.mm
  Firestore/core/src/firebase/firestore/core/event_manager.h
  Firestore/core/src/firebase/firestore/core/event_manager.mm
  Firestore/core/src/firebase/firestore/core/sync_engine_callback.h
Labels: cla: yes

#3557 release-6.6.0 fix #2 for GDTUploadCoordinator crashes
  GoogleDataTransport.podspec
  GoogleDataTransport/GDTLibrary/GDTStorage.m
  GoogleDataTransport/GDTLibrary/GDTUploadCoordinator.m
Labels: cla: yes

#3525 Build GDT for Catalyst
  GoogleDataTransport/GDTLibrary/GDTStorage.m
  GoogleDataTransport/GDTLibrary/GDTUploadPackage.m
  GoogleDataTransport/GDTTests/Unit/GDTClockTest.m
  GoogleDataTransport/GDTTests/Unit/GDTEventTest.m
  GoogleDataTransport/GDTTests/Unit/GDTStorageTest.m
  GoogleDataTransport/GDTTests/Unit/GDTUploadPackageTest.m
Labels: Catalyst, GoogleDataTransport, cla: yes

#3560 Revert "Build GDT for Catalyst"
  GoogleDataTransport/GDTLibrary/GDTStorage.m
  GoogleDataTransport/GDTLibrary/GDTUploadPackage.m
  GoogleDataTransport/GDTTests/Unit/GDTClockTest.m
  GoogleDataTransport/GDTTests/Unit/GDTEventTest.m
  GoogleDataTransport/GDTTests/Unit/GDTStorageTest.m
  GoogleDataTransport/GDTTests/Unit/GDTUploadPackageTest.m
Labels: cla: yes

#3563 Merge 2nd GDT 6.6.0 patch
  GoogleDataTransport.podspec
  GoogleDataTransport/GDTLibrary/GDTStorage.m
  GoogleDataTransport/GDTLibrary/GDTUploadCoordinator.m
Labels: cla: yes

#3566 RTDB 6.1.0 Changelog update
  Firebase/Database/CHANGELOG.md
Labels: cla: yes

#3570 Auth Changelog for M54
  Firebase/Auth/CHANGELOG.md
Labels: cla: yes

#3569 Revert "Revert "Build GDT for Catalyst""
  GoogleDataTransport/GDTLibrary/GDTStorage.m
  GoogleDataTransport/GDTLibrary/GDTUploadPackage.m
  GoogleDataTransport/GDTTests/Unit/GDTClockTest.m
  GoogleDataTransport/GDTTests/Unit/GDTEventTest.m
  GoogleDataTransport/GDTTests/Unit/GDTStorageTest.m
  GoogleDataTransport/GDTTests/Unit/GDTUploadPackageTest.m
Labels: cla: yes

#3565 Initial FirebaseABTesting/CHANGELOG.md
  FirebaseABTesting/CHANGELOG.md
Labels: cla: yes

#3517 Add option to generate Carthage build.
  ZipBuilder/README.md
  ZipBuilder/Sources/ZipBuilder/CarthageUtils.swift
  ZipBuilder/Sources/ZipBuilder/FileManager+Utils.swift
  ZipBuilder/Sources/ZipBuilder/HashCalculator.swift
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
  ZipBuilder/Sources/ZipBuilder/Zip.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
  ZipBuilder/Sources/ZipBuilder/main.swift
  ZipBuilder/Template/dummy_Firebase_lib
Labels: cla: yes

#3573 Run Auth integration tests only in Auth travis phase
  .travis.yml
  Example/Auth/AuthSample/AuthSample.xcodeproj/project.pbxproj
  scripts/build.sh
Labels: cla: yes

#3529 Rewrite C++ document classes as polymorphic value types
  Firestore/core/src/firebase/firestore/local/local_serializer.cc
  Firestore/core/src/firebase/firestore/model/document.cc
  Firestore/core/src/firebase/firestore/model/document.h
  Firestore/core/src/firebase/firestore/model/maybe_document.cc
  Firestore/core/src/firebase/firestore/model/maybe_document.h
  Firestore/core/src/firebase/firestore/model/mutation.cc
  Firestore/core/src/firebase/firestore/model/mutation.h
  Firestore/core/src/firebase/firestore/model/no_document.cc
  Firestore/core/src/firebase/firestore/model/no_document.h
  Firestore/core/src/firebase/firestore/model/precondition.cc
  Firestore/core/src/firebase/firestore/model/precondition.h
  Firestore/core/src/firebase/firestore/model/unknown_document.cc
  Firestore/core/src/firebase/firestore/model/unknown_document.h
  Firestore/core/test/firebase/firestore/core/query_test.cc
  Firestore/core/test/firebase/firestore/local/local_serializer_test.cc
  Firestore/core/test/firebase/firestore/model/document_test.cc
  Firestore/core/test/firebase/firestore/model/mutation_test.cc
  Firestore/core/test/firebase/firestore/model/precondition_test.cc
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#3572 Update spec tests
  Firestore/Example/Tests/SpecTests/json/limit_spec_test.json
Labels: api: firestore, cla: yes

#3576 Fix a typo
  FirebaseABTesting/Sources/FIRExperimentController.m
  FirebaseABTesting/Sources/Public/FIRLifecycleEvents.h
Labels: cla: yes

#3556 kill debug assert and unnecessary macros
  Example/Messaging/Tests/FIRMessagingServiceTest.m
  Firebase/Messaging/FIRMMessageCode.h
  Firebase/Messaging/FIRMessaging.m
  Firebase/Messaging/FIRMessagingClient.m
  Firebase/Messaging/FIRMessagingCodedInputStream.m
  Firebase/Messaging/FIRMessagingConnection.m
  Firebase/Messaging/FIRMessagingContextManagerService.m
  Firebase/Messaging/FIRMessagingDataMessageManager.m
  Firebase/Messaging/FIRMessagingDefines.h
  Firebase/Messaging/FIRMessagingDelayedMessageQueue.m
  Firebase/Messaging/FIRMessagingPubSub.m
  Firebase/Messaging/FIRMessagingRmq2PersistentStore.m
  Firebase/Messaging/FIRMessagingRmqManager.m
  Firebase/Messaging/FIRMessagingSecureSocket.m
  Firebase/Messaging/FIRMessagingSyncMessageManager.m
  Firebase/Messaging/FIRMessagingTopicOperation.m
  Firebase/Messaging/FIRMessagingVersionUtilities.m
Labels: cla: yes

#3581 Update CHANGELOG for Firestore v1.4.4
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#3580 Messaging M54 changelog
  Firebase/Messaging/CHANGELOG.md
Labels: cla: yes

#3582 Add interop API to prepare for RC open sourcing
  Example/DynamicLinks/Tests/FIRDLScionLoggingTest.m
  Example/Messaging/Tests/FIRMessagingAnalyticsTest.m
  FirebaseABTesting/Tests/Unit/ABTFakeFIRAConditionalUserPropertyController.m
  FirebaseAnalyticsInterop.podspec
  InAppMessaging/Example/Tests/FIRIAMAnalyticsEventLoggerImplTests.m
  Interop/Analytics/Public/FIRAnalyticsInterop.h
Labels: cla: yes

#3587 Fix recent analyzer regressions
  Firebase/Messaging/FIRMessagingCodedInputStream.m
Labels: api: messaging, cla: yes

#3583 Fix CHANGELOGs for everything GDT and FIRCD related
  Firebase/CoreDiagnostics/CHANGELOG.md
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransportCCTSupport/CHANGELOG.md
  Interop/CoreDiagnostics/CHANGELOG.md
Labels: cla: yes

#3575 Don't persist manufactured documents
  Firestore/Source/Local/FSTLocalStore.mm
Labels: cla: yes

#3551 Prepare for migrating FSTMutation to C++ Mutations
  Firestore/Example/Tests/Model/transform_operations_test.mm
  Firestore/Source/Model/FSTMutation.mm
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/core/src/firebase/firestore/core/user_data.h
  Firestore/core/src/firebase/firestore/model/CMakeLists.txt
  Firestore/core/src/firebase/firestore/model/field_transform.cc
  Firestore/core/src/firebase/firestore/model/field_transform.h
  Firestore/core/src/firebase/firestore/model/field_value.h
  Firestore/core/src/firebase/firestore/model/precondition.cc
  Firestore/core/src/firebase/firestore/model/precondition.h
  Firestore/core/src/firebase/firestore/model/snapshot_version.h
  Firestore/core/src/firebase/firestore/model/transform_operations.cc
  Firestore/core/src/firebase/firestore/model/transform_operations.h
  Firestore/core/src/firebase/firestore/nanopb/nanopb_util.cc
  Firestore/core/src/firebase/firestore/nanopb/nanopb_util.h
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/test/firebase/firestore/model/precondition_test.cc
Labels: api: firestore, cla: yes

#3579 Ensure Messaging instance is usable after FIRApp's `delete`
  Example/Messaging/Tests/FIRMessagingInstanceTest.swift
  Example/Messaging/Tests/FIRMessagingTest.m
  Firebase/Messaging/CHANGELOG.md
  Firebase/Messaging/FIRMessaging.m
  FirebaseMessaging.podspec
Labels: cla: yes

#3559 Convert C++ mutation classes to polymorphic value types
  Firestore/core/src/firebase/firestore/model/CMakeLists.txt
  Firestore/core/src/firebase/firestore/model/delete_mutation.cc
  Firestore/core/src/firebase/firestore/model/delete_mutation.h
  Firestore/core/src/firebase/firestore/model/mutation.cc
  Firestore/core/src/firebase/firestore/model/mutation.h
  Firestore/core/src/firebase/firestore/model/patch_mutation.cc
  Firestore/core/src/firebase/firestore/model/patch_mutation.h
  Firestore/core/src/firebase/firestore/model/set_mutation.cc
  Firestore/core/src/firebase/firestore/model/set_mutation.h
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/src/firebase/firestore/util/hard_assert.h
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#3588 Allow decoding Timestamp as a Date
  Firestore/Swift/Source/Codable/third_party/FirestoreDecoder.swift
  Firestore/Swift/Tests/Codable/FirestoreEncoderTests.swift
Labels: api: firestore, cla: yes

#3597 Update CHANGELOG.md
  Firebase/DynamicLinks/CHANGELOG.md
Labels: api: dynamiclinks, cla: yes

#3598 Fix Zip builder in Xcode 10.1
  ZipBuilder/Sources/ZipBuilder/HashCalculator.swift
Labels: cla: yes

#3577 Update email test can now handle email conflict
  .travis.yml
  Example/Auth/ApiTests/AccountInfoTests.m
  scripts/build.sh
Labels: cla: yes

#3561 Implement the rest of C++ Mutations
  Firestore/core/src/firebase/firestore/model/CMakeLists.txt
  Firestore/core/src/firebase/firestore/model/delete_mutation.cc
  Firestore/core/src/firebase/firestore/model/field_mask.h
  Firestore/core/src/firebase/firestore/model/mutation.h
  Firestore/core/src/firebase/firestore/model/patch_mutation.cc
  Firestore/core/src/firebase/firestore/model/patch_mutation.h
  Firestore/core/src/firebase/firestore/model/transform_mutation.cc
  Firestore/core/src/firebase/firestore/model/transform_mutation.h
  Firestore/core/src/firebase/firestore/remote/serializer.cc
Labels: api: firestore, cla: yes

#3596 Better assertion helper functions
  Firestore/Swift/Tests/Codable/FirestoreEncoderTests.swift
Labels: api: firestore, cla: yes

#3594 allow unlisten after shutdown
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/Source/Core/FSTFirestoreClient.mm
Labels: api: firestore, cla: yes

#3562 Avoid pointers to Mutation types
  Firestore/core/src/firebase/firestore/local/local_serializer.cc
  Firestore/core/src/firebase/firestore/model/delete_mutation.cc
  Firestore/core/src/firebase/firestore/model/mutation.h
  Firestore/core/src/firebase/firestore/model/mutation_batch.cc
  Firestore/core/src/firebase/firestore/model/mutation_batch.h
  Firestore/core/src/firebase/firestore/model/patch_mutation.cc
  Firestore/core/src/firebase/firestore/model/set_mutation.cc
  Firestore/core/src/firebase/firestore/model/transform_mutation.cc
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/src/firebase/firestore/remote/serializer.h
  Firestore/core/test/firebase/firestore/local/local_serializer_test.cc
  Firestore/core/test/firebase/firestore/model/mutation_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#3564 Migrate FSTMutation to C++ Mutations
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Example/Tests/Local/FSTLRUGarbageCollectorTests.mm
  Firestore/Example/Tests/Local/FSTLocalSerializerTests.mm
  Firestore/Example/Tests/Local/FSTLocalStoreTests.mm
  Firestore/Example/Tests/Local/FSTMutationQueueTests.mm
  Firestore/Example/Tests/Model/FSTMutationTests.mm
  Firestore/Example/Tests/Remote/FSTSerializerBetaTests.mm
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.h
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.h
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/Example/Tests/Util/FSTHelpers.h
  Firestore/Example/Tests/Util/FSTHelpers.mm
  Firestore/Source/API/FSTUserDataConverter.h
  Firestore/Source/API/FSTUserDataConverter.mm
  Firestore/Source/Core/FSTFirestoreClient.h
  Firestore/Source/Core/FSTFirestoreClient.mm
  Firestore/Source/Core/FSTSyncEngine.h
  Firestore/Source/Core/FSTSyncEngine.mm
  Firestore/Source/Local/FSTLocalSerializer.mm
  Firestore/Source/Local/FSTLocalStore.h
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/Source/Model/FSTMutation.h
  Firestore/Source/Model/FSTMutation.mm
  Firestore/Source/Model/FSTMutationBatch.h
  Firestore/Source/Model/FSTMutationBatch.mm
  Firestore/Source/Remote/FSTSerializerBeta.h
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/core/src/firebase/firestore/api/document_reference.mm
  Firestore/core/src/firebase/firestore/api/write_batch.h
  Firestore/core/src/firebase/firestore/api/write_batch.mm
  Firestore/core/src/firebase/firestore/core/transaction.h
  Firestore/core/src/firebase/firestore/core/transaction.mm
  Firestore/core/src/firebase/firestore/core/user_data.h
  Firestore/core/src/firebase/firestore/core/user_data.mm
  Firestore/core/src/firebase/firestore/local/leveldb_mutation_queue.h
  Firestore/core/src/firebase/firestore/local/leveldb_mutation_queue.mm
  Firestore/core/src/firebase/firestore/local/local_documents_view.mm
  Firestore/core/src/firebase/firestore/local/memory_mutation_queue.h
  Firestore/core/src/firebase/firestore/local/memory_mutation_queue.mm
  Firestore/core/src/firebase/firestore/local/mutation_queue.h
  Firestore/core/src/firebase/firestore/model/field_value.cc
  Firestore/core/src/firebase/firestore/remote/datastore.h
  Firestore/core/src/firebase/firestore/remote/datastore.mm
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.h
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.mm
  Firestore/core/src/firebase/firestore/remote/remote_store.h
  Firestore/core/src/firebase/firestore/remote/remote_store.mm
  Firestore/core/src/firebase/firestore/remote/write_stream.h
  Firestore/core/src/firebase/firestore/remote/write_stream.mm
  Firestore/core/test/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
  Firestore/core/test/firebase/firestore/testutil/xcgmock.h
Labels: api: firestore, cla: yes

#3593 FIRIAMDefaultDisplayImpl: validate bundleURL to prevent crash.
  Firebase/InAppMessagingDisplay/FIRIAMDefaultDisplayImpl.m
Labels: cla: yes

#3603 FIRIAMDefaultDisplayImpl: validate bundleURL to prevent crash. (#3593)
  Firebase/InAppMessagingDisplay/FIRIAMDefaultDisplayImpl.m
Labels: cla: yes

#3604 Update make_release_notes to support list of issues
  scripts/make_release_notes.py
Labels: Infrastructure, cla: yes

#3605 Update podspecs, add FIAM Display to release.
  FirebaseABTesting.podspec
  FirebaseInAppMessagingDisplay.podspec
  Releases/Manifests/6.7.0.json
Labels: cla: yes

#3546 Initial nanopb support infra for InAppMessaging
  Firebase/InAppMessaging/Analytics/Protogen/nanopb/fiam.nanopb.c
  Firebase/InAppMessaging/Analytics/Protogen/nanopb/fiam.nanopb.h
  Firebase/InAppMessaging/ProtoSupport/Protos/fiam.options
  Firebase/InAppMessaging/ProtoSupport/Protos/fiam.proto
  Firebase/InAppMessaging/ProtoSupport/generate_nanopb_protos.sh
  Firebase/InAppMessaging/ProtoSupport/nanopb_build_protos.py
  Firebase/InAppMessaging/ProtoSupport/nanopb_proto_generator.py
  Firebase/InAppMessaging/generate_project.sh
  FirebaseInAppMessaging.podspec
  scripts/check_whitespace.sh
Labels: cla: yes

#3607 Fix cron breakage triggered by new Swift tests
  .travis.yml
Labels: cla: yes

#3608 Lock GoogleSignIn to major version 4
  Example/Auth/AuthSample/Podfile
  Example/Podfile
Labels: api: auth, cla: yes

#3613 FIRIAMDefaultDisplayImpl: return earlier when bundleURL == nil
  Firebase/InAppMessagingDisplay/FIRIAMDefaultDisplayImpl.m
Labels: cla: yes

#3614 Release 6.7.0 cherry pick: FIRIAMDefaultDisplayImpl: return earlier when bundleURL == nil
  Firebase/InAppMessagingDisplay/FIRIAMDefaultDisplayImpl.m
Labels: cla: yes

#3567 Convert TransformOperations to polymorphic value types
  Firestore/Example/Tests/Model/FSTMutationTests.mm
  Firestore/Example/Tests/Model/field_transform_test.mm
  Firestore/Example/Tests/Model/transform_operations_test.mm
  Firestore/Example/Tests/Util/FSTHelpers.mm
  Firestore/Source/API/FSTUserDataConverter.mm
  Firestore/Source/Remote/FSTSerializerBeta.h
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/core/src/firebase/firestore/core/user_data.h
  Firestore/core/src/firebase/firestore/core/user_data.mm
  Firestore/core/src/firebase/firestore/model/CMakeLists.txt
  Firestore/core/src/firebase/firestore/model/field_transform.cc
  Firestore/core/src/firebase/firestore/model/field_transform.h
  Firestore/core/src/firebase/firestore/model/transform_mutation.cc
  Firestore/core/src/firebase/firestore/model/transform_operation.cc
  Firestore/core/src/firebase/firestore/model/transform_operation.h
  Firestore/core/src/firebase/firestore/model/transform_operations.cc
  Firestore/core/src/firebase/firestore/model/transform_operations.h
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.cc
Labels: api: firestore, cla: yes

#3610 Provide a helpful error if FIROptions.projectID is missing.
  Firestore/Source/API/FSTFirestoreComponent.mm
Labels: api: firestore, cla: yes

#3612 Fix flakiness in Firestore integration tests
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
Labels: api: firestore, cla: yes

#3611 Add support of GSI 5
  Example/Auth/AuthSample/Podfile
  Example/Auth/Sample/GoogleAuthProvider.m
  Example/Podfile
Labels: cla: yes

#3616 Fetch view resource bundle in main thread for thread safety
  Firebase/InAppMessagingDisplay/FIRIAMDefaultDisplayImpl.m
Labels: cla: yes

#3618 Cherry pick 6.7.0: Fetch view resource bundle in main thread for thread safety.
  Firebase/InAppMessagingDisplay/FIRIAMDefaultDisplayImpl.m
Labels: cla: yes

#3600 Fix testutil on Linux
  Firestore/core/test/firebase/firestore/model/field_value_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#3589 Add assertions to TransformOperation cast constructors
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/core/src/firebase/firestore/model/transform_operation.cc
  Firestore/core/src/firebase/firestore/model/transform_operation.h
Labels: api: firestore, cla: yes

#3568 Convert Filters to polymorphic value types
  Firestore/Example/Tests/Remote/FSTSerializerBetaTests.mm
  Firestore/Source/Remote/FSTSerializerBeta.h
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/core/src/firebase/firestore/api/query_core.mm
  Firestore/core/src/firebase/firestore/core/array_contains_any_filter.cc
  Firestore/core/src/firebase/firestore/core/array_contains_any_filter.h
  Firestore/core/src/firebase/firestore/core/array_contains_filter.cc
  Firestore/core/src/firebase/firestore/core/array_contains_filter.h
  Firestore/core/src/firebase/firestore/core/field_filter.cc
  Firestore/core/src/firebase/firestore/core/field_filter.h
  Firestore/core/src/firebase/firestore/core/filter.cc
  Firestore/core/src/firebase/firestore/core/filter.h
  Firestore/core/src/firebase/firestore/core/in_filter.cc
  Firestore/core/src/firebase/firestore/core/in_filter.h
  Firestore/core/src/firebase/firestore/core/key_field_filter.cc
  Firestore/core/src/firebase/firestore/core/key_field_filter.h
  Firestore/core/src/firebase/firestore/core/key_field_in_filter.cc
  Firestore/core/src/firebase/firestore/core/key_field_in_filter.h
  Firestore/core/src/firebase/firestore/core/query.cc
  Firestore/core/src/firebase/firestore/core/query.h
  Firestore/core/test/firebase/firestore/core/field_filter_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#3621 Move two internal iid headers to private for RC open sourcing
  Example/InstanceID/Tests/FIRInstanceIDCheckinServiceTest.m
  Example/InstanceID/Tests/FIRInstanceIDCheckinStoreTest.m
  Example/InstanceID/Tests/FIRInstanceIDStoreTest.m
  Firebase/InstanceID/FIRInstanceIDCheckinPreferences+Internal.h
  Firebase/InstanceID/FIRInstanceIDCheckinPreferences_Private.h
  Firebase/InstanceID/Private/FIRInstanceID+Private.h
  Firebase/InstanceID/Private/FIRInstanceIDCheckinPreferences.h
Labels: api: instanceid, cla: yes

#3571 Migrate FSTMutationTests to C++
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/API/FSTUserDataConverterTests.mm
  Firestore/Example/Tests/Model/FSTMutationTests.mm
  Firestore/core/src/firebase/firestore/model/document.cc
  Firestore/core/src/firebase/firestore/model/document.h
  Firestore/core/test/firebase/firestore/model/mutation_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#3622 Fix ABTesting analyzer issue
  FirebaseABTesting/Sources/ABTConditionalUserPropertyController.m
Labels: api: abtesting, cla: yes

#3590 Remove Objective-C immutable sets and maps
  FirebaseFirestore.podspec
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Local/FSTLocalStoreTests.mm
  Firestore/Example/Tests/Local/FSTQueryCacheTests.mm
  Firestore/third_party/Immutable/FSTArraySortedDictionary.h
  Firestore/third_party/Immutable/FSTArraySortedDictionary.m
  Firestore/third_party/Immutable/FSTArraySortedDictionaryEnumerator.h
  Firestore/third_party/Immutable/FSTArraySortedDictionaryEnumerator.m
  Firestore/third_party/Immutable/FSTImmutableSortedDictionary.h
  Firestore/third_party/Immutable/FSTImmutableSortedDictionary.m
  Firestore/third_party/Immutable/FSTImmutableSortedSet.h
  Firestore/third_party/Immutable/FSTImmutableSortedSet.m
  Firestore/third_party/Immutable/FSTLLRBEmptyNode.h
  Firestore/third_party/Immutable/FSTLLRBEmptyNode.m
  Firestore/third_party/Immutable/FSTLLRBNode.h
  Firestore/third_party/Immutable/FSTLLRBValueNode.h
  Firestore/third_party/Immutable/FSTLLRBValueNode.m
  Firestore/third_party/Immutable/FSTTreeSortedDictionary.h
  Firestore/third_party/Immutable/FSTTreeSortedDictionary.m
  Firestore/third_party/Immutable/FSTTreeSortedDictionaryEnumerator.h
  Firestore/third_party/Immutable/FSTTreeSortedDictionaryEnumerator.m
  Firestore/third_party/Immutable/LICENSE
  Firestore/third_party/Immutable/Tests/FSTArraySortedDictionaryTests.m
  Firestore/third_party/Immutable/Tests/FSTImmutableSortedDictionary+Testing.h
  Firestore/third_party/Immutable/Tests/FSTImmutableSortedDictionary+Testing.m
  Firestore/third_party/Immutable/Tests/FSTImmutableSortedSet+Testing.h
  Firestore/third_party/Immutable/Tests/FSTImmutableSortedSet+Testing.m
  Firestore/third_party/Immutable/Tests/FSTLLRBValueNode+Test.h
  Firestore/third_party/Immutable/Tests/FSTTreeSortedDictionaryTests.m
  scripts/sync_project.rb
Labels: api: firestore, cla: yes

#3591 Change many Firestore/core .mm files to .cc
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/firebase/firestore/api/CMakeLists.txt
  Firestore/core/src/firebase/firestore/api/collection_reference.cc
  Firestore/core/src/firebase/firestore/api/document_change.cc
  Firestore/core/src/firebase/firestore/api/document_snapshot.cc
  Firestore/core/src/firebase/firestore/api/query_snapshot.cc
  Firestore/core/src/firebase/firestore/core/CMakeLists.txt
  Firestore/core/src/firebase/firestore/core/query_listener.cc
  Firestore/core/src/firebase/firestore/core/user_data.cc
  Firestore/core/src/firebase/firestore/core/view_snapshot.cc
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/local_view_changes.cc
  Firestore/core/src/firebase/firestore/model/CMakeLists.txt
  Firestore/core/src/firebase/firestore/model/document_map.cc
  Firestore/core/src/firebase/firestore/model/document_set.cc
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/test/firebase/firestore/remote/CMakeLists.txt
Labels: api: firestore, cla: yes

#3592 Migrate from NSData to nanopb::ByteString for resume tokens
  Firestore/Example/Tests/Local/FSTLRUGarbageCollectorTests.mm
  Firestore/Example/Tests/Local/FSTLocalSerializerTests.mm
  Firestore/Example/Tests/Local/FSTLocalStoreTests.mm
  Firestore/Example/Tests/Local/FSTQueryCacheTests.mm
  Firestore/Example/Tests/Remote/FSTRemoteEventTests.mm
  Firestore/Example/Tests/Remote/FSTSerializerBetaTests.mm
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/Util/FSTHelpers.mm
  Firestore/Source/Core/FSTSyncEngine.mm
  Firestore/Source/Local/FSTLocalSerializer.mm
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/Source/Local/FSTQueryData.h
  Firestore/Source/Local/FSTQueryData.mm
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/core/src/firebase/firestore/api/CMakeLists.txt
  Firestore/core/src/firebase/firestore/core/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/datastore.h
  Firestore/core/src/firebase/firestore/remote/remote_event.h
  Firestore/core/src/firebase/firestore/remote/remote_event.mm
  Firestore/core/src/firebase/firestore/remote/remote_store.mm
  Firestore/core/src/firebase/firestore/remote/watch_change.h
  Firestore/core/src/firebase/firestore/remote/watch_change.mm
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#3628 Disable Firestore xcodebuild with tsan
  .travis.yml
Labels: api: firestore, cla: yes

#3627 Fix backgrounding in GDTStorage
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTLibrary/GDTStorage.m
  GoogleDataTransport/GDTLibrary/Private/GDTStorage_Private.h
  GoogleDataTransport/GDTLibrary/Public/GDTPlatform.h
  GoogleDataTransport/GDTTests/Lifecycle/GDTLifecycleTest.m
  GoogleDataTransport/GDTTests/Unit/GDTStorageTest.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTUploader.m
Labels: GoogleDataTransport, cla: yes

#3632 6.7.0 Cherry pick: Fix backgrounding in GDTStorage #3627
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTLibrary/GDTStorage.m
  GoogleDataTransport/GDTLibrary/Private/GDTStorage_Private.h
  GoogleDataTransport/GDTLibrary/Public/GDTPlatform.h
  GoogleDataTransport/GDTTests/Lifecycle/GDTLifecycleTest.m
  GoogleDataTransport/GDTTests/Unit/GDTStorageTest.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTUploader.m
Labels: cla: yes

#3620 Document undocumented declarations
  Firebase/DynamicLinks/Public/FDLURLComponents.h
  Firestore/Source/Public/FIRDocumentReference.h
  Firestore/Source/Public/FIRFieldPath.h
  Firestore/Source/Public/FIRFirestoreSource.h
  Firestore/Source/Public/FIRGeoPoint.h
  Firestore/Source/Public/FIRQuery.h
  Firestore/Source/Public/FIRTimestamp.h
Labels: api: dynamiclinks, api: firestore, cla: yes

#3633 More safely manage background tasks
  GoogleDataTransport/GDTLibrary/GDTPlatform.m
  GoogleDataTransport/GDTLibrary/GDTStorage.m
  GoogleDataTransport/GDTLibrary/GDTTransformer.m
  GoogleDataTransport/GDTLibrary/GDTUploadCoordinator.m
  GoogleDataTransport/GDTLibrary/Private/GDTStorage_Private.h
  GoogleDataTransport/GDTTests/Unit/GDTStorageTest.m
Labels: GoogleDataTransport, cla: yes

#3635 More safely manage background tasks (#3633)
  GoogleDataTransport/GDTLibrary/GDTPlatform.m
  GoogleDataTransport/GDTLibrary/GDTStorage.m
  GoogleDataTransport/GDTLibrary/GDTTransformer.m
  GoogleDataTransport/GDTLibrary/GDTUploadCoordinator.m
  GoogleDataTransport/GDTLibrary/Private/GDTStorage_Private.h
  GoogleDataTransport/GDTTests/Unit/GDTStorageTest.m
Labels: cla: yes

#3636 Use different modulemap for Carthage.
  ZipBuilder/Sources/ZipBuilder/CarthageUtils.swift
Labels: cla: yes

#3634 Remove no-longer-used `FSTAsyncQueryListener`
  Firestore/Source/Util/FSTAsyncQueryListener.h
Labels: api: firestore, cla: yes

#3619 Port waitForPendingWrites
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBMutationQueueTests.mm
  Firestore/Example/Tests/Local/FSTLocalStoreTests.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.h
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/Source/API/FIRFirestore+Internal.h
  Firestore/Source/API/FIRFirestore.mm
  Firestore/Source/Core/FSTFirestoreClient.h
  Firestore/Source/Core/FSTFirestoreClient.mm
  Firestore/Source/Core/FSTSyncEngine.h
  Firestore/Source/Core/FSTSyncEngine.mm
  Firestore/Source/Local/FSTLocalStore.h
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/core/src/firebase/firestore/api/firestore.h
  Firestore/core/src/firebase/firestore/api/firestore.mm
  Firestore/core/src/firebase/firestore/local/leveldb_mutation_queue.h
  Firestore/core/src/firebase/firestore/local/leveldb_mutation_queue.mm
  Firestore/core/src/firebase/firestore/local/memory_mutation_queue.h
  Firestore/core/src/firebase/firestore/local/memory_mutation_queue.mm
  Firestore/core/src/firebase/firestore/local/mutation_queue.h
  Firestore/core/src/firebase/firestore/remote/remote_store.h
Labels: api: firestore, cla: yes

#3595 Migrate FSTQueryData to C++ QueryData
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Example/Tests/Local/FSTLRUGarbageCollectorTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBQueryCacheTests.mm
  Firestore/Example/Tests/Local/FSTLocalSerializerTests.mm
  Firestore/Example/Tests/Local/FSTLocalStoreTests.mm
  Firestore/Example/Tests/Local/FSTQueryCacheTests.mm
  Firestore/Example/Tests/Remote/FSTRemoteEventTests.mm
  Firestore/Example/Tests/Remote/FSTSerializerBetaTests.mm
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.h
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.h
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/Example/Tests/Util/FSTHelpers.h
  Firestore/Example/Tests/Util/FSTHelpers.mm
  Firestore/Source/Core/FSTSyncEngine.mm
  Firestore/Source/Local/FSTLRUGarbageCollector.h
  Firestore/Source/Local/FSTLRUGarbageCollector.mm
  Firestore/Source/Local/FSTLevelDB.mm
  Firestore/Source/Local/FSTLocalSerializer.h
  Firestore/Source/Local/FSTLocalSerializer.mm
  Firestore/Source/Local/FSTLocalStore.h
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/Source/Local/FSTMemoryPersistence.mm
  Firestore/Source/Local/FSTPersistence.h
  Firestore/Source/Local/FSTQueryData.h
  Firestore/Source/Local/FSTQueryData.mm
  Firestore/Source/Remote/FSTSerializerBeta.h
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/core/src/firebase/firestore/local/leveldb_query_cache.h
  Firestore/core/src/firebase/firestore/local/leveldb_query_cache.mm
  Firestore/core/src/firebase/firestore/local/local_serializer.cc
  Firestore/core/src/firebase/firestore/local/memory_query_cache.h
  Firestore/core/src/firebase/firestore/local/memory_query_cache.mm
  Firestore/core/src/firebase/firestore/local/query_cache.h
  Firestore/core/src/firebase/firestore/local/query_data.cc
  Firestore/core/src/firebase/firestore/local/query_data.h
  Firestore/core/src/firebase/firestore/remote/remote_event.h
  Firestore/core/src/firebase/firestore/remote/remote_event.mm
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.h
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.mm
  Firestore/core/src/firebase/firestore/remote/remote_store.h
  Firestore/core/src/firebase/firestore/remote/remote_store.mm
  Firestore/core/src/firebase/firestore/remote/watch_stream.h
  Firestore/core/src/firebase/firestore/remote/watch_stream.mm
  Firestore/core/test/firebase/firestore/local/local_serializer_test.cc
  Firestore/core/test/firebase/firestore/testutil/xcgmock.h
Labels: api: firestore, cla: yes

#3639 Factor out nullability.h
  Firestore/core/src/firebase/firestore/api/document_snapshot.h
  Firestore/core/src/firebase/firestore/api/firestore.h
  Firestore/core/src/firebase/firestore/api/listener_registration.h
  Firestore/core/src/firebase/firestore/api/write_batch.h
  Firestore/core/src/firebase/firestore/core/event_manager.h
  Firestore/core/src/firebase/firestore/core/query_listener.h
  Firestore/core/src/firebase/firestore/core/view_snapshot.h
  Firestore/core/src/firebase/firestore/model/document_map.h
  Firestore/core/src/firebase/firestore/objc/objc_class.h
  Firestore/core/src/firebase/firestore/util/nullability.h
Labels: api: firestore, cla: yes

#3637 Upgrade LevelDB to 1.22
  FirebaseDatabase.podspec
  FirebaseFirestore.podspec
Labels: api: database, api: firestore, cla: yes

#3599 Retrying transactions with backoff
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/FSTTransactionTests.mm
  Firestore/Source/Core/FSTSyncEngine.mm
  Firestore/core/src/firebase/firestore/core/transaction_runner.h
  Firestore/core/src/firebase/firestore/core/transaction_runner.mm
  Firestore/core/src/firebase/firestore/remote/exponential_backoff.cc
  Firestore/core/src/firebase/firestore/remote/exponential_backoff.h
  Firestore/core/src/firebase/firestore/util/async_queue.cc
  Firestore/core/src/firebase/firestore/util/async_queue.h
Labels: api: firestore, cla: yes

#3645 Open Sourcing Remote Config
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/README.md
  FirebaseRemoteConfig/Sources/FIRConfigValue.m
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/FIRRemoteConfigComponent.h
  FirebaseRemoteConfig/Sources/FIRRemoteConfigComponent.m
  FirebaseRemoteConfig/Sources/FIRRemoteConfig_Internal.h
  FirebaseRemoteConfig/Sources/Protos/PortableProtoFilterTemplate.asciipb
  FirebaseRemoteConfig/Sources/Protos/wireless/android/config/proto/Config.pbobjc.h
  FirebaseRemoteConfig/Sources/Protos/wireless/android/config/proto/Config.pbobjc.m
  FirebaseRemoteConfig/Sources/Public/FIRRemoteConfig.h
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig.h
  FirebaseRemoteConfig/Sources/RCNConfigConstants.h
  FirebaseRemoteConfig/Sources/RCNConfigContent.h
  FirebaseRemoteConfig/Sources/RCNConfigContent.m
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.h
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.m
  FirebaseRemoteConfig/Sources/RCNConfigDefines.h
  FirebaseRemoteConfig/Sources/RCNConfigExperiment.h
  FirebaseRemoteConfig/Sources/RCNConfigExperiment.m
  FirebaseRemoteConfig/Sources/RCNConfigFetch.h
  FirebaseRemoteConfig/Sources/RCNConfigSettings.h
  FirebaseRemoteConfig/Sources/RCNConfigSettings.m
  FirebaseRemoteConfig/Sources/RCNConfigValue_Internal.h
  FirebaseRemoteConfig/Sources/RCNConstants3P.m
  FirebaseRemoteConfig/Sources/RCNDevice.h
  FirebaseRemoteConfig/Sources/RCNDevice.m
  FirebaseRemoteConfig/Sources/RCNFetch.m
  FirebaseRemoteConfig/Sources/RCNUserDefaultsManager.h
  FirebaseRemoteConfig/Sources/RCNUserDefaultsManager.m
  FirebaseRemoteConfig/Tests/Unit/Defaults-testInfo.plist
  FirebaseRemoteConfig/Tests/Unit/FIRRemoteConfigComponentTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigAnalyticsTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigContentTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigDBManagerTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigExperimentTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigSettingsTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigValueTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfig+FIRAppTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNTestUtilities.h
  FirebaseRemoteConfig/Tests/Unit/RCNTestUtilities.m
  FirebaseRemoteConfig/Tests/Unit/RCNThrottlingTests.m
  FirebaseRemoteConfig/Tests/Unit/RCNUserDefaultsManagerTests.m
  FirebaseRemoteConfig/Tests/Unit/SecondApp-GoogleService-Info.plist
Labels: api: remoteconfig, cla: yes

#3647 Fix Firestore builds under Xcode 8
  Firestore/Example/Podfile
  scripts/install_prereqs.sh
Labels: api: firestore, cla: yes

#3642 Add serializer support for transform mutations
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/src/firebase/firestore/remote/serializer.h
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#3654 Fix misplaced waitForPendingWrites
  Firestore/Source/API/FIRFirestore.mm
Labels: api: firestore, cla: yes

#3644 Revert "Disable Firestore xcodebuild with tsan (#3628)"
  .travis.yml
Labels: api: firestore, cla: yes

#3638 fix why local timezone message is never logged
  Firebase/Messaging/FIRMessagingContextManagerService.m
Labels: cla: yes

#3649 Start RemoteConfig CI and fix/ignore warnings
  .travis.yml
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigContentTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigDBManagerTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigExperimentTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNTestUtilities.h
  scripts/if_changed.sh
Labels: api: remoteconfig, cla: yes

#3643 Partially migrate stream tokens from NSData to ByteString
  Firestore/Example/Tests/Local/FSTLocalSerializerTests.mm
  Firestore/Example/Tests/Local/FSTMutationQueueTests.mm
  Firestore/Source/Local/FSTLocalSerializer.mm
  Firestore/Source/Local/FSTLocalStore.h
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/core/src/firebase/firestore/local/leveldb_mutation_queue.h
  Firestore/core/src/firebase/firestore/local/leveldb_mutation_queue.mm
  Firestore/core/src/firebase/firestore/local/memory_mutation_queue.h
  Firestore/core/src/firebase/firestore/local/memory_mutation_queue.mm
  Firestore/core/src/firebase/firestore/local/mutation_queue.h
  Firestore/core/src/firebase/firestore/nanopb/nanopb_util.cc
  Firestore/core/src/firebase/firestore/nanopb/nanopb_util.h
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/remote_event.cc
  Firestore/core/src/firebase/firestore/remote/remote_event.h
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.h
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.mm
  Firestore/core/src/firebase/firestore/remote/remote_store.mm
  Firestore/core/src/firebase/firestore/remote/write_stream.h
  Firestore/core/src/firebase/firestore/remote/write_stream.mm
Labels: api: firestore, cla: yes

#3665 Fix connectivity monitor redispatching.
  FirebaseFirestore.podspec
  Firestore/CHANGELOG.md
  Firestore/core/src/firebase/firestore/remote/connectivity_monitor_apple.mm
Labels: api: firestore, cla: yes

#3663 Fix connectivity monitor redispatching
  Firestore/core/src/firebase/firestore/remote/connectivity_monitor_apple.mm
Labels: api: firestore, cla: yes

#3666 Merge 6.7.0 patch 1
  FirebaseFirestore.podspec
  Firestore/CHANGELOG.md
Labels: cla: yes

#3574 Remove support for cached zip builds.
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
  ZipBuilder/Sources/ZipBuilder/main.swift
Labels: cla: yes, zip-builder

#3648 Conditionally use local sources for Firestore
  Firestore/Example/Podfile
  scripts/sync_project.rb
Labels: api: firestore, cla: yes

#3671 Properly pass carthage flag to CD.
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
Labels: cla: yes

#3674 Rename carthage directory when there's no RC number
  ZipBuilder/Sources/ZipBuilder/main.swift
Labels: cla: yes

#3675 Upgrade Firestore emulator to 1.8.0
  scripts/run_firestore_emulator.sh
Labels: api: firestore, cla: yes

#3672 Complete implementation of C++ MutationBatch
  Firestore/core/src/firebase/firestore/local/local_serializer.cc
  Firestore/core/src/firebase/firestore/model/CMakeLists.txt
  Firestore/core/src/firebase/firestore/model/mutation.cc
  Firestore/core/src/firebase/firestore/model/mutation.h
  Firestore/core/src/firebase/firestore/model/mutation_batch.cc
  Firestore/core/src/firebase/firestore/model/mutation_batch.h
  Firestore/core/src/firebase/firestore/model/mutation_batch_result.cc
  Firestore/core/src/firebase/firestore/model/mutation_batch_result.h
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/test/firebase/firestore/local/local_serializer_test.cc
Labels: api: firestore, cla: yes

#3673 Migrate FSTMutationBatch to C++ MutationBatch
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Example/Tests/Local/FSTLocalSerializerTests.mm
  Firestore/Example/Tests/Local/FSTLocalStoreTests.mm
  Firestore/Example/Tests/Local/FSTMutationQueueTests.mm
  Firestore/Example/Tests/Remote/FSTSerializerBetaTests.mm
  Firestore/Source/Core/FSTSyncEngine.mm
  Firestore/Source/Local/FSTLocalSerializer.h
  Firestore/Source/Local/FSTLocalSerializer.mm
  Firestore/Source/Local/FSTLocalStore.h
  Firestore/Source/Local/FSTLocalStore.mm
  Firestore/Source/Model/FSTMutationBatch.h
  Firestore/Source/Model/FSTMutationBatch.mm
  Firestore/Source/Remote/FSTSerializerBeta.h
  Firestore/Source/Remote/FSTSerializerBeta.mm
  Firestore/core/src/firebase/firestore/local/leveldb_mutation_queue.h
  Firestore/core/src/firebase/firestore/local/leveldb_mutation_queue.mm
  Firestore/core/src/firebase/firestore/local/local_documents_view.h
  Firestore/core/src/firebase/firestore/local/local_documents_view.mm
  Firestore/core/src/firebase/firestore/local/memory_mutation_queue.h
  Firestore/core/src/firebase/firestore/local/memory_mutation_queue.mm
  Firestore/core/src/firebase/firestore/local/mutation_queue.h
  Firestore/core/src/firebase/firestore/model/mutation_batch.cc
  Firestore/core/src/firebase/firestore/model/mutation_batch.h
  Firestore/core/src/firebase/firestore/model/mutation_batch_result.cc
  Firestore/core/src/firebase/firestore/model/mutation_batch_result.h
  Firestore/core/src/firebase/firestore/remote/remote_store.h
  Firestore/core/src/firebase/firestore/remote/remote_store.mm
  Firestore/core/test/firebase/firestore/testutil/xcgmock.h
Labels: api: firestore, cla: yes

#3717 Remote Config `pod spec lint` fixes
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/Tests/Unit/RCNConfigExperimentTest.m
Labels: cla: yes

#3718 6.8.0 cherry pick RemoteConfig #3717
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/Tests/Unit/RCNConfigExperimentTest.m
Labels: cla: yes

#3723 Remove references to UIWebView from DynamicLinks to comply with Apple…
  Firebase/DynamicLinks/FIRDLJavaScriptExecutor.m
Labels: cla: yes

#3724 Add FDL to M55
  Firebase/DynamicLinks/CHANGELOG.md
  Firebase/DynamicLinks/FIRDLJavaScriptExecutor.m
  FirebaseDynamicLinks.podspec
  Releases/Manifests/6.8.0.json
Labels: cla: yes

#3721 Fix accessing a destroyed object
  .travis.yml
  Firestore/Example/Firestore.xcodeproj/xcshareddata/xcschemes/Firestore_IntegrationTests_iOS.xcscheme
  Firestore/core/src/firebase/firestore/core/view.cc
Labels: api: firestore, cla: yes

#3725 Cherry pick #3721
  .travis.yml
  Firestore/Example/Firestore.xcodeproj/xcshareddata/xcschemes/Firestore_IntegrationTests_iOS.xcscheme
  Firestore/core/src/firebase/firestore/core/view.cc
Labels: api: firestore, cla: yes

#3714 Migrate travis to Xcode 10.3 and single platform builds
  .travis.yml
  Example/CoreDiagnostics/Tests/FIRCoreDiagnosticsTest.m
  Example/Podfile
  Gemfile
  Gemfile.lock
  scripts/build.sh
  scripts/if_changed.sh
  scripts/install_prereqs.sh
Labels: cla: yes

#3730 Disable loopy cron tests
  .travis.yml
Labels: cla: yes

#3731 Update packaging of MLKit pods.
  ZipBuilder/Sources/ZipBuilder/CocoaPod.swift
  ZipBuilder/Sources/ZipBuilder/main.swift
Labels: cla: yes
