Repository firebase/firebase-ios-sdk, pull requests merged in 2019-12, with the labels that each got.

#4426 Update GUComponents OCMock dependency.
  GoogleUtilitiesComponents.podspec
Labels: cla: yes

#4420 Change unit tests to avoid OCMock verifying a method call on a real object
  Firebase/InAppMessaging/Flows/FIRIAMFetchFlow.h
  Firebase/InAppMessaging/Flows/FIRIAMFetchFlow.m
  Firebase/InAppMessaging/Runtime/FIRIAMRuntimeManager.m
  InAppMessaging/Example/Podfile
  InAppMessaging/Example/Tests/FIRIAMFetchFlowTests.m
Labels: api: inappmessaging, cla: yes

#4418 Index-Free Queries (disabled, some code + tests missing)
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Local/FSTLocalStoreTests.mm
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/index_free_query_engine.cc
  Firestore/core/src/firebase/firestore/local/index_free_query_engine.h
  Firestore/core/src/firebase/firestore/local/leveldb_key.cc
  Firestore/core/src/firebase/firestore/local/leveldb_key.h
  Firestore/core/src/firebase/firestore/local/leveldb_remote_document_cache.cc
  Firestore/core/src/firebase/firestore/local/leveldb_remote_document_cache.h
  Firestore/core/src/firebase/firestore/local/local_documents_view.cc
  Firestore/core/src/firebase/firestore/local/local_documents_view.h
  Firestore/core/src/firebase/firestore/local/local_store.cc
  Firestore/core/src/firebase/firestore/local/memory_remote_document_cache.cc
  Firestore/core/src/firebase/firestore/local/memory_remote_document_cache.h
  Firestore/core/src/firebase/firestore/local/query_engine.h
  Firestore/core/src/firebase/firestore/local/remote_document_cache.h
  Firestore/core/src/firebase/firestore/local/simple_query_engine.cc
  Firestore/core/src/firebase/firestore/local/simple_query_engine.h
  Firestore/core/test/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/index_free_query_engine_test.cc
  Firestore/core/test/firebase/firestore/local/leveldb_key_test.cc
  Firestore/core/test/firebase/firestore/local/lru_garbage_collector_test.cc
  Firestore/core/test/firebase/firestore/local/remote_document_cache_test.cc
  Firestore/core/test/firebase/firestore/local/remote_document_cache_test.h
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#4433 Make module map build deterministic
  ZipBuilder/Sources/ZipBuilder/ModuleMapBuilder.swift
Labels: cla: yes, zip-builder

#4403 Internal code cleanup.
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/Private/RCNConfigSettings.h
  FirebaseRemoteConfig/Sources/RCNConfigFetch.h
  FirebaseRemoteConfig/Sources/RCNFetch.m
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/ViewController.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig, cla: yes

#4429 Zip Builder V2 Doc with Implementation summary
  ZipBuilder/ZipBuilderV2Plan.md
Labels: cla: yes, zip-builder

#4432 Fix typo
  GoogleDataTransportCCTSupport/ProtoSupport/README.md
Labels: GoogleDataTransport, cla: yes

#4422 ZipBuilder: -zipPods option
  ZipBuilder/README.md
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
  ZipBuilder/Sources/ZipBuilder/FirebaseBuilder.swift
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
  ZipBuilder/Sources/ZipBuilder/main.swift
  ZipBuilder/ZipBuilderV2Plan.md
Labels: cla: yes, zip-builder

#4423 Rename CocoaPod.swift to FirebasePods.swift
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
  ZipBuilder/Sources/ZipBuilder/FirebasePods.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
Labels: cla: yes, zip-builder

#4427 Firebase to generic pod cosmetic update
  ZipBuilder/Sources/ZipBuilder/FileManager+Utils.swift
Labels: cla: yes, zip-builder

#4428 Simplify Firebase pod naming
  Firebase/Core/CHANGELOG.md
  ZipBuilder/Sources/ZipBuilder/CarthageUtils.swift
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
  ZipBuilder/Sources/ZipBuilder/FirebasePods.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
  ZipBuilder/Template/README.md
Labels: api: core, cla: yes, zip-builder

#4437 Consolidate NOTICES files
  CoreOnly/NOTICES
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
  ZipBuilder/Template/NOTICES
Labels: api: core, cla: yes, zip-builder

#4439 Add ccache support to our CMakeLists.txt.
  CMAKE.md
  CMakeLists.txt
Labels: api: firestore, cla: yes

#4438 Throw an error if the fetch response returns an error (irrespective o…
  FirebaseRemoteConfig/Sources/RCNFetch.m
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/ViewController.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig, cla: yes

#4441 Lazily register for Core's user agent
  Example/Core/Tests/FIRAppTest.m
  Firebase/Core/CHANGELOG.md
  Firebase/Core/FIRApp.m
  Firebase/Core/FIROptions.m
Labels: api: core, cla: yes

#4440 Update CMake build docs for Windows
  CMAKE.md
Labels: api: firestore, cla: yes

#4435 Fix FIAM --analyze nullability issues
  .travis.yml
  Firebase/InAppMessaging/Flows/FIRIAMDisplayExecutor.m
Labels: api: inappmessaging, cla: yes

#4436 Allow multiple `configure` calls in an extension.
  Example/Core/Tests/FIRAppTest.m
  Firebase/Core/FIRApp.m
  Firebase/Core/FIROptions.m
Labels: api: core, cla: yes

#4380 Handle UISceneDelegate changes in Auth
  Firebase/Auth/Source/Auth/FIRAuth.m
  GoogleUtilities/AppDelegateSwizzler/GULAppDelegateSwizzler.m
  GoogleUtilities/AppDelegateSwizzler/Internal/GULAppDelegateSwizzler_Private.h
  GoogleUtilities/Common/GULLoggerCodes.h
  GoogleUtilities/Example/Tests/Swizzler/GULAppDelegateSwizzlerTest.m
Labels: GoogleUtilities, api: auth, cla: yes

#4448 Add "swift" flag to `firebaseUserAgent`
  Example/Core/Tests/FIRAppTest.m
  Example/Core/Tests/Swift/FIRAppTests.swift
  Example/Core/Tests/Swift/FirebaseCore-iOS-Unit-swift-unit-Bridging-Header.h
  Firebase/Core/FIRApp.m
  FirebaseCore.podspec
Labels: api: core, cla: yes

#4449 Speed up zip builder development iteration
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
Labels: cla: yes, zip-builder

#4450 Fix Zip README blank line separator
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
Labels: cla: yes, zip-builder

#4457 Disable use-libraries pod-lib-lint tests for Core
  .travis.yml
Labels: api: core, cla: yes

#4459 GoogleUtilities Changelog update
  GoogleUtilities/CHANGELOG.md
Labels: GoogleUtilities, cla: yes

#4458 M61 Core Changelog
  Firebase/Core/CHANGELOG.md
Labels: api: core, cla: yes

#4460 Updating Database Changelog
  Firebase/Database/CHANGELOG.md
Labels: api: database, cla: yes

#4463 Update CHANGELOG for GDTCCT
  GoogleDataTransportCCTSupport/CHANGELOG.md
Labels: GoogleDataTransport, cla: yes

#4464 In-App Messaging CHANGELOG for M61
  Firebase/InAppMessaging/CHANGELOG.md
Labels: api: inappmessaging, cla: yes

#4462 Consolidate SecureCoding to avoid a new subspec
  GoogleUtilities.podspec
  GoogleUtilities/CMakeLists.txt
  GoogleUtilities/Environment/GULHeartbeatDateStorage.m
  GoogleUtilities/Environment/GULSecureCoding.m
  GoogleUtilities/Environment/Public/GULHeartbeatDateStorage.h
  GoogleUtilities/Environment/Public/GULSecureCoding.h
Labels: GoogleUtilities, cla: yes

#4446 Fix crash when displaying UIAlertController for a test on device message that errored
  Firebase/InAppMessaging/Flows/FIRIAMDisplayExecutor.m
Labels: api: inappmessaging, cla: yes

#4466 update changelog for messaging and instanceID
  Firebase/InstanceID/CHANGELOG.md
  Firebase/Messaging/CHANGELOG.md
Labels: api: instanceid, api: messaging, cla: yes

#4454 Zip Builder - update protos
  ZipBuilder/Sources/ManifestReader/FirebaseSDKs.pb.swift
  ZipBuilder/Sources/ManifestReader/FirebaseSDKs.proto
  ZipBuilder/Sources/ManifestReader/ManifestReader.swift
Labels: cla: yes, zip-builder

#4468 Cleanup the documentation to clarify a few concerns developers addressed
  Firebase/InstanceID/CHANGELOG.md
  Firebase/InstanceID/FIRInstanceIDCheckinService.m
  Firebase/InstanceID/FIRInstanceIDKeyPairUtilities.m
Labels: api: instanceid, cla: yes

#4469 [Index-Free] Add Last Limbo Free Snapshot Version to Target Proto
  Firestore/Protos/cpp/firestore/local/target.pb.cc
  Firestore/Protos/cpp/firestore/local/target.pb.h
  Firestore/Protos/nanopb/firestore/local/target.nanopb.cc
  Firestore/Protos/nanopb/firestore/local/target.nanopb.h
  Firestore/Protos/protos/firestore/local/target.proto
Labels: api: firestore, cla: yes

#4470 Fix non-standard import
  Firebase/Core/FIRHeartbeatInfo.m
Labels: api: core, cla: yes

#4452 ZipBuilder: Get dependencies from the Podfile.lock
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
  ZipBuilder/Sources/ZipBuilder/ModuleMapBuilder.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
  ZipBuilder/Sources/ZipBuilder/main.swift
Labels: cla: yes, zip-builder

#4465 Update CHANGELOG.md for Auth
  Firebase/Auth/CHANGELOG.md
Labels: api: auth, cla: yes

#4453 Add -localPodspecPath option
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
Labels: cla: yes, zip-builder

#4456 ZipBuilder: Remove unnecessary public's
  ZipBuilder/Sources/ZipBuilder/CarthageUtils.swift
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
  ZipBuilder/Sources/ZipBuilder/FileManager+Utils.swift
  ZipBuilder/Sources/ZipBuilder/FirebasePods.swift
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
  ZipBuilder/Sources/ZipBuilder/HashCalculator.swift
  ZipBuilder/Sources/ZipBuilder/ModuleMapBuilder.swift
  ZipBuilder/Sources/ZipBuilder/ResourcesManager.swift
  ZipBuilder/Sources/ZipBuilder/URL+Utils.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
Labels: cla: yes, zip-builder

#4473 Remove unused test helpers
  Firestore/Example/Tests/Util/FSTHelpers.h
  Firestore/Example/Tests/Util/FSTHelpers.mm
Labels: api: firestore, cla: yes

#4479 update changelog
  Firebase/DynamicLinks/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
Labels: cla: yes

#4481 Clarify release note for external pr
  Firebase/DynamicLinks/CHANGELOG.md
Labels: api: dynamiclinks, cla: yes

#4485 Update CHANGELOG for Firestore v1.8.2
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#4482 Make -[FIRInstanceID appInstanceID:] safe to be called from any thread
  Example/InstanceID/Tests/FIRInstanceIDTest.m
  Firebase/InstanceID/FIRInstanceID+Private.m
  Firebase/InstanceID/FIRInstanceID.m
  Firebase/InstanceID/Private/FIRInstanceID_Private.h
Labels: api: instanceid, cla: yes

#4490 Ignore warning of unused ivar of apns token
  Firebase/Auth/Source/Auth/FIRAuth.m
Labels: api: auth, cla: yes

#4492 Flush out Zip Builder release docs
  ZipBuilder/README.md
Labels: cla: yes, zip-builder

#4413 [1/4] Split Query and Target, and make LocalStore/RemoteStore work with Target.
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Source/API/FIRQuery.mm
  Firestore/core/src/firebase/firestore/core/CMakeLists.txt
  Firestore/core/src/firebase/firestore/core/query.cc
  Firestore/core/src/firebase/firestore/core/query.h
  Firestore/core/src/firebase/firestore/core/sync_engine.cc
  Firestore/core/src/firebase/firestore/core/sync_engine.h
  Firestore/core/src/firebase/firestore/core/target.cc
  Firestore/core/src/firebase/firestore/core/target.h
  Firestore/core/src/firebase/firestore/core/view.cc
  Firestore/core/src/firebase/firestore/local/index_free_query_engine.cc
  Firestore/core/src/firebase/firestore/local/leveldb_query_cache.cc
  Firestore/core/src/firebase/firestore/local/leveldb_query_cache.h
  Firestore/core/src/firebase/firestore/local/local_serializer.cc
  Firestore/core/src/firebase/firestore/local/local_store.cc
  Firestore/core/src/firebase/firestore/local/local_store.h
  Firestore/core/src/firebase/firestore/local/memory_query_cache.cc
  Firestore/core/src/firebase/firestore/local/memory_query_cache.h
  Firestore/core/src/firebase/firestore/local/query_cache.h
  Firestore/core/src/firebase/firestore/local/query_data.cc
  Firestore/core/src/firebase/firestore/local/query_data.h
  Firestore/core/src/firebase/firestore/remote/remote_event.cc
  Firestore/core/src/firebase/firestore/remote/remote_event.h
  Firestore/core/src/firebase/firestore/remote/remote_store.cc
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/src/firebase/firestore/remote/serializer.h
  Firestore/core/test/firebase/firestore/local/leveldb_query_cache_test.cc
  Firestore/core/test/firebase/firestore/local/local_serializer_test.cc
  Firestore/core/test/firebase/firestore/local/lru_garbage_collector_test.cc
  Firestore/core/test/firebase/firestore/local/query_cache_test.cc
  Firestore/core/test/firebase/firestore/remote/fake_target_metadata_provider.cc
  Firestore/core/test/firebase/firestore/remote/remote_event_test.cc
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
Labels: api: firestore, cla: yes

#4494 Update Carthage for new Zip layout
  ZipBuilder/Sources/ZipBuilder/CarthageUtils.swift
Labels: Carthage, cla: yes, zip-builder

#4294 Add NS_SWIFT_NAME for FIRInAppMessagingCampaignInfo
  Firebase/InAppMessaging/Public/FIRInAppMessagingRendering.h
Labels: api: inappmessaging, cla: yes

#4498 Fix crash in Scene delegate swizzling when delegate is nil
  GoogleUtilities/AppDelegateSwizzler/GULAppDelegateSwizzler.m
  GoogleUtilities/Example/Tests/Swizzler/GULAppDelegateSwizzlerTest.m
Labels: GoogleUtilities, cla: yes

#4499 Release 6.14.0 cherry pick of #4498
  GoogleUtilities/AppDelegateSwizzler/GULAppDelegateSwizzler.m
  GoogleUtilities/Example/Tests/Swizzler/GULAppDelegateSwizzlerTest.m
Labels: GoogleUtilities, cla: yes

#4495 FirebaseInstallations - extensions support
  FirebaseInstallations/Source/Library/FIRInstallations.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.h
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStore.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsStoreTests.m
Labels: api: installations, cla: yes

#4501 Add platform specific macros
  Firebase/Auth/Source/AuthProvider/Phone/FIRPhoneAuthCredential.m
  Firebase/Auth/Source/AuthProvider/Phone/FIRPhoneAuthCredential_Internal.h
  Firebase/Auth/Source/AuthProvider/Phone/FIRPhoneAuthProvider.m
  Firebase/Auth/Source/Public/FIRAuthAPNSTokenType.h
  Firebase/Auth/Source/Public/FIRAuthUIDelegate.h
  Firebase/Auth/Source/Public/FIRPhoneAuthCredential.h
  Firebase/Auth/Source/Public/FIRPhoneAuthProvider.h
  Firebase/Auth/Source/SystemService/FIRAuthAPNSToken.h
  Firebase/Auth/Source/SystemService/FIRAuthAPNSToken.m
  Firebase/Auth/Source/SystemService/FIRAuthAPNSTokenManager.h
  Firebase/Auth/Source/SystemService/FIRAuthAPNSTokenManager.m
  Firebase/Auth/Source/SystemService/FIRAuthAppCredentialManager.h
  Firebase/Auth/Source/SystemService/FIRAuthAppCredentialManager.m
  Firebase/Auth/Source/SystemService/FIRAuthNotificationManager.h
  Firebase/Auth/Source/SystemService/FIRAuthNotificationManager.m
  Firebase/Auth/Source/Utilities/FIRAuthDefaultUIDelegate.h
  Firebase/Auth/Source/Utilities/FIRAuthDefaultUIDelegate.m
  Firebase/Auth/Source/Utilities/FIRAuthURLPresenter.h
  Firebase/Auth/Source/Utilities/FIRAuthURLPresenter.m
  Firebase/Auth/Source/Utilities/FIRAuthWebView.h
  Firebase/Auth/Source/Utilities/FIRAuthWebView.m
  Firebase/Auth/Source/Utilities/FIRAuthWebViewController.h
  Firebase/Auth/Source/Utilities/FIRAuthWebViewController.m
  FirebaseAuth.podspec
Labels: api: auth, cla: yes

#4506 Fix typo in changelog
  Firebase/DynamicLinks/CHANGELOG.md
Labels: api: dynamiclinks, cla: yes

#4508 Work around a library issue in Visual Studio 2015
  Firestore/core/src/firebase/firestore/util/executor_std.h
Labels: api: firestore, cla: yes

#3894 Update instructions for auth api tests.
  Example/Auth/ApiTests/AccountInfoTests.m
  Example/Auth/ApiTests/AuthCredentialsTemplate.h
  Example/Auth/ApiTests/EmailPasswordAuthTests.m
  Example/Auth/ApiTests/FIRAuthApiTestsBase.m
  Example/Auth/ApiTests/GoogleAuthTests.m
  Example/Auth/ApiTests/generate_refresh_token.sh
  Example/Auth/README.md
  Example/Auth/Sample/ApplicationTemplate.plist
Labels: api: auth, cla: yes

#4503 Restrict use of Abseil types in public C++ accessible APIs
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/API/FIRQuerySnapshotTests.mm
  Firestore/Source/API/FIRDocumentSnapshot.mm
  Firestore/Source/API/FIRFirestore.mm
  Firestore/core/src/firebase/firestore/api/collection_reference.cc
  Firestore/core/src/firebase/firestore/api/collection_reference.h
  Firestore/core/src/firebase/firestore/api/document_reference.cc
  Firestore/core/src/firebase/firestore/api/document_snapshot.cc
  Firestore/core/src/firebase/firestore/api/document_snapshot.h
  Firestore/core/src/firebase/firestore/api/firestore.cc
  Firestore/core/src/firebase/firestore/api/firestore.h
  Firestore/core/src/firebase/firestore/api/query_snapshot.cc
  Firestore/core/src/firebase/firestore/core/firestore_client.cc
  Firestore/core/src/firebase/firestore/core/transaction.h
  Firestore/core/src/firebase/firestore/core/transaction_runner.cc
  Firestore/core/src/firebase/firestore/core/transaction_runner.h
  Firestore/core/src/firebase/firestore/model/document.h
  Firestore/core/src/firebase/firestore/model/document_key.h
  Firestore/core/src/firebase/firestore/model/field_path.cc
  Firestore/core/src/firebase/firestore/model/field_path.h
  Firestore/core/src/firebase/firestore/model/field_value.cc
  Firestore/core/src/firebase/firestore/model/field_value.h
  Firestore/core/src/firebase/firestore/model/resource_path.cc
  Firestore/core/src/firebase/firestore/model/resource_path.h
  Firestore/core/src/firebase/firestore/model/transform_operation.h
  Firestore/core/src/firebase/firestore/remote/serializer.cc
  Firestore/core/src/firebase/firestore/remote/serializer.h
  Firestore/core/test/firebase/firestore/model/field_value_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#4515 Avoid absl::string_view in util::Status
  Firestore/core/src/firebase/firestore/core/sync_engine.cc
  Firestore/core/src/firebase/firestore/core/sync_engine.h
  Firestore/core/src/firebase/firestore/nanopb/reader.h
  Firestore/core/src/firebase/firestore/util/status.cc
  Firestore/core/src/firebase/firestore/util/status.h
Labels: api: firestore, cla: yes

#4516 Avoid absl::string_view in util::Status (#4515)
  Firestore/core/src/firebase/firestore/core/sync_engine.cc
  Firestore/core/src/firebase/firestore/core/sync_engine.h
  Firestore/core/src/firebase/firestore/nanopb/reader.h
  Firestore/core/src/firebase/firestore/util/status.cc
  Firestore/core/src/firebase/firestore/util/status.h
Labels: api: firestore, cla: yes

#4519 Firestore 1.8.3 version bump
  FirebaseFirestore.podspec
Labels: cla: yes

#4511 FirebaseInstallations: require Core version with heartbeat
  FirebaseInstallations.podspec
Labels: cla: yes

#4518 GULAppDelegateSwizzler - comments updated
  GoogleUtilities/AppDelegateSwizzler/GULAppDelegateSwizzler.m
Labels: GoogleUtilities, cla: yes

#4523 Work around spurious errors in GCC 4.8
  Firestore/core/src/firebase/firestore/core/sync_engine.cc
  Firestore/core/src/firebase/firestore/remote/remote_event.h
Labels: api: firestore, cla: yes

#4521 Improve pod gen instructions
  README.md
Labels: cla: yes

#4520 Post Firestore 1.8.3 master merge
  FirebaseFirestore.podspec
Labels: cla: yes

#4522 FirebaseInstallations: prepare IID with FIS dependency for release
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  scripts/if_changed.sh
Labels: cla: yes

#4526 Travis: remove mm/fis-integration-master branch
  .travis.yml
Labels: cla: yes

#4527 Permanently fix formatting presubmit warnings in google3
  Firestore/third_party/FirestoreEncoder/METADATA
Labels: api: firestore, cla: yes

#4532 Update README for Catalyst
  README.md
Labels: cla: yes

#4491 [2/4]LimitToLast: Make SyncEngine work with Target
  Firestore/core/src/firebase/firestore/core/sync_engine.cc
  Firestore/core/src/firebase/firestore/core/sync_engine.h
  Firestore/core/src/firebase/firestore/local/local_store.cc
  Firestore/core/src/firebase/firestore/local/local_store.h
  Firestore/core/test/firebase/firestore/local/local_store_test.cc
Labels: api: firestore, cla: yes

#4528 Implement bulk sql execution
  GoogleDataTransport/GDTCORLibrary/GDTCORDatabase.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORDatabase.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORSqlite.h
  GoogleDataTransport/GDTCORTests/Unit/GDTCORDatabaseTest.m
Labels: GoogleDataTransport, cla: yes

#4534 Change custom prioritization dictionary to bytes
  GoogleDataTransport/GDTCORLibrary/GDTCOREvent.m
  GoogleDataTransport/GDTCORLibrary/GDTCORSqlite.m
  GoogleDataTransport/GDTCORLibrary/GDTCORStoredEvent.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCOREvent.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORStoredEvent.h
  GoogleDataTransport/GDTCORTests/Unit/GDTCORSqliteTest.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORStoredEventTest.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/Helpers/GDTCCTEventGenerator.m
Labels: GoogleDataTransport, cla: yes

#4525 Update primaryActionURL on card message to be nullable
  Firebase/InAppMessaging/Public/FIRInAppMessagingRendering.h
  Firebase/InAppMessaging/RenderingObjects/FIRInAppMessagingRenderingDataClasses.m
  Firebase/InAppMessaging/RenderingObjects/FIRInAppMessagingRenderingPrivate.h
Labels: api: inappmessaging, cla: yes

#4536 Bump travis to 11.3
  .travis.yml
Labels: cla: yes

#4533 IID: version dependent on FirebaseInstallations
  Example/Firebase.xcodeproj/project.pbxproj
  Example/InstanceID/Tests/FIRInstanceIDKeyPairMigrationTest.m
  Example/InstanceID/Tests/FIRInstanceIDKeyPairStoreTest.m
  Example/InstanceID/Tests/FIRInstanceIDKeyPairTest.m
  Example/InstanceID/Tests/FIRInstanceIDTest.m
  Example/InstanceID/Tests/FIRInstanceIDTokenManagerTest.m
  Example/InstanceID/Tests/FIRInstanceIDTokenOperationsTest.m
  Example/Messaging/Tests/FIRInstanceIDWithFCMTest.m
  Example/Messaging/Tests/FIRMessagingClientTest.m
  Example/Messaging/Tests/FIRMessagingHandlingTest.m
  Example/Messaging/Tests/FIRMessagingLinkHandlingTest.m
  Example/Messaging/Tests/FIRMessagingServiceTest.m
  Example/Messaging/Tests/FIRMessagingTest.m
  Example/Messaging/Tests/FIRMessagingTestUtilities.h
  Example/Messaging/Tests/FIRMessagingTestUtilities.m
  Example/Podfile
  Firebase/InstanceID/FIRIMessageCode.h
  Firebase/InstanceID/FIRInstanceID+Private.m
  Firebase/InstanceID/FIRInstanceID.m
  Firebase/InstanceID/FIRInstanceIDKeyPair.h
  Firebase/InstanceID/FIRInstanceIDKeyPair.m
  Firebase/InstanceID/FIRInstanceIDKeyPairStore.h
  Firebase/InstanceID/FIRInstanceIDKeyPairStore.m
  Firebase/InstanceID/FIRInstanceIDKeyPairUtilities.h
  Firebase/InstanceID/FIRInstanceIDKeyPairUtilities.m
  Firebase/InstanceID/FIRInstanceIDKeychain.h
  Firebase/InstanceID/FIRInstanceIDKeychain.m
  Firebase/InstanceID/FIRInstanceIDTokenDeleteOperation.h
  Firebase/InstanceID/FIRInstanceIDTokenDeleteOperation.m
  Firebase/InstanceID/FIRInstanceIDTokenFetchOperation.h
  Firebase/InstanceID/FIRInstanceIDTokenFetchOperation.m
  Firebase/InstanceID/FIRInstanceIDTokenManager.h
  Firebase/InstanceID/FIRInstanceIDTokenManager.m
  Firebase/InstanceID/FIRInstanceIDTokenOperation+Private.h
  Firebase/InstanceID/FIRInstanceIDTokenOperation.h
  Firebase/InstanceID/FIRInstanceIDTokenOperation.m
  Firebase/InstanceID/Private/FIRInstanceID+Private.h
  Firebase/InstanceID/Private/FIRInstanceID_Private.h
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseRemoteConfig/Tests/Sample/Podfile
  InAppMessaging/Example/Podfile
  InAppMessagingDisplay/Example/Podfile
  scripts/if_changed.sh
Labels: api: inappmessaging, api: instanceid, api: remoteconfig, cla: yes

#4539 Update the cron tests for FirebaseInstallations
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_6_1_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_6_1_staticLibs/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_multiprojects_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_multiprojects_staticLibs/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_staticLibs/Podfile
Labels: Infrastructure, api: installations, cla: yes

#4540 One more Podfile update for Installations
  Example/Auth/AuthSample/Podfile
Labels: api: auth, api: installations, cla: yes

#4545 style.sh: update clang-format formula in suggestions
  scripts/style.sh
Labels: cla: yes

#4544 FirebaseInstallations: Apply static analyzer issue fix (cl/284637845)
  FirebaseInstallations/Source/Library/IIDMigration/FIRInstallationsIIDStore.m
Labels: api: installations, cla: yes

#4016 Enables Firebase Messaging push notification function on watch only and independent watch app
  .travis.yml
  Example/Messaging/Tests/FIRMessagingInstanceTest.swift
  Firebase/Core/FIRApp.m
  Firebase/InstanceID/FIRInstanceID.m
  Firebase/InstanceID/FIRInstanceIDAuthKeyChain.m
  Firebase/InstanceID/FIRInstanceIDUtilities.m
  Firebase/Messaging/FIRMessaging.m
  Firebase/Messaging/FIRMessagingExtensionHelper.m
  Firebase/Messaging/FIRMessagingUtilities.m
  FirebaseAnalyticsInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCoreDiagnosticsInterop.podspec
  FirebaseInstallations.podspec
  FirebaseInstallations/Source/Library/IIDMigration/FIRInstallationsIIDTokenStore.m
  FirebaseInstallations/Source/Library/SecureStorage/FIRSecureStorage.m
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
  GoogleDataTransport.podspec
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/GDTCORReachability.m
  GoogleDataTransport/GDTCORLibrary/GDTCORStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORReachability.h
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORReachability_Private.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORPlatform.h
  GoogleDataTransportCCTSupport.podspec
  GoogleUtilities.podspec
  GoogleUtilities/AppDelegateSwizzler/GULAppDelegateSwizzler.m
  GoogleUtilities/AppDelegateSwizzler/Private/GULApplication.h
  GoogleUtilities/Environment/GULSecureCoding.m
  GoogleUtilities/Environment/third_party/GULAppEnvironmentUtil.m
  GoogleUtilities/Network/GULNetworkURLSession.m
  GoogleUtilities/Reachability/GULReachabilityChecker+Internal.h
  GoogleUtilities/Reachability/GULReachabilityChecker.m
  GoogleUtilities/Reachability/Private/GULReachabilityChecker.h
Labels: GoogleDataTransport, GoogleUtilities, api: core, api: installations, api: instanceid, api: messaging, cla: yes, watchOS

#4566 Disable broken Auth Api Tests
  .travis.yml
Labels: cla: yes

#4538 Fix lint warnings spotted by google3's linter
  Firestore/Example/Tests/Integration/FSTTransactionTests.mm
Labels: api: firestore, cla: yes
