Repository firebase/firebase-ios-sdk, pull requests merged in 2019-11, with the labels that each got.

#4214 Fix formatting breakage
  kokoro/README.md
  kokoro/macos_external/continuous.sh
Labels: cla: yes

#4213 FirebaseCore version bump to 6.3.3
  Firebase.podspec
  FirebaseCore.podspec
Labels: cla: yes

#4219 6.12.0 Release manifest updated.
  Releases/Manifests/6.12.0.json
Labels: cla: yes

#4220 Revert "Add OIDC nonce support"
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential.m
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential_Internal.h
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthProvider.m
  Firebase/Auth/Source/Backend/FIRAuthBackend.m
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.h
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.m
  Firebase/Auth/Source/Public/FIRAuthErrors.h
  Firebase/Auth/Source/Public/FIROAuthProvider.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.m
  Firebase/Auth/Source/Utilities/FIRAuthInternalErrors.h
Labels: api: auth, cla: yes

#4222 Release 6.12.0: cherry pick of #4220
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential.m
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential_Internal.h
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthProvider.m
  Firebase/Auth/Source/Backend/FIRAuthBackend.m
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.h
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.m
  Firebase/Auth/Source/Public/FIRAuthErrors.h
  Firebase/Auth/Source/Public/FIROAuthProvider.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.m
  Firebase/Auth/Source/Utilities/FIRAuthInternalErrors.h
Labels: cla: yes

#4160 Port FSTQueryCacheTests to C++
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Local/FSTLevelDBQueryCacheTests.mm
  Firestore/Example/Tests/Local/FSTMemoryQueryCacheTests.mm
  Firestore/Example/Tests/Local/FSTQueryCacheTests.h
  Firestore/Example/Tests/Local/FSTQueryCacheTests.mm
  Firestore/core/test/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/leveldb_query_cache_test.cc
  Firestore/core/test/firebase/firestore/local/memory_query_cache_test.cc
  Firestore/core/test/firebase/firestore/local/query_cache_test.cc
  Firestore/core/test/firebase/firestore/local/query_cache_test.h
Labels: api: firestore, cla: yes

#4224 FIS: Use IID auth token to authorize IID migration.
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsErrorUtil.h
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsErrorUtil.m
  FirebaseInstallations/Source/Library/FIRInstallations.m
  FirebaseInstallations/Source/Library/FIRInstallationsItem.h
  FirebaseInstallations/Source/Library/FIRInstallationsItem.m
  FirebaseInstallations/Source/Library/IIDMigration/FIRInstallationsIIDCheckinStore.m
  FirebaseInstallations/Source/Library/IIDMigration/FIRInstallationsIIDTokenStore.h
  FirebaseInstallations/Source/Library/IIDMigration/FIRInstallationsIIDTokenStore.m
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.h
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredIIDCheckin.h
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredIIDCheckin.m
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredItem.h
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredItem.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIDControllerTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIIDCheckinStoreTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIIDTokenStoreTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsStoredItemTests.m
Labels: api: installations, cla: yes

#4185 Various minor fixes to make SDK compile on Linux
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/core/src/firebase/firestore/core/firestore_client.mm
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/leveldb_persistence.cc
  Firestore/core/src/firebase/firestore/local/leveldb_persistence.h
  Firestore/core/src/firebase/firestore/local/leveldb_persistence_apple.mm
  Firestore/core/src/firebase/firestore/local/leveldb_persistence_posix.cc
  Firestore/core/src/firebase/firestore/local/leveldb_query_cache.cc
  Firestore/core/src/firebase/firestore/local/local_documents_view.cc
  Firestore/core/test/firebase/firestore/core/query_listener_test.cc
  Firestore/core/test/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/leveldb_persistence_test.cc
  Firestore/core/test/firebase/firestore/remote/remote_event_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
Labels: api: firestore, cla: yes

#4231 check_whitespaces.sh: ignore notice files
  scripts/check_whitespace.sh
Labels: cla: yes

#4227 Prevent race conditions in DatastoreTest
  Firestore/core/test/firebase/firestore/remote/datastore_test.cc
Labels: api: firestore, cla: yes

#4229 Disallow empty document fields
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/core/src/firebase/firestore/core/user_data.cc
Labels: api: firestore, cla: yes

#4232 Release 6.12.0: Revert Auth podspec version bump.
  FirebaseAuth.podspec
Labels: cla: yes

#4233 6.12.0: Auth removed from release manifest
  Releases/Manifests/6.12.0.json
Labels: cla: yes

#4234 6.12.0: Firebase.podspec FirebaseAuth pod version reverted, cherry-pick #4231
  Firebase.podspec
  scripts/check_whitespace.sh
Labels: cla: yes

#4212 Don't use the address of a TimeSlot as a key for removal
  Firestore/core/src/firebase/firestore/util/executor_libdispatch.h
  Firestore/core/src/firebase/firestore/util/executor_libdispatch.mm
Labels: api: firestore, cla: yes

#4242 Release 6.12.0: Remove unnecessary NOTICES file
  Firebase/Firebase/NOTICES
  scripts/check_whitespace.sh
Labels: cla: yes

#4243 RemoteConfig M59 release notes
  FirebaseRemoteConfig/CHANGELOG.md
Labels: api: remoteconfig, cla: yes

#4235 Update header docs based on feedback in cr/278458897
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/Public/FIRQuery.h
Labels: api: firestore, cla: yes

#4245 Allow failures in FirebaseMessaging
  .travis.yml
Labels: cla: yes

#4244 Update Core CHANGELOG for M59
  Firebase/Core/CHANGELOG.md
Labels: api: core, cla: yes

#4161 Add --analyze to pod lib lint tests
  .travis.yml
  scripts/pod_lib_lint.rb
Labels: Infrastructure, cla: yes

#4248 ZipBuilder README update
  ZipBuilder/README.md
Labels: cla: yes

#4254 Test with Xcode 10.3 instead of 10.2
  .travis.yml
Labels: cla: yes

#4259 Clarify an ambiguous Carthage instruction
  Carthage.md
Labels: cla: yes

#4249 Require CMake 3.5.1; upgrade Google Benchmark to 1.5.0
  CMakeLists.txt
  Firestore/Example/GoogleBenchmark.podspec
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  cmake/external/benchmark.cmake
Labels: api: firestore, cla: yes

#4208 Port FSTMutationQueueTests to C++
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Local/FSTLevelDBMutationQueueTests.mm
  Firestore/Example/Tests/Local/FSTMemoryMutationQueueTests.mm
  Firestore/Example/Tests/Local/FSTMutationQueueTests.h
  Firestore/Example/Tests/Local/FSTMutationQueueTests.mm
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/leveldb_mutation_queue_test.cc
  Firestore/core/test/firebase/firestore/local/memory_mutation_queue_test.cc
  Firestore/core/test/firebase/firestore/local/mutation_queue_test.cc
  Firestore/core/test/firebase/firestore/local/mutation_queue_test.h
  Firestore/core/test/firebase/firestore/local/query_cache_test.h
  Firestore/core/test/firebase/firestore/local/remote_document_cache_test.h
Labels: api: firestore, cla: yes

#4251 Make the CMake build warning free
  CMakeLists.txt
  cmake/archive_options.cmake
Labels: api: firestore, cla: yes

#4236 Remove unnecessary rmq database operations in unit tests.
  .travis.yml
  Example/Messaging/Tests/FIRInstanceIDWithFCMTest.m
  Example/Messaging/Tests/FIRMessagingHandlingTest.m
  Example/Messaging/Tests/FIRMessagingLinkHandlingTest.m
  Example/Messaging/Tests/FIRMessagingServiceTest.m
  Example/Messaging/Tests/FIRMessagingTest.m
  Example/Messaging/Tests/FIRMessagingTestUtilities.h
  Example/Messaging/Tests/FIRMessagingTestUtilities.m
  Firebase/Messaging/FIRMessagingRmqManager.m
Labels: api: messaging, cla: yes

#4258 FIS: IID incompatible version exception.
  .travis.yml
  FirebaseInstallations.podspec
  FirebaseInstallations/Source/Library/FIRInstallations.m
Labels: api: installations, cla: yes

#4250 Upgrade GoogleTest to 1.10.0
  Firestore/Example/GoogleTest.podspec
  Firestore/core/test/firebase/firestore/immutable/sorted_map_test.cc
  Firestore/core/test/firebase/firestore/local/leveldb_index_manager_test.cc
  Firestore/core/test/firebase/firestore/local/leveldb_query_cache_test.cc
  Firestore/core/test/firebase/firestore/local/leveldb_remote_document_cache_test.cc
  Firestore/core/test/firebase/firestore/local/memory_index_manager_test.cc
  Firestore/core/test/firebase/firestore/local/memory_query_cache_test.cc
  Firestore/core/test/firebase/firestore/local/memory_remote_document_cache_test.cc
  Firestore/core/test/firebase/firestore/local/query_cache_test.h
  Firestore/core/test/firebase/firestore/local/remote_document_cache_test.h
  Firestore/core/test/firebase/firestore/util/async_queue_libdispatch_test.mm
  Firestore/core/test/firebase/firestore/util/async_queue_std_test.cc
  Firestore/core/test/firebase/firestore/util/executor_libdispatch_test.mm
  Firestore/core/test/firebase/firestore/util/executor_std_test.cc
  cmake/external/googletest.cmake
Labels: api: firestore, cla: yes

#4256 Get Windows and Linux builds to compile again
  Firestore/Protos/build_protos.py
  Firestore/Protos/cpp/google/firestore/v1/query.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/query.pb.h
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/leveldb_persistence_win.cc
  Firestore/core/src/firebase/firestore/util/filesystem.h
  Firestore/core/src/firebase/firestore/util/filesystem_common.cc
  Firestore/core/src/firebase/firestore/util/filesystem_detail.h
  Firestore/core/src/firebase/firestore/util/filesystem_posix.cc
  Firestore/core/src/firebase/firestore/util/filesystem_win.cc
  Firestore/core/test/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/test/firebase/firestore/remote/datastore_test.cc
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
  Firestore/core/test/firebase/firestore/remote/stream_test.cc
  Firestore/core/test/firebase/firestore/testutil/testutil.h
  Firestore/core/test/firebase/firestore/util/to_string_test.cc
Labels: api: firestore, cla: yes

#4262 IID: indication of compatibility with FIS
  Firebase/InstanceID/FIRInstanceID+Private.m
Labels: api: installations, api: instanceid, cla: yes

#4252 Upgrade gRPC to 1.24.3; upgrade protobuf to 3.9.2
  CMakeLists.txt
  Firestore/Example/ProtobufCpp.podspec
  Firestore/Protos/CMakeLists.txt
  Firestore/Protos/cpp/firestore/local/maybe_document.pb.cc
  Firestore/Protos/cpp/firestore/local/maybe_document.pb.h
  Firestore/Protos/cpp/firestore/local/mutation.pb.cc
  Firestore/Protos/cpp/firestore/local/mutation.pb.h
  Firestore/Protos/cpp/firestore/local/target.pb.cc
  Firestore/Protos/cpp/firestore/local/target.pb.h
  Firestore/Protos/cpp/google/api/annotations.pb.cc
  Firestore/Protos/cpp/google/api/annotations.pb.h
  Firestore/Protos/cpp/google/api/http.pb.cc
  Firestore/Protos/cpp/google/api/http.pb.h
  Firestore/Protos/cpp/google/firestore/v1/common.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/common.pb.h
  Firestore/Protos/cpp/google/firestore/v1/document.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/document.pb.h
  Firestore/Protos/cpp/google/firestore/v1/firestore.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/firestore.pb.h
  Firestore/Protos/cpp/google/firestore/v1/query.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/query.pb.h
  Firestore/Protos/cpp/google/firestore/v1/write.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/write.pb.h
  Firestore/Protos/cpp/google/rpc/status.pb.cc
  Firestore/Protos/cpp/google/rpc/status.pb.h
  Firestore/Protos/cpp/google/type/latlng.pb.cc
  Firestore/Protos/cpp/google/type/latlng.pb.h
  Firestore/Protos/objc/firestore/local/MaybeDocument.pbobjc.m
  Firestore/Protos/objc/firestore/local/Mutation.pbobjc.m
  Firestore/Protos/objc/firestore/local/Target.pbobjc.m
  Firestore/Protos/objc/google/api/HTTP.pbobjc.m
  Firestore/Protos/objc/google/firestore/v1/Common.pbobjc.m
  Firestore/Protos/objc/google/firestore/v1/Document.pbobjc.m
  Firestore/Protos/objc/google/firestore/v1/Firestore.pbobjc.m
  Firestore/Protos/objc/google/firestore/v1/Query.pbobjc.m
  Firestore/Protos/objc/google/firestore/v1/Write.pbobjc.m
  Firestore/Protos/objc/google/rpc/Status.pbobjc.m
  Firestore/Protos/objc/google/type/Latlng.pbobjc.m
  Firestore/core/test/firebase/firestore/local/leveldb_mutation_queue_test.cc
  Firestore/core/test/firebase/firestore/local/memory_mutation_queue_test.cc
  Firestore/core/test/firebase/firestore/local/mutation_queue_test.h
  cmake/external/boringssl.cmake
  cmake/external/grpc.cmake
  cmake/external/protobuf.cmake
  scripts/sync_project.rb
Labels: api: firestore, cla: yes

#4189 C++ migration: remove the dependency on Objective-C `Protobuf` library
  FirebaseFirestore.podspec
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/ConvertTextToBinary.sh
  Firestore/Example/Podfile
  Firestore/Example/Tests/Local/FSTLevelDBMigrationsTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBTransactionTests.mm
  Firestore/Protos/CMakeLists.txt
  Firestore/Protos/objc/firestore/local/MaybeDocument.pbobjc.h
  Firestore/Protos/objc/firestore/local/MaybeDocument.pbobjc.m
  Firestore/Protos/objc/firestore/local/Mutation.pbobjc.h
  Firestore/Protos/objc/firestore/local/Mutation.pbobjc.m
  Firestore/Protos/objc/firestore/local/Target.pbobjc.h
  Firestore/Protos/objc/firestore/local/Target.pbobjc.m
  Firestore/Protos/objc/google/api/Annotations.pbobjc.h
  Firestore/Protos/objc/google/api/Annotations.pbobjc.m
  Firestore/Protos/objc/google/api/HTTP.pbobjc.h
  Firestore/Protos/objc/google/api/HTTP.pbobjc.m
  Firestore/Protos/objc/google/firestore/v1/Common.pbobjc.h
  Firestore/Protos/objc/google/firestore/v1/Common.pbobjc.m
  Firestore/Protos/objc/google/firestore/v1/Document.pbobjc.h
  Firestore/Protos/objc/google/firestore/v1/Document.pbobjc.m
  Firestore/Protos/objc/google/firestore/v1/Firestore.pbobjc.h
  Firestore/Protos/objc/google/firestore/v1/Firestore.pbobjc.m
  Firestore/Protos/objc/google/firestore/v1/Query.pbobjc.h
  Firestore/Protos/objc/google/firestore/v1/Query.pbobjc.m
  Firestore/Protos/objc/google/firestore/v1/Write.pbobjc.h
  Firestore/Protos/objc/google/firestore/v1/Write.pbobjc.m
  Firestore/Protos/objc/google/rpc/Status.pbobjc.h
  Firestore/Protos/objc/google/rpc/Status.pbobjc.m
  Firestore/Protos/objc/google/type/Latlng.pbobjc.h
  Firestore/Protos/objc/google/type/Latlng.pbobjc.m
  Firestore/README.md
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/leveldb_transaction.h
  Firestore/core/src/firebase/firestore/nanopb/fields_array.h
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
Labels: api: firestore, cla: yes

#4190 C++ migration: cleanup leftover bits of Objective-C
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/firebase/firestore/api/CMakeLists.txt
  Firestore/core/src/firebase/firestore/api/document_reference.cc
  Firestore/core/src/firebase/firestore/api/firestore.cc
  Firestore/core/src/firebase/firestore/api/firestore.h
  Firestore/core/src/firebase/firestore/api/query_core.cc
  Firestore/core/src/firebase/firestore/api/query_listener_registration.cc
  Firestore/core/src/firebase/firestore/api/snapshots_in_sync_listener_registration.cc
  Firestore/core/src/firebase/firestore/api/write_batch.cc
  Firestore/core/src/firebase/firestore/core/CMakeLists.txt
  Firestore/core/src/firebase/firestore/core/event_manager.cc
  Firestore/core/src/firebase/firestore/core/event_manager.h
  Firestore/core/src/firebase/firestore/core/firestore_client.cc
  Firestore/core/src/firebase/firestore/core/firestore_client.h
  Firestore/core/src/firebase/firestore/core/sync_engine.cc
  Firestore/core/src/firebase/firestore/core/transaction.cc
  Firestore/core/src/firebase/firestore/core/transaction_runner.cc
  Firestore/core/src/firebase/firestore/objc/CMakeLists.txt
  Firestore/core/src/firebase/firestore/objc/objc_class.h
  Firestore/core/src/firebase/firestore/objc/objc_class.mm
  Firestore/core/test/firebase/firestore/core/CMakeLists.txt
  Firestore/core/test/firebase/firestore/core/event_manager_test.cc
  Firestore/core/test/firebase/firestore/objc/CMakeLists.txt
  Firestore/core/test/firebase/firestore/objc/objc_class_test.cc
  Firestore/core/test/firebase/firestore/objc/objc_class_test_helper.h
  Firestore/core/test/firebase/firestore/objc/objc_class_test_helper.mm
Labels: api: firestore, cla: yes

#4260 Do not activate if fetch returns NO_CHANGE
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/Private/RCNConfigSettings.h
  FirebaseRemoteConfig/Sources/RCNConfigSettings.m
  FirebaseRemoteConfig/Sources/RCNFetch.m
  FirebaseRemoteConfig/Sources/RCNUserDefaultsManager.h
  FirebaseRemoteConfig/Sources/RCNUserDefaultsManager.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNUserDefaultsManagerTests.m
Labels: api: remoteconfig, cla: yes

#4266 Add a changelog entry on `Protobuf` removal.
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#4273 Remove workarounds for nanopb ODR violations
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/model/CMakeLists.txt
  Firestore/core/src/firebase/firestore/nanopb/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/test/firebase/firestore/testutil/CMakeLists.txt
Labels: api: firestore, cla: yes

#4270 Port FSTLevelDBTransactionTests to C++
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Local/FSTLevelDBTransactionTests.mm
  Firestore/core/test/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/leveldb_transaction_test.cc
Labels: api: firestore, cla: yes

#4275 Get tests passing on Linux
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.cc
  Firestore/core/test/firebase/firestore/nanopb/pretty_printing_test.cc
Labels: api: firestore, cla: yes

#4279 Get integration tests fully working under CMake
  Firestore/Example/App/CMakeLists.txt
  Firestore/Example/Tests/Integration/CMakeLists.txt
  Firestore/Example/Tests/Util/CMakeLists.txt
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/Example/Tests/Util/XCTestCase+Await.h
  Firestore/Example/Tests/Util/XCTestCase+Await.mm
  Firestore/Protos/CMakeLists.txt
  Firestore/Source/CMakeLists.txt
  Firestore/core/src/firebase/firestore/core/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/nanopb/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/src/firebase/firestore/util/CMakeLists.txt
  Firestore/core/test/firebase/firestore/testutil/CMakeLists.txt
  cmake/cc_rules.cmake
Labels: api: firestore, cla: yes

#4281 FIRStorage.callbackQueue fixes
  Firebase/Storage/FIRStorage.m
Labels: api: storage, cla: yes

#4272 Migrate FSTLevelDBMigrationsTests to C++
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Local/FSTLevelDBMigrationsTests.mm
  Firestore/core/test/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/leveldb_migrations_test.cc
Labels: api: firestore, cla: yes

#4282 Add function to gul secure encoding to encode multiple calsses
  GoogleUtilities/Example/Tests/SecureCoding/GULSecureCodingTests.m
  GoogleUtilities/SecureCoding/GULSecureCoding.m
  GoogleUtilities/SecureCoding/Public/GULSecureCoding.h
Labels: GoogleUtilities, cla: yes

#4288 Revert "Revert "Add OIDC nonce support""
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential.m
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential_Internal.h
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthProvider.m
  Firebase/Auth/Source/Backend/FIRAuthBackend.m
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.h
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionRequest.m
  Firebase/Auth/Source/Public/FIRAuthErrors.h
  Firebase/Auth/Source/Public/FIROAuthProvider.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.m
  Firebase/Auth/Source/Utilities/FIRAuthInternalErrors.h
Labels: api: auth, cla: yes

#4285 Allow querying for arrays in IN queries
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/API/FSTUserDataConverter.h
  Firestore/Source/API/FSTUserDataConverter.mm
  Firestore/core/src/firebase/firestore/core/user_data.cc
  Firestore/core/src/firebase/firestore/core/user_data.h
Labels: api: firestore, cla: yes

#4293 Update RC ReleaseNotes for M60.
  FirebaseRemoteConfig/CHANGELOG.md
Labels: api: remoteconfig, cla: yes

#4283 Port FSTLRUGarbageCollectorTests to C++
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Local/FSTLRUGarbageCollectorTests.h
  Firestore/Example/Tests/Local/FSTLRUGarbageCollectorTests.mm
  Firestore/Example/Tests/Local/FSTLevelDBLRUGarbageCollectorTests.mm
  Firestore/Example/Tests/Local/FSTMemoryLRUGarbageCollectorTests.mm
  Firestore/core/test/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/leveldb_lru_garbage_collector_test.cc
  Firestore/core/test/firebase/firestore/local/lru_garbage_collector_test.cc
  Firestore/core/test/firebase/firestore/local/lru_garbage_collector_test.h
  Firestore/core/test/firebase/firestore/local/memory_lru_garbage_collector_test.cc
Labels: api: firestore, cla: yes

#4296 Update CHANGELOG for Firestore v1.8.0
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#4297 M60 RC release notes update.
  FirebaseRemoteConfig/CHANGELOG.md
Labels: cla: yes

#4298 Update CHANGELOG
  GoogleDataTransport/CHANGELOG.md
Labels: GoogleDataTransport, cla: yes

#4286 Add cocoapods-generate to dev instructions
  README.md
Labels: cla: yes

#4304 Update Storage Changelog for 3.4.2
  Firebase/Storage/CHANGELOG.md
Labels: cla: yes

#4289 update changelog for M60
  Firebase/Messaging/CHANGELOG.md
Labels: api: messaging, cla: yes

#4290 Fix pretty printing tests on Windows.
  Firestore/core/test/firebase/firestore/nanopb/pretty_printing_test.cc
Labels: api: firestore, cla: yes

#4307 Core M60 release notes
  Firebase/Core/CHANGELOG.md
Labels: api: core, cla: yes

#4306 Update Auth changelog
  Firebase/Auth/CHANGELOG.md
Labels: api: auth, cla: yes

#4311 Update versions for heartbeat PR
  FirebaseCore.podspec
  GoogleUtilities.podspec
Labels: cla: yes

#4098 add heartbeat feature for ios sdks
  Example/Core/Tests/FIRHeartbeatInfoTest.m
  Example/CoreDiagnostics/Tests/FIRCoreDiagnosticsTest.m
  Firebase/Core/FIRHeartbeatInfo.m
  Firebase/Core/Private/FIRHeartbeatInfo.h
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnosticsDateFileStorage.m
  FirebaseCore.podspec
  Firestore/Example/Podfile
  GoogleUtilities.podspec
  GoogleUtilities/CMakeLists.txt
  GoogleUtilities/Environment/third_party/GULHeartbeatDateStorage.h
  GoogleUtilities/Environment/third_party/GULHeartbeatDateStorage.m
  GoogleUtilities/Example/Tests/Environment/GULHeartbeatDateStorageTest.m
Labels: GoogleUtilities, api: core, api: firestore, api: installations, api: instanceid, api: remoteconfig, cla: yes

#4319 Fix CI regression in FIAM from Google Utilities changes
  InAppMessaging/Example/Podfile
  InAppMessagingDisplay/Example/Podfile
Labels: cla: yes

#4320 Fix FirebasePod test
  CoreOnly/Tests/FirebasePodTest/Podfile
Labels: api: core, cla: yes

#4318 Update versions for Release 6.13.0
  Example/Podfile
  Firebase.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseFirestore.podspec
  FirebaseMessaging.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  Firestore/Example/Podfile
  GoogleDataTransport.podspec
  Releases/Manifests/6.13.0.json
  SymbolCollisionTest/Podfile
Labels: api: firestore, cla: yes

#4196 Send diagnostic data to the FLL backend instead of the CCT backend
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  GoogleDataTransport.podspec
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORPlatform.h
  GoogleDataTransportCCTSupport.podspec
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTUploader.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTFLLUploader.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/GDTFLLUploaderTest.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/TestServer/GDTCCTTestServer.h
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/TestServer/GDTCCTTestServer.m
Labels: GoogleDataTransport, api: core, cla: yes

#4309 Add concurrent execution support to Executor
  Firestore/Source/API/FSTFirestoreComponent.mm
  Firestore/core/src/firebase/firestore/util/executor.h
  Firestore/core/src/firebase/firestore/util/executor_libdispatch.mm
  Firestore/core/src/firebase/firestore/util/executor_std.cc
  Firestore/core/src/firebase/firestore/util/executor_std.h
  Firestore/core/test/firebase/firestore/util/async_queue_std_test.cc
  Firestore/core/test/firebase/firestore/util/executor_libdispatch_test.mm
  Firestore/core/test/firebase/firestore/util/executor_std_test.cc
  Firestore/core/test/firebase/firestore/util/executor_test.cc
  Firestore/core/test/firebase/firestore/util/executor_test.h
Labels: api: firestore, cla: yes

#4324 Use uncompressed proto data if gzip fails or is larger
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTFLLUploader.m
Labels: GoogleDataTransport, cla: yes

#4323 add heartbeat support for iid
  Example/InstanceID/Tests/FIRInstanceIDTokenOperationsTest.m
  Firebase/InstanceID/FIRInstanceIDTokenFetchOperation.h
  Firebase/InstanceID/FIRInstanceIDTokenFetchOperation.m
Labels: api: instanceid, cla: yes

#4330 Fix test bug
  CoreOnly/Tests/FirebasePodTest/Podfile
  FirebaseInstanceID.podspec
Labels: api: core, cla: yes

#4337 Fix rawNonce in encoder
  Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthCredential.m
Labels: api: auth, cla: yes

#4325 Keeps a strong reference for handling dynamic deeplinks
  Firebase/DynamicLinks/FIRDLJavaScriptExecutor.m
Labels: api: dynamiclinks, cla: yes

#4342 Add arm64e to the zip build
  Firebase/Core/CHANGELOG.md
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: api: core, cla: yes, zip-builder

#4346 Fix #4343 incorrect OCMock test.
  Example/Core/Tests/FIRComponentContainerTest.m
Labels: cla: yes

#4344 Lock OCMock to 3.4 while investigating test failures with 3.5.0
  Example/Podfile
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
  FirebaseRemoteConfig.podspec
  GoogleUtilitiesComponents.podspec
  InAppMessaging/Example/Podfile
Labels: api: inappmessaging, cla: yes

#4352 Embed root certificates into the binary on Apple platforms as well
  FirebaseFirestore.podspec
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/grpc_root_certificate_finder_apple.mm
  Firestore/core/src/firebase/firestore/remote/grpc_root_certificates_generated.cc
  Firestore/core/src/firebase/firestore/remote/grpc_root_certificates_generated.h
  scripts/binary_to_array.py
  scripts/check_cmake_files.py
  scripts/lib/git.py
Labels: api: firestore, cla: yes

#4357 CoreDiagnostics and GDT patch version bump.
  FirebaseCoreDiagnostics.podspec
  GoogleDataTransport.podspec
  GoogleDataTransportCCTSupport.podspec
Labels: GoogleDataTransport, cla: yes

#4359 GoogleDataTransport minor version bump - 3.2.0
  GoogleDataTransport.podspec
  GoogleDataTransportCCTSupport.podspec
Labels: cla: yes

#4360 Update FIRCD, GDT, and GDTCCT CHANGELOGs
  Firebase/CoreDiagnostics/CHANGELOG.md
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransportCCTSupport/CHANGELOG.md
Labels: GoogleDataTransport, api: core, cla: yes

#4358 Upgrade Firestore emulator to 1.10.2
  scripts/run_firestore_emulator.sh
Labels: api: firestore, cla: yes

#4362 Cherry pick of #4196 to 6.13.0 for patch CoreDiagnostics release
  .travis.yml
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  FirebaseCoreDiagnostics.podspec
  GoogleDataTransport.podspec
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORPlatform.h
  GoogleDataTransportCCTSupport.podspec
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTUploader.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTFLLUploader.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/GDTFLLUploaderTest.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/TestServer/GDTCCTTestServer.h
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/TestServer/GDTCCTTestServer.m
Labels: GoogleDataTransport, api: core, cla: yes

#4361 Hot fixes for M60
  FirebaseFirestore.podspec
  Firestore/CHANGELOG.md
  Firestore/Source/API/FSTFirestoreComponent.mm
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/grpc_root_certificate_finder_apple.mm
  Firestore/core/src/firebase/firestore/remote/grpc_root_certificates_generated.cc
  Firestore/core/src/firebase/firestore/remote/grpc_root_certificates_generated.h
  Firestore/core/src/firebase/firestore/util/executor.h
  Firestore/core/src/firebase/firestore/util/executor_libdispatch.mm
  Firestore/core/src/firebase/firestore/util/executor_std.cc
  Firestore/core/src/firebase/firestore/util/executor_std.h
  Firestore/core/test/firebase/firestore/util/async_queue_std_test.cc
  Firestore/core/test/firebase/firestore/util/executor_libdispatch_test.mm
  Firestore/core/test/firebase/firestore/util/executor_std_test.cc
  Firestore/core/test/firebase/firestore/util/executor_test.cc
  Firestore/core/test/firebase/firestore/util/executor_test.h
  scripts/binary_to_array.py
  scripts/check_cmake_files.py
  scripts/lib/git.py
Labels: api: firestore, cla: yes

#4365 Cherry pick of #4196 to 6.13.1 for patch CoreDiagnostics release
  .travis.yml
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  FirebaseCoreDiagnostics.podspec
  GoogleDataTransport.podspec
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORPlatform.h
  GoogleDataTransportCCTSupport.podspec
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTUploader.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTFLLUploader.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/GDTFLLUploaderTest.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/TestServer/GDTCCTTestServer.h
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/TestServer/GDTCCTTestServer.m
Labels: GoogleDataTransport, api: core, cla: yes

#4363 Fix a few misuse of OCMock in Messaging and InstanceID
  Example/InstanceID/Tests/FIRInstanceIDStoreTest.m
  Example/InstanceID/Tests/FIRInstanceIDTest.m
  Example/Messaging/Tests/FIRMessagingConnectionTest.m
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
Labels: cla: yes

#4366 Post Firestore 1.8.1 patch merge to master
  FirebaseFirestore.podspec
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#4375 Xcode 11.1 instead of 11.2
  .travis.yml
Labels: cla: yes

#4371 Set the request time for backend time correction
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTNanopbHelpers.m
Labels: GoogleDataTransport, cla: yes

#4328 Add +[FIRServerValues increment:]
  Example/Database/Tests/Integration/FData.m
  Firebase/Database/Api/FIRServerValue.m
  Firebase/Database/Api/FIRServerValue_unreleased.h
  Firebase/Database/Core/FRepo.m
  Firebase/Database/Core/FServerValues.h
  Firebase/Database/Core/FServerValues.m
  Firebase/Database/Core/FSyncTree.m
Labels: api: database, cla: yes

#4370 Fix a race condition found in tests
  GoogleDataTransportCCTSupport/GDTCCTTests/Integration/GDTCCTIntegrationTest.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Integration/GDTFLLIntegrationTest.m
Labels: GoogleDataTransport, cla: yes

#4378 Fix a public import of a private header
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
Labels: GoogleDataTransport, cla: yes

#4377 Fix completely out-of-source CMake builds
  scripts/binary_to_array.py
Labels: api: firestore, cla: yes

#4379 lastFetchTime's accessor does not reference the backing ivar. Silence…
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
Labels: api: remoteconfig, cla: yes

#4383 Fix the Linux build
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/lru_garbage_collector_test.cc
Labels: api: firestore, cla: yes

#4369 Fix fuzz build
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/src/firebase/firestore/util/executor_std.cc
  Firestore/core/test/firebase/firestore/local/lru_garbage_collector_test.cc
Labels: api: firestore, cla: yes

#4373 Fix Carthage CD overriding the Zip build.
  ZipBuilder/Sources/ZipBuilder/FileManager+Utils.swift
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
  ZipBuilder/Sources/ZipBuilder/URL+Utils.swift
Labels: cla: yes, zip-builder

#4386 Extract AppDataDir from LevelDbPersistence
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/leveldb_persistence.cc
  Firestore/core/src/firebase/firestore/local/leveldb_persistence_apple.mm
  Firestore/core/src/firebase/firestore/local/leveldb_persistence_posix.cc
  Firestore/core/src/firebase/firestore/local/leveldb_persistence_win.cc
  Firestore/core/src/firebase/firestore/util/filesystem.h
  Firestore/core/src/firebase/firestore/util/filesystem_apple.mm
  Firestore/core/src/firebase/firestore/util/filesystem_posix.cc
  Firestore/core/src/firebase/firestore/util/filesystem_win.cc
Labels: api: firestore, cla: yes

#4384 Fix the build on Windows
  CMakeLists.txt
  Firestore/Protos/CMakeLists.txt
  scripts/binary_to_array.py
Labels: api: firestore, cla: yes

#4388 Make ExcludeFromBackups part of the filesystem API
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/leveldb_persistence.cc
  Firestore/core/src/firebase/firestore/local/leveldb_persistence.h
  Firestore/core/src/firebase/firestore/local/leveldb_persistence_apple.mm
  Firestore/core/src/firebase/firestore/util/filesystem.h
  Firestore/core/src/firebase/firestore/util/filesystem_apple.mm
  Firestore/core/src/firebase/firestore/util/filesystem_common.cc
Labels: api: firestore, cla: yes

#4385 travis job consolidation for Core, GDT, and FIAM
  .travis.yml
  scripts/build.sh
  scripts/if_changed.sh
  scripts/install_prereqs.sh
Labels: cla: yes

#4390 Fix several small linter issues
  Firestore/core/src/firebase/firestore/core/sync_engine_callback.h
  Firestore/core/src/firebase/firestore/core/user_data.cc
  Firestore/core/src/firebase/firestore/immutable/llrb_node.h
  Firestore/core/src/firebase/firestore/immutable/llrb_node_iterator.h
  Firestore/core/src/firebase/firestore/local/leveldb_lru_reference_delegate.cc
  Firestore/core/src/firebase/firestore/local/memory_lru_reference_delegate.cc
  Firestore/core/src/firebase/firestore/remote/grpc_streaming_reader.cc
  Firestore/core/src/firebase/firestore/remote/remote_store.h
  Firestore/core/src/firebase/firestore/remote/watch_stream.h
  Firestore/core/src/firebase/firestore/remote/write_stream.h
  Firestore/core/src/firebase/firestore/util/executor_std.cc
  Firestore/core/src/firebase/firestore/util/log_stdio.cc
Labels: api: firestore, cla: yes

#4353 Add fis heartbeat support
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.h
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
Labels: api: installations, cla: yes

#4394 Fix definition of ExcludeFromBackups on non-Apple platforms.
  Firestore/core/src/firebase/firestore/util/filesystem_common.cc
Labels: api: firestore, cla: yes

#4395 Fix Linux build with GCC 4.8.5
  Firestore/core/src/firebase/firestore/util/comparison.h
Labels: api: firestore, cla: yes

#4398 Fix compilation with older versions of Visual Studio
  Firestore/core/src/firebase/firestore/api/settings.cc
  Firestore/core/src/firebase/firestore/api/settings.h
Labels: api: firestore, cla: yes

#4402 Fix incorrect OCMock usage
  GoogleUtilitiesComponents/Tests/GULCCComponentContainerTest.m
Labels: cla: yes

#4341 Zip Builder V2 Plan
  ZipBuilder/ZipBuilderV2Plan.md
Labels: Infrastructure, cla: yes, zip-builder

#4396 Fix TSAN test failures under CMake
  CMakeLists.txt
  cmake/FindASANDylib.cmake
  cmake/cc_rules.cmake
Labels: api: firestore, cla: yes

#4406 Fix OCMock issues with FIS
  FirebaseInstallations.podspec
  FirebaseInstallations/Source/Tests/Unit/FIRSecureStorageTests.m
Labels: api: installations, cla: yes

#4411 Add check for invalid options
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
Labels: cla: yes, zip-builder

#4404 Build Zip with modern CocoaPods
  ZipBuilder/Sources/ZipBuilder/CocoaPod.swift
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
  ZipBuilder/Sources/ZipBuilder/FileManager+Utils.swift
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
  ZipBuilder/Sources/ZipBuilder/ModuleMapBuilder.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
  ZipBuilder/Sources/ZipBuilder/main.swift
Labels: cla: yes, zip-builder

#4405 Add archs option to ZipBuilder
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
Labels: cla: yes, zip-builder

#4409 Support concurrent Zip Builder runs
  ZipBuilder/Sources/ZipBuilder/FileManager+Utils.swift
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
  ZipBuilder/Sources/ZipBuilder/main.swift
Labels: cla: yes, zip-builder

#4137 Fix component startup time.
  Firebase/Auth/Source/Auth/FIRAuth.m
  Firebase/DynamicLinks/FIRDynamicLinks.m
  Firebase/Messaging/FIRMessaging.m
Labels: api: auth, api: dynamiclinks, api: messaging, cla: yes
