Repository firebase/firebase-ios-sdk, pull requests merged in 2020-06, with the labels that each got.

#5712 Change upload coordinator to not block main thread
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
Labels: GoogleDataTransport, cla: yes

#5714 Update changelogs for M72
  Crashlytics/CHANGELOG.md
  FirebaseInstallations/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
Labels: api: crashlytics, api: remoteconfig, cla: yes

#5711 CocoaPods-specific tag for the Firebase pod
  Firebase.podspec
  Releases/update-versions.py
Labels: cla: yes

#5715 Standardize headers for SPM and Auth
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/AuthProvider/OAuth/FIROAuthProvider.m
  FirebaseAuth/Sources/AuthProvider/Phone/FIRPhoneAuthProvider.m
  FirebaseAuth/Tests/Sample/ApiTests/FIRAuthApiTestsBase.h
  FirebaseAuth/Tests/Sample/E2eTests/FIRAuthE2eTestsBase.h
  FirebaseAuth/Tests/Sample/Sample/AppManager.m
  FirebaseAuth/Tests/Sample/Sample/ApplicationDelegate.m
  FirebaseAuth/Tests/Sample/Sample/FacebookAuthProvider.m
  FirebaseAuth/Tests/Sample/Sample/GoogleAuthProvider.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+App.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Auth.h
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Email.h
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Email.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+GameCenter.h
  FirebaseAuth/Tests/Sample/Sample/MainViewController+GameCenter.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Google.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+MultiFactor.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+OAuth.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+OOB.h
  FirebaseAuth/Tests/Sample/Sample/MainViewController.m
  FirebaseAuth/Tests/Sample/Sample/SettingsViewController.m
  FirebaseAuth/Tests/Sample/Sample/UserInfoViewController.m
  FirebaseAuth/Tests/Sample/Sample/UserTableViewCell.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIROAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
  scripts/check_no_module_imports.sh
Labels: api: auth, cla: yes

#5716 Initial CI for Swift Package Manager
  .github/workflows/spm.yml
  Firebase/Sources/Public/Firebase.h
  Firebase/Sources/Public/module.modulemap
  Firebase/Sources/dummy.m
  Package.swift
  scripts/check_no_module_imports.sh
  scripts/style.sh
Labels: cla: yes

#5717 Update Core for dependency public API imports
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Sources/FIRBundleUtil.m
  FirebaseCore/Sources/FIRLogger.m
  scripts/check_no_module_imports.sh
Labels: api: core, cla: yes

#5723 Merging the 6.26.0 (M72) release into master
  CoreOnly/NOTICES
  Firebase.podspec
  FirebaseCore.podspec
  FirebaseCrashlytics.podspec
  FirebaseFirestore.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseRemoteConfig.podspec
  Releases/Manifests/6.26.0.json
Labels: api: core, cla: yes

#5718 Add `Error::kErrorNone` as a synonym for `kErrorOk`
  Firestore/core/include/firebase/firestore/firestore_errors.h
Labels: api: firestore, cla: yes

#5719 Don't crash RTDB SDK if version file is empty
  Firebase/Database/CHANGELOG.md
  Firebase/Database/Persistence/FLevelDBStorageEngine.m
Labels: api: database, cla: yes

#5713 Update GDT versions and deps
  GoogleDataTransport.podspec
  GoogleDataTransport/CHANGELOG.md
Labels: GoogleDataTransport, cla: yes

#5724 Storage updates for SPM import consistency
  FirebaseStorage/Sources/FIRStorage.m
  FirebaseStorage/Sources/FIRStorageComponent.m
  FirebaseStorage/Sources/FIRStorageConstants.m
  FirebaseStorage/Sources/FIRStorageDeleteTask.h
  FirebaseStorage/Sources/FIRStorageDownloadTask.m
  FirebaseStorage/Sources/FIRStorageDownloadTask_Private.h
  FirebaseStorage/Sources/FIRStorageErrors.h
  FirebaseStorage/Sources/FIRStorageErrors.m
  FirebaseStorage/Sources/FIRStorageGetDownloadURLTask.h
  FirebaseStorage/Sources/FIRStorageGetMetadataTask.h
  FirebaseStorage/Sources/FIRStorageGetMetadataTask.m
  FirebaseStorage/Sources/FIRStorageListResult.m
  FirebaseStorage/Sources/FIRStorageListResult_Private.h
  FirebaseStorage/Sources/FIRStorageListTask.h
  FirebaseStorage/Sources/FIRStorageMetadata.m
  FirebaseStorage/Sources/FIRStorageMetadata_Private.h
  FirebaseStorage/Sources/FIRStorageObservableTask.m
  FirebaseStorage/Sources/FIRStorageObservableTask_Private.h
  FirebaseStorage/Sources/FIRStorageReference.m
  FirebaseStorage/Sources/FIRStorageReference_Private.h
  FirebaseStorage/Sources/FIRStorageTask.m
  FirebaseStorage/Sources/FIRStorageTaskSnapshot.m
  FirebaseStorage/Sources/FIRStorageTaskSnapshot_Private.h
  FirebaseStorage/Sources/FIRStorageTask_Private.h
  FirebaseStorage/Sources/FIRStorageTokenAuthorizer.m
  FirebaseStorage/Sources/FIRStorageUpdateMetadataTask.h
  FirebaseStorage/Sources/FIRStorageUpdateMetadataTask.m
  FirebaseStorage/Sources/FIRStorageUploadTask.m
Labels: api: storage, cla: yes

#5726 Cherry pick GDT 6.2.1 fixes
  GoogleDataTransport.podspec
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
Labels: GoogleDataTransport, cla: yes

#5727 Crashlytics add missing headers for builds
  Crashlytics/Crashlytics/Helpers/FIRCLSFile.h
Labels: api: crashlytics, cla: yes

#5725 Update quota exceeded error message
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.m
Labels: api: auth, cla: yes

#5703 Added Core Config & Options swift tests
  FirebaseCore/Tests/Unit/Swift/FirebaseConfigurationTests.swift
  FirebaseCore/Tests/Unit/Swift/FirebaseOptionsTests.swift
Labels: api: core, cla: yes

#5738 Implement helpers for storing and finding events
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORStorageEventSelector.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORFlatFileStorage.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORStorageEventSelector.h
  GoogleDataTransport/GDTCORTests/Common/Categories/GDTCORFlatFileStorage+Testing.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORFlatFileStorageTest.m
Labels: GoogleDataTransport, cla: yes

#5737 Send pod SDK version instead of hardcoded value in RC fetch request
  FirebaseRemoteConfig/Sources/RCNConfigConstants.h
  FirebaseRemoteConfig/Sources/RCNConfigSettings.m
  FirebaseRemoteConfig/Sources/RCNDevice.h
  FirebaseRemoteConfig/Sources/RCNDevice.m
Labels: api: remoteconfig, cla: yes

#5736 Upload zip artifact to gcs after build.
  .github/workflows/zip.yml
  scripts/gha-encrypted/firebase-ios-testing.json.gpg
  scripts/install_gcloud.sh
  scripts/upload_to_gcs.sh
Labels: cla: yes

#5748 Better Swift API completion usability
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/Public/FIRRemoteConfig.h
Labels: api: remoteconfig, cla: yes, public-api-change

#5742 Expand the storage protocol and provide an event iterator
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorageIterator.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORFlatFileStorageIterator.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORStorageProtocol.h
  GoogleDataTransport/GDTCORTests/Common/Categories/GDTCORFlatFileStorage+Testing.m
  GoogleDataTransport/GDTCORTests/Common/Fakes/GDTCORStorageFake.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORFlatFileStorageTest.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#5753 Add assertion when in app message is in invalid state
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
Labels: api: inappmessaging, cla: yes

#5752 Add key of gcs access
  .github/workflows/zip.yml
Labels: cla: yes

#5755 Lazy initialize auth state
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistribution/Sources/FIRAppDistributionAuthPersistence.m
Labels: cla: yes

#5759 Separate Core private versus internal headers
  Example/Shared/FIRComponentTestUtilities.h
  FirebaseAuth/Tests/Sample/Sample/MainViewController.m
  FirebaseCore/Sources/FIRAnalyticsConfiguration.h
  FirebaseCore/Sources/FIRAnalyticsConfiguration.m
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Sources/FIRAppAssociationRegistration.h
  FirebaseCore/Sources/FIRAppAssociationRegistration.m
  FirebaseCore/Sources/FIRComponentContainerInternal.h
  FirebaseCore/Sources/FIRComponentType.m
  FirebaseCore/Sources/FIRConfiguration.m
  FirebaseCore/Sources/FIRConfigurationInternal.h
  FirebaseCore/Sources/FIRCoreDiagnosticsConnector.m
  FirebaseCore/Sources/FIRDiagnosticsData.h
  FirebaseCore/Sources/FIRDiagnosticsData.m
  FirebaseCore/Tests/Unit/FIRAnalyticsConfigurationTest.m
  FirebaseCore/Tests/Unit/FIRAppAssociationRegistrationUnitTests.m
  FirebaseCore/Tests/Unit/FIRAppTest.m
  FirebaseCore/Tests/Unit/FIRComponentContainerTest.m
  FirebaseCore/Tests/Unit/FIRComponentTypeTest.m
  FirebaseCore/Tests/Unit/FIRConfigurationTest.m
  FirebaseCore/Tests/Unit/FIRDiagnosticsDataTest.m
  FirebaseCore/Tests/Unit/FIRHeartbeatInfoTest.m
  FirebaseCore/Tests/Unit/FIRLoggerTest.m
  FirebaseCore/Tests/Unit/FIROptionsTest.m
  FirebaseCore/Tests/Unit/FIRTestComponents.h
  FirebaseCore/Tests/Unit/FIRTestComponents.m
  FirebaseCore/Tests/Unit/Swift/FirebaseCore-unit-Bridging-Header.h
  FirebaseCore/Tests/Unit/Swift/SwiftTestingUtilities/ExceptionCatcher.m
Labels: api: auth, api: core, cla: yes

#5756 Switch from NSLog to FIRFADLogger
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistribution/Sources/FIRFADLogger.m
  FirebaseAppDistribution/Sources/Private/FIRFADLogger.h
Labels: cla: yes

#5761 Add GMPID header to the RTDB SDK
  Example/Database/Tests/Helpers/FIRFakeApp.m
  Example/Database/Tests/Helpers/FTestHelpers.m
  Example/Database/Tests/Integration/FConnectionTest.m
  Firebase/Database/Api/FIRDatabaseComponent.m
  Firebase/Database/Api/FIRDatabaseConfig.h
  Firebase/Database/Api/FIRDatabaseConfig.m
  Firebase/Database/CHANGELOG.md
  Firebase/Database/Core/FPersistentConnection.m
  Firebase/Database/FIRDatabaseConfig_Private.h
  Firebase/Database/Realtime/FConnection.h
  Firebase/Database/Realtime/FConnection.m
  Firebase/Database/Realtime/FWebSocketConnection.h
  Firebase/Database/Realtime/FWebSocketConnection.m
  Firebase/Database/third_party/SocketRocket/FSRWebSocket.h
  Firebase/Database/third_party/SocketRocket/FSRWebSocket.m
Labels: api: database, cla: yes

#5770 Add NSLogv to help debug end user issues
  FirebaseAppDistribution/Sources/FIRFADLogger.m
Labels: cla: yes

#5769 Refetch token if attempt was invalidated
  Firestore/CHANGELOG.md
  Firestore/core/src/auth/firebase_credentials_provider_apple.mm
Labels: api: firestore, cla: yes

#5775 fix typo
  FirebaseCore/Sources/Private/FIRErrorCode.h
Labels: api: core, cla: yes

#5767 Add support for CCT EventCode field
  GoogleDataTransportCCTSupport.podspec
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTNanopbHelpers.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTPrioritizer.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCOREvent+GDTCCTSupport.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCOREvent+NetworkConnectionInfo.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/Public/GDTCOREvent+GDTCCTSupport.h
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/GDTCCTPrioritizerTest.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/Helpers/GDTCCTEventGenerator.m
Labels: cla: yes

#5776 Fix has_include filename
  FirebaseCore/Sources/Private/FIRComponentContainer.h
  FirebaseCore/Sources/Private/FIRLibrary.h
Labels: api: core, cla: yes

#5773 Refactor event saving and searching
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORStorageEventSelector.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORFlatFileStorage.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORStorageEventSelector.h
  GoogleDataTransport/GDTCORTests/Unit/GDTCORFlatFileStorageTest.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#5772 Allow list() at root
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/FIRStorageListResult.m
  FirebaseStorage/Tests/Integration/FIRStorageIntegrationTests.m
Labels: api: storage, cla: yes

#5777 Build fix
  FirebaseABTesting/Tests/Unit/FIRExperimentControllerTest.m
Labels: api: abtesting, cla: yes

#5778 Revert GDTCORStorage changes for now
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorageIterator.m
  GoogleDataTransport/GDTCORLibrary/GDTCORStorageEventSelector.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORFlatFileStorage.h
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORFlatFileStorageIterator.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORStorageEventSelector.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORStorageProtocol.h
  GoogleDataTransport/GDTCORTests/Common/Categories/GDTCORFlatFileStorage+Testing.m
  GoogleDataTransport/GDTCORTests/Common/Fakes/GDTCORStorageFake.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORFlatFileStorageTest.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#5765 Header/Import Guidelines
  AddNewPod.md
  HeadersImports.md
  README.md
  scripts/check_no_module_imports.sh
Labels: cla: yes

#5782 update changelog for messaging and iid
  Firebase/InstanceID/CHANGELOG.md
  FirebaseMessaging/CHANGELOG.md
Labels: api: instanceid, api: messaging, cla: yes

#5781 M73 (6.27.0) Core Changelog and version updates
  FirebaseCore/CHANGELOG.md
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseStorage/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: core, api: dynamiclinks, api: firestore, api: messaging, api: remoteconfig, api: storage, cla: yes

#5790 Store events using the flat file storage system
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorageIterator.m
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORFlatFileStorage.h
  GoogleDataTransport/GDTCORTests/Unit/GDTCORFlatFileStorageTest.m
  GoogleDataTransport/GDTCORTests/Unit/Helpers/GDTCOREventGenerator.h
  GoogleDataTransport/GDTCORTests/Unit/Helpers/GDTCOREventGenerator.m
Labels: GoogleDataTransport, cla: yes

#5802 Fix installation of gcloud sdk
  .github/workflows/zip.yml
Labels: cla: yes

#5796 Add ABTesting framework testing.
  .github/workflows/abtesting.yml
Labels: cla: yes

#5788 Add Installations framework testing.
  .github/workflows/installations.yml
  scripts/setup_quickstart_framework.sh
Labels: cla: yes

#5807 Properly disable tests under -DFIREBASE_IOS_BUILD_TESTS=OFF
  Firestore/core/test/unit/CMakeLists.txt
  Firestore/core/test/unit/api/CMakeLists.txt
  Firestore/core/test/unit/auth/CMakeLists.txt
  Firestore/core/test/unit/core/CMakeLists.txt
  Firestore/core/test/unit/immutable/CMakeLists.txt
  Firestore/core/test/unit/local/CMakeLists.txt
  Firestore/core/test/unit/model/CMakeLists.txt
  Firestore/core/test/unit/nanopb/CMakeLists.txt
  Firestore/core/test/unit/objc/CMakeLists.txt
  Firestore/core/test/unit/remote/CMakeLists.txt
  Firestore/core/test/unit/util/CMakeLists.txt
Labels: api: firestore, cla: yes

#5811 Use immediate rather than min time to avoid overflow
  Firestore/core/src/util/executor_std.cc
Labels: api: firestore, cla: yes

#5804 Remove Crashlytics OTHER_LD_FLAGS for Swift Package Manager
  Crashlytics/CHANGELOG.md
  FirebaseCrashlytics.podspec
Labels: api: crashlytics, cla: yes

#5810 GoogleUtilities repo-relative imports
  GoogleUtilities/AppDelegateSwizzler/GULAppDelegateSwizzler.m
  GoogleUtilities/AppDelegateSwizzler/Internal/GULAppDelegateSwizzler_Private.h
  GoogleUtilities/AppDelegateSwizzler/Private/GULAppDelegateSwizzler.h
  GoogleUtilities/AppDelegateSwizzler/README.md
  GoogleUtilities/CHANGELOG.md
  GoogleUtilities/Environment/GULHeartbeatDateStorage.m
  GoogleUtilities/Environment/SecureStorage/GULKeychainStorage.m
  GoogleUtilities/Environment/SecureStorage/GULKeychainUtils.m
  GoogleUtilities/Example/Tests/Environment/GULAppEnvironmentUtilTest.m
  GoogleUtilities/Example/Tests/Environment/GULHeartbeatDateStorageTest.m
  GoogleUtilities/Example/Tests/Environment/GULKeychainStorageTests.m
  GoogleUtilities/Example/Tests/Logger/GULLoggerTest.m
  GoogleUtilities/Example/Tests/Network/GULMutableDictionaryTest.m
  GoogleUtilities/Example/Tests/Network/GULNetworkTest.m
  GoogleUtilities/Example/Tests/Reachability/GULReachabilityCheckerTest.m
  GoogleUtilities/Example/Tests/SecureCoding/GULSecureCodingTests.m
  GoogleUtilities/Example/Tests/Swizzler/GULAppDelegateSwizzlerTest.m
  GoogleUtilities/Example/Tests/Swizzler/GULObjectSwizzlerTest.m
  GoogleUtilities/Example/Tests/Swizzler/GULRuntimeClassDiffTests.m
  GoogleUtilities/Example/Tests/Swizzler/GULRuntimeClassSnapshotTests.m
  GoogleUtilities/Example/Tests/Swizzler/GULRuntimeDiffTests.m
  GoogleUtilities/Example/Tests/Swizzler/GULRuntimeSnapshotTests.m
  GoogleUtilities/Example/Tests/Swizzler/GULRuntimeStateHelperTests.m
  GoogleUtilities/Example/Tests/Swizzler/GULSceneDelegateSwizzlerTest.m
  GoogleUtilities/Example/Tests/Swizzler/GULSwizzlerInheritedMethodsSwizzlingTest.m
  GoogleUtilities/Example/Tests/Swizzler/GULSwizzlerTest.m
  GoogleUtilities/Example/Tests/Swizzler/GULSwizzlingCacheTest.m
  GoogleUtilities/Example/Tests/UserDefaults/GULUserDefaultsTests.m
  GoogleUtilities/Example/Tests/Utils/GULTestKeychain.m
  GoogleUtilities/ISASwizzler/GULObjectSwizzler+Internal.h
  GoogleUtilities/ISASwizzler/GULObjectSwizzler.m
  GoogleUtilities/Logger/GULLogger.m
  GoogleUtilities/Logger/Private/GULLogger.h
  GoogleUtilities/MethodSwizzler/GULSwizzler.m
  GoogleUtilities/Network/GULNetwork.m
  GoogleUtilities/Network/GULNetworkURLSession.m
  GoogleUtilities/Network/Private/GULNetwork.h
  GoogleUtilities/Network/Private/GULNetworkConstants.h
  GoogleUtilities/Network/Private/GULNetworkLoggerProtocol.h
  GoogleUtilities/Network/Private/GULNetworkURLSession.h
  GoogleUtilities/Reachability/GULReachabilityChecker+Internal.h
  GoogleUtilities/Reachability/GULReachabilityChecker.m
  GoogleUtilities/SceneDelegateSwizzler/GULSceneDelegateSwizzler.m
  GoogleUtilities/SceneDelegateSwizzler/Internal/GULSceneDelegateSwizzler_Private.h
  GoogleUtilities/SwizzlerTestHelpers/GULProxy.m
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeClassDiff.m
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeClassSnapshot.m
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeDiff.m
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeSnapshot.m
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeStateHelper.h
  GoogleUtilities/SwizzlerTestHelpers/GULRuntimeStateHelper.m
  GoogleUtilities/SwizzlerTestHelpers/GULSwizzler+Unswizzle.h
  GoogleUtilities/SwizzlerTestHelpers/GULSwizzler+Unswizzle.m
  GoogleUtilities/SwizzlerTestHelpers/GULSwizzlingCache.m
  GoogleUtilities/UserDefaults/GULUserDefaults.m
  scripts/change_headers.swift
Labels: GoogleUtilities, cla: yes

#5830 Release 6.27.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  GoogleDataTransportCCTSupport.podspec
  Releases/Manifests/6.27.0.json
  Releases/update-versions.py
Labels: api: auth, cla: yes

#5825 Add InAppMessaging framework testing.
  .github/workflows/inappmessaging.yml
Labels: cla: yes

#5826 Add Messaging framework testing.
  .github/workflows/messaging.yml
Labels: cla: yes

#5829 Get rid of event iterators and add separate folders for batching
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorageIterator.m
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/GDTCORStorageEventSelector.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORFlatFileStorage.h
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORFlatFileStorageIterator.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORStorageEventSelector.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORStorageProtocol.h
  GoogleDataTransport/GDTCORTests/Common/Categories/GDTCORFlatFileStorage+Testing.m
  GoogleDataTransport/GDTCORTests/Common/Fakes/GDTCORStorageFake.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORFlatFileStorageTest.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORRegistrarTest.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#5836 Update the device model identified by GDTCCTLibrary to be more detailed and in parity with Clearcut.
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORPlatform.h
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTNanopbHelpers.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#5840 Carthage readme: notes on the manual Crashlytics scripts integration
  Carthage.md
Labels: cla: yes

#5842 Implement events and batch expirations
  GoogleDataTransport/GDTCORLibrary/GDTCOREvent.m
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORFlatFileStorage.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCOREvent.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORStorageProtocol.h
  GoogleDataTransport/GDTCORTests/Common/Fakes/GDTCORStorageFake.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORFlatFileStorageTest.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#5844 Add scripts to generate non firebase sdks for zip testing.
  scripts/build_non_firebase_sdks.sh
  scripts/setup_quickstart_framework.sh
Labels: cla: yes

#5848 Run GHA Installation jobs only for public repo or for a PR
  .github/workflows/installations.yml
Labels: cla: yes

#5847 Make the deviceModel to be a static variable to avoid overwrites.
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
Labels: GoogleDataTransport, cla: yes

#5843 Initial check imports script
  FirebaseABTesting/Tests/Unit/ABTFakeFIRAConditionalUserPropertyController.h
  FirebaseCore/Sources/FIRConfigurationInternal.h
  FirebaseInstallations/Source/Library/Private/FirebaseInstallationsInternal.h
  GoogleUtilities/SceneDelegateSwizzler/GULSceneDelegateSwizzler.m
  scripts/check.sh
  scripts/check_imports.swift
Labels: GoogleUtilities, api: abtesting, api: core, api: installations, cla: yes

#5849 Don't run GHA on private repo until it is for a PR
  .github/workflows/abtesting.yml
  .github/workflows/auth.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/datatransport.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firebasepod.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/installations.yml
  .github/workflows/instanceid.yml
  .github/workflows/messaging.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/spm.yml
  .github/workflows/storage.yml
  .github/workflows/symbolcollision.yml
  .github/workflows/zip.yml
Labels: cla: yes

#5841 GoogleUtilities: cleanup iOS 6-7 compatibility conditions
  GoogleUtilities/AppDelegateSwizzler/GULAppDelegateSwizzler.m
  GoogleUtilities/Environment/Private/GULAppEnvironmentUtil.h
  GoogleUtilities/Environment/third_party/GULAppEnvironmentUtil.m
Labels: GoogleUtilities, cla: yes

#5851 Storage: Repo-relative headers and SPM
  FirebaseStorage/Sources/FIRStorage.m
  FirebaseStorage/Sources/FIRStorageComponent.m
  FirebaseStorage/Sources/FIRStorageConstants.m
  FirebaseStorage/Sources/FIRStorageDeleteTask.h
  FirebaseStorage/Sources/FIRStorageDownloadTask.m
  FirebaseStorage/Sources/FIRStorageDownloadTask_Private.h
  FirebaseStorage/Sources/FIRStorageErrors.h
  FirebaseStorage/Sources/FIRStorageErrors.m
  FirebaseStorage/Sources/FIRStorageGetDownloadURLTask.h
  FirebaseStorage/Sources/FIRStorageGetMetadataTask.h
  FirebaseStorage/Sources/FIRStorageGetMetadataTask.m
  FirebaseStorage/Sources/FIRStorageListResult.m
  FirebaseStorage/Sources/FIRStorageListResult_Private.h
  FirebaseStorage/Sources/FIRStorageListTask.h
  FirebaseStorage/Sources/FIRStorageMetadata.m
  FirebaseStorage/Sources/FIRStorageMetadata_Private.h
  FirebaseStorage/Sources/FIRStorageObservableTask.m
  FirebaseStorage/Sources/FIRStorageObservableTask_Private.h
  FirebaseStorage/Sources/FIRStorageReference.m
  FirebaseStorage/Sources/FIRStorageReference_Private.h
  FirebaseStorage/Sources/FIRStorageTask.m
  FirebaseStorage/Sources/FIRStorageTaskSnapshot.m
  FirebaseStorage/Sources/FIRStorageTaskSnapshot_Private.h
  FirebaseStorage/Sources/FIRStorageTask_Private.h
  FirebaseStorage/Sources/FIRStorageTokenAuthorizer.h
  FirebaseStorage/Sources/FIRStorageTokenAuthorizer.m
  FirebaseStorage/Sources/FIRStorageUpdateMetadataTask.h
  FirebaseStorage/Sources/FIRStorageUploadTask.m
  FirebaseStorage/Sources/FIRStorageUtils.m
  FirebaseStorage/Tests/Integration/FIRStorageIntegrationTests.m
  FirebaseStorage/Tests/Unit/FIRStorageDeleteTests.m
  FirebaseStorage/Tests/Unit/FIRStorageGetMetadataTests.m
  FirebaseStorage/Tests/Unit/FIRStorageListTests.m
  FirebaseStorage/Tests/Unit/FIRStorageMetadataTests.m
  FirebaseStorage/Tests/Unit/FIRStorageReferenceTests.m
  FirebaseStorage/Tests/Unit/FIRStorageTestHelpers.h
  FirebaseStorage/Tests/Unit/FIRStorageTests.m
  FirebaseStorage/Tests/Unit/FIRStorageTokenAuthorizerTests.m
  Package.swift
  Sources/firebase-test/main.swift
  scripts/change_headers.swift
  scripts/check_imports.swift
  scripts/check_no_module_imports.sh
Labels: api: storage, cla: yes

#5852 Fix buildDependencies false and subspecs
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
Labels: cla: yes, zip-builder

#5827 Add Storage framework testing.
  .github/workflows/storage.yml
Labels: cla: yes

#5858 Functions: Repo-relative headers and SPM
  Functions/Example/IntegrationTests/FIRIntegrationTests.m
  Functions/Example/TestUtils/FUNFakeInstanceID.m
  Functions/Example/Tests/FIRFunctionsTests.m
  Functions/Example/Tests/FUNContextProviderTests.m
  Functions/Example/Tests/FUNSerializerTests.m
  Functions/FirebaseFunctions/FIRFunctions+Internal.h
  Functions/FirebaseFunctions/FIRFunctions.m
  Functions/FirebaseFunctions/FIRHTTPSCallable+Internal.h
  Functions/FirebaseFunctions/FIRHTTPSCallable.m
  Functions/FirebaseFunctions/FUNContext.m
  Functions/FirebaseFunctions/FUNError.h
  Functions/FirebaseFunctions/FUNError.m
  Functions/FirebaseFunctions/FUNInstanceIDProxy.m
  Functions/FirebaseFunctions/FUNSerializer.m
  Functions/FirebaseFunctions/FUNUsageValidation.m
  Package.swift
  Sources/firebase-test/main.swift
  scripts/change_headers.swift
  scripts/check_imports.swift
  scripts/check_no_module_imports.sh
Labels: api: functions, cla: yes

#5859 Delete unused host app
  Functions/Example/FirebaseFunctions/Base.lproj/LaunchScreen.storyboard
  Functions/Example/FirebaseFunctions/Base.lproj/Main.storyboard
  Functions/Example/FirebaseFunctions/FIRAppDelegate.h
  Functions/Example/FirebaseFunctions/FIRAppDelegate.m
  Functions/Example/FirebaseFunctions/FIRViewController.h
  Functions/Example/FirebaseFunctions/FIRViewController.m
  Functions/Example/FirebaseFunctions/FirebaseFunctions-Info.plist
  Functions/Example/FirebaseFunctions/Images.xcassets/AppIcon.appiconset/Contents.json
  Functions/Example/FirebaseFunctions/en.lproj/InfoPlist.strings
  Functions/Example/FirebaseFunctions/main.m
Labels: cla: yes

#5870 Fix Changelog location
  FirebaseDatabase/CHANGELOG.md
Labels: api: database, cla: yes

#5872 Disable ML to workaround symbol collision test issues
  SymbolCollisionTest/Podfile
Labels: cla: yes

#5871 SPM CI with swift test instead of swift run
  .github/workflows/spm.yml
  Package.swift
  Tests/firebase-test/main.swift
Labels: cla: yes

#5857 Reset backoff when connectivity status changes
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.h
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/core/src/core/firestore_client.cc
  Firestore/core/src/core/firestore_client.h
  Firestore/core/src/remote/datastore.cc
  Firestore/core/src/remote/datastore.h
  Firestore/core/src/remote/remote_store.cc
  Firestore/core/src/remote/remote_store.h
  Firestore/core/test/unit/remote/datastore_test.cc
Labels: api: firestore, cla: yes

#5876 Fix warning exposed by Xcode 12
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessagingPubSub.m
Labels: api: messaging, cla: yes

#5878 Remove initializer annotations
  GoogleDataTransport/GDTCORLibrary/GDTCOREvent.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCOREvent.h
Labels: GoogleDataTransport, cla: yes, public-api-change

#5799 Add Database framework testing.
  .github/workflows/database.yml
Labels: api: database, cla: yes

#5798 Add Crashlytics framework testing.
  .github/workflows/crashlytics.yml
Labels: cla: yes

#5886 Add swift framework testing
  .github/workflows/storage.yml
  scripts/build_non_firebase_sdks.sh
  scripts/setup_quickstart_framework.sh
Labels: cla: yes

#5888 Update versions and dependencies
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseInAppMessaging.podspec
  GoogleDataTransport.podspec
  GoogleDataTransportCCTSupport.podspec
Labels: cla: yes

#5884 Add Firebase module for SPM
  CoreOnly/Sources/Firebase.h
  CoreOnly/Sources/dummy.m
  Package.swift
  Tests/firebase-test/main.swift
Labels: api: core, cla: yes

#5895 Add InAppMessaging Swift Test.
  .github/workflows/inappmessaging.yml
Labels: cla: yes

#5889 Add Remote config swift zip test.
  .github/workflows/remoteconfig.yml
Labels: cla: yes

#5896 Add messaging swift test.
  .github/workflows/messaging.yml
Labels: cla: yes

#5894 Add crashlytics swift framework testing.
  .github/workflows/crashlytics.yml
Labels: cla: yes

#5904 Crashlytics: Add dispatch_once for opening sdk log file
  Crashlytics/Crashlytics/Helpers/FIRCLSInternalLogging.c
Labels: cla: yes

#5908 Cleanups for check_imports.swift
  scripts/check_imports.swift
Labels: cla: yes

#5907 Use UUID as GDTCOREvent.eventID
  GoogleDataTransport/GDTCORLibrary/GDTCOREvent.m
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORStorageEventSelector.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCOREvent_Private.h
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORFlatFileStorage.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCOREvent.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORStorageEventSelector.h
  GoogleDataTransport/GDTCORTests/Unit/GDTCOREventTest.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORFlatFileStorageTest.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#5912 GDT: Fix test storage type mismatches
  GoogleDataTransport/GDTCCTTests/Common/TestStorage/GDTCCTTestStorage.m
  GoogleDataTransport/GDTCORTests/Common/Fakes/GDTCORStorageFake.m
Labels: GoogleDataTransport, cla: yes

#5915 Make [FIROptions defaultOptions] thread safe
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Sources/FIROptions.m
  FirebaseCore/Tests/Unit/FIROptionsTest.m
Labels: api: core, cla: yes

#5918 Work around rare WatchChange.result_type == 0
  Firestore/core/src/remote/serializer.cc
Labels: api: firestore, cla: yes

#5919 Fix FIS private path
  FirebaseCrashlytics.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
  FirebaseRemoteConfig.podspec
Labels: cla: yes

#5921 M74 changelogs
  Crashlytics/CHANGELOG.md
  Firebase/InstanceID/CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
  FirebaseCore/CHANGELOG.md
  FirebaseDatabase/CHANGELOG.md
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInstallations/CHANGELOG.md
  FirebaseMessaging/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseStorage/CHANGELOG.md
  Functions/CHANGELOG.md
  GoogleUtilities/CHANGELOG.md
Labels: GoogleUtilities, api: auth, api: core, api: crashlytics, api: database, api: dynamiclinks, api: functions, api: inappmessaging, api: instanceid, api: messaging, api: remoteconfig, api: storage, cla: yes

#5892 Ignore errors enumerating files during GC
  Firestore/CHANGELOG.md
  Firestore/core/src/local/leveldb_lru_reference_delegate.cc
  Firestore/core/src/local/leveldb_lru_reference_delegate.h
  Firestore/core/src/local/leveldb_persistence.cc
  Firestore/core/src/local/leveldb_persistence.h
  Firestore/core/src/local/lru_garbage_collector.cc
  Firestore/core/src/local/lru_garbage_collector.h
  Firestore/core/src/local/memory_lru_reference_delegate.cc
  Firestore/core/src/local/memory_lru_reference_delegate.h
  Firestore/core/src/util/status.cc
  Firestore/core/src/util/status.h
  Firestore/core/test/unit/local/lru_garbage_collector_test.cc
Labels: api: firestore, cla: yes

#5923 Fix header style issue caught by copybara
  Example/CoreDiagnostics/Tests/FIRCoreDiagnosticsTest.m
Labels: cla: yes

#5922 Fix TSAN violations in FSTTransactionTests
  Firestore/Example/Tests/Integration/FSTTransactionTests.mm
Labels: api: firestore, cla: yes

#5920 Avoid deadlock during shutdown on Linux/Windows
  Firestore/Source/API/FIRFirestore.mm
  Firestore/core/src/util/executor_std.cc
  Firestore/core/test/unit/util/executor_test.cc
Labels: api: firestore, cla: yes

#5927 Update CHANGELOG for Firestore v1.16.1
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#5933 Update formatters
  Example/tvOSSample/tvOSSample/AppDelegate.swift
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseCore/Tests/Unit/FIRAppTest.m
  FirebaseCore/Tests/Unit/FIRComponentContainerTest.m
  FirebaseDatabase/Sources/Core/FQueryParams.m
  FirebaseDatabase/Tests/Integration/FData.m
  FirebaseMessaging/Apps/Sample/Sample/SceneDelegate.swift
  FirebaseMessaging/Apps/Sample/iOS/AppDelegate.swift
  FirebaseRemoteConfig/Sources/RCNDevice.m
  FirebaseStorageSwift/Sources/SwiftAPIExtension.swift
  Firestore/Swift/Source/Codable/FieldValue+Encodable.swift
  Firestore/third_party/FirestoreEncoder/FirestoreEncoder.swift
  GoogleUtilitiesComponents/Tests/GULCCComponentContainerTest.m
  Metrics/Sources/MetricsLib/UploadMetrics.swift
  README.md
  ZipBuilder/Sources/oss-manifest-generator/main.swift
  scripts/setup_check.sh
  scripts/style.sh
Labels: api: auth, api: core, api: database, api: firestore, api: messaging, api: remoteconfig, cla: yes, zip-builder

#5935 Fix GDTCCT SPM build
  GoogleDataTransport/GDTCCTLibrary/GDTCCTNanopbHelpers.m
  GoogleDataTransport/GDTCCTLibrary/GDTCCTUploader.m
  GoogleDataTransport/GDTCCTLibrary/Protogen/nanopb/cct.nanopb.h
  Package.swift
Labels: GoogleDataTransport, cla: yes

#5936 Remove unused import
  GoogleUtilitiesComponents/Tests/GULCCComponentContainerTest.m
Labels: cla: yes

#5934 Fix test overflow
  FirebaseABTesting/Tests/Unit/ABTConditionalUserPropertyControllerTest.m
Labels: api: abtesting, cla: yes

#5905 Checking the pasteboard for dynamic links in ios14
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDLDefaultRetrievalProcessV2.m
Labels: api: dynamiclinks, beta-software, cla: yes

#5943 Fix TSAN errors in FIRListenerRegistrationTests
  Firestore/Example/Tests/Integration/API/FIRListenerRegistrationTests.mm
Labels: api: firestore, cla: yes

#5945 Make snapshots in sync listener registration removal idempotent
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/core/src/api/snapshots_in_sync_listener_registration.cc
Labels: api: firestore, cla: yes

#5949 Update incorrect Core version.
  Firebase.podspec
Labels: cla: yes

#5800 Add DynamicLinks framework testing.
  .github/workflows/dynamiclinks.yml
Labels: cla: yes

#5951 Add swift Dynamiclinks tests
  .github/workflows/dynamiclinks.yml
Labels: cla: yes
