Repository firebase/firebase-ios-sdk, pull requests merged in 2020-12, with the labels that each got.

#7037 Add GoogleService-Info.plist for integration testing.
  .github/workflows/mlmodeldownloader.yml
  FirebaseMLModelDownloader.podspec
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
  scripts/gha-encrypted/MLModelDownloader/GoogleService-Info.plist.gpg
Labels: cla: yes

#7060 Add CocoaPods requirement
  AppleSilicon.md
Labels: cla: yes

#7059 Fix patch/major instructions.
  AppleSilicon.md
Labels: cla: yes

#7063 Update .gitignore to exclude GoogleService-Info.plist for MLModelDownloader.
  .gitignore
Labels: cla: yes

#6890 Crashlytics add support for x86 apps running on Rosetta 2
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Components/FIRCLSHost.h
  Crashlytics/Crashlytics/Components/FIRCLSHost.m
  Crashlytics/Crashlytics/Components/FIRCLSProcess.c
Labels: api: crashlytics, cla: yes

#7005 Googletest - Xcode integration improvements
  Firestore/core/test/unit/FSTGoogleTestTests.mm
Labels: api: firestore, cla: yes

#7069 New secrets file for MLModelDownloader
  scripts/gha-encrypted/MLModelDownloader/GoogleService-Info.plist.gpg
Labels: cla: yes

#7070 Add ObjC instruction
  AppleSilicon.md
Labels: cla: yes

#7067 [App Distribution] Fix crash caused by response being nil
  FirebaseAppDistribution/CHANGELOG.md
  FirebaseAppDistribution/Sources/FIRFADApiService.m
  FirebaseAppDistribution/Tests/Unit/FIRFADApiServiceTests.m
Labels: api: appdistribution, cla: yes

#7064 Expose upload URLs so that perf can stop instrumenting these URLs.
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCCTLibrary/GDTCCTUploader.m
  GoogleDataTransport/GDTCCTLibrary/Private/GDTCCTUploader.h
  GoogleDataTransport/GDTCCTTests/Unit/GDTCCTUploaderTest.m
Labels: GoogleDataTransport, cla: yes

#7065 Fix Catalyst tests for #7050
  .github/workflows/auth.yml
  FirebaseAuth.podspec
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Tests/Unit/FIRAuthNotificationManagerTests.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRAuthURLPresenterTests.m
Labels: Catalyst, api: auth, cla: yes

#7075 Bump up GoogleDataTransport version to 8.1.0
  GoogleDataTransport.podspec
Labels: cla: yes

#7074 Crashlytics improve logging for Analytics integration
  Crashlytics/Crashlytics/Helpers/FIRCLSFCRAnalytics.m
Labels: api: crashlytics, cla: yes

#7081 Cherry-pick AppleSilicon instructions.
  AppleSilicon.md
Labels: cla: yes

#7086 Update instructions to ensure M1 version is used
  AppleSilicon.md
Labels: cla: yes

#7079 Update FirebasePerformance.podspec.json for FirebasePerformance 7.3.0
  FirebasePerformance.podspec.json
Labels: cla: yes

#7088 docs(README): note Xcode >=12 / cocoapods >= 1.10 required
  README.md
Labels: cla: yes

#7089 Update Functions emulator to fix CI regression
  Functions/Backend/package.json
Labels: api: functions, cla: yes

#7092 Update README.md for Crashlytics watchOS
  README.md
Labels: cla: yes

#7091 Fix AppDistro spm build for non-iOS platforms
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.h
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.m
Labels: Swift Package Manager, api: appdistribution, cla: yes, nightly-testing, tvOS

#7080 Use initWithFrame: to create the in-app message window in non-UIScene apps
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMRenderingWindowHelper.m
Labels: api: inappmessaging, cla: yes

#7095 Fix integer conversion loss warnings for size_t to int
  Firestore/core/src/local/leveldb_lru_reference_delegate.cc
  Firestore/core/src/local/memory_lru_reference_delegate.cc
Labels: api: firestore, cla: yes

#7093 Some minor README cleanups
  README.md
Labels: cla: yes

#7096 Manage platform dependent tests in test targets
  .swiftpm/xcode/xcshareddata/xcschemes/Firebase-Package.xcscheme
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.h
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.m
  Package.swift
  SwiftPMTests/objc-import-test/objc-header.m
  SwiftPMTests/objc-import-test/objc-module.m
  SwiftPMTests/swift-test/main.swift
Labels: api: appdistribution, cla: yes

#7101 Use Xcode 12.0 for watchOS test app
  .github/workflows/datatransport.yml
Labels: cla: yes

#7104 M85 Changelog versions
  Crashlytics/CHANGELOG.md
  FirebaseAppDistribution/CHANGELOG.md
  Firestore/CHANGELOG.md
  GoogleDataTransport/CHANGELOG.md
Labels: GoogleDataTransport, api: appdistribution, api: crashlytics, api: firestore, cla: yes

#7097 GUL: make NSURLSession promise extension public
  GoogleUtilities.podspec
  GoogleUtilities/CHANGELOG.md
  GoogleUtilities/Environment/Public/GoogleUtilities/GULURLSessionDataResponse.h
  GoogleUtilities/Environment/Public/GoogleUtilities/NSURLSession+GULPromises.h
  GoogleUtilities/Environment/URLSessionPromiseWrapper/GULURLSessionDataResponse.m
  GoogleUtilities/Environment/URLSessionPromiseWrapper/NSURLSession+GULPromises.m
  GoogleUtilities/Tests/Unit/Environment/NSURLSession+GULPromisesTests.m
Labels: GoogleUtilities, cla: yes

#7102 Remove Analytics Catalyst tests.
  Package.swift
  SwiftPMTests/objc-import-test/objc-header.m
  SwiftPMTests/objc-import-test/objc-module.m
  SwiftPMTests/swift-test/main.swift
Labels: Catalyst, cla: yes, nightly-testing

#7106 Restore License copyright
  LICENSE
Labels: cla: yes

#7107 Update versions for Release 7.3.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMLCommon.podspec.json
  FirebaseMLModelInterpreter.podspec.json
  FirebaseMLVision.podspec.json
  FirebaseMessaging.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: auth, cla: yes, release-tooling

#7068 Refactoring model download functionality.
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelFileManager.swift
  FirebaseMLModelDownloader/Sources/ModelInfo.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Sources/UserDefaultsBacked.swift
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
Labels: cla: yes

#5853 Manually created dynamic links should be subject to allowed/blocked check
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.h
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.m
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FIRDynamicLinks.h
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinkNetworkingTests.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
Labels: api: dynamiclinks, cla: yes, public-api-change, type: feature request

#7118 Fix Carthage metrics
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: cla: yes, release-tooling

#7120 Replace "whitelist" with "allowlist" in Auth source code.
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Backend/RPC/FIRGetProjectConfigResponse.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthErrors.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.m
  FirebaseAuth/Sources/Utilities/FIRAuthInternalErrors.h
  FirebaseAuth/Tests/Unit/FIRGetOOBConfirmationCodeResponseTests.m
  FirebaseAuth/Tests/Unit/FIRGetProjectConfigResponseTests.m
Labels: api: auth, cla: yes, public-api-change

#7119 Add Dynamic Links PR to 7.3.0 release with Changelog update
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.h
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.m
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FIRDynamicLinks.h
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinkNetworkingTests.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
Labels: api: dynamiclinks, cla: yes, public-api-change

#7123 Info.plist fixes
  ReleaseTooling/Sources/ZipBuilder/CarthageUtils.swift
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
Labels: cla: yes, release-tooling

#7133 Carthage discontinuation warning to Readme
  Carthage.md
Labels: cla: yes

#7132 Update SPM analytics for 7.3.0
  Package.swift
Labels: cla: yes

#7135 Messaging and AppDistro are available in SwiftPM
  SwiftPackageManager.md
Labels: cla: yes

#7131 Don't generate Carthage for xcframeworks
  ReleaseTooling/Sources/ZipBuilder/CarthageUtils.swift
Labels: cla: yes, release-tooling

#7139 Add missing #include <cstdlib>, required for abort().
  Firestore/core/src/util/secure_random_openssl.cc
Labels: api: firestore, cla: yes

#7137 Merge 7.3
  FirebaseDynamicLinks/CHANGELOG.md
  Package.swift
Labels: api: dynamiclinks, cla: yes

#7138 Update 7.3.0 Carthage jsons
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelInterpreterBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLVisionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseProtobufBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: auth, cla: yes, release-tooling

#7142 Add integration test for Firebase Performance on Public repository
  .github/workflows/performance-integration-tests.yml
Labels: api: performance, cla: yes

#7141 Enabled Perf GitHub workflow for the public OSS.
  .github/workflows/performance.yml
Labels: api: performance, cla: yes

#7145 Fix typo in Auth Error string
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.m
Labels: api: auth, cla: yes

#7144 Add Perf to Danger and misc integration tests
  .github/workflows/archiving.yml
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods_multiprojects_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods_multiprojects_staticLibs/Podfile
  CoreOnly/Tests/FirebasePodTest/Podfile
  Dangerfile
  SymbolCollisionTest/Podfile
Labels: api: core, cla: yes

#7147 Remove unnecessary dependency
  Dangerfile
  FirebasePerformance.podspec
  FirebasePerformance/Tests/FIRPerfE2E/Podfile
Labels: api: performance, cla: yes

#7146 Mark perf as open source in zip builder and delete podspec.json
  FirebasePerformance.podspec.json
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: cla: yes, release-tooling

#7076 Remove legacy crash reporting upload process
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Controllers/FIRCLSNetworkClient.h
  Crashlytics/Crashlytics/Controllers/FIRCLSNetworkClient.m
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.m
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager_Private.h
  Crashlytics/Crashlytics/Controllers/FIRCLSReportUploader.h
  Crashlytics/Crashlytics/Controllers/FIRCLSReportUploader.m
  Crashlytics/Crashlytics/Models/FIRCLSFileManager.h
  Crashlytics/Crashlytics/Models/FIRCLSFileManager.m
  Crashlytics/Crashlytics/Models/FIRCLSSettings.h
  Crashlytics/Crashlytics/Models/FIRCLSSettings.m
  Crashlytics/Crashlytics/Operations/Reports/FIRCLSPackageReportOperation.h
  Crashlytics/Crashlytics/Operations/Reports/FIRCLSPackageReportOperation.m
  Crashlytics/Crashlytics/Settings/FIRCLSSettingsManager.h
  Crashlytics/Crashlytics/Settings/FIRCLSSettingsManager.m
  Crashlytics/UnitTests/FIRCLSPackageReportsOperationTests.m
  Crashlytics/UnitTests/FIRCLSReportManagerTests.m
  Crashlytics/UnitTests/FIRCLSReportUploaderTests.m
  Crashlytics/UnitTests/FIRCLSSettingsTests.m
  Crashlytics/UnitTests/Mocks/FIRCLSMockNetworkClient.h
  Crashlytics/UnitTests/Mocks/FIRCLSMockNetworkClient.m
  Crashlytics/UnitTests/Mocks/FIRCLSMockReportManager.m
  Crashlytics/UnitTests/Mocks/FIRCLSMockReportUploader.m
  Crashlytics/UnitTests/Mocks/FIRCLSMockSettings.h
  Crashlytics/UnitTests/Mocks/FIRCLSMockSettings.m
Labels: api: crashlytics, cla: yes

#7150 Crashlytics move more references to orgID
  Crashlytics/Crashlytics/Models/FIRCLSInternalReport.h
  Crashlytics/Crashlytics/Models/FIRCLSInternalReport.m
  Crashlytics/Shared/FIRCLSConstants.h
  Crashlytics/Shared/FIRCLSConstants.m
Labels: api: crashlytics, cla: yes

#7152 Update nanopb for SwiftPM
  Package.swift
Labels: cla: yes

#7151 Fix nightly segmentation and include performance in report
  .github/workflows/generate_issues.yml
  FirebaseSegmentation/Tests/Sample/Podfile
Labels: api: segmentation, cla: yes

#7156 Revert "Crashlytics move more references to orgID"
  Crashlytics/Crashlytics/Models/FIRCLSInternalReport.h
  Crashlytics/Crashlytics/Models/FIRCLSInternalReport.m
  Crashlytics/Shared/FIRCLSConstants.h
  Crashlytics/Shared/FIRCLSConstants.m
Labels: api: crashlytics, cla: yes

#7157 FIRApp tests fixes
  FirebaseCore.podspec
  FirebaseCore/Tests/Unit/FIRAppTest.m
Labels: api: core, cla: yes

#7124 Add singleton-ish instance methods for model downloader (public API).
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelInfo.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
Labels: cla: yes

#7161 Mm/dlfix
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
Labels: api: dynamiclinks, cla: yes

#7158 Add perf related workflows.
  .github/workflows/performance.yml
  scripts/gha-encrypted/qs-performance.plist.gpg
Labels: cla: yes

#7159 Callback should be on main thread
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
Labels: api: dynamiclinks, cla: yes

#7162 7.3.1 release for FDL regression fix
  FirebaseDynamicLinks.podspec
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
  Package.swift
Labels: api: dynamiclinks, cla: yes

#7172 Update README for perf open source
  README.md
Labels: cla: yes

#7168 Merge 7.3.1 to master
  FirebaseDynamicLinks.podspec
  FirebaseDynamicLinks/CHANGELOG.md
  Package.swift
Labels: api: dynamiclinks, cla: yes

#7169 Add secret to performance integration tests.
  .github/workflows/performance-integration-tests.yml
  FirebasePerformance/Tests/FIRPerfE2E/FIRPerfE2EAutopush/GoogleService-Info.plist
  FirebasePerformance/Tests/FIRPerfE2E/FIRPerfE2EProd/GoogleService-Info.plist
  FirebasePerformance/Tests/TestApp/Plists/Autopush/FIRPerfTestAppAutopush/GoogleService-Info.plist
  FirebasePerformance/Tests/TestApp/Plists/Prod/FIRPerfTestApp/GoogleService-Info.plist
  FirebasePerformance/Tests/TestApp/README.md
  scripts/gha-encrypted/Performance/GoogleService-Info_e2e_autopush.plist.gpg
  scripts/gha-encrypted/Performance/GoogleService-Info_e2e_prod.plist.gpg
Labels: api: performance, cla: yes

#7173 Delay GDTCORUploadCoordinator timer initial run
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
Labels: cla: yes

#7180 Disable integration tests on the private repo.
  .github/workflows/performance-integration-tests.yml
Labels: api: performance, cla: yes

#7178 Add gitignore for GoogleService-Info.plist
  .gitignore
Labels: cla: yes

#7183 Alternative Catalyst development option
  README.md
Labels: cla: yes

#7182 Cleanup the binary release related workflows for Firebase performance.
  .github/workflows/performance-release.yml
  FirebasePerformance/Distribute/CocoaPods/README.md
  FirebasePerformance/Distribute/CocoaPods/pods.json
  FirebasePerformance/Distribute/build_zip.sh
  scripts/build.sh
Labels: cla: yes

#7176 Add a new AdvancedSample test app for messaging
  .github/workflows/messaging.yml
  .gitignore
  FirebaseMessaging/Apps/AdvancedSample/AdvancedSample.xcodeproj/project.pbxproj
  FirebaseMessaging/Apps/AdvancedSample/AdvancedSample/AdvancedSample.entitlements
  FirebaseMessaging/Apps/AdvancedSample/AdvancedSample/Assets.xcassets/AccentColor.colorset/Contents.json
  FirebaseMessaging/Apps/AdvancedSample/AdvancedSample/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseMessaging/Apps/AdvancedSample/AdvancedSample/Assets.xcassets/Contents.json
  FirebaseMessaging/Apps/AdvancedSample/AdvancedSample/Info.plist
  FirebaseMessaging/Apps/AdvancedSample/AdvancedSample/Preview Content/Preview Assets.xcassets/Contents.json
  FirebaseMessaging/Apps/AdvancedSample/Podfile
  FirebaseMessaging/Apps/README.md
  FirebaseMessaging/Apps/Sample/Sample.xcodeproj/project.pbxproj
  FirebaseMessaging/Apps/Sample/iOS/AppDelegate.swift
  FirebaseMessaging/Apps/Sample/iOS/MessagingViewController.swift
  FirebaseMessaging/Apps/Sample/iOS/NotificationsController.swift
  FirebaseMessaging/Apps/Shared/AppDelegate.swift
  FirebaseMessaging/Apps/Shared/Base.lproj/LaunchScreen.storyboard
  FirebaseMessaging/Apps/Shared/ContentView.swift
  FirebaseMessaging/Apps/Shared/Identity.swift
  FirebaseMessaging/Apps/Shared/SceneDelegate.swift
  FirebaseMessaging/Apps/Shared/TopicView.swift
  FirebaseMessaging/Apps/Shared/UserSettings.swift
  FirebaseMessaging/Apps/Shared/logo.png
Labels: api: messaging, cla: yes

#7181 Update Performance documentation.
  FirebasePerformance/README.md
  FirebasePerformance/Tests/TestApp/README.md
  README.md
Labels: api: performance, cla: yes

#7185 Restore Catalyst unit testing in CI
  .github/workflows/abtesting.yml
  .github/workflows/appdistribution.yml
  .github/workflows/auth.yml
  .github/workflows/core-diagnostics.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/datatransport.yml
  .github/workflows/functions.yml
  .github/workflows/google-utilities-components.yml
  .github/workflows/google-utilities.yml
  .github/workflows/installations.yml
  .github/workflows/instanceid.yml
  .github/workflows/messaging.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/segmentation.yml
  .github/workflows/storage.yml
  Example/InstanceID/Tests/FIRInstanceIDAuthKeyChainTest.m
  FirebaseCoreDiagnostics.podspec
  GoogleUtilities/Tests/Unit/Environment/GULKeychainStorageTests.m
  GoogleUtilities/Tests/Unit/Network/GULNetworkTest.m
  GoogleUtilities/Tests/Unit/Swizzler/GULAppDelegateSwizzlerTest.m
  GoogleUtilities/Tests/Unit/Swizzler/GULObjectSwizzlerTest.m
  GoogleUtilities/Tests/Unit/Swizzler/GULSceneDelegateSwizzlerTest.m
  GoogleUtilities/Tests/Unit/UserDefaults/GULUserDefaultsTests.m
  scripts/test_catalyst.sh
Labels: GoogleUtilities, cla: yes

#7188 Fix FirebaseMetadataProvider under VS2015
  Firestore/core/src/remote/firebase_metadata_provider.cc
  Firestore/core/src/remote/firebase_metadata_provider.h
Labels: api: firestore, cla: yes

#7191 Disable macos cron tests
  .github/workflows/crashlytics.yml
Labels: cla: yes

#7187 Add service extension, app clips and watch app to Messaging advanced sample app
  .gitignore
  FirebaseMessaging/Apps/AdvancedSample/AdvancedSample.xcodeproj/project.pbxproj
  FirebaseMessaging/Apps/AdvancedSample/AdvancedSample.xcodeproj/xcshareddata/xcschemes/AdvancedSample.xcscheme
  FirebaseMessaging/Apps/AdvancedSample/AdvancedSample.xcodeproj/xcshareddata/xcschemes/AppClips.xcscheme
  FirebaseMessaging/Apps/AdvancedSample/AppClips/AppClips.entitlements
  FirebaseMessaging/Apps/AdvancedSample/AppClips/Assets.xcassets/AccentColor.colorset/Contents.json
  FirebaseMessaging/Apps/AdvancedSample/AppClips/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseMessaging/Apps/AdvancedSample/AppClips/Assets.xcassets/Contents.json
  FirebaseMessaging/Apps/AdvancedSample/AppClips/Base.lproj/LaunchScreen.storyboard
  FirebaseMessaging/Apps/AdvancedSample/AppClips/Info.plist
  FirebaseMessaging/Apps/AdvancedSample/AppClips/Preview Content/Preview Assets.xcassets/Contents.json
  FirebaseMessaging/Apps/AdvancedSample/NotificationServiceExtension/Info.plist
  FirebaseMessaging/Apps/AdvancedSample/NotificationServiceExtension/NotificationService.swift
  FirebaseMessaging/Apps/AdvancedSample/Podfile
  FirebaseMessaging/Apps/AdvancedSample/SampleWatchWatchKitApp/Assets.xcassets/AccentColor.colorset/Contents.json
  FirebaseMessaging/Apps/AdvancedSample/SampleWatchWatchKitApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseMessaging/Apps/AdvancedSample/SampleWatchWatchKitApp/Assets.xcassets/Contents.json
  FirebaseMessaging/Apps/AdvancedSample/SampleWatchWatchKitApp/Base.lproj/Interface.storyboard
  FirebaseMessaging/Apps/AdvancedSample/SampleWatchWatchKitApp/Info.plist
  FirebaseMessaging/Apps/AdvancedSample/SampleWatchWatchKitExtension/Assets.xcassets/Contents.json
  FirebaseMessaging/Apps/AdvancedSample/SampleWatchWatchKitExtension/ComplicationController.swift
  FirebaseMessaging/Apps/AdvancedSample/SampleWatchWatchKitExtension/ContentView.swift
  FirebaseMessaging/Apps/AdvancedSample/SampleWatchWatchKitExtension/ExtensionDelegate.swift
  FirebaseMessaging/Apps/AdvancedSample/SampleWatchWatchKitExtension/HostingController.swift
  FirebaseMessaging/Apps/AdvancedSample/SampleWatchWatchKitExtension/Info.plist
  FirebaseMessaging/Apps/AdvancedSample/SampleWatchWatchKitExtension/Preview Content/Preview Assets.xcassets/Contents.json
  FirebaseMessaging/Apps/AdvancedSample/SampleWatchWatchKitExtension/SampleWatchWatchKitExtension.entitlements
  FirebaseMessaging/Apps/Sample/Sample.xcodeproj/project.pbxproj
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/AppIcon.appiconset/ItunesArtwork@2x.png
  FirebaseMessaging/Apps/Shared/Assets.xcassets/Contents.json
  FirebaseMessaging/Apps/Shared/ContentView.swift
Labels: api: messaging, cla: yes

#7193 Disable posting new issues if there are consecutive successful report.
  .github/actions/testing_report_generation/app.rb
Labels: cla: yes

#7160 Support in-app messaging on tvOS apps
  .github/workflows/inappmessaging.yml
  FIRInAppMessageDisplayStoryboardTV.storyboard
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMAnalyticsEventLoggerImpl.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutHttpRequestSender.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutLogStorage.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutLogger.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutUploader.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMFetchResponseParser.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMMessageContentDataWithImageURL.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMMessageDefinition.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMRenderingEffectSetting.m
  FirebaseInAppMessaging/Sources/DisplayTrigger/FIRIAMDisplayTriggerDefinition.m
  FirebaseInAppMessaging/Sources/FIRCore+InAppMessaging.m
  FirebaseInAppMessaging/Sources/FIRInAppMessaging.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMActivityLogger.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMBookKeeper.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMClientInfoFetcher.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayCheckOnAnalyticEventsFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayCheckOnAppForegroundFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayCheckOnFetchDoneNotificationFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayCheckTriggerFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMFetchFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMFetchOnAppForegroundFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMMessageClientCache.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMMsgFetcherUsingRestful.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMServerMsgFetchStorage.m
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessaging.h
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessagingRendering.h
  FirebaseInAppMessaging/Sources/RenderingObjects/FIRInAppMessagingRenderingDataClasses.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMActionURLFollower.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMRuntimeManager.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMSDKModeManager.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMSDKSettings.m
  FirebaseInAppMessaging/Sources/Runtime/FIRInAppMessaging+Bootstrap.m
  FirebaseInAppMessaging/Sources/Util/FIRIAMElapsedTimeTracker.m
  FirebaseInAppMessaging/Sources/Util/FIRIAMTimeFetcher.m
  FirebaseInAppMessaging/Sources/Util/NSString+FIRInterlaceStrings.m
  FirebaseInAppMessaging/Sources/Util/UIColor+FIRIAMHexString.m
Labels: api: inappmessaging, cla: yes, public-api-change, tvOS

#7192 Add catalyst
  .github/workflows/mlmodeldownloader.yml
Labels: Catalyst, api: ml, cla: yes

#7200 Zip Builder README fixes
  ReleaseTooling/README.md
Labels: cla: yes, release-tooling

#7201 Eliminate repo-dir option
  .github/workflows/zip.yml
  ReleaseTooling/README.md
  ReleaseTooling/Sources/ZipBuilder/main.swift
  scripts/build_non_firebase_sdks.sh
  scripts/build_zip.sh
Labels: cla: yes, release-tooling

#7202 Zip docs organization
  ReleaseTooling/DEVELOP.md
  ReleaseTooling/README.md
  ReleaseTooling/Sources/ZipBuilder/main.swift
Labels: cla: yes, release-tooling

#7204 Add --pods option
  ReleaseTooling/README.md
  ReleaseTooling/Sources/ZipBuilder/main.swift
Labels: cla: yes, release-tooling

#7205 Rename top level zip directory
  ReleaseTooling/Sources/ZipBuilder/main.swift
Labels: cla: yes, release-tooling

#7199 Prevent 2nd listAll callback
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/FIRStorageReference.m
  FirebaseStorage/Tests/Unit/FIRStorageListTests.m
Labels: api: storage, cla: yes

#7212 Add ZipBuilder support for tvOS and macOS
  .github/workflows/zip.yml
  ReleaseTooling/README.md
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/FirebaseManifest/Pod.swift
  ReleaseTooling/Sources/ZipBuilder/CocoaPodUtils.swift
  ReleaseTooling/Sources/ZipBuilder/FirebaseBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/ModuleMapBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/Platforms.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/main.swift
  scripts/build_non_firebase_sdks.sh
Labels: cla: yes, release-tooling

#7217 File reorg after #7212
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/Platform.swift
  ReleaseTooling/Sources/ZipBuilder/TargetPlatform.swift
Labels: cla: yes, release-tooling

#7220 Add a flag to skip building for Catalyst
  ReleaseTooling/Sources/ZipBuilder/Platform.swift
  ReleaseTooling/Sources/ZipBuilder/main.swift
Labels: cla: yes, release-tooling

#7222 Add update_transforms protos
  Firestore/Protos/cpp/firestore/local/mutation.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/firestore.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/write.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/write.pb.h
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.h
  Firestore/Protos/protos/google/firestore/v1/write.proto
Labels: api: firestore, cla: yes

#7224 Update to disble blank issue.
  .github/actions/testing_report_generation/app.rb
Labels: cla: yes

#7223 Check token is different from cache and storage before updating it
  Example/InstanceID/Tests/FIRInstanceIDTest.m
  Firebase/InstanceID/CHANGELOG.md
  Firebase/InstanceID/FIRInstanceID.m
  FirebaseMessaging/Apps/Shared/ContentView.swift
  FirebaseMessaging/Apps/Shared/SceneDelegate.swift
Labels: api: instanceid, api: messaging, cla: yes

#7228 Add test coverage to podspecs.
  FirebaseABTesting.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseSegmentation.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  GoogleDataTransport.podspec
  GoogleUtilities.podspec
  GoogleUtilitiesComponents.podspec
Labels: api: auth, cla: yes
