Repository firebase/firebase-ios-sdk, pull requests merged in 2020-03, with the labels that each got.

#4995 Restore Firestore build in xcframework branch
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
Labels: cla: yes, zip-builder

#4993 Move UpdateFirebasePod to Swift's ArgumentParser library.
  ZipBuilder/Package.swift
  ZipBuilder/Sources/UpdateFirebasePod/FirebasePod.swift
  ZipBuilder/Sources/UpdateFirebasePod/LaunchArgs.swift
  ZipBuilder/Sources/UpdateFirebasePod/main.swift
Labels: cla: yes, zip-builder

#5003 Renamed pod updater.
  ZipBuilder/Sources/firebase-pod-updater/main.swift
Labels: cla: yes, zip-builder

#4988 Upload Symbols 3.1
  Crashlytics/upload-symbols
Labels: api: crashlytics, cla: yes

#5002 Add watchOS test apps for GDT and GDTCCT with compiled interface controller
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestApp.xcodeproj/project.pbxproj
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitApp/Assets.xcassets/Contents.json
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitApp/Base.lproj/Interface.storyboard
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitApp/Info.plist
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Circular.imageset/Contents.json
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Contents.json
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Extra Large.imageset/Contents.json
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Graphic Bezel.imageset/Contents.json
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Graphic Circular.imageset/Contents.json
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Graphic Corner.imageset/Contents.json
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Graphic Large Rectangular.imageset/Contents.json
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Modular.imageset/Contents.json
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Utilitarian.imageset/Contents.json
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/Assets.xcassets/Contents.json
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/ExtensionDelegate.swift
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/Info.plist
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/InterfaceController.swift
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/NotificationController.swift
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/PushNotificationPayload.apns
  GoogleDataTransport/GDTWatchOSTestApp/GDTWatchOSTestAppWatchKitExtension/gdthelper.swift
  GoogleDataTransport/GDTWatchOSTestApp/Podfile
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestApp.xcodeproj/project.pbxproj
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitApp/Assets.xcassets/Contents.json
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitApp/Base.lproj/Interface.storyboard
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitApp/Info.plist
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Circular.imageset/Contents.json
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Contents.json
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Extra Large.imageset/Contents.json
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Graphic Bezel.imageset/Contents.json
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Graphic Circular.imageset/Contents.json
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Graphic Corner.imageset/Contents.json
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Graphic Large Rectangular.imageset/Contents.json
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Modular.imageset/Contents.json
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/Assets.xcassets/Complication.complicationset/Utilitarian.imageset/Contents.json
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/Assets.xcassets/Contents.json
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/ExtensionDelegate.swift
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/Info.plist
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/InterfaceController.swift
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/NotificationController.swift
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/PushNotificationPayload.apns
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/GDTCCTWatchOSTestAppWatchKitExtension/gdthelpers.swift
  GoogleDataTransportCCTSupport/GDTCCTWatchOSTestApp/Podfile
Labels: cla: yes

#5004 Crashlytics Update CHANGELOG.md for v4.0.0-beta.5
  Crashlytics/CHANGELOG.md
Labels: api: crashlytics, cla: yes

#4985 Checks for connectivity when App is moving to foreground.
  Firestore/core/src/firebase/firestore/remote/connectivity_monitor.cc
  Firestore/core/src/firebase/firestore/remote/connectivity_monitor.h
  Firestore/core/src/firebase/firestore/remote/connectivity_monitor_apple.mm
Labels: api: firestore, cla: yes

#5008 Update CHANGELOG for Firestore v1.11.1
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#5005 Support AB testing of Firebase In-App Messages
  FirebaseABTesting.podspec
  FirebaseABTesting/Sources/FIRExperimentController.m
  FirebaseABTesting/Sources/Public/FIRExperimentController.h
  FirebaseABTesting/Tests/Unit/FIRExperimentControllerTest.m
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessaging/Sources/Data/FIRIAMFetchResponseParser.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMMessageDefinition.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMMsgFetcherUsingRestful.m
  FirebaseInAppMessaging/Sources/Private/Data/FIRIAMMessageDefinition.h
  FirebaseInAppMessaging/Sources/Public/FIRInAppMessagingRendering.h
  FirebaseInAppMessaging/Sources/RenderingObjects/FIRInAppMessagingRenderingDataClasses.m
  FirebaseInAppMessaging/Sources/RenderingObjects/FIRInAppMessagingRenderingPrivate.h
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/Podfile
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/Podfile
  FirebaseInAppMessaging/Tests/Unit/FIRIAMDisplayExecutorTests.m
  FirebaseInAppMessaging/Tests/Unit/FIRIAMFetchFlowTests.m
  FirebaseInAppMessaging/Tests/Unit/FIRIAMFetchResponseParserTests.m
  FirebaseInAppMessaging/Tests/Unit/FIRIAMMessageClientCacheTests.m
  FirebaseInAppMessaging/Tests/Unit/TestJsonDataFromFetch.txt
Labels: api: abtesting, api: inappmessaging, cla: yes, public-api-change

#5013 Core M66 changelog update
  FirebaseCore/CHANGELOG.md
Labels: api: core, cla: yes

#5014 FirebaseStorage.podspec - update Core dependency version to one supporting watchOS
  FirebaseStorage.podspec
Labels: cla: yes

#5015 Add FirebaseABTesting to travis cron tests
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_6_1_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_6_1_staticLibs/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_multiprojects_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_multiprojects_staticLibs/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_staticLibs/Podfile
  SymbolCollisionTest/Podfile
Labels: cla: yes

#5016 FirebaseCoreDiagnostics 1.2.2 - bump GoogleDataTransportCCTSupport dependency to ~> 2.0
  FirebaseCoreDiagnostics.podspec
Labels: cla: yes

#5018 M66 FirebaseCoreDiagnostics added to the release manifest
  Releases/Manifests/6.19.0.json
Labels: cla: yes

#5019 M66 FIAM GoogleDataTransportCCTSupport dependency bump to '~> 2.0'
  FirebaseInAppMessaging.podspec
Labels: cla: yes

#5017 update storage changelog
  FirebaseStorage/CHANGELOG.md
Labels: api: storage, cla: yes

#5023 Fix issue where Crash Free Users does not work with new GDT changes
  Crashlytics/Crashlytics/Controllers/FIRCLSReportUploader.m
  Crashlytics/Crashlytics/Models/FIRCLSInternalReport.m
Labels: cla: yes

#5027 Remove setting CMAKE_BUILD_TYPE in CMakeLists.txt
  CMakeLists.txt
  scripts/build.sh
Labels: api: firestore, cla: yes

#5030 Consolidate the Google Analytics origins for Crashlytics
  Crashlytics/Crashlytics/Helpers/FIRCLSFCRAnalytics.m
Labels: api: crashlytics, cla: yes

#5026 Fix assertions not printing correctly
  GoogleDataTransport/GDTCORLibrary/GDTCORConsoleLogger.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORAssert.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORConsoleLogger.h
  GoogleDataTransport/GDTCORTests/Unit/GDTCORAssertTest.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#4920 M66 changelog for FIAM and ABT SDKs
  FirebaseABTesting/CHANGELOG.md
  FirebaseInAppMessaging/CHANGELOG.md
Labels: api: abtesting, api: inappmessaging, cla: yes

#5009 Switch watchOS applicationDelegate to WKExtensionDelegate
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORPlatform.h
Labels: cla: yes

#5035 Add Installations to docs script
  scripts/make_release_notes.py
Labels: cla: yes

#5034 Update GDT and GDTCCT CHANGELOGs
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransportCCTSupport/CHANGELOG.md
Labels: GoogleDataTransport, cla: yes

#5036 Update CHANGELOG for M66.
  FirebaseRemoteConfig/CHANGELOG.md
Labels: api: remoteconfig, cla: yes

#5038 Fix typos in doc comments
  FirebaseABTesting/Sources/Public/FIRExperimentController.h
Labels: api: abtesting, cla: yes, public-api-change

#5040 Add Swift module support to ZipBuilder
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: cla: yes, zip-builder

#5046 Cherry Pick Crashlytics Upload Symbols
  Crashlytics/upload-symbols
Labels: api: crashlytics, cla: yes

#5042 Fix compilation under Linux/GCC 9.2.1 in Release mode
  Firestore/Protos/CMakeLists.txt
Labels: api: firestore, cla: yes

#5041 Fix nightly zip GHA build
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
Labels: cla: yes, zip-builder

#5047 Cherry Pick Crashlytics Upload Symbols (#5046)
  Crashlytics/upload-symbols
Labels: cla: yes

#5050 CocoaPods 1.9.1
  Gemfile
  Gemfile.lock
Labels: cla: yes

#5037 Fix a usage of `Mutation` at a point where it's only been forward-declared
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.cc
  Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.h
Labels: api: firestore, cla: yes

#5059 Address a few potential security issues
  Firebase/CoreDiagnostics/CHANGELOG.md
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  GoogleDataTransportCCTSupport/CHANGELOG.md
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTNanopbHelpers.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/Private/GDTCCTNanopbHelpers.h
Labels: GoogleDataTransport, api: core, cla: yes

#5058 Merge release 6.19.0
  Firebase.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseFirestore.podspec
  FirebaseInAppMessaging.podspec
  FirebaseRemoteConfig.podspec
  GoogleDataTransport.podspec
  GoogleDataTransportCCTSupport.podspec
  Releases/Manifests/6.19.0.json
Labels: cla: yes

#5056 Update environment checks
  Example/Messaging/Sample/iOS/Environment.swift
  GoogleUtilities/CHANGELOG.md
  GoogleUtilities/Environment/third_party/GULAppEnvironmentUtil.m
Labels: GoogleUtilities, cla: yes

#5051 Refactor and clean up the CMake build ahead of CMake/iOS support
  CMakeLists.txt
  FirebaseCore/CMakeLists.txt
  Firestore/Example/App/CMakeLists.txt
  Firestore/Example/Benchmarks/CMakeLists.txt
  Firestore/Example/Tests/API/CMakeLists.txt
  Firestore/Example/Tests/Integration/CMakeLists.txt
  Firestore/Example/Tests/SpecTests/CMakeLists.txt
  Firestore/Example/Tests/Util/CMakeLists.txt
  Firestore/Protos/CMakeLists.txt
  Firestore/Source/CMakeLists.txt
  Firestore/core/src/firebase/firestore/CMakeLists.txt
  Firestore/core/src/firebase/firestore/api/CMakeLists.txt
  Firestore/core/src/firebase/firestore/auth/CMakeLists.txt
  Firestore/core/src/firebase/firestore/core/CMakeLists.txt
  Firestore/core/src/firebase/firestore/immutable/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/src/firebase/firestore/model/CMakeLists.txt
  Firestore/core/src/firebase/firestore/nanopb/CMakeLists.txt
  Firestore/core/src/firebase/firestore/objc/CMakeLists.txt
  Firestore/core/src/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/src/firebase/firestore/util/CMakeLists.txt
  Firestore/core/test/firebase/firestore/CMakeLists.txt
  Firestore/core/test/firebase/firestore/api/CMakeLists.txt
  Firestore/core/test/firebase/firestore/auth/CMakeLists.txt
  Firestore/core/test/firebase/firestore/core/CMakeLists.txt
  Firestore/core/test/firebase/firestore/immutable/CMakeLists.txt
  Firestore/core/test/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/model/CMakeLists.txt
  Firestore/core/test/firebase/firestore/nanopb/CMakeLists.txt
  Firestore/core/test/firebase/firestore/objc/CMakeLists.txt
  Firestore/core/test/firebase/firestore/remote/CMakeLists.txt
  Firestore/core/test/firebase/firestore/testutil/CMakeLists.txt
  Firestore/core/test/firebase/firestore/util/CMakeLists.txt
  Firestore/fuzzing/CMakeLists.txt
  GoogleUtilities/CMakeLists.txt
  Interop/Auth/CMakeLists.txt
  Interop/CoreDiagnostics/CMakeLists.txt
  cmake/archive_options.cmake
  cmake/cc_rules.cmake
  cmake/compiler_id.cmake
  cmake/compiler_setup.cmake
  cmake/fuzzing_options.cmake
  cmake/sanitizer_options.cmake
Labels: GoogleUtilities, api: core, api: firestore, cla: yes

#5063 Capitalize
  Example/Auth/Sample/MainViewController+OAuth.m
  Example/Auth/Tests/FIRUserTests.m
  Firebase/Auth/Source/Auth/FIRAuthTokenResult.m
  Firebase/Auth/Source/AuthProvider/Phone/FIRPhoneAuthProvider.m
  Firebase/Auth/Source/Backend/FIRAuthBackend+MultiFactor.h
  Firebase/Auth/Source/Backend/FIRAuthBackend+MultiFactor.m
  Firebase/Auth/Source/Backend/FIRAuthBackend.m
  Firebase/Auth/Source/Backend/RPC/FIREmailLinkSignInRequest.h
  Firebase/Auth/Source/Backend/RPC/FIRGetAccountInfoResponse.h
  Firebase/Auth/Source/Backend/RPC/FIRGetAccountInfoResponse.m
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionResponse.h
  Firebase/Auth/Source/Backend/RPC/FIRVerifyAssertionResponse.m
  Firebase/Auth/Source/Backend/RPC/FIRVerifyPasswordResponse.h
  Firebase/Auth/Source/Backend/RPC/FIRVerifyPasswordResponse.m
  Firebase/Auth/Source/Backend/RPC/MultiFactor/Enroll/FIRFinalizeMFAEnrollmentRequest.h
  Firebase/Auth/Source/Backend/RPC/MultiFactor/Enroll/FIRFinalizeMFAEnrollmentRequest.m
  Firebase/Auth/Source/Backend/RPC/MultiFactor/Enroll/FIRFinalizeMFAEnrollmentResponse.h
  Firebase/Auth/Source/Backend/RPC/MultiFactor/Enroll/FIRFinalizeMFAEnrollmentResponse.m
  Firebase/Auth/Source/Backend/RPC/MultiFactor/Enroll/FIRStartMFAEnrollmentRequest.h
  Firebase/Auth/Source/Backend/RPC/MultiFactor/Enroll/FIRStartMFAEnrollmentRequest.m
  Firebase/Auth/Source/Backend/RPC/MultiFactor/Enroll/FIRStartMFAEnrollmentResponse.h
  Firebase/Auth/Source/Backend/RPC/MultiFactor/Enroll/FIRStartMFAEnrollmentResponse.m
  Firebase/Auth/Source/Backend/RPC/MultiFactor/SignIn/FIRFinalizeMFASignInRequest.h
  Firebase/Auth/Source/Backend/RPC/MultiFactor/SignIn/FIRFinalizeMFASignInRequest.m
  Firebase/Auth/Source/Backend/RPC/MultiFactor/SignIn/FIRFinalizeMFASignInResponse.h
  Firebase/Auth/Source/Backend/RPC/MultiFactor/SignIn/FIRFinalizeMFASignInResponse.m
  Firebase/Auth/Source/Backend/RPC/MultiFactor/SignIn/FIRStartMFASignInRequest.h
  Firebase/Auth/Source/Backend/RPC/MultiFactor/SignIn/FIRStartMFASignInRequest.m
  Firebase/Auth/Source/Backend/RPC/MultiFactor/SignIn/FIRStartMFASignInResponse.h
  Firebase/Auth/Source/Backend/RPC/MultiFactor/SignIn/FIRStartMFASignInResponse.m
  Firebase/Auth/Source/Backend/RPC/MultiFactor/Unenroll/FIRWithdrawMFARequest.h
  Firebase/Auth/Source/Backend/RPC/MultiFactor/Unenroll/FIRWithdrawMFARequest.m
  Firebase/Auth/Source/Backend/RPC/MultiFactor/Unenroll/FIRWithdrawMFAResponse.h
  Firebase/Auth/Source/Backend/RPC/MultiFactor/Unenroll/FIRWithdrawMFAResponse.m
  Firebase/Auth/Source/Backend/RPC/Proto/FIRAuthProtoMFAEnrollment.h
  Firebase/Auth/Source/Backend/RPC/Proto/FIRAuthProtoMFAEnrollment.m
  Firebase/Auth/Source/Backend/RPC/Proto/FIRAuthProtoMfaEnrollment.m
  Firebase/Auth/Source/Backend/RPC/Proto/Phone/FIRAuthProtoFinalizeMFAPhoneRequestInfo.h
  Firebase/Auth/Source/Backend/RPC/Proto/Phone/FIRAuthProtoFinalizeMFAPhoneRequestInfo.m
  Firebase/Auth/Source/Backend/RPC/Proto/Phone/FIRAuthProtoFinalizeMFAPhoneResponseInfo.h
  Firebase/Auth/Source/Backend/RPC/Proto/Phone/FIRAuthProtoFinalizeMFAPhoneResponseInfo.m
  Firebase/Auth/Source/Backend/RPC/Proto/Phone/FIRAuthProtoStartMFAPhoneRequestInfo.h
  Firebase/Auth/Source/Backend/RPC/Proto/Phone/FIRAuthProtoStartMFAPhoneRequestInfo.m
  Firebase/Auth/Source/Backend/RPC/Proto/Phone/FIRAuthProtoStartMFAPhoneResponseInfo.h
  Firebase/Auth/Source/Backend/RPC/Proto/Phone/FIRAuthProtoStartMFAPhoneResponseInfo.m
  Firebase/Auth/Source/MultiFactor/FIRMultiFactor+Internal.h
  Firebase/Auth/Source/MultiFactor/FIRMultiFactor.m
  Firebase/Auth/Source/MultiFactor/FIRMultiFactorInfo+Internal.h
  Firebase/Auth/Source/MultiFactor/FIRMultiFactorInfo.m
  Firebase/Auth/Source/MultiFactor/FIRMultiFactorResolver+Internal.h
  Firebase/Auth/Source/MultiFactor/FIRMultiFactorResolver.m
  Firebase/Auth/Source/MultiFactor/FIRMultiFactorSession.m
  Firebase/Auth/Source/MultiFactor/Phone/FIRPhoneMultiFactorInfo+Internal.h
  Firebase/Auth/Source/MultiFactor/Phone/FIRPhoneMultiFactorInfo.m
  Firebase/Auth/Source/User/FIRUser.m
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.h
  Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.m
Labels: api: auth, cla: yes

#5067 Explicitly state Firestore's dependency on UIKit
  FirebaseFirestore.podspec
Labels: api: firestore, cla: yes

#5077 Explicitly state Firestore's dependency on UIKit
  FirebaseFirestore.podspec
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#5060 b/151167694 - sendUnsentReport might not upload until the second time the API is called
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.m
  Crashlytics/Crashlytics/Settings/FIRCLSSettingsOnboardingManager.h
  Crashlytics/Crashlytics/Settings/FIRCLSSettingsOnboardingManager.m
Labels: api: crashlytics, cla: yes

#5069 Fix fuzz build
  Firestore/fuzzing/fieldpath_fuzzer.cc
  Firestore/fuzzing/leveldb_fuzzer.cc
  Firestore/fuzzing/resourcepath_fuzzer.cc
Labels: api: firestore, cla: yes

#5078 Remove cleanup of experiments that are no longer running
  FirebaseInAppMessaging/Sources/Flows/FIRIAMMsgFetcherUsingRestful.m
Labels: api: inappmessaging, cla: yes

#5079 Rename GDTCORStorage to GDTCORFlatFileStorage
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORFlatFileStorage.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORLifecycle.h
  GoogleDataTransport/GDTCORTests/Common/Categories/GDTCORFlatFileStorage+Testing.h
  GoogleDataTransport/GDTCORTests/Common/Categories/GDTCORFlatFileStorage+Testing.m
  GoogleDataTransport/GDTCORTests/Integration/GDTCORIntegrationTest.m
  GoogleDataTransport/GDTCORTests/Lifecycle/GDTCORLifecycleTest.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORFlatFileStorageTest.m
Labels: GoogleDataTransport, cla: yes

#5064 Bump Auth pod version
  Firebase/Auth/CHANGELOG.md
  FirebaseAuth.podspec
Labels: api: auth, cla: yes

#5089 Release artifacts for M66.1
  Firebase.podspec
  Firebase/Auth/CHANGELOG.md
  FirebaseAuth.podspec
Labels: cla: yes

#5091 Merge Firestore 1.11.2 to master
  FirebaseFirestore.podspec
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#5088 Don't attempt to create data if the event's fileURL is nil.
  GoogleDataTransport/GDTCORLibrary/GDTCOREvent.m
  GoogleDataTransport/GDTCORLibrary/GDTCORTransport.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORConsoleLogger.h
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTNanopbHelpers.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#5094 Update CHANGELOG.md
  GoogleDataTransportCCTSupport/CHANGELOG.md
Labels: GoogleDataTransport, cla: yes

#5095 Bump Firestore version in Firebase.podspec
  Firebase.podspec
Labels: cla: yes

#5090 Remove smart quotes
  Firebase/Auth/Source/Public/FIRMultiFactor.h
  Firebase/Auth/Source/Public/FIRPhoneMultiFactorInfo.h
  Firebase/Database/Constants/FConstants.h
  Firebase/Database/Constants/FConstants.m
Labels: api: auth, api: database, cla: yes, public-api-change

#5039 Update M66 CHANGELOG
  FirebaseABTesting/CHANGELOG.md
Labels: api: abtesting, cla: yes

#5080 Zip Carthage refactor
  ZipBuilder/README.md
  ZipBuilder/Sources/ZipBuilder/CarthageUtils.swift
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
  ZipBuilder/Sources/ZipBuilder/FirebaseBuilder.swift
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
  ZipBuilder/Sources/ZipBuilder/main.swift
  ZipBuilder/Template/README.md
Labels: Carthage, cla: yes, zip-builder

#5052 Add iOS build support to the CMake build
  CMakeLists.txt
  FirebaseCore/CMakeLists.txt
  Firestore/Example/App/CMakeLists.txt
  Firestore/Example/Benchmarks/CMakeLists.txt
  Firestore/Example/Tests/Util/CMakeLists.txt
  Firestore/Protos/CMakeLists.txt
  Firestore/core/src/firebase/firestore/local/CMakeLists.txt
  Firestore/core/test/firebase/firestore/model/CMakeLists.txt
  Firestore/core/test/firebase/firestore/testutil/CMakeLists.txt
  Firestore/core/test/firebase/firestore/util/CMakeLists.txt
  GoogleUtilities/CMakeLists.txt
  Interop/Auth/CMakeLists.txt
  Interop/CoreDiagnostics/CMakeLists.txt
  cmake/cc_rules.cmake
  cmake/compiler_setup.cmake
  cmake/external/benchmark.cmake
  cmake/external/googletest.cmake
  cmake/external_rules.cmake
Labels: GoogleUtilities, api: core, api: firestore, cla: yes

#5102 Add Crashlytics to if_changed for GoogleDataTransport changes
  scripts/if_changed.sh
Labels: cla: yes

#5104 FirebaseAuth should be in implicit pod list
  scripts/localize_podfile.swift
Labels: cla: yes

#5103 Update the zip distribution from frameworks to xcframeworks
  ZipBuilder/README.md
  ZipBuilder/Sources/ZipBuilder/CarthageUtils.swift
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
  ZipBuilder/Sources/ZipBuilder/FileManager+Utils.swift
  ZipBuilder/Sources/ZipBuilder/FirebaseBuilder.swift
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
  ZipBuilder/Sources/ZipBuilder/ModuleMapBuilder.swift
  ZipBuilder/Sources/ZipBuilder/ResourcesManager.swift
  ZipBuilder/Sources/ZipBuilder/Zip.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
  ZipBuilder/Sources/ZipBuilder/main.swift
  ZipBuilder/Template/FrameworkMaker.entitlements
  ZipBuilder/Template/FrameworkMaker.xcodeproj/project.pbxproj
  ZipBuilder/Template/README.md
Labels: Catalyst, cla: yes, zip-builder

#5081 Use FIRInstallations SDK to fetch FID and FIS token, send those values in requests to FIAM backend
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutLogger.m
  FirebaseInAppMessaging/Sources/FIRInAppMessaging.m
  FirebaseInAppMessaging/Sources/FIRInAppMessagingPrivate.h
  FirebaseInAppMessaging/Sources/Flows/FIRIAMClientInfoFetcher.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMMsgFetcherUsingRestful.m
  FirebaseInAppMessaging/Sources/Private/Analytics/FIRIAMClientInfoFetcher.h
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMRuntimeManager.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMSDKRuntimeErrorCodes.h
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/Podfile
  FirebaseInAppMessaging/Tests/Unit/FIRIAMClearcutLoggerTests.m
  FirebaseInAppMessaging/Tests/Unit/FIRIAMClientInfoFetcherTests.m
  FirebaseInAppMessaging/Tests/Unit/FIRIAMMsgFetcherUsingRestfulTests.m
Labels: api: inappmessaging, cla: yes

#5106 Fix Firebase/Auth version
  Firebase.podspec
Labels: cla: yes

#5108 Remote Config: enable ARC for tests.
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/Tests/Unit/RCNConfigDBManagerTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNInstanceIDTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig, cla: yes

#5107 Attempt to fix intermittent failing Crashlytics settings tests in CI
  Crashlytics/UnitTests/FIRCLSSettingsTests.m
Labels: api: crashlytics, cla: yes

#5110 GoogleUtilities 6.5.2
  GoogleUtilities.podspec
  GoogleUtilities/CHANGELOG.md
Labels: GoogleUtilities, cla: yes

#5109 Remote Config: fix Installations tests
  Firebase.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/Tests/Unit/RCNConfigDBManagerTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNInstanceIDTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: cla: yes

#5114 Installations: access FIRHeartbeatInfo from a background thread
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
Labels: api: installations, cla: yes

#5120 Make the prioritizer save state between app launches
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTPrioritizer.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/Private/GDTCCTPrioritizer.h
Labels: GoogleDataTransport, cla: yes

#5121 Revert "Address a few potential security issues (#5059)"
  Firebase/CoreDiagnostics/CHANGELOG.md
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  GoogleDataTransportCCTSupport/CHANGELOG.md
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTNanopbHelpers.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/Private/GDTCCTNanopbHelpers.h
Labels: GoogleDataTransport, api: core, cla: yes

#5116 The uploader should retry when there's an error
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTUploader.m
Labels: GoogleDataTransport, cla: yes

#5096 Migrate from using IID SDK for Remote Config to the new FIS SDK
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/Private/RCNConfigSettings.h
  FirebaseRemoteConfig/Sources/RCNConfigSettings.m
  FirebaseRemoteConfig/Sources/RCNFetch.m
  FirebaseRemoteConfig/Tests/Sample/Podfile
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/ViewController.m
  FirebaseRemoteConfig/Tests/Unit/RCNInstanceIDTest.m
Labels: api: remoteconfig, cla: yes

#5118 Merge release 6.20.0
  Firebase.podspec
Labels: cla: yes

#5125 FIS change log M67
  FirebaseInstallations/CHANGELOG.md
Labels: api: installations, cla: yes

#5115 Add Catalyst testing for GHA
  .github/workflows/core.yml
  .github/workflows/datatransport.yml
  .github/workflows/messaging.yml
  .github/workflows/storage.yml
  GoogleDataTransport/GDTCORTests/Unit/GDTCORStorageTest.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORUploadCoordinatorTest.m
  scripts/test_catalyst.sh
Labels: GoogleDataTransport, api: messaging, api: storage, cla: yes

#5117 Crashlytics changelog v4.0.0-beta.6
  Crashlytics/CHANGELOG.md
Labels: cla: yes

#5129 Crashlytics upload-symbols 3.2
  Crashlytics/upload-symbols
Labels: cla: yes

#5100 In banner view, pin top elements to the bottom of the status bar
  FirebaseInAppMessaging/Resources/FIRInAppMessageDisplayStoryboard.storyboard
  FirebaseInAppMessaging/Sources/DefaultUI/Banner/FIRIAMBannerViewController.m
Labels: api: inappmessaging, cla: yes

#5127 FIAM release notes for M67
  FirebaseInAppMessaging/CHANGELOG.md
Labels: api: inappmessaging, cla: yes

#5132 Crashlytics cache key app version
  Crashlytics/Crashlytics/Models/FIRCLSSettings.m
  Crashlytics/Crashlytics/Settings/Models/FIRCLSApplicationIdentifierModel.h
  Crashlytics/Crashlytics/Settings/Models/FIRCLSApplicationIdentifierModel.m
  Crashlytics/UnitTests/FIRCLSSettingsTests.m
  Crashlytics/UnitTests/Mocks/FABMockApplicationIdentifierModel.h
  Crashlytics/UnitTests/Mocks/FABMockApplicationIdentifierModel.m
Labels: cla: yes

#5133 Pin Crashlytics to GoogleDataTransport 5.0.1 and GoogleDataTransportC…
  FirebaseCrashlytics.podspec
  GoogleDataTransport.podspec
  GoogleDataTransportCCTSupport.podspec
Labels: cla: yes

#5131 Fix deprecation warnings by consolidating coding calls
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/GDTCORStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORPlatform.h
  GoogleDataTransport/GDTCORTests/Unit/GDTCORClockTest.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCOREventTest.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORStorageTest.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORUploadCoordinatorTest.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTPrioritizer.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#5138 Update GDT versions, deps, and CHANGELOGs
  FirebaseCrashlytics.podspec
  GoogleDataTransport.podspec
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransportCCTSupport.podspec
  GoogleDataTransportCCTSupport/CHANGELOG.md
Labels: GoogleDataTransport, cla: yes

#5135 M67 Core Changelog
  FirebaseCore/CHANGELOG.md
Labels: api: core, cla: yes

#5140 Fix missing path specs for pods in repo
  SymbolCollisionTest/Podfile
Labels: cla: yes

#5137 Refactor event fileURLs to be derived
  GoogleDataTransport/GDTCORLibrary/GDTCOREvent.m
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/GDTCORStorage.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCOREvent_Private.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORPlatform.h
  GoogleDataTransport/GDTCORTests/Integration/GDTCORIntegrationTest.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCOREventTest.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORStorageTest.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORUploadPackageTest.m
  GoogleDataTransport/GDTCORTests/Unit/Helpers/GDTCOREventGenerator.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTPrioritizer.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/GDTCCTNanopbHelpersTest.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/Helpers/GDTCCTEventGenerator.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#5141 Dynamic Links: cleanup Apple framework dependencies
  FirebaseDynamicLinks.podspec
Labels: api: dynamiclinks, cla: yes

#5142 Dynamic Links changelog M64 M67
  FirebaseDynamicLinks/CHANGELOG.md
Labels: api: dynamiclinks, cla: yes

#5146 Fix changelog typo
  FirebaseInstallations/CHANGELOG.md
Labels: api: installations, cla: yes

#5147 Libraries should save state if a completion block is requested
  GoogleDataTransport/GDTCORLibrary/GDTCORStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORTransformer.m
  GoogleDataTransport/GDTCORLibrary/GDTCORTransport.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORStorage.h
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORTransformer.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORPrioritizer.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORTransport.h
  GoogleDataTransport/GDTCORTests/Integration/Helpers/GDTCORIntegrationTestPrioritizer.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTPrioritizer.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Integration/GDTCCTIntegrationTest.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#5148 Cherry picks #5147 onto release-6.21.0
  GoogleDataTransport/GDTCORLibrary/GDTCORStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORTransformer.m
  GoogleDataTransport/GDTCORLibrary/GDTCORTransport.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORStorage.h
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORTransformer.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORPrioritizer.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORTransport.h
  GoogleDataTransport/GDTCORTests/Integration/Helpers/GDTCORIntegrationTestPrioritizer.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTPrioritizer.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Integration/GDTCCTIntegrationTest.m
Labels: cla: yes

#5150 Make `api::CollectionReference::collection_id` return a const reference
  Firestore/core/src/firebase/firestore/api/collection_reference.cc
  Firestore/core/src/firebase/firestore/api/collection_reference.h
Labels: api: firestore, cla: yes

#5157 Remove RC from M67
  Firebase.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/CHANGELOG.md
  Releases/Manifests/6.21.0.json
Labels: cla: yes

#5156 Revert "Migrate from using IID SDK for Remote Config to the new FIS SDK"
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/Private/RCNConfigSettings.h
  FirebaseRemoteConfig/Sources/RCNConfigSettings.m
  FirebaseRemoteConfig/Sources/RCNFetch.m
  FirebaseRemoteConfig/Tests/Sample/Podfile
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/ViewController.m
  FirebaseRemoteConfig/Tests/Unit/RCNInstanceIDTest.m
Labels: api: remoteconfig, cla: yes

#5159 Revert "Migrate from using IID SDK for Remote Config to the new FIS S…
  FirebaseRemoteConfig/Sources/Private/RCNConfigSettings.h
  FirebaseRemoteConfig/Sources/RCNConfigSettings.m
  FirebaseRemoteConfig/Sources/RCNFetch.m
  FirebaseRemoteConfig/Tests/Sample/Podfile
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/ViewController.m
  FirebaseRemoteConfig/Tests/Unit/RCNInstanceIDTest.m
Labels: cla: yes

#5119 Modify watchOS platform notification name
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
Labels: cla: yes

#5160 Make `Error` a scoped enumeration and prefix its members with `k`
  Firestore/core/include/firebase/firestore/firestore_errors.h
  Firestore/core/src/firebase/firestore/api/document_reference.cc
  Firestore/core/src/firebase/firestore/api/firestore.cc
  Firestore/core/src/firebase/firestore/api/query_core.cc
  Firestore/core/src/firebase/firestore/auth/firebase_credentials_provider_apple.mm
  Firestore/core/src/firebase/firestore/core/firestore_client.cc
  Firestore/core/src/firebase/firestore/core/sync_engine.cc
  Firestore/core/src/firebase/firestore/core/transaction.cc
  Firestore/core/src/firebase/firestore/core/transaction_runner.cc
  Firestore/core/src/firebase/firestore/local/leveldb_mutation_queue.cc
  Firestore/core/src/firebase/firestore/local/leveldb_opener.cc
  Firestore/core/src/firebase/firestore/local/leveldb_persistence.cc
  Firestore/core/src/firebase/firestore/local/leveldb_target_cache.cc
  Firestore/core/src/firebase/firestore/local/leveldb_util.cc
  Firestore/core/src/firebase/firestore/nanopb/reader.h
  Firestore/core/src/firebase/firestore/remote/datastore.cc
  Firestore/core/src/firebase/firestore/remote/grpc_connection.cc
  Firestore/core/src/firebase/firestore/remote/grpc_nanopb.cc
  Firestore/core/src/firebase/firestore/remote/stream.cc
  Firestore/core/src/firebase/firestore/util/error_apple.h
  Firestore/core/src/firebase/firestore/util/error_apple.mm
  Firestore/core/src/firebase/firestore/util/filesystem.h
  Firestore/core/src/firebase/firestore/util/filesystem_apple.mm
  Firestore/core/src/firebase/firestore/util/filesystem_common.cc
  Firestore/core/src/firebase/firestore/util/filesystem_posix.cc
  Firestore/core/src/firebase/firestore/util/filesystem_win.cc
  Firestore/core/src/firebase/firestore/util/status.cc
  Firestore/core/src/firebase/firestore/util/status.h
  Firestore/core/src/firebase/firestore/util/status_apple.mm
  Firestore/core/src/firebase/firestore/util/status_posix.cc
  Firestore/core/src/firebase/firestore/util/status_win.cc
  Firestore/core/src/firebase/firestore/util/statusor.cc
  Firestore/core/src/firebase/firestore/util/statusor.h
  Firestore/core/test/firebase/firestore/core/query_listener_test.cc
  Firestore/core/test/firebase/firestore/local/leveldb_opener_test.cc
  Firestore/core/test/firebase/firestore/local/leveldb_util_test.cc
  Firestore/core/test/firebase/firestore/remote/datastore_test.cc
  Firestore/core/test/firebase/firestore/remote/grpc_connection_test.cc
  Firestore/core/test/firebase/firestore/remote/grpc_stream_test.cc
  Firestore/core/test/firebase/firestore/remote/grpc_streaming_reader_test.cc
  Firestore/core/test/firebase/firestore/remote/grpc_unary_call_test.cc
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
  Firestore/core/test/firebase/firestore/remote/stream_test.cc
  Firestore/core/test/firebase/firestore/testutil/status_testing.h
  Firestore/core/test/firebase/firestore/util/fake_credentials_provider.cc
  Firestore/core/test/firebase/firestore/util/filesystem_test.cc
  Firestore/core/test/firebase/firestore/util/status_apple_test.mm
  Firestore/core/test/firebase/firestore/util/status_test.cc
  Firestore/core/test/firebase/firestore/util/statusor_test.cc
Labels: api: firestore, cla: yes

#5134 Test Quickstarts in GHA
  .github/workflows/firestore.yml
  .github/workflows/messaging.yml
  .github/workflows/storage.yml
  .travis.yml
  scripts/build.sh
  scripts/check_secrets.sh
  scripts/gha-encrypted/FIREGSignInInfo.h.gpg
  scripts/gha-encrypted/README
  scripts/gha-encrypted/qs-firestore.plist.gpg
  scripts/gha-encrypted/qs-messaging.plist.gpg
  scripts/gha-encrypted/qs-storage.plist.gpg
  scripts/setup_bundler.sh
  scripts/setup_quickstart.sh
  scripts/test_quickstart.sh
Labels: api: firestore, api: messaging, api: storage, cla: yes

#5168 Add travis retry to catalyst tests
  .github/workflows/datatransport.yml
Labels: cla: yes

#5155 Clarify Crashlytics Carthage run and upload-symbols placement
  Carthage.md
Labels: cla: yes

#5172 Only delete events when package was successfully delivered
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORUploadCoordinatorTest.m
  GoogleDataTransport/GDTCORTests/Unit/Helpers/GDTCOREventGenerator.m
Labels: GoogleDataTransport, cla: yes

#5173 Only delete events when package was successfully delivered (#5172)
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORUploadCoordinatorTest.m
  GoogleDataTransport/GDTCORTests/Unit/Helpers/GDTCOREventGenerator.m
Labels: cla: yes

#5165 Correct the location of embedded.mobileprovision for catalyst
  Firebase/InstanceID/FIRInstanceID.m
Labels: api: instanceid, cla: yes

#5169 Fix travis quickstart tests
  .travis.yml
  scripts/check_secrets.sh
  scripts/setup_quickstart.sh
Labels: cla: yes

#5178 Merge release 6.21.0
  Firebase.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCrashlytics.podspec
  FirebaseDynamicLinks.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  Releases/Manifests/6.21.0.json
Labels: cla: yes

#5170 Add FIAM integration testing files to .gitignore #no-changelog
  .gitignore
Labels: cla: yes

#5180 GHA for PRs from GitHub forks
  .github/workflows/dynamiclinks.yml
  .github/workflows/storage.yml
  scripts/decrypt_gha_secret.sh
Labels: cla: yes

#5185 Handle tasks with semaphores on watchOS Platform
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
Labels: cla: yes

#5186 Address GDT test issues
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Integration/GDTCCTIntegrationTest.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/Helpers/GDTCCTEventGenerator.m
Labels: GoogleDataTransport, cla: yes

#5171 Fix warnings in FIAM test projects
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/AppDelegate.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/CommonMessageTestVC.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/InAppMessagingDisplay-Sample.xcodeproj/project.pbxproj
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/App/InAppMessaging-Example-iOS/AppDelegate.m
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/InAppMessaging-Example-iOS.xcodeproj/project.pbxproj
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/InAppMessaging-Example-iOS.xcodeproj/xcshareddata/xcschemes/InAppMessaging_Example_iOS.xcscheme
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/InAppMessaging-Example-iOS.xcodeproj/xcshareddata/xcschemes/InAppMessaging_Tests_iOS.xcscheme
Labels: api: inappmessaging, cla: yes

#5187 Fix a couple of race conditions and module import of a private header
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadPackage.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTPrioritizer.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/Helpers/GDTCCTEventGenerator.m
Labels: GoogleDataTransport, cla: yes

#5188 Refactor GHA secret environment variables
  .github/workflows/storage.yml
Labels: cla: yes

#5193 Revert "Revert "Address a few potential security issues (#5059)" (#5121)
  Firebase/CoreDiagnostics/CHANGELOG.md
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  GoogleDataTransportCCTSupport/CHANGELOG.md
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTNanopbHelpers.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/Private/GDTCCTNanopbHelpers.h
Labels: cla: yes

#5194 Update GDT associated CHANGELOGs
  Firebase/CoreDiagnostics/CHANGELOG.md
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransportCCTSupport/CHANGELOG.md
Labels: cla: yes

#5195 Remove travis check stage
  .travis.yml
Labels: cla: yes

#5196 Change C++ default log level to `kLogLevelNotice`
  Firestore/core/src/firebase/firestore/util/log_stdio.cc
Labels: api: firestore, cla: yes

#5198 Add missing needs to Firestore GHA
  .github/workflows/firestore.yml
Labels: api: firestore, cla: yes

#5205 AddNewPod updates
  AddNewPod.md
Labels: cla: yes

#5181 README: add section about using Firebase from a framework
  README.md
  docs/firebase_in_libraries.md
  docs/recources/firebase_from_dynamic_framework.svg
  docs/recources/firebase_from_static_framework.svg
Labels: cla: yes

#5207 Update README.md for updating crash report uploads
  Crashlytics/README.md
Labels: api: crashlytics, cla: yes

#5211 we no longer need to check the plist count for older version of library
  Firebase/InstanceID/FIRInstanceIDCheckinStore.m
Labels: api: instanceid, cla: yes

#5203 Add ability to selectively run spec tests via an environment variable.
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
Labels: api: firestore, cla: yes

#5202 Log the total pass and skip count after running all spec tests
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
Labels: api: firestore, cla: yes

#5214 Revert `Error` back to an unscoped enumeration
  Firestore/core/include/firebase/firestore/firestore_errors.h
  Firestore/core/src/firebase/firestore/util/status_apple.mm
  Firestore/core/test/firebase/firestore/remote/serializer_test.cc
  Firestore/core/test/firebase/firestore/util/status_apple_test.mm
Labels: api: firestore, cla: yes

#5189 Remove org id in crash report payload when sending with GDT
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.m
  Crashlytics/Crashlytics/Controllers/FIRCLSReportUploader.m
  Crashlytics/Crashlytics/Models/Record/FIRCLSReportAdapter.h
  Crashlytics/Crashlytics/Models/Record/FIRCLSReportAdapter.m
  Crashlytics/Crashlytics/Models/Record/FIRCLSReportAdapter_Private.h
  Crashlytics/ProtoSupport/Protos/crashlytics.options
  Crashlytics/ProtoSupport/Protos/crashlytics.proto
  Crashlytics/Protogen/nanopb/crashlytics.nanopb.c
  Crashlytics/Protogen/nanopb/crashlytics.nanopb.h
  Crashlytics/UnitTests/FIRCLSReportAdapterTests.m
Labels: api: crashlytics, cla: yes

#5197 Storage Integration Tests to Swift
  FirebaseStorage.podspec
  FirebaseStorage/Tests/Integration/FIRStorageIntegrationTests.m
  FirebaseStorage/Tests/SwiftIntegration/StorageIntegration.swift
  scripts/build.sh
Labels: api: storage, cla: yes

#5218 Fix calloc calls, which had the argument order reversed
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTNanopbHelpers.m
Labels: GoogleDataTransport, api: core, cla: yes

#5227 getByte into the actual buffer, not into the byte array struct
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTNanopbHelpers.m
  GoogleDataTransportCCTSupport/GDTCCTTests/Unit/GDTCCTNanopbHelpersTest.m
Labels: GoogleDataTransport, api: core, cla: yes

#5183 Change FServerValues to just-in-time read from SyncTrees.
  Firebase/Database/Core/FRepo.m
  Firebase/Database/Core/FServerValues.h
  Firebase/Database/Core/FServerValues.m
  Firebase/Database/Core/FSyncTree.m
Labels: cla: yes

#5226 Fix unincluded umbrella warnings
  FirebaseCore/CHANGELOG.md
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: api: core, cla: yes, zip-builder

#5229 Remove platforms from podspec summaries
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
Labels: Docs, cla: yes

#5234 Update GDT dependencies for Crashlytics
  FirebaseCrashlytics.podspec
  GoogleDataTransport.podspec
  GoogleDataTransportCCTSupport.podspec
Labels: cla: yes

#5228 Merge upload-symbols version 3.3
  Crashlytics/CHANGELOG.md
  Crashlytics/upload-symbols
Labels: api: crashlytics, cla: yes

#5236 FIAM M68 changelog
  FirebaseInAppMessaging/CHANGELOG.md
Labels: api: inappmessaging, cla: yes

#5224 Run Danger from GHA
  .github/workflows/danger.yml
  .travis.yml
Labels: cla: yes

#5212 Set networkReachabilityFlags on watchOS
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/GDTCORReachability.m
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORReachability_Private.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORPlatform.h
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORReachability.h
Labels: cla: yes

#5237 Remove migration from legacy keychain
  Example/InstanceID/Tests/FIRInstanceIDCheckinStoreTest.m
  Example/InstanceID/Tests/FIRInstanceIDStoreTest.m
  Firebase/InstanceID/CHANGELOG.md
  Firebase/InstanceID/FIRInstanceIDCheckinStore.h
  Firebase/InstanceID/FIRInstanceIDCheckinStore.m
  Firebase/InstanceID/FIRInstanceIDStore.m
Labels: api: instanceid, cla: yes

#5225 Add Swift Result type APIs to Storage
  FirebaseStorage/Tests/SwiftIntegration/StorageIntegration.swift
  FirebaseStorageSwift.podspec
  FirebaseStorageSwift/Sources/SwiftAPIExtension.swift
  FirebaseStorageSwift/Tests/Integration/StorageIntegration.swift
Labels: api: storage, cla: yes
