Repository firebase/firebase-ios-sdk, pull requests merged in 2020-05, with the labels that each got.

#5512 Remove Storage cron tests from Travis
  .travis.yml
Labels: cla: yes

#5511 Add failure reason to messaging NSError
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/FIRMessagingClient.m
  FirebaseMessaging/Sources/FIRMessagingDataMessageManager.m
  FirebaseMessaging/Sources/FIRMessagingPubSub.m
  FirebaseMessaging/Sources/FIRMessagingTopicOperation.m
  FirebaseMessaging/Sources/NSError+FIRMessaging.h
  FirebaseMessaging/Sources/NSError+FIRMessaging.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingDataMessageManagerTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingServiceTest.m
Labels: api: messaging, cla: yes

#5515 Add an integration test for calling clearPersistence() on a new Firestore instance
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
Labels: api: firestore, cla: yes

#5524 Fixes for GHA from a forked repo
  .github/workflows/firestore.yml
  .github/workflows/messaging.yml
Labels: api: firestore, api: messaging, cla: yes

#5528 Set executable permission for Crashlytics scripts
  Carthage.md
Labels: Carthage, api: crashlytics, cla: yes

#5531 FIRApp bundle ID validation: allow exact match for extensions
  FirebaseCore/Sources/FIRBundleUtil.m
  FirebaseCore/Tests/Unit/FIRBundleUtilTest.m
Labels: api: core, cla: yes

#5532 Update versions for Release 6.24.0
  Firebase.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseDatabase.podspec
  FirebaseMessaging.podspec
  FirebaseRemoteConfig.podspec
  Releases/Manifests/6.24.0.json
Labels: api: auth, cla: yes

#5533 Update cocoapods-trunk for --synchronous
  Gemfile.lock
Labels: cla: yes

#5535 Pure OCMock3 syntax
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
Labels: api: auth, cla: yes

#5505 Adding topic function to messaging test app
  FirebaseMessaging/Apps/Sample/Sample.xcodeproj/project.pbxproj
  FirebaseMessaging/Apps/Sample/Sample/AppDelegate.swift
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
  FirebaseMessaging/Apps/Sample/Sample/Assets.xcassets/AppIcon.appiconset/ItunesArtwork@2x.png
  FirebaseMessaging/Apps/Sample/Sample/Base.lproj/LaunchScreen.storyboard
  FirebaseMessaging/Apps/Sample/Sample/ContentView.swift
  FirebaseMessaging/Apps/Sample/Sample/SceneDelegate.swift
  FirebaseMessaging/Apps/Sample/Sample/TopicView.swift
  FirebaseMessaging/Apps/Sample/Sample/logo.png
Labels: api: messaging, cla: yes

#5539 removing AppAuth.h import in the App Distribution header file
  FirebaseAppDistribution/Sources/Public/FIRAppDistribution.h
Labels: cla: yes

#5537 Add a workflow to run remote config on GHA
  .github/workflows/remoteconfig.yml
  scripts/gha-encrypted/qs-config.plist.gpg
Labels: cla: yes

#5546 Make sure every member of `Error` enum has the `kError` prefix
  Firestore/core/include/firebase/firestore/firestore_errors.h
  Firestore/core/src/api/document_reference.cc
  Firestore/core/src/api/firestore.cc
  Firestore/core/src/api/query_core.cc
  Firestore/core/src/auth/firebase_credentials_provider_apple.mm
  Firestore/core/src/core/firestore_client.cc
  Firestore/core/src/core/sync_engine.cc
  Firestore/core/src/core/transaction.cc
  Firestore/core/src/core/transaction_runner.cc
  Firestore/core/src/local/leveldb_mutation_queue.cc
  Firestore/core/src/local/leveldb_opener.cc
  Firestore/core/src/local/leveldb_persistence.cc
  Firestore/core/src/local/leveldb_target_cache.cc
  Firestore/core/src/local/leveldb_util.cc
  Firestore/core/src/nanopb/reader.h
  Firestore/core/src/remote/datastore.cc
  Firestore/core/src/remote/grpc_connection.cc
  Firestore/core/src/remote/grpc_nanopb.cc
  Firestore/core/src/remote/stream.cc
  Firestore/core/src/util/error_apple.mm
  Firestore/core/src/util/filesystem.h
  Firestore/core/src/util/filesystem_apple.mm
  Firestore/core/src/util/filesystem_common.cc
  Firestore/core/src/util/filesystem_posix.cc
  Firestore/core/src/util/filesystem_win.cc
  Firestore/core/src/util/status.cc
  Firestore/core/src/util/status.h
  Firestore/core/src/util/status_apple.mm
  Firestore/core/src/util/status_posix.cc
  Firestore/core/src/util/status_win.cc
  Firestore/core/src/util/statusor.cc
  Firestore/core/src/util/statusor.h
  Firestore/core/test/unit/core/query_listener_test.cc
  Firestore/core/test/unit/local/leveldb_opener_test.cc
  Firestore/core/test/unit/local/leveldb_util_test.cc
  Firestore/core/test/unit/remote/datastore_test.cc
  Firestore/core/test/unit/remote/fake_credentials_provider.cc
  Firestore/core/test/unit/remote/grpc_connection_test.cc
  Firestore/core/test/unit/remote/grpc_stream_test.cc
  Firestore/core/test/unit/remote/grpc_streaming_reader_test.cc
  Firestore/core/test/unit/remote/grpc_unary_call_test.cc
  Firestore/core/test/unit/remote/serializer_test.cc
  Firestore/core/test/unit/remote/stream_test.cc
  Firestore/core/test/unit/testutil/status_testing.h
  Firestore/core/test/unit/util/filesystem_test.cc
  Firestore/core/test/unit/util/status_apple_test.mm
  Firestore/core/test/unit/util/status_test.cc
  Firestore/core/test/unit/util/statusor_test.cc
Labels: api: firestore, cla: yes

#5552 Print out counter error message.
  GoogleDataTransport/GDTCORLibrary/GDTCOREvent.m
Labels: GoogleDataTransport, cla: yes

#5544 Add quickstart tests
  .github/workflows/abtesting.yml
  .github/workflows/database.yml
  .github/workflows/functions.yml
  .github/workflows/inappmessaging.yml
  scripts/gha-encrypted/qs-abtesting.plist.gpg
  scripts/gha-encrypted/qs-database.plist.gpg
  scripts/gha-encrypted/qs-dynamiclinks.plist.gpg
  scripts/gha-encrypted/qs-functions.plist.gpg
  scripts/gha-encrypted/qs-inappmessaging.plist.gpg
Labels: cla: yes

#5561 Remote Config: update API docs IID -> FIS notes
  FirebaseRemoteConfig/Sources/Public/FIRRemoteConfig.h
Labels: api: remoteconfig, cla: yes, public-api-change

#5556 Delete non-existent needs
  .github/workflows/functions.yml
  .github/workflows/inappmessaging.yml
Labels: api: functions, api: inappmessaging, cla: yes

#5563 Making sure keychain is accesible after first unlock even if app is in background
  FirebaseAppDistribution/Sources/FIRAppDistributionAuthPersistence.m
Labels: cla: yes

#5553 Update crashlytics label
  Crashlytics/CHANGELOG.md
Labels: api: crashlytics, cla: yes

#5551 Add some missing steps to AddNewPod instructions
  AddNewPod.md
Labels: cla: yes

#5566 Add Swift Quickstart tests
  .github/workflows/remoteconfig.yml
  scripts/test_quickstart.sh
Labels: cla: yes

#5567 Update the path to Functions.
  .github/workflows/functions.yml
Labels: cla: yes

#5570 Instructions for initial pod launch
  AddNewPod.md
Labels: cla: yes

#5564 Only log the URL follow event in messageClicked:withAction: if there's a URL to follow
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
  FirebaseInAppMessaging/Tests/Unit/FIRIAMDisplayExecutorTests.m
Labels: api: inappmessaging, cla: yes

#5571 Update badges to README file
  README.md
Labels: cla: yes

#5572 Update step names and swift tests.
  .github/workflows/abtesting.yml
  .github/workflows/auth.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/messaging.yml
  .github/workflows/storage.yml
Labels: cla: yes

#5580 Add FIAM release notes for M71
  FirebaseInAppMessaging/CHANGELOG.md
Labels: cla: yes

#5520 Spelling error in FirestoreDecodingError
  Firestore/Swift/Source/Codable/CodableErrors.swift
  Firestore/Swift/Tests/Codable/FirestoreEncoderTests.swift
  Firestore/third_party/FirestoreEncoder/FirestoreDecoder.swift
Labels: api: firestore, cla: yes

#5583 Update CHANGELOG for FirebaseFirestoreSwift v0.3
  Firestore/Swift/CHANGELOG.md
Labels: api: firestore, cla: yes

#5584 Fixes the count file not being found
  GoogleDataTransport.podspec
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCORLibrary/GDTCOREvent.m
Labels: cla: yes

#5597 Update Core changelog for M71
  FirebaseCore/CHANGELOG.md
Labels: api: core, cla: yes

#5601 Update CHANGELOG for Firestore v1.14.0
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#5554 Add defer, a general facility for ad-hoc RAII.
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/util/defer.h
  Firestore/core/src/util/filesystem_posix.cc
  Firestore/core/src/util/filesystem_win.cc
  Firestore/core/src/util/string_apple.h
  Firestore/core/test/unit/model/field_value_test.cc
  Firestore/core/test/unit/util/defer_test.cc
  Firestore/core/test/unit/util/filesystem_test.cc
  Firestore/core/test/unit/util/string_apple_test.mm
Labels: api: firestore, cla: yes

#5600 Fix race condition between setting developer mode and config fetch
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
Labels: api: remoteconfig, cla: yes

#5586 Make sure `timestamp.h` compiles even in presence of `min` and `max` macros
  Firestore/core/include/firebase/firestore/timestamp.h
Labels: api: firestore, cla: yes

#5605 Generate the OSS manifest from the internal textprotos.
  ZipBuilder/Package.swift
  ZipBuilder/Sources/ManifestReader/FirebaseSDKs.pb.swift
  ZipBuilder/Sources/oss-manifest-generator/main.swift
Labels: cla: yes, zip-builder

#5579 Fix NSNull crash in string encode
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Models/Record/FIRCLSReportAdapter.m
Labels: api: crashlytics, cla: yes

#5604 Bump stream closing log to WARN.
  Firestore/core/src/remote/stream.cc
Labels: api: firestore, cla: yes

#5602 Initial RC Swift API tests
  .github/workflows/remoteconfig.yml
  .gitignore
  .travis.yml
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/Tests/SwiftAPI/APITests.swift
  scripts/build.sh
  scripts/gha-encrypted/RemoteConfigSwiftAPI/GoogleService-Info.plist.gpg
Labels: api: remoteconfig, cla: yes

#5610 Clean up outdated Firebase README
  CoreOnly/README.md
Labels: api: core, cla: yes

#5581 update changelog for messaging
  FirebaseMessaging/CHANGELOG.md
Labels: api: messaging, cla: yes

#5611 Update notices for M71.
  CoreOnly/NOTICES
Labels: api: core, cla: yes

#5612 Clean up outdated Firebase README (#5610)
  CoreOnly/README.md
Labels: api: core, cla: yes

#5603 Mac OS FIS: use Firebase App ID as a suffix to Keychain service name Mac OS
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
Labels: api: installations, cla: yes, macOS

#5614 FIS changelog update
  FirebaseInstallations/CHANGELOG.md
Labels: cla: yes

#5615 Danger - fix missing change log warning
  Dangerfile
Labels: cla: yes

#5582 Add DynamicLinks quickstart tests.
  .github/workflows/dynamiclinks.yml
Labels: cla: yes

#5616 Fix Windows and Fuzzing builds
  Firestore/core/CMakeLists.txt
  Firestore/core/src/util/filesystem_win.cc
  Firestore/core/src/util/status_errno.cc
  Firestore/core/test/unit/local/counting_query_engine.h
Labels: api: firestore, cla: yes

#5617 Migrate FetchAndActivate from deprecated implementation
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
Labels: api: remoteconfig, cla: yes

#5547 Make Executors have deterministic shutdown
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/remote/grpc_stream.cc
  Firestore/core/src/util/async_queue.cc
  Firestore/core/src/util/async_queue.h
  Firestore/core/src/util/config.h.in
  Firestore/core/src/util/executor.h
  Firestore/core/src/util/executor_libdispatch.h
  Firestore/core/src/util/executor_libdispatch.mm
  Firestore/core/src/util/executor_std.cc
  Firestore/core/src/util/executor_std.h
  Firestore/core/src/util/schedule.cc
  Firestore/core/src/util/schedule.h
  Firestore/core/src/util/task.cc
  Firestore/core/src/util/task.h
  Firestore/core/test/unit/testutil/async_testing.cc
  Firestore/core/test/unit/testutil/async_testing.h
  Firestore/core/test/unit/util/async_queue_libdispatch_test.mm
  Firestore/core/test/unit/util/async_queue_test.cc
  Firestore/core/test/unit/util/executor_libdispatch_test.mm
  Firestore/core/test/unit/util/executor_std_test.cc
  Firestore/core/test/unit/util/executor_test.cc
  Firestore/core/test/unit/util/schedule_test.cc
  Firestore/core/test/unit/util/task_test.cc
  scripts/cpplint.py
Labels: api: firestore, cla: yes

#5631 Fix auth persistence logging and invalid type casting
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistribution/Sources/FIRAppDistributionAuthPersistence.m
Labels: cla: yes

#5620 Implement safe, synchronous destruction in Firestore
  Firestore/core/src/api/firestore.cc
  Firestore/core/src/api/firestore.h
  Firestore/core/src/core/firestore_client.cc
  Firestore/core/src/core/firestore_client.h
  Firestore/core/src/util/async_queue.cc
  Firestore/core/src/util/async_queue.h
  Firestore/core/src/util/executor.h
  Firestore/core/src/util/executor_libdispatch.h
  Firestore/core/src/util/executor_libdispatch.mm
  Firestore/core/src/util/executor_std.cc
  Firestore/core/src/util/executor_std.h
  Firestore/core/test/unit/util/async_queue_test.cc
  Firestore/core/test/unit/util/executor_test.cc
Labels: api: firestore, cla: yes

#5634 Firestore no longer requires a resource bundle
  Carthage.md
Labels: Carthage, api: firestore, cla: yes

#5635 Avoid blocking access to the AsyncQueue during Dispose
  Firestore/core/src/util/async_queue.cc
  Firestore/core/test/unit/util/async_queue_test.cc
Labels: api: firestore, cla: yes

#5636 Add end to end integration tests with RC+ABT
  FirebaseABTesting/Tests/Integration/ABTQA.xcodeproj/project.pbxproj
  FirebaseABTesting/Tests/Integration/ABTQA.xcodeproj/xcshareddata/xcschemes/ABTQA.xcscheme
  FirebaseABTesting/Tests/Integration/ABTQA/AppDelegate.swift
  FirebaseABTesting/Tests/Integration/ABTQA/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseABTesting/Tests/Integration/ABTQA/Assets.xcassets/Contents.json
  FirebaseABTesting/Tests/Integration/ABTQA/Base.lproj/LaunchScreen.storyboard
  FirebaseABTesting/Tests/Integration/ABTQA/Base.lproj/Main.storyboard
  FirebaseABTesting/Tests/Integration/ABTQA/GoogleService-Info.plist
  FirebaseABTesting/Tests/Integration/ABTQA/Info.plist
  FirebaseABTesting/Tests/Integration/ABTQA/SceneDelegate.swift
  FirebaseABTesting/Tests/Integration/ABTQA/ViewController.swift
  FirebaseABTesting/Tests/Integration/Podfile
Labels: cla: yes

#5644 Remove MLKit from the M71 release
  Firebase.podspec
Labels: api: core, cla: yes

#5632 Make RemoveSnapshotsInSyncListener run on the async queue
  Firestore/core/src/core/firestore_client.cc
Labels: api: firestore, cla: yes

#5640 Added StorageIntegration swift tests
  FirebaseStorage/Tests/SwiftIntegration/StorageIntegration.swift
Labels: cla: yes

#5638 fix tests with OCMock 3.6
  FirebaseMessaging/Tests/UnitTests/FIRMessagingClientTest.m
Labels: api: messaging, cla: yes

#5637 Provide an arbitrary data persistence mechanism on storage instances
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORStorageProtocol.h
  GoogleDataTransport/GDTCORTests/Common/Fakes/GDTCORStorageFake.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORFlatFileStorageTest.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#5648 Merging the 6.25.0 (M71) release into master
  CoreOnly/NOTICES
  Firebase.podspec
  FirebaseCore.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseInAppMessaging.podspec
  FirebaseMessaging.podspec
  FirebaseRemoteConfig.podspec
  Releases/Manifests/6.25.0.json
Labels: api: core, cla: yes

#5639 Remove unused source file
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/Protos/PortableProtoFilterTemplate.asciipb
  FirebaseRemoteConfig/Sources/Protos/wireless/android/config/proto/Config.pbobjc.h
  FirebaseRemoteConfig/Sources/Protos/wireless/android/config/proto/Config.pbobjc.m
  FirebaseRemoteConfig/Sources/RCNConfigExperiment.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigExperimentTest.m
Labels: api: remoteconfig, cla: yes

#5654 FIS - make server error logs more readable
  FirebaseInstallations/CHANGELOG.md
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsHTTPError.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsHTTPErrorTests.m
Labels: api: installations, cla: yes

#5655 Logging app id requesting releases
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
Labels: cla: yes

#5643 Use secure rules for Firebase Storage Integration tests
  .github/workflows/storage.yml
  .gitignore
  FirebaseStorage.podspec
  FirebaseStorage/Tests/Integration/Credentials.h
  FirebaseStorage/Tests/Integration/FIRStorageIntegrationTests.m
  FirebaseStorage/Tests/SwiftIntegration/Credentials.swift
  FirebaseStorage/Tests/SwiftIntegration/StorageIntegration.swift
  FirebaseStorageSwift.podspec
  FirebaseStorageSwift/Tests/Integration/Credentials.swift
  FirebaseStorageSwift/Tests/Integration/StorageIntegration.swift
  scripts/gha-encrypted/Storage/Credentials.h.gpg
  scripts/gha-encrypted/Storage/Credentials.swift.gpg
  scripts/style.sh
Labels: api: storage, cla: yes

#5656 FIS: disable Auth token auto fetch
  FirebaseInstallations/CHANGELOG.md
  FirebaseInstallations/Source/Library/FIRInstallations.m
  FirebaseInstallations/Source/Tests/Integration/FIRInstallationsIntegrationTests.m
Labels: api: installations, cla: yes

#5660 Update comment for addSnapshotsInSyncListener
  Firestore/Source/Public/FIRFirestore.h
Labels: api: firestore, cla: yes, public-api-change

#5650 Update Database tests to run against the emulator
  Example/Database/Tests/Helpers/FDevice.m
  Example/Database/Tests/Helpers/FTestBase.m
  Example/Database/Tests/Helpers/FTestHelpers.h
  Example/Database/Tests/Helpers/FTestHelpers.m
  Example/Database/Tests/Integration/FData.m
  Example/Database/Tests/Integration/FDotInfo.m
  Example/Database/Tests/Integration/FIRAuthTests.m
  Example/Database/Tests/Integration/FIRDatabaseTests.m
  Example/Database/Tests/Integration/FRealtime.m
  Example/Database/Tests/Integration/FTransactionTest.m
  README.md
  scripts/build.sh
  scripts/if_changed.sh
  scripts/install_prereqs.sh
  scripts/run_database_emulator.sh
Labels: api: database, cla: yes

#5645 Fix xcresult log output in Travis
  scripts/build.sh
  scripts/xcresult_logs.py
Labels: api: firestore, cla: yes

#5658 Avoid destroying the Task's operation while holding a lock
  Firestore/core/src/util/task.cc
  Firestore/core/src/util/task.h
  Firestore/core/test/unit/util/task_test.cc
Labels: api: firestore, cla: yes

#5679 Update to CocoaPods 1.9.2
  Gemfile
  Gemfile.lock
Labels: cla: yes

#5633 Fake Remote Config console for testing
  .github/workflows/remoteconfig.yml
  .travis.yml
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/Private/FIRRemoteConfig_Private.h
  FirebaseRemoteConfig/Sources/Private/RCNConfigFetch.h
  FirebaseRemoteConfig/Sources/RCNFetch.m
  FirebaseRemoteConfig/Tests/FakeConsole/FakeConsoleTests.swift
  FirebaseRemoteConfig/Tests/FakeUtils/Bridging-Header.h
  FirebaseRemoteConfig/Tests/FakeUtils/FakeConsole.swift
  FirebaseRemoteConfig/Tests/FakeUtils/FetchMocks.h
  FirebaseRemoteConfig/Tests/FakeUtils/FetchMocks.m
  FirebaseRemoteConfig/Tests/FakeUtils/GoogleService-Info.plist
  FirebaseRemoteConfig/Tests/FakeUtils/URLSessionPartialMock.swift
  FirebaseRemoteConfig/Tests/SwiftAPI/APITestBase.swift
  FirebaseRemoteConfig/Tests/SwiftAPI/APITests.swift
  FirebaseRemoteConfig/Tests/Unit/RCNInstanceIDTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
  scripts/build.sh
Labels: api: remoteconfig, cla: yes

#5646 Better completion callback for activate
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/Public/FIRRemoteConfig.h
  FirebaseRemoteConfig/Tests/FakeConsole/FakeConsoleTests.swift
  FirebaseRemoteConfig/Tests/SwiftAPI/APITests.swift
Labels: api: remoteconfig, cla: yes, public-api-change

#5685 Import updates in unported tests
  FirebaseRemoteConfig/Tests/Unit/RCNConfigSettingsTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNThrottlingTests.m
Labels: api: remoteconfig, cla: yes

#5680 Change log message to reference FID instead of IID
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMRuntimeManager.m
Labels: api: inappmessaging, cla: yes

#5681 Migrate RTDB to GHA
  .github/workflows/database.yml
  .travis.yml
  Example/Database/Tests/Integration/FData.m
  Example/Database/Tests/Unit/FLevelDBStorageEngineTests.m
  scripts/build.sh
  scripts/install_prereqs.sh
Labels: cla: yes

#5688 Update CHANGELOG for Firestore v1.15.0
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#5689 chore: fix code comment typo
  FirebaseCore/Sources/FIRApp.m
Labels: cla: yes

#5687 Update travis for GHA QS migration
  .travis.yml
Labels: cla: yes

#5690 Update GDT CHANGELOG and version
  GoogleDataTransport.podspec
  GoogleDataTransport/CHANGELOG.md
Labels: GoogleDataTransport, cla: yes

#5682 Add a global function to get storage instances
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCORLibrary/GDTCORRegistrar.m
  GoogleDataTransport/GDTCORLibrary/Public/GDTCORStorageProtocol.h
Labels: GoogleDataTransport, cla: yes, public-api-change

#5691 InstanceID to GHA
  .github/workflows/database.yml
  .github/workflows/instanceid.yml
  .travis.yml
  scripts/gha-encrypted/Installations/GoogleService-Info.plist.gpg
Labels: cla: yes

#5683 AppDistribution keychain access fixes
  FirebaseAppDistribution.podspec
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistribution/Sources/FIRAppDistributionAuthPersistence.m
  FirebaseAppDistribution/Sources/FIRAppDistributionKeychainUtility.m
  FirebaseAppDistribution/Sources/Private/FIRAppDistribution+Private.h
  FirebaseAppDistribution/Sources/Private/FIRAppDistributionAuthPersistence+Private.h
  FirebaseAppDistribution/Sources/Private/FIRAppDistributionKeychainUtility+Private.h
  FirebaseAppDistribution/Tests/Unit/FIRAppDistributionAuthPersistenceTests.m
Labels: cla: yes

#5678 Added Core app swift tests
  .travis.yml
  FirebaseCore.podspec
  FirebaseCore/Tests/Unit/Swift/FirebaseAppTests.swift
  FirebaseCore/Tests/Unit/Swift/FirebaseCore-unit-Bridging-Header.h
  FirebaseCore/Tests/Unit/Swift/SwiftTestingUtilities/Constants.swift
  FirebaseCore/Tests/Unit/Swift/SwiftTestingUtilities/ExceptionCatcher.h
  FirebaseCore/Tests/Unit/Swift/SwiftTestingUtilities/ExceptionCatcher.m
Labels: api: core, cla: yes

#5693 M72 notices update
  CoreOnly/NOTICES
Labels: api: core, cla: yes

#5692 Migrate Installations to GHA
  .github/workflows/installations.yml
  .travis.yml
  scripts/setup_quickstart.sh
Labels: cla: yes

#5694 Migrate ABT to GHA
  .github/workflows/abtesting.yml
  .github/workflows/installations.yml
  .travis.yml
Labels: cla: yes

#5696 Delete unused travis code
  .travis.yml
  scripts/install_prereqs.sh
Labels: cla: yes

#5695 Added storage integration tests for testing custom callback
  FirebaseStorage/Tests/Integration/FIRStorageIntegrationTests.m
  FirebaseStorage/Tests/SwiftIntegration/StorageIntegration.swift
  FirebaseStorageSwift/Tests/Integration/StorageIntegration.swift
Labels: api: storage, cla: yes

#5698 Add FirebaseFirestoreSwift readme
  Firestore/Swift/README.md
Labels: api: firestore, cla: yes

#5665 Fixing unwanted pending dynamic links checks on subsequent app restarts
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
Labels: api: dynamiclinks, cla: yes

#5667 use UNNotificationRequest to schedule local notification for iOS 10 and above
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMMessageCode.h
  FirebaseMessaging/Sources/FIRMessagingContextManagerService.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingContextManagerServiceTest.m
Labels: api: messaging, cla: yes

#5700 CocoaPods 1.9.3
  Gemfile
  Gemfile.lock
Labels: cla: yes
