Repository firebase/firebase-ios-sdk, pull requests merged in 2020-09, with the labels that each got.

#6382 redact UDID information from binary image data
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Components/FIRCLSProcess.c
  Crashlytics/Crashlytics/Helpers/FIRCLSUtility.h
  Crashlytics/Crashlytics/Helpers/FIRCLSUtility.m
  Crashlytics/UnitTests/FIRCLSUtilityTests.m
Labels: api: crashlytics, cla: yes

#6370 Update tool of pushing podspecs.
  .github/workflows/release.yml
  scripts/create_spec_repo/Package.swift
  scripts/create_spec_repo/Sources/SpecRepoBuilder/main.swift
Labels: cla: yes

#6385 Remove -fmodules from CMake C++ compilation flags.
  cmake/compiler_setup.cmake
Labels: api: firestore, cla: yes

#6387 Fix clang-tidy warnings from CLion 2020.2
  Firestore/core/.clang-tidy
  Firestore/core/src/model/field_value.h
Labels: api: firestore, cla: yes

#6388 Remove old cc_rules cruft
  cmake/cc_rules.cmake
Labels: api: firestore, cla: yes

#6390 Update CHANGELOG for Firestore v1.17.1
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#6381 add protos for != and NOT_IN
  Firestore/Protos/cpp/google/firestore/v1/query.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/query.pb.h
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.h
  Firestore/Protos/protos/google/firestore/v1/query.proto
Labels: api: firestore, cla: yes

#6389 Add release tests.
  .github/workflows/release.yml
Labels: cla: yes

#6397 Add Analytics for 6.32.0 SPM
  Package.swift
  SwiftPackageManager.md
Labels: cla: yes

#6399 Fix SwiftPM versioning
  .swiftpm/xcode/xcshareddata/xcschemes/Firebase-Package.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/version-test.xcscheme
  Package.swift
  SwiftPMTests/version-test/versionTest.m
Labels: cla: yes

#6395 Functions: replace InstanceID by Messaging (master)
  .github/workflows/functions.yml
  FirebaseFunctions.podspec
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/Interop/FIRMessagingInterop.h
  Functions/Backend/index.js
  Functions/Backend/start.sh
  Functions/CHANGELOG.md
  Functions/Example/IntegrationTests/FIRIntegrationTests.m
  Functions/Example/TestUtils/FUNFakeInstanceID.m
  Functions/Example/Tests/FIRFunctionsTests.m
  Functions/Example/Tests/FUNContextProviderTests.m
  Functions/FirebaseFunctions/FIRFunctions+Internal.h
  Functions/FirebaseFunctions/FIRFunctions.m
  Functions/FirebaseFunctions/FUNContext.h
  Functions/FirebaseFunctions/FUNContext.m
  Functions/FirebaseFunctions/FUNInstanceIDProxy.m
  SharedTestUtilities/FIRMessagingInteropFake.h
  SharedTestUtilities/FIRMessagingInteropFake.m
Labels: api: functions, api: messaging, cla: yes

#6400 Cherry-pick: Fix SPM versioning
  .swiftpm/xcode/xcshareddata/xcschemes/Firebase-Package.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/version-test.xcscheme
  Package.swift
  SwiftPMTests/version-test/versionTest.m
Labels: cla: yes

#6414 Add SwiftPM instructions to base README.md
  README.md
Labels: cla: yes

#6412 Update path able to be read in `sed`
  .github/workflows/release.yml
  scripts/release_testing_setup.sh
Labels: cla: yes

#6421 Token to add a tag
  scripts/gha-encrypted/oss-bot-access.txt.gpg
Labels: cla: yes

#6422 Merging the 6.32.0 release into master
  Firebase.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseFirestore.podspec
  Package.swift
  Releases/Manifests/6.32.0.json
  SwiftPackageManager.md
Labels: api: auth, cla: yes

#6426 SPM - define system dependencies
  FirebaseCore/CHANGELOG.md
  Package.swift
Labels: Swift Package Manager, api: core, cla: yes

#6396 Removing client id usage in api call and respective checks
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDLDefaultRetrievalProcessV2.h
  FirebaseDynamicLinks/Sources/FIRDLDefaultRetrievalProcessV2.m
  FirebaseDynamicLinks/Sources/FIRDLRetrievalProcessFactory.h
  FirebaseDynamicLinks/Sources/FIRDLRetrievalProcessFactory.m
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.h
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.m
  FirebaseDynamicLinks/Sources/FIRDynamicLinks+FirstParty.h
  FirebaseDynamicLinks/Sources/FIRDynamicLinks+Private.h
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Sources/Logging/FDLLogging.h
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinkNetworkingTests.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
Labels: api: dynamiclinks, cla: yes

#6420 Update firestore emulator version in tests
  scripts/run_firestore_emulator.sh
Labels: api: firestore, cla: yes

#6427 SPM test infra fixes
  .github/workflows/abtesting.yml
  .github/workflows/auth.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/installations.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/spm.yml
  .github/workflows/storage.yml
  Package.swift
  scripts/build.sh
Labels: Swift Package Manager, cla: yes

#6435 Add Firebase pod support for Auth/Crashlytics watchOS
  Firebase.podspec
  FirebaseCore/CHANGELOG.md
  README.md
Labels: api: core, cla: yes

#6402 Auth Emulator support
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Sources/AuthProvider/OAuth/FIROAuthProvider.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.h
  FirebaseAuth/Sources/Backend/FIRIdentityToolkitRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRSecureTokenRequest.m
  FirebaseAuth/Sources/Utilities/FIRAuthWebUtils.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRIdentityToolkitRequestTests.m
  FirebaseAuth/Tests/Unit/FIROAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRSecureTokenRequestTests.m
Labels: api: auth, cla: yes

#6437 Remove deprecated sendLogsWithServiceName
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Sources/Private/FIRAppInternal.h
Labels: api: core, cla: yes

#6365 GDT: storage size limit
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCORLibrary/GDTCORDirectorySizeTracker.m
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/Internal/GDTCORDirectorySizeTracker.h
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORFlatFileStorage.h
  GoogleDataTransport/GDTCORLibrary/Public/GoogleDataTransport/GDTCORPlatform.h
  GoogleDataTransport/GDTCORLibrary/Public/GoogleDataTransport/GDTCORStorageProtocol.h
  GoogleDataTransport/GDTCORTests/Common/Categories/GDTCORFlatFileStorage+Testing.h
  GoogleDataTransport/GDTCORTests/Common/Categories/GDTCORFlatFileStorage+Testing.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORFlatFileStorageTest.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#6438 Remove deprecated pods from Firebase.h and Firebase.podspec
  CoreOnly/Sources/Firebase.h
  Firebase.podspec
Labels: api: core, cla: yes

#6442 FirebaseCoreDiagnostics: add a dummy public header to define other as internal
  Firebase/CoreDiagnostics/FIRCDLibrary/Public/FIRCoreDiagnistics.h
  FirebaseCoreDiagnostics.podspec
Labels: cla: yes

#6440 Bump GDT version
  FirebaseCoreDiagnostics.podspec
  GoogleDataTransport.podspec
Labels: cla: yes

#6444 SPM: Add Info.plist to binary Analytics frameworks
  Package.swift
Labels: Swift Package Manager, cla: yes

#6445 Add Info.plist to Carthage binary frameworks
  FirebaseCore/CHANGELOG.md
  ZipBuilder/Sources/ZipBuilder/CarthageUtils.swift
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
Labels: Carthage, api: core, cla: yes, zip-builder

#6446 Merge SPM Info.plist fix to master
  Package.swift
Labels: cla: yes

#6423 Test workflows with tag.
  .github/workflows/release.yml
  scripts/release_testing_setup.sh
  scripts/remove_data.sh
  scripts/setup_quickstart.sh
Labels: cla: yes

#6452 SPM: Fix platform build warnings
  FirebaseCore/CHANGELOG.md
  Package.swift
Labels: api: core, cla: yes

#6454 Fix incorrect docs on public headers
  HeadersImports.md
Labels: cla: yes

#6450 Remove tag before add
  scripts/release_testing_setup.sh
Labels: cla: yes

#6430 Remove the FCM Direct Channel API from Messaging
  FirebaseMessaging.podspec
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMMessageCode.h
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/FIRMessagingClient.h
  FirebaseMessaging/Sources/FIRMessagingClient.m
  FirebaseMessaging/Sources/FIRMessagingCodedInputStream.h
  FirebaseMessaging/Sources/FIRMessagingCodedInputStream.m
  FirebaseMessaging/Sources/FIRMessagingConnection.h
  FirebaseMessaging/Sources/FIRMessagingConnection.m
  FirebaseMessaging/Sources/FIRMessagingConstants.h
  FirebaseMessaging/Sources/FIRMessagingConstants.m
  FirebaseMessaging/Sources/FIRMessagingDataMessageManager.h
  FirebaseMessaging/Sources/FIRMessagingDataMessageManager.m
  FirebaseMessaging/Sources/FIRMessagingDelayedMessageQueue.h
  FirebaseMessaging/Sources/FIRMessagingDelayedMessageQueue.m
  FirebaseMessaging/Sources/FIRMessagingPacketQueue.h
  FirebaseMessaging/Sources/FIRMessagingPacketQueue.m
  FirebaseMessaging/Sources/FIRMessagingPubSub.m
  FirebaseMessaging/Sources/FIRMessagingReceiver.h
  FirebaseMessaging/Sources/FIRMessagingReceiver.m
  FirebaseMessaging/Sources/FIRMessagingRmqManager.h
  FirebaseMessaging/Sources/FIRMessagingRmqManager.m
  FirebaseMessaging/Sources/FIRMessagingSecureSocket.h
  FirebaseMessaging/Sources/FIRMessagingSecureSocket.m
  FirebaseMessaging/Sources/FIRMessagingSyncMessageManager.h
  FirebaseMessaging/Sources/FIRMessagingSyncMessageManager.m
  FirebaseMessaging/Sources/FIRMessagingUtilities.h
  FirebaseMessaging/Sources/FIRMessagingUtilities.m
  FirebaseMessaging/Sources/FIRMessaging_Private.h
  FirebaseMessaging/Sources/NSError+FIRMessaging.h
  FirebaseMessaging/Sources/Protos/GtalkCore.pbobjc.h
  FirebaseMessaging/Sources/Protos/GtalkCore.pbobjc.m
  FirebaseMessaging/Sources/Protos/GtalkExtensions.pbobjc.h
  FirebaseMessaging/Sources/Protos/GtalkExtensions.pbobjc.m
  FirebaseMessaging/Sources/Public/FIRMessaging.h
  FirebaseMessaging/Tests/UnitTests/FIRMessagingClientTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingCodedInputStreamTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingConnectionTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingDataMessageManagerTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingFakeConnection.h
  FirebaseMessaging/Tests/UnitTests/FIRMessagingFakeConnection.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingFakeSocket.h
  FirebaseMessaging/Tests/UnitTests/FIRMessagingFakeSocket.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingPendingTopicsListTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingPubSubTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingRmqManagerTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingSecureSocketTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingSyncMessageManagerTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTestUtilities.m
Labels: api: messaging, cla: yes, public-api-change

#6460 Patch update for Analytics.
  Firebase.podspec
Labels: cla: yes

#6458 Update the API service to log the returned message from the API
  FirebaseAppDistribution/CHANGELOG.md
  FirebaseAppDistribution/Sources/FIRFADApiService.m
  FirebaseAppDistribution/Tests/Unit/FIRFADApiServiceTests.m
Labels: api: appdistribution, cla: yes

#6447 Add the missing include for `ABSL_HAVE_EXCEPTIONS`
  Firestore/core/src/util/exception.h
Labels: api: firestore, cla: yes

#6428 Ipv4 ipv6 fix
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDLDefaultRetrievalProcessV2.m
  FirebaseDynamicLinks/Sources/FIRDLRetrievalProcessProtocols.h
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.m
  FirebaseDynamicLinks/Tests/Sample/FDLBuilderTestAppObjC/AppDelegate.m
  FirebaseDynamicLinks/Tests/Sample/FDLBuilderTestAppObjC/SceneDelegate.m
Labels: api: dynamiclinks, cla: yes

#6313 Messaging Token API for review
  Firebase/InstanceID/FIRInstanceID.m
  Firebase/InstanceID/Private/FIRInstanceID_Private.h
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
  FirebaseMessaging/Apps/Sample/Sample/ContentView.swift
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/Public/FIRMessaging.h
  FirebaseMessaging/Tests/IntegrationTests/FIRMessagingTokenRefreshTests.swift
  FirebaseMessaging/Tests/UnitTests/FIRMessagingPendingTopicsListTest.m
Labels: api: instanceid, api: messaging, cla: yes, public-api-change

#6457 GDTTransformer: fix background tasks handling
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCORLibrary/GDTCORTransformer.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORTransformer_Private.h
  GoogleDataTransport/GDTCORLibrary/Public/GoogleDataTransport/GDTCORPlatform.h
  GoogleDataTransport/GDTCORTests/Common/Fakes/GDTCORApplicationFake.h
  GoogleDataTransport/GDTCORTests/Common/Fakes/GDTCORApplicationFake.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORTransformerTest.m
Labels: GoogleDataTransport, cla: yes, public-api-change

#6465 CoreDiagnostics changelog
  Firebase/CoreDiagnostics/CHANGELOG.md
Labels: api: core, cla: yes

#6463 Fix typo: cSYMs -> dSYMs
  Crashlytics/run
Labels: cla: yes

#6461 Patch update for Analytics. (#6460)
  Firebase.podspec
Labels: cla: yes

#6436 Crashlytics AW Sigaction crash fix #6434
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Components/FIRCLSContext.h
  Crashlytics/Crashlytics/Components/FIRCLSContext.m
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.m
  Crashlytics/Crashlytics/Handlers/FIRCLSSignal.c
  Crashlytics/Crashlytics/Handlers/FIRCLSSignal.h
  Crashlytics/Crashlytics/Helpers/FIRCLSFeatures.h
Labels: api: crashlytics, cla: yes, watchOS

#6467 Functions changelog corrections
  Functions/CHANGELOG.md
Labels: api: functions, cla: yes

#6468 Update Crashlytics CHANGELOG with 4.6.0 released changes
  Crashlytics/CHANGELOG.md
Labels: api: crashlytics, cla: yes

#6470 Update CHANGELOG for Firestore v1.18.0
  Firestore/CHANGELOG.md
Labels: api: firestore

#6469 GDT tests: Xcode 12 fixes
  GoogleDataTransport/GDTCCTTests/Unit/GDTCCTUploaderTest.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORTransformerTest.m
Labels: GoogleDataTransport, cla: yes

#6485 docs(storage): fix minor typo in code docs
  FirebaseStorage/Sources/FIRStorageTask_Private.h
  FirebaseStorage/Sources/Public/FirebaseStorage/FIRStorageTaskSnapshot.h
Labels: cla: yes

#6478 Fix FSTGoogleTestTests under Xcode 12
  Firestore/core/test/unit/FSTGoogleTestTests.mm
Labels: api: firestore, cla: yes

#6481 Update release workflow
  .github/workflows/release.yml
  scripts/release_testing_setup.sh
  scripts/setup_quickstart.sh
Labels: cla: yes

#6486 GDT: remove pre Xcode 10 availability checks
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
Labels: GoogleDataTransport, cla: yes

#6439 Remove unnecessary Core private headers
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Sources/FIRErrors.m
  FirebaseCore/Sources/Private/FIRAppInternal.h
  FirebaseCore/Sources/Private/FIRErrorCode.h
  FirebaseCore/Sources/Private/FIRErrors.h
  FirebaseCore/Tests/SwiftUnit/SwiftTestingUtilities/ExceptionCatcher.m
  FirebaseCore/Tests/Unit/FIRAppTest.m
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseRemoteConfig/Sources/FIRRemoteConfigComponent.m
Labels: api: core, api: dynamiclinks, api: remoteconfig, cla: yes

#6476 Add auth emulator to public API in prerelease branch.
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
Labels: api: auth, cla: yes, public-api-change

#6491 Update Xcode 12 requirement for SwiftPM docs.
  SwiftPackageManager.md
Labels: cla: yes

#6490 SPM M80(6.33.0) Analytics update
  Package.swift
Labels: Swift Package Manager, cla: yes

#6496 Update instructions for manual Package manifests.
  SwiftPackageManager.md
Labels: Swift Package Manager, cla: yes

#6498 Remove unnecessary analytics public header copy
  .swiftpm/xcode/xcshareddata/xcschemes/Firebase-Package.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/analytics-import-test.xcscheme
  FirebaseAnalyticsWrapper/Public/FirebaseAnalytics/FIRAnalytics+AppDelegate.h
  FirebaseAnalyticsWrapper/Public/FirebaseAnalytics/FIRAnalytics.h
  FirebaseAnalyticsWrapper/Public/FirebaseAnalytics/FIREventNames.h
  FirebaseAnalyticsWrapper/Public/FirebaseAnalytics/FIRParameterNames.h
  FirebaseAnalyticsWrapper/Public/FirebaseAnalytics/FIRUserPropertyNames.h
  FirebaseAnalyticsWrapper/Public/FirebaseAnalytics/FirebaseAnalytics.h
  Package.swift
  SwiftPMTests/analytics-import-test/analytics-import.swift
  SwiftPMTests/analytics-import-test/firebase-import.swift
Labels: cla: yes

#6499 Document workaround for Xcode 12 GM SPM binary device install bug
  SwiftPackageManager.md
Labels: cla: yes

#6500 Generate missing Analytics warning only for iOS
  CoreOnly/Sources/Firebase.h
Labels: api: core, cla: yes

#6508 Add IWYU pragma to FIRDynamicLinks+FirstParty/FIRDynamicLinks
  FirebaseDynamicLinks/Sources/FIRDynamicLinks+FirstParty.h
Labels: cla: yes

#6513 GDT readme: log level configuration
  GoogleDataTransport/README.md
Labels: GoogleDataTransport, cla: yes

#6515 Update FIRStackFrame header to generate HTML correctly for Reference Docs
  Crashlytics/Crashlytics/Public/FirebaseCrashlytics/FIRStackFrame.h
Labels: api: crashlytics, cla: yes

#6514 Update dependent Swift repo to fix CI breakage
  .github/workflows/remoteconfig.yml
  scripts/generate_access_token.sh
Labels: cla: yes

#6524 Update SPM docs to current version
  SwiftPackageManager.md
Labels: cla: yes

#6517 Update podspecs to min iOS 10
  .github/workflows/remoteconfig.yml
  .travis.yml
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_6_1_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_6_1_staticLibs/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_multiprojects_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_multiprojects_staticLibs/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_staticLibs/Podfile
  CoreOnly/Tests/FirebasePodTest/Podfile
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuth/Tests/Sample/Podfile
  FirebaseCore.podspec
  FirebaseCore/CHANGELOG.md
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/Podfile
  FirebaseInAppMessaging/Tests/Unit/FIRIAMActionUrlFollowerTests.m
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/GoogleBenchmark.podspec
  Firestore/Example/GoogleTest.podspec
  Firestore/Example/LibFuzzer.podspec
  Firestore/Example/Podfile
  Firestore/Example/ProtobufCpp.podspec
  GoogleDataTransport.podspec
  GoogleUtilities.podspec
  GoogleUtilitiesComponents.podspec
  Package.swift
  scripts/generate_access_token.sh
Labels: api: auth, api: core, api: dynamiclinks, api: firestore, api: inappmessaging, cla: yes

#6523 Merging the 6.33.0 release into master
  Firebase.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCrashlytics.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFunctions.podspec
  Package.swift
  Releases/Manifests/6.33.0.json
Labels: api: auth, cla: yes

#6527 Fix SPM version
  Package.swift
Labels: cla: yes

#6525 Import Spec tests
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.h
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/Example/Tests/SpecTests/json/listen_spec_test.json
  Firestore/Example/Tests/SpecTests/json/offline_spec_test.json
  Firestore/Example/Tests/SpecTests/json/recovery_spec_test.json
  Firestore/Example/Tests/SpecTests/json/write_spec_test.json
Labels: api: firestore, cla: yes

#6535 Move internal Crashlytics changes to Github
  Crashlytics/Crashlytics/DataCollection/FIRCLSDataCollectionArbiter.m
  Crashlytics/Crashlytics/Models/FIRCLSSettings.m
  Crashlytics/UnitTests/FIRCLSDataCollectionArbiterTest.m
  Crashlytics/UnitTests/FIRCLSSettingsTests.m
Labels: api: crashlytics, cla: yes

#6537 GDTCORFlatFileStorageTest size limit tests: use timeout proportional to the number of events
  GoogleDataTransport/GDTCORTests/Unit/GDTCORFlatFileStorageTest.m
Labels: GoogleDataTransport, cla: yes

#6539 IID: repo-relative headers
  Example/InstanceID/IntegrationTests/FIRInstanceIDIntegrationTests.m
  Example/InstanceID/Tests/FIRInstanceIDCheckinServiceTest.m
  Example/InstanceID/Tests/FIRInstanceIDCheckinStoreTest.m
  Example/InstanceID/Tests/FIRInstanceIDFakeKeychain.m
  Example/InstanceID/Tests/FIRInstanceIDResultTest.m
  Example/InstanceID/Tests/FIRInstanceIDStoreTest.m
  Example/InstanceID/Tests/FIRInstanceIDTest.m
  Example/InstanceID/Tests/FIRInstanceIDTokenManager+Test.m
  Example/InstanceID/Tests/FIRInstanceIDTokenManagerTest.m
  Example/InstanceID/Tests/FIRInstanceIDTokenOperationsTest.m
  Firebase/InstanceID/FIRInstanceID+Private.m
  Firebase/InstanceID/FIRInstanceID.m
  Firebase/InstanceID/FIRInstanceIDAPNSInfo.m
  Firebase/InstanceID/FIRInstanceIDAuthKeyChain.m
  Firebase/InstanceID/FIRInstanceIDAuthService.h
  Firebase/InstanceID/FIRInstanceIDAuthService.m
  Firebase/InstanceID/FIRInstanceIDBackupExcludedPlist.m
  Firebase/InstanceID/FIRInstanceIDCheckinPreferences+Internal.h
  Firebase/InstanceID/FIRInstanceIDCheckinPreferences+Internal.m
  Firebase/InstanceID/FIRInstanceIDCheckinPreferences.m
  Firebase/InstanceID/FIRInstanceIDCheckinPreferences_Private.h
  Firebase/InstanceID/FIRInstanceIDCheckinService.h
  Firebase/InstanceID/FIRInstanceIDCheckinService.m
  Firebase/InstanceID/FIRInstanceIDCheckinStore.m
  Firebase/InstanceID/FIRInstanceIDCombinedHandler.m
  Firebase/InstanceID/FIRInstanceIDConstants.m
  Firebase/InstanceID/FIRInstanceIDKeychain.m
  Firebase/InstanceID/FIRInstanceIDLogger.h
  Firebase/InstanceID/FIRInstanceIDLogger.m
  Firebase/InstanceID/FIRInstanceIDStore.m
  Firebase/InstanceID/FIRInstanceIDTokenDeleteOperation.h
  Firebase/InstanceID/FIRInstanceIDTokenDeleteOperation.m
  Firebase/InstanceID/FIRInstanceIDTokenFetchOperation.h
  Firebase/InstanceID/FIRInstanceIDTokenFetchOperation.m
  Firebase/InstanceID/FIRInstanceIDTokenInfo.h
  Firebase/InstanceID/FIRInstanceIDTokenInfo.m
  Firebase/InstanceID/FIRInstanceIDTokenManager.h
  Firebase/InstanceID/FIRInstanceIDTokenManager.m
  Firebase/InstanceID/FIRInstanceIDTokenOperation+Private.h
  Firebase/InstanceID/FIRInstanceIDTokenOperation.m
  Firebase/InstanceID/FIRInstanceIDTokenStore.m
  Firebase/InstanceID/FIRInstanceIDUtilities.m
  Firebase/InstanceID/FIRInstanceIDVersionUtilities.m
  Firebase/InstanceID/NSError+FIRInstanceID.m
  Firebase/InstanceID/Private/FIRInstanceID+Private.h
  Firebase/InstanceID/Private/FIRInstanceID_Private.h
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIIDStoreTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIIDTokenStoreTests.m
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/FIRMessagingPubSub.m
  FirebaseMessaging/Sources/FIRMessagingTopicOperation.m
  FirebaseMessaging/Tests/UnitTests/FIRInstanceIDWithFCMTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingHandlingTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingLinkHandlingTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTestUtilities.h
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTestUtilities.m
  scripts/change_headers.swift
  scripts/check_imports.swift
Labels: api: installations, api: instanceid, api: messaging, cla: yes

#6542 Use Xcode 12 in CI instead of the beta
  .github/workflows/abtesting.yml
  .github/workflows/auth.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/installations.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/spm.yml
  .github/workflows/storage.yml
Labels: cla: yes

#6541 SwiftPM for FCM
  .github/workflows/messaging.yml
  .swiftpm/xcode/xcshareddata/xcschemes/Firebase-Package.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/MessagingUnit.xcscheme
  FirebaseCore/CHANGELOG.md
  FirebaseMessaging.podspec
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/FIRMessagingAnalytics.m
  FirebaseMessaging/Sources/FIRMessagingExtensionHelper.m
  FirebaseMessaging/Sources/FIRMessagingLogger.h
  FirebaseMessaging/Sources/FIRMessagingPendingTopicsList.h
  FirebaseMessaging/Sources/FIRMessagingPubSub.h
  FirebaseMessaging/Sources/FIRMessagingPubSub.m
  FirebaseMessaging/Sources/FIRMessagingTopicOperation.h
  FirebaseMessaging/Sources/FIRMessaging_Private.h
  FirebaseMessaging/Sources/FirebaseMessaging.h
  FirebaseMessaging/Sources/NSDictionary+FIRMessaging.m
  FirebaseMessaging/Sources/NSError+FIRMessaging.m
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FIRMessaging.h
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FIRMessagingExtensionHelper.h
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FirebaseMessaging.h
  FirebaseMessaging/Tests/UnitTests/FIRInstanceIDWithFCMTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingAnalyticsTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingContextManagerServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingExtensionHelperTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingHandlingTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingLinkHandlingTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingPendingTopicsListTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingPubSubTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingRemoteNotificationsProxyTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingRmqManagerTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingSyncMessageManagerTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTestUtilities.h
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTestUtilities.m
  FirebaseMessaging/Tests/UnitTests/FIRTestsAssertionHandler.m
  FirebaseMessaging/Tests/UnitTests/Info.plist
  FirebaseMessaging/Tests/UnitTests/XCTestCase+FIRMessagingRmqManagerTests.m
  FirebaseMessaging/Tests/UnitTestsSwift/FIRMessagingInstanceTest.swift
  Package.swift
  SwiftPMTests/objc-import-test/objc-header.m
  SwiftPMTests/objc-import-test/objc-module.m
  SwiftPMTests/swift-test/main.swift
  scripts/change_headers.swift
  scripts/check_imports.swift
Labels: Swift Package Manager, api: core, api: messaging, cla: yes, public-api-change

#6536 GDTCCTUploader: use NSOperationQueue to coordinate uploads
  GoogleDataTransport/GDTCCTLibrary/GDTCCTUploadOperation.m
  GoogleDataTransport/GDTCCTLibrary/GDTCCTUploader2.m
  GoogleDataTransport/GDTCCTLibrary/Private/GDTCCTUploadOperation.h
  GoogleDataTransport/GDTCCTLibrary/Private/GDTCCTUploader.h
Labels: GoogleDataTransport, cla: yes

#6556 Fix a rare RC crash
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
Labels: api: remoteconfig, cla: yes

#6510 Refactoring archive testing to a single yml file.
  .github/workflows/abtesting.yml
  .github/workflows/appdistribution.yml
  .github/workflows/archiving.yml
  .github/workflows/auth.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/datatransport.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/instanceid.yml
  .github/workflows/messaging.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/storage.yml
Labels: cla: yes

#6555 GDTCORStorage: promise API wrapper
  GoogleDataTransport.podspec
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage+Promises.m
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadBatch.m
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORFlatFileStorage+Promises.h
  GoogleDataTransport/GDTCORLibrary/Private/GDTCORUploadBatch.h
  GoogleDataTransport/GDTCORLibrary/Public/GoogleDataTransport/GDTCORStorageProtocol.h
Labels: GoogleDataTransport, cla: yes, public-api-change

#6550 Update versions automation
  .github/workflows/prerelease.yml
  scripts/release_testing_setup.sh
Labels: cla: yes

#6559 Remove iOS 10.0 check since minimum support is updated to 10.0 in Messaging
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FIRMessaging.h
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FIRMessagingExtensionHelper.h
Labels: api: messaging, cla: yes, public-api-change

#6526 Add Performance podspec
  FirebasePerformance.podspec.json
Labels: cla: yes

#6507 Integrate Firestore with Firebase platform logging
  Firestore/Example/Tests/API/FSTAPIHelpers.mm
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.h
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/Source/API/FIRFirestore+Internal.h
  Firestore/Source/API/FIRFirestore.mm
  Firestore/Source/API/FSTFirestoreComponent.mm
  Firestore/core/CMakeLists.txt
  Firestore/core/src/api/firestore.cc
  Firestore/core/src/api/firestore.h
  Firestore/core/src/core/firestore_client.cc
  Firestore/core/src/core/firestore_client.h
  Firestore/core/src/remote/datastore.cc
  Firestore/core/src/remote/datastore.h
  Firestore/core/src/remote/firebase_metadata_provider.cc
  Firestore/core/src/remote/firebase_metadata_provider.h
  Firestore/core/src/remote/firebase_metadata_provider_apple.h
  Firestore/core/src/remote/firebase_metadata_provider_apple.mm
  Firestore/core/src/remote/firebase_metadata_provider_noop.cc
  Firestore/core/src/remote/firebase_metadata_provider_noop.h
  Firestore/core/src/remote/grpc_connection.cc
  Firestore/core/src/remote/grpc_connection.h
  Firestore/core/test/unit/remote/datastore_test.cc
  Firestore/core/test/unit/remote/grpc_stream_tester.cc
  Firestore/core/test/unit/remote/grpc_stream_tester.h
Labels: api: firestore, cla: yes

#6567 Change lastFetchTime to be readonly
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
Labels: api: remoteconfig, cla: yes, public-api-change

#6580 GDTCORDirectorySizeTracker: fix NSURL constructor
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCORLibrary/GDTCORDirectorySizeTracker.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORDirectorySizeTrackerTests.m
Labels: GoogleDataTransport, cla: yes

#6583 Upload Symbols 3.4 with performance improvements
  Crashlytics/CHANGELOG.md
  Crashlytics/upload-symbols
Labels: api: crashlytics, cla: yes

#6592 Always send the user agent regardless of the heartbeat value
  Firestore/core/src/remote/firebase_metadata_provider_apple.mm
Labels: api: firestore, cla: yes

#6589 Make FirestoreException a type defined by Firestore/core
  Firestore/core/src/util/exception.cc
  Firestore/core/src/util/exception.h
  Firestore/core/src/util/firestore_exceptions.h
Labels: api: firestore, cla: yes

#6587 Move common state from GDTCCTUploadOperation to GDTCCTUploader
  GoogleDataTransport/GDTCCTLibrary/GDTCCTUploadOperation.m
  GoogleDataTransport/GDTCCTLibrary/GDTCCTUploader2.m
  GoogleDataTransport/GDTCCTLibrary/Private/GDTCCTUploadOperation.h
  GoogleDataTransport/GDTCCTLibrary/Private/GDTCCTUploader.h
Labels: GoogleDataTransport, cla: yes

#6601 Update CHANGELOG for Firestore v1.19.0
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#6602 Remove deprecated method in ABT public header
  FirebaseABTesting/CHANGELOG.md
  FirebaseABTesting/Sources/FIRExperimentController.m
  FirebaseABTesting/Sources/Public/FirebaseABTesting/FIRExperimentController.h
  FirebaseABTesting/Tests/Unit/FIRExperimentControllerTest.m
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/RCNConfigExperiment.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigExperimentTest.m
Labels: api: abtesting, api: remoteconfig, cla: yes, public-api-change

#6585 Add InstanceID deprecation warning
  Example/InstanceID/IntegrationTests/FIRInstanceIDIntegrationTests.m
  Example/InstanceID/Tests/FIRInstanceIDResultTest.m
  Example/InstanceID/Tests/FIRInstanceIDTest.m
  Firebase/InstanceID/CHANGELOG.md
  Firebase/InstanceID/FIRInstanceID+Private.m
  Firebase/InstanceID/FIRInstanceID.m
  Firebase/InstanceID/FIRInstanceIDUtilities.m
  Firebase/InstanceID/Public/FIRInstanceID.h
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/FIRMessagingClient.m
  FirebaseMessaging/Sources/FIRMessagingPubSub.m
  FirebaseMessaging/Sources/FIRMessagingTopicOperation.m
  FirebaseMessaging/Tests/IntegrationTests/FIRMessagingTokenRefreshTests.swift
  FirebaseMessaging/Tests/UnitTests/FIRInstanceIDWithFCMTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingClientTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingHandlingTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTestUtilities.h
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTestUtilities.m
Labels: api: instanceid, api: messaging, cla: yes, public-api-change

#6604 Firebase 7 Firebase.podspec versions
  Firebase.podspec
Labels: cla: yes

#6603 Add a changelog entry for Firestore platform logging
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#6611 6.34.0 CHANGELOG update
  FirebaseCore/CHANGELOG.md
Labels: api: core, cla: yes

#6608 Migrate FIRLoggerServices strings from Core to clients
  FirebaseABTesting/Sources/ABTConstants.h
  FirebaseABTesting/Sources/FIRExperimentController.m
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Sources/Storage/FIRAuthKeychainServices.m
  FirebaseAuth/Sources/SystemService/FIRAuthAPNSTokenManager.m
  FirebaseAuth/Sources/SystemService/FIRAuthNotificationManager.m
  FirebaseCore/Sources/FIRLogger.m
  FirebaseCore/Sources/Private/FIRLogger.h
  FirebaseCore/Tests/Unit/FIRLoggerTest.m
Labels: api: abtesting, api: auth, api: core, cla: yes

#6599 Add static-framework testing to CI
  .github/workflows/abtesting.yml
  .github/workflows/appdistribution.yml
  .github/workflows/auth.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/datatransport.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firestore.yml
  .github/workflows/installations.yml
  .github/workflows/instanceid.yml
  .github/workflows/messaging.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/storage.yml
  .travis.yml
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinkNetworkingTests.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
  Gemfile
  Gemfile.lock
Labels: api: dynamiclinks, cla: yes

#6614 6.34.0 updates for SwiftPM
  Package.swift
  SwiftPackageManager.md
Labels: cla: yes

#6570 FIS: Additional FIRInstallationsItem validation
  FirebaseInstallations/CHANGELOG.md
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsErrorUtil.h
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsErrorUtil.m
  FirebaseInstallations/Source/Library/FIRInstallationsItem.h
  FirebaseInstallations/Source/Library/FIRInstallationsItem.m
  FirebaseInstallations/Source/Library/FIRInstallationsLogger.h
  FirebaseInstallations/Source/Library/FIRInstallationsLogger.m
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Tests/Fixture/APIRegisterInstallationResponseSuccessNoFID.json
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIDControllerTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsItemTests.m
  FirebaseInstallations/Source/Tests/Utils/FIRInstallationsItem+Tests.h
  FirebaseInstallations/Source/Tests/Utils/FIRInstallationsItem+Tests.m
Labels: api: installations, cla: yes

#6616 M81 FIS cherry pick of #6570
  FirebaseInstallations.podspec
  FirebaseInstallations/CHANGELOG.md
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsErrorUtil.h
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsErrorUtil.m
  FirebaseInstallations/Source/Library/FIRInstallationsItem.h
  FirebaseInstallations/Source/Library/FIRInstallationsItem.m
  FirebaseInstallations/Source/Library/FIRInstallationsLogger.h
  FirebaseInstallations/Source/Library/FIRInstallationsLogger.m
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Tests/Fixture/APIRegisterInstallationResponseSuccessNoFID.json
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIDControllerTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsItemTests.m
  FirebaseInstallations/Source/Tests/Utils/FIRInstallationsItem+Tests.h
  FirebaseInstallations/Source/Tests/Utils/FIRInstallationsItem+Tests.m
  Releases/Manifests/6.34.0.json
Labels: api: installations, cla: yes

#6620 Add link to App Distribution docs page
  FirebaseAppDistribution/README.md
Labels: cla: yes

#5622 Integrate FIS SDK into Segmentation
  .gitignore
  FirebaseSegmentation.podspec
  FirebaseSegmentation/Sources/FIRSegmentation.m
  FirebaseSegmentation/Sources/FIRSegmentationComponent.m
  FirebaseSegmentation/Sources/Public/FIRSegmentation.h
  FirebaseSegmentation/Sources/SEGContentManager.h
  FirebaseSegmentation/Sources/SEGContentManager.m
  FirebaseSegmentation/Sources/SEGDatabaseManager.h
  FirebaseSegmentation/Sources/SEGDatabaseManager.m
  FirebaseSegmentation/Sources/SEGNetworkManager.h
  FirebaseSegmentation/Sources/SEGNetworkManager.m
  FirebaseSegmentation/Sources/SEGSegmentationConstants.m
  FirebaseSegmentation/Tests/Sample/GoogleService-Info.plist
  FirebaseSegmentation/Tests/Unit/SEGContentManagerTests.m
  FirebaseSegmentation/Tests/Unit/SEGDatabaseManagerTests.m
  FirebaseSegmentation/Tests/Unit/SEGInitializationTests.m
  scripts/check.sh
Labels: GoogleDataTransport, api: auth, api: core, api: crashlytics, api: dynamiclinks, api: firestore, api: functions, api: installations, api: remoteconfig, api: storage, cla: yes, public-api-change

#6618 Clean up usage of deprecated methods in unit tests
  FirebaseRemoteConfig/Tests/FakeConsole/FakeConsoleTests.swift
  FirebaseRemoteConfig/Tests/SwiftAPI/APITests.swift
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig, cla: yes

#6607 Remove deprecated auth APIs
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+User.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
Labels: api: auth, cla: yes, public-api-change
