Repository firebase/firebase-ios-sdk, pull requests merged in 2020-10, with the labels that each got.

#6591 Use MIMEType for image download extension if not present in resource URL
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessagingExtensionHelper.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingExtensionHelperTest.m
Labels: api: messaging, cla: yes

#6629 ZipBuilder Firebase 7 updates
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
Labels: cla: yes, zip-builder

#6623 Change numberValue to be nonnull
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
Labels: api: remoteconfig, cla: yes, public-api-change

#6624 Add auth emulator support to public API.
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
Labels: api: auth, cla: yes, public-api-change

#6635 FIS: don't log anything on success validation
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
Labels: api: installations, cla: yes

#6636 Cherry pick #6635 to master
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
Labels: api: installations, cla: yes

#6633 Remove the `FirebaseOptions()` bare initializer.
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Sources/FIROptions.m
  FirebaseCore/Sources/Private/FIROptionsInternal.h
  FirebaseCore/Sources/Public/FirebaseCore/FIROptions.h
  FirebaseCore/Tests/SwiftUnit/FirebaseAppTests.swift
  FirebaseCore/Tests/SwiftUnit/FirebaseOptionsTests.swift
Labels: api: core, cla: yes, public-api-change

#6617 Remove deprecated elements of FIAM API
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessagingRendering.h
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/BannerMessageViewController.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/BridgingHeader.h
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/CardMessageViewController.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/CommonMessageTestVC.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/ImageOnlyMessageViewController.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/ModalMessageViewController.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/InAppMessagingDisplay-Sample.xcodeproj/project.pbxproj
Labels: api: inappmessaging, cla: yes, public-api-change

#6619 FIS: disable IID migration tests by default
  .github/workflows/installations.yml
  FirebaseInstallations.podspec
  FirebaseInstallations/Source/Tests/Unit/IIDStoreTests/FIRInstallationsIIDStoreTests.m
  FirebaseInstallations/Source/Tests/Unit/IIDStoreTests/FIRInstallationsIIDTokenStoreTests.m
Labels: api: installations, cla: yes

#6466 Merge FLoC SDK into master branch.
  .gitignore
  Dangerfile
  FirebaseSegmentation.podspec
  FirebaseSegmentation/Sources/CHANGELOG.md
  FirebaseSegmentation/Sources/FIRSegmentation.m
  FirebaseSegmentation/Sources/FIRSegmentationComponent.m
  FirebaseSegmentation/Sources/Private/FIRSegmentationComponent.h
  FirebaseSegmentation/Sources/Private/FIRSegmentationInternal.h
  FirebaseSegmentation/Sources/Public/FIRSegmentation.h
  FirebaseSegmentation/Sources/Public/FirebaseSegmentation.h
  FirebaseSegmentation/Sources/SEGContentManager.h
  FirebaseSegmentation/Sources/SEGContentManager.m
  FirebaseSegmentation/Sources/SEGDatabaseManager.h
  FirebaseSegmentation/Sources/SEGDatabaseManager.m
  FirebaseSegmentation/Sources/SEGNetworkManager.h
  FirebaseSegmentation/Sources/SEGNetworkManager.m
  FirebaseSegmentation/Sources/SEGSegmentationConstants.h
  FirebaseSegmentation/Tests/Sample/Podfile
  FirebaseSegmentation/Tests/Sample/SegmentationSampleApp.xcodeproj/project.pbxproj
  FirebaseSegmentation/Tests/Sample/SegmentationSampleApp/AppDelegate.h
  FirebaseSegmentation/Tests/Sample/SegmentationSampleApp/AppDelegate.m
  FirebaseSegmentation/Tests/Sample/SegmentationSampleApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseSegmentation/Tests/Sample/SegmentationSampleApp/Assets.xcassets/Contents.json
  FirebaseSegmentation/Tests/Sample/SegmentationSampleApp/Base.lproj/LaunchScreen.storyboard
  FirebaseSegmentation/Tests/Sample/SegmentationSampleApp/Base.lproj/Main.storyboard
  FirebaseSegmentation/Tests/Sample/SegmentationSampleApp/Info.plist
  FirebaseSegmentation/Tests/Sample/SegmentationSampleApp/ViewController.h
  FirebaseSegmentation/Tests/Sample/SegmentationSampleApp/ViewController.m
  FirebaseSegmentation/Tests/Sample/SegmentationSampleApp/main.m
  FirebaseSegmentation/Tests/Unit/SEGContentManagerTests.m
  FirebaseSegmentation/Tests/Unit/SEGDatabaseManagerTests.m
  FirebaseSegmentation/Tests/Unit/SEGInitializationTests.m
  scripts/check.sh
  scripts/if_changed.sh
Labels: api: installations, cla: yes, public-api-change

#6637 Remove deprecated RC APIs
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/ViewController.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig, cla: yes, public-api-change

#6642 Fix broken dangerfile
  Dangerfile
Labels: cla: yes

#6638 GDT: Move GDTCORAssert.h to internal headers
  GoogleDataTransport/GDTCCTTests/Unit/Helpers/GDTCCTEventGenerator.m
  GoogleDataTransport/GDTCCTTests/Unit/TestServer/GDTCCTTestServer.m
  GoogleDataTransport/GDTCORLibrary/GDTCORAssert.m
  GoogleDataTransport/GDTCORLibrary/GDTCOREvent.m
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORLibrary/GDTCORTransformer.m
  GoogleDataTransport/GDTCORLibrary/GDTCORTransport.m
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
  GoogleDataTransport/GDTCORLibrary/Internal/GDTCORAssert.h
  GoogleDataTransport/GDTCORTests/Integration/Helpers/GDTCORIntegrationTestUploader.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORAssertTest.m
  GoogleDataTransport/GDTCORTests/Unit/Helpers/GDTCORAssertHelper.h
Labels: GoogleDataTransport, cla: yes, public-api-change

#6640 Update check_imports check
  scripts/check_imports.swift
Labels: cla: yes

#6572 Stop using CocoaPods private headers
  FirebaseABTesting.podspec
  FirebaseCore/CHANGELOG.md
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/ViewController.m
  HeadersImports.md
Labels: api: core, api: remoteconfig, cla: yes

#6648 Add check for unauthenticated error and sign out in fetchNewLatestRelease
  FirebaseAppDistribution/CHANGELOG.md
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistribution/Tests/Unit/FIRAppDistributionTests.m
Labels: api: appdistribution, cla: yes

#6649 Update changelogs
  Crashlytics/CHANGELOG.md
  Firebase/InstanceID/CHANGELOG.md
  FirebaseStorage/CHANGELOG.md
Labels: api: crashlytics, api: instanceid, api: storage, cla: yes

#6656 Update Symbol Collision Test for Firebase 7
  SymbolCollisionTest/Podfile
Labels: cla: yes

#6653 Fix ZipBuilder crash and warning
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
Labels: cla: yes, zip-builder

#6651 Public Version API
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Tests/Sample/Sample/SettingsViewController.m
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Sources/FIRLogger.m
  FirebaseCore/Sources/FIROptions.m
  FirebaseCore/Sources/FIRVersion.m
  FirebaseCore/Sources/Private/FirebaseCoreInternal.h
  FirebaseCore/Sources/Public/FirebaseCore/FIRVersion.h
  FirebaseCore/Sources/Public/FirebaseCore/FirebaseCore.h
  FirebaseCore/Tests/Unit/FIROptionsTest.m
  FirebaseInstallations/CHANGELOG.md
  FirebaseStorage/CHANGELOG.md
  SwiftPMTests/swift-test/main.swift
  SwiftPMTests/version-test/versionTest.m
Labels: api: auth, api: core, api: storage, cla: yes, public-api-change

#6659 Bump nanopb to fix Xcode 12 warning
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseFirestore.podspec
  FirebaseInAppMessaging.podspec
  GoogleDataTransport.podspec
Labels: cla: yes

#6660 Fix breakage from #6651
  FirebaseCore/Sources/Private/FirebaseCoreInternal.h
Labels: api: core, cla: yes

#6661 Update the sample project link.
  FirebaseAuth/README.md
Labels: api: auth, cla: yes

#6664 Simplify FirebaseCore imports
  FirebaseCore/Sources/FIRComponentContainerInternal.h
  FirebaseCore/Sources/Private/FIRComponentContainer.h
  FirebaseCore/Sources/Private/FIRLibrary.h
  FirebaseCore/Sources/Private/FirebaseCoreInternal.h
  FirebaseCore/Tests/Unit/FIRAppTest.m
  FirebaseCore/Tests/Unit/FIRComponentContainerTest.m
  FirebaseCore/Tests/Unit/FIRTestComponents.m
Labels: api: core, cla: yes

#6665 Call fetchAndActivate completion handler on main thread
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
Labels: api: remoteconfig, cla: yes

#6670 Missing Foundation import
  FirebaseABTesting/Sources/ABTConstants.h
Labels: api: abtesting, cla: yes

#6668 Remove duplicate section for instructions.
  FirebaseAuth/Tests/Sample/README.md
Labels: api: auth, cla: yes

#4908 FirebaseInstallations import added to Firebase.h
  CoreOnly/Sources/Firebase.h
  Firebase.podspec
Labels: api: core, cla: yes

#6576 UI_USER_INTERFACE_IDIOM() was deprecated in iOS 14
  Crashlytics/Shared/FIRCLSFABHost.m
Labels: api: crashlytics, cla: yes

#6675 Update FirebaseAnalytics to the latest version from the release branch.
  scripts/create_spec_repo/RC_firebase_sdk.textproto
Labels: cla: yes

#6677 Remove deprecated -[FIRInstanceID appInstanceID:]
  Example/InstanceID/Tests/FIRInstanceIDTest.m
  Firebase/InstanceID/CHANGELOG.md
  Firebase/InstanceID/FIRInstanceID+Private.m
  Firebase/InstanceID/FIRInstanceID.m
  Firebase/InstanceID/Private/FIRInstanceID+Private.h
  Firebase/InstanceID/Private/FIRInstanceID_Private.h
Labels: api: instanceid, cla: yes

#6647 Messaging token refresh delegate should be able to return null token
  FirebaseMessaging/Apps/Sample/Sample/SceneDelegate.swift
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FIRMessaging.h
  FirebaseMessaging/Tests/IntegrationTests/FIRMessagingTokenRefreshTests.swift
Labels: api: messaging, cla: yes, public-api-change

#6687 Speedup SwiftPM
  Package.swift
Labels: Swift Package Manager, cla: yes

#6688 Cherry-pick two 6.34.0 commits to master
  Crashlytics/CHANGELOG.md
  Firebase/InstanceID/CHANGELOG.md
  FirebaseStorage/CHANGELOG.md
  Package.swift
Labels: api: crashlytics, api: installations, api: instanceid, api: storage, cla: yes

#6689 Fix an IID google3 build error
  Example/InstanceID/Tests/FIRInstanceIDTokenOperationsTest.m
Labels: cla: yes

#6669 Fix an issue notification is not received during app first install
  Firebase/InstanceID/FIRInstanceID.m
  FirebaseMessaging/CHANGELOG.md
Labels: api: instanceid, api: messaging, cla: yes

#6678 FIS: require projectID and valid API Key format
  Example/InstanceID/Tests/FIRInstanceIDTest.m
  FirebaseInstallations/CHANGELOG.md
  FirebaseInstallations/Source/Library/FIRInstallations.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Tests/Integration/FIRInstallationsIntegrationTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIDControllerTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsTests.m
  FirebaseMessaging/Tests/UnitTestsSwift/FIRMessagingInstanceTest.swift
  FirebaseRemoteConfig/Tests/Unit/FIRRemoteConfigComponentTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNInstanceIDTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
  FirebaseSegmentation/Tests/Unit/SEGContentManagerTests.m
  FirebaseSegmentation/Tests/Unit/SEGInitializationTests.m
Labels: api: installations, api: messaging, api: remoteconfig, api: segmentation, cla: yes

#6690 C API for Firebase Version
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Tests/Sample/Sample/SettingsViewController.m
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Sources/FIRLogger.m
  FirebaseCore/Sources/FIROptions.m
  FirebaseCore/Sources/FIRVersion.m
  FirebaseCore/Sources/Public/FirebaseCore/FIRVersion.h
  FirebaseCore/Tests/Unit/FIROptionsTest.m
  FirebaseDatabase/Sources/Api/FIRDatabase.m
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMClientInfoFetcher.m
  FirebaseInstallations/CHANGELOG.md
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/FIRStorageTokenAuthorizer.m
  SwiftPMTests/swift-test/main.swift
  SwiftPMTests/version-test/versionTest.m
Labels: api: auth, api: core, api: database, api: dynamiclinks, api: inappmessaging, api: installations, api: messaging, api: storage, cla: yes, public-api-change

#6693 Fix retain cycle build issue
  FirebaseMessaging/Tests/UnitTests/FIRMessagingPendingTopicsListTest.m
Labels: api: messaging, cla: yes

#6679 Provide version for FDL 1P builds
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
Labels: api: dynamiclinks, cla: yes

#6658 Fix tvOS storage issues.
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.m
  FirebaseRemoteConfig/Tests/Unit/RCNTestUtilities.m
  FirebaseSegmentation/Sources/SEGDatabaseManager.m
  FirebaseSegmentation/Tests/Unit/SEGDatabaseManagerTests.m
  GoogleDataTransport/CHANGELOG.md
  GoogleUtilities/Environment/GULHeartbeatDateStorage.m
  GoogleUtilities/Network/GULNetworkURLSession.m
  GoogleUtilities/Tests/Unit/Environment/GULHeartbeatDateStorageTest.m
  GoogleUtilities/Tests/Unit/Network/GULNetworkTest.m
Labels: GoogleDataTransport, GoogleUtilities, api: remoteconfig, api: segmentation, cla: yes

#6697 GoogleDataTransport: deprecated API conditions
  GoogleDataTransport.podspec
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
Labels: GoogleDataTransport, cla: yes

#6698 Fixed CHANGELOG location.
  GoogleDataTransport/CHANGELOG.md
  GoogleUtilities/CHANGELOG.md
Labels: GoogleDataTransport, GoogleUtilities, cla: yes

#6699 Fix CI/regression - update for change FCM API
  GoogleDataTransport/GDTCCTWatchOSTestApp/GDTCCTWatchOSIndependentTestAppWatchKitExtension/ExtensionDelegate.swift
Labels: GoogleDataTransport, cla: yes

#6700 Support paths with + in List API
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/FIRStorageUtils.m
  FirebaseStorage/Tests/Unit/FIRStorageListTests.m
Labels: api: storage, cla: yes

#6667 Update API documentation referencing removed methods
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
  FirebaseRemoteConfig/Sources/RCNConfigExperiment.h
Labels: api: remoteconfig, cla: yes, public-api-change

#6701 Merge release-6.34.0 branch after patch
  GoogleDataTransport.podspec
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
Labels: GoogleDataTransport, cla: yes

#5862 Refactor GULSwizzledObject to ARC to unblock SwiftPM support
  GoogleUtilities.podspec
  GoogleUtilities/CHANGELOG.md
  GoogleUtilities/ISASwizzler/GULObjectSwizzler.m
  GoogleUtilities/ISASwizzler/GULSwizzledObject.m
  GoogleUtilities/Tests/Unit/Swizzler/GULObjectSwizzlerTest.m
Labels: GoogleUtilities, cla: yes

#6691 Address floc review comments
  FirebaseSegmentation/Sources/Public/FIRSegmentation.h
  FirebaseSegmentation/Sources/SEGContentManager.h
  FirebaseSegmentation/Sources/SEGContentManager.m
  FirebaseSegmentation/Sources/SEGDatabaseManager.m
  FirebaseSegmentation/Sources/SEGNetworkManager.m
  FirebaseSegmentation/Sources/SEGSegmentationConstants.h
Labels: api: segmentation, cla: yes

#6702 Disable generic OAuth checks for Facebook and Apple when using the auth emulator.
  FirebaseAuth/Sources/AuthProvider/OAuth/FIROAuthProvider.m
Labels: api: auth, cla: yes

#6709 Update NOTICES now that several FirebaseML pods are deleted
  CoreOnly/NOTICES
Labels: api: core, cla: yes

#6685 Log warning instead of failing SDK when discovering dangling target.
  Firestore/core/src/local/leveldb_target_cache.cc
  Firestore/core/test/unit/local/leveldb_target_cache_test.cc
Labels: api: firestore, cla: yes

#6705 Initial SPM building for watchOS
  FirebaseCore/CHANGELOG.md
  Package.swift
  SwiftPM-PlatformExclude/FirebaseAnalyticsWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseAnalyticsWrap/include/dummy.h
  SwiftPM-PlatformExclude/FirebaseDatabaseWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseDatabaseWrap/include/dummy.h
  SwiftPM-PlatformExclude/FirebaseDynamicLinksWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseDynamicLinksWrap/include/dummy.h
  SwiftPM-PlatformExclude/FirebaseFirestoreSwiftWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseFirestoreSwiftWrap/include/dummy.h
  SwiftPM-PlatformExclude/FirebaseFirestoreWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseFirestoreWrap/include/dummy.h
  SwiftPM-PlatformExclude/FirebaseFunctionsWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseFunctionsWrap/include/dummy.h
  SwiftPM-PlatformExclude/FirebaseInAppMessagingWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseInAppMessagingWrap/include/dummy.h
  SwiftPM-PlatformExclude/FirebaseRemoteConfigWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseRemoteConfigWrap/include/dummy.h
  SwiftPackageManager.md
Labels: Swift Package Manager, api: core, cla: yes, watchOS

#6652 Update testing account
  scripts/gha-encrypted/FIREGSignInInfo.h.gpg
Labels: cla: yes

#6512 Disable deprecation warning
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Persistence/FLevelDBStorageEngine.m
Labels: api: database, cla: yes

#6645 Remove the `FIR` prefix from notification constants.
  FirebaseInstallations/CHANGELOG.md
  FirebaseInstallations/Source/Library/Public/FirebaseInstallations/FIRInstallations.h
  FirebaseMessaging/Apps/Sample/Sample/SceneDelegate.swift
  scripts/test_quickstart.sh
Labels: api: installations, api: messaging, cla: yes, public-api-change

#6708 Change instances of 'dimiss' to 'dismiss'
  FirebaseInAppMessaging/Sources/Data/FIRIAMRenderingEffectSetting.m
  FirebaseInAppMessaging/Sources/DefaultUI/Banner/FIRIAMBannerViewController.m
  FirebaseInAppMessaging/Sources/Private/Data/FIRIAMRenderingEffectSetting.h
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/CommonMessageTestVC.swift
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/InAppMessaging_Example_iOS_SwiftUITests/InAppMessaging_Example_iOS_SwiftUITests.swift
Labels: cla: yes

#6711 Use completion handler when updating experiments after activation
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/RCNConfigExperiment.h
  FirebaseRemoteConfig/Sources/RCNConfigExperiment.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigExperimentTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig, cla: yes

#6714 s/withMaxResults/maxResults
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/Public/FirebaseStorage/FIRStorageReference.h
  FirebaseStorage/Tests/SwiftIntegration/StorageIntegration.swift
  FirebaseStorageSwift/Sources/SwiftAPIExtension.swift
  FirebaseStorageSwift/Tests/Integration/StorageIntegration.swift
Labels: api: storage, cla: yes, public-api-change

#6622 Remove support for setting timestampsInSnapshotsEnabled
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/API/FIRFieldsTests.mm
  Firestore/Source/API/FIRDocumentSnapshot.mm
  Firestore/Source/API/FIRFirestoreSettings.mm
  Firestore/Source/Public/FirebaseFirestore/FIRFirestoreSettings.h
  Firestore/core/src/api/settings.cc
  Firestore/core/src/api/settings.h
  Firestore/core/src/model/field_value_options.h
Labels: api: firestore, cla: yes, public-api-change

#6014 FIS API docs: use term "installation auth token" consistently.
  FirebaseAppDistribution/Sources/FIRFADApiService.h
  FirebaseAppDistribution/Sources/FIRFADApiService.m
  FirebaseInstallations/CHANGELOG.md
  FirebaseInstallations/Source/Library/IIDMigration/FIRInstallationsIIDStore.m
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsItem+RegisterInstallationAPI.h
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredAuthToken.h
  FirebaseInstallations/Source/Library/InstallationsStore/FIRInstallationsStoredItem.h
  FirebaseInstallations/Source/Library/Public/FirebaseInstallations/FIRInstallations.h
  FirebaseInstallations/Source/Library/Public/FirebaseInstallations/FIRInstallationsAuthTokenResult.h
Labels: api: appdistribution, api: installations, cla: yes, public-api-change

#6722 Minor RC cleanup
  FirebaseRemoteConfig/README.md
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Tests/Unit/RCNUserDefaultsManagerTests.m
Labels: api: remoteconfig, cla: yes

#6725 Re-enable quickstart testing for FirebaseUI apps
  .github/workflows/database.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
Labels: cla: yes

#6729 Update GDT version for M82
  FirebaseAppDistribution.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  GoogleDataTransport.podspec
  GoogleDataTransport/CHANGELOG.md
Labels: GoogleDataTransport, cla: yes

#6732 Add manual trigger.
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  scripts/release_testing_setup.sh
Labels: cla: yes

#6724 One version release process
  ZipBuilder/Package.swift
  ZipBuilder/Sources/FirebaseManifest/FirebaseManifest.swift
  ZipBuilder/Sources/FirebaseManifest/Pod.swift
  ZipBuilder/Sources/FirebaseReleaser/InitializeRelease.swift
  ZipBuilder/Sources/FirebaseReleaser/Push.swift
  ZipBuilder/Sources/FirebaseReleaser/Tags.swift
  ZipBuilder/Sources/FirebaseReleaser/main.swift
  ZipBuilder/Sources/Utils/FileManager+Utils.swift
  ZipBuilder/Sources/Utils/ShellUtils.swift
  ZipBuilder/Sources/Utils/URL+Utils.swift
  ZipBuilder/Sources/ZipBuilder/CarthageUtils.swift
  ZipBuilder/Sources/ZipBuilder/CocoaPodUtils.swift
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
  ZipBuilder/Sources/ZipBuilder/ResourcesManager.swift
  ZipBuilder/Sources/ZipBuilder/Zip.swift
Labels: cla: yes, zip-builder

#6728 GDT: wrap and bind upload operation using promises
  GoogleDataTransport/GDTCCTLibrary/GDTCCTUploadOperation.m
  GoogleDataTransport/GDTCCTLibrary/GDTCCTUploader2.m
  GoogleDataTransport/GDTCCTLibrary/Private/GDTCCTUploadOperation.h
  GoogleDataTransport/GDTCCTLibrary/Private/GDTCCTUploader.h
  GoogleDataTransport/GDTCCTTests/Common/TestStorage/GDTCCTTestStorage.h
  GoogleDataTransport/GDTCCTTests/Common/TestStorage/GDTCCTTestStorage.m
  GoogleDataTransport/GDTCCTTests/Unit/GDTCCTUploaderTest.m
  GoogleDataTransport/GDTCORLibrary/GDTCORRegistrar.m
  GoogleDataTransport/GDTCORLibrary/Internal/GDTCORStorageProtocol.h
Labels: GoogleDataTransport, cla: yes

#6737 Missing iid handler checking cause crash
  Firebase/InstanceID/CHANGELOG.md
  Firebase/InstanceID/FIRInstanceIDTokenManager.m
  FirebaseMessaging/CHANGELOG.md
Labels: api: instanceid, api: messaging, cla: yes

#6738 Fix spelling in header name
  Firebase/CoreDiagnostics/FIRCDLibrary/Public/FIRCoreDiagnostics.h
Labels: api: core, cla: yes

#6735 Travis GoogleUtilities : skip Swift tests when --use-libraries
  .travis.yml
Labels: cla: yes

#6739 Add update-tags release process
  ZipBuilder/Sources/FirebaseReleaser/Tags.swift
  ZipBuilder/Sources/FirebaseReleaser/main.swift
Labels: cla: yes, zip-builder

#6747 Firebase zip contents from FirebaseManifest instead of textproto
  ZipBuilder/Package.swift
  ZipBuilder/README.md
  ZipBuilder/Sources/FirebaseManifest/FirebaseManifest.swift
  ZipBuilder/Sources/FirebaseManifest/Pod.swift
  ZipBuilder/Sources/FirebaseReleaser/InitializeRelease.swift
  ZipBuilder/Sources/ManifestReader/FirebaseSDKs.pb.swift
  ZipBuilder/Sources/ManifestReader/FirebaseSDKs.proto
  ZipBuilder/Sources/ManifestReader/ManifestReader.swift
  ZipBuilder/Sources/ManifestReader/Release.pb.swift
  ZipBuilder/Sources/ManifestReader/Release.proto
  ZipBuilder/Sources/ZipBuilder/FirebaseBuilder.swift
  ZipBuilder/Sources/ZipBuilder/FirebasePods.swift
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
  ZipBuilder/Sources/ZipBuilder/main.swift
  ZipBuilder/Sources/oss-manifest-generator/main.swift
Labels: cla: yes, zip-builder

#6742 Add Carthage JSON manifests to git repo
  ZipBuilder/CarthageJSON/FirebaseABTestingBinary.json
  ZipBuilder/CarthageJSON/FirebaseAdMobBinary.json
  ZipBuilder/CarthageJSON/FirebaseAnalyticsBinary.json
  ZipBuilder/CarthageJSON/FirebaseAppDistributionBinary.json
  ZipBuilder/CarthageJSON/FirebaseAuthBinary.json
  ZipBuilder/CarthageJSON/FirebaseCrashBinary.json
  ZipBuilder/CarthageJSON/FirebaseCrashlyticsBinary.json
  ZipBuilder/CarthageJSON/FirebaseDatabaseBinary.json
  ZipBuilder/CarthageJSON/FirebaseDynamicLinksBinary.json
  ZipBuilder/CarthageJSON/FirebaseFirestoreBinary.json
  ZipBuilder/CarthageJSON/FirebaseFunctionsBinary.json
  ZipBuilder/CarthageJSON/FirebaseGoogleSignInBinary.json
  ZipBuilder/CarthageJSON/FirebaseInAppMessagingBinary.json
  ZipBuilder/CarthageJSON/FirebaseInAppMessagingDisplayBinary.json
  ZipBuilder/CarthageJSON/FirebaseInvitesBinary.json
  ZipBuilder/CarthageJSON/FirebaseMLModelInterpreterBinary.json
  ZipBuilder/CarthageJSON/FirebaseMLVisionBinary.json
  ZipBuilder/CarthageJSON/FirebaseMessagingBinary.json
  ZipBuilder/CarthageJSON/FirebasePerformanceBinary.json
  ZipBuilder/CarthageJSON/FirebaseProtobufBinary.json
  ZipBuilder/CarthageJSON/FirebaseRemoteConfigBinary.json
  ZipBuilder/CarthageJSON/FirebaseStorageBinary.json
Labels: cla: yes

#6749 Address #6747 review comments
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
  ZipBuilder/Sources/ZipBuilder/ZipBuilder.swift
Labels: cla: yes, zip-builder

#6748 Rename GDTCCTUploader2.m back to GDTCCTUploader.m
  GoogleDataTransport/GDTCCTLibrary/GDTCCTUploader.m
  GoogleDataTransport/GDTCCTLibrary/Private/GDTCCTUploadOperation.h
Labels: GoogleDataTransport, cla: yes

#6751 CocoaPods CI update
  .travis.yml
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_6_1_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_6_1_staticLibs/Gemfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_6_1_staticLibs/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_frameworks/Gemfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_multiprojects_frameworks/Gemfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_staticLibs/Gemfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_staticLibs/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods_multiprojects_frameworks/Gemfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods_multiprojects_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods_multiprojects_staticLibs/Gemfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods_multiprojects_staticLibs/Podfile
Labels: cla: yes

#6757 FIS docs: whitelist -> allowlist
  FirebaseInstallations/API_KEY_RESTRICTIONS.md
Labels: GoogleUtilities, cla: yes

#6753 GoogleUtilities: NSURLSession promise extension
  GoogleUtilities.podspec
  GoogleUtilities/CHANGELOG.md
  GoogleUtilities/Environment/URLSessionPromiseWrapper/GULURLSessionDataResponse.h
  GoogleUtilities/Environment/URLSessionPromiseWrapper/GULURLSessionDataResponse.m
  GoogleUtilities/Environment/URLSessionPromiseWrapper/NSURLSession+GULPromises.h
  GoogleUtilities/Environment/URLSessionPromiseWrapper/NSURLSession+GULPromises.m
  GoogleUtilities/Tests/Unit/Environment/NSURLSession+GULPromisesTests.m
  SharedTestUtilities/URLSession/FIRURLSessionOCMockStub.h
  SharedTestUtilities/URLSession/FIRURLSessionOCMockStub.m
Labels: GoogleUtilities, cla: yes

#6758 Finish port of update-versions.py
  Releases/Manifests/5.10.0.json
  Releases/Manifests/5.11.0.json
  Releases/Manifests/5.12.0.json
  Releases/Manifests/5.13.0
  Releases/Manifests/5.13.0.json
  Releases/Manifests/5.14.0.json
  Releases/Manifests/5.15.0.json
  Releases/Manifests/5.16.0.json
  Releases/Manifests/5.17.0.json
  Releases/Manifests/5.18.0.json
  Releases/Manifests/5.19.0.json
  Releases/Manifests/5.20.0.json
  Releases/Manifests/5.3.0.json
  Releases/Manifests/5.4.0.json
  Releases/Manifests/5.4.1.json
  Releases/Manifests/5.5.0.json
  Releases/Manifests/5.6.0.json
  Releases/Manifests/5.7.0.json
  Releases/Manifests/5.8.0.json
  Releases/Manifests/5.9.0.json
  Releases/Manifests/6.0.0.json
  Releases/Manifests/6.1.0.json
  Releases/Manifests/6.10.0.json
  Releases/Manifests/6.11.0.json
  Releases/Manifests/6.12.0.json
  Releases/Manifests/6.13.0.json
  Releases/Manifests/6.14.0.json
  Releases/Manifests/6.15.0.json
  Releases/Manifests/6.16.0.json
  Releases/Manifests/6.17.0.json
  Releases/Manifests/6.18.0.json
  Releases/Manifests/6.19.0.json
  Releases/Manifests/6.2.0.json
  Releases/Manifests/6.21.0.json
  Releases/Manifests/6.22.0.json
  Releases/Manifests/6.23.0.json
  Releases/Manifests/6.24.0.json
  Releases/Manifests/6.25.0.json
  Releases/Manifests/6.26.0.json
  Releases/Manifests/6.27.0.json
  Releases/Manifests/6.28.0.json
  Releases/Manifests/6.28.1.json
  Releases/Manifests/6.29.0.json
  Releases/Manifests/6.3.0.json
  Releases/Manifests/6.30.0.json
  Releases/Manifests/6.31.0.json
  Releases/Manifests/6.32.0.json
  Releases/Manifests/6.33.0.json
  Releases/Manifests/6.34.0.json
  Releases/Manifests/6.4.0.json
  Releases/Manifests/6.5.0.json
  Releases/Manifests/6.6.0.json
  Releases/Manifests/6.7.0.json
  Releases/Manifests/6.8.0.json
  Releases/Manifests/6.8.1.json
  Releases/Manifests/6.9.0.json
  Releases/Manifests/README
  Releases/update-versions.py
  ZipBuilder/Sources/FirebaseReleaser/Tags.swift
Labels: cla: yes, zip-builder

#6760 Prevent test build errors under Xcode 12.1
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
Labels: api: firestore, cla: yes

#6736 Exclude FirebaseSegmentation in testing
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  scripts/create_spec_repo/Sources/SpecRepoBuilder/main.swift
  scripts/release_testing_setup.sh
Labels: cla: yes

#6761 Some Release tooling cleanup
  ZipBuilder/Sources/FirebaseManifest/FirebaseManifest.swift
  ZipBuilder/Sources/FirebaseReleaser/Push.swift
  ZipBuilder/Sources/FirebaseReleaser/Tags.swift
  ZipBuilder/Sources/ZipBuilder/LaunchArgs.swift
Labels: cla: yes, zip-builder

#6770 Only run schedule actions on the main repo
  .github/workflows/abtesting.yml
  .github/workflows/appdistribution.yml
  .github/workflows/auth.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/datatransport.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/installations.yml
  .github/workflows/instanceid.yml
  .github/workflows/messaging.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/spm.yml
  .github/workflows/storage.yml
  .github/workflows/zip.yml
Labels: cla: yes

#6772 Rename ReleaseTooling
  .github/workflows/zip.yml
  .gitignore
  AddNewPod.md
  Dangerfile
  ReleaseTooling/.gitignore
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingDisplayBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInvitesBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelInterpreterBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLVisionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseProtobufBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
  ReleaseTooling/Package.swift
  ReleaseTooling/README.md
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/FirebaseManifest/Pod.swift
  ReleaseTooling/Sources/FirebaseReleaser/InitializeRelease.swift
  ReleaseTooling/Sources/FirebaseReleaser/Push.swift
  ReleaseTooling/Sources/FirebaseReleaser/Tags.swift
  ReleaseTooling/Sources/FirebaseReleaser/main.swift
  ReleaseTooling/Sources/Utils/FileManager+Utils.swift
  ReleaseTooling/Sources/Utils/ShellUtils.swift
  ReleaseTooling/Sources/Utils/URL+Utils.swift
  ReleaseTooling/Sources/ZipBuilder/CarthageUtils.swift
  ReleaseTooling/Sources/ZipBuilder/CocoaPodUtils.swift
  ReleaseTooling/Sources/ZipBuilder/FirebaseBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/HashCalculator.swift
  ReleaseTooling/Sources/ZipBuilder/LaunchArgs.swift
  ReleaseTooling/Sources/ZipBuilder/ModuleMapBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/ResourcesManager.swift
  ReleaseTooling/Sources/ZipBuilder/Zip.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/main.swift
  ReleaseTooling/Template/FrameworkMaker.entitlements
  ReleaseTooling/Template/FrameworkMaker.xcodeproj/project.pbxproj
  ReleaseTooling/Template/Info.plist
  ReleaseTooling/Template/README.md
  ReleaseTooling/Template/dummy_Firebase_lib
  ReleaseTooling/ZipBuilderV2Plan.md
  scripts/build_non_firebase_sdks.sh
  scripts/build_zip.sh
  scripts/check_whitespace.sh
Labels: cla: yes, release-tooling

#6774 Address two comments from last week's PRs
  ReleaseTooling/Sources/FirebaseReleaser/Tags.swift
  ReleaseTooling/Sources/FirebaseReleaser/main.swift
Labels: cla: yes, release-tooling

#6773 Source updates for ReleaseTooling rename
  ReleaseTooling/Sources/ZipBuilder/FirebaseBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/LaunchArgs.swift
Labels: cla: yes, release-tooling

#6777 Missing SwiftPM beta annotations
  Package.swift
Labels: cla: yes

#6778 Fix a memory leak introduced in #6418
  Firestore/CHANGELOG.md
  Firestore/core/src/remote/serializer.cc
Labels: api: firestore, cla: yes

#6780 Fix CI after #6777
  .github/workflows/firestore.yml
  .github/workflows/storage.yml
Labels: cla: yes

#6779 Fix a memory leak introduced in #6418 (#6778)
  Firestore/CHANGELOG.md
  Firestore/core/src/remote/serializer.cc
Labels: api: firestore, cla: yes

#6784 Fix typo to fix zip cron
  scripts/build_zip.sh
Labels: cla: yes

#6789 Crashlytics update run script to quote all arguments passed
  Crashlytics/CHANGELOG.md
  Crashlytics/run
Labels: api: crashlytics, cla: yes

#6791 Adjust Storage Timeouts to GTM's retry interval
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/FIRStorage.m
  FirebaseStorage/Sources/FIRStorageDownloadTask.m
  FirebaseStorage/Sources/FIRStorageTask.m
  FirebaseStorage/Sources/FIRStorageUploadTask.m
  FirebaseStorage/Sources/FIRStorageUtils.h
  FirebaseStorage/Sources/FIRStorageUtils.m
  FirebaseStorage/Sources/FIRStorage_Private.h
  FirebaseStorage/Tests/Unit/FIRStorageUtilsTests.m
Labels: api: storage, cla: yes

#6792 Add publish option to release tooling
  ReleaseTooling/Sources/FirebaseReleaser/Push.swift
  ReleaseTooling/Sources/FirebaseReleaser/main.swift
  scripts/build_zip.sh
Labels: cla: yes, release-tooling

#6787 Add custom domain support to callable functions
  Functions/CHANGELOG.md
  Functions/Example/IntegrationTests/FIRIntegrationTests.m
  Functions/Example/Tests/FIRFunctionsTests.m
  Functions/FirebaseFunctions/FIRFunctions+Internal.h
  Functions/FirebaseFunctions/FIRFunctions.m
  Functions/FirebaseFunctions/Public/FirebaseFunctions/FIRFunctions.h
  Functions/README.md
Labels: api: functions, cla: yes, public-api-change

#6795 Update to CocoaPods 1.10.0
  Gemfile
  Gemfile.lock
Labels: cla: yes

#6796 M82 SPM Analytics update
  Package.swift
Labels: cla: yes

#6798 Restore zip cron test
  ReleaseTooling/Sources/ZipBuilder/LaunchArgs.swift
  scripts/build_zip.sh
Labels: cla: yes, release-tooling

#6800 Fixed broken callback to AppDelegate
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Tests/Sample/Podfile
Labels: api: dynamiclinks, cla: yes

#6801 7.0.0 cherry-pick: Fixed broken callback to AppDelegate (#6800)
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Tests/Sample/Podfile
Labels: api: dynamiclinks, cla: yes

#6797 Merge release-7.0 branch to master
  .github/workflows/firestore.yml
  .github/workflows/storage.yml
  Package.swift
  ReleaseTooling/Sources/FirebaseReleaser/Push.swift
  ReleaseTooling/Sources/FirebaseReleaser/main.swift
Labels: cla: yes, release-tooling

#6805 Update SPM Analytics
  Package.swift
Labels: cla: yes

#6804 Update cron tests for new Swift product names
  .github/workflows/firestore.yml
  .github/workflows/storage.yml
Labels: cla: yes

#6807 Stop failing on warnings
  GoogleDataTransport.podspec
  GoogleDataTransport/CHANGELOG.md
Labels: GoogleDataTransport, cla: yes

#6809 Merge SPM updates back to master to fix CI
  Package.swift
Labels: cla: yes

#6806 Speed up retagging
  ReleaseTooling/Sources/FirebaseReleaser/Tags.swift
Labels: cla: yes, release-tooling

#6692 Add support for other Firebase products to integrate with Remote Config.
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/RCNConfigConstants.h
  FirebaseRemoteConfig/Sources/RCNConfigContent.h
  FirebaseRemoteConfig/Sources/RCNConfigContent.m
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.h
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.m
  FirebaseRemoteConfig/Sources/RCNPersonalization.h
  FirebaseRemoteConfig/Sources/RCNPersonalization.m
  FirebaseRemoteConfig/Tests/Unit/RCNPersonalizationTest.m
Labels: api: remoteconfig, cla: yes

#6815 Update zip builder to handle xcframeworks from binary pods
  ReleaseTooling/Sources/Utils/FileManager+Utils.swift
Labels: cla: yes, release-tooling

#6816 Readme and Roadmap updates
  README.md
  ROADMAP.md
Labels: cla: yes

#6594 Custom model
  .github/workflows/mlmodeldownloader.yml
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseMLModelDownloaderUnit.xcscheme
  FirebaseMLModelDownloader/Sources/CustomModel.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadConditions.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderTests.swift
Labels: cla: yes

#6817 Rebrand 3.3.0 as Perf SDK version 3.3.2 to avoid the crashes related to KVO
  FirebasePerformance.podspec.json
Labels: cla: yes

#6831 Fix typo on publish command
  ReleaseTooling/Sources/FirebaseManifest/Pod.swift
Labels: cla: yes, release-tooling

#6832 Update SPM instructions for 7.0
  SwiftPackageManager.md
Labels: cla: yes

#6834 Fix publish order - RemoteConfig is a dependency of Performance
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: cla: yes, release-tooling

#6836 Post-release 7.0 merge to master
  ReleaseTooling/Sources/FirebaseReleaser/Tags.swift
Labels: cla: yes, release-tooling

#6799 Firebase user agent: add iOS on mac platform
  GoogleUtilities/CHANGELOG.md
  GoogleUtilities/Environment/third_party/GULAppEnvironmentUtil.m
Labels: GoogleUtilities, cla: yes

#6833 Carthage updates for 7.0.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelInterpreterBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLVisionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseProtobufBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: auth, cla: yes, release-tooling

#6819 Adding test to make sure pending dynamic link is getting passed to App delegate method.
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
Labels: api: dynamiclinks, cla: yes

#6838 Remove Component version from issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: cla: yes

#6852 Run integration tests against the emulator by default.
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Integration/CAcert.pem
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
Labels: api: firestore, cla: yes

#6853 Fix cache for check workflow
  .github/workflows/check.yml
Labels: cla: yes

#6859 Update Firestore macOS build for Xcode 12
  .github/workflows/firestore.yml
  Firestore/core/test/unit/FSTGoogleTestTests.mm
Labels: api: firestore, cla: yes

#6846 Remove usages of "whitelist" in Firestore.
  Firestore/core/src/remote/datastore.cc
  Firestore/core/src/remote/datastore.h
  Firestore/core/src/remote/stream.cc
  Firestore/core/test/unit/remote/datastore_test.cc
Labels: api: firestore, cla: yes

#6849 Allocate global objects so that their destructors don't run.
  Firestore/core/src/auth/user.cc
  Firestore/core/src/immutable/array_sorted_map.h
  Firestore/core/src/immutable/llrb_node.h
  Firestore/core/src/local/leveldb_transaction.cc
  Firestore/core/src/model/document_key.cc
  Firestore/core/src/remote/datastore.cc
  Firestore/core/src/remote/grpc_connection.cc
  Firestore/core/src/util/autoid.cc
  Firestore/core/src/util/filesystem_common.cc
Labels: api: firestore, cla: yes

#6851 Fix minor style issues uncovered during auditing
  Firestore/core/src/local/leveldb_migrations.cc
  Firestore/core/src/local/leveldb_util.cc
  Firestore/core/src/local/local_serializer.cc
  Firestore/core/src/local/local_store.cc
  Firestore/core/src/local/target_data.cc
  Firestore/core/src/model/document_key.cc
  Firestore/core/src/model/field_path.cc
  Firestore/core/src/model/field_value.cc
  Firestore/core/src/nanopb/pretty_printing.cc
  Firestore/core/src/nanopb/writer.cc
  Firestore/core/src/remote/firebase_metadata_provider_apple.mm
  Firestore/core/src/remote/grpc_connection.cc
  Firestore/core/src/remote/online_state_tracker.cc
  Firestore/core/src/remote/stream.cc
  Firestore/core/src/remote/watch_change.cc
  Firestore/core/src/timestamp.cc
  Firestore/core/src/util/comparison.cc
  Firestore/core/src/util/executor_std.cc
  Firestore/core/src/util/log_stdio.cc
  Firestore/core/src/util/path.cc
  Firestore/core/src/util/strerror.cc
Labels: api: firestore, cla: yes

#6858 Remove explicit MobileCoreServices from podspecs
  FirebaseFirestore.podspec
  FirebaseStorage.podspec
  FirebaseStorage/CHANGELOG.md
  Firestore/CHANGELOG.md
  Package.swift
Labels: api: firestore, api: storage, cla: yes

#6712 Change the Crashlytics version constant to read from FIRCore instead of from a build flag.
  Crashlytics/Crashlytics/Components/FIRCLSContext.m
  Crashlytics/Crashlytics/Controllers/FIRCLSReportUploader.m
  Crashlytics/Crashlytics/DataCollection/FIRCLSDataCollectionArbiter.m
  Crashlytics/Crashlytics/FIRCrashlytics.m
  Crashlytics/Crashlytics/Helpers/FIRCLSDefines.h
  Crashlytics/Crashlytics/Models/FIRCLSSettings.m
  Crashlytics/Crashlytics/Settings/FIRCLSSettingsOnboardingManager.m
  Crashlytics/Crashlytics/Settings/Operations/FIRCLSDownloadAndSaveSettingsOperation.m
  Crashlytics/Crashlytics/Settings/Operations/FIRCLSNetworkOperation.m
  Crashlytics/Shared/FIRCLSConstants.h
  Crashlytics/Shared/FIRCLSConstants.m
  Crashlytics/UnitTests/FIRCLSDataCollectionArbiterTest.m
  Crashlytics/UnitTests/FIRCLSSettingsTests.m
  FirebaseCrashlytics.podspec
Labels: api: core, api: crashlytics, cla: yes

#6867 Get rid of an additional import of FIRVersion that I missed deleting
  Crashlytics/Crashlytics/Components/FIRCLSContext.m
Labels: api: crashlytics, cla: yes

#6860 Add standard SwiftPM versioning support
  Package.swift
  SwiftPackageManager.md
  docs/resources/SPMSelect.png
Labels: Swift Package Manager, cla: yes

#6868 Merge #6860 to master
  Package.swift
  SwiftPackageManager.md
  docs/resources/SPMSelect.png
Labels: cla: yes

#6865 Fix warning introduced with Xcode 12
  FirebaseMessaging/Tests/UnitTests/FIRMessagingPendingTopicsListTest.m
Labels: api: messaging, cla: yes

#6870 GDTCCTUploader: lazy initialize url session, use ephemeral session
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCCTLibrary/GDTCCTUploader.m
Labels: GoogleDataTransport, cla: yes

#6872 Remove unused options parameter
  Firestore/Source/API/FIRDocumentSnapshot.mm
Labels: api: firestore, cla: yes
