Repository firebase/firebase-ios-sdk, pull requests merged in 2020-08, with the labels that each got.

#6072 Firestore and Swift Package Manager
  Package.swift
  Tests/firebase-test/main.swift
Labels: api: firestore, cla: yes

#6184 Speedup SPM presubmit
  .github/workflows/spm.yml
Labels: cla: yes

#6187 Resolve spm CI git error
  Package.swift
Labels: cla: yes

#6186 Add missing <TargetConditionals.h> before TARGET_OS_OSX test
  FirebaseInstallations/Source/Tests/Integration/FIRInstallationsIntegrationTests.m
  FirebaseInstallations/Source/Tests/Utils/FIRTestKeychain.m
  GoogleUtilities/Tests/Unit/Utils/GULTestKeychain.m
Labels: GoogleUtilities, api: installations, cla: yes

#6190 Add localized strings to the UIAlert
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.m
Labels: api: appdistribution, cla: yes

#6191 Add SPM ObjC import test
  Package.swift
  SwiftPMTests/objc-import-test/objc-header.m
  SwiftPMTests/objc-import-test/objc-module.m
  SwiftPMTests/swift-test/main.swift
  scripts/check_imports.swift
  scripts/check_no_module_imports.sh
Labels: cla: yes

#6195 Reset debug mode on GGULResetLogger
  GoogleUtilities/Logger/GULLogger.m
Labels: GoogleUtilities, cla: yes

#6196 Fix typos
  FirebaseRemoteConfig/Tests/SwiftAPI/APITests.swift
  FirebaseRemoteConfig/Tests/SwiftAPI/Resources/README.md
Labels: api: remoteconfig, cla: yes

#6193 Functions - new public header structure
  FirebaseFunctions.podspec
  Functions/Example/IntegrationTests/FIRIntegrationTests.m
  Functions/Example/Tests/FIRFunctionsTests.m
  Functions/Example/Tests/FUNSerializerTests.m
  Functions/FirebaseFunctions/FIRFunctions+Internal.h
  Functions/FirebaseFunctions/FIRFunctions.m
  Functions/FirebaseFunctions/FIRHTTPSCallable+Internal.h
  Functions/FirebaseFunctions/FIRHTTPSCallable.m
  Functions/FirebaseFunctions/FUNError.h
  Functions/FirebaseFunctions/FUNSerializer.m
  Functions/FirebaseFunctions/Public/FirebaseFunctions/FIRError.h
  Functions/FirebaseFunctions/Public/FirebaseFunctions/FIRFunctions.h
  Functions/FirebaseFunctions/Public/FirebaseFunctions/FIRHTTPSCallable.h
  Functions/FirebaseFunctions/Public/FirebaseFunctions/FirebaseFunctions.h
  SwiftPMTests/objc-import-test/objc-header.m
Labels: api: functions, cla: yes, public-api-change

#6198 Temporarily run cpplint under python2
  scripts/check_lint.py
Labels: Infrastructure, cla: yes

#6197 Firestore - new public header structure
  FirebaseFirestore.podspec
  Firestore/Example/Tests/Util/FSTEventAccumulator.mm
  Firestore/Source/CMakeLists.txt
  Firestore/Source/Public/FirebaseFirestore/FIRCollectionReference.h
  Firestore/Source/Public/FirebaseFirestore/FIRDocumentChange.h
  Firestore/Source/Public/FirebaseFirestore/FIRDocumentReference.h
  Firestore/Source/Public/FirebaseFirestore/FIRDocumentSnapshot.h
  Firestore/Source/Public/FirebaseFirestore/FIRFieldPath.h
  Firestore/Source/Public/FirebaseFirestore/FIRFieldValue.h
  Firestore/Source/Public/FirebaseFirestore/FIRFirestore.h
  Firestore/Source/Public/FirebaseFirestore/FIRFirestoreErrors.h
  Firestore/Source/Public/FirebaseFirestore/FIRFirestoreSettings.h
  Firestore/Source/Public/FirebaseFirestore/FIRFirestoreSource.h
  Firestore/Source/Public/FirebaseFirestore/FIRGeoPoint.h
  Firestore/Source/Public/FirebaseFirestore/FIRListenerRegistration.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuery.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuerySnapshot.h
  Firestore/Source/Public/FirebaseFirestore/FIRSnapshotMetadata.h
  Firestore/Source/Public/FirebaseFirestore/FIRTimestamp.h
  Firestore/Source/Public/FirebaseFirestore/FIRTransaction.h
  Firestore/Source/Public/FirebaseFirestore/FIRWriteBatch.h
  Firestore/Source/Public/FirebaseFirestore/FirebaseFirestore.h
  Firestore/core/src/util/error_apple.mm
  Package.swift
  SwiftPMTests/objc-import-test/objc-header.m
  scripts/sync_project.rb
Labels: api: firestore, cla: yes, public-api-change

#6201 Fix cpplint.py to work under Python 3
  scripts/check_lint.py
  scripts/cpplint.py
Labels: Infrastructure, cla: yes

#6202 Package.swift cleanup
  Package.swift
Labels: cla: yes

#5993 Check for Pending Dynamic link guard check logic change
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
Labels: api: dynamiclinks, cla: yes

#6203 Update podspec dependencies for 6.30.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  GoogleDataTransport.podspec
Labels: api: auth, cla: yes

#6121 Add support for deferred OAuth provisioning
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/AuthProvider/OAuth/FIROAuthProvider.m
  FirebaseAuth/Sources/AuthProvider/Phone/FIRPhoneAuthProvider.m
  FirebaseAuth/Tests/Unit/FIROAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
Labels: api: auth, cla: yes

#6205 M77 Changelog updates
  FirebaseAuth/CHANGELOG.md
  FirebaseCore/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
Labels: api: auth, api: core, api: remoteconfig, cla: yes

#6206 Update CHANGELOG for Firestore v1.16.4
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#6207 FirebaseInstallations: API requests backoff
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsErrorUtil.h
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsErrorUtil.m
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsHTTPError.h
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRCurrentDateProvider.h
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRCurrentDateProvider.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsBackoffController.h
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsBackoffController.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsBackoffControllerTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIDControllerTests.m
  FirebaseInstallations/Source/Tests/Utils/FIRTestCurrentDateProvider.h
  FirebaseInstallations/Source/Tests/Utils/FIRTestCurrentDateProvider.m
Labels: api: installations, cla: yes

#6213 Add bot access secret.
  scripts/gha-encrypted/bot-access.txt.gpg
Labels: cla: yes

#6218 Change to appdistribution.firebase.dev from partnerdash.google.com
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
Labels: cla: yes

#6209 Fix topic in watchOS
  Example/watchOSSample/SampleWatchAppWatchKitExtension/ExtensionDelegate.swift
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMMessageCode.h
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/FIRMessagingClient.h
  FirebaseMessaging/Sources/FIRMessagingClient.m
  FirebaseMessaging/Sources/FIRMessagingPubSub.h
  FirebaseMessaging/Sources/FIRMessagingPubSub.m
  FirebaseMessaging/Sources/FIRMessagingPubSubRegistrar.h
  FirebaseMessaging/Sources/FIRMessagingPubSubRegistrar.m
  FirebaseMessaging/Sources/NSError+FIRMessaging.h
  FirebaseMessaging/Tests/UnitTests/FIRMessagingPubSubTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingServiceTest.m
Labels: api: messaging, cla: yes, watchOS

#6215 SPM - Initial Analytics
  .github/workflows/spm.yml
  FirebaseAnalyticsWrapper/Public/FirebaseAnalytics/FIRAnalytics+AppDelegate.h
  FirebaseAnalyticsWrapper/Public/FirebaseAnalytics/FIRAnalytics.h
  FirebaseAnalyticsWrapper/Public/FirebaseAnalytics/FIREventNames.h
  FirebaseAnalyticsWrapper/Public/FirebaseAnalytics/FIRParameterNames.h
  FirebaseAnalyticsWrapper/Public/FirebaseAnalytics/FIRUserPropertyNames.h
  FirebaseAnalyticsWrapper/Public/FirebaseAnalytics/FirebaseAnalytics.h
  FirebaseAnalyticsWrapper/dummy.m
  Package.swift
  scripts/check_copyright.sh
  scripts/style.sh
Labels: cla: yes

#6225 Update podfile to point to live releases for EAP customers
  FirebaseAppDistribution.podspec
Labels: cla: yes

#6224 GULKeychainStorage: use dictionary instead of NSCache
  GoogleUtilities/CHANGELOG.md
  GoogleUtilities/Environment/SecureStorage/GULKeychainStorage.m
  GoogleUtilities/Tests/Unit/Environment/GULKeychainStorageTests.m
Labels: GoogleUtilities, cla: yes

#6226 FirebaseInstallations: use ephemeral NSURLSession to prevent caching of request/response
  FirebaseInstallations/CHANGELOG.md
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
Labels: api: installations, cla: yes

#6227 Revert "GULKeychainStorage: use dictionary instead of NSCache"
  GoogleUtilities/CHANGELOG.md
  GoogleUtilities/Environment/SecureStorage/GULKeychainStorage.m
  GoogleUtilities/Tests/Unit/Environment/GULKeychainStorageTests.m
Labels: GoogleUtilities, cla: yes

#6228 Enable check_imports presubmit for FDL
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking+Private.h
  FirebaseDynamicLinks/Sources/GINInvocation/GINArgument.m
  scripts/check_imports.swift
Labels: api: dynamiclinks, cla: yes

#6230 FIS backoff adjustments and tests
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsBackoffController.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsBackoffControllerTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIDControllerTests.m
Labels: api: installations, cla: yes

#6234 FIS 1.6.0 changelog
  FirebaseInstallations/CHANGELOG.md
Labels: cla: yes

#6229 Update swiftformat and control its version via mint
  .github/workflows/check.yml
  .github/workflows/firestore.yml
  FirebaseMessaging/Tests/IntegrationTests/FIRMessagingTokenRefreshTests.swift
  Firestore/third_party/FirestoreEncoder/FirestoreDecoder.swift
  Mintfile
  README.md
  scripts/check_imports.swift
  scripts/setup_check.sh
  scripts/style.sh
Labels: api: firestore, api: messaging, cla: yes

#6239 Update and apply swiftformat fix
  Firestore/Swift/Source/Codable/CollectionReference+WriteEncodable.swift
  Firestore/third_party/FirestoreEncoder/FirestoreDecoder.swift
  Mintfile
  README.md
  scripts/style.sh
Labels: api: firestore, cla: yes

#6232 FirebaseInstallations: API requests backoff
  FirebaseInstallations/CHANGELOG.md
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsErrorUtil.h
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsErrorUtil.m
  FirebaseInstallations/Source/Library/Errors/FIRInstallationsHTTPError.h
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRCurrentDateProvider.h
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRCurrentDateProvider.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsBackoffController.h
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsBackoffController.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsBackoffControllerTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIDControllerTests.m
  FirebaseInstallations/Source/Tests/Utils/FIRTestCurrentDateProvider.h
  FirebaseInstallations/Source/Tests/Utils/FIRTestCurrentDateProvider.m
Labels: api: installations, cla: yes

#6233 Add SPM support for CoreDiagnostics
  Example/CoreDiagnostics/Tests/FIRCoreDiagnosticsTest.m
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  FirebaseCoreDiagnostics.podspec
  Package.swift
Labels: api: core, cla: yes

#6244 Add SPM to issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: cla: yes

#6243 Use nanopb repo instead of personal fork
  Package.swift
Labels: cla: yes

#6246 GDTCORClock: use NSTimeZone to get a timezone with respect of daylight
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCORLibrary/GDTCORClock.m
  GoogleDataTransport/GDTCORTests/Unit/GDTCORClockTest.m
Labels: GoogleDataTransport, cla: yes

#6247 Remove the extension that makes NSDate ServerTimestampWrappable.
  Firestore/Swift/CHANGELOG.md
  Firestore/Swift/Source/Codable/ServerTimestamp.swift
  Firestore/Swift/Tests/Codable/FirestoreEncoderTests.swift
Labels: api: firestore, cla: yes

#6248 Fix minimum Swift version for FirebaseFirestoreSwift
  FirebaseFirestoreSwift.podspec
  Firestore/Swift/CHANGELOG.md
Labels: api: firestore, cla: yes

#6245 SPM - DynamicLinks
  FirebaseDynamicLinks.podspec
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FDLURLComponents/FDLURLComponents+Private.h
  FirebaseDynamicLinks/Sources/FDLURLComponents/FDLURLComponents.m
  FirebaseDynamicLinks/Sources/FDLURLComponents/FIRDynamicLinkComponentsKeyProvider.m
  FirebaseDynamicLinks/Sources/FIRDLDefaultRetrievalProcessV2.m
  FirebaseDynamicLinks/Sources/FIRDLJavaScriptExecutor.m
  FirebaseDynamicLinks/Sources/FIRDLRetrievalProcessFactory.m
  FirebaseDynamicLinks/Sources/FIRDLRetrievalProcessResult.m
  FirebaseDynamicLinks/Sources/FIRDLScionLogging.m
  FirebaseDynamicLinks/Sources/FIRDynamicLink+Private.h
  FirebaseDynamicLinks/Sources/FIRDynamicLink.m
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.h
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.m
  FirebaseDynamicLinks/Sources/FIRDynamicLinks+FirstParty.h
  FirebaseDynamicLinks/Sources/FIRDynamicLinks+Private.h
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Sources/Logging/FDLLogging.m
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FDLURLComponents.h
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FIRDynamicLink.h
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FIRDynamicLinks.h
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FIRDynamicLinksCommon.h
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FirebaseDynamicLinks.h
  FirebaseDynamicLinks/Sources/Utilities/FDLUtilities.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksImportsTest3P.m
  Package.swift
  SwiftPMTests/objc-import-test/objc-header.m
  SwiftPMTests/objc-import-test/objc-module.m
  SwiftPMTests/swift-test/main.swift
Labels: api: dynamiclinks, cla: yes, public-api-change

#6250 Update version of App Distribution from 0.0.1 to 0.9.0
  FirebaseAppDistribution.podspec
  FirebaseAppDistribution/CHANGELOG.md
Labels: cla: yes

#6252 Update versions for Release 6.30.0
  Firebase.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFunctions.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  GoogleUtilities.podspec
  Releases/Manifests/6.30.0.json
Labels: api: auth, cla: yes

#6253 Switch from personal to Firebase forks
  Package.swift
Labels: cla: yes

#6256 Restore ML pods in symbol collision tests
  SymbolCollisionTest/Podfile
Labels: cla: yes

#6249 Add conditional conformance to Hashable to Firestore property wrapper types
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Swift/CHANGELOG.md
  Firestore/Swift/Source/Codable/DocumentID.swift
  Firestore/Swift/Source/Codable/ExplicitNull.swift
  Firestore/Swift/Source/Codable/ServerTimestamp.swift
  Firestore/Swift/Tests/Codable/CodableGeoPointTests.swift
  Firestore/Swift/Tests/Codable/ConditionalConformanceTests.swift
Labels: api: firestore, cla: yes

#6255 [App Distribution] Show new build alert when version (or build) changes
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistribution/Tests/Unit/FIRAppDistributionTests.m
Labels: cla: yes

#6127 Update Dangerfile, Firebase.h, and Firebase.podspec for launch readiness
  CoreOnly/Sources/Firebase.h
  CoreOnly/Tests/FirebasePodTest/Podfile
  Dangerfile
  Firebase.podspec
  FirebaseAppDistribution.podspec
  ZipBuilder/Sources/ZipBuilder/FirebasePods.swift
Labels: api: appdistribution, api: core, cla: yes, zip-builder

#6260 watchOS support for FirebaseAuth.
  .github/workflows/auth.yml
  FirebaseAuth.podspec
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactor+Internal.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRGameCenterAuthProvider.h
  FirebaseAuth/Sources/SystemService/FIRAuthAPNSTokenManager.h
  FirebaseAuth/Sources/SystemService/FIRAuthAPNSTokenManager.m
  FirebaseAuth/Sources/SystemService/FIRAuthAppCredentialManager.m
  FirebaseAuth/Sources/SystemService/FIRAuthNotificationManager.h
  FirebaseAuth/Sources/SystemService/FIRAuthNotificationManager.m
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.h
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.m
  FirebaseAuth/Sources/Utilities/FIRAuthDefaultUIDelegate.h
  FirebaseAuth/Sources/Utilities/FIRAuthDefaultUIDelegate.m
  README.md
Labels: api: auth, cla: yes, public-api-change, watchOS

#6261 Run swiftformat via mint run
  .gitignore
  README.md
  scripts/setup_check.sh
  scripts/style.sh
Labels: cla: yes

#6254 Create an additional URL target for internal use
  GoogleDataTransport/GDTCCTLibrary/GDTCCTUploader.m
  GoogleDataTransport/GDTCCTTests/Unit/GDTCCTUploaderTest.m
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/Public/GoogleDataTransport/GDTCORTargets.h
  GoogleDataTransport/README.md
Labels: GoogleDataTransport, cla: yes, public-api-change

#6263 Skip pod lib lint tests now that watchos is coming
  .travis.yml
Labels: api: crashlytics, cla: yes

#6270 Fix clang-tidy
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
Labels: cla: yes

#6262 Crashlytics watchOS support
  .github/workflows/crashlytics.yml
  Crashlytics/Crashlytics/Components/FIRCLSApplication.m
  Crashlytics/Crashlytics/Components/FIRCLSProcess.c
  Crashlytics/generate_project.sh
  FirebaseCrashlytics.podspec
Labels: api: crashlytics, cla: yes, watchOS

#6274 GDT: revert cc_scub annotations
  GoogleDataTransport/GDTCCTLibrary/GDTCCTUploader.m
  GoogleDataTransport/GDTCCTTests/Unit/GDTCCTUploaderTest.m
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/Public/GoogleDataTransport/GDTCORTargets.h
Labels: GoogleDataTransport, cla: yes, public-api-change

#6271 Add distributed SPM CI builds and tests
  .github/workflows/abtesting.yml
  .github/workflows/auth.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/installations.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/spm.yml
  .github/workflows/storage.yml
  .swiftpm/xcode/xcshareddata/xcschemes/ABTestingUnit.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/AuthUnit.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/CoreUnit.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/DatabaseUnit.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/Firebase-Package.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/Firebase.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseAuth.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseCore.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseCrashlytics.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseFunctions.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseInstallations.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseStorage.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseStorageSwift.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/RemoteConfigUnit.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/StorageUnit.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/objc-import-test.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/swift-test.xcscheme
Labels: cla: yes

#6273 Unit tests don't run for watchOS
  .github/workflows/crashlytics.yml
  .travis.yml
  FirebaseCrashlytics.podspec
Labels: api: crashlytics, cla: yes

#6264 Make the language reported via headers configurable
  Firestore/Source/API/FIRFirestore.mm
  Firestore/core/src/api/firestore.cc
  Firestore/core/src/api/firestore.h
  Firestore/core/src/remote/grpc_connection.cc
  Firestore/core/src/remote/grpc_connection.h
  scripts/style.sh
Labels: api: firestore, cla: yes

#6214 Update nanopb py3 0.3.9.5 -> 0.3.9.6
  Crashlytics/ProtoSupport/generate_crashlytics_protos.sh
  Crashlytics/Protogen/nanopb/crashlytics.nanopb.c
  Crashlytics/Protogen/nanopb/crashlytics.nanopb.h
  Firebase/CoreDiagnostics/FIRCDLibrary/Protogen/nanopb/firebasecore.nanopb.c
  Firebase/CoreDiagnostics/FIRCDLibrary/Protogen/nanopb/firebasecore.nanopb.h
  Firebase/CoreDiagnostics/ProtoSupport/generate_nanopb_protos.sh
  FirebaseCore/CHANGELOG.md
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseFirestore.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessaging/Analytics/Protogen/nanopb/fiam.nanopb.c
  FirebaseInAppMessaging/Analytics/Protogen/nanopb/fiam.nanopb.h
  FirebaseInAppMessaging/ProtoSupport/generate_nanopb_protos.sh
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.cc
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.h
  Firestore/Protos/nanopb/firestore/local/mutation.nanopb.cc
  Firestore/Protos/nanopb/firestore/local/mutation.nanopb.h
  Firestore/Protos/nanopb/firestore/local/target.nanopb.cc
  Firestore/Protos/nanopb/firestore/local/target.nanopb.h
  Firestore/Protos/nanopb/google/api/annotations.nanopb.cc
  Firestore/Protos/nanopb/google/api/annotations.nanopb.h
  Firestore/Protos/nanopb/google/api/http.nanopb.cc
  Firestore/Protos/nanopb/google/api/http.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/common.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/common.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/document.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/document.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/any.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/any.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/empty.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/empty.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/timestamp.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/timestamp.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/wrappers.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/wrappers.nanopb.h
  Firestore/Protos/nanopb/google/rpc/status.nanopb.cc
  Firestore/Protos/nanopb/google/rpc/status.nanopb.h
  Firestore/Protos/nanopb/google/type/latlng.nanopb.cc
  Firestore/Protos/nanopb/google/type/latlng.nanopb.h
  GoogleDataTransport.podspec
  GoogleDataTransport/GDTCCTLibrary/Protogen/nanopb/cct.nanopb.c
  GoogleDataTransport/GDTCCTLibrary/Protogen/nanopb/cct.nanopb.h
  GoogleDataTransport/GDTWatchOSTestApp/Podfile
  GoogleDataTransport/ProtoSupport/generate_cct_protos.sh
  cmake/external/nanopb.cmake
Labels: GoogleDataTransport, api: core, api: crashlytics, api: firestore, api: inappmessaging, cla: yes

#6282 [App Distribution] Add isExpired to FIRAppDistributionRelease
  FirebaseAppDistribution/Sources/FIRAppDistributionRelease.m
  FirebaseAppDistribution/Sources/Public/FIRAppDistributionRelease.h
Labels: api: appdistribution, cla: yes, public-api-change

#6278 Messaging - no typedefs in public APIs
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/Public/FIRMessaging.h
Labels: api: messaging, cla: yes, public-api-change

#6212 Remove FIRCLSURLSession
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Controllers/FIRCLSNetworkClient.m
  Crashlytics/Crashlytics/FIRCLSURLSession/FIRCLSURLSession.h
  Crashlytics/Crashlytics/FIRCLSURLSession/FIRCLSURLSession.m
  Crashlytics/Crashlytics/FIRCLSURLSession/FIRCLSURLSessionAvailability.h
  Crashlytics/Crashlytics/FIRCLSURLSession/FIRCLSURLSessionConfiguration.h
  Crashlytics/Crashlytics/FIRCLSURLSession/FIRCLSURLSessionConfiguration.m
  Crashlytics/Crashlytics/FIRCLSURLSession/FIRCLSURLSession_PrivateMethods.h
  Crashlytics/Crashlytics/FIRCLSURLSession/Tasks/FIRCLSURLSessionDataTask.h
  Crashlytics/Crashlytics/FIRCLSURLSession/Tasks/FIRCLSURLSessionDataTask.m
  Crashlytics/Crashlytics/FIRCLSURLSession/Tasks/FIRCLSURLSessionDataTask_PrivateMethods.h
  Crashlytics/Crashlytics/FIRCLSURLSession/Tasks/FIRCLSURLSessionDownloadTask.h
  Crashlytics/Crashlytics/FIRCLSURLSession/Tasks/FIRCLSURLSessionDownloadTask.m
  Crashlytics/Crashlytics/FIRCLSURLSession/Tasks/FIRCLSURLSessionDownloadTask_PrivateMethods.h
  Crashlytics/Crashlytics/FIRCLSURLSession/Tasks/FIRCLSURLSessionTask.h
  Crashlytics/Crashlytics/FIRCLSURLSession/Tasks/FIRCLSURLSessionTask.m
  Crashlytics/Crashlytics/FIRCLSURLSession/Tasks/FIRCLSURLSessionTask_PrivateMethods.h
  Crashlytics/Crashlytics/FIRCLSURLSession/Tasks/FIRCLSURLSessionUploadTask.h
  Crashlytics/Crashlytics/FIRCLSURLSession/Tasks/FIRCLSURLSessionUploadTask.m
  Crashlytics/Shared/FIRCLSNetworking/FIRCLSFABNetworkClient.m
  Crashlytics/UnitTests/FIRCLSURLSessionTests.m
Labels: api: crashlytics, cla: yes

#6142 Add multi tenant support
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Backend/FIRIdentityToolkitRequest.h
  FirebaseAuth/Sources/Backend/FIRIdentityToolkitRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRCreateAuthURIRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRGetOOBConfirmationCodeRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRResetPasswordRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRSendVerificationCodeRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRSetAccountInfoRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRVerifyAssertionRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRVerifyCustomTokenRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRVerifyPasswordRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRVerifyPhoneNumberRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/Enroll/FIRFinalizeMFAEnrollmentRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/Enroll/FIRStartMFAEnrollmentRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/SignIn/FIRFinalizeMFASignInRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/SignIn/FIRStartMFASignInRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/Unenroll/FIRWithdrawMFARequest.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthErrors.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.m
  FirebaseAuth/Sources/Utilities/FIRAuthInternalErrors.h
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
Labels: api: auth, cla: yes, public-api-change

#6291 Get GoogleUtilitiesComponents from HEAD in symbol collision test
  SymbolCollisionTest/Podfile
Labels: cla: yes

#6292 M78 Changelogs - SwiftPM and watchOS updates
  Crashlytics/CHANGELOG.md
  Firebase/CoreDiagnostics/CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
  FirebaseCore.podspec
  FirebaseCore/CHANGELOG.md
  FirebaseCoreDiagnostics.podspec
  FirebaseInstallations/CHANGELOG.md
Labels: api: auth, api: core, api: crashlytics, cla: yes

#6265 Fix occasional NSURLSessionTask creation crash
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Controllers/FIRCLSNetworkClient.m
Labels: api: crashlytics, cla: yes

#6293 AppDistribution is only available for iOS
  Firebase.podspec
Labels: cla: yes

#6283 Auth - no typedefs in public APIs
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRFederatedAuthProvider.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRGameCenterAuthProvider.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactor.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRPhoneAuthProvider.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
Labels: api: auth, cla: yes, public-api-change

#6294 Delete redundant unused files
  FirebaseInAppMessaging/Analytics/Protogen/nanopb/fiam.nanopb.c
  FirebaseInAppMessaging/Analytics/Protogen/nanopb/fiam.nanopb.h
  FirebaseInAppMessaging/Sources/Analytics/Protogen/nanopb/fiam.nanopb.c
  FirebaseInAppMessaging/Sources/Analytics/Protogen/nanopb/fiam.nanopb.h
Labels: api: inappmessaging, cla: yes

#6286 Update InstanceID to listen to a notification from Messaging
  Firebase/InstanceID/CHANGELOG.md
  Firebase/InstanceID/FIRInstanceID.m
  Firebase/InstanceID/FIRInstanceIDAuthKeyChain.h
  Firebase/InstanceID/FIRInstanceIDAuthKeyChain.m
  Firebase/InstanceID/FIRInstanceIDConstants.h
  Firebase/InstanceID/FIRInstanceIDConstants.m
  Firebase/InstanceID/FIRInstanceIDStore.h
  Firebase/InstanceID/FIRInstanceIDStore.m
  Firebase/InstanceID/FIRInstanceIDTokenManager.h
  Firebase/InstanceID/FIRInstanceIDTokenManager.m
  Firebase/InstanceID/FIRInstanceIDTokenStore.h
  Firebase/InstanceID/FIRInstanceIDTokenStore.m
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
  FirebaseMessaging/CHANGELOG.md
Labels: api: instanceid, api: messaging, cla: yes

#6297 Update abseil for SwiftUI preview build fix
  Package.swift
Labels: Swift Package Manager, api: firestore, cla: yes

#6299 Update CHANGELOG for Firestore v1.17.0
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#6296 Delete references to on-device APIs
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
Labels: api: core, cla: yes

#6302 Fix rendering of link in M78
  FirebaseAuth/CHANGELOG.md
  FirebaseCore/CHANGELOG.md
Labels: api: core, cla: yes

#6303 Fix cron build failure
  FirebaseRemoteConfig/Tests/Sample/Podfile
Labels: api: remoteconfig, cla: yes

#6305 Fix FirebasePods link
  AddNewPod.md
Labels: cla: yes

#6307 Add App Distribution to all integration test environments
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_6_1_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_6_1_staticLibs/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_multiprojects_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_multiprojects_staticLibs/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods1_7_0_staticLibs/Podfile
Labels: cla: yes

#6285 Add both IID and FCM APIs in test app to test compatibility
  FirebaseMessaging/Apps/Sample/Sample/ContentView.swift
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/Token/FIRMessagingAuthKeyChain.h
  FirebaseMessaging/Sources/Token/FIRMessagingAuthKeyChain.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenManager.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenManager.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenStore.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenStore.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingClientTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingDataMessageManagerTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingPendingTopicsListTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingPubSubTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingServiceTest.m
Labels: api: messaging, cla: yes

#6310 Restore master version of oss-manifest-generator
  ZipBuilder/Sources/oss-manifest-generator/main.swift
Labels: cla: yes, zip-builder

#6309 Update SPM Analytics for 6.31.0
  Package.swift
Labels: cla: yes

#6314 Remove out of date comment
  FirebaseStorage.podspec
Labels: cla: yes

#6323 Delete done TODO
  .github/workflows/spm.yml
Labels: cla: yes

#6321 Update doc comments for release
  FirebaseAppDistribution/CHANGELOG.md
  FirebaseAppDistribution/Sources/Public/FIRAppDistribution.h
  FirebaseAppDistribution/Sources/Public/FIRAppDistributionRelease.h
Labels: api: appdistribution, cla: yes, public-api-change

#6325 Add appdistro to docsgen script
  scripts/make_release_notes.py
Labels: cla: yes

#6312 SPM beta docs
  SwiftPackageManager.md
  docs/resources/SPMAddPackage.png
  docs/resources/SPMChoose.png
  docs/resources/SPMObjC.png
  docs/resources/SPMProducts.png
  docs/resources/SPMSelect.png
Labels: Swift Package Manager, cla: yes

#6329 Made public a method to create a stack frame from address.
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/FIRStackFrame.m
  Crashlytics/Crashlytics/Public/FirebaseCrashlytics/FIRStackFrame.h
Labels: api: crashlytics, cla: yes, public-api-change

#6330 GDTCORClockTest: decrease expected timestamp accuracy to fix test flakes
  GoogleDataTransport/GDTCORTests/Unit/GDTCORClockTest.m
Labels: GoogleDataTransport, cla: yes

#6319 Add AppDistribution to Carthage documentation.
  Carthage.md
Labels: cla: yes

#6331 Merging the 6.31.0 release into master
  Firebase.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCrashlytics.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  GoogleDataTransport.podspec
  Package.swift
  Releases/Manifests/6.31.0.json
Labels: api: auth, cla: yes

#6333 Add a tool to update podspec repo
  scripts/create_spec_repo/Package.swift
  scripts/create_spec_repo/Sources/SpecRepoBuilder/main.swift
Labels: cla: yes

#6337 Require at least 7.64 for AdMob
  Firebase.podspec
Labels: cla: yes

#6332 Infer Database URL from project ID
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Api/FIRDatabase.m
  FirebaseDatabase/Tests/Helpers/FIRFakeApp.h
  FirebaseDatabase/Tests/Helpers/FIRFakeApp.m
  FirebaseDatabase/Tests/Integration/FIRDatabaseTests.m
Labels: api: database, cla: yes

#6346 App distribution add bundle header
  FirebaseAppDistribution/CHANGELOG.md
  FirebaseAppDistribution/Sources/FIRFADApiService.m
Labels: api: appdistribution, cla: yes

#6347 Clean up change log.
  FirebaseAppDistribution/CHANGELOG.md
Labels: api: appdistribution, cla: yes

#6352 Bump the podspec version and changelog version for release patch
  FirebaseAppDistribution.podspec
  FirebaseAppDistribution/CHANGELOG.md
Labels: cla: yes

#6353 App distribution patch for restricted api keys
  FirebaseAppDistribution.podspec
  FirebaseAppDistribution/CHANGELOG.md
  FirebaseAppDistribution/Sources/FIRFADApiService.m
Labels: api: appdistribution, cla: yes

#6338 Archive testing on GHA
  .github/workflows/abtesting.yml
  .github/workflows/appdistribution.yml
  .github/workflows/auth.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/datatransport.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/instanceid.yml
  .github/workflows/messaging.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/storage.yml
  scripts/test_archiving.sh
Labels: cla: yes

#6354 Fix documentation warning surfaced in Xcode from grpc
  Firestore/core/src/remote/grpc_connection.cc
Labels: api: firestore, cla: yes

#6355 Avoid forcing a breaking AdMob change
  Firebase.podspec
Labels: cla: yes

#6363 chore: fix minor code doc typos
  Crashlytics/Crashlytics/Public/FirebaseCrashlytics/FIRCrashlytics.h
Labels: cla: yes

#6364 Update changelog for #6363
  Crashlytics/CHANGELOG.md
Labels: api: crashlytics, cla: yes

#6367 Restore Firebase.h to pre-6.28.0 style
  CoreOnly/Sources/Firebase.h
  FirebaseCore/CHANGELOG.md
Labels: api: core, cla: yes

#6366 Fix bitcode generation for Swift frameworks
  ZipBuilder/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: cla: yes, zip-builder

#6335 Update release workflow to update spec repo.
  .github/workflows/release.yml
  ZipBuilder/Sources/firebase-pod-updater/main.swift
  scripts/create_spec_repo/firebase_sdk.textproto
  scripts/release_testing_setup.sh
  scripts/remove_data.sh
  scripts/setup_quickstart.sh
Labels: cla: yes, zip-builder

#6372 Fix internal source documentation
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/AuthProvider/GameCenter/FIRGameCenterAuthCredential.h
Labels: api: auth, cla: yes

#6368 Prepare for 6.31.1
  CoreOnly/Sources/Firebase.h
  Firebase.podspec
  FirebaseCore/CHANGELOG.md
Labels: api: core, cla: yes

#6376 Merge 6.31.1
  Firebase.podspec
  FirebaseCore/CHANGELOG.md
Labels: api: core, cla: yes

#6378 Make Firebase and FirebaseCore implicit for SPM
  FirebaseCore/CHANGELOG.md
  Package.swift
  SwiftPackageManager.md
  docs/resources/SPMProducts.png
Labels: Swift Package Manager, api: core, cla: yes
