Repository firebase/firebase-ios-sdk, pull requests merged in 2020-11, with the labels that each got.

#6875 Restore GoogleMLKit to SymbolCollision testing
  SymbolCollisionTest/Podfile
Labels: cla: yes

#6871 Allow null/NAN values in filters
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/core/src/api/query_core.cc
  Firestore/core/src/core/field_filter.cc
Labels: api: firestore, cla: yes

#6885 Back to a released version of pod gen
  Gemfile
  Gemfile.lock
Labels: cla: yes

#6818 Include QueryTarget proto in error messages when serialization fails
  Firestore/CHANGELOG.md
  Firestore/core/src/local/leveldb_target_cache.cc
  Firestore/core/src/model/field_path.cc
  Firestore/core/src/model/field_path.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/src/remote/serializer.h
  Firestore/core/test/unit/local/local_serializer_test.cc
  Firestore/core/test/unit/model/field_mask_test.cc
  Firestore/core/test/unit/model/field_path_test.cc
  Firestore/core/test/unit/model/no_document_test.cc
  Firestore/core/test/unit/testutil/testutil.cc
Labels: api: firestore, cla: yes

#6895 Remove unnecessary some keywords from Package.swift
  Package.swift
Labels: cla: yes

#6898 Update podspec for Performance 7.0.1 patch
  FirebasePerformance.podspec.json
Labels: cla: yes

#6899 Update podspec for Performance 7.0.1 patch (master cherry-pick)
  FirebasePerformance.podspec.json
Labels: cla: yes

#6904 Remove deprecated test script
  test.sh
Labels: cla: yes

#6905 Update clang-format to 11
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  FirebaseDynamicLinks/Sources/Logging/FDLLogging.m
  Firestore/core/test/unit/util/ordered_code_test.cc
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  README.md
  scripts/setup_check.sh
  scripts/style.sh
Labels: GoogleDataTransport, api: core, api: dynamiclinks, api: firestore, cla: yes

#6910 Crashlytics build fix
  Crashlytics/Shared/FIRCLSConstants.m
  FirebaseCrashlytics.podspec
Labels: api: crashlytics, cla: yes

#6863 FCM: Fix crash on iOS 14 when multiple app delegate completion methods are called
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseMessaging/Sources/FIRMessagingRemoteNotificationsProxy.m
  GoogleUtilities/AppDelegateSwizzler/GULAppDelegateSwizzler.m
  GoogleUtilities/Tests/Unit/Swizzler/GULAppDelegateSwizzlerTest.m
Labels: api: messaging, cla: yes

#6912 Fix infinite loop exposed in integration tests
  FirebaseDatabase/Sources/Core/FRepoInfo.m
Labels: api: database, cla: yes

#6913 Update Changelogs for 7.1.0
  Crashlytics/CHANGELOG.md
  FirebaseMessaging/CHANGELOG.md
  Firestore/CHANGELOG.md
  GoogleDataTransport/CHANGELOG.md
Labels: GoogleDataTransport, api: crashlytics, api: firestore, api: messaging, cla: yes

#6914 Fix RTDB test build warnings
  FirebaseDatabase/Tests/Helpers/FIRFakeApp.h
Labels: api: database, cla: yes

#5916 Implement unified emulator settings API proposal
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Api/FIRDatabase.m
  FirebaseDatabase/Sources/Api/FIRDatabaseComponent.m
  FirebaseDatabase/Sources/Core/FRepoInfo.h
  FirebaseDatabase/Sources/Core/FRepoInfo.m
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabase.h
  FirebaseDatabase/Tests/Integration/FIRDatabaseTests.m
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/API/FIRFirestoreTests.mm
  Firestore/Source/API/FIRFirestore.mm
  Firestore/Source/API/FIRFirestoreSettings+Internal.h
  Firestore/Source/API/FIRFirestoreSettings.mm
  Firestore/Source/Public/FirebaseFirestore/FIRFirestore.h
  Functions/CHANGELOG.md
  Functions/Example/Tests/FIRFunctionsTests.m
  Functions/FirebaseFunctions/FIRFunctions.m
  Functions/FirebaseFunctions/Public/FirebaseFunctions/FIRFunctions.h
Labels: api: database, api: firestore, api: functions, cla: yes, public-api-change

#6917 Release 7.1.0 cherry picks
  Crashlytics/CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessagingRemoteNotificationsProxy.m
  Firestore/CHANGELOG.md
  GoogleDataTransport/CHANGELOG.md
  GoogleUtilities/AppDelegateSwizzler/GULAppDelegateSwizzler.m
  GoogleUtilities/CHANGELOG.md
  GoogleUtilities/Tests/Unit/Swizzler/GULAppDelegateSwizzlerTest.m
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: GoogleDataTransport, GoogleUtilities, api: auth, api: crashlytics, api: firestore, api: messaging, cla: yes, release-tooling

#6919 FIRApp optimize config time
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Sources/FIRFirebaseUserAgent.m
  FirebaseCore/Tests/Unit/FIRAppTest.m
Labels: api: core, cla: yes

#6933 7.1.0 SPM Analytics
  Package.swift
Labels: cla: yes

#6935 Update Auth changelog
  FirebaseAuth/CHANGELOG.md
Labels: api: auth, cla: yes

#6920 Move zip-builder to ArgumentParser.
  ReleaseTooling/Package.swift
  ReleaseTooling/README.md
  ReleaseTooling/Sources/ZipBuilder/CarthageUtils.swift
  ReleaseTooling/Sources/ZipBuilder/CocoaPodUtils.swift
  ReleaseTooling/Sources/ZipBuilder/FirebaseBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/LaunchArgs.swift
  ReleaseTooling/Sources/ZipBuilder/ModuleMapBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/main.swift
  ReleaseTooling/ZipBuilderV2Plan.md
  ReleaseTooling/ZipBuilderV3Plan.md
  scripts/build_zip.sh
Labels: cla: yes, release-tooling

#6943 Carthage update 7.1.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelInterpreterBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLVisionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseProtobufBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: auth, cla: yes, release-tooling

#6945 replace set-env with github env file workflow
  scripts/generate_access_token.sh
Labels: cla: yes

#6947 Segmentation tvOS, macOS, and CI
  .github/workflows/segmentation.yml
  FirebaseSegmentation.podspec
Labels: cla: yes

#6944 Merge release 7.1.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuth/CHANGELOG.md
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMLCommon.podspec.json
  FirebaseMLModelInterpreter.podspec.json
  FirebaseMLVision.podspec.json
  FirebaseMessaging.podspec
  FirebaseMessaging/CHANGELOG.md
  FirebasePerformance.podspec.json
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  GoogleDataTransport.podspec
  GoogleUtilities.podspec
  GoogleUtilities/CHANGELOG.md
  Package.swift
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelInterpreterBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLVisionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseProtobufBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: GoogleUtilities, api: auth, api: messaging, cla: yes, release-tooling

#6954 Fix arguments for new zip build args
  scripts/build_non_firebase_sdks.sh
Labels: cla: yes

#6955 Revert changes in Crashlytics version - as it's causing an issue with the version associated with the crash upload
  Crashlytics/Crashlytics/Components/FIRCLSContext.m
  Crashlytics/Crashlytics/Controllers/FIRCLSReportUploader.m
  Crashlytics/Crashlytics/DataCollection/FIRCLSDataCollectionArbiter.m
  Crashlytics/Crashlytics/FIRCrashlytics.m
  Crashlytics/Crashlytics/Helpers/FIRCLSDefines.h
  Crashlytics/Crashlytics/Models/FIRCLSSettings.m
  Crashlytics/Crashlytics/Settings/FIRCLSSettingsOnboardingManager.m
  Crashlytics/Crashlytics/Settings/Operations/FIRCLSDownloadAndSaveSettingsOperation.m
  Crashlytics/Crashlytics/Settings/Operations/FIRCLSNetworkOperation.m
  Crashlytics/Shared/FIRCLSConstants.h
  Crashlytics/Shared/FIRCLSConstants.m
  Crashlytics/UnitTests/FIRCLSDataCollectionArbiterTest.m
  Crashlytics/UnitTests/FIRCLSSettingsTests.m
  FirebaseCrashlytics.podspec
Labels: api: crashlytics, cla: yes

#6897 GDT: test app fixes
  GoogleDataTransport.podspec
  GoogleDataTransport/GDTTestApp/Bridging-Header.h
Labels: cla: yes

#6957 Rename CRASHLYTICS_INTERNAL to CRASHLYTICS_1P
  Crashlytics/Crashlytics/DataCollection/FIRCLSDataCollectionArbiter.m
  Crashlytics/Crashlytics/Models/FIRCLSSettings.m
  Crashlytics/UnitTests/FIRCLSDataCollectionArbiterTest.m
  Crashlytics/UnitTests/FIRCLSSettingsTests.m
Labels: api: crashlytics, cla: yes

#6958 Bring back the changes of reading the version from FIRCore with fixes + unit test.
  Crashlytics/Crashlytics/Components/FIRCLSContext.m
  Crashlytics/Crashlytics/Controllers/FIRCLSReportUploader.m
  Crashlytics/Crashlytics/FIRCrashlytics.m
  Crashlytics/Crashlytics/Helpers/FIRCLSDefines.h
  Crashlytics/Crashlytics/Settings/FIRCLSSettingsOnboardingManager.m
  Crashlytics/Crashlytics/Settings/Operations/FIRCLSDownloadAndSaveSettingsOperation.m
  Crashlytics/Crashlytics/Settings/Operations/FIRCLSNetworkOperation.m
  Crashlytics/Shared/FIRCLSConstants.h
  Crashlytics/Shared/FIRCLSConstants.m
  Crashlytics/UnitTests/FIRCLSConstantsTest.m
  FirebaseCrashlytics.podspec
Labels: api: crashlytics, cla: yes

#6949 Update sample app for Firebase 7 and add build test to CI
  .github/workflows/segmentation.yml
  FirebaseSegmentation/Tests/Sample/Podfile
  FirebaseSegmentation/Tests/Sample/SegmentationSampleApp.xcodeproj/project.pbxproj
  scripts/build.sh
  scripts/install_prereqs.sh
Labels: api: segmentation, cla: yes

#6964 ZipBuilder Spelling Fix
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/main.swift
Labels: cla: yes, release-tooling

#6907 User defaults
  .github/workflows/mlmodeldownloader.yml
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseMLModelDownloaderUnit.xcscheme
  FirebaseMLModelDownloader.podspec
  FirebaseMLModelDownloader/Sources/CustomModel.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadConditions.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Sources/UserDefaultsBacked.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderTests.swift
  Package.swift
Labels: cla: yes

#6982 Fix Package.swift
  FirebaseMLModelDownloader/Sources/UserDefaultsBacked.swift
  Package.swift
Labels: cla: yes

#6987 Fix unrecognized selector for isiOSAppOnMac on early iOS 14 betas
  GoogleUtilities.podspec
  GoogleUtilities/CHANGELOG.md
  GoogleUtilities/Environment/third_party/GULAppEnvironmentUtil.m
Labels: GoogleUtilities, cla: yes

#6986 Disable build dependencies.
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/main.swift
  scripts/build_non_firebase_sdks.sh
Labels: cla: yes, release-tooling

#6950 Add arm64 simulator slice to binary builds.
  ReleaseTooling/Sources/ZipBuilder/CocoaPodUtils.swift
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/main.swift
Labels: cla: yes, release-tooling

#6992 Add Fetch button to Swift app.
  FirebaseRemoteConfig/Tests/SwiftSample/RemoteConfigSwiftSample/ContentView.swift
Labels: api: remoteconfig, cla: yes

#6994 Fix documentation typos in FIROAuthProvider.
  FirebaseAuth/Sources/Public/FirebaseAuth/FIROAuthProvider.h
Labels: api: auth, cla: yes, public-api-change

#6998 Update for M84 release.
  FirebaseCore/CHANGELOG.md
Labels: api: core, cla: yes

#7000 Changelog versions for 7.2.0
  FirebaseDatabase/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: database, api: firestore, cla: yes

#6993 Download model info
  FirebaseMLModelDownloader/Sources/ModelInfo.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderTests.swift
Labels: cla: yes

#7001 Move userDefaults property to ModelInfoRetriever
  FirebaseMLModelDownloader/Sources/ModelInfo.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderTests.swift
Labels: cla: yes

#7009 Update functions changelog
  Functions/CHANGELOG.md
Labels: api: functions, cla: yes

#7013 Move minimum zip requirement to Xcode 12.0
  ReleaseTooling/Template/README.md
Labels: cla: yes, release-tooling

#7017 Adjust check_imports.swift for test files
  scripts/check_imports.swift
Labels: cla: yes

#7014 GDT storage cleanup: optimizations for big amount of pending events
  GoogleDataTransport.podspec
  GoogleDataTransport/CHANGELOG.md
  GoogleDataTransport/GDTCORLibrary/GDTCORDirectorySizeTracker.m
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage.m
  GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
  GoogleDataTransport/GDTTestApp/Bridging-Header.h
  GoogleDataTransport/GDTTestApp/EventCleanupPerfTest.swift
  GoogleDataTransport/GDTTestApp/app.swift
  GoogleDataTransport/GDTTestApp/ios/Main.storyboard
  GoogleDataTransport/GDTTestApp/viewcontroller.swift
Labels: GoogleDataTransport, cla: yes

#7025 Swift pods don't need ---use-libraries.
  .github/workflows/mlmodeldownloader.yml
Labels: cla: yes

#7015 Add Nightly Report Generation.
  .github/actions/testing_report_generation/Dockerfile
  .github/actions/testing_report_generation/Gemfile
  .github/actions/testing_report_generation/Gemfile.lock
  .github/actions/testing_report_generation/action.yml
  .github/actions/testing_report_generation/app.rb
  .github/workflows/generate_issues.yml
Labels: cla: yes

#7030 Migrate GoogleUtilities CI to GHA
  .github/workflows/google-utilities.yml
  README.md
Labels: cla: yes

#7028 Migrate Functions CI to GHA
  .github/workflows/functions.yml
Labels: cla: yes

#7031 Migrate GoogleUtilitiesComponents CI to GHA
  .github/workflows/google-utilities-components.yml
  README.md
Labels: cla: yes

#7032 Use travis for Xcode 11 testing
  .travis.yml
Labels: cla: yes

#7033 Migrate CoreDiagnostics to gha
  .github/workflows/core-diagnostics.yml
  README.md
Labels: cla: yes

#7034 Migrate FIAM CI to GHA
  .github/workflows/inappmessaging.yml
  .travis.yml
Labels: cla: yes

#7036 Migrate CocoaPods integration tests to GHA
  .github/workflows/cocoapods-integration.yml
  README.md
Labels: cla: yes

#7038 Remove SimpleQueryEngine
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/core/src/core/firestore_client.cc
  Firestore/core/src/local/index_free_query_engine.h
  Firestore/core/src/local/query_engine.cc
  Firestore/core/src/local/query_engine.h
  Firestore/core/src/local/simple_query_engine.cc
  Firestore/core/src/local/simple_query_engine.h
  Firestore/core/test/unit/local/counting_query_engine.cc
  Firestore/core/test/unit/local/counting_query_engine.h
  Firestore/core/test/unit/local/leveldb_local_store_test.cc
  Firestore/core/test/unit/local/local_store_test.cc
  Firestore/core/test/unit/local/local_store_test.h
  Firestore/core/test/unit/local/memory_local_store_test.cc
  Firestore/core/test/unit/local/query_engine_test.cc
Labels: api: firestore, cla: yes

#7012 SPM Analytics 7.2.0
  Package.swift
Labels: cla: yes

#7044 Add arm64 slice for Catalyst builds.
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: cla: yes, release-tooling

#7035 Upload Symbols 3.5
  Crashlytics/CHANGELOG.md
  Crashlytics/upload-symbols
Labels: api: crashlytics, cla: yes

#7050 MacOS auth issue fix.
  FirebaseAuth/Sources/Utilities/FIRAuthURLPresenter.m
Labels: cla: yes

#7053 Crashlytics bump down to iOS 9 Deployment Target
  Crashlytics/CHANGELOG.md
  FirebaseCrashlytics.podspec
Labels: api: crashlytics, cla: yes

#7052 Removeonboarding2
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.m
  Crashlytics/Crashlytics/Models/FIRCLSSettings.h
  Crashlytics/Crashlytics/Models/FIRCLSSettings.m
  Crashlytics/Crashlytics/Settings/FIRCLSSettingsManager.h
  Crashlytics/Crashlytics/Settings/FIRCLSSettingsManager.m
  Crashlytics/Crashlytics/Settings/Operations/FIRCLSNetworkOperation.m
  Crashlytics/Crashlytics/Settings/Operations/FIRCLSOnboardingOperation.h
  Crashlytics/Crashlytics/Settings/Operations/FIRCLSOnboardingOperation.m
  Crashlytics/UnitTests/FIRCLSSettingsTests.m
Labels: api: crashlytics, cla: yes

#7054 Verify block is still alive before calling it in task callbacks
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/FIRStorageDeleteTask.m
  FirebaseStorage/Sources/FIRStorageDownloadTask.m
  FirebaseStorage/Sources/FIRStorageGetDownloadURLTask.m
  FirebaseStorage/Sources/FIRStorageGetMetadataTask.m
  FirebaseStorage/Sources/FIRStorageListTask.m
  FirebaseStorage/Sources/FIRStorageUpdateMetadataTask.m
  FirebaseStorage/Sources/FIRStorageUploadTask.m
Labels: api: storage, cla: yes

#7057 Added README about Apple silicon Macs
  AppleSilicon.md
  README.md
Labels: cla: yes

#7058 Fix links in Apple silicon docs.
  AppleSilicon.md
Labels: cla: yes

#7026 GC targets without deserializing Target model
  Firestore/CHANGELOG.md
  Firestore/core/src/local/leveldb_lru_reference_delegate.cc
  Firestore/core/src/local/leveldb_lru_reference_delegate.h
  Firestore/core/src/local/leveldb_target_cache.cc
  Firestore/core/src/local/leveldb_target_cache.h
  Firestore/core/src/local/lru_garbage_collector.cc
  Firestore/core/src/local/lru_garbage_collector.h
  Firestore/core/src/local/memory_lru_reference_delegate.cc
  Firestore/core/src/local/memory_lru_reference_delegate.h
  Firestore/core/src/local/memory_target_cache.cc
  Firestore/core/src/local/memory_target_cache.h
  Firestore/core/src/local/target_cache.h
  Firestore/core/test/unit/local/leveldb_target_cache_test.cc
  Firestore/core/test/unit/local/lru_garbage_collector_test.cc
  Firestore/core/test/unit/local/target_cache_test.cc
Labels: api: firestore, cla: yes

#7055 Disable issue generation for FirebasePrivate repo.
  .github/workflows/generate_issues.yml
Labels: cla: yes
