Repository firebase/firebase-ios-sdk, pull requests merged in 2021-10, with the labels that each got.

#8341 Prepare new package naming for Combine
  Example/CombineSample/CombineSample.xcodeproj/project.pbxproj
  Example/CombineSample/CombineSample/App/CombineSampleApp.swift
  Example/CombineSample/CombineSample/ViewModels/Authentication/AnonymousSignInViewModel.swift
  Example/CombineSample/CombineSample/ViewModels/Authentication/UserInfoViewModel.swift
  Example/CombineSample/CombineSample/Views/Authentication/AnonymousSignInView.swift
  FirebaseCombineSwift/CHANGELOG.md
  FirebaseCombineSwift/README.md
  Package.swift
  README.md
Labels: cla: yes

#8733 GoogleUtilities version changed in podspec to remove [NSKeyedUnarchiver validateAllowedClass:forKey:] warning #8636
  FirebaseAnalytics.podspec.json
  FirebaseAppCheck.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDynamicLinks.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  GoogleAppMeasurement.podspec.json
Labels: cla: yes

#8728 Force GoogleUtilities and GDT update for SPM
  FirebaseCore/CHANGELOG.md
  Package.swift
Labels: api: core, cla: yes

#8735 Merge 8.8.1 to master
  FirebaseCore/CHANGELOG.md
  Package.swift
Labels: api: core, cla: yes

#8736 Update GDT CocoaPods deps
  FirebaseAppDistribution.podspec
  FirebaseCore/CHANGELOG.md
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
Labels: api: core, api: messaging, cla: yes, api: performance, api: crashlytics, api: appdistribution

#8739 Update to clang-format@13
  .github/workflows/check.yml
  CONTRIBUTING.md
  Crashlytics/Shared/FIRCLSNetworking/FIRCLSFABNetworkClient.m
  FirebaseAppDistribution/Sources/FIRFADApiService.m
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/AuthProvider/GameCenter/FIRGameCenterAuthProvider.m
  FirebaseAuth/Sources/AuthProvider/Phone/FIRPhoneAuthProvider.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/SystemService/FIRSecureTokenService.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseCore/Sources/FIRApp.m
  FirebaseDatabase/Tests/Integration/FData.m
  FirebaseDatabase/Tests/Integration/FOrder.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMClientInfoFetcher.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMRuntimeManager.m
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/Token/FIRMessagingAuthService.m
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/ViewController.m
  FirebaseStorage/Sources/FIRStorageObservableTask.m
  README.md
  scripts/setup_check.sh
  scripts/style.sh
Labels: api: core, api: database, api: auth, api: messaging, api: storage, cla: yes, api: remoteconfig, api: crashlytics, api: inappmessaging, api: appdistribution

#8614 Property wrapper for Firestore
  .gitignore
  Example/FirestoreSample/.firebaserc
  Example/FirestoreSample/FirestoreSample.xcodeproj/project.pbxproj
  Example/FirestoreSample/FirestoreSample/App/FirestoreSampleApp.swift
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AccentColor.colorset/Contents.json
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/100.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/1024.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/114.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/120.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/128.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/144.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/152.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/16.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/167.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/172.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/180.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/196.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/20.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/216.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/256.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/29.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/32.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/40.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/48.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/50.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/512.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/55.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/57.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/58.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/60.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/64.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/72.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/76.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/80.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/87.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/88.png
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/AppIcon.appiconset/Contents.json
  Example/FirestoreSample/FirestoreSample/Assets.xcassets/Contents.json
  Example/FirestoreSample/FirestoreSample/Preview Content/Preview Assets.xcassets/Contents.json
  Example/FirestoreSample/FirestoreSample/Views/FavouriteFruitsMappingErrorView.swift
  Example/FirestoreSample/FirestoreSample/Views/FavouriteFruitsMappingErrorView2.swift
  Example/FirestoreSample/FirestoreSample/Views/FavouriteFruitsView.swift
  Example/FirestoreSample/FirestoreSample/Views/MenuView.swift
  Example/FirestoreSample/README.md
  Example/FirestoreSample/data/firebase-export-metadata.json
  Example/FirestoreSample/data/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
  Example/FirestoreSample/data/firestore_export/all_namespaces/all_kinds/output-0
  Example/FirestoreSample/data/firestore_export/firestore_export.overall_export_metadata
  Example/FirestoreSample/firebase.json
  Example/FirestoreSample/firestore.indexes.json
  Example/FirestoreSample/firestore.rules
  Example/FirestoreSample/run.sh
  Firestore/Swift/Source/PropertyWrapper/FirestoreQuery.swift
  Firestore/Swift/Source/PropertyWrapper/FirestoreQueryObservable.swift
  Firestore/Swift/Source/PropertyWrapper/QueryPredicate.swift
Labels: cla: yes, api: firestore

#8887 Wait for Cocoapods update to be complete before updating C++ SDK.
  .github/workflows/update-cpp-sdk-on-release.yml
Labels: cla: yes

#8853 Add new target FirebaseSharedSwift
  FirebaseDatabaseSwift/Sources/Codable/EncoderDecoder.swift
  FirebaseDatabaseSwift/Tests/Codable/ServerValueCodingTests.swift
  FirebaseSharedSwift/CHANGELOG.md
  FirebaseSharedSwift/Sources/third_party/StructureEncoder/LICENSE
  FirebaseSharedSwift/Sources/third_party/StructureEncoder/METADATA
  FirebaseSharedSwift/Sources/third_party/StructureEncoder/StructureEncoder.swift
  FirebaseSharedSwift/Tests/Codable/StructureEncoderTests.swift
  FirebaseSharedSwift/Tests/third_party/EncoderTests.swift
  Package.swift
  scripts/spm_test_schemes/FirebaseSharedSwiftTests.xcscheme
Labels: cla: yes

#8888 Analytics 8.9.1
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: cla: yes, api: analytics

#8890 Analytics SPM 8.9.1
  Package.swift
Labels: cla: yes, api: analytics

#8891 Firebase version updates for 8.9.1
  Firebase.podspec
  Package.swift
Labels: cla: yes
