Repository firebase/firebase-ios-sdk, pull requests merged in 2021-01, with the labels that each got.

#7244 Core: fix and cleanup notification center tests
  Example/CoreDiagnostics/Tests/FIRCoreDiagnosticsTest.m
  FirebaseCore.podspec
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Sources/Private/FIRAppInternal.h
  FirebaseCore/Tests/Unit/FIRAnalyticsConfigurationTest.m
  FirebaseCore/Tests/Unit/FIRAppTest.m
  FirebaseCoreDiagnostics.podspec
Labels: api: core, cla: yes

#7245 Migrate libFuzzer from svn to git
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/ConvertTextToBinary.sh
  Firestore/Example/LibFuzzer.podspec
Labels: api: firestore, cla: yes

#7230 Cleanup GTM dependency from Firebase performance since we don't need log filters anymore
  FirebasePerformance.podspec
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/Common/FPRGTMLogLevelFilter.h
  FirebasePerformance/Sources/Common/FPRGTMLogLevelFilter.m
  FirebasePerformance/Sources/FPRClient.m
  FirebasePerformance/Tests/Unit/Common/FPRGTMLogLevelFilterTest.m
Labels: api: performance, cla: yes

#7211 Check if reverse client ID is a registered URL scheme before setting callback scheme
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/AuthProvider/OAuth/FIROAuthProvider.m
  FirebaseAuth/Sources/AuthProvider/Phone/FIRPhoneAuthProvider.m
  FirebaseAuth/Tests/Unit/FIROAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
Labels: api: auth, cla: yes

#7246 Enable multi tenancy for email link sign in
  FirebaseAuth/Sources/Backend/RPC/FIREmailLinkSignInRequest.m
Labels: api: auth, cla: yes

#7247 Verify that @DocumentID works with custom Codable methods.
  Firestore/Swift/Tests/Integration/CodableIntegrationTests.swift
Labels: api: firestore, cla: yes

#7249 Update changelog for iid release
  Firebase/InstanceID/CHANGELOG.md
Labels: api: instanceid, cla: yes

#7110 Implement RTDB Query get
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Api/FIRDatabaseQuery.m
  FirebaseDatabase/Sources/Api/Private/FTypedefs_Private.h
  FirebaseDatabase/Sources/Constants/FConstants.h
  FirebaseDatabase/Sources/Constants/FConstants.m
  FirebaseDatabase/Sources/Core/FPersistentConnection.h
  FirebaseDatabase/Sources/Core/FPersistentConnection.m
  FirebaseDatabase/Sources/Core/FRepo.h
  FirebaseDatabase/Sources/Core/FRepo.m
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabaseQuery.h
  FirebaseDatabase/Tests/Integration/FIRDatabaseQueryTests.m
Labels: api: database, cla: yes, public-api-change

#7253 GDT test server: stop server on dealloc only if running
  GoogleDataTransport/GDTCCTTests/Unit/TestServer/GDTCCTTestServer.m
Labels: GoogleDataTransport, cla: yes

#7250 Bump RTDB emulator version
  scripts/run_database_emulator.sh
Labels: cla: yes

#7254 Core and GoogleUtilities M87 Changelogs
  FirebaseCore/CHANGELOG.md
  GoogleUtilities/CHANGELOG.md
Labels: GoogleUtilities, api: core, cla: yes

#7255 Fix typo in test
  FirebaseRemoteConfig/Tests/Unit/RCNConfigDBManagerTest.m
Labels: api: remoteconfig, cla: yes

#6924 Sync login state across all Apple user's devices
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.h
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.m
Labels: api: auth, cla: yes, public-api-change

#7229 Update SwiftPackageManager.md with instructions for Crashlytics SPM
  SwiftPackageManager.md
Labels: cla: yes

#7258 Update changelog.
  FirebaseAuth/CHANGELOG.md
Labels: api: auth, cla: yes

#7221 ZipBuilder: Multi-platform building and usability improvements
  ReleaseTooling/DEVELOP.md
  ReleaseTooling/README.md
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/FirebaseManifest/Pod.swift
  ReleaseTooling/Sources/ZipBuilder/CocoaPodUtils.swift
  ReleaseTooling/Sources/ZipBuilder/FirebaseBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/ModuleMapBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/Platform.swift
  ReleaseTooling/Sources/ZipBuilder/TargetPlatform.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/main.swift
  scripts/build_non_firebase_sdks.sh
  scripts/build_zip.sh
Labels: cla: yes, release-tooling

#7261 Enable FIAM tvos slice in zip build
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: cla: yes, release-tooling

#7262 Revert "Implement RTDB Query get (#7110)"
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Api/FIRDatabaseQuery.m
  FirebaseDatabase/Sources/Api/Private/FTypedefs_Private.h
  FirebaseDatabase/Sources/Constants/FConstants.h
  FirebaseDatabase/Sources/Constants/FConstants.m
  FirebaseDatabase/Sources/Core/FPersistentConnection.h
  FirebaseDatabase/Sources/Core/FPersistentConnection.m
  FirebaseDatabase/Sources/Core/FRepo.h
  FirebaseDatabase/Sources/Core/FRepo.m
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabaseQuery.h
  FirebaseDatabase/Tests/Integration/FIRDatabaseQueryTests.m
Labels: api: database, cla: yes, public-api-change

#7257 Update SwiftPackageManager.md
  SwiftPackageManager.md
Labels: cla: yes

#7263 Make FIAM tvOS minimum version consistent with Firebase
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutLogStorage.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutUploader.m
  FirebaseInAppMessaging/Sources/DefaultUI/Banner/FIRIAMBannerViewController.m
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMBaseRenderingViewController.m
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMRenderingWindowHelper.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMActivityLogger.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayCheckOnAppForegroundFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMFetchOnAppForegroundFlow.m
Labels: api: inappmessaging, cla: yes

#7265 Add missing source to Perf podspec
  FirebasePerformance.podspec
Labels: cla: yes

#7268 Update database yaml to notify of emulator version changes
  .github/workflows/database.yml
Labels: cla: yes

#7264 Implement get for RTDB queries
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Api/FIRDatabaseQuery.m
  FirebaseDatabase/Sources/Api/Private/FTypedefs_Private.h
  FirebaseDatabase/Sources/Constants/FConstants.h
  FirebaseDatabase/Sources/Constants/FConstants.m
  FirebaseDatabase/Sources/Core/FPersistentConnection.h
  FirebaseDatabase/Sources/Core/FPersistentConnection.m
  FirebaseDatabase/Sources/Core/FRepo.h
  FirebaseDatabase/Sources/Core/FRepo.m
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabaseQuery.h
  FirebaseDatabase/Tests/Integration/FIRDatabaseQueryTests.m
Labels: api: database, cla: yes, public-api-change

#7267 Update to CocoaPods 1.10.1
  Gemfile
  Gemfile.lock
Labels: cla: yes

#7271 Fix FIAM tvOS storyboard location
  FirebaseInAppMessaging/Resources/FIRInAppMessageDisplayStoryboardTV.storyboard
Labels: api: inappmessaging, cla: yes

#7272 Pull FIAM tvos from 7.4 release notes
  FirebaseInAppMessaging/CHANGELOG.md
Labels: api: inappmessaging, cla: yes

#7273 Small text change to SwiftPackageManager.md
  SwiftPackageManager.md
Labels: cla: yes

#7203 Support NSPredicate CONTAINS and IN with new filter queries
  Firestore/Source/API/FIRQuery.mm
Labels: api: firestore, cla: yes

#7269 Remote Config: Revert to previous nil check on experiment JSON
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/RCNConfigExperiment.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigExperimentTest.m
Labels: api: remoteconfig, cla: yes

#7278 Update changelogs and script
  Crashlytics/CHANGELOG.md
  FirebaseStorage/CHANGELOG.md
  scripts/make_release_notes.py
Labels: api: crashlytics, api: storage, cla: yes

#7284 Firebase pod fix for tvOS and macOS
  Firebase.podspec
Labels: cla: yes

#7285 Revert "Enable FIAM tvos slice in zip build (#7261)"
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: cla: yes, release-tooling

#7287 Remove GDT from travis
  .travis.yml
Labels: cla: yes

#7289 SPM Analytics for 7.4.0
  Package.swift
Labels: cla: yes

#7233 Should only have only one local cache of token
  FirebaseMessaging/Apps/Shared/ContentView.swift
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/FIRMessagingClient.h
  FirebaseMessaging/Sources/FIRMessagingPubSub.m
  FirebaseMessaging/Sources/FIRMessagingUtilities.h
  FirebaseMessaging/Sources/FIRMessagingUtilities.m
  FirebaseMessaging/Sources/FIRMessaging_Private.h
  FirebaseMessaging/Sources/Token/FIRMessagingAPNSInfo.m
  FirebaseMessaging/Sources/Token/FIRMessagingAuthKeyChain.m
  FirebaseMessaging/Sources/Token/FIRMessagingAuthService.h
  FirebaseMessaging/Sources/Token/FIRMessagingAuthService.m
  FirebaseMessaging/Sources/Token/FIRMessagingBackupExcludedPlist.m
  FirebaseMessaging/Sources/Token/FIRMessagingCheckinPreferences.m
  FirebaseMessaging/Sources/Token/FIRMessagingCheckinService.h
  FirebaseMessaging/Sources/Token/FIRMessagingCheckinService.m
  FirebaseMessaging/Sources/Token/FIRMessagingCheckinStore.m
  FirebaseMessaging/Sources/Token/FIRMessagingKeychain.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenDeleteOperation.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenDeleteOperation.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenFetchOperation.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenFetchOperation.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenInfo.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenInfo.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenManager.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenManager.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenOperation.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenStore.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenStore.m
  FirebaseMessaging/Tests/UnitTests/FIRInstanceIDWithFCMTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingClientTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingDataMessageManagerTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingHandlingTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingLinkHandlingTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingSyncMessageManagerTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTestUtilities.h
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTestUtilities.m
Labels: api: instanceid, api: messaging, cla: yes

#7288 Iterate through all elements of target array for FieldValue::ArrayRemove
  Firestore/core/src/model/transform_operation.cc
Labels: api: firestore, cla: yes

#7286 ZipBuilder workaround
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
Labels: cla: yes, release-tooling

#7290 Add changelog for #7288
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#7293 Carthage update for 7.4.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelInterpreterBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLVisionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseProtobufBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: auth, cla: yes, release-tooling

#7292 Merge release-7.4
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMLCommon.podspec.json
  FirebaseMLModelInterpreter.podspec.json
  FirebaseMLVision.podspec.json
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
Labels: api: auth, cla: yes, release-tooling

#6771 GDT: upload URL request steps wrapped into promises
  GoogleDataTransport.podspec
  GoogleDataTransport/GDTCCTLibrary/GDTCCTUploadOperation.m
  GoogleDataTransport/GDTCCTLibrary/GDTCCTUploader.m
  GoogleDataTransport/GDTCCTLibrary/Private/GDTCCTUploadOperation.h
  GoogleDataTransport/GDTCCTLibrary/Private/GDTCCTUploader.h
  GoogleDataTransport/GDTCCTTests/Integration/GDTCCTIntegrationTest.m
  GoogleDataTransport/GDTCCTTests/Unit/GDTCCTUploaderTest.m
  GoogleDataTransport/GDTCCTWatchOSTestApp/Podfile
  GoogleDataTransport/GDTCORLibrary/GDTCORFlatFileStorage+Promises.m
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
  GoogleDataTransport/GDTCORTests/Integration/GDTCORIntegrationTest.m
  GoogleDataTransport/GDTCORTests/Integration/Helpers/GDTCORIntegrationTestUploader.h
  GoogleDataTransport/GDTCORTests/Integration/Helpers/GDTCORIntegrationTestUploader.m
  GoogleDataTransport/generate_project.sh
  Package.swift
Labels: GoogleDataTransport, cla: yes

#6976 WIP: Add support for Combine
  .github/workflows/combine.yml
  FirebaseAuth/Tests/Sample/SwiftApiTests/Credentials.swift
  FirebaseCombineSwift.podspec
  FirebaseCombineSwift/CHANGELOG.md
  FirebaseCombineSwift/Sources/Auth/Auth+Combine.swift
  FirebaseCombineSwift/Sources/Core/Core.swift
  FirebaseCombineSwift/Tests/Unit/Auth/AnonymousAuthTests.swift
  FirebaseCombineSwift/Tests/Unit/Auth/AuthMocks.swift
  FirebaseCombineSwift/Tests/Unit/Auth/AuthStateDidChangePublisherTests.swift
  FirebaseCombineSwift/Tests/Unit/Auth/EmailLinkAuthTests.swift
  FirebaseCombineSwift/Tests/Unit/Auth/EmailPasswordAuthTests.swift
  FirebaseCombineSwift/Tests/Unit/Auth/FetchSignInMethodsTests.swift
  FirebaseCombineSwift/Tests/Unit/Auth/IDTokenDidChangePublisherTests.swift
  FirebaseCombineSwift/Tests/Unit/Auth/PasswordResetTests.swift
  FirebaseCombineSwift/Tests/Unit/Auth/SignInWithCustomTokenTests.swift
  FirebaseCombineSwift/Tests/Unit/Auth/SignInWithProviderTests.swift
  FirebaseCombineSwift/Tests/Unit/Auth/UpdateCurrentUserTests.swift
  FirebaseCombineSwift/Tests/Unit/Credentials.swift
  FirebaseCombineSwift/Tests/Unit/FirebaseApp+Tests.swift
  FirebaseCombineSwift/Tests/Unit/FirebaseCombineSwift-unit-Bridging-Header.h
  Package.swift
  scripts/build.sh
  scripts/install_prereqs.sh
Labels: api: auth, cla: yes, iOS 13, type: enhancement

#7297 Update SwiftPackageManager.md
  SwiftPackageManager.md
Labels: cla: yes

#7275 Implement `endBefore` for RTDB queries
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Api/FIRDatabaseQuery.m
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabaseQuery.h
  FirebaseDatabase/Sources/Utilities/FNextPushId.h
  FirebaseDatabase/Sources/Utilities/FNextPushId.m
  FirebaseDatabase/Sources/Utilities/FUtilities.h
  FirebaseDatabase/Sources/Utilities/FUtilities.m
  FirebaseDatabase/Tests/Integration/FIRDatabaseQueryTests.m
  FirebaseDatabase/Tests/Unit/FNextPushIdTest.m
Labels: api: database, cla: yes, public-api-change

#7209 Implement `startAfter` and `endBefore` for RTDB queries
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Api/FIRDatabaseQuery.m
  FirebaseDatabase/Sources/FIRDatabaseReference.m
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabaseQuery.h
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabaseReference.h
  FirebaseDatabase/Sources/Utilities/FNextPushId.h
  FirebaseDatabase/Sources/Utilities/FNextPushId.m
  FirebaseDatabase/Sources/Utilities/FUtilities.h
  FirebaseDatabase/Sources/Utilities/FUtilities.m
  FirebaseDatabase/Tests/Helpers/FTestExpectations.m
  FirebaseDatabase/Tests/Integration/FIRDatabaseQueryTests.m
  FirebaseDatabase/Tests/Unit/FNextPushIdTest.m
Labels: api: database, cla: yes, public-api-change

#7281 Logging on device and to Firelog
  FirebaseMLModelDownloader.podspec
  FirebaseMLModelDownloader/Sources/DeviceLogger.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/TelemetryLogger.swift
  FirebaseMLModelDownloader/Sources/proto/firebase_ml_log_sdk.pb.swift
  FirebaseMLModelDownloader/Sources/proto/firebase_ml_log_sdk.proto
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
  FirebaseMLModelDownloader/proto/firebase_ml_log_sdk.pb.swift
  FirebaseMLModelDownloader/proto/firebase_ml_log_sdk.proto
  Package.swift
Labels: cla: yes

#7303 Create leveldb "table"s for bundles
  Firestore/core/src/local/leveldb_key.cc
  Firestore/core/src/local/leveldb_key.h
  Firestore/core/test/unit/local/leveldb_key_test.cc
Labels: api: firestore, cla: yes

#7311 Remove dynamic framework count from diagnostics.
  Example/CoreDiagnostics/Tests/FIRCoreDiagnosticsTest.m
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  FirebaseCore/CHANGELOG.md
Labels: api: core, cla: yes

#7314 Access to Metrics Service
  scripts/gha-encrypted/metrics_service_access.json.gpg
Labels: cla: yes

#7323 update upload-symbols to version 3.6 build 25
  Crashlytics/CHANGELOG.md
  Crashlytics/upload-symbols
Labels: api: crashlytics, cla: yes

#7327 Fix a duplicate key in test data
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
Labels: api: firestore, cla: yes

#7322 Separate error messages into extensions
  FirebaseMLModelDownloader/Sources/DeviceLogger.swift
  FirebaseMLModelDownloader/Sources/LocalModelInfo.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelFileManager.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Sources/RemoteModelInfo.swift
  FirebaseMLModelDownloader/Sources/TelemetryLogger.swift
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
Labels: cla: yes

#7094 Standardize support for Firebase products that integrate with Remote Config.
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/RCNPersonalization.h
  FirebaseRemoteConfig/Sources/RCNPersonalization.m
  FirebaseRemoteConfig/Tests/Unit/RCNPersonalizationTest.m
Labels: api: remoteconfig, cla: yes

#7329 Handle expired download URL with support for retries
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
Labels: cla: yes

#7330 Initial Analytics podspecs in repo
  .github/workflows/analytics.yml
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: cla: yes

#7332 Performance Improvements - Move Some Initialization Work to a Background Thread
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Components/FIRCLSBinaryImage.m
Labels: api: crashlytics, cla: yes

#7328 Fix FIAM test on device crash
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
Labels: api: inappmessaging, cla: yes

#7335 Analytics 7.5.0
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: api: analytics, cla: yes

#7333 Use external repo for GoogleAppMeasurement SPM dependency
  Package.swift
Labels: cla: yes

#7276 Replace usage of transforms with update transforms
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/API/FSTUserDataConverterTests.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/Util/FSTHelpers.h
  Firestore/Example/Tests/Util/FSTHelpers.mm
  Firestore/core/src/api/document_reference.cc
  Firestore/core/src/api/write_batch.cc
  Firestore/core/src/core/transaction.cc
  Firestore/core/src/core/user_data.cc
  Firestore/core/src/core/user_data.h
  Firestore/core/src/local/local_documents_view.cc
  Firestore/core/src/local/local_serializer.cc
  Firestore/core/src/local/local_store.cc
  Firestore/core/src/model/delete_mutation.cc
  Firestore/core/src/model/delete_mutation.h
  Firestore/core/src/model/field_value.cc
  Firestore/core/src/model/model_fwd.h
  Firestore/core/src/model/mutation.cc
  Firestore/core/src/model/mutation.h
  Firestore/core/src/model/mutation_batch.cc
  Firestore/core/src/model/patch_mutation.cc
  Firestore/core/src/model/patch_mutation.h
  Firestore/core/src/model/set_mutation.cc
  Firestore/core/src/model/set_mutation.h
  Firestore/core/src/model/transform_mutation.cc
  Firestore/core/src/model/transform_mutation.h
  Firestore/core/src/model/transform_operation.h
  Firestore/core/src/model/verify_mutation.cc
  Firestore/core/src/model/verify_mutation.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/test/unit/local/local_serializer_test.cc
  Firestore/core/test/unit/local/local_store_test.cc
  Firestore/core/test/unit/model/mutation_test.cc
  Firestore/core/test/unit/remote/serializer_test.cc
  Firestore/core/test/unit/testutil/testutil.cc
  Firestore/core/test/unit/testutil/testutil.h
Labels: api: firestore, cla: yes

#7344 Update CHANGELOG for M88
  Crashlytics/CHANGELOG.md
  FirebaseCore/CHANGELOG.md
  Firestore/CHANGELOG.md
  Firestore/Swift/CHANGELOG.md
Labels: api: core, cla: yes

#7345 Remove redundant BUILD_INTERFACE
  cmake/GoogleUtilities.cmake
Labels: cla: yes

#7231 Add coverage test workflow.
  .github/workflows/test_coverage.yml
  scripts/code_coverage_report/get_updated_files.sh
  scripts/code_coverage_report/pod_test_code_coverage_report.sh
Labels: cla: yes

#7298 Twitter dont block main on file ops
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.m
Labels: api: crashlytics, cla: yes

#7346 Changelog for deleting unsent reports in the background
  Crashlytics/CHANGELOG.md
Labels: cla: yes

#7343 More GHA consistency
  .github/workflows/release.yml
  .github/workflows/spm.yml
  .github/workflows/symbolcollision.yml
  .github/workflows/zip.yml
Labels: cla: yes

#7347 Delete out-of-date comment
  Package.swift
Labels: cla: yes

#7307 Implement model download conditions.
  FirebaseMLModelDownloader/Sources/ModelDownloadConditions.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
Labels: cla: yes

#7351 When building protoc, also check if CMAKE_CROSSCOMPILING is set.
  Firestore/Protos/CMakeLists.txt
Labels: api: firestore, cla: yes

#7320 Add bundle cache
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/CMakeLists.txt
  Firestore/core/src/bundle/bundle_metadata.h
  Firestore/core/src/bundle/bundled_query.h
  Firestore/core/src/bundle/named_query.h
  Firestore/core/src/core/target.h
  Firestore/core/src/local/bundle_cache.h
  Firestore/core/src/local/leveldb_bundle_cache.cc
  Firestore/core/src/local/leveldb_bundle_cache.h
  Firestore/core/src/local/leveldb_persistence.cc
  Firestore/core/src/local/leveldb_persistence.h
  Firestore/core/src/local/local_serializer.cc
  Firestore/core/src/local/local_serializer.h
  Firestore/core/src/local/memory_bundle_cache.cc
  Firestore/core/src/local/memory_bundle_cache.h
  Firestore/core/src/local/memory_persistence.cc
  Firestore/core/src/local/memory_persistence.h
  Firestore/core/src/local/persistence.h
  Firestore/core/src/nanopb/fields_array.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/src/remote/serializer.h
  Firestore/core/test/unit/local/bundle_cache_test.cc
  Firestore/core/test/unit/local/bundle_cache_test.h
  Firestore/core/test/unit/local/leveldb_bundle_cache_test.cc
  Firestore/core/test/unit/local/local_serializer_test.cc
  Firestore/core/test/unit/local/memory_bundle_cache_test.cc
  Firestore/core/test/unit/util/ordered_code_test.cc
Labels: api: core, api: firestore, cla: yes

#7350 Allow http schemes when using the auth emulator
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
Labels: api: auth, cla: yes

#7349 Fix comments for performance improvements
  Crashlytics/Crashlytics/Components/FIRCLSBinaryImage.m
Labels: api: crashlytics, cla: yes

#7312 RTDB query gets should not send server requests for listened-to data
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Core/FRepo.m
  FirebaseDatabase/Sources/Core/FSyncTree.h
  FirebaseDatabase/Sources/Core/FSyncTree.m
  FirebaseDatabase/Tests/Integration/FIRDatabaseQueryTests.m
Labels: api: database, cla: yes

#7358 Rewording "whitelist" in comments and function names.
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Sources/Utilities/FDLUtilities.h
  FirebaseDynamicLinks/Sources/Utilities/FDLUtilities.m
Labels: api: dynamiclinks, cla: yes

#7360 Remove changes for Crashlytics 1P from the repo
  Crashlytics/Crashlytics/DataCollection/FIRCLSDataCollectionArbiter.m
  Crashlytics/Shared/FIRCLSConstants.m
  Crashlytics/UnitTests/FIRCLSConstantsTest.m
  Crashlytics/UnitTests/FIRCLSDataCollectionArbiterTest.m
Labels: api: crashlytics, cla: yes

#7352 Downloader protocol + tests
  FirebaseMLModelDownloader/Sources/FileDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelFileManager.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
  FirebaseMLModelDownloader/proto/firebase_ml_log_sdk.pb.swift
  FirebaseMLModelDownloader/proto/firebase_ml_log_sdk.proto
Labels: GoogleDataTransport, api: dynamiclinks, api: firestore, cla: yes

#7248 Combine Support: Sign in with 3rd party credentials
  FirebaseCombineSwift/README.md
  FirebaseCombineSwift/Sources/Auth/Auth+Combine.swift
  FirebaseCombineSwift/Sources/Auth/MultiFactorResolver+Combine.swift
  FirebaseCombineSwift/Sources/Auth/PhoneAuthProvider+Combine.swift
  FirebaseCombineSwift/Tests/Unit/Auth/SignInWithCredentialTests.swift
  FirebaseCombineSwift/Tests/Unit/FirebaseCombineSwift-unit-Bridging-Header.h
Labels: api: auth, cla: yes, type: enhancement

#7371 Keep Release CI Functional using SpecsStaging
  ReleaseTooling/Sources/FirebaseReleaser/Push.swift
Labels: cla: yes, release-tooling

#7375 Add method documentation got getDataWithCompletionBlock
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabaseQuery.h
Labels: cla: yes

#7372 Remove watchOS for Crashlytics Pod Gen
  Crashlytics/generate_project.sh
Labels: api: crashlytics, cla: yes

#7364 Add Nightly and Release workflows for FirebasePerformance.
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Labels: cla: yes

#7348 Device logging w/ GULLogger.
  FirebaseMLModelDownloader.podspec
  FirebaseMLModelDownloader/Sources/DeviceLogger.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/TelemetryLogger.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
  Package.swift
Labels: cla: yes

#7374 Move retryDownload to ModelDownloader
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
Labels: cla: yes

#7361 Update Roadmap
  .github/workflows/prerelease.yml
  ROADMAP.md
Labels: cla: yes

#7383 More Roadmap updates
  .github/ISSUE_TEMPLATE/feature_request.md
  ROADMAP.md
Labels: cla: yes

#7382 Update SwiftPM for M88 7.5
  Package.swift
Labels: cla: yes

#7377 Add getData overload to DatabaseReference
  FirebaseDatabase/Sources/FIRDatabaseReference.m
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabaseReference.h
Labels: api: database, cla: yes, public-api-change

#7385 Analytics 7.5.0 RC1
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: api: analytics, cla: yes

#7390 Update Analytics podspec to RC1 (#7385)
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: cla: yes

#7391 Remove ReleaseTooling special casing for non-Firebase pods
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/FirebaseManifest/Pod.swift
  ReleaseTooling/Sources/FirebaseReleaser/InitializeRelease.swift
  ReleaseTooling/Sources/FirebaseReleaser/Tags.swift
  ReleaseTooling/Sources/ZipBuilder/CocoaPodUtils.swift
Labels: cla: yes, release-tooling

#7240 Sample app
  .github/workflows/mlmodeldownloader.yml
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp.xcodeproj/project.pbxproj
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp.xcodeproj/xcshareddata/xcschemes/MLDownloaderTestApp.xcscheme
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp/AppDelegate.swift
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp/Assets.xcassets/AccentColor.colorset/Contents.json
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp/Assets.xcassets/Contents.json
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp/Base.lproj/LaunchScreen.storyboard
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp/ContentView.swift
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp/Downloader.swift
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp/Info.plist
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp/Preview Content/Preview Assets.xcassets/Contents.json
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp/SceneDelegate.swift
  FirebaseMLModelDownloader/Apps/Sample/Podfile
  FirebaseMLModelDownloader/Apps/Sample/README.md
  FirebaseMLModelDownloader/Sources/ModelDownloadConditions.swift
  scripts/build.sh
  scripts/install_prereqs.sh
Labels: cla: yes

#7392 Fix Crashlytics macOS cron test
  .github/workflows/crashlytics.yml
  Crashlytics/UnitTests/FIRCLSProcessReportOperationTests.m
Labels: api: crashlytics, cla: yes

#7393 Fix --pods option to work with --disable-build-dependencies
  ReleaseTooling/Sources/ZipBuilder/main.swift
Labels: cla: yes, release-tooling

#7386 Logging on-device + Firelog
  .gitignore
  FirebaseMLModelDownloader/Sources/DeviceLogger.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelFileManager.swift
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
Labels: cla: yes

#7394 Merging the 7.5.0 release into master
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMLCommon.podspec.json
  FirebaseMLModelInterpreter.podspec.json
  FirebaseMLVision.podspec.json
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: auth, cla: yes, release-tooling

#7395 Update JSON artifacts for M88 7.5.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelInterpreterBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLVisionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseProtobufBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: auth, cla: yes, release-tooling

#7396 Fix build_non_firebase_sdks.sh for 7.x Swift pods
  .github/workflows/release.yml
  .github/workflows/zip.yml
  scripts/build_non_firebase_sdks.sh
  scripts/create_spec_repo/Sources/SpecRepoBuilder/main.swift
Labels: cla: yes

#7397 More on-device logging and better error handling.
  FirebaseMLModelDownloader/Sources/DeviceLogger.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadConditions.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelFileManager.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Sources/TelemetryLogger.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
Labels: cla: yes

#7407 Update Apple Silicon instructions
  AppleSilicon.md
Labels: cla: yes

#7409 Update to namespaced GoogleUtilities
  Package.swift
Labels: cla: yes

#7401 Fix fuzz build
  Firestore/fuzzing/fieldpath_fuzzer.cc
Labels: api: firestore, cla: yes

#7410 Merge 7.5.1 changes to master
  Package.swift
Labels: cla: yes

#7404 Firelog events
  FirebaseMLModelDownloader/Sources/DeviceLogger.swift
  FirebaseMLModelDownloader/Sources/FileDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Sources/TelemetryLogger.swift
  FirebaseMLModelDownloader/Sources/proto/firebase_ml_log_sdk.pb.swift
  FirebaseMLModelDownloader/Sources/proto/firebase_ml_log_sdk.proto
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
Labels: cla: yes
