Repository firebase/firebase-ios-sdk, pull requests merged in 2021-03, with the labels that each got.

#7629 Remove accidental addition of extra scripts to repo
  run
  upload-symbols
Labels: cla: yes

#7630 Update CHANGELOG.md
  Crashlytics/CHANGELOG.md
Labels: cla: yes

#7619 Limit the number of unsent reports on disk to prevent disk filling
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Controllers/FIRCLSExistingReportManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSExistingReportManager.m
  Crashlytics/Crashlytics/Private/FIRCLSExistingReportManager_Private.h
  Crashlytics/UnitTests/FIRCLSExistingReportManagerTests.m
  Crashlytics/UnitTests/FIRCLSReportManagerTests.m
Labels: api: crashlytics, cla: yes

#7603 [IID removal]Move Checkin unit tests from InstanceID to Messaging
  FirebaseMessaging.podspec
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/FIRMessagingPubSub.m
  FirebaseMessaging/Sources/FIRMessagingUtilities.m
  FirebaseMessaging/Sources/Token/FIRMessagingCheckinPreferences.m
  FirebaseMessaging/Sources/Token/FIRMessagingCheckinService.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenOperation.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingAuthKeychainTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingAuthServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingBackupExcludedPlistTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingCheckinPreferencesTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingCheckinServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingCheckinStoreTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingFakeKeychain.h
  FirebaseMessaging/Tests/UnitTests/FIRMessagingFakeKeychain.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTestUtilities.m
  Package.swift
Labels: api: messaging, cla: yes

#7472 fix for _userAccessGroup being nil when getStoredUserForAccessGroup is called
  FirebaseAuth/Sources/Auth/FIRAuth.m
Labels: api: auth, cla: yes

#7638 Update changelog
  FirebaseAuth/CHANGELOG.md
Labels: api: auth, cla: yes

#7639 Fix a signed/unsigned comparison
  Firestore/core/src/local/leveldb_persistence.cc
Labels: api: firestore, cla: yes

#7637 Fix issue generations detecting running cron jobs in the last 24 hrs.
  .github/actions/testing_report_generation/app.rb
  .github/workflows/generate_issues.yml
Labels: cla: yes

#7609 Implement FIRLoadBundleTask
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Source/API/FIRLoadBundleTask.mm
  Firestore/Source/Public/FirebaseFirestore/FIRLoadBundleTask.h
  Firestore/core/src/api/load_bundle_task.cc
  Firestore/core/src/api/load_bundle_task.h
  Firestore/core/test/unit/api/CMakeLists.txt
  Firestore/core/test/unit/api/load_bundle_task_test.cc
Labels: api: firestore, cla: yes

#7527 Implement bundle reader to parse a bundle inputstream
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Source/API/FIRLoadBundleTask.mm
  Firestore/Source/Public/FirebaseFirestore/FIRLoadBundleTask.h
  Firestore/core/src/api/load_bundle_task.cc
  Firestore/core/src/api/load_bundle_task.h
  Firestore/core/src/bundle/bundle_document.h
  Firestore/core/src/bundle/bundle_element.h
  Firestore/core/src/bundle/bundle_metadata.h
  Firestore/core/src/bundle/bundle_reader.cc
  Firestore/core/src/bundle/bundle_reader.h
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/src/bundle/bundle_serializer.h
  Firestore/core/src/bundle/bundled_document_metadata.h
  Firestore/core/src/bundle/named_query.h
  Firestore/core/src/util/byte_stream.h
  Firestore/core/src/util/byte_stream_apple.h
  Firestore/core/src/util/byte_stream_apple.mm
  Firestore/core/src/util/byte_stream_cpp.cc
  Firestore/core/src/util/byte_stream_cpp.h
  Firestore/core/test/unit/api/CMakeLists.txt
  Firestore/core/test/unit/api/load_bundle_task_test.cc
  Firestore/core/test/unit/bundle/bundle_reader_test.cc
  Firestore/core/test/unit/bundle/bundle_serializer_test.cc
  Firestore/core/test/unit/util/byte_stream_apple_test.mm
  Firestore/core/test/unit/util/byte_stream_cpp_test.cc
  Firestore/core/test/unit/util/byte_stream_test.cc
  Firestore/core/test/unit/util/byte_stream_test.h
Labels: api: firestore, cla: yes

#7643 Test issue_generation on pull requests.
  .github/actions/testing_report_generation/app.rb
  .github/workflows/generate_issues.yml
Labels: cla: yes

#7649 Analytics 7.8.0
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: api: analytics, cla: yes

#7613 Add code coverage README
  README.md
  scripts/code_coverage_report/README.md
Labels: cla: yes

#7650 Migrate to SpecsStaging repo for zip builds
  .github/workflows/zip.yml
Labels: cla: yes

#7563 Future Apple toolchain fixes
  Firestore/core/src/remote/grpc_root_certificates_generated.h
  Firestore/core/src/util/secure_random_arc4random.cc
  Package.swift
  scripts/cpplint.py
Labels: api: firestore, cla: yes

#7655 Merging the 7.8.0 release into master
  Crashlytics/CHANGELOG.md
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuth/CHANGELOG.md
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebasePerformance/CHANGELOG.md
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  Firestore/Swift/CHANGELOG.md
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: auth, api: crashlytics, api: firestore, api: performance, api: remoteconfig, cla: yes, release-tooling

#7658 ML downloader: enable verbose logging to investigate flaky tests
  .github/workflows/mlmodeldownloader.yml
Labels: cla: yes

#7659 CI: try only 2 times
  scripts/third_party/travis/retry.sh
Labels: cla: yes

#7662 Analytics 7.8.0
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: api: analytics, cla: yes

#7664 Cherry-pick Analytics 7.8 RC1
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: cla: yes

#7666 Update firebase-admin version for Functions integrations tests
  Functions/Backend/package.json
  Functions/README.md
Labels: api: functions, cla: yes

#7673 Update SwiftPM for M91 Analytics 7.8.0
  Package.swift
Labels: cla: yes

#7676 Update SwiftPM for M91 Analytics 7.8.0 (#7673)
  Package.swift
Labels: cla: yes

#7675 Add missing GDT dep to MLDownloader
  FirebaseMLModelDownloader.podspec
  FirebaseMLModelDownloader/Apps/Sample/Podfile
Labels: cla: yes

#7562 FirebaseAnalytics SwiftUI API for `screen_view`
  .github/workflows/analytics.yml
  .github/workflows/spm.yml
  .swiftpm/xcode/xcshareddata/xcschemes/Firebase-Package.xcscheme
  FirebaseAnalyticsSwift.podspec
  FirebaseAnalyticsSwift/CHANGELOG.md
  FirebaseAnalyticsSwift/Sources/Analytics+SwiftUI.swift
  Package.swift
  SwiftPM-PlatformExclude/FirebaseAnalyticsSwiftWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseAnalyticsSwiftWrap/include/dummy.h
  SwiftPMTests/analytics-import-test/analytics-import.swift
Labels: api: analytics, cla: yes

#7668 Prototype of a module with Firestore fakes for testing dependent code in Swift
  .swiftpm/xcode/xcshareddata/xcschemes/Firebase-Package.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirestoreTestingSupportTests.xcscheme
  FirebaseFirestoreTestingSupport.podspec
  FirebaseTestingSupport/Firestore/Sources/FIRQueryFake.mm
  FirebaseTestingSupport/Firestore/Sources/Public/FirebaseFirestoreTestingSupport/FIRQueryFake.h
  FirebaseTestingSupport/Firestore/Tests/QueryFakeTests.swift
  FirebaseTestingSupport/README.md
  Package.swift
Labels: cla: yes

#7536 Implement BundleLoader
  Firestore/core/src/bundle/bundle_callback.h
  Firestore/core/src/bundle/bundle_loader.cc
  Firestore/core/src/bundle/bundle_loader.h
  Firestore/core/src/bundle/bundle_reader.cc
  Firestore/core/src/local/local_store.h
  Firestore/core/test/unit/bundle/bundle_loader_test.cc
Labels: api: firestore, cla: yes

#7621 Add public API for bundles and integration tests
  Firestore/Example/Tests/Integration/API/FIRBundlesTests.mm
  Firestore/Example/Tests/Util/FSTEventAccumulator.h
  Firestore/Example/Tests/Util/FSTEventAccumulator.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/Source/API/FIRFirestore.mm
  Firestore/Source/API/FIRLoadBundleTask+Internal.h
  Firestore/Source/API/FIRLoadBundleTask.mm
  Firestore/Source/Public/FirebaseFirestore/FIRFirestore.h
  Firestore/core/src/api/api_fwd.h
  Firestore/core/src/api/firestore.cc
  Firestore/core/src/api/firestore.h
  Firestore/core/src/api/load_bundle_task.cc
  Firestore/core/src/api/load_bundle_task.h
  Firestore/core/src/bundle/bundle_loader.h
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/src/core/firestore_client.cc
  Firestore/core/src/core/firestore_client.h
  Firestore/core/src/core/sync_engine.cc
  Firestore/core/src/core/sync_engine.h
  Firestore/core/src/util/byte_stream_apple.h
  Firestore/core/src/util/byte_stream_apple.mm
  Firestore/core/src/util/byte_stream_cpp.h
  Firestore/core/test/unit/api/load_bundle_task_test.cc
  Firestore/core/test/unit/bundle/bundle_loader_test.cc
  Firestore/core/test/unit/bundle/bundle_serializer_test.cc
  Firestore/core/test/unit/testutil/bundle_builder.cc
  Firestore/core/test/unit/testutil/bundle_builder.h
Labels: api: firestore, cla: yes, public-api-change

#7678 Json parser as a hard copy
  CMakeLists.txt
  CoreOnly/NOTICES
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/CMakeLists.txt
  Firestore/core/src/bundle/bundle_serializer.h
  Firestore/core/src/remote/serializer.h
  Firestore/third_party/nlohmann_json/LICENSE.MIT
  Firestore/third_party/nlohmann_json/METADATA
  Firestore/third_party/nlohmann_json/json.hpp
  cmake/external/CMakeLists.txt
  cmake/external/nlohmann_json.cmake
Labels: api: core, api: firestore, cla: yes

#7691 Adding Messaging to watch demo app
  Example/WatchDemo/WatchDemo WatchKit Extension/WatchDemoApp.swift
  Example/WatchDemo/WatchDemo.xcodeproj/project.pbxproj
  Example/WatchDemo/WatchDemo/ContentView.swift
  Example/WatchDemo/WatchDemoWatchKitApp/Assets.xcassets/AccentColor.colorset/Contents.json
  Example/WatchDemo/WatchDemoWatchKitApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  Example/WatchDemo/WatchDemoWatchKitApp/Assets.xcassets/Contents.json
  Example/WatchDemo/WatchDemoWatchKitApp/Info.plist
  Example/WatchDemo/WatchDemoWatchKitExtension/Assets.xcassets/Complication.complicationset/Circular.imageset/Contents.json
  Example/WatchDemo/WatchDemoWatchKitExtension/Assets.xcassets/Complication.complicationset/Contents.json
  Example/WatchDemo/WatchDemoWatchKitExtension/Assets.xcassets/Complication.complicationset/Extra Large.imageset/Contents.json
  Example/WatchDemo/WatchDemoWatchKitExtension/Assets.xcassets/Complication.complicationset/Graphic Bezel.imageset/Contents.json
  Example/WatchDemo/WatchDemoWatchKitExtension/Assets.xcassets/Complication.complicationset/Graphic Circular.imageset/Contents.json
  Example/WatchDemo/WatchDemoWatchKitExtension/Assets.xcassets/Complication.complicationset/Graphic Corner.imageset/Contents.json
  Example/WatchDemo/WatchDemoWatchKitExtension/Assets.xcassets/Complication.complicationset/Graphic Extra Large.imageset/Contents.json
  Example/WatchDemo/WatchDemoWatchKitExtension/Assets.xcassets/Complication.complicationset/Graphic Large Rectangular.imageset/Contents.json
  Example/WatchDemo/WatchDemoWatchKitExtension/Assets.xcassets/Complication.complicationset/Modular.imageset/Contents.json
  Example/WatchDemo/WatchDemoWatchKitExtension/Assets.xcassets/Complication.complicationset/Utilitarian.imageset/Contents.json
  Example/WatchDemo/WatchDemoWatchKitExtension/Assets.xcassets/Contents.json
  Example/WatchDemo/WatchDemoWatchKitExtension/ComplicationController.swift
  Example/WatchDemo/WatchDemoWatchKitExtension/ContentView.swift
  Example/WatchDemo/WatchDemoWatchKitExtension/Info.plist
  Example/WatchDemo/WatchDemoWatchKitExtension/NotificationController.swift
  Example/WatchDemo/WatchDemoWatchKitExtension/NotificationView.swift
  Example/WatchDemo/WatchDemoWatchKitExtension/Preview Content/Preview Assets.xcassets/Contents.json
  Example/WatchDemo/WatchDemoWatchKitExtension/PushNotificationPayload.apns
  Example/WatchDemo/WatchDemoWatchKitExtension/WatchDemoApp.swift
  Example/WatchDemo/WatchDemoWatchKitExtension/WatchDemoWatchKitExtension.entitlements
Labels: cla: yes

#7622 Spec tests for Bundles.
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.h
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/Example/Tests/SpecTests/json/bundle_spec_test.json
Labels: api: firestore, cla: yes

#7696 Enable RC for watchOS in SwiftPM
  FirebaseRemoteConfig/CHANGELOG.md
  Package.swift
  SwiftPM-PlatformExclude/FirebaseRemoteConfigWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseRemoteConfigWrap/include/dummy.h
Labels: api: remoteconfig, cla: yes

#7686 fix asan errors
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.h
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/Example/Tests/SpecTests/json/bundle_spec_test.json
  Firestore/Source/API/FIRFirestore.mm
  Firestore/core/src/api/load_bundle_task.cc
  Firestore/core/src/api/load_bundle_task.h
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/test/unit/api/load_bundle_task_test.cc
Labels: api: core, api: firestore, cla: yes

#7705 Add a warning to upload-symbols when it detects an invalid dSYM
  Crashlytics/CHANGELOG.md
  Crashlytics/upload-symbols
Labels: cla: yes

#7656 watchOS support for RTDB
  FirebaseDatabase.podspec
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Core/FPersistentConnection.m
  FirebaseDatabase/Sources/Persistence/FLevelDBStorageEngine.m
  FirebaseDatabase/Sources/Realtime/FWebSocketConnection.h
  FirebaseDatabase/Sources/Realtime/FWebSocketConnection.m
  FirebaseDatabase/Sources/third_party/SocketRocket/FSRWebSocket.h
  FirebaseDatabase/Sources/third_party/SocketRocket/FSRWebSocket.m
  FirebaseDatabase/Tests/Unit/FLevelDBStorageEngineTests.m
  FirebaseDatabase/Tests/Unit/FUtilitiesTest.m
  Package.swift
  SharedTestUtilities/FIRSampleAppUtilities.h
  SharedTestUtilities/FIRSampleAppUtilities.m
  SwiftPM-PlatformExclude/FirebaseDatabaseWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseDatabaseWrap/include/dummy.h
Labels: api: database, cla: yes, watchOS

#7642 Add FieldValue helpers
  FirebaseFirestore.podspec
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/CMakeLists.txt
  Firestore/core/src/model/server_timestamp_util.cc
  Firestore/core/src/model/server_timestamp_util.h
  Firestore/core/src/model/value_util.cc
  Firestore/core/src/model/value_util.h
  Firestore/core/src/remote/serializer.h
  Firestore/core/src/util/comparison.cc
  Firestore/core/src/util/comparison.h
  Firestore/core/test/unit/model/value_util_test.cc
Labels: api: firestore, cla: yes

#7708 Undo accidental commenting out of cron job.
  .github/workflows/spm.yml
Labels: cla: yes

#7710 Firebase Analytics M91.1 update
  Firebase.podspec
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
  Package.swift
Labels: cla: yes

#7711 add auth and storage to demo app
  Example/WatchDemo/WatchDemo.xcodeproj/project.pbxproj
  Example/WatchDemo/WatchDemo/ContentView.swift
  Example/WatchDemo/WatchDemoWatchKitExtension/ContentView.swift
Labels: cla: yes

#6568 Swift extension for RTDB
  FirebaseDatabaseSwift.podspec
  FirebaseDatabaseSwift/Sources/Codable/DataSnapshot+ReadDecodable.swift
  FirebaseDatabaseSwift/Sources/Codable/DatabaseReference+WriteEncodable.swift
  FirebaseDatabaseSwift/Sources/Codable/ServerTimestamp.swift
  FirebaseDatabaseSwift/Sources/third_party/RTDBEncoder/LICENSE
  FirebaseDatabaseSwift/Sources/third_party/RTDBEncoder/METADATA
  FirebaseDatabaseSwift/Sources/third_party/RTDBEncoder/RTDBEncoder.swift
  FirebaseDatabaseSwift/Tests/Codable/RTDBEncoderTests.swift
  FirebaseDatabaseSwift/Tests/Codable/ServerValueCodingTests.swift
  FirebaseDatabaseSwift/Tests/third_party/EncoderTests.swift
  Package.swift
Labels: api: database, cla: yes

#7719 Don't generate missing Analytics warning on Catalyst
  CoreOnly/Sources/Firebase.h
  FirebaseRemoteConfig/CHANGELOG.md
Labels: api: core, api: remoteconfig, cla: yes

#7694 Add public comments for bundles
  Firestore/Example/Tests/Integration/API/FIRBundlesTests.mm
  Firestore/Source/API/FIRLoadBundleTask.mm
  Firestore/Source/Public/FirebaseFirestore/FIRFirestore.h
  Firestore/Source/Public/FirebaseFirestore/FIRLoadBundleTask.h
Labels: api: firestore, cla: yes, public-api-change

#7703 Update release/prerelease workflows.
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  scripts/create_spec_repo/Sources/SpecRepoBuilder/main.swift
  scripts/release_testing_setup.sh
Labels: cla: yes

#7721 Firebase Analytics M91.1 update (#7710)
  Firebase.podspec
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
  Package.swift
Labels: cla: yes

#7727 Hide DatabaseSwift for M92.
  Package.swift
Labels: cla: yes

#7730 Updates to release tooling for M92.
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: cla: yes, release-tooling

#7729 Enable Analytics patch updates with Firebase pod update
  Firebase.podspec
Labels: cla: yes

#7496 Display custom FIAMs with SwiftUI
  .github/workflows/inappmessaging.yml
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessagingRendering.h
  FirebaseInAppMessaging/Swift/Source/CustomInAppMessageDisplayViewModifier.swift
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/FIAMSwiftUI.xcodeproj/project.pbxproj
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/Podfile
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/Shared/Assets.xcassets/AccentColor.colorset/Contents.json
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/Shared/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/Shared/Assets.xcassets/Contents.json
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/Shared/ContentView.swift
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/Shared/FIAMSwiftUIApp.swift
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/iOS/Info.plist
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/macOS/Info.plist
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/macOS/macOS.entitlements
  FirebaseInAppMessaging/Swift/Tests/Unit/CustomInAppMessageDisplayViewModifierTests.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/BannerMessageViewController.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/CardMessageViewController.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/ImageOnlyMessageViewController.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/ModalMessageViewController.swift
  FirebaseInAppMessagingSwift.podspec
  Package.swift
  SwiftPMTests/swift-test/main.swift
Labels: cla: yes

#7731 Add test_spec parameters for podspecs with different test_spec name.
  .github/workflows/test_coverage.yml
  scripts/code_coverage_report/pod_test_code_coverage_report.sh
Labels: cla: yes

#7728 Analytics 7.9.0
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: api: analytics, cla: yes

#7733 Bundles Fix: OrderBy should be optional, not required
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/test/unit/bundle/bundle_serializer_test.cc
Labels: api: firestore, cla: yes

#7735 Add missing new header to Firestore podspec
  FirebaseFirestore.podspec
Labels: cla: yes

#7737 Fix FIAM Swift podspec
  FirebaseInAppMessagingSwift.podspec
Labels: cla: yes

#7722 Mutable Documents
  Firestore/core/src/model/mutable_document.cc
  Firestore/core/src/model/mutable_document.h
Labels: api: firestore, cla: yes

#7741 Resolve new SPM package install warning
  .swiftpm/xcode/xcshareddata/xcschemes/Firebase-Package.xcscheme
  Package.swift
Labels: Swift Package Manager, api: firestore, cla: yes

#7740 Fix pod lib lint for watchOS + add CI test
  .github/workflows/database.yml
  FirebaseDatabase.podspec
  FirebaseDatabase/Sources/Realtime/FWebSocketConnection.m
  FirebaseDatabase/Tests/Helpers/FIRFakeApp.m
Labels: api: database, cla: yes

#7742 Merge release 7.9.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: auth, cla: yes, release-tooling

#7744 Fix SPM Catalyst test
  .github/workflows/spm.yml
  SwiftPMTests/swift-test/main.swift
Labels: Swift Package Manager, api: inappmessaging, cla: yes

#7749 Analytics 7.9.0 RC1
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: api: analytics, cla: yes

#7748 Consistent podspec minimum version management
  FirebaseABTesting.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
Labels: api: auth, cla: yes

#7746 Add missing pods to Pod Test
  CoreOnly/Tests/FirebasePodTest/Podfile
Labels: api: core, cla: yes

#7747 Move cron jobs later
  .github/workflows/abtesting.yml
  .github/workflows/analytics.yml
  .github/workflows/appdistribution.yml
  .github/workflows/auth.yml
  .github/workflows/cocoapods-integration.yml
  .github/workflows/core-diagnostics.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firebasepod.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
Labels: cla: yes

#7750 Analytics 7.9.0 RC1 fix
  FirebaseAnalytics.podspec.json
Labels: api: analytics, cla: yes

#7751 Cherry pick: Analytics 7.9.0 RC1 fix (#7750)
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: cla: yes

#7712 Add ObjectValue
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/model/object_value.cc
  Firestore/core/src/model/object_value.h
  Firestore/core/src/model/value_util.cc
  Firestore/core/src/model/value_util.h
  Firestore/core/src/nanopb/fields_array.h
  Firestore/core/src/nanopb/message.h
  Firestore/core/test/unit/model/object_value_test.cc
  Firestore/core/test/unit/model/value_util_test.cc
Labels: api: firestore, cla: yes

#7745 Fix recently introduced build warning
  Firestore/core/src/timestamp_internal.cc
Labels: api: firestore, cla: yes

#7756 Import Firebase Swift APIs into FirebasePodTest source.
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest/AppDelegate.swift
Labels: api: core, cla: yes

#7725 Throw exception when projectID is missing from FIROptions
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/FIRRemoteConfigComponent.m
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
  FirebaseRemoteConfig/Tests/Unit/FIRRemoteConfigComponentTest.m
Labels: api: remoteconfig, cla: yes

#7755 Fix recently introduced build warning (#7745)
  Firestore/core/src/timestamp_internal.cc
Labels: api: firestore, cla: yes

#7757 Analytics 7.9.0 RC2
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: api: analytics, cla: yes

#7759 Cherry pick: Analytics 7.9.0 RC2 (#7757)
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: cla: yes

#7761 Revert "Add a warning to upload-symbols when it detects an invalid dSYM"
  Crashlytics/CHANGELOG.md
  Crashlytics/upload-symbols
Labels: api: crashlytics, cla: yes

#7762 Revert "Add a warning to upload-symbols when it detects an invalid dSYM (#7705)" (#7761)
  Crashlytics/CHANGELOG.md
  Crashlytics/upload-symbols
Labels: api: crashlytics, cla: yes

#7768 Add FirebaseInAppMessagingSwift to release tooling
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: cla: yes, release-tooling

#7779 Version dependencies are required in production
  Package.swift
Labels: cla: yes

#7781 Merge 7.9.1 to master
  Package.swift
Labels: cla: yes

#7769 Update release test to generate testing repo with Cocoapods tags.
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  scripts/release_testing_setup.sh
Labels: cla: yes

#7776 Add more token tests
  FirebaseMessaging/Sources/Token/FIRMessagingTokenManager.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingBackupExcludedPlistTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingCheckinStoreTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTokenInfoTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTokenManagerTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTokenOperationsTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTokenStoreTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingUtilitiesTest.m
Labels: api: messaging, cla: yes

#7786 Delete a unwanted include
  Firestore/Example/Tests/Integration/API/FIRBundlesTests.mm
Labels: api: firestore, cla: yes

#7795 Sources for pod spec lint
  .github/workflows/analytics.yml
Labels: cla: yes

#7792 [#7791] Removed Duplicate Code in IAM
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMDefaultDisplayImpl.m
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMRenderingWindowHelper.h
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMRenderingWindowHelper.m
Labels: api: inappmessaging, cla: yes

#7789 Bump the nanopb version to 0.3.9.8
  .github/workflows/analytics.yml
  Crashlytics/ProtoSupport/generate_crashlytics_protos.sh
  Firebase/CoreDiagnostics/ProtoSupport/generate_nanopb_protos.sh
  FirebaseAppDistribution.podspec
  FirebaseCore/CHANGELOG.md
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseFirestore.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessaging/ProtoSupport/generate_nanopb_protos.sh
  FirebaseMLModelDownloader.podspec
  FirebasePerformance.podspec
  Firestore/Protos/nanopb/firestore/bundle.nanopb.cc
  Firestore/Protos/nanopb/firestore/bundle.nanopb.h
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.cc
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.h
  Firestore/Protos/nanopb/firestore/local/mutation.nanopb.cc
  Firestore/Protos/nanopb/firestore/local/mutation.nanopb.h
  Firestore/Protos/nanopb/firestore/local/target.nanopb.cc
  Firestore/Protos/nanopb/firestore/local/target.nanopb.h
  Firestore/Protos/nanopb/google/api/annotations.nanopb.cc
  Firestore/Protos/nanopb/google/api/annotations.nanopb.h
  Firestore/Protos/nanopb/google/api/http.nanopb.cc
  Firestore/Protos/nanopb/google/api/http.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/common.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/common.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/document.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/document.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/any.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/any.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/empty.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/empty.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/timestamp.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/timestamp.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/wrappers.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/wrappers.nanopb.h
  Firestore/Protos/nanopb/google/rpc/status.nanopb.cc
  Firestore/Protos/nanopb/google/rpc/status.nanopb.h
  Firestore/Protos/nanopb/google/type/latlng.nanopb.cc
  Firestore/Protos/nanopb/google/type/latlng.nanopb.h
  GoogleAppMeasurement.podspec.json
  cmake/external/nanopb.cmake
Labels: api: core, api: crashlytics, api: firestore, api: inappmessaging, cla: yes

#7801 Re-add upload-symbols warning for invalid dSYMs
  Crashlytics/CHANGELOG.md
  Crashlytics/upload-symbols
Labels: api: crashlytics, cla: yes

#7808 Fix nightly CocoaPods integration tests
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods_multiprojects_frameworks/Podfile
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods_multiprojects_staticLibs/Podfile
Labels: cla: yes

#7806 Fix Segmentation sample nightly testing failure
  .github/workflows/segmentation.yml
  FirebaseSegmentation/Tests/Sample/Podfile
Labels: api: segmentation, cla: yes

#7807 Nightly zip should use SpecsDev
  .github/workflows/zip.yml
Labels: cla: yes

#7812 Use correct preprocessor macro for Mac Catalyst
  CoreOnly/Sources/Firebase.h
Labels: cla: yes

#7739 Fix fuzzer build failure
  Firestore/core/CMakeLists.txt
  Firestore/fuzzing/CMakeLists.txt
  Firestore/fuzzing/serializer_fuzzer.cc
Labels: api: firestore, cla: yes

#7813 nanopb version bump for 7.10.0
  Package.swift
Labels: cla: yes

#7754 Fix data races detected by TSAN: HostConfig in grpc_connection.cc and g_log_level in log_stdio.cc.
  Firestore/core/src/remote/grpc_connection.cc
  Firestore/core/src/util/log_stdio.cc
Labels: api: firestore, cla: yes

#7816 Update versions for Release 7.10.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: auth, cla: yes, release-tooling

#7817 Revert "Nightly zip should use SpecsDev (#7807)"
  .github/workflows/zip.yml
Labels: cla: yes
