Repository firebase/firebase-ios-sdk, pull requests merged in 2021-05, with the labels that each got.

#8021 Xcode 12.2 and other doc updates
  AppleSilicon.md
  README.md
  ReleaseTooling/README.md
  ReleaseTooling/Template/README.md
  SwiftPackageManager.md
Labels: cla: yes, release-tooling

#8020 Run CI with default GHA Xcode version
  .github/workflows/abtesting.yml
  .github/workflows/appdistribution.yml
  .github/workflows/core-diagnostics.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firestore.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/installations.yml
  .github/workflows/messaging.yml
  .github/workflows/mlmodeldownloader.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/storage.yml
Labels: cla: yes

#8017 FieldValue changes for transform_operation
  Firestore/core/src/model/transform_operation.cc
  Firestore/core/src/model/transform_operation.h
Labels: api: firestore, cla: yes

#8014 Implement app attest key ID storage
  FirebaseAppCheck/Sources/AppAttestProvider/Storage/FIRAppAttestKeyIDStorage.h
  FirebaseAppCheck/Sources/AppAttestProvider/Storage/FIRAppAttestKeyIDStorage.m
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckErrorUtil.h
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckErrorUtil.m
  FirebaseAppCheck/Sources/Core/Storage/FIRAppCheckStorage.h
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestKeyIDStorageTests.m
Labels: api: appcheck, cla: yes

#8025 LocalStore changes for Protobuf migration
  Firestore/core/src/local/local_store.cc
  Firestore/core/src/local/local_store.h
  Firestore/core/test/unit/local/local_store_test.cc
Labels: api: firestore, cla: yes

#8015 Adjust the Messaging changelog after we remove iid from github
  FirebaseMessaging/CHANGELOG.md
Labels: api: messaging, cla: yes

#8030 Bump the minimum SwiftPM iOS version to 11.
  FirebaseCore/CHANGELOG.md
  Package.swift
  SwiftPackageManager.md
Labels: api: core, cla: yes

#8003 Test Refactor for Protobuf-backed FieldValue
  Firestore/Example/Tests/API/FIRQuerySnapshotTests.mm
  Firestore/core/test/unit/bundle/bundle_loader_test.cc
  Firestore/core/test/unit/core/query_listener_test.cc
  Firestore/core/test/unit/core/view_snapshot_test.cc
  Firestore/core/test/unit/core/view_test.cc
  Firestore/core/test/unit/local/leveldb_key_test.cc
  Firestore/core/test/unit/local/lru_garbage_collector_test.h
  Firestore/core/test/unit/local/query_engine_test.cc
  Firestore/core/test/unit/model/document_set_test.cc
  Firestore/core/test/unit/model/transform_operation_test.cc
  Firestore/core/test/unit/remote/remote_event_test.cc
  Firestore/core/test/unit/remote/watch_change_test.cc
  Firestore/core/test/unit/testutil/view_testing.cc
  Firestore/core/test/unit/testutil/view_testing.h
Labels: api: firestore, cla: yes

#8038 Restore Crashlytics to SPM
  Package.swift
Labels: cla: yes

#8039 Analytics SPM 8.0.0
  Package.swift
Labels: api: analytics, cla: yes

#8034 Changes in the iOS API for FieldValue migration
  Firestore/Source/API/FIRDocumentSnapshot.mm
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/API/FIRTransaction.mm
  Firestore/Source/API/FSTFirestoreComponent.mm
  Firestore/Source/API/FSTUserDataReader.h
  Firestore/Source/API/FSTUserDataReader.mm
Labels: api: firestore, cla: yes

#8032 App Check App Attest workflow updates: initial handshake
  FirebaseAppCheck/Sources/AppAttestProvider/API/FIRAppAttestInitialHandshakeResponse.h
  FirebaseAppCheck/Sources/AppAttestProvider/API/FIRAppAttestInitialHandshakeResponse.m
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProvider.m
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProviderState.h
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProviderState.m
  FirebaseAppCheck/Sources/AppAttestProvider/Storage/FIRAppAttestArtifactStorage.h
  FirebaseAppCheck/Sources/AppAttestProvider/Storage/FIRAppAttestArtifactStorage.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestProviderTests.m
Labels: api: appcheck, cla: yes

#8028 Simplify version processing
  FirebaseCore/Sources/FIRVersion.m
Labels: api: core, cla: yes

#7959 Port Storage Integration tests to Combine
  .github/workflows/combine.yml
  FirebaseCombineSwift.podspec
  FirebaseCombineSwift/Sources/Storage/StorageReference+Combine.swift
  FirebaseCombineSwift/Tests/Integration/Storage/StorageIntegration.swift
  scripts/build.sh
Labels: cla: yes

#8041 FIRAppAttestArtifactStorage implementation and tests
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProvider.m
  FirebaseAppCheck/Sources/AppAttestProvider/Storage/FIRAppAttestArtifactStorage.h
  FirebaseAppCheck/Sources/AppAttestProvider/Storage/FIRAppAttestArtifactStorage.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/Storage/FIRAppAttestArtifactStorageTests.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/Storage/FIRAppAttestKeyIDStorageTests.m
  Package.swift
Labels: api: appcheck, cla: yes

#8033 Implement App Attest `getRandomChallenge`
  FirebaseAppCheck/Sources/AppAttestProvider/API/FIRAppAttestAPIService.m
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProvider.m
  FirebaseAppCheck/Sources/Core/APIService/FIRAppCheckAPIService.h
  FirebaseAppCheck/Sources/Core/APIService/FIRAppCheckAPIService.m
  FirebaseAppCheck/Sources/DebugProvider/API/FIRAppCheckDebugProviderAPIService.m
  FirebaseAppCheck/Tests/Fixture/AppAttestResponseMissingChallenge.json
  FirebaseAppCheck/Tests/Fixture/AppAttestResponseSuccess.json
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestAPIServiceTests.m
Labels: api: appcheck, cla: yes

#8035 SyncEngine changes for FieldValue migration
  Firestore/core/src/core/sync_engine.cc
Labels: api: firestore, cla: yes

#8036 FieldFilter changes for Protobuf migration
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/core/array_contains_any_filter.cc
  Firestore/core/src/core/array_contains_any_filter.h
  Firestore/core/src/core/array_contains_filter.cc
  Firestore/core/src/core/array_contains_filter.h
  Firestore/core/src/core/field_filter.cc
  Firestore/core/src/core/field_filter.h
  Firestore/core/src/core/in_filter.cc
  Firestore/core/src/core/in_filter.h
  Firestore/core/src/core/key_field_filter.cc
  Firestore/core/src/core/key_field_filter.h
  Firestore/core/src/core/key_field_in_filter.cc
  Firestore/core/src/core/key_field_in_filter.h
  Firestore/core/src/core/key_field_not_in_filter.cc
  Firestore/core/src/core/key_field_not_in_filter.h
  Firestore/core/src/core/not_in_filter.cc
  Firestore/core/src/core/not_in_filter.h
  Firestore/core/src/local/local_store.cc
  Firestore/core/test/unit/nanopb/nanopb_util_test.cc
Labels: api: firestore, cla: yes

#8050 Preserve order in ArrayUnion
  Firestore/core/src/model/transform_operation.cc
  Firestore/core/test/unit/model/mutation_test.cc
Labels: api: firestore, cla: yes

#8054 Prepare RTDB Swift for release.
  FirebaseDatabaseSwift.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: database, cla: yes, release-tooling

#8046 LocalDocumentsView FieldValue migration
  Firestore/Source/API/FIRQuery.mm
  Firestore/core/src/local/local_documents_view.cc
  Firestore/core/src/local/local_documents_view.h
Labels: api: firestore, cla: yes

#8055 Mark SwiftPM support as Official.
  FirebaseCore/CHANGELOG.md
  README.md
  SwiftPackageManager.md
Labels: Swift Package Manager, api: core, cla: yes

#8059 App Check App Attest: attestation request
  FirebaseAppCheck/Sources/AppAttestProvider/API/FIRAppAttestAPIService.h
  FirebaseAppCheck/Sources/AppAttestProvider/API/FIRAppAttestAPIService.m
  FirebaseAppCheck/Sources/AppAttestProvider/API/FIRAppAttestAttestationResponse.h
  FirebaseAppCheck/Sources/AppAttestProvider/API/FIRAppAttestAttestationResponse.m
  FirebaseAppCheck/Sources/AppAttestProvider/API/FIRAppAttestInitialHandshakeResponse.m
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProvider.m
  FirebaseAppCheck/Sources/Core/APIService/FIRAppCheckToken+APIResponse.h
  FirebaseAppCheck/Sources/Core/APIService/FIRAppCheckToken+APIResponse.m
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckErrorUtil.h
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckErrorUtil.m
  FirebaseAppCheck/Tests/Fixture/AppAttestAttestationResponseSuccess.json
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestAPIServiceTests.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestProviderTests.m
Labels: api: appcheck, cla: yes

#8060 SPM scheme cleanup
  .github/workflows/spm.yml
  .gitignore
  .swiftpm/xcode/xcshareddata/xcschemes/Firebase-Package.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/Firebase.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseAuth.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseCore.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseCrashlytics.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseFunctions.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseInstallations.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseMLModelDownloaderUnit.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseStorage.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseStorageSwift.xcscheme
Labels: cla: yes

#8064 Add CHANGELOG for RTDB Swift
  FirebaseDatabaseSwift/CHANGELOG.md
Labels: cla: yes

#8061 Minor error handling improvements
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/Source/API/FIRTransaction.mm
  Firestore/core/src/api/document_reference.cc
  Firestore/core/src/api/firestore.cc
  Firestore/core/src/api/write_batch.cc
  Firestore/core/src/model/resource_path.cc
  Firestore/core/src/util/exception.cc
Labels: api: firestore, cla: yes

#8067 App Check App Attest initial handshake adjustments
  FirebaseAppCheck/Apps/FIRAppCheckTestApp/FIRAppCheckTestApp/AppDelegate.swift
  FirebaseAppCheck/Apps/FIRAppCheckTestApp/Podfile
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProvider.m
  FirebaseAppCheck/Sources/Core/Utils/FIRAppCheckCryptoUtils.h
  FirebaseAppCheck/Sources/Core/Utils/FIRAppCheckCryptoUtils.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestProviderTests.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckCryptoUtilsTests.m
Labels: api: appcheck, cla: yes

#8068 Fail the cmake build if reading the version from the podspec fails
  cmake/podspec_rules.cmake
Labels: api: firestore, cla: yes

#8069 Restore FirebaseMLModelDownloaderUnit.xcscheme
  .swiftpm/xcode/xcshareddata/xcschemes/FirebaseMLModelDownloaderUnit.xcscheme
Labels: cla: yes

#8008 TestUtil methods that create Protobuf
  Firestore/core/test/unit/testutil/testutil.cc
  Firestore/core/test/unit/testutil/testutil.h
Labels: api: firestore, cla: yes

#8065 Implement API for ExchangeAppAttestAssertionRequest endpoint
  FirebaseAppCheck/Sources/AppAttestProvider/API/FIRAppAttestAPIService.h
  FirebaseAppCheck/Sources/AppAttestProvider/API/FIRAppAttestAPIService.m
  FirebaseAppCheck/Tests/Fixture/FACTokenExchangeResponseSuccess.json
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestAPIServiceTests.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckAPIServiceTests.m
  FirebaseAppCheck/Tests/Unit/DeviceCheckProvider/FIRDeviceCheckAPIServiceTests.m
Labels: api: appcheck, cla: yes

#8071 Protobuf changes for View/FirestoreClient
  Firestore/core/src/core/firestore_client.cc
  Firestore/core/src/core/view.cc
  Firestore/core/src/core/view.h
Labels: api: firestore, cla: yes

#8072 Random test migrations to Protobuf
  Firestore/core/test/unit/local/lru_garbage_collector_test.cc
  Firestore/core/test/unit/model/document_test.cc
  Firestore/core/test/unit/model/mutation_test.cc
  Firestore/core/test/unit/model/no_document_test.cc
  Firestore/core/test/unit/model/precondition_test.cc
  Firestore/core/test/unit/remote/datastore_test.cc
Labels: api: firestore, cla: yes

#8043 RemoteDocumentCache changes
  Firestore/core/src/local/leveldb_remote_document_cache.cc
  Firestore/core/src/local/leveldb_remote_document_cache.h
  Firestore/core/src/local/memory_remote_document_cache.cc
  Firestore/core/src/local/memory_remote_document_cache.h
  Firestore/core/src/local/remote_document_cache.h
  Firestore/core/test/unit/local/remote_document_cache_test.cc
  Firestore/core/test/unit/local/remote_document_cache_test.h
Labels: api: firestore, cla: yes

#8070 Update Query code to use Protobuf
  Firestore/core/src/core/bound.cc
  Firestore/core/src/core/bound.h
  Firestore/core/src/core/order_by.cc
  Firestore/core/src/core/query.cc
  Firestore/core/test/unit/core/query_test.cc
  Firestore/core/test/unit/model/mutation_test.cc
Labels: api: firestore, cla: yes

#7991 ValueUtil changes for FieldValue migration
  Firestore/core/src/model/server_timestamp_util.cc
  Firestore/core/src/model/server_timestamp_util.h
  Firestore/core/src/model/value_util.cc
  Firestore/core/src/model/value_util.h
Labels: api: firestore, cla: yes

#8084 Restore Carthage
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/Sources/ZipBuilder/CarthageUtils.swift
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
Labels: cla: yes, release-tooling

#8087 Update Carthage distribution for 8.0.0
  Carthage.md
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: abtesting, api: appcheck, api: appdistribution, api: auth, api: crashlytics, api: database, api: dynamiclinks, api: inappmessaging, api: messaging, api: performance, api: remoteconfig, api: storage, cla: yes, release-tooling

#8073 Objective-C Test Changes
  Firestore/Example/Tests/API/FSTAPIHelpers.mm
  Firestore/Example/Tests/API/FSTUserDataReaderTests.mm
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/Util/FSTHelpers.h
  Firestore/Example/Tests/Util/FSTHelpers.mm
Labels: api: firestore, cla: yes

#8076 Migrate Serializer to Protobuf
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/src/core/bound.cc
  Firestore/core/src/local/local_serializer.cc
  Firestore/core/src/local/local_serializer.h
  Firestore/core/src/model/mutable_document.cc
  Firestore/core/src/model/mutable_document.h
  Firestore/core/src/model/object_value.cc
  Firestore/core/src/nanopb/nanopb_util.h
  Firestore/core/src/remote/remote_objc_bridge.cc
  Firestore/core/src/remote/remote_objc_bridge.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/src/remote/serializer.h
  Firestore/core/test/unit/local/local_serializer_test.cc
  Firestore/core/test/unit/remote/serializer_test.cc
Labels: api: firestore, cla: yes

#8098 Always build Carthage with Firebase zip distributions
  ReleaseTooling/DEVELOP.md
  ReleaseTooling/Sources/ZipBuilder/FirebaseBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/main.swift
  scripts/build_zip.sh
Labels: cla: yes, release-tooling

#8104 Special instructions no longer necessary for Apple Silicon
  README.md
Labels: cla: yes

#8097 App Check: store App Attest artifact per key ID
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProvider.m
  FirebaseAppCheck/Sources/AppAttestProvider/Storage/FIRAppAttestArtifactStorage.h
  FirebaseAppCheck/Sources/AppAttestProvider/Storage/FIRAppAttestArtifactStorage.m
  FirebaseAppCheck/Sources/AppAttestProvider/Storage/FIRAppAttestStoredArtifact.h
  FirebaseAppCheck/Sources/AppAttestProvider/Storage/FIRAppAttestStoredArtifact.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestProviderTests.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/Storage/FIRAppAttestArtifactStorageTests.m
Labels: api: appcheck, cla: yes

#8088 FirebaseCombineSwift: Docs & API cleanup
  FirebaseCombineSwift/Sources/Auth/Auth+Combine.swift
  FirebaseCombineSwift/Sources/Auth/GameCenterAuthProvider+Combine.swift
  FirebaseCombineSwift/Sources/Auth/MultiFactor+Combine.swift
  FirebaseCombineSwift/Sources/Auth/MultiFactorResolver+Combine.swift
  FirebaseCombineSwift/Sources/Auth/OAuthProvider+Combine.swift
  FirebaseCombineSwift/Sources/Auth/PhoneAuthProvider+Combine.swift
  FirebaseCombineSwift/Sources/Auth/User+Combine.swift
  FirebaseCombineSwift/Sources/Core/Core.swift
  FirebaseCombineSwift/Sources/Functions/HTTPSCallable+Combine.swift
  FirebaseCombineSwift/Sources/Storage/StorageReference+Combine.swift
Labels: Docs, api: auth, api: functions, api: storage, cla: yes

#8103 Potential integer overflow fix
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Helpers/FIRCLSFile.m
Labels: api: crashlytics, cla: yes

#8115 Remove unused method
  Crashlytics/Crashlytics/Components/FIRCLSProcess.c
  Crashlytics/Crashlytics/Components/FIRCLSProcess.h
  Crashlytics/Crashlytics/Handlers/FIRCLSHandler.m
Labels: api: crashlytics, cla: yes

#8114 Change variable logged when handler unable to be installed
  Crashlytics/Crashlytics/Handlers/FIRCLSSignal.c
Labels: api: crashlytics, cla: yes

#8118 Fix setting of in-app message type in `FIRInAppMessagingImageOnlyDisplay` initializer
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/RenderingObjects/FIRInAppMessagingRenderingDataClasses.m
  FirebaseInAppMessaging/Tests/Unit/FIRIAMDisplayExecutorTests.m
Labels: api: inappmessaging, cla: yes

#8119 Spelling fixes in FIRCLSFile.m
  Crashlytics/Crashlytics/Helpers/FIRCLSFile.m
Labels: api: crashlytics, cla: yes

#8019 Add a validation check to `Settings`
  Firestore/core/src/api/firestore.cc
Labels: api: firestore, cla: yes

#8093 Build release zip from GHA
  .github/workflows/zip.yml
  .gitignore
  ReleaseTooling/.gitignore
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/ZipBuilder/CarthageUtils.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/main.swift
  scripts/build_zip.sh
Labels: api: core, api: storage, cla: yes, release-tooling

#8113 Combine: Add a sample app
  Example/CombineSample/CombineSample.xcodeproj/project.pbxproj
  Example/CombineSample/CombineSample.xcodeproj/xcshareddata/xcschemes/CombineSample.xcscheme
  Example/CombineSample/CombineSample.xcworkspace/contents.xcworkspacedata
  Example/CombineSample/CombineSample.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Example/CombineSample/CombineSample/App/CombineSampleApp.swift
  Example/CombineSample/CombineSample/Assets.xcassets/AccentColor.colorset/Contents.json
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/100.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/1024.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/114.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/120.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/128.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/144.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/152.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/16.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/167.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/172.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/180.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/196.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/20.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/216.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/256.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/29.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/32.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/40.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/48.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/50.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/512.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/55.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/57.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/58.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/60.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/64.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/72.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/76.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/80.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/87.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/88.png
  Example/CombineSample/CombineSample/Assets.xcassets/AppIcon.appiconset/Contents.json
  Example/CombineSample/CombineSample/Assets.xcassets/Contents.json
  Example/CombineSample/CombineSample/Info.plist
  Example/CombineSample/CombineSample/Preview Content/Preview Assets.xcassets/Contents.json
  Example/CombineSample/CombineSample/ViewModels/Authentication/AnonymousSignInViewModel.swift
  Example/CombineSample/CombineSample/ViewModels/Authentication/UserInfoViewModel.swift
  Example/CombineSample/CombineSample/Views/Authentication/AnonymousSignInView.swift
  Example/CombineSample/CombineSample/Views/Authentication/AuthenticationMenuView.swift
  Example/CombineSample/CombineSample/Views/Authentication/UserInfoView.swift
  Example/CombineSample/CombineSample/Views/LabelTextView.swift
  Example/CombineSample/CombineSample/Views/MenuView.swift
  Example/CombineSample/README.md
Labels: api: auth, cla: yes

#8120 Propogate signals after handling
  Crashlytics/Crashlytics/Handlers/FIRCLSMachException.c
  Crashlytics/Crashlytics/Handlers/FIRCLSSignal.c
  Crashlytics/Crashlytics/Handlers/FIRCLSSignal.h
Labels: api: crashlytics, cla: yes

#8075 Remaining Bundle changes
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/bundle/bundle_callback.h
  Firestore/core/src/bundle/bundle_document.h
  Firestore/core/src/bundle/bundle_loader.cc
  Firestore/core/src/bundle/bundle_loader.h
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/src/bundle/bundle_serializer.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/src/remote/serializer.h
  Firestore/core/test/unit/bundle/bundle_serializer_test.cc
Labels: api: firestore, cla: yes

#7871 Add console URL logging.
  FirebasePerformance/Sources/Common/FPRConsoleURLGenerator.h
  FirebasePerformance/Sources/Common/FPRConsoleURLGenerator.m
  FirebasePerformance/Sources/FPRClient+Private.h
  FirebasePerformance/Sources/FPRClient.m
  FirebasePerformance/Tests/Unit/Common/FPRConsoleURLGeneratorTest.m
Labels: api: performance, cla: yes

#8127 Synchronize access to active path
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Components/FIRCLSUserLogging.m
Labels: api: crashlytics, cla: yes

#8117 App Check: prevent concurrent token requests
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProvider.m
  FirebaseAppCheck/Sources/Core/FIRAppCheck.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestProviderTests.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckTests.m
Labels: api: appcheck, cla: yes

#8125 Use parseQueryHelper
  Firestore/Source/API/FSTUserDataReader.mm
Labels: api: firestore, cla: yes

#8132 Fix zip qs test build regression
  .github/workflows/zip.yml
Labels: cla: yes

#8144 Update upload symbols tool logs
  Crashlytics/upload-symbols
Labels: api: crashlytics, cla: yes

#8138 Update CHANGELOG.md for M97 release.
  FirebasePerformance/CHANGELOG.md
Labels: api: performance, cla: yes

#8145 Crashlytics fix os_name check for iPads
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Components/FIRCLSApplication.m
Labels: api: crashlytics, cla: yes

#8129 Fix an issue that notification open is not logged when app is closed
  FirebaseMessaging/Apps/AdvancedSample/Podfile
  FirebaseMessaging/Apps/Sample/Podfile
  FirebaseMessaging/Apps/Sample/Sample.xcodeproj/xcshareddata/xcschemes/Sample.xcscheme
  FirebaseMessaging/Apps/Shared/AppDelegate.swift
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessagingAnalytics.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingAnalyticsTest.m
Labels: api: messaging, cla: yes

#8146 Update merge branch in the Metrics Service
  .github/workflows/test_coverage.yml
Labels: cla: yes

#8150 Analytics 8.1.0
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: api: analytics, cla: yes

#8152 Update versions for Release 8.1.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  Package.swift
Labels: cla: yes

#8153 Update release manifest version 8.1.0
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: cla: yes, release-tooling

#8155 Print FirebaseReleaser duration
  ReleaseTooling/Sources/FirebaseReleaser/main.swift
  ReleaseTooling/Sources/Utils/Date+Utils.swift
Labels: cla: yes, release-tooling

#8156 Fix code coverage branch
  .github/workflows/test_coverage.yml
Labels: cla: yes

#8158 Update params of code coverage tool
  .github/workflows/test_coverage.yml
  scripts/code_coverage_report/generate_code_coverage_report/Sources/CoverageReportGenerator/main.swift
Labels: cla: yes

#8157 Applied shell wrapper to the current code coverage.
  scripts/code_coverage_report/generate_code_coverage_report/Package.swift
  scripts/code_coverage_report/generate_code_coverage_report/Sources/CoverageReportGenerator/CoverageReportParser.swift
  scripts/code_coverage_report/generate_code_coverage_report/Sources/Utils/ShellUtils.swift
Labels: cla: yes

#8163 update changelogs
  FirebaseDatabaseSwift/CHANGELOG.md
  FirebasePerformance/CHANGELOG.md
Labels: api: database, api: performance, cla: yes

#8074 Serializer should guard against invalid input.
  Firestore/core/src/remote/serializer.cc
  Firestore/core/test/unit/remote/serializer_test.cc
Labels: api: firestore, cla: yes
