Repository firebase/firebase-ios-sdk, pull requests merged in 2021-06, with the labels that each got.

#8170 App Check App Attest: handle attestation rejection
  FirebaseAppCheck/Sources/AppAttestProvider/API/FIRAppAttestAPIService.m
  FirebaseAppCheck/Sources/AppAttestProvider/Errors/FIRAppAttestRejectionError.h
  FirebaseAppCheck/Sources/AppAttestProvider/Errors/FIRAppAttestRejectionError.m
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProvider.m
  FirebaseAppCheck/Sources/Core/APIService/FIRAppCheckAPIService.m
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckErrorUtil.h
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckErrorUtil.m
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckHTTPError.h
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckHTTPError.m
  FirebaseAppCheck/Sources/Core/FIRAppCheck.m
  FirebaseAppCheck/Sources/Core/FIRAppCheckLogger.h
  FirebaseAppCheck/Sources/Core/FIRAppCheckLogger.m
  FirebaseAppCheck/Sources/DebugProvider/FIRAppCheckDebugProvider.m
  FirebaseAppCheck/Sources/DebugProvider/FIRAppCheckDebugProviderFactory.m
  FirebaseAppCheck/Sources/DeviceCheckProvider/FIRDeviceCheckProvider.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestAPIServiceTests.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestProviderTests.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckTests.m
Labels: api: appcheck, cla: yes

#8160 Create a JSON file with added lines.
  scripts/code_coverage_report/git_diff_to_json.sh
Labels: cla: yes

#8162 Fix deprecation warning when minimum deployment version is iOS 13+
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Components/FIRCLSApplication.m
Labels: cla: yes

#8174 Set valid format of notification sample
  FirebaseMessaging/Tests/UnitTests/FIRMessagingAnalyticsTest.m
Labels: api: messaging, cla: yes

#8176 M97 carthage files update
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: abtesting, api: appcheck, api: appdistribution, api: auth, api: crashlytics, api: database, api: dynamiclinks, api: inappmessaging, api: messaging, api: performance, api: remoteconfig, api: storage, cla: yes, release-tooling

#8184 Fix AppCheck Catalyst build on Xcode 12.4
  .github/workflows/app_check.yml
  FirebaseAppCheck/Sources/AppAttestProvider/DCAppAttestService+FIRAppAttestService.h
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProvider.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestProviderTests.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/Storage/FIRAppAttestArtifactStorageTests.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckIntegrationTests.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckStorageTests.m
Labels: api: appcheck, cla: yes

#8177 Update log messages with proper log levels.
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/FPRClient.m
  FirebasePerformance/Sources/Gauges/FPRGaugeManager.m
  FirebasePerformance/Sources/Instrumentation/FPRNetworkTrace.m
  FirebasePerformance/Sources/Instrumentation/Network/Delegates/FPRNSURLSessionDelegate.m
  FirebasePerformance/Sources/Instrumentation/Network/Delegates/FPRNSURLSessionDelegateInstrument.m
Labels: api: performance, cla: yes

#8182 Fix Resource generation for Carthage xcframeworks
  ReleaseTooling/Sources/ZipBuilder/FirebaseBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
Labels: cla: yes, release-tooling

#8173 Generate a JSON file with newly added lines not covered by tests.
  scripts/code_coverage_report/generate_code_coverage_report/Package.swift
  scripts/code_coverage_report/generate_code_coverage_report/Sources/IncrementalCoverageReportGenerator/main.swift
  scripts/code_coverage_report/generate_code_coverage_report/Sources/Utils/JSONParser.swift
Labels: cla: yes

#8186 Post/update incremental coverage report on PRs.
  scripts/code_coverage_report/post_incremental_coverage_in_pr.rb
Labels: cla: yes

#8195 Fix build warning
  Firestore/core/src/model/value_util.cc
Labels: api: firestore, cla: yes

#8193 Support Unity generated Podfiles
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: cla: yes

#8187 Reduce ObjectValue copies
  Firestore/Example/Tests/Util/FSTHelpers.mm
  Firestore/Source/API/FIRDocumentSnapshot.mm
  Firestore/Source/API/FSTUserDataReader.mm
  Firestore/core/src/api/document_snapshot.cc
  Firestore/core/src/api/document_snapshot.h
  Firestore/core/src/core/view.cc
  Firestore/core/src/local/local_serializer.cc
  Firestore/core/src/local/local_store.cc
  Firestore/core/src/model/mutable_document.h
  Firestore/core/test/unit/bundle/bundle_serializer_test.cc
  Firestore/core/test/unit/local/remote_document_cache_test.cc
Labels: api: firestore, cla: yes

#8199 Update SPM distro to GDT 9
  Package.swift
Labels: cla: yes

#8197 Add Incremental Code Coverage to the Workflow
  .github/workflows/test_coverage.yml
  scripts/code_coverage_report/Gemfile
  scripts/code_coverage_report/code_coverage_file_list.json
  scripts/code_coverage_report/generate_code_coverage_report/Sources/IncrementalCoverageReportGenerator/main.swift
  scripts/code_coverage_report/git_diff_to_json.sh
Labels: cla: yes

#8140 Fix lack of parse for fiam modal action button
  FirebaseInAppMessaging/Sources/Data/FIRIAMFetchResponseParser.m
  FirebaseInAppMessaging/Tests/Unit/FIRIAMFetchResponseParserTests.m
  FirebaseInAppMessaging/Tests/Unit/TestJsonDataFromFetch.txt
Labels: api: inappmessaging, cla: yes

#8211 Fix Xcode 12.5 analyze issue in Storage unit tests
  .swiftpm/xcode/xcshareddata/xcschemes/StorageUnit.xcscheme
  FirebaseStorage/Tests/Unit/FIRStorageReferenceTests.m
Labels: api: storage, cla: yes

#8189 Make a copy of sessionDetails to avoid the risk of losing object during acting on notification of sessionID change.
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/AppActivity/FPRSessionDetails.m
  FirebasePerformance/Sources/Instrumentation/FPRNetworkTrace.m
  FirebasePerformance/Sources/Timer/FIRTrace.m
Labels: api: performance, cla: yes

#8208 Fixed analyze issue introduced in Xcode 12.5
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.m
Labels: api: dynamiclinks, cla: yes

#8209 Fix analyze issue introduced in Xcode 12.5
  .swiftpm/xcode/xcshareddata/xcschemes/ABTestingUnit.xcscheme
  FirebaseABTesting/CHANGELOG.md
  FirebaseABTesting/Sources/ABTExperimentPayload.m
  FirebaseABTesting/Sources/Private/ABTExperimentPayload.h
Labels: api: abtesting, cla: yes

#8210 Fixed analyze issues introduced in Xcode 12.5
  .swiftpm/xcode/xcshareddata/xcschemes/AuthUnit.xcscheme
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/AuthProvider/Phone/FIRPhoneAuthProvider.m
  FirebaseAuth/Tests/Unit/FIRFakeBackendRPCIssuer.h
  FirebaseAuth/Tests/Unit/FIRFakeBackendRPCIssuer.m
Labels: api: auth, cla: yes

#8212 Stop flooding Swift Package Manager projects with Firebase test schemes
  .github/workflows/abtesting.yml
  .github/workflows/app_check.yml
  .github/workflows/appdistribution.yml
  .github/workflows/auth.yml
  .github/workflows/core-diagnostics.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/installations.yml
  .github/workflows/messaging.yml
  .github/workflows/mlmodeldownloader.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/spm.yml
  .github/workflows/storage.yml
  .gitignore
  FirebaseCore/CHANGELOG.md
  README.md
  scripts/setup_spm_tests.sh
  scripts/spm_test_schemes/ABTestingUnit.xcscheme
  scripts/spm_test_schemes/AppCheckUnit.xcscheme
  scripts/spm_test_schemes/AppCheckUnitSwift.xcscheme
  scripts/spm_test_schemes/AppDistributionUnit.xcscheme
  scripts/spm_test_schemes/AuthUnit.xcscheme
  scripts/spm_test_schemes/CoreUnit.xcscheme
  scripts/spm_test_schemes/DatabaseUnit.xcscheme
  scripts/spm_test_schemes/FirebaseMLModelDownloaderUnit.xcscheme
  scripts/spm_test_schemes/FirestoreTestingSupportTests.xcscheme
  scripts/spm_test_schemes/FunctionsCombineUnit.xcscheme
  scripts/spm_test_schemes/MessagingUnit.xcscheme
  scripts/spm_test_schemes/RemoteConfigUnit.xcscheme
  scripts/spm_test_schemes/StorageUnit.xcscheme
  scripts/spm_test_schemes/analytics-import-test.xcscheme
  scripts/spm_test_schemes/objc-import-test.xcscheme
  scripts/spm_test_schemes/swift-test.xcscheme
  scripts/spm_test_schemes/version-test.xcscheme
Labels: api: core, cla: yes

#8214 Add check to address 8210 review
  FirebaseAuth/Sources/AuthProvider/Phone/FIRPhoneAuthProvider.m
Labels: cla: yes

#8216 Fix style issue from quick merge of 8214
  FirebaseAuth/Sources/AuthProvider/Phone/FIRPhoneAuthProvider.m
Labels: api: auth, cla: yes

#8219 Add new Facebook SDK dependency pod
  .github/workflows/zip.yml
Labels: cla: yes

#8229 Fix One Line Coverage Report Post
  scripts/code_coverage_report/post_incremental_coverage_in_pr.rb
Labels: cla: yes

#8233 SPM 8.1.1
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
  Package.swift
Labels: cla: yes

#8235 Cherry-pick Analytics PR and update versions and release notes for 8.1.1
  Firebase.podspec
  FirebaseAnalytics.podspec.json
  FirebaseCore/CHANGELOG.md
  GoogleAppMeasurement.podspec.json
  Package.swift
Labels: api: core, cla: yes

#8225 Remove absl::optional from firestore::api
  Firestore/Source/API/FIRFirestore.mm
  Firestore/core/src/api/api_fwd.h
  Firestore/core/src/core/firestore_client.cc
Labels: api: firestore, cla: yes

#8234 Speed up SPM CI by reducing full Firebase rebuilds
  .github/workflows/spm.yml
Labels: cla: yes

#8240 Carthage update for 8.1.1
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
Labels: cla: yes, release-tooling

#8241 Merge 8.1.1 to master
  Firebase.podspec
  FirebaseCore/CHANGELOG.md
  Package.swift
Labels: api: core, cla: yes

#8246 Disable code coverage for external developers
  .github/workflows/test_coverage.yml
Labels: cla: yes

#8231 Wrap Protobuf for Query Filters in Messages
  Firestore/Source/API/FIRQuery.mm
  Firestore/core/src/api/query_core.cc
  Firestore/core/src/api/query_core.h
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/src/core/array_contains_any_filter.cc
  Firestore/core/src/core/array_contains_any_filter.h
  Firestore/core/src/core/array_contains_filter.cc
  Firestore/core/src/core/array_contains_filter.h
  Firestore/core/src/core/field_filter.cc
  Firestore/core/src/core/field_filter.h
  Firestore/core/src/core/in_filter.cc
  Firestore/core/src/core/in_filter.h
  Firestore/core/src/core/key_field_filter.cc
  Firestore/core/src/core/key_field_filter.h
  Firestore/core/src/core/key_field_in_filter.cc
  Firestore/core/src/core/key_field_in_filter.h
  Firestore/core/src/core/key_field_not_in_filter.cc
  Firestore/core/src/core/key_field_not_in_filter.h
  Firestore/core/src/core/not_in_filter.cc
  Firestore/core/src/core/not_in_filter.h
  Firestore/core/src/nanopb/message.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/test/unit/testutil/testutil.cc
Labels: api: firestore, cla: yes

#8254 Fix inconsistent type assignment detected by Xcode 12.5 analyzer
  FirebaseSegmentation/Sources/SEGDatabaseManager.m
Labels: api: segmentation, cla: yes

#8256 Fix versioning bug in release tooling
  ReleaseTooling/Sources/FirebaseReleaser/InitializeRelease.swift
  ReleaseTooling/Sources/Utils/String+Utils.swift
Labels: cla: yes, release-tooling

#8248 Explicitly check that document and collection IDs given to the public API aren't empty
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/Source/API/FIRCollectionReference.mm
  Firestore/Source/API/FIRDocumentReference.mm
  Firestore/Source/API/FIRFirestore.mm
Labels: api: firestore, cla: yes

#8196 Bug fix in account linking flows
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
Labels: api: auth, cla: yes

#8243 Add dummy constraint to card view to fix Autolayout missing constraints
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/iOS/Resources/FIRInAppMessageDisplayStoryboard.storyboard
Labels: api: inappmessaging, cla: yes

#8178 Cache FirebaseStorage instances
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/FIRStorageComponent.m
  FirebaseStorage/Tests/Integration/FIRStorageIntegrationTests.m
  FirebaseStorage/Tests/Unit/FIRStorageComponentTests.m
Labels: api: storage, cla: yes

#8236 ObjectValue should take ownership of values
  Firestore/core/src/model/object_value.cc
  Firestore/core/src/model/object_value.h
  Firestore/core/src/model/patch_mutation.cc
  Firestore/core/src/nanopb/message.h
Labels: api: firestore, cla: yes

#8237 Don't leak Query name
  Firestore/core/src/local/local_serializer.cc
Labels: api: firestore, cla: yes

#8203 Ensure sound is assigned with right type
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessagingContextManagerService.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingContextManagerServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingUtilitiesTest.m
Labels: api: messaging, cla: yes

#8257 Fix a data race in `GrpcConnection` when retrieving the language token.
  Firestore/core/src/remote/grpc_connection.cc
Labels: api: firestore, cla: yes

#8258 Cache Functions instances by app
  .github/workflows/functions.yml
  Functions/CHANGELOG.md
  Functions/Example/Tests/FIRFunctionsTests.m
  Functions/FirebaseFunctions/FIRFunctions.m
  Functions/FirebaseFunctions/FIRFunctionsComponent.h
  Functions/FirebaseFunctions/FIRFunctionsComponent.m
  Functions/FirebaseFunctions/FIRFunctions_Private.h
  Functions/FirebaseFunctions/Public/FirebaseFunctions/FIRFunctions.h
  Functions/Tests/CombineUnit/HTTPSCallableTests.swift
Labels: api: functions, cla: yes, public-api-change

#8260 M98 Analytics
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: api: analytics, cla: yes

#8262 Changelog update for M98
  Crashlytics/CHANGELOG.md
  FirebaseStorage/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: crashlytics, api: firestore, api: storage, cla: yes

#8194 Add support for network request completed field.
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/Instrumentation/Network/Delegates/FPRNSURLConnectionDelegate.m
  FirebasePerformance/Sources/Instrumentation/Network/Delegates/FPRNSURLConnectionDelegateInstrument.m
  FirebasePerformance/Sources/Instrumentation/Network/Delegates/FPRNSURLSessionDelegate.m
  FirebasePerformance/Sources/Instrumentation/Network/Delegates/FPRNSURLSessionDelegateInstrument.m
  FirebasePerformance/Tests/Unit/Instruments/FPRNSURLConnectionInstrumentTest.m
  FirebasePerformance/Tests/Unit/Instruments/FPRNSURLSessionInstrumentTest.m
Labels: api: performance, cla: yes

#8264 Eliminate invalid subspec
  FirebaseAnalytics.podspec.json
Labels: cla: yes

#8265 Re-enable HTTPSCallableTests
  .github/workflows/functions.yml
  Functions/CHANGELOG.md
  Functions/FirebaseFunctions/FIRFunctions.m
  Functions/FirebaseFunctions/FIRFunctionsComponent.h
  Functions/FirebaseFunctions/FIRFunctionsComponent.m
Labels: api: functions, cla: yes

#8267 Update versions for Release 8.2.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: abtesting, api: appcheck, api: appdistribution, api: auth, api: core, api: crashlytics, api: database, api: dynamiclinks, api: firestore, api: functions, api: inappmessaging, api: installations, api: messaging, api: performance, api: remoteconfig, api: storage, cla: yes, release-tooling

#8242 Bundle takes SharedMessage
  Firestore/Source/API/FIRQuery.mm
  Firestore/core/src/api/query_core.cc
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/src/core/bound.cc
  Firestore/core/src/core/bound.h
  Firestore/core/src/nanopb/message.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/test/unit/bundle/bundle_serializer_test.cc
  Firestore/core/test/unit/core/query_test.cc
  Firestore/core/test/unit/remote/serializer_test.cc
  Firestore/core/test/unit/testutil/testutil.cc
Labels: api: firestore, cla: yes

#8269 Crashlytics remove unnecessary Analytics header
  Crashlytics/Crashlytics/Controllers/FIRCLSAnalyticsManager.h
Labels: api: crashlytics, cla: yes

#8272 Add Package.resolved to .gitignore
  .gitignore
Labels: cla: yes

#8271 Fix newly failing auth combine test
  FirebaseCombineSwift/Tests/Unit/Auth/UserTests.swift
Labels: cla: yes

#8279 Update FIS IID error message
  FirebaseInstallations/Source/Library/FIRInstallations.m
Labels: api: installations, cla: yes

#8270 [App Distribution] Reset sign in flag on unauthorized error
  FirebaseAppDistribution/CHANGELOG.md
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistribution/Tests/Unit/FIRAppDistributionTests.m
Labels: api: appdistribution, cla: yes

#8284 Revert "Support Unity generated Podfiles (#8193)"
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: cla: yes

#8285 Revert "Support Unity generated Podfiles (#8193)" (#8284)
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: cla: yes

#8287 Better analyze fix
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
Labels: api: dynamiclinks, cla: yes

#8290 Fix bad frameworks in zip yaml
  .github/workflows/zip.yml
Labels: cla: yes

#8291 M98 carthage update
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: abtesting, api: appcheck, api: appdistribution, api: auth, api: crashlytics, api: database, api: dynamiclinks, api: inappmessaging, api: messaging, api: performance, api: remoteconfig, api: storage, cla: yes, release-tooling

#8292 Fix Swift version for zip tests
  scripts/build_non_firebase_sdks.sh
Labels: cla: yes

#8296 Punt pause task to the end of the queue
  FirebaseStorage/Sources/FIRStorage.m
  FirebaseStorage/Sources/FIRStorageDownloadTask.m
Labels: api: storage, cla: yes

#8298 Changelog for #8294
  FirebaseStorage/CHANGELOG.md
Labels: api: storage, cla: yes

#8295 Swift first exception messages
  FirebaseAppCheck/Sources/Core/FIRAppCheck.m
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseCore/Sources/FIRApp.m
  FirebaseDatabase/Sources/Api/FIRDatabase.m
  FirebaseInstallations/Source/Library/FIRInstallations.m
Labels: api: appcheck, api: auth, api: core, api: database, api: installations, cla: yes

#8311 Update AppCheck subspec dependency to support macOS / tvOS
  Firebase.podspec
Labels: cla: yes

#8308 Add missing Crashlytics dependency
  Crashlytics/CHANGELOG.md
  FirebaseCrashlytics.podspec
  Package.swift
Labels: api: crashlytics, cla: yes

#8297 Don't leak memory when all fields are deleted
  Firestore/core/src/model/object_value.cc
Labels: api: firestore, cla: yes

#8315 Bump deps for 8.3.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec.json
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  GoogleAppMeasurement.podspec.json
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: abtesting, api: appcheck, api: appdistribution, api: auth, api: core, api: crashlytics, api: database, api: dynamiclinks, api: firestore, api: functions, api: inappmessaging, api: installations, api: messaging, api: performance, api: remoteconfig, api: storage, cla: yes, release-tooling

#8316 Update base commit of code coverage
  .github/workflows/test_coverage.yml
Labels: cla: yes

#8319 CHANGELOG updates for M99
  FirebaseAppCheck/CHANGELOG.md
  FirebaseAppDistribution/CHANGELOG.md
Labels: api: appcheck, api: appdistribution, cla: yes

#8320 whitespace fix
  FirebaseAppCheck/CHANGELOG.md
  FirebaseAppDistribution/CHANGELOG.md
Labels: api: appcheck, api: appdistribution, cla: yes

#8322 Analytics 8.3.0
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: api: analytics, cla: yes

#8323 Analytics SPM 8.3.0
  Package.swift
Labels: cla: yes

#8314 Standardize transaction retries to attempts
  Firestore/Example/Tests/Integration/FSTTransactionTests.mm
  Firestore/core/src/core/transaction_runner.cc
  Firestore/core/src/core/transaction_runner.h
Labels: api: firestore, cla: yes

#8326 Update Analytics 8.3.0
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
  Package.swift
Labels: api: analytics, cla: yes

#8327 Update Analytics 8.3.0 (#8326)
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
  Package.swift
Labels: cla: yes
