Repository firebase/firebase-ios-sdk, pull requests merged in 2021-11, with the labels that each got.

#8880 Fix URL handling bug when path is a substring of host
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Utilities/FUtilities.m
  FirebaseDatabase/Tests/Unit/FUtilitiesTest.m
Labels: api: database, cla: yes

#8899 When downloading external projects, provide GitHub token if available.
  cmake/external/GoogleUtilities.cmake
  cmake/external/abseil-cpp.cmake
  cmake/external/benchmark.cmake
  cmake/external/boringssl.cmake
  cmake/external/c-ares.cmake
  cmake/external/googletest.cmake
  cmake/external/grpc.cmake
  cmake/external/leveldb.cmake
  cmake/external/nanopb.cmake
  cmake/external/protobuf.cmake
  cmake/external/zlib.cmake
  cmake/external_rules.cmake
Labels: cla: yes

#8898 Check for AppCheck's existance before subscribing
  Firestore/CHANGELOG.md
  Firestore/core/src/credentials/firebase_app_check_credentials_provider_apple.mm
Labels: cla: yes, api: firestore

#8892 Core and zip updates for 8.9.1 - Fix zip builder for patch distributions
  Firebase.podspec
  FirebaseCore.podspec
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/ZipBuilder/CocoaPodUtils.swift
Labels: api: core, cla: yes, release-tooling

#8896 [Heartbeat Logging] Controller and Storage Unit tests
  HeartbeatLogging/Sources/HeartbeatController.swift
  HeartbeatLogging/Sources/HeartbeatInfo.swift
  HeartbeatLogging/Sources/HeartbeatStorage.swift
  HeartbeatLogging/Sources/JSONCoder.swift
  HeartbeatLogging/Sources/PersistentStorage.swift
  HeartbeatLogging/Tests/Integration/HeartbeatLoggingIntegrationTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatControllerTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatStorageTests.swift
Labels: cla: yes

#8900 Remove assert that AppCheckListener is always registered
  Firestore/core/src/credentials/firebase_app_check_credentials_provider_apple.mm
Labels: cla: yes, api: firestore

#8902 Replace absl::optional usage in API
  Firestore/Source/API/FIRCollectionReference.mm
  Firestore/Source/API/FIRDocumentSnapshot+Internal.h
  Firestore/Source/API/FIRDocumentSnapshot.mm
  Firestore/core/src/api/collection_reference.cc
  Firestore/core/src/api/collection_reference.h
  Firestore/core/src/api/common.h
  Firestore/core/src/api/document_reference.cc
  Firestore/core/src/api/document_snapshot.cc
  Firestore/core/src/api/document_snapshot.h
  Firestore/core/src/api/optional.h
  Firestore/core/src/core/query.cc
  Firestore/core/src/core/query.h
  Firestore/core/src/model/server_timestamp_util.cc
  Firestore/core/src/model/server_timestamp_util.h
  Firestore/core/src/util/hashing.h
Labels: cla: yes, api: firestore

#8906 Revert "Replace absl::optional usage in API"
  Firestore/Source/API/FIRCollectionReference.mm
  Firestore/Source/API/FIRDocumentSnapshot+Internal.h
  Firestore/Source/API/FIRDocumentSnapshot.mm
  Firestore/core/src/api/collection_reference.cc
  Firestore/core/src/api/collection_reference.h
  Firestore/core/src/api/common.h
  Firestore/core/src/api/document_reference.cc
  Firestore/core/src/api/document_snapshot.cc
  Firestore/core/src/api/document_snapshot.h
  Firestore/core/src/api/optional.h
  Firestore/core/src/core/query.cc
  Firestore/core/src/core/query.h
  Firestore/core/src/model/server_timestamp_util.cc
  Firestore/core/src/model/server_timestamp_util.h
  Firestore/core/src/util/hashing.h
Labels: cla: yes, api: firestore

#8905 Cherry picks and versions for Firestore 8.9.1
  Firebase.podspec
  FirebaseFirestore.podspec
  Firestore/CHANGELOG.md
  Firestore/core/src/credentials/firebase_app_check_credentials_provider_apple.mm
Labels: cla: yes, api: firestore

#8909 Merge 8.9.1 back to master
  Firebase.podspec
  FirebaseFirestore.podspec
  Firestore/CHANGELOG.md
Labels: cla: yes, api: firestore

#8903 Add test to verify notifications from other sources are ignored
  Firestore/core/test/unit/credentials/firebase_app_check_credentials_provider_test.mm
Labels: cla: yes, api: firestore

#8911 Carthage 8.9.1
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, cla: yes, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#8915 Fix imports in FSTUserDataWriter.mm
  Firestore/Source/API/FSTUserDataWriter.mm
Labels: cla: yes, api: firestore, type: cleanup

#8916 Add some missing includes to local_write_result.h and query_result.h
  Firestore/core/src/local/local_write_result.h
  Firestore/core/src/local/query_result.h
Labels: cla: yes, api: firestore, type: cleanup

#8914 Add test that sends an invalid userInfo to AppCheck
  Firestore/core/test/unit/credentials/firebase_app_check_credentials_provider_test.mm
Labels: cla: yes, api: firestore

#8918 Canonical directory structure for Functions
  .github/workflows/functions.yml
  Dangerfile
  FirebaseCombineSwift/Tests/Unit/FirebaseCombine-unit-Bridging-Header.h
  FirebaseFunctions.podspec
  FirebaseFunctions/Backend/index.js
  FirebaseFunctions/Backend/package.json
  FirebaseFunctions/Backend/start.sh
  FirebaseFunctions/CHANGELOG.md
  FirebaseFunctions/README.md
  FirebaseFunctions/Sources/FIRFunctions+Internal.h
  FirebaseFunctions/Sources/FIRFunctions.m
  FirebaseFunctions/Sources/FIRFunctionsComponent.h
  FirebaseFunctions/Sources/FIRFunctionsComponent.m
  FirebaseFunctions/Sources/FIRFunctions_Private.h
  FirebaseFunctions/Sources/FIRHTTPSCallable+Internal.h
  FirebaseFunctions/Sources/FIRHTTPSCallable.m
  FirebaseFunctions/Sources/FUNContext.h
  FirebaseFunctions/Sources/FUNContext.m
  FirebaseFunctions/Sources/FUNError.h
  FirebaseFunctions/Sources/FUNError.m
  FirebaseFunctions/Sources/FUNSerializer.h
  FirebaseFunctions/Sources/FUNSerializer.m
  FirebaseFunctions/Sources/FUNUsageValidation.h
  FirebaseFunctions/Sources/FUNUsageValidation.m
  FirebaseFunctions/Sources/Public/FirebaseFunctions/FIRError.h
  FirebaseFunctions/Sources/Public/FirebaseFunctions/FIRFunctions.h
  FirebaseFunctions/Sources/Public/FirebaseFunctions/FIRHTTPSCallable.h
  FirebaseFunctions/Sources/Public/FirebaseFunctions/FirebaseFunctions.h
  FirebaseFunctions/Tests/CombineUnit/HTTPSCallableTests.swift
  FirebaseFunctions/Tests/Integration/FIRIntegrationTests.m
  FirebaseFunctions/Tests/SwiftUnit/FunctionsAPITests.swift
  FirebaseFunctions/Tests/Unit/FIRFunctionsTests.m
  FirebaseFunctions/Tests/Unit/FUNContextProviderTests.m
  FirebaseFunctions/Tests/Unit/FUNSerializerTests.m
  Functions/Example/GoogleService-Info.plist
  Package.swift
  scripts/change_headers.swift
  scripts/check_no_module_imports.sh
  scripts/install_prereqs.sh
  scripts/make_release_notes.py
Labels: cla: yes, api: functions

#8897 Fix RC db flags
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.m
Labels: cla: yes, api: remoteconfig

#8920 Fix doc typos in FirestoreQuery.swift
  Firestore/Swift/Source/PropertyWrapper/FirestoreQuery.swift
Labels: cla: yes, api: firestore, type: cleanup

#8919 Remove unused 'using' declarations
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/Source/API/FSTFirestoreComponent.mm
Labels: cla: yes, api: firestore, type: cleanup

#8917 Get rid of util and testutil namespace aliases
  Firestore/Example/Tests/API/FIRFieldPathTests.mm
  Firestore/Example/Tests/API/FIRFirestoreTests.mm
  Firestore/Example/Tests/API/FIRQuerySnapshotTests.mm
  Firestore/Example/Tests/API/FSTAPIHelpers.mm
  Firestore/Example/Tests/API/FSTUserDataReaderTests.mm
  Firestore/Example/Tests/Integration/API/FIRBundlesTests.mm
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/Example/Tests/Integration/API/FIRWriteBatchTests.mm
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.h
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/Example/Tests/Util/FIRFirestore+Testing.h
  Firestore/Example/Tests/Util/FSTHelpers.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/core/src/api/query_core.cc
  Firestore/core/src/timestamp_internal.cc
Labels: cla: yes, api: firestore, type: cleanup

#8921 Update health-metrics-release.yml
  .github/workflows/health-metrics-release.yml
Labels: cla: yes

#8923 CMakeLists.txt: add -DPB_NO_PACKED_STRUCTS=1 to the nanopb compiler flags
  CMakeLists.txt
Labels: type: enhancement, cla: yes, api: firestore

#8924 Perf return session length return type
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/AppActivity/FPRSessionDetails.m
  FirebasePerformance/Tests/Unit/FPRSessionDetailsTest.m
Labels: cla: yes, api: performance

#8872 Fix heap-buffer overflow in FPREncodePerfSessions
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/FPRNanoPbUtils.m
Labels: cla: yes, api: performance

#8933 Add Combine to changelog
  FirebaseCore/CHANGELOG.md
Labels: api: core, cla: yes

#8951 log_stdio.cc: add missing switch block for kLogLevelNotice
  Firestore/core/src/util/log_stdio.cc
Labels: cla: yes, api: firestore

#8930 Add doc for binary size measurement.
  scripts/health_metrics/README.md
Labels: cla: yes

#8957 Port Functions integration tests to Swift
  .github/workflows/functions.yml
  .github/workflows/spm.yml
  FirebaseFunctions/Tests/SwiftIntegration/IntegrationTests.swift
  FirebaseTestingSupport/Functions/Sources/FIRFunctionsFake.m
  FirebaseTestingSupport/Functions/Sources/Public/FirebaseFunctionsTestingSupport/FIRFunctionsFake.h
  Package.swift
  scripts/spm_test_schemes/FunctionsIntegration.xcscheme
  scripts/spm_test_schemes/FunctionsSwiftIntegration.xcscheme
Labels: cla: yes

#8959 Add Async/await tests for Functions
  .github/workflows/combine.yml
  .github/workflows/functions.yml
  FirebaseFunctions.podspec
  FirebaseFunctions/Tests/SwiftIntegration/IntegrationTests.swift
  FirebaseFunctionsTestingSupport.podspec
Labels: cla: yes, api: functions

#8960 Public Functions Swift API build test coverage
  FirebaseFunctions/Sources/Public/FirebaseFunctions/FIRHTTPSCallable.h
  FirebaseFunctions/Tests/SwiftIntegration/APITests.swift
Labels: cla: yes, api: functions, public-api-change

#8963 [Doc Only] Update installation subsection anchors
  README.md
Labels: cla: yes

#8971 Make CMake project compile
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/remote/firebase_metadata_provider.h
  Firestore/core/src/remote/grpc_adapt/grpc_cpp_adaption.h
  Firestore/core/src/remote/grpc_adapt/grpc_swift_misc.h
  Firestore/core/test/unit/nanopb/message_test.cc
  Firestore/core/test/unit/remote/datastore_test.cc
  Firestore/core/test/unit/remote/grpc_stream_test.cc
  Firestore/core/test/unit/remote/grpc_stream_tester.cc
  Firestore/core/test/unit/remote/grpc_streaming_reader_test.cc
  Firestore/core/test/unit/remote/grpc_unary_call_test.cc
  Firestore/core/test/unit/remote/stream_test.cc
Labels: cla: yes, api: firestore

#8974 (Hackweek - branch) Send session id to crashlytics logs
  FirebasePerformance.podspec
  FirebasePerformance/Sources/AppActivity/FPRSessionManager.m
  FirebasePerformance/Tests/TestApp/Source/ViewControllers/TracesViewController.m
Labels: cla: yes

#8979 Update CHANGELOGs for 8.10.0
  FirebasePerformance/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
Labels: cla: yes, api: performance, api: remoteconfig

#8978 Update versions for Release 8.10.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec.json
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  GoogleAppMeasurement.podspec.json
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, cla: yes, api: firestore, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#8986 Stop posting reports in PRs not from master
  .github/workflows/health-metrics-presubmit.yml
Labels: cla: yes

#8976 Attempt to make Slice/ByteBuffer work
  ByteBufferShim.swift
  Firestore/core/CMakeLists.txt
  Firestore/core/src/remote/grpc_adapt/grpc_adaption.h
  Firestore/core/src/remote/grpc_adapt/grpc_swift_byte_buffer.h
  Firestore/core/src/remote/grpc_adapt/grpc_swift_byte_buffer.mm
  Firestore/core/src/remote/grpc_adapt/grpc_swift_misc.h
  Firestore/core/src/remote/grpc_adapt/grpc_swift_misc.mm
  Firestore/core/src/remote/grpc_adapt/grpc_swift_slice.h
  Firestore/core/src/remote/grpc_adapt/grpc_swift_slice.mm
  Firestore/core/src/remote/grpc_nanopb.cc
  SliceShim.swift
Labels: cla: yes, api: firestore

#8981 Update Functions public API docs for FCM Token instead of IID
  FirebaseFunctions/Sources/Public/FirebaseFunctions/FIRHTTPSCallable.h
Labels: cla: yes, api: functions, public-api-change

#8952 Refactor library and add WIP controller tests
  HeartbeatLogging/Sources/AnyEncoder+AnyDecoder.swift
  HeartbeatLogging/Sources/Heartbeat.swift
  HeartbeatLogging/Sources/HeartbeatController.swift
  HeartbeatLogging/Sources/HeartbeatInfo.swift
  HeartbeatLogging/Sources/HeartbeatPayload.swift
  HeartbeatLogging/Sources/HeartbeatStorage.swift
  HeartbeatLogging/Sources/Storage.swift
  HeartbeatLogging/Sources/StorageFactory.swift
  HeartbeatLogging/Sources/WeakContainer.swift
  HeartbeatLogging/Tests/Unit/HeartbeatControllerTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatStorageTests.swift
Labels: cla: yes

#8991 [Heartbeat Logging] Add model tests
  HeartbeatLogging/Sources/Heartbeat.swift
  HeartbeatLogging/Sources/HeartbeatController.swift
  HeartbeatLogging/Sources/HeartbeatInfo.swift
  HeartbeatLogging/Sources/HeartbeatPayload.swift
  HeartbeatLogging/Sources/HeartbeatsPayload.swift
  HeartbeatLogging/Tests/Unit/HeartbeatControllerTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatInfoTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatStorageTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatsPayloadTests.swift
Labels: cla: yes

#8995 Add platform flag to environment description.
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: cla: yes

#8994 [Heartbeat Logging] - Add underlying storage tests
  HeartbeatLogging/Sources/HeartbeatInfo.swift
  HeartbeatLogging/Sources/Storage.swift
  HeartbeatLogging/Tests/Unit/StorageTests.swift
Labels: cla: yes

#9020 updated Linking word in README
  README.md
Labels: cla: yes

#9023 Update for GoogleUtilitiesComponents 1.1.0 release
  GoogleUtilitiesComponents.podspec
Labels: cla: yes

#9012 [Heartbeat Logging] - Add `RingBuffer` & `WeakContainer` unit tests
  HeartbeatLogging/Sources/HeartbeatInfo.swift
  HeartbeatLogging/Sources/RingBuffer.swift
  HeartbeatLogging/Tests/Unit/RingBufferTests.swift
  HeartbeatLogging/Tests/Unit/WeakContainerTests.swift
Labels: cla: yes

#9011 Update required SPM abseil dep
  Package.swift
Labels: cla: yes

#9005 Fixing the short url logic
  FirebaseDynamicLinks/Sources/Utilities/FDLUtilities.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
Labels: cla: yes, api: dynamiclinks

#9030 Fix analytics warnings building for macOS/tvOS with SPM
  .github/workflows/spm.yml
  SwiftPM-PlatformExclude/FirebaseAnalyticsWithoutAdIdSupportWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseAnalyticsWrap/dummy.m
Labels: cla: yes

#9032 Fix Analytics SwiftPM platform availability.
  .github/workflows/spm.yml
  FirebaseCore/CHANGELOG.md
  Package.swift
  SwiftPackageManager.md
Labels: api: core, cla: yes

#9033 Update FirebaseCore CHANGELOG for 8.10.0
  FirebaseCore/CHANGELOG.md
Labels: cla: yes
