Repository firebase/firebase-ios-sdk, pull requests merged in 2021-07, with the labels that each got.

#8331 AppCheck Swift API build tests
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppCheckProvider.h
  FirebaseAppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
  FirebaseAppCheck/Tests/Unit/Swift/AppCheckTests.swift
Labels: api: appcheck, cla: yes, public-api-change

#8324 Improvements to the Contributing doc
  CONTRIBUTING.md
Labels: cla: yes

#8337 Update docs for Mac keychain sharing
  README.md
Labels: cla: yes

#8328 update crashlytics qs test with new dir
  .github/workflows/crashlytics.yml
  scripts/setup_quickstart.sh
  scripts/test_quickstart.sh
Labels: cla: yes

#8332 Merge Lorenzo's Combine Publishers for Firestore
  FirebaseCombineSwift.podspec
  FirebaseCombineSwift/CHANGELOG.md
  FirebaseCombineSwift/Sources/Auth/Auth+Combine.swift
  FirebaseCombineSwift/Sources/Auth/GameCenterAuthProvider+Combine.swift
  FirebaseCombineSwift/Sources/Auth/MultiFactor+Combine.swift
  FirebaseCombineSwift/Sources/Auth/MultiFactorResolver+Combine.swift
  FirebaseCombineSwift/Sources/Auth/OAuthProvider+Combine.swift
  FirebaseCombineSwift/Sources/Auth/PhoneAuthProvider+Combine.swift
  FirebaseCombineSwift/Sources/Auth/User+Combine.swift
  FirebaseCombineSwift/Sources/Firestore/CollectionReference+Combine.swift
  FirebaseCombineSwift/Sources/Firestore/DocumentReference+Combine.swift
  FirebaseCombineSwift/Sources/Firestore/Query+Combine.swift
  FirebaseCombineSwift/Sources/Firestore/Transaction+Combine.swift
  FirebaseCombineSwift/Sources/Firestore/WriteBatch+Combine.swift
  FirebaseCombineSwift/Sources/Functions/HTTPSCallable+Combine.swift
  FirebaseCombineSwift/Sources/Storage/StorageReference+Combine.swift
  FirebaseCombineSwift/Tests/Unit/Firestore/GetDocumentsTests.swift
  Package.swift
Labels: api: firestore, api: functions, cla: yes

#8338 Update more workflows for new crashlytics qs location
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/zip.yml
  scripts/remove_data.sh
  scripts/setup_quickstart.sh
  scripts/setup_quickstart_framework.sh
  scripts/test_quickstart_framework.sh
Labels: cla: yes

#8348 Fix cov workflow format issue
  .github/workflows/test_coverage.yml
Labels: cla: yes

#8344 Functions API build tests
  FirebaseFunctions.podspec
  Functions/Tests/Unit/Swift/FunctionsAPITests.swift
Labels: api: functions, cla: yes

#8353 Installations API build tests
  FirebaseInstallations.podspec
  FirebaseInstallations/Source/Tests/Unit/Swift/InstallationsAPITests.swift
Labels: api: installations, cla: yes

#8360 Carthage 8.3.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: cla: yes

#8358 Update abt gha to test legacy qs
  .github/workflows/abtesting.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/zip.yml
Labels: cla: yes

#8317 Update storage workflow
  .github/workflows/storage.yml
Labels: cla: yes

#8361 Remove duplicate GHA runs
  .github/workflows/crashlytics.yml
  .github/workflows/segmentation.yml
Labels: cla: yes

#8362 Restore GoogleMLKit to Symbol Collision test
  SymbolCollisionTest/Podfile
Labels: cla: yes

#8352 Core API build tests
  FirebaseCore/Tests/SwiftUnit/CoreAPITests.swift
Labels: api: core, cla: yes

#8368 Fix nightly prerelease failure
  .github/workflows/prerelease.yml
Labels: cla: yes

#8365 Bump Promises dependency
  Crashlytics/CHANGELOG.md
  FirebaseAppCheck.podspec
  FirebaseAppCheck/CHANGELOG.md
  FirebaseCrashlytics.podspec
  FirebaseInstallations.podspec
  FirebaseInstallations/CHANGELOG.md
  Package.swift
Labels: api: appcheck, api: crashlytics, api: installations, cla: yes

#8370 Fix nightly Swift API failures
  .github/workflows/functions.yml
  .github/workflows/installations.yml
Labels: cla: yes

#8372 Fix the handling of Unicode characters in log and assertion messages
  Firestore/CHANGELOG.md
  Firestore/core/src/util/exception_apple.mm
  Firestore/core/src/util/log_apple.mm
Labels: api: firestore, cla: yes

#8377 Bump GoogleAppMeasurement dependency to 8.3.1
  FirebaseCore/CHANGELOG.md
  Package.swift
Labels: api: core, cla: yes

#8378 Cherrypick 8.3.1 SPM patch into master
  FirebaseCore/CHANGELOG.md
  Package.swift
Labels: api: core, cla: yes

#8383 Update swift API tests
  FirebaseAppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
Labels: api: appcheck, cla: yes

#8336 Create NanoPb code generation scripts
  FirebasePerformance/ProtoSupport/Protos/perf_metric.options
  FirebasePerformance/ProtoSupport/Protos/perf_metric.proto
  FirebasePerformance/ProtoSupport/README.md
  FirebasePerformance/ProtoSupport/generate_protos.sh
  FirebasePerformance/ProtoSupport/nanopb_objc_generator.py
  FirebasePerformance/ProtoSupport/proto_generator.py
Labels: api: performance, cla: yes

#8385 Update versions in CHANGELOGs
  Crashlytics/CHANGELOG.md
  FirebaseAppCheck/CHANGELOG.md
  FirebaseInstallations/CHANGELOG.md
Labels: cla: yes

#8384 Update versions for Release 8.4.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: abtesting, api: appcheck, api: appdistribution, api: auth, api: core, api: crashlytics, api: database, api: dynamiclinks, api: firestore, api: functions, api: inappmessaging, api: installations, api: messaging, api: performance, api: remoteconfig, api: storage, cla: yes, release-tooling

#8371 Create nanopb options file.
  FirebasePerformance.podspec
  FirebasePerformance/ProtoSupport/Protos/perf_metric.options
  FirebasePerformance/Sources/Protogen/nanopb/perf_metric.nanopb.c
  FirebasePerformance/Sources/Protogen/nanopb/perf_metric.nanopb.h
Labels: api: performance, cla: yes

#8244 Use Message as input type for nanopb protos
  Firestore/Example/Tests/API/FSTAPIHelpers.mm
  Firestore/Example/Tests/API/FSTUserDataReaderTests.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/Util/FSTHelpers.h
  Firestore/Example/Tests/Util/FSTHelpers.mm
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/API/FSTUserDataReader.h
  Firestore/Source/API/FSTUserDataReader.mm
  Firestore/core/src/api/query_core.cc
  Firestore/core/src/api/query_core.h
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/src/bundle/bundle_serializer.h
  Firestore/core/src/core/not_in_filter.cc
  Firestore/core/src/local/local_serializer.cc
  Firestore/core/src/model/delete_mutation.cc
  Firestore/core/src/model/model_fwd.h
  Firestore/core/src/model/mutation.cc
  Firestore/core/src/model/mutation.h
  Firestore/core/src/model/mutation_batch.cc
  Firestore/core/src/model/object_value.cc
  Firestore/core/src/model/object_value.h
  Firestore/core/src/model/patch_mutation.cc
  Firestore/core/src/model/patch_mutation.h
  Firestore/core/src/model/server_timestamp_util.cc
  Firestore/core/src/model/server_timestamp_util.h
  Firestore/core/src/model/set_mutation.cc
  Firestore/core/src/model/transform_operation.cc
  Firestore/core/src/model/transform_operation.h
  Firestore/core/src/model/value_util.cc
  Firestore/core/src/model/value_util.h
  Firestore/core/src/nanopb/fields_array.h
  Firestore/core/src/nanopb/message.h
  Firestore/core/src/nanopb/nanopb_util.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/test/unit/bundle/bundle_serializer_test.cc
  Firestore/core/test/unit/core/query_test.cc
  Firestore/core/test/unit/local/local_serializer_test.cc
  Firestore/core/test/unit/local/local_store_test.cc
  Firestore/core/test/unit/local/local_store_test.h
  Firestore/core/test/unit/local/remote_document_cache_test.cc
  Firestore/core/test/unit/local/remote_document_cache_test.h
  Firestore/core/test/unit/model/document_test.cc
  Firestore/core/test/unit/model/mutation_test.cc
  Firestore/core/test/unit/model/object_value_test.cc
  Firestore/core/test/unit/model/value_util_test.cc
  Firestore/core/test/unit/nanopb/nanopb_util_test.cc
  Firestore/core/test/unit/remote/datastore_test.cc
  Firestore/core/test/unit/remote/serializer_test.cc
  Firestore/core/test/unit/testutil/testutil.cc
  Firestore/core/test/unit/testutil/testutil.h
Labels: api: firestore, cla: yes

#8388 Make App Check core availability for all supported platforms
  FirebaseAppCheck.podspec
  FirebaseAppCheck/CHANGELOG.md
  FirebaseAppCheck/Sources/AppAttestProvider/DCAppAttestService+FIRAppAttestService.h
  FirebaseAppCheck/Sources/AppAttestProvider/DCAppAttestService+FIRAppAttestService.m
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProvider.m
  FirebaseAppCheck/Sources/DeviceCheckProvider/DCDevice+FIRDeviceCheckTokenGenerator.h
  FirebaseAppCheck/Sources/DeviceCheckProvider/DCDevice+FIRDeviceCheckTokenGenerator.m
  FirebaseAppCheck/Sources/DeviceCheckProvider/FIRDeviceCheckProvider.m
  FirebaseAppCheck/Sources/DeviceCheckProvider/FIRDeviceCheckProviderFactory.m
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppAttestProvider.h
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppCheckAvailability.h
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRDeviceCheckProvider.h
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRDeviceCheckProviderFactory.h
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestProviderTests.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckIntegrationTests.m
  FirebaseAppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
Labels: api: appcheck, cla: yes, public-api-change

#8392 Allow http when using emulator
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/FIRStorage.m
Labels: api: storage, cla: yes

#8394 Fix bad version number in changelog
  FirebaseStorage/CHANGELOG.md
Labels: cla: yes

#8247 Dispatch `getData` callbacks on FRepo callback queue
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Core/FRepo.m
  FirebaseDatabase/Tests/Integration/FIRDatabaseQueryTests.m
Labels: api: database, cla: yes

#8397 Update to clang-format 12.0.1
  Crashlytics/Shared/FIRCLSNetworking/FIRCLSFABNetworkClient.m
  FirebaseAppDistribution/Sources/FIRFADApiService.m
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/AuthProvider/GameCenter/FIRGameCenterAuthProvider.m
  FirebaseAuth/Sources/AuthProvider/Phone/FIRPhoneAuthProvider.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/SystemService/FIRSecureTokenService.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseCore/Sources/FIRApp.m
  FirebaseDatabase/Sources/Api/Private/FTypedefs_Private.h
  FirebaseDatabase/Tests/Integration/FData.m
  FirebaseDatabase/Tests/Integration/FOrder.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMClientInfoFetcher.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMRuntimeManager.m
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/Token/FIRMessagingAuthService.m
  FirebasePerformance/Tests/Unit/Instruments/FPRNSURLSessionInstrumentTest.m
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/ViewController.m
  FirebaseStorage/Sources/FIRStorageObservableTask.m
Labels: api: appdistribution, api: auth, api: core, api: crashlytics, api: database, api: inappmessaging, api: messaging, api: performance, api: remoteconfig, api: storage, cla: yes

#8351 Add support for testing in-app messages in SwiftUI previews
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessagingRendering.h
  FirebaseInAppMessaging/Sources/RenderingObjects/FIRInAppMessagingRenderingDataClasses.m
  FirebaseInAppMessaging/Sources/RenderingObjects/FIRInAppMessagingRenderingPrivate.h
  FirebaseInAppMessaging/Swift/Source/SwiftUIPreviewHelpers.swift
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/FIAMSwiftUI.xcodeproj/project.pbxproj
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/Shared/FIAMSwiftUIApp.swift
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/Shared/ModalInAppMessageView.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/BannerMessageViewController.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/BridgingHeader.h
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/CardMessageViewController.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/CommonMessageTestVC.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/ImageOnlyMessageViewController.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/ModalMessageViewController.swift
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/InAppMessagingDisplay-Sample.xcodeproj/project.pbxproj
  FirebaseInAppMessaging/Tests/Unit/FIRIAMFetchFlowTests.m
  FirebaseInAppMessaging/Tests/Unit/FIRInAppMessagingRenderingTests.m
Labels: api: inappmessaging, cla: yes, public-api-change

#8399 Bump App Check version to 8.5.0-beta
  FirebaseAppCheck.podspec
Labels: api: appcheck, cla: yes

#8404 Turn off failing travis FIAM tests
  .travis.yml
Labels: cla: yes

#8405 Fix Xcode 13 beta 3 build issues
  FirebaseAppCheck/CHANGELOG.md
  FirebaseAppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.h
  FirebaseAppDistribution/Sources/Public/FirebaseAppDistribution/FIRAppDistribution.h
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FIRDynamicLinks.h
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/DefaultUI/Banner/FIRIAMBannerViewController.h
  FirebaseInAppMessaging/Sources/DefaultUI/Card/FIRIAMCardViewController.h
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMBaseRenderingViewController.h
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMDefaultDisplayImpl.h
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMRenderingWindowHelper.h
  FirebaseInAppMessaging/Sources/DefaultUI/ImageOnly/FIRIAMImageOnlyViewController.h
  FirebaseInAppMessaging/Sources/DefaultUI/Modal/FIRIAMModalViewController.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMDisplayCheckOnAnalyticEventsFlow.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMDisplayExecutor.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMFetchOnAppForegroundFlow.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMMessageClientCache.h
  FirebaseInAppMessaging/Sources/Private/Runtime/FIRIAMFetchFlow.h
  FirebaseInAppMessaging/Sources/Private/Runtime/FIRIAMRuntimeManager.h
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessaging.h
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessagingRendering.h
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMActionURLFollower.m
  FirebaseInAppMessaging/Swift/Source/CustomInAppMessageDisplayViewModifier.swift
  FirebaseInAppMessaging/Swift/Source/SwiftUIPreviewHelpers.swift
  Functions/Tests/CombineUnit/HTTPSCallableTests.swift
  SharedTestUtilities/FIRSampleAppUtilities.h
Labels: api: appcheck, api: appdistribution, api: dynamiclinks, api: functions, api: inappmessaging, cla: yes, public-api-change

#8410 Cherry-pick fixing Xcode 13 beta 3 build issues (#8405)
  FirebaseAppCheck/CHANGELOG.md
  FirebaseAppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.h
  FirebaseAppDistribution/Sources/Public/FirebaseAppDistribution/FIRAppDistribution.h
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FIRDynamicLinks.h
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/DefaultUI/Banner/FIRIAMBannerViewController.h
  FirebaseInAppMessaging/Sources/DefaultUI/Card/FIRIAMCardViewController.h
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMBaseRenderingViewController.h
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMDefaultDisplayImpl.h
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMRenderingWindowHelper.h
  FirebaseInAppMessaging/Sources/DefaultUI/ImageOnly/FIRIAMImageOnlyViewController.h
  FirebaseInAppMessaging/Sources/DefaultUI/Modal/FIRIAMModalViewController.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMDisplayCheckOnAnalyticEventsFlow.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMDisplayExecutor.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMFetchOnAppForegroundFlow.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMMessageClientCache.h
  FirebaseInAppMessaging/Sources/Private/Runtime/FIRIAMFetchFlow.h
  FirebaseInAppMessaging/Sources/Private/Runtime/FIRIAMRuntimeManager.h
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessaging.h
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessagingRendering.h
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMActionURLFollower.m
  FirebaseInAppMessaging/Swift/Source/CustomInAppMessageDisplayViewModifier.swift
  Functions/Tests/CombineUnit/HTTPSCallableTests.swift
  SharedTestUtilities/FIRSampleAppUtilities.h
Labels: api: appcheck, api: appdistribution, api: dynamiclinks, api: functions, api: inappmessaging, cla: yes, public-api-change

#8411 Bump travis to 12.5
  .travis.yml
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/AuthProvider/Phone/FIRPhoneAuthProvider.m
Labels: api: auth, cla: yes

#8413 App Check: don't link DeviceCheck to watchOS target in podspec
  FirebaseAppCheck.podspec
Labels: api: appcheck, cla: yes

#8403 Fix tvOS SPM tests
  .github/workflows/spm.yml
  FirebaseInAppMessaging/Sources/DefaultUI/Banner/FIRIAMBannerViewController.h
  FirebaseInAppMessaging/Sources/DefaultUI/Card/FIRIAMCardViewController.h
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMBaseRenderingViewController.h
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMDefaultDisplayImpl.h
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMRenderingWindowHelper.h
  FirebaseInAppMessaging/Sources/DefaultUI/ImageOnly/FIRIAMImageOnlyViewController.h
  FirebaseInAppMessaging/Sources/DefaultUI/Modal/FIRIAMModalViewController.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMDisplayCheckOnAnalyticEventsFlow.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMDisplayExecutor.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMFetchOnAppForegroundFlow.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMMessageClientCache.h
  FirebaseInAppMessaging/Sources/Private/Runtime/FIRIAMFetchFlow.h
  FirebaseInAppMessaging/Sources/Private/Runtime/FIRIAMRuntimeManager.h
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessaging.h
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessagingRendering.h
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMActionURLFollower.m
  FirebaseInAppMessaging/Swift/Source/CustomInAppMessageDisplayViewModifier.swift
  FirebaseInAppMessaging/Swift/Source/SwiftUIPreviewHelpers.swift
  SwiftPMTests/swift-test/main.swift
  scripts/build.sh
Labels: api: functions, api: inappmessaging, cla: yes, public-api-change

#8417 Update Carthage M100 release.
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: abtesting, api: appcheck, api: appdistribution, api: auth, api: crashlytics, api: database, api: dynamiclinks, api: inappmessaging, api: messaging, api: performance, api: remoteconfig, api: storage, cla: yes, release-tooling

#8419 Update patterns to avoid triggering testing
  scripts/code_coverage_report/code_coverage_file_list.json
Labels: cla: yes

#8424 Fix leak in reference value parsing
  Firestore/core/src/api/query_core.cc
Labels: api: firestore, cla: yes

#8387 Convert Objective-C Classes to Nanopb
  FirebasePerformance/Sources/FPRClient.m
  FirebasePerformance/Sources/FPRNanoPbUtils.h
  FirebasePerformance/Sources/FPRNanoPbUtils.m
  FirebasePerformance/Sources/Instrumentation/FPRNetworkTrace.h
  FirebasePerformance/Sources/Instrumentation/FPRNetworkTrace.m
  FirebasePerformance/Tests/Unit/FPRNanoPbUtilsTest.m
Labels: api: performance, cla: yes

#8426 Use GoogleAppMeasurement main branch instead of release tag for CI
  Package.swift
  scripts/build.sh
  scripts/setup_spm_test_app_measurement.sh
Labels: cla: yes

#8289 Storage async await
  FirebaseCombineSwift/Sources/Storage/StorageReference+Combine.swift
  FirebaseStorage/Sources/Public/FirebaseStorage/FIRStorageReference.h
  FirebaseStorageSwift/CHANGELOG.md
  FirebaseStorageSwift/Sources/AsyncAwait.swift
  FirebaseStorageSwift/Sources/Result.swift
  FirebaseStorageSwift/Tests/Integration/StorageAsyncAwait.swift
  FirebaseStorageSwift/Tests/Integration/StorageIntegration.swift
  FirebaseStorageSwift/Tests/Integration/StorageIntegrationCommon.swift
Labels: api: storage, cla: yes, public-api-change

#8309 Add script to check for absl reference from Firestore/core/api
  scripts/check.sh
  scripts/check_firestore_core_api_absl.py
  scripts/check_imports.swift
Labels: cla: yes

#6181 Adding a new API that allows iOS users to log notification delivery signal that exports to BigQuery.
  FirebaseMessaging.podspec
  FirebaseMessaging/Apps/AdvancedSample/AdvancedSample.xcodeproj/project.pbxproj
  FirebaseMessaging/Apps/AdvancedSample/NotificationServiceExtension/NotificationService.swift
  FirebaseMessaging/Apps/AdvancedSample/Podfile
  FirebaseMessaging/Apps/Sample/Sample.xcodeproj/project.pbxproj
  FirebaseMessaging/Apps/Sample/Sample/Info.plist
  FirebaseMessaging/Apps/Shared/AppDelegate.swift
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/ProtoSupport/Protos/me.options
  FirebaseMessaging/ProtoSupport/Protos/me.proto
  FirebaseMessaging/ProtoSupport/generate_protos.sh
  FirebaseMessaging/ProtoSupport/nanopb_objc_generator.py
  FirebaseMessaging/ProtoSupport/proto_generator.py
  FirebaseMessaging/Sources/FIRMessagingAnalytics.m
  FirebaseMessaging/Sources/FIRMessagingCode.h
  FirebaseMessaging/Sources/FIRMessagingConstants.h
  FirebaseMessaging/Sources/FIRMessagingConstants.m
  FirebaseMessaging/Sources/FIRMessagingContextManagerService.m
  FirebaseMessaging/Sources/FIRMessagingExtensionHelper.m
  FirebaseMessaging/Sources/Protogen/nanopb/me.nanopb.c
  FirebaseMessaging/Sources/Protogen/nanopb/me.nanopb.h
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FIRMessagingExtensionHelper.h
  FirebaseMessaging/Tests/UnitTests/FIRMessagingExtensionHelperTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingUtilitiesTest.m
  Package.swift
Labels: api: messaging, cla: yes, public-api-change

#8440 Update changelog
  FirebaseMessaging/CHANGELOG.md
  Package.swift
Labels: api: messaging, cla: yes

#8443 Prevent firelog from logging invalid data
  FirebaseMessaging/Sources/FIRMessagingCode.h
  FirebaseMessaging/Sources/FIRMessagingExtensionHelper.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingExtensionHelperTest.m
Labels: api: messaging, cla: yes

#8444 M101 versions update
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec.json
  FirebaseAnalyticsSwift.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  GoogleAppMeasurement.podspec.json
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: abtesting, api: appdistribution, api: auth, api: core, api: crashlytics, api: database, api: dynamiclinks, api: firestore, api: functions, api: inappmessaging, api: installations, api: messaging, api: performance, api: remoteconfig, api: storage, cla: yes, release-tooling

#8449 Fix AsyncAwait build for macos and tvos
  FirebaseStorageSwift/Sources/AsyncAwait.swift
Labels: api: storage, cla: yes

#8452 Add missing tvOS subspec support in Firebase pod for Performance
  Firebase.podspec
Labels: api: performance, cla: yes

#8453 Update to CocoaPods 1.10.2
  Gemfile
  Gemfile.lock
Labels: cla: yes

#8456 Add AppCheck to SwiftPM tests
  SwiftPMTests/swift-test/main.swift
Labels: cla: yes

#8458 Revert "Adding a new API that allows iOS users to log notification delivery signal that exports to BigQuery."
  FirebaseMessaging.podspec
  FirebaseMessaging/Apps/AdvancedSample/AdvancedSample.xcodeproj/project.pbxproj
  FirebaseMessaging/Apps/AdvancedSample/NotificationServiceExtension/NotificationService.swift
  FirebaseMessaging/Apps/AdvancedSample/Podfile
  FirebaseMessaging/Apps/Sample/Sample.xcodeproj/project.pbxproj
  FirebaseMessaging/Apps/Sample/Sample/Info.plist
  FirebaseMessaging/Apps/Shared/AppDelegate.swift
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/ProtoSupport/Protos/me.options
  FirebaseMessaging/ProtoSupport/Protos/me.proto
  FirebaseMessaging/ProtoSupport/generate_protos.sh
  FirebaseMessaging/ProtoSupport/nanopb_objc_generator.py
  FirebaseMessaging/ProtoSupport/proto_generator.py
  FirebaseMessaging/Sources/FIRMessagingAnalytics.m
  FirebaseMessaging/Sources/FIRMessagingCode.h
  FirebaseMessaging/Sources/FIRMessagingConstants.h
  FirebaseMessaging/Sources/FIRMessagingConstants.m
  FirebaseMessaging/Sources/FIRMessagingContextManagerService.m
  FirebaseMessaging/Sources/FIRMessagingExtensionHelper.m
  FirebaseMessaging/Sources/Protogen/nanopb/me.nanopb.c
  FirebaseMessaging/Sources/Protogen/nanopb/me.nanopb.h
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FIRMessagingExtensionHelper.h
  FirebaseMessaging/Tests/UnitTests/FIRMessagingExtensionHelperTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingUtilitiesTest.m
  Package.swift
Labels: api: messaging, cla: yes, public-api-change

#8459 Run spm workflow when changes in SwiftPMTests/*
  .github/workflows/spm.yml
  Package.swift
  SwiftPMTests/objc-import-test/objc-header.m
  SwiftPMTests/objc-import-test/objc-module.m
Labels: cla: yes

#8460 Roll forward for protobuf investigation
  FirebaseMessaging.podspec
  FirebaseMessaging/Apps/AdvancedSample/AdvancedSample.xcodeproj/project.pbxproj
  FirebaseMessaging/Apps/AdvancedSample/NotificationServiceExtension/NotificationService.swift
  FirebaseMessaging/Apps/AdvancedSample/Podfile
  FirebaseMessaging/Apps/Sample/Sample.xcodeproj/project.pbxproj
  FirebaseMessaging/Apps/Sample/Sample/Info.plist
  FirebaseMessaging/Apps/Shared/AppDelegate.swift
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/ProtoSupport/Protos/me.options
  FirebaseMessaging/ProtoSupport/Protos/me.proto
  FirebaseMessaging/ProtoSupport/generate_protos.sh
  FirebaseMessaging/ProtoSupport/nanopb_objc_generator.py
  FirebaseMessaging/ProtoSupport/proto_generator.py
  FirebaseMessaging/Sources/FIRMessagingAnalytics.m
  FirebaseMessaging/Sources/FIRMessagingCode.h
  FirebaseMessaging/Sources/FIRMessagingConstants.h
  FirebaseMessaging/Sources/FIRMessagingConstants.m
  FirebaseMessaging/Sources/FIRMessagingContextManagerService.m
  FirebaseMessaging/Sources/FIRMessagingExtensionHelper.m
  FirebaseMessaging/Sources/Protogen/nanopb/me.nanopb.c
  FirebaseMessaging/Sources/Protogen/nanopb/me.nanopb.h
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FIRMessagingExtensionHelper.h
  FirebaseMessaging/Tests/UnitTests/FIRMessagingExtensionHelperTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingUtilitiesTest.m
  Package.swift
Labels: api: messaging, cla: yes, public-api-change

#8465 Add DatabaseUnitSwift scheme and add it to GHA
  .github/workflows/database.yml
  scripts/spm_test_schemes/DatabaseUnitSwift.xcscheme
Labels: cla: yes

#8451 Auth: Remove all #ifs in favor of API_UNAVAILABLE
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthAPNSTokenType.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthUIDelegate.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRFederatedAuthProvider.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactor.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactorAssertion.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactorInfo.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactorResolver.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactorSession.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRPhoneAuthCredential.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRPhoneAuthProvider.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRPhoneMultiFactorAssertion.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRPhoneMultiFactorGenerator.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRPhoneMultiFactorInfo.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.h
Labels: api: auth, cla: yes, public-api-change

#8466 Get Database Swift API Test building on Xcode13b4
  FirebaseDatabase/Tests/Unit/Swift/DatabaseAPITests.swift
Labels: api: database, cla: yes

#8461 Add `spm` workflows to AppCheck GHA
  .github/workflows/app_check.yml
Labels: cla: yes

#8435 Clean up FieldValue port
  Firestore/Source/API/FSTUserDataReader.mm
Labels: api: firestore, cla: yes

#8467 Move Dynamic Links to API_UNAVAILABLE
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FDLURLComponents.h
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FIRDynamicLinks.h
Labels: api: dynamiclinks, cla: yes, public-api-change

#8469 Update changelogs
  FirebaseAppCheck/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: appcheck, api: firestore, cla: yes

#8468 readme cleanup
  README.md
Labels: cla: yes
