Repository firebase/firebase-ios-sdk, pull requests merged in 2021-02, with the labels that each got.

#7399 Background view for card message should clip subviews to its bounds
  FirebaseInAppMessaging/Resources/FIRInAppMessageDisplayStoryboard.storyboard
Labels: api: inappmessaging, cla: yes

#7419 Fixes
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp.xcodeproj/project.pbxproj
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp/AppDelegate.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
Labels: cla: yes

#7420 Stop creating redundant bundle
  ReleaseTooling/Sources/ZipBuilder/ResourcesManager.swift
Labels: cla: yes, release-tooling

#7423 Fix import for watchOS
  FirebaseAuth/Sources/Utilities/FIRAuthDefaultUIDelegate.h
Labels: api: auth, cla: yes

#7313 [#7309] Fixed messageDisplaySuppressed Ignored on Slow Networks
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
  FirebaseInAppMessaging/Tests/Unit/FIRIAMDisplayExecutorTests.m
Labels: api: inappmessaging, cla: yes

#7357 Add Code Coverage Report.
  .github/workflows/test_coverage.yml
  .gitignore
  scripts/code_coverage_report/generate_code_coverage_report/Package.swift
  scripts/code_coverage_report/generate_code_coverage_report/README.md
  scripts/code_coverage_report/generate_code_coverage_report/Sources/CoverageReportGenerator/CoverageReportParser.swift
  scripts/code_coverage_report/generate_code_coverage_report/Sources/CoverageReportGenerator/MetricsServiceRequest.swift
  scripts/code_coverage_report/generate_code_coverage_report/Sources/CoverageReportGenerator/main.swift
  scripts/code_coverage_report/get_updated_files.sh
  scripts/code_coverage_report/pod_test_code_coverage_report.sh
Labels: cla: yes

#7427 Update CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
Labels: api: auth, cla: yes

#7429 Change model name picker to text field in sample app.
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp/ContentView.swift
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp/Downloader.swift
Labels: cla: yes

#7430 Update coverage workflow
  .github/workflows/test_coverage.yml
  scripts/code_coverage_report/generate_code_coverage_report/Sources/CoverageReportGenerator/CoverageReportParser.swift
Labels: cla: yes

#7433 Fixed build warnings introduced with Xcode 12.5
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessagingTopicOperation.m
Labels: api: messaging, cla: yes

#7435 Fix build warnings introduced with Xcode 12.5
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/FPRURLFilter.m
Labels: api: performance, cla: yes

#7421 Fix a crash that happens when Firestore is being terminated when the last shared pointer to it is in a listener
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/core/src/util/async_queue.cc
Labels: api: firestore, cla: yes

#7431 Fix new build warnings in Core with Xcode 12.5
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Sources/FIRLogger.m
Labels: api: core, cla: yes

#7434 Fixed build warnings introduced with Xcode 12.5
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDLJavaScriptExecutor.m
Labels: api: dynamiclinks, cla: yes

#7432 Fixed build warnings introduced with Xcode 12.5
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/RCNDevice.m
Labels: api: remoteconfig, cla: yes

#7436 Analytics 7.6.0
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: api: analytics, cla: yes

#7442 M89 Bump ML pod versions
  FirebaseMLCommon.podspec.json
  FirebaseMLModelInterpreter.podspec.json
  FirebaseMLVision.podspec.json
Labels: cla: yes

#7443 M89 release manifest
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: cla: yes, release-tooling

#7174 Enable tvOS support for Perf
  .github/workflows/performance.yml
  FirebasePerformance.podspec
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/FPRClient.m
  FirebasePerformance/Sources/FPRProtoUtils.h
  FirebasePerformance/Sources/FPRProtoUtils.m
  FirebasePerformance/Tests/TestApp/Source/Views/NetworkConnectionView.m
  FirebasePerformance/Tests/Unit/FPRProtoUtilsTest.m
  FirebasePerformance/Tests/Unit/Instruments/FPRNSURLSessionInstrumentTest.m
  FirebasePerformance/generate_project.sh
  scripts/build.sh
Labels: api: performance, cla: yes, tvOS

#7447 Add Perf tvOS slice to zip distribution
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: cla: yes, release-tooling

#7422 Merge duplicate requests
  FirebaseMLModelDownloader/Sources/DeviceLogger.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
Labels: cla: yes

#7449 Tweak the changelog message for a fixed crash
  Firestore/CHANGELOG.md
Labels: api: firestore, cla: yes

#7450 GHA zip workflow: add manual trigger
  .github/workflows/zip.yml
  scripts/build_zip.sh
Labels: cla: yes

#7451 Update to enable pod tests in post submit tests.
  .github/workflows/test_coverage.yml
Labels: cla: yes

#7457 CPDC push: register repo in not exists and fail if one of pushes fails
  ReleaseTooling/Sources/FirebaseReleaser/Push.swift
Labels: cla: yes, release-tooling

#7458 Restore master manifest version
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: cla: yes, release-tooling

#7446 Combine Support: getCredentialWith(_:) in OAuthProvider
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  FirebaseCombineSwift/Sources/Auth/OAuthProvider+Combine.swift
  FirebaseCombineSwift/Tests/Unit/Auth/OAuthProviderTests.swift
  FirebaseCombineSwift/Tests/Unit/Bundle+Tests.swift
  FirebaseCombineSwift/Tests/Unit/FirebaseCombineSwift-unit-Bridging-Header.h
Labels: cla: yes

#7306 Track conversions on in-app message campaigns without a clickthrough URL
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMAnalyticsEventLoggerImpl.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMAnalyticsEventLogger.h
  FirebaseInAppMessaging/Tests/Unit/FIRIAMDisplayExecutorTests.m
Labels: api: inappmessaging, cla: yes

#7459 Fix a race condition involving binary images being changed.
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Components/FIRCLSBinaryImage.m
Labels: api: crashlytics, cla: yes

#7445 Better VoiceOver experience for in-app messages
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Resources/FIRInAppMessageDisplayStoryboard.storyboard
  FirebaseInAppMessaging/Sources/DefaultUI/Banner/FIRIAMBannerViewController.m
  FirebaseInAppMessaging/Sources/DefaultUI/Card/FIRIAMCardViewController.m
  FirebaseInAppMessaging/Sources/DefaultUI/ImageOnly/FIRIAMImageOnlyViewController.m
  FirebaseInAppMessaging/Sources/DefaultUI/Modal/FIRIAMModalViewController.m
Labels: api: inappmessaging, cla: yes

#7460 RTDB FSRWebSocket: suppress diagnostic error
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/third_party/SocketRocket/FSRWebSocket.m
Labels: api: database, cla: yes

#6334 Add DocumentSnapshot.data(as:with:decoder:)
  Firestore/Example/Tests/Util/XCTestCase+Await.h
  Firestore/Example/Tests/Util/XCTestCase+Await.mm
  Firestore/Swift/CHANGELOG.md
  Firestore/Swift/Source/Codable/DocumentSnapshot+ReadDecodable.swift
  Firestore/Swift/Tests/Integration/CodableIntegrationTests.swift
Labels: api: firestore, cla: yes

#7463 Update changed file tool
  .gitignore
  scripts/code_coverage_report/code_coverage_file_list.json
  scripts/code_coverage_report/generate_code_coverage_report/Package.swift
  scripts/code_coverage_report/generate_code_coverage_report/Sources/UpdatedFilesCollector/main.swift
  scripts/code_coverage_report/get_updated_files.sh
Labels: cla: yes

#7461 Add debug logging around token expiration
  FirebaseAuth/Sources/SystemService/FIRSecureTokenService.m
  FirebaseAuth/Sources/User/FIRUser.m
Labels: api: auth, cla: yes

#7465 Add documentation + other minor fixes.
  FirebaseMLModelDownloader/Sources/CustomModel.swift
  FirebaseMLModelDownloader/Sources/DeviceLogger.swift
  FirebaseMLModelDownloader/Sources/DownloaderUserDefaults.swift
  FirebaseMLModelDownloader/Sources/FileDownloader.swift
  FirebaseMLModelDownloader/Sources/LocalModelInfo.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadConditions.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelFileManager.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Sources/RemoteModelInfo.swift
  FirebaseMLModelDownloader/Sources/TelemetryLogger.swift
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
Labels: cla: yes

#7462 Mostly minor fixes that came out of the bugbash
  FirebaseMLModelDownloader/Sources/CustomModel.swift
  FirebaseMLModelDownloader/Sources/DeviceLogger.swift
  FirebaseMLModelDownloader/Sources/DownloaderUserDefaults.swift
  FirebaseMLModelDownloader/Sources/FileDownloader.swift
  FirebaseMLModelDownloader/Sources/LocalModelInfo.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadConditions.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelFileManager.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Sources/RemoteModelInfo.swift
  FirebaseMLModelDownloader/Sources/TelemetryLogger.swift
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
Labels: cla: yes

#7477 Cherry-pick change to fix binary image race condition.
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Components/FIRCLSBinaryImage.m
Labels: api: crashlytics, cla: yes

#7470 Add multiple workflows for coverage tests.
  .github/workflows/test_coverage.yml
  scripts/code_coverage_report/code_coverage_file_list.json
  scripts/code_coverage_report/generate_code_coverage_report/Sources/CoverageReportGenerator/CoverageReportParser.swift
Labels: cla: yes

#7482 Add internal documentation to the FirebaseFirestore podspec
  FirebaseFirestore.podspec
Labels: api: firestore, cla: yes

#7490 M89 Carthage files
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelInterpreterBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLVisionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseProtobufBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: auth, cla: yes, release-tooling

#7488 Merging the 7.6.0 release into master
  Crashlytics/CHANGELOG.md
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
Labels: api: auth, api: crashlytics, cla: yes

#7483 Improve internal header documentation
  HeadersImports.md
  Interop/FirebaseComponentSystem.md
Labels: cla: yes

#7489 Fix Downloader nightly
  .github/workflows/generate_issues.yml
  .github/workflows/mlmodeldownloader.yml
Labels: cla: yes

#7302 Add Crashlytics bulk key/value logging API
  Crashlytics/Crashlytics/Components/FIRCLSUserLogging.h
  Crashlytics/Crashlytics/Components/FIRCLSUserLogging.m
  Crashlytics/Crashlytics/FIRCrashlytics.m
  Crashlytics/Crashlytics/Public/FirebaseCrashlytics/FIRCrashlytics.h
  Crashlytics/UnitTests/FIRCLSLoggingTests.m
Labels: api: crashlytics, cla: yes

#7484 Disable code coverage report in PRs for external users
  .github/workflows/test_coverage.yml
Labels: cla: yes

#7376 Refactor ReportManager to be more testable
  Crashlytics/Crashlytics/Controllers/FIRCLSAnalyticsManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSAnalyticsManager.m
  Crashlytics/Crashlytics/Controllers/FIRCLSExistingReportManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSExistingReportManager.m
  Crashlytics/Crashlytics/Controllers/FIRCLSManagerData.h
  Crashlytics/Crashlytics/Controllers/FIRCLSManagerData.m
  Crashlytics/Crashlytics/Controllers/FIRCLSNotificationManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSNotificationManager.m
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.m
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager_Private.h
  Crashlytics/Crashlytics/Controllers/FIRCLSReportUploader.m
  Crashlytics/Crashlytics/FIRCrashlytics.m
  Crashlytics/Crashlytics/Helpers/FIRAEvent+Internal.h
  Crashlytics/Crashlytics/Helpers/FIRAEvent+Internal.m
  Crashlytics/Crashlytics/Helpers/FIRAEvent.h
  Crashlytics/Crashlytics/Helpers/FIRAValue.h
  Crashlytics/Crashlytics/Helpers/FIRCLSFCRAnalytics.m
  Crashlytics/Crashlytics/Models/FIRCLSLaunchMarkerModel.h
  Crashlytics/Crashlytics/Models/FIRCLSLaunchMarkerModel.m
  Crashlytics/UnitTests/FIRCLSReportManagerTests.m
  Crashlytics/UnitTests/FIRCLSReportUploaderTests.m
  Crashlytics/UnitTests/Mocks/FIRCLSMockReportManager.h
  Crashlytics/UnitTests/Mocks/FIRCLSMockReportManager.m
  Crashlytics/UnitTests/Mocks/FIRCLSMockReportUploader.m
Labels: api: crashlytics, cla: yes

#7497 Disable Firestore code coverage workflow.
  .github/workflows/test_coverage.yml
Labels: cla: yes

#7502 Update Firebase version in zip manifest
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: cla: yes, release-tooling

#7471 Final fixes
  FirebaseMLModelDownloader/Sources/DeviceLogger.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelFileManager.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Sources/TelemetryLogger.swift
  FirebaseMLModelDownloader/Sources/proto/firebase_ml_log_sdk.pb.swift
  FirebaseMLModelDownloader/Sources/proto/firebase_ml_log_sdk.proto
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
Labels: cla: yes

#7403 Fix startAfter/endBefore for orderByKeys queries
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Api/FIRDatabaseQuery.m
  FirebaseDatabase/Sources/Core/FRepo.m
  FirebaseDatabase/Sources/Core/FSyncPoint.h
  FirebaseDatabase/Sources/Core/FSyncPoint.m
  FirebaseDatabase/Sources/Core/FSyncTree.h
  FirebaseDatabase/Sources/Core/FSyncTree.m
  FirebaseDatabase/Sources/Core/View/FView.h
  FirebaseDatabase/Sources/Core/View/FView.m
  FirebaseDatabase/Tests/Integration/FIRDatabaseQueryTests.m
Labels: api: database, cla: yes

#7439 Removes saved path on device
  FirebaseMLModelDownloader/Apps/Sample/MLDownloaderTestApp/Downloader.swift
  FirebaseMLModelDownloader/Apps/Sample/Podfile
  FirebaseMLModelDownloader/Sources/CustomModel.swift
  FirebaseMLModelDownloader/Sources/DeviceLogger.swift
  FirebaseMLModelDownloader/Sources/DownloaderUserDefaults.swift
  FirebaseMLModelDownloader/Sources/FileDownloader.swift
  FirebaseMLModelDownloader/Sources/LocalModelInfo.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadConditions.swift
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelFileManager.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Sources/RemoteModelInfo.swift
  FirebaseMLModelDownloader/Sources/TelemetryLogger.swift
  FirebaseMLModelDownloader/Sources/proto/firebase_ml_log_sdk.pb.swift
  FirebaseMLModelDownloader/Sources/proto/firebase_ml_log_sdk.proto
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
Labels: cla: yes

#7498 The network connection should be stubbed instead of using OCMExpect
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig, cla: yes

#7454 BundleSerializer complete.
  Firestore/core/src/bundle/bundle_document.h
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/src/bundle/bundle_serializer.h
  Firestore/core/src/bundle/bundled_document_metadata.h
  Firestore/core/src/core/target.h
  Firestore/core/src/local/local_serializer.cc
  Firestore/core/src/model/document.h
  Firestore/core/src/remote/remote_objc_bridge.cc
  Firestore/core/src/remote/serializer.cc
  Firestore/core/src/remote/serializer.h
  Firestore/core/src/timestamp_internal.cc
  Firestore/core/src/timestamp_internal.h
  Firestore/core/src/util/read_context.h
  Firestore/core/src/util/string_util.cc
  Firestore/core/src/util/string_util.h
  Firestore/core/test/unit/bundle/bundle_serializer_test.cc
  Firestore/core/test/unit/remote/serializer_test.cc
Labels: api: firestore, cla: yes

#6889 Crashlytics move some noisy logs out of devs logs
  Crashlytics/Crashlytics/Components/FIRCLSProcess.c
  Crashlytics/Crashlytics/Models/FIRCLSSymbolResolver.m
Labels: api: crashlytics, cla: yes

#7492 Firebase ML packaging updates
  Carthage.md
  Firebase.podspec
  FirebaseCore/CHANGELOG.md
  FirebaseMLCommon.podspec.json
  FirebaseMLModelDownloader.podspec
  FirebaseMLModelInterpreter.podspec.json
  FirebaseMLVision.podspec.json
  Package.swift
  ReleaseTooling/CarthageJSON/FirebaseMLModelInterpreterBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLVisionBinary.json
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
Labels: api: core, api: ml, cla: yes, release-tooling

#7495 Turn on unit test for FirebasePerformance.
  .github/workflows/test_coverage.yml
  scripts/code_coverage_report/pod_test_code_coverage_report.sh
Labels: cla: yes

#7512 Remove Carthage Protobuf special casing
  Carthage.md
  ReleaseTooling/Sources/ZipBuilder/CarthageUtils.swift
Labels: cla: yes, release-tooling

#7506 Miscellaneous doc fixes
  FirebaseAuth/CHANGELOG.md
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Sources/Public/FirebaseCore/FIRVersion.h
Labels: api: auth, api: core, cla: yes, public-api-change

#7515 ML model downloader fixes
  .gitignore
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelFileManager.swift
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
Labels: cla: yes

#7455 Dequeue limbo resolutions when their respective queries are stopped
  Firestore/CHANGELOG.md
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.h
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/Example/Tests/SpecTests/json/limbo_spec_test.json
  Firestore/core/src/core/sync_engine.cc
  Firestore/core/src/core/sync_engine.h
  Firestore/core/src/util/random_access_queue.h
  Firestore/core/test/unit/util/random_access_queue_test.cc
Labels: api: firestore, cla: yes

#7516 Disable token test on forks
  .github/workflows/remoteconfig.yml
Labels: cla: yes

#7517 Add clarifying documentation for command-line builds
  Firestore/Example/Podfile
  Firestore/README.md
Labels: api: firestore, cla: yes

#7524 Don't run cron jobs on forks
  .github/workflows/installations.yml
  .github/workflows/mlmodeldownloader.yml
Labels: cla: yes

#7481 Enable watchOS for Remote Config and ABTesting
  .github/workflows/abtesting.yml
  .github/workflows/remoteconfig.yml
  Example/watchOSSample/Podfile
  Example/watchOSSample/SampleWatchAppWatchKitExtension/ExtensionDelegate.swift
  FirebaseABTesting.podspec
  FirebaseABTesting/CHANGELOG.md
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/CHANGELOG.md
  README.md
Labels: api: abtesting, api: remoteconfig, cla: yes

#7480 Enabling watchOS unit test
  .github/workflows/messaging.yml
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/FIRMessagingUtilities.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingExtensionHelperTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingHandlingTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingRemoteNotificationsProxyTest.m
Labels: api: messaging, cla: yes

#7518 Setup Firestore code coverage tests.
  .github/workflows/test_coverage.yml
  scripts/build.sh
  scripts/code_coverage_report/pod_test_code_coverage_report.sh
Labels: cla: yes

#7526 Fix Swift module map regression
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: cla: yes, release-tooling

#7504 Combine Support: Link user from a third-party provider
  FirebaseCombineSwift/Sources/Auth/User+Combine.swift
  FirebaseCombineSwift/Tests/Unit/Auth/UserTests.swift
  FirebaseCombineSwift/Tests/Unit/Credentials.swift
Labels: cla: yes

#7531 Update Firebase SPM version to 7.6.0
  Package.swift
Labels: cla: yes

#7533 Update Firebase SPM version to 7.6.0 (#7531)
  Package.swift
Labels: cla: yes

#7525 Fixes and corrections in telemetry logging
  FirebaseMLModelDownloader/Sources/ModelDownloadTask.swift
  FirebaseMLModelDownloader/Sources/ModelDownloader.swift
  FirebaseMLModelDownloader/Sources/ModelInfoRetriever.swift
  FirebaseMLModelDownloader/Sources/TelemetryLogger.swift
  FirebaseMLModelDownloader/Tests/Integration/ModelDownloaderIntegrationTests.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
Labels: cla: yes

#7466 Bundles LocalStore change
  Firestore/core/src/core/sync_engine.cc
  Firestore/core/src/local/leveldb_target_cache.cc
  Firestore/core/src/local/leveldb_target_cache.h
  Firestore/core/src/local/local_store.cc
  Firestore/core/src/local/local_store.h
  Firestore/core/src/local/memory_target_cache.cc
  Firestore/core/src/local/memory_target_cache.h
  Firestore/core/src/local/target_cache.h
  Firestore/core/src/model/model_fwd.h
  Firestore/core/src/remote/remote_event.h
  Firestore/core/test/unit/local/leveldb_target_cache_test.cc
  Firestore/core/test/unit/local/local_store_test.cc
  Firestore/core/test/unit/local/local_store_test.h
Labels: api: firestore, cla: yes

#7540 Update changelog for release
  FirebaseABTesting/CHANGELOG.md
  FirebaseMessaging/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
Labels: api: abtesting, api: messaging, api: remoteconfig, cla: yes

#7539 Update workflow to exclude tests from external users.
  .github/workflows/test_coverage.yml
Labels: cla: yes

#7542 Analytics 7.7.0
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: api: analytics, cla: yes

#7294 [Remove IID] Move some token unit tests from IID to Messaging
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  FirebaseDynamicLinks/Sources/Logging/FDLLogging.m
  FirebaseMessaging/Sources/Token/FIRMessagingAuthKeychain.h
  FirebaseMessaging/Sources/Token/FIRMessagingAuthKeychain.m
  FirebaseMessaging/Sources/Token/FIRMessagingCheckinStore.h
  FirebaseMessaging/Sources/Token/FIRMessagingCheckinStore.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenManager.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenStore.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingAPNSInfoTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingAuthKeychainTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTokenManagerTest.m
  Firestore/core/test/unit/util/ordered_code_test.cc
  GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
Labels: GoogleDataTransport, api: core, api: dynamiclinks, api: firestore, api: messaging, cla: yes

#7534 Combine Support: Renew the user authentication
  FirebaseCombineSwift/Sources/Auth/User+Combine.swift
  FirebaseCombineSwift/Tests/Unit/Auth/UserTests.swift
Labels: api: auth, cla: yes

#7546 Release notes update to add zip Catalyst simulator support
  FirebaseCore/CHANGELOG.md
Labels: api: core, cla: yes

#7545 Fix FIRFunctions.useEmulatorWithHost scheme
  Functions/CHANGELOG.md
  Functions/Example/Tests/FIRFunctionsTests.m
  Functions/FirebaseFunctions/FIRFunctions.m
Labels: api: functions, cla: yes

#7520 Update project.pbxproj for bundle_spec_test.json that was added in #7444
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
Labels: api: firestore, cla: yes

#7505 Adding "utmParametersDictionary" api to FIRDynamicLink
  FIRDynamicLinkTest.m
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDynamicLink.m
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FIRDynamicLink.h
  FirebaseDynamicLinks/Tests/Sample/FDLBuilderTestAppObjC/AppDelegate.m
  FirebaseDynamicLinks/Tests/Sample/FDLBuilderTestAppObjC/SceneDelegate.m
Labels: api: dynamiclinks, cla: yes, public-api-change

#7550 7.7 release notes titles
  FirebasePerformance/CHANGELOG.md
  Firestore/CHANGELOG.md
  Functions/CHANGELOG.md
Labels: api: firestore, api: functions, api: performance, cla: yes

#7558 update abtesting changelog
  FirebaseABTesting/CHANGELOG.md
Labels: api: abtesting, cla: yes

#7210 Remove Clearcut dependency.
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/Configurations/FPRConfigurations.h
  FirebasePerformance/Sources/Configurations/FPRConfigurations.m
  FirebasePerformance/Sources/Configurations/FPRRemoteConfigFlags.h
  FirebasePerformance/Sources/Configurations/FPRRemoteConfigFlags.m
  FirebasePerformance/Sources/FPRClient+Private.h
  FirebasePerformance/Sources/FPRClient.m
  FirebasePerformance/Sources/Loggers/FPRGDTLogger.h
  FirebasePerformance/Sources/Loggers/FPRGDTLogger.m
  FirebasePerformance/Sources/Loggers/FPRGDTLogger_Private.h
  FirebasePerformance/Tests/Unit/Configurations/FPRConfigurationsTest.m
  FirebasePerformance/Tests/Unit/Configurations/FPRFakeRemoteConfigFlags.h
  FirebasePerformance/Tests/Unit/Configurations/FPRFakeRemoteConfigFlags.m
  FirebasePerformance/Tests/Unit/Configurations/FPRRemoteConfigFlagsTest.m
  FirebasePerformance/Tests/Unit/FPRClientTest.m
  FirebasePerformance/Tests/Unit/FPRTestUtils.m
  FirebasePerformance/Tests/Unit/FPRURLFilterTests.m
  FirebasePerformance/Tests/Unit/Fakes/FPRFakeConfigurations.h
  FirebasePerformance/Tests/Unit/Fakes/FPRFakeConfigurations.m
  FirebasePerformance/Tests/Unit/Loggers/FPRGDTCCLoggerTest.m
  FirebasePerformance/Tests/Unit/Loggers/FPRGDTLogSamplerTest.m
  FirebasePerformance/Tests/Unit/Loggers/FPRGDTLoggerTest.m
  FirebasePerformance/Tests/Unit/Timer/FIRTraceTest.m
Labels: api: performance, cla: yes

#7560 Automate Release zip build
  .github/workflows/zip.yml
Labels: cla: yes

#7561 Incorporate SpecsDev
  .github/workflows/analytics.yml
  .github/workflows/prerelease.yml
  CoreOnly/Tests/FirebasePodTest/Podfile
  Example/watchOSSample/Podfile
  FirebaseAuth/Tests/Sample/Podfile
  FirebaseDynamicLinks/Tests/Sample/Podfile
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/Podfile
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/Podfile
  FirebaseMessaging/Apps/AdvancedSample/Podfile
  FirebaseMessaging/Apps/Sample/Podfile
  FirebasePerformance/Tests/FIRPerfE2E/Podfile
  FirebaseRemoteConfig/Tests/Sample/Podfile
  Firestore/Example/Podfile
  SymbolCollisionTest/Podfile
  scripts/build.sh
  scripts/create_spec_repo/Sources/SpecRepoBuilder/main.swift
  scripts/localize_podfile.swift
  scripts/pod_lib_lint.rb
  scripts/test_archiving.sh
  scripts/test_catalyst.sh
Labels: api: auth, api: core, api: dynamiclinks, api: firestore, api: inappmessaging, api: messaging, api: performance, api: remoteconfig, cla: yes

#7564 Remove unnecessary platform check
  FirebaseCore/Sources/FIRApp.m
Labels: api: core, cla: yes

#7565 Release 7.7 Merge
  .github/workflows/zip.yml
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseInstanceID.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  ReleaseTooling/DEVELOP.md
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/FirebaseReleaser/Push.swift
  ReleaseTooling/Sources/FirebaseReleaser/main.swift
Labels: api: auth, cla: yes, release-tooling

#7572 Bump version for SPM
  Package.swift
Labels: cla: yes

#7574 Clarify FirebaseAnalytics is still static only
  docs/firebase_in_libraries.md
Labels: cla: yes

#7575 Bump version for SPM (#7572)
  Package.swift
Labels: cla: yes

#7373 Store and update config metadata entries by namespace
  .gitignore
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.h
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.m
  FirebaseRemoteConfig/Sources/RCNConfigSettings.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigDBManagerTest.m
Labels: api: remoteconfig, cla: yes

#7570 Completely stop forcing static frameworks
  FirebaseMLModelDownloader.podspec
  FirebasePerformance.podspec
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/FPRClient.m
  FirebasePerformance/Sources/FPRProtoUtils.h
  FirebasePerformance/Sources/FPRProtoUtils.m
  FirebasePerformance/Tests/Unit/FPRProtoUtilsTest.m
  FirebaseSegmentation.podspec
Labels: api: performance, cla: yes

#7580 Combine Support: Disassociate user account from 3P IdP
  FirebaseCombineSwift/Sources/Auth/User+Combine.swift
  FirebaseCombineSwift/Tests/Unit/Auth/UserTests.swift
Labels: api: auth, cla: yes

#7548 Creates auth credential for Game Center sign in
  FirebaseCombineSwift/Sources/Auth/GameCenterAuthProvider+Combine.swift
  FirebaseCombineSwift/Tests/Unit/Auth/GameCenterAuthProviderTests.swift
  FirebaseCombineSwift/Tests/Unit/Auth/SignInWithGameCenterTests.swift
  FirebaseCombineSwift/Tests/Unit/AuthBackend+Combine.swift
  FirebaseCombineSwift/Tests/Unit/FirebaseCombineSwift-unit-Bridging-Header.h
  FirebaseCombineSwift/Tests/Unit/GKLocalPlayer+Tests.swift
Labels: api: auth, cla: yes

#7588 Treat bridging headers as test-related
  scripts/check_imports.swift
Labels: cla: yes

#7591 Carthage 7.7.0 update
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: auth, cla: yes, release-tooling

#7590 Publish command updates
  ReleaseTooling/Sources/FirebaseManifest/Pod.swift
  ReleaseTooling/Sources/FirebaseReleaser/Push.swift
Labels: cla: yes, release-tooling

#7584 Cleanup bad uses of andDo blocks
  Example/InstanceID/Tests/FIRInstanceIDTest.m
  FirebaseMessaging/CHANGELOG.md
Labels: api: messaging, cla: yes

#7596 Swift Package Manager doc updates
  SwiftPackageManager.md
Labels: cla: yes

#7593 Automatically update SPM version variable
  ReleaseTooling/Sources/FirebaseReleaser/InitializeRelease.swift
Labels: cla: yes, release-tooling

#7597 Remove unused kokoro files
  README.md
  kokoro/README.md
  kokoro/macos_external/continuous.cfg
  kokoro/macos_external/continuous.sh
  kokoro/macos_external/pull_request/presubmit.cfg
Labels: cla: yes

#7583 Log number of custom keys truncated
  Crashlytics/Crashlytics/Components/FIRCLSUserLogging.m
Labels: api: crashlytics, cla: yes

#7567 Add ByteStream to handle both NSInputStream and istream
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/bundle/bundle_reader.cc
  Firestore/core/src/bundle/bundle_reader.h
  Firestore/core/src/util/byte_stream.h
  Firestore/core/src/util/byte_stream_apple.h
  Firestore/core/src/util/byte_stream_apple.mm
  Firestore/core/src/util/byte_stream_cpp.cc
  Firestore/core/src/util/byte_stream_cpp.h
  Firestore/core/test/unit/bundle/bundle_reader_test.cc
  Firestore/core/test/unit/util/byte_stream_apple_test.mm
  Firestore/core/test/unit/util/byte_stream_cpp_test.cc
  Firestore/core/test/unit/util/byte_stream_test.cc
  Firestore/core/test/unit/util/byte_stream_test.h
Labels: api: firestore, cla: yes

#7605 Initial SPM instructions for Firebase itself
  README.md
Labels: cla: yes

#7503 Add an API to update Crash Reports from the previous run of the app
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Components/FIRCLSUserLogging.h
  Crashlytics/Crashlytics/Components/FIRCLSUserLogging.m
  Crashlytics/Crashlytics/Controllers/FIRCLSExistingReportManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSExistingReportManager.m
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.m
  Crashlytics/Crashlytics/FIRCrashlytics.m
  Crashlytics/Crashlytics/FIRCrashlyticsReport.m
  Crashlytics/Crashlytics/Models/FIRCLSInternalReport.h
  Crashlytics/Crashlytics/Models/FIRCLSInternalReport.m
  Crashlytics/Crashlytics/Models/FIRCLSReport.h
  Crashlytics/Crashlytics/Models/FIRCLSReport.m
  Crashlytics/Crashlytics/Private/FIRCrashlyticsReport_Private.h
  Crashlytics/Crashlytics/Public/FirebaseCrashlytics/FIRCrashlytics.h
  Crashlytics/Crashlytics/Public/FirebaseCrashlytics/FIRCrashlyticsReport.h
  Crashlytics/Crashlytics/Public/FirebaseCrashlytics/FirebaseCrashlytics.h
  Crashlytics/UnitTests/FIRCLSInternalReportTests.m
  Crashlytics/UnitTests/FIRCLSReportManagerTests.m
  Crashlytics/UnitTests/FIRCLSReportTests.m
  Crashlytics/UnitTests/FIRCrashlyticsReportTests.m
  run
  upload-symbols
Labels: api: crashlytics, cla: yes, public-api-change

#7608 Spread out cron jobs
  .github/workflows/abtesting.yml
  .github/workflows/analytics.yml
  .github/workflows/appdistribution.yml
  .github/workflows/auth.yml
  .github/workflows/cocoapods-integration.yml
  .github/workflows/core-diagnostics.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firebasepod.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/google-utilities-components.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/installations.yml
  .github/workflows/instanceid.yml
  .github/workflows/messaging.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/segmentation.yml
  .github/workflows/spm.yml
  .github/workflows/storage.yml
  .github/workflows/symbolcollision.yml
Labels: cla: yes

#7600 Remove the warning when Analytics is not included
  CoreOnly/Sources/Firebase.h
  FirebasePerformance/CHANGELOG.md
Labels: api: core, api: performance, cla: yes

#7601 Move the dispatch of gauge metric calls to its dedicated thread asynchronously
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/Gauges/FPRGaugeManager+Private.h
  FirebasePerformance/Sources/Gauges/FPRGaugeManager.m
  FirebasePerformance/Tests/Unit/Gauges/FPRGaugeManagerTests.m
Labels: api: performance, cla: yes

#7612 Don't use Abseil exceptions checks on Android
  Firestore/core/src/util/firestore_exceptions.h
Labels: api: firestore, cla: yes

#7604 Only update experiments for firebase namespace
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig, cla: yes

#7599 Mark GameCenterAuthProvider as unavailable on WatchOS
  FirebaseCombineSwift/Sources/Auth/GameCenterAuthProvider+Combine.swift
Labels: api: auth, cla: yes

#7592 Fix for the failed test testLinkAndRetrieveDataProviderAlreadyLinked
  FirebaseCombineSwift/Tests/Unit/Auth/UserTests.swift
Labels: api: auth, cla: yes

#7602 Combine support to send verification email
  FirebaseCombineSwift/Sources/Auth/User+Combine.swift
  FirebaseCombineSwift/Tests/Unit/Auth/UserTests.swift
Labels: api: auth, cla: yes

#7617 FIRMessagingCheckinServiceTest: use OCMock to stub NSURLSession
  FirebaseMessaging.podspec
  FirebaseMessaging/Sources/Token/FIRMessagingCheckinService.h
  FirebaseMessaging/Sources/Token/FIRMessagingCheckinService.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingCheckinServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingCheckinStoreTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingServiceTest.m
  Package.swift
Labels: api: messaging, cla: yes

#7547 Combine Support: Cloud Functions
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  FirebaseCombineSwift.podspec
  FirebaseCombineSwift/CHANGELOG.md
  FirebaseCombineSwift/DECISIONS.md
  FirebaseCombineSwift/README.md
  FirebaseCombineSwift/Sources/Functions/HTTPSCallable+Combine.swift
  FirebaseCombineSwift/Tests/Unit/FirebaseCombine-unit-Bridging-Header.h
  FirebaseCombineSwift/Tests/Unit/Functions/HTTPSCallableTests.swift
  Functions/FirebaseFunctions/Public/FirebaseFunctions/FIRHTTPSCallable.h
  Package.swift
Labels: api: core, api: functions, cla: yes, public-api-change
