Repository firebase/firebase-ios-sdk, pull requests merged in 2021-08, with the labels that each got.

#8480 Update FIAM to use NS_UNAVAILABLE
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessaging.h
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessagingRendering.h
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/CommonMessageTestVC.swift
Labels: api: inappmessaging, cla: yes, public-api-change

#8487 Check fork PRs before running coverage
  .github/workflows/test_coverage.yml
Labels: cla: yes

#8488 M101 - 8.5.0 Carthage updates
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: abtesting, api: appcheck, api: appdistribution, api: auth, api: crashlytics, api: database, api: dynamiclinks, api: inappmessaging, api: messaging, api: performance, api: remoteconfig, api: storage, cla: yes, release-tooling

#8493 Remove conditional compilation in app check headers
  FirebaseAppCheck/CHANGELOG.md
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRDeviceCheckProvider.h
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRDeviceCheckProviderFactory.h
Labels: api: appcheck, cla: yes, public-api-change

#8492 remove platform version check from Messaging header
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FIRMessagingExtensionHelper.h
Labels: api: messaging, cla: yes, public-api-change

#8494 Configure test keychain for macOS tests
  .github/workflows/app_check.yml
  .github/workflows/messaging.yml
  scripts/configure_test_keychain.sh
Labels: cla: yes

#8496 Configure macOS test keychain for keychain dependent workflows
  .github/workflows/auth.yml
  .github/workflows/installations.yml
  .github/workflows/mlmodeldownloader.yml
Labels: cla: yes

#8439 Convert nanopb struct to GDTCOREventDataObject and update the source code to use nanopb struct.
  FirebasePerformance.podspec
  FirebasePerformance/Sources/FPRClient+Private.h
  FirebasePerformance/Sources/FPRClient.m
  FirebasePerformance/Sources/FPRConsoleLogger.h
  FirebasePerformance/Sources/FPRConsoleLogger.m
  FirebasePerformance/Sources/FPRNanoPbUtils.h
  FirebasePerformance/Sources/FPRNanoPbUtils.m
  FirebasePerformance/Sources/FPRProtoUtils.h
  FirebasePerformance/Sources/FPRProtoUtils.m
  FirebasePerformance/Sources/Loggers/FPRGDTEvent.h
  FirebasePerformance/Sources/Loggers/FPRGDTEvent.m
  FirebasePerformance/Sources/Loggers/FPRGDTLogSampler.m
  FirebasePerformance/Sources/Loggers/FPRGDTLogger.h
  FirebasePerformance/Sources/Loggers/FPRGDTLogger.m
  FirebasePerformance/Sources/Loggers/FPRGDTRateLimiter.m
  FirebasePerformance/Tests/Unit/FPRClientTest.m
  FirebasePerformance/Tests/Unit/FPRNanoPbUtilsTest.m
  FirebasePerformance/Tests/Unit/FPRProtoUtilsTest.m
  FirebasePerformance/Tests/Unit/FPRTestUtils.h
  FirebasePerformance/Tests/Unit/FPRTestUtils.m
  FirebasePerformance/Tests/Unit/Fakes/FPRFakeClient.m
  FirebasePerformance/Tests/Unit/Instruments/FIRHTTPMetricTests.m
  FirebasePerformance/Tests/Unit/Loggers/FPRGDTEventTest.m
  FirebasePerformance/Tests/Unit/Loggers/FPRGDTLogSamplerTest.m
  FirebasePerformance/Tests/Unit/Loggers/FPRGDTLoggerTest.m
  FirebasePerformance/Tests/Unit/Loggers/FPRGDTRateLimiterTest.m
Labels: cla: yes, api: performance

#8500 Add FBAEMKit to auth qs zip build
  .github/workflows/zip.yml
Labels: cla: yes

#8497 FirebaseInAppMessagingSwift: explicitly import UIKit
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessaging/Swift/Source/SwiftUIPreviewHelpers.swift
  FirebaseInAppMessagingSwift.podspec
Labels: cla: yes, api: inappmessaging

#8502 Update versions for Release 8.6.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec.json
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  GoogleAppMeasurement.podspec.json
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, cla: yes, api: firestore, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#8432 Refactoring device heuristics collection to a helper class.
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.m
  FirebaseDynamicLinks/Sources/Utilities/FDLDeviceHeuristicsHelper.h
  FirebaseDynamicLinks/Sources/Utilities/FDLDeviceHeuristicsHelper.m
Labels: cla: yes, api: dynamiclinks

#8506 Apply keychain fixes to cron tests
  .github/workflows/auth.yml
  .github/workflows/installations.yml
  .github/workflows/mlmodeldownloader.yml
Labels: cla: yes

#8507 Fix failing swift-test for Perf SPM
  SwiftPMTests/swift-test/main.swift
Labels: cla: yes

#8476 Integrate Performance with SPM
  .github/workflows/performance.yml
  FirebasePerformance.podspec
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/AppActivity/FPRAppActivityTracker.h
  FirebasePerformance/Sources/AppActivity/FPRTraceBackgroundActivityTracker.m
  FirebasePerformance/Sources/FIRPerformance+Internal.h
  FirebasePerformance/Sources/FIRPerformance.m
  FirebasePerformance/Sources/FIRPerformance_Private.h
  FirebasePerformance/Sources/FPRClient.h
  FirebasePerformance/Sources/FPRClient.m
  FirebasePerformance/Sources/FPRNanoPbUtils.h
  FirebasePerformance/Sources/FPRNanoPbUtils.m
  FirebasePerformance/Sources/Instrumentation/FIRHTTPMetric.m
  FirebasePerformance/Sources/Instrumentation/UIKit/FPRUIViewControllerInstrument.m
  FirebasePerformance/Sources/Public/FirebasePerformance/FIRHTTPMetric.h
  FirebasePerformance/Sources/Public/FirebasePerformance/FIRPerformance.h
  FirebasePerformance/Sources/Public/FirebasePerformance/FIRPerformanceAttributable.h
  FirebasePerformance/Sources/Public/FirebasePerformance/FIRTrace.h
  FirebasePerformance/Sources/Public/FirebasePerformance/FirebasePerformance.h
  FirebasePerformance/Sources/Timer/FIRTrace.m
  FirebasePerformance/Tests/TestApp/Source/AppDelegate.m
  FirebasePerformance/Tests/TestApp/Source/ViewControllers/TracesViewController.m
  FirebasePerformance/Tests/TestApp/Source/Views/PerfTraceView.h
  FirebasePerformance/Tests/Unit/FIRPerformanceTest.m
  FirebasePerformance/Tests/Unit/FPRAppActivityTrackerTest.m
  FirebasePerformance/Tests/Unit/FPRClassInstrumentorTest.m
  FirebasePerformance/Tests/Unit/FPRClientTest.m
  FirebasePerformance/Tests/Unit/FPRInstrumentTest.m
  FirebasePerformance/Tests/Unit/FPRInstrumentationTest.m
  FirebasePerformance/Tests/Unit/FPRNanoPbUtilsTest.m
  FirebasePerformance/Tests/Unit/FPRNetworkTraceTest.m
  FirebasePerformance/Tests/Unit/FPRSelectorInstrumentorTest.m
  FirebasePerformance/Tests/Unit/FPRTestUtils.h
  FirebasePerformance/Tests/Unit/FPRTestUtils.m
  FirebasePerformance/Tests/Unit/FPRURLFilterTests.m
  FirebasePerformance/Tests/Unit/Gauges/FPRGaugeManagerTests.m
  FirebasePerformance/Tests/Unit/Instruments/FIRHTTPMetricTests.m
  FirebasePerformance/Tests/Unit/Instruments/FPRNSURLConnectionInstrumentTest.m
  FirebasePerformance/Tests/Unit/Instruments/FPRNSURLSessionInstrumentTest.m
  FirebasePerformance/Tests/Unit/Instruments/FPRUIViewControllerInstrumentTest.m
  FirebasePerformance/Tests/Unit/Loggers/FPRGDTLogSamplerTest.m
  FirebasePerformance/Tests/Unit/Loggers/FPRGDTLoggerTest.m
  FirebasePerformance/Tests/Unit/Loggers/FPRGDTRateLimiterTest.m
  FirebasePerformance/Tests/Unit/Server/BUILD
  FirebasePerformance/Tests/Unit/Server/FPRHermeticTestServer.h
  FirebasePerformance/Tests/Unit/Server/FPRHermeticTestServer.m
  FirebasePerformance/Tests/Unit/Timer/FIRTraceTest.m
  FirebasePerformance/Tests/Unit/Timer/FPRCounterListTest.m
  Package.swift
  SharedTestUtilities/GDTCORTransportFake.h
  SharedTestUtilities/GDTCORTransportFake.m
  SwiftPM-PlatformExclude/FirebasePerformanceWrap/dummy.m
  SwiftPM-PlatformExclude/FirebasePerformanceWrap/include/dummy.h
  SwiftPMTests/objc-import-test/objc-header.m
  SwiftPMTests/objc-import-test/objc-module.m
  SwiftPMTests/swift-test/main.swift
  scripts/spm_test_schemes/PerformanceUnit.xcscheme
Labels: cla: yes, api: performance, public-api-change

#8511 Remove Protobuf dependency
  FirebasePerformance.podspec
  FirebasePerformance/ProtoSupport/PerfMetric.pbobjc.h
  FirebasePerformance/ProtoSupport/PerfMetric.pbobjc.m
  FirebasePerformance/Sources/FPRProtoUtils.h
  FirebasePerformance/Sources/FPRProtoUtils.m
  FirebasePerformance/Tests/Unit/FPRProtoUtilsTest.m
Labels: cla: yes, api: performance

#8483 [#8482] Fixed Crash Caused by Invalid IAM Image URL
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
Labels: cla: yes, api: inappmessaging

#8484 Fix getData crashing in offline
  FirebaseDatabase/Sources/Core/FSyncTree.m
Labels: api: database, cla: yes

#8515 There are no longer special instructions for Apple Silicon Macs
  README.md
Labels: cla: yes

#8516 Fix Xcode 13 beta 4 build issues for Firebase Performance
  FirebasePerformance/Sources/AppActivity/FPRAppActivityTracker.h
  FirebasePerformance/Sources/AppActivity/FPRScreenTraceTracker.h
  FirebasePerformance/Sources/AppActivity/FPRSessionManager.h
  FirebasePerformance/Sources/AppActivity/FPRTraceBackgroundActivityTracker.h
  FirebasePerformance/Sources/FPRClient.h
  FirebasePerformance/Sources/FPRNanoPbUtils.h
  FirebasePerformance/Sources/Gauges/CPU/FPRCPUGaugeCollector.h
  FirebasePerformance/Sources/Gauges/FPRGaugeManager+Private.h
  FirebasePerformance/Sources/Gauges/FPRGaugeManager.h
  FirebasePerformance/Sources/Gauges/FPRGaugeManager.m
  FirebasePerformance/Sources/Gauges/Memory/FPRMemoryGaugeCollector.h
  FirebasePerformance/Sources/Instrumentation/FIRHTTPMetric+Private.h
  FirebasePerformance/Sources/Instrumentation/FPRInstrument.h
  FirebasePerformance/Sources/Instrumentation/FPRInstrumentation.h
  FirebasePerformance/Sources/Instrumentation/FPRNetworkTrace.h
  FirebasePerformance/Sources/Instrumentation/FPRObjectInstrumentor.h
  FirebasePerformance/Sources/Instrumentation/Network/Delegates/FPRNSURLConnectionDelegate.h
  FirebasePerformance/Sources/Instrumentation/Network/Delegates/FPRNSURLConnectionDelegateInstrument.h
  FirebasePerformance/Sources/Instrumentation/Network/Delegates/FPRNSURLConnectionDelegateInstrument.m
  FirebasePerformance/Sources/Instrumentation/Network/Delegates/FPRNSURLSessionDelegate.h
  FirebasePerformance/Sources/Instrumentation/Network/Delegates/FPRNSURLSessionDelegateInstrument.h
  FirebasePerformance/Sources/Instrumentation/Network/Delegates/FPRNSURLSessionDelegateInstrument.m
  FirebasePerformance/Sources/Instrumentation/Network/FPRNSURLConnectionInstrument.h
  FirebasePerformance/Sources/Instrumentation/Network/FPRNSURLConnectionInstrument.m
  FirebasePerformance/Sources/Instrumentation/Network/FPRNSURLSessionInstrument.h
  FirebasePerformance/Sources/Instrumentation/Network/FPRNSURLSessionInstrument.m
  FirebasePerformance/Sources/Instrumentation/Network/FPRNSURLSessionInstrument_Private.h
  FirebasePerformance/Sources/Instrumentation/UIKit/FPRUIViewControllerInstrument.h
  FirebasePerformance/Sources/Instrumentation/UIKit/FPRUIViewControllerInstrument.m
  FirebasePerformance/Sources/Loggers/FPRGDTLogger.h
  FirebasePerformance/Sources/Loggers/FPRGDTRateLimiter.h
  FirebasePerformance/Sources/Public/FirebasePerformance/FIRHTTPMetric.h
  FirebasePerformance/Sources/Public/FirebasePerformance/FIRTrace.h
Labels: cla: yes, api: performance, public-api-change

#8512 Resolve a possible race condition
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/AppActivity/FPRSessionManager+Private.h
  FirebasePerformance/Sources/AppActivity/FPRSessionManager.h
  FirebasePerformance/Sources/AppActivity/FPRSessionManager.m
  FirebasePerformance/Sources/Instrumentation/FPRNetworkTrace.m
  FirebasePerformance/Sources/Timer/FIRTrace.m
  FirebasePerformance/Tests/Unit/FPRSessionManagerTest.m
Labels: cla: yes, api: performance

#8518 CHANGELOG updates for M102
  FirebaseAuth/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: auth, cla: yes, api: firestore

#8513 Fix race condition where checkin is not reset properly when app first installed
  FirebaseMessaging/Apps/Sample/Sample.xcodeproj/project.pbxproj
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/Token/FIRMessagingAuthService.h
  FirebaseMessaging/Sources/Token/FIRMessagingAuthService.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenManager.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingAuthServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTokenManagerTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTokenOperationsTest.m
Labels: api: messaging, cla: yes

#8521 Fix perf assert macro
  FirebasePerformance/Sources/Common/FPRDiagnostics.h
  FirebasePerformance/Tests/Unit/Common/FPRDiagnosticsTest.m
Labels: cla: yes, api: performance

#8526 Should verify mock object after expect
  FirebaseMessaging/Tests/UnitTests/FIRMessagingExtensionHelperTest.m
Labels: api: messaging, cla: yes

#8532 Update Swift Package Manager doc
  SwiftPackageManager.md
Labels: cla: yes

#8499 Add functions spm unit and build tests
  .travis.yml
  FirebaseFunctions.podspec
  Functions/CHANGELOG.md
  Functions/Example/IntegrationTests/IntegrationTests-Info.plist
  Functions/Example/Tests/Tests-Info.plist
  Functions/Example/Tests/en.lproj/InfoPlist.strings
  Functions/Tests/Unit/Swift/FunctionsAPITests.swift
  Package.swift
  scripts/spm_test_schemes/FunctionsUnit.xcscheme
  scripts/spm_test_schemes/FunctionsUnitSwift.xcscheme
Labels: cla: yes, api: functions

#8542 Carthage M102
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, cla: yes, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#8543 GHA on macOS 11
  .github/workflows/abtesting.yml
  .github/workflows/analytics.yml
  .github/workflows/app_check.yml
  .github/workflows/appdistribution.yml
  .github/workflows/archiving.yml
  .github/workflows/auth.yml
  .github/workflows/check.yml
  .github/workflows/cocoapods-integration.yml
  .github/workflows/combine.yml
  .github/workflows/core-diagnostics.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/danger.yml
  .github/workflows/database.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firebasepod.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/google-utilities-components.yml
  .github/workflows/health_metrics.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/installations.yml
  .github/workflows/messaging.yml
  .github/workflows/mlmodeldownloader.yml
  .github/workflows/performance-integration-tests.yml
  .github/workflows/performance.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/segmentation.yml
  .github/workflows/spm.yml
  .github/workflows/storage.yml
  .github/workflows/symbolcollision.yml
  .github/workflows/watchos-sample.yml
Labels: cla: yes

#8555 Version bump Analytics specs with release tooling
  ReleaseTooling/Sources/FirebaseReleaser/InitializeRelease.swift
Labels: cla: yes, release-tooling

#8557 Remove pod_lib_lint script workaround
  scripts/pod_lib_lint.rb
Labels: cla: yes

#8558 Functions: don't send dummy FAC token
  Functions/CHANGELOG.md
  Functions/Example/Tests/FIRFunctionsTests.m
  Functions/Example/Tests/FUNContextProviderTests.m
  Functions/FirebaseFunctions/FUNContext.m
Labels: cla: yes, api: functions

#8534 Fix double '/' in path produced by spm sample crashlytics build script
  SwiftPackageManager.md
Labels: cla: yes, api: crashlytics

#8559 Disable Incremental Code Coverage
  .github/workflows/health_metrics.yml
Labels: cla: yes

#8549 Database: fix App Check token refresh
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Core/FPersistentConnection.m
Labels: api: database, cla: yes

#8568 Update quickstart tests based on quickstart-ios/issues/1260
  .github/workflows/abtesting.yml
  .github/workflows/auth.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/installations.yml
  .github/workflows/messaging.yml
  .github/workflows/performance.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/storage.yml
  scripts/test_quickstart.sh
Labels: cla: yes

#8575 Fix Firestore test build on Xcode 13
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
Labels: cla: yes, api: firestore, Xcode 13 - iOS 15

#8570 Add CI for watchOS and Firebase Storage
  .github/workflows/storage.yml
  FirebaseStorageSwift/Sources/AsyncAwait.swift
Labels: api: storage, cla: yes

#8585 Update type of binary size request
  scripts/health_metrics/generate_code_coverage_report/Sources/BinarySizeReportGenerator/BinarySizeReportGeneration.swift
Labels: cla: yes

#8592 Complete the transition from Travis to GitHub Actions
  .travis.yml
  README.md
Labels: cla: yes

#8604 fix typo in tests
  FirebaseAuth/Tests/Unit/FIRAdditionalUserInfoTests.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
Labels: api: auth, cla: yes

#8605 Analytics 8.7.0
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: cla: yes, api: analytics
