Repository firebase/firebase-ios-sdk, pull requests merged in 2021-12, with the labels that each got.

#9038 Carthage M108
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, cla: yes, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#9028 Swift Modernization Dashboard
  ROADMAP.md
  SwiftDashboard.md
Labels: cla: yes

#9044 Install Python dependencies before running trigger_workflow script.
  .github/workflows/update-cpp-sdk-on-release.yml
Labels: cla: yes

#8987 Copy test app into new target and migrate ApplicationDelegate to Swift
  FirebaseAuth/Tests/Sample/AuthSample.xcodeproj/project.pbxproj
  FirebaseAuth/Tests/Sample/Podfile
  FirebaseAuth/Tests/Sample/SwiftSample/AppDelegate.swift
  FirebaseAuth/Tests/Sample/SwiftSample/FacebookAuthProvider.m
  FirebaseAuth/Tests/Sample/SwiftSample/GoogleAuthProvider.m
  FirebaseAuth/Tests/Sample/SwiftSample/SwiftSample-Bridging-Header.h
  scripts/build.sh
Labels: api: auth, cla: yes

#9007 Swift Error Enum for Storage
  FirebaseStorageSwift/Sources/Result.swift
  FirebaseStorageSwift/Sources/StorageError.swift
  FirebaseStorageSwift/Tests/Integration/StorageAsyncAwait.swift
  FirebaseStorageSwift/Tests/Integration/StorageIntegration.swift
Labels: api: storage, cla: yes, Swift API

#8922 Fix for issue #8907 InApp message is shown every new session
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
Labels: cla: yes, api: inappmessaging

#9035 Set up specs testing
  ReleaseTooling/Package.swift
  ReleaseTooling/Sources/PodspecsTester/InitializeSource.swift
  ReleaseTooling/Sources/PodspecsTester/main.swift
Labels: cla: yes, release-tooling

#9052 Fix `TARGET_OS_TVOS` typos
  FirebaseInAppMessaging/iOS/FirebaseInAppMessaging_iOS.m
  SwiftPMTests/objc-import-test/objc-header.m
  SwiftPMTests/objc-import-test/objc-module.m
Labels: cla: yes, api: inappmessaging

#9051 Updating changelog to reflect fix for #8907
  FirebaseInAppMessaging/CHANGELOG.md
Labels: cla: yes, api: inappmessaging

#9050 Fix flaky messaging test
  FirebaseMessaging/Tests/UnitTests/FIRMessagingExtensionHelperTest.m
Labels: api: messaging, cla: yes

#9058 Move passthrough changes onto "passthrough" branch.
  FirebaseAuth/Sources/SystemService/FIRSecureTokenService.h
  FirebaseAuth/Sources/SystemService/FIRSecureTokenService.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
Labels: api: auth

#9046 Add app ID header to Firebase Auth
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.h
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/FIRAuthBackendCreateAuthURITests.m
  FirebaseAuth/Tests/Unit/FIRAuthBackendRPCImplementationTests.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRCreateAuthURIRequestTests.m
  FirebaseAuth/Tests/Unit/FIRCreateAuthURIResponseTests.m
  FirebaseAuth/Tests/Unit/FIRDeleteAccountRequestTests.m
  FirebaseAuth/Tests/Unit/FIRDeleteAccountResponseTests.m
  FirebaseAuth/Tests/Unit/FIREmailLinkRequestTests.m
  FirebaseAuth/Tests/Unit/FIREmailLinkSignInResponseTests.m
  FirebaseAuth/Tests/Unit/FIRGetAccountInfoRequestTests.m
  FirebaseAuth/Tests/Unit/FIRGetAccountInfoResponseTests.m
  FirebaseAuth/Tests/Unit/FIRGetOOBConfirmationCodeRequestTests.m
  FirebaseAuth/Tests/Unit/FIRGetOOBConfirmationCodeResponseTests.m
  FirebaseAuth/Tests/Unit/FIRGetProjectConfigRequestTests.m
  FirebaseAuth/Tests/Unit/FIRGetProjectConfigResponseTests.m
  FirebaseAuth/Tests/Unit/FIRGitHubAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRIdentityToolkitRequestTests.m
  FirebaseAuth/Tests/Unit/FIRResetPasswordRequestTests.m
  FirebaseAuth/Tests/Unit/FIRResetPasswordResponseTests.m
  FirebaseAuth/Tests/Unit/FIRSecureTokenRequestTests.m
  FirebaseAuth/Tests/Unit/FIRSendVerificationCodeRequestTests.m
  FirebaseAuth/Tests/Unit/FIRSendVerificationCodeResponseTests.m
  FirebaseAuth/Tests/Unit/FIRSetAccountInfoRequestTests.m
  FirebaseAuth/Tests/Unit/FIRSetAccountInfoResponseTests.m
  FirebaseAuth/Tests/Unit/FIRSignInWithGameCenterTests.m
  FirebaseAuth/Tests/Unit/FIRSignUpNewUserRequestTests.m
  FirebaseAuth/Tests/Unit/FIRSignUpNewUserResponseTests.m
  FirebaseAuth/Tests/Unit/FIRTwitterAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyAssertionRequestTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyAssertionResponseTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyClientRequestTest.m
  FirebaseAuth/Tests/Unit/FIRVerifyClientResponseTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyCustomTokenRequestTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyCustomTokenResponseTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyPasswordRequestTest.m
  FirebaseAuth/Tests/Unit/FIRVerifyPasswordResponseTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyPhoneNumberRequestTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyPhoneNumberResponseTests.m
Labels: api: auth, cla: yes

#9015 [Heartbeat Logging] - Integration tests, documentation, refactoring
  HeartbeatLogging/Sources/AnyEncoder+AnyDecoder.swift
  HeartbeatLogging/Sources/Heartbeat.swift
  HeartbeatLogging/Sources/HeartbeatController.swift
  HeartbeatLogging/Sources/HeartbeatStorage.swift
  HeartbeatLogging/Sources/HeartbeatsBundle.swift
  HeartbeatLogging/Sources/HeartbeatsPayload.swift
  HeartbeatLogging/Sources/Storage.swift
  HeartbeatLogging/Sources/StorageFactory.swift
  HeartbeatLogging/Sources/WeakContainer.swift
  HeartbeatLogging/Tests/Integration/HeartbeatLoggingIntegrationTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatControllerTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatInfoTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatStorageTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatsPayloadTests.swift
  HeartbeatLogging/Tests/Unit/RingBufferTests.swift
  HeartbeatLogging/Tests/Unit/StorageTests.swift
Labels: cla: yes

#9080 Control async/await testing from source instead of podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/Tests/SwiftAPI/AsyncAwaitTests.swift
Labels: api: remoteconfig

#9077 Specstesting Copy files to `.cocoapods` dir
  ReleaseTooling/Sources/PodspecsTester/InitializeSource.swift
Labels: release-tooling

#9094 Remove unused STS auth code flow.
  FirebaseAuth/Sources/Backend/RPC/FIRSecureTokenRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRSecureTokenRequest.m
  FirebaseAuth/Sources/SystemService/FIRSecureTokenService.h
  FirebaseAuth/Sources/SystemService/FIRSecureTokenService.m
  FirebaseAuth/Tests/Unit/FIRSecureTokenRequestTests.m
Labels: api: auth

#9095 Remove reference to non-existent protocol.
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
Labels: api: auth

#9093 Add Swift Doc Scrub to dashboard
  SwiftDashboard.md
Labels: Docs, Swift API

#9055 Use GitHub buildcache #8052
  .github/workflows/abtesting.yml
  .github/workflows/app_check.yml
  .github/workflows/appdistribution.yml
  .github/workflows/archiving.yml
  .github/workflows/auth.yml
  .github/workflows/cocoapods-integration.yml
  .github/workflows/combine.yml
  .github/workflows/core-diagnostics.yml
  .github/workflows/core.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firebasepod.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/google-utilities-components.yml
  .github/workflows/health-metrics-presubmit.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/installations.yml
  .github/workflows/messaging.yml
  .github/workflows/mlmodeldownloader.yml
  .github/workflows/performance-integration-tests.yml
  .github/workflows/performance.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/segmentation.yml
  .github/workflows/spm.yml
  .github/workflows/storage.yml
  .github/workflows/symbolcollision.yml
  .github/workflows/watchos-sample.yml
  .github/workflows/zip.yml
  CocoapodsIntegrationTest/scripts/build_with_environment.sh
  scripts/build.sh
  scripts/buildcache.sh
  scripts/test_archiving.sh
  scripts/test_catalyst.sh
Labels: cla: yes

#9100 Add multi-tenancy support to generic OAuth providers.
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/AuthProvider/OAuth/FIROAuthProvider.m
  FirebaseAuth/Tests/Unit/FIROAuthProviderTests.m
Labels: api: auth

#9091 Functions Codable after sharing implementation with RTDB
  .github/workflows/functions.yml
  FirebaseDatabaseSwift/Sources/Codable/EncoderDecoder.swift
  FirebaseDatabaseSwift/Tests/Codable/ServerValueCodingTests.swift
  FirebaseFunctions/Tests/SwiftIntegration/IntegrationTests.swift
  FirebaseFunctionsSwift/Sources/Codable/Callable+Codable.swift
  FirebaseFunctionsSwift/Tests/IntegrationTests.swift
  FirebaseSharedSwift/CHANGELOG.md
  FirebaseSharedSwift/Sources/third_party/FirebaseDataEncoder/FirebaseDataEncoder.swift
  FirebaseSharedSwift/Sources/third_party/FirebaseDataEncoder/LICENSE
  FirebaseSharedSwift/Sources/third_party/FirebaseDataEncoder/METADATA
  FirebaseSharedSwift/Tests/Codable/FirebaseDataEncoderTests.swift
  FirebaseSharedSwift/Tests/third_party/DataEncoderTests.swift
  Package.swift
  scripts/spm_test_schemes/FirebaseFunctionsSwiftUnit.xcscheme
  scripts/spm_test_schemes/FirebaseSharedSwiftTests.xcscheme
Labels: api: database, api: functions, Swift API

#9102 [Auth] Fixed macOS extension keychain access by adding recommended kS…
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.m
Labels: api: auth, macOS

#9120 FirebaseSharedSwift CocoaPods
  .github/workflows/database.yml
  .github/workflows/functions.yml
  .github/workflows/shared-swift.yml
  Dangerfile
  FirebaseDatabaseSwift.podspec
  FirebaseDatabaseSwift/CHANGELOG.md
  FirebaseFunctionsSwift.podspec
  FirebaseFunctionsSwift/CHANGELOG.md
  FirebaseSharedSwift.podspec
  FirebaseSharedSwift/LICENSE
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  SwiftDashboard.md
Labels: api: database, api: functions, release-tooling

#9122 Update versions for Release 8.11.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec.json
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseFunctionsSwift.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseStorage.podspec
  FirebaseStorageSwift.podspec
  GoogleAppMeasurement.podspec.json
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#9121 Improve documentation for merge behavior
  Firestore/Source/Public/FirebaseFirestore/FIRDocumentReference.h
  Firestore/Source/Public/FirebaseFirestore/FIRTransaction.h
  Firestore/Source/Public/FirebaseFirestore/FIRWriteBatch.h
Labels: api: firestore, public-api-change

#9124 Fix CocoaPods license files for RTDB and Firestore
  FirebaseDatabase.podspec
  FirebaseDatabase/LICENSE
  FirebaseFirestore.podspec
  Firestore/LICENSE
Labels: api: database, api: firestore

#9123 Fix RTDB crash from race
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Utilities/FUtilities.m
Labels: api: database

#9131 Update wording for merge message
  Firestore/Source/Public/FirebaseFirestore/FIRDocumentReference.h
  Firestore/Source/Public/FirebaseFirestore/FIRTransaction.h
  Firestore/Source/Public/FirebaseFirestore/FIRWriteBatch.h
Labels: api: firestore, public-api-change

#9137 Bump `swift_version` to 5.3 for all podspecs
  FirebaseAnalyticsSwift.podspec
  FirebaseCombineSwift.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseFunctionsSwift.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorageSwift.podspec
Labels: api: database, api: storage, api: functions

#9136 Enable functions test specs and pod spec lint
  .github/workflows/functions.yml
  FirebaseFunctions.podspec
  FirebaseFunctionsSwift.podspec
Labels: api: functions

#9065 Implement CustomTokenProviderDelegate logic
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRCustomTokenProviderDelegate.h
  FirebaseAuth/Sources/SystemService/FIRSecureTokenService.h
  FirebaseAuth/Sources/SystemService/FIRSecureTokenService.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
  FirebaseCombineSwift/Tests/Unit/Auth/UserTests.swift
Labels: api: auth, public-api-change

#9141 Fix ZipBuilder option in README
  ReleaseTooling/README.md
Labels: release-tooling

#9145 Update Functions Swift public API docs
  FirebaseFunctionsSwift/Sources/Codable/Callable+Codable.swift
Labels: api: functions

#9143 Fix SPM warning introduced in #9124
  Package.swift
Labels: api: firestore, Swift Package Manager

#9142 Don't build 32 bit archs for >= iOS 11
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: release-tooling

#9135 Add Swift tests for Messaging
  FirebaseMessaging/Tests/IntegrationTests/FIRMessagingPubSubTest.swift
  FirebaseMessaging/Tests/IntegrationTests/FIRMessagingTokenRefreshTests.swift
  FirebaseMessaging/Tests/UnitTestsSwift/FIRMessagingAPITest.swift
  SwiftDashboard.md
  scripts/build.sh
Labels: api: messaging

#9117 [Heartbeat Logging] Add ObjC interop API and Firebase Core integration
  .github/workflows/core.yml
  FirebaseCore.podspec
  FirebaseCore/Sources/FIRHeartbeatLogger.m
  FirebaseCore/Sources/Private/FIRHeartbeatInfo.h
  FirebaseCore/Sources/Private/FIRHeartbeatLogger.h
  FirebaseCore/Tests/Unit/FIRHeartbeatLoggerTest.m
  FirebaseStorage.podspec
  HeartbeatLogging/Sources/HeartbeatsPayload.swift
  HeartbeatLogging/Sources/_ObjC_HeartbeatController.swift
  HeartbeatLogging/Sources/_ObjC_HeartbeatsPayload.swift
  HeartbeatLogging/Tests/Integration/HeartbeatLoggingIntegrationTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatControllerTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatsBundleTests.swift
  HeartbeatLogging/Tests/Unit/HeartbeatsPayloadTests.swift
  HeartbeatLogging/Tests/Unit/StorageTests.swift
  HeartbeatLoggingTestUtils.podspec
  HeartbeatLoggingTestUtils/Sources/HeartbeatLoggingTestUtils.swift
  Package.swift
  scripts/check_no_module_imports.sh
Labels: api: core, api: storage

#9118 [Heartbeat Logging] Add compression for heartbeats payloads
  .github/workflows/core.yml
  .github/workflows/heartbeat_logging.yml
  FirebaseCore.podspec
  HeartbeatLogging/Sources/HeartbeatsPayload.swift
  HeartbeatLoggingTestUtils/Sources/HeartbeatLoggingTestUtils.swift
  Package.swift
Labels: api: core
