Repository firebase/firebase-ios-sdk, pull requests merged in 2022-12, with the labels that each got.

#10539 Add NetworkInformation to session start events.
  FirebaseSessions/ProtoSupport/Protos/clientanalytics.proto
  FirebaseSessions/ProtoSupport/Protos/sessions.proto
  FirebaseSessions/Protogen/nanopb/clientanalytics.nanopb.c
  FirebaseSessions/Protogen/nanopb/clientanalytics.nanopb.h
  FirebaseSessions/Protogen/nanopb/sessions.nanopb.c
  FirebaseSessions/Protogen/nanopb/sessions.nanopb.h
  FirebaseSessions/Sources/ApplicationInfo.swift
  FirebaseSessions/Sources/Development/DevEventConsoleLogger.swift
  FirebaseSessions/Sources/NetworkInfo.swift
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/Tests/TestApp/Podfile.lock
  FirebaseSessions/Tests/Unit/Mocks/MockApplicationInfo.swift
  FirebaseSessions/Tests/Unit/Mocks/MockNetworkInfo.swift
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
Labels: sessions

#10545 Remove installations ID from Identifiers and move it to SessionCoordinator
  FirebaseSessions/Sources/FirebaseSessions.swift
  FirebaseSessions/Sources/FirebaseSessionsError.swift
  FirebaseSessions/Sources/Identifiers.swift
  FirebaseSessions/Sources/SessionCoordinator.swift
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/Tests/Unit/IdentifiersTests.swift
  FirebaseSessions/Tests/Unit/Mocks/MockInstallationsProtocol.swift
  FirebaseSessions/Tests/Unit/SessionCoordinatorTests.swift
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
Labels: sessions

#10551 [Sessions] Replace bundleID with appDisplayVersion
  FirebaseSessions/ProtoSupport/Protos/sessions.proto
  FirebaseSessions/Sources/ApplicationInfo.swift
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
Labels: sessions

#10555 Carthage 10.3
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#10556 Update versions for Release 10.4.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#10571 Create Swift module for App Distribution and add API stubs for In App Feedback #no-changelog
  .ruby-version
  FirebaseAppDistribution.podspec
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistribution/Sources/Public/FirebaseAppDistribution/FIRAppDistribution.h
  FirebaseAppDistributionInternal.podspec
  FirebaseAppDistributionInternal/README.md
  FirebaseAppDistributionInternal/Resources/FIRAppDistributionInternalStoryboard.storyboard
  FirebaseAppDistributionInternal/Sources/InAppFeedback.swift
  FirebaseAppDistributionInternal/Sources/ViewController.swift
Labels: public-api-change, api: appdistribution

#10572 [Sessions] Add Swift Package Manager tests for Sessions
  .github/workflows/sessions.yml
  FirebaseSessions.podspec
  FirebaseSessions/Sources/ApplicationInfo.swift
  FirebaseSessions/Sources/Development/DevEventConsoleLogger.swift
  FirebaseSessions/Sources/Development/NanoPB+CustomStringConvertible.swift
  FirebaseSessions/Sources/NetworkInfo.swift
  FirebaseSessions/Sources/SessionInitiator.swift
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/Sources/SettingsDownloadClient.swift
  FirebaseSessions/SourcesObjC/NanoPB/FIRSESNanoPBHelpers.h
  FirebaseSessions/SourcesObjC/NanoPB/FIRSESNanoPBHelpers.m
  FirebaseSessions/SourcesObjC/Protogen/nanopb/sessions.nanopb.c
  FirebaseSessions/SourcesObjC/Protogen/nanopb/sessions.nanopb.h
  FirebaseSessions/Tests/Unit/Mocks/MockApplicationInfo.swift
  FirebaseSessions/Tests/Unit/Mocks/MockInstallationsProtocol.swift
  FirebaseSessions/Tests/Unit/Mocks/MockNetworkInfo.swift
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
  FirebaseSessions/Tests/Unit/TestNanoPBHelpers.swift
  FirebaseSessions/generate_protos.sh
  Package.swift
  SwiftPMTests/swift-test/all-imports.swift
  scripts/spm_test_schemes/FirebaseSessionsUnit.xcscheme
Labels: sessions

#10588 Two Storage Swift porting typos
  FirebaseStorage/Sources/StorageDownloadTask.swift
Labels: api: storage

#10590 [Messaging] - Decline Registration when there is no APNS Token
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/NSError+FIRMessaging.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenManager.m
  FirebaseMessaging/Tests/IntegrationTests/FIRMessagingPubSubTest.swift
  FirebaseMessaging/Tests/IntegrationTests/FIRMessagingTokenRefreshTests.swift
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTest.m
Labels: api: messaging

#10591 Add Pause/resume swift integration tests
  FirebaseStorage/Tests/Integration/StorageIntegration.swift
Labels: api: storage

#10598 Restore 9.x Firestore Data Codable behavior
  FirebaseSharedSwift/Sources/third_party/FirebaseDataEncoder/FirebaseDataEncoder.swift
  FirebaseSharedSwift/Tests/third_party/DataEncoderTests.swift
  Firestore/Swift/CHANGELOG.md
  Firestore/Swift/Source/Codable/EncoderDecoder.swift
Labels: api: firestore

#10603 Update method documentation and fix a build error
  FirebaseAppDistribution/Sources/Public/FirebaseAppDistribution/FIRAppDistribution.h
  FirebaseAppDistributionInternal/Sources/InAppFeedback.swift
Labels: public-api-change, api: appdistribution

#10610 Fix Auth API docs typo
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRFederatedAuthProvider.h
  FirebaseCombineSwift/Sources/Auth/OAuthProvider+Combine.swift
Labels: api: auth, public-api-change

#10624 Fix typo
  FirebaseAuth/Tests/Unit/FIRAdditionalUserInfoTests.m
Labels: api: auth

#10625 [Infra] Favor `SWIFTPM_MODULE_BUNDLE` macro over C function across repo
  Crashlytics/UnitTests/FIRCLSCompactUnwindTests.m
  Crashlytics/UnitTests/FIRCLSDwarfTests.m
  Crashlytics/UnitTests/FIRCLSInternalReportTests.m
  Crashlytics/UnitTests/FIRCLSMachO/FIRCLSMachOBinaryTests.m
  Crashlytics/UnitTests/FIRCLSMachO/FIRCLSMachOTests.m
  Crashlytics/UnitTests/FIRCLSMachO/FIRCLSdSYMTests.m
  Crashlytics/UnitTests/FIRCLSProcessReportOperationTests.m
  Crashlytics/UnitTests/FIRCLSReportAdapterTests.m
  Crashlytics/UnitTests/FIRCLSReportManagerTests.m
  Crashlytics/UnitTests/FIRCLSSymbolResolverTests.m
  Crashlytics/UnitTests/FIRCrashlyticsReportTests.m
  FirebaseABTesting/Tests/Unit/Utilities/ABTTestUtilities.m
  FirebaseDatabase/Tests/Unit/FSyncPointTests.m
  FirebasePerformance/Tests/Unit/FPRTestUtils.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigExperimentTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: database, api: performance, api: remoteconfig, api: crashlytics, api: abtesting

#10627 Another typo
  FirebaseAuth/Sources/Auth/FIRAuth.m
Labels: api: auth
