Repository firebase/firebase-ios-sdk, pull requests merged in 2022-11, with the labels that each got.

#10396 [Sessions] Add Test App and Integration tests for the Sessions SDK
  .github/workflows/sessions-integration-tests.yml
  .gitignore
  FirebaseSessions/Tests/TestApp/AppQualityDevApp.xcodeproj/project.pbxproj
  FirebaseSessions/Tests/TestApp/AppQualityDevApp.xcodeproj/xcshareddata/xcschemes/AppQualityDevApp_iOS.xcscheme
  FirebaseSessions/Tests/TestApp/AppQualityDevApp.xcodeproj/xcshareddata/xcschemes/AppQualityDevApp_macOS.xcscheme
  FirebaseSessions/Tests/TestApp/AppQualityDevApp.xcodeproj/xcshareddata/xcschemes/UITests_iOS.xcscheme
  FirebaseSessions/Tests/TestApp/Podfile
  FirebaseSessions/Tests/TestApp/Shared/AppQualityDevAppApp.swift
  FirebaseSessions/Tests/TestApp/Shared/Assets.xcassets/AccentColor.colorset/Contents.json
  FirebaseSessions/Tests/TestApp/Shared/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseSessions/Tests/TestApp/Shared/Assets.xcassets/Contents.json
  FirebaseSessions/Tests/TestApp/Shared/ContentView.swift
  FirebaseSessions/Tests/TestApp/UITestsiOS/UITestsiOS.swift
  FirebaseSessions/Tests/TestApp/macOS/macOS.entitlements
  FirebaseSessions/generate_testapp.sh
  scripts/build.sh
  scripts/gha-encrypted/Sessions/GoogleService-Info_TestApp.plist.gpg
Labels: sessions

#10429 [Sessions] Update README with development procedures
  FirebaseSessions/README.md
Labels: sessions

#10430 [Sessions] Fix how Session ID is generated
  FirebaseSessions/Sources/Identifiers.swift
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/Tests/Unit/IdentifiersTests.swift
  FirebaseSessions/Tests/Unit/Mocks/MockIdentifierProvider.swift
Labels: sessions

#10434 Update manifest for 10.2.0
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: release-tooling

#10440 nanopb.patch: fix nanopb `invalid mode: 'rU'` build error in python 3.11
  cmake/external/nanopb.patch
Labels: api: firestore

#10413 Fdl/fixes issues parsing utm parameters from universal links
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.m
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Sources/Utilities/FDLUtilities.h
  FirebaseDynamicLinks/Sources/Utilities/FDLUtilities.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
  FirebaseDynamicLinks/Tests/Unit/UtilitiesTests.m
Labels: api: dynamiclinks

#10435 PodspecsTester/main.swift: use let instead of var for timer
  ReleaseTooling/Sources/PodspecsTester/main.swift
Labels: release-tooling

#10410 Performing IN expansion
  Firestore/core/src/local/leveldb_index_manager.cc
  Firestore/core/src/util/logic_utils.cc
  Firestore/core/src/util/logic_utils.h
  Firestore/core/test/unit/local/leveldb_query_engine_test.cc
  Firestore/core/test/unit/local/query_engine_test.cc
  Firestore/core/test/unit/util/logic_utils_test.cc
Labels: api: firestore

#10445 Firestore: Update spec tests
  Firestore/Example/Tests/SpecTests/json/listen_spec_test.json
  Firestore/Example/Tests/SpecTests/json/recovery_spec_test.json
Labels: api: firestore

#10447 Upgrade nanopb to 0.3.9.9 for collection of SDKs
  Crashlytics/Protogen/nanopb/crashlytics.nanopb.c
  Crashlytics/Protogen/nanopb/crashlytics.nanopb.h
  FirebaseInAppMessaging/Sources/Analytics/Protogen/nanopb/fiam.nanopb.c
  FirebaseInAppMessaging/Sources/Analytics/Protogen/nanopb/fiam.nanopb.h
  FirebaseMessaging/Sources/Protogen/nanopb/me.nanopb.c
  FirebaseMessaging/Sources/Protogen/nanopb/me.nanopb.h
  FirebasePerformance/Sources/Protogen/nanopb/perf_metric.nanopb.c
  FirebasePerformance/Sources/Protogen/nanopb/perf_metric.nanopb.h
  FirebaseSessions/Protogen/nanopb/clientanalytics.nanopb.c
  FirebaseSessions/Protogen/nanopb/clientanalytics.nanopb.h
  FirebaseSessions/Protogen/nanopb/sessions.nanopb.c
  FirebaseSessions/Protogen/nanopb/sessions.nanopb.h
  scripts/nanopb/generate_protos.sh
Labels: api: messaging, api: performance, api: crashlytics, api: inappmessaging

#10407 Fix a bug where the linking/reauth flows errors are not caught
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
Labels: api: auth

#10408 Update CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
Labels: api: auth

#10436 Firestore: Remove unused annotations.proto imports
  Firestore/Protos/cpp/google/firestore/admin/index.pb.cc
  Firestore/Protos/cpp/google/firestore/admin/index.pb.h
  Firestore/Protos/cpp/google/firestore/v1/common.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/common.pb.h
  Firestore/Protos/cpp/google/firestore/v1/document.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/document.pb.h
  Firestore/Protos/cpp/google/firestore/v1/query.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/query.pb.h
  Firestore/Protos/cpp/google/firestore/v1/write.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/write.pb.h
  Firestore/Protos/nanopb/google/firestore/admin/index.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/common.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/document.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.h
  Firestore/Protos/protos/google/firestore/admin/index.proto
  Firestore/Protos/protos/google/firestore/v1/common.proto
  Firestore/Protos/protos/google/firestore/v1/document.proto
  Firestore/Protos/protos/google/firestore/v1/query.proto
  Firestore/Protos/protos/google/firestore/v1/write.proto
Labels: api: firestore

#10431 Firestore: Fix FAILED_PRECONDITION when writing to a deleted document in a transaction
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/FSTTransactionTests.mm
  Firestore/core/src/core/transaction.cc
  Firestore/core/src/core/transaction_runner.cc
Labels: api: firestore

#10403 Firestore: Fix data race in credentials provider
  Firestore/CHANGELOG.md
  Firestore/core/src/credentials/credentials_provider.h
  Firestore/core/test/unit/credentials/firebase_auth_credentials_provider_test.mm
Labels: api: firestore

#10426 Force to recaptcha verification flow for phone auth in Simulators
  FirebaseAuth/Sources/AuthProvider/Phone/FIRPhoneAuthProvider.m
Labels: api: auth

#10457 Update CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
Labels: api: auth

#10459 [Sessions] Fix oneof specification for nanopb
  FirebaseSessions/Sources/NanoPB/FIRSESNanoPBHelpers.h
  FirebaseSessions/Sources/NanoPB/FIRSESNanoPBHelpers.m
  FirebaseSessions/Sources/SessionStartEvent.swift
Labels: sessions

#10453 [RemoteConfig] Expose NSUnderlyingError to client
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
Labels: api: remoteconfig

#10428 [Sessions] Log events to console command line flag, fix encoding
  FirebaseSessions/Sources/Development/DevEventConsoleLogger.swift
  FirebaseSessions/Sources/Development/NanoPB+CustomStringConvertible.swift
  FirebaseSessions/Sources/EventGDTLogger.swift
  FirebaseSessions/Sources/NanoPB/FIRSESNanoPBHelpers.h
  FirebaseSessions/Sources/NanoPB/FIRSESNanoPBHelpers.m
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/Tests/TestApp/AppQualityDevApp.xcodeproj/xcshareddata/xcschemes/AppQualityDevApp_iOS.xcscheme
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
Labels: sessions

#10406 Add Http status check to Realtime stream
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
Labels: api: remoteconfig

#10468 Storage lock fix
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Tests/Integration/StorageIntegration.swift
Labels: api: storage

#10437 Fix Firestore failing to return empty results from the local cache
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/API/FIRQuerySnapshotTests.mm
  Firestore/Example/Tests/API/FSTAPIHelpers.h
  Firestore/Example/Tests/API/FSTAPIHelpers.mm
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/SpecTests/json/listen_spec_test.json
  Firestore/Example/Tests/SpecTests/json/recovery_spec_test.json
  Firestore/core/src/core/query_listener.cc
  Firestore/core/src/core/sync_engine.cc
  Firestore/core/src/core/sync_engine.h
  Firestore/core/src/core/view.cc
  Firestore/core/src/core/view_snapshot.cc
  Firestore/core/src/core/view_snapshot.h
  Firestore/core/src/remote/remote_event.h
  Firestore/core/test/unit/core/event_manager_test.cc
  Firestore/core/test/unit/core/query_listener_test.cc
  Firestore/core/test/unit/core/view_snapshot_test.cc
Labels: api: firestore

#10475 update changelog
  FirebaseAppDistribution/CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
  FirebaseDynamicLinks/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: auth, api: firestore, api: dynamiclinks, api: appdistribution

#10474 Apply development environment to the Protos.
  FirebaseSessions/Sources/ApplicationInfo.swift
  FirebaseSessions/Sources/Development/DevEventConsoleLogger.swift
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/Tests/Unit/ApplicationInfoTests.swift
  FirebaseSessions/Tests/Unit/Mocks/MockApplicationInfo.swift
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
Labels: sessions

#10484 Add error code testing after cancel
  FirebaseStorage/Tests/Integration/StorageIntegration.swift
  FirebaseStorage/Tests/ObjCIntegration/FIRStorageIntegrationTests.m
Labels: api: storage

#10492 Use dedicated queue for Storage instead of global queue
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/Internal/StorageDeleteTask.swift
  FirebaseStorage/Sources/Internal/StorageGetDownloadURLTask.swift
  FirebaseStorage/Sources/Internal/StorageGetMetadataTask.swift
  FirebaseStorage/Sources/Internal/StorageListTask.swift
  FirebaseStorage/Sources/Internal/StorageUpdateMetadataTask.swift
  FirebaseStorage/Sources/StorageDownloadTask.swift
  FirebaseStorage/Sources/StorageUploadTask.swift
Labels: api: storage

#10493 Improve Storage Changelog for 10492
  FirebaseStorage/CHANGELOG.md
Labels: api: storage

#10500 update carthage json files 10.2.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#10482 Replace old realtime exceptions with new exceptions
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
Labels: api: remoteconfig, public-api-change

#10498 Fdl/removes nsnull values
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
Labels: api: dynamiclinks

#10506 Update versions for Release 10.3.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#10508 Depend on Google Utlities for device platform + Add Model information to session events.
  FirebaseSessions.podspec
  FirebaseSessions/Sources/ApplicationInfo.swift
  FirebaseSessions/Sources/NanoPB/FIRSESNanoPBHelpers.h
  FirebaseSessions/Sources/NanoPB/FIRSESNanoPBHelpers.m
  FirebaseSessions/Sources/NetworkInfo.swift
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/Tests/TestApp/Podfile.lock
  FirebaseSessions/Tests/Unit/Mocks/MockApplicationInfo.swift
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
Labels: sessions

#10442 Settings cache reader
  FirebaseSessions/Sources/ApplicationInfo.swift
  FirebaseSessions/Sources/FirebaseSessions.swift
  FirebaseSessions/Sources/Settings.swift
  FirebaseSessions/Sources/SettingsCacheClient.swift
  FirebaseSessions/Tests/Unit/Mocks/MockApplicationInfo.swift
  FirebaseSessions/Tests/Unit/SettingsTests.swift
Labels: sessions

#10511 [Crashlytics] Adding unit test scheme to SPM
  .github/workflows/crashlytics.yml
  Crashlytics/Shared/FIRCLSNetworking/FIRCLSURLBuilder.m
  Crashlytics/UnitTests/FABURLBuilderTests.m
  Crashlytics/UnitTests/FIRCLSCompactUnwindTests.m
  Crashlytics/UnitTests/FIRCLSDwarfTests.m
  Crashlytics/UnitTests/FIRCLSInternalReportTests.m
  Crashlytics/UnitTests/FIRCLSMachO/FIRCLSMachOBinaryTests.m
  Crashlytics/UnitTests/FIRCLSMachO/FIRCLSMachOTests.m
  Crashlytics/UnitTests/FIRCLSMachO/FIRCLSdSYMTests.m
  Crashlytics/UnitTests/FIRCLSProcessReportOperationTests.m
  Crashlytics/UnitTests/FIRCLSReportAdapterTests.m
  Crashlytics/UnitTests/FIRCLSReportManagerTests.m
  Crashlytics/UnitTests/FIRCLSSymbolResolverTests.m
  Crashlytics/UnitTests/FIRCrashlyticsReportTests.m
  Package.swift
  scripts/spm_test_schemes/FirebaseCrashlyticsUnit.xcscheme
Labels: api: crashlytics

#10499 Realtime RC Fetch ID
  FirebaseRemoteConfig/Sources/Private/RCNConfigFetch.h
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
  FirebaseRemoteConfig/Tests/Unit/RCNPersonalizationTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
  FirebaseRemoteConfigSwift/Tests/ObjC/FetchMocks.m
Labels: api: remoteconfig

#10503 Xcode 14 - support push notifications in iOS simulator
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/Token/FIRMessagingTokenManager.m
Labels: api: messaging

#10510 Firebase Options Documentation
  FirebaseCore/Sources/Public/FirebaseCore/FIROptions.h
  docs/FirebaseOptionsPerProduct.md
Labels: api: core, public-api-change

#10465 Implement MultiDB Support and Tests
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/Example/Tests/Integration/CMakeLists.txt
  Firestore/Source/API/FIRFirestore+Internal.h
  Firestore/Source/API/FIRFirestore.mm
  Firestore/Source/Public/FirebaseFirestore/FIRFirestore.h
Labels: api: firestore, public-api-change

#10518 Fix strict concurrency checking errors
  FirebaseStorage/Sources/Internal/StorageDeleteTask.swift
  FirebaseStorage/Sources/Internal/StorageGetDownloadURLTask.swift
  FirebaseStorage/Sources/Internal/StorageGetMetadataTask.swift
  FirebaseStorage/Sources/Internal/StorageListTask.swift
  FirebaseStorage/Sources/Internal/StorageUpdateMetadataTask.swift
  FirebaseStorage/Sources/StorageDownloadTask.swift
  FirebaseStorage/Sources/StorageReference.swift
  FirebaseStorage/Sources/StorageUploadTask.swift
Labels: api: storage

#10536 Fix Firestore Changelog for 10.3.0
  Firestore/CHANGELOG.md
Labels: api: firestore

#10535 Fix double free bug inside IN Filter
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/API/FSTUserDataReaderTests.mm
  Firestore/Example/Tests/Integration/API/FIRBundlesTests.mm
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Example/Tests/SpecTests/FSTMemorySpecTests.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/Example/Tests/Util/FSTHelpers.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/Source/API/FIRDocumentReference.mm
  Firestore/Source/API/FIRDocumentSnapshot.mm
  Firestore/Source/API/FIRFilter.mm
  Firestore/Source/API/FIRGeoPoint.mm
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/API/FSTUserDataReader.mm
  Firestore/Source/API/FSTUserDataWriter.mm
  Firestore/core/src/util/logic_utils.cc
  Firestore/core/test/unit/local/query_engine_test.cc
Labels: api: firestore

#10544 Update Firestore Changelog for 10.3.0
  Firestore/CHANGELOG.md
Labels: api: firestore
