Repository firebase/firebase-ios-sdk, pull requests merged in 2022-10, with the labels that each got.

#10295 Tweak docs for Query.count
  Firestore/Source/Public/FirebaseFirestore/FIRQuery.h
Labels: api: firestore, public-api-change

#10285 Initial commit of Firebase Sessions SDK
  FirebaseCore/Sources/FIRApp.m
  FirebaseSessions.podspec
  FirebaseSessions/Sources/FirebaseSessions.swift
Labels: api: core, cla: yes

#10301 Fix missing aggregate query headers in umbrella
  Firestore/Example/Tests/Integration/API/FIRCountTests.mm
  Firestore/Source/Public/FirebaseFirestore/FirebaseFirestore.h
Labels: api: firestore, public-api-change

#10302 Fix missing aggregate query headers in umbrella (#10301)
  Firestore/Example/Tests/Integration/API/FIRCountTests.mm
  Firestore/Source/Public/FirebaseFirestore/FirebaseFirestore.h
Labels: api: firestore, public-api-change

#10296 Persist FIRPhoneMultiFactorInfo (instead of FIRMultiFactorInfo) so that full phone number is always cached
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactor.m
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactorInfo+Internal.h
  FirebaseAuth/Sources/MultiFactor/Phone/FIRPhoneMultiFactorInfo.m
Labels: api: auth

#10303 Update CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
Labels: api: auth

#10299 Enable COUNT integration tests, now that backend support has rolled out
  Firestore/Example/Tests/Integration/API/FIRCountTests.mm
Labels: api: firestore

#10300 removes confusing comment
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
Labels: api: dynamiclinks

#10297 [Sessions] Setup Sessions SDK Class Structure and Tests
  .github/workflows/sessions.yml
  FirebaseSessions.podspec
  FirebaseSessions/Sources/FirebaseSessions.swift
  FirebaseSessions/Sources/Identifiers.swift
  FirebaseSessions/Sources/Installations+InstallationsProtocol.swift
  FirebaseSessions/Sources/Logger.swift
  FirebaseSessions/Sources/SessionCoordinator.swift
  FirebaseSessions/Sources/SessionInitiator.swift
  FirebaseSessions/Tests/Unit/IdentifiersTests.swift
  FirebaseSessions/Tests/Unit/InitiatorTests.swift
  FirebaseSessions/Tests/Unit/Mocks/MockInstallationsProtocol.swift
  FirebaseSessions/generate_project.sh
Labels: sessions

#10313 Fixed unused warnings building in release config
  FirebaseDatabase/Sources/third_party/SocketRocket/FSRWebSocket.m
Labels: api: database

#10317 Add protos for Or Query
  Firestore/Protos/cpp/google/firestore/v1/query.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/query.pb.h
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.h
  Firestore/Protos/protos/google/firestore/v1/query.proto
Labels: api: firestore

#10319 [FirestoreSwift] Add FirebaseCore dependency to avoid linker issues
  FirebaseCoreExtension.podspec
  FirebaseFirestoreSwift.podspec
  Package.swift
Labels: api: core

#10321 [Firebase 10] Cherry-pick `FirebaseFirestoreSwift` build fix into release branch
  FirebaseCoreExtension.podspec
  FirebaseFirestoreSwift.podspec
  Package.swift
Labels: api: core

#10278 [Firestore] Update CHANGELOG for new Count API (#10246)
  Firestore/CHANGELOG.md
Labels: api: firestore

#10326 Workaround Xcode 14 CocoaPods Resource build issue
  .github/workflows/zip.yml
Labels: Xcode 14 - iOS 16

#10332 [Carthage] Update Carthage artifacts for Firebase 10
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#10335 [Sessions] Update Sessions User Agent for Optimization
  FirebaseCore/Sources/FIRApp.m
Labels: api: core

#10336 [v10.1.0] Update versions for Release 10.1.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#9962 Discontinue bitcode inclusion
  FirebaseCore/CHANGELOG.md
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/TargetPlatform.swift
Labels: api: core, release-tooling

#10290 Support DNF transform for Or Query Support
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Source/API/FIRFirestore+Internal.h
  Firestore/core/CMakeLists.txt
  Firestore/core/src/core/composite_filter.cc
  Firestore/core/src/core/composite_filter.h
  Firestore/core/src/core/field_filter.cc
  Firestore/core/src/core/query.cc
  Firestore/core/src/core/query.h
  Firestore/core/src/core/target.h
  Firestore/core/src/local/index_backfiller.cc
  Firestore/core/src/local/index_manager.h
  Firestore/core/src/local/leveldb_index_manager.cc
  Firestore/core/src/local/leveldb_index_manager.h
  Firestore/core/src/local/memory_index_manager.cc
  Firestore/core/src/local/memory_index_manager.h
  Firestore/core/src/local/query_engine.cc
  Firestore/core/src/local/query_engine.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/src/util/logic_utils.cc
  Firestore/core/src/util/logic_utils.h
  Firestore/core/test/unit/core/filter_test.cc
  Firestore/core/test/unit/core/query_test.cc
  Firestore/core/test/unit/local/leveldb_index_manager_test.cc
  Firestore/core/test/unit/local/query_engine_test.cc
  Firestore/core/test/unit/remote/serializer_test.cc
  Firestore/core/test/unit/util/logic_utils_test.cc
Labels: api: firestore

#10310 Firestore: run sanitizers on macos in addition to ubuntu
  .github/workflows/firestore.yml
Labels: api: firestore

#10342 Change the parameter of WithAddedFilters function
  Firestore/core/src/core/composite_filter.cc
  Firestore/core/src/core/composite_filter.h
  Firestore/core/src/util/logic_utils.cc
Labels: api: firestore

#10307 Update Limit and OrderBy filtering mechanism for Or Query
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/core/src/core/query.cc
  Firestore/core/src/core/target.h
  Firestore/core/src/local/index_manager.h
  Firestore/core/src/local/leveldb_index_manager.cc
  Firestore/core/src/local/leveldb_index_manager.h
  Firestore/core/src/local/memory_index_manager.cc
  Firestore/core/src/local/memory_index_manager.h
  Firestore/core/test/unit/local/leveldb_index_manager_test.cc
  Firestore/core/test/unit/local/leveldb_query_engine_test.cc
  Firestore/core/test/unit/local/query_engine_test.cc
Labels: api: firestore

#10346 Revert "Realtime rc no change (#10188)"
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/Private/RCNConfigFetch.h
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
  FirebaseRemoteConfig/Tests/Unit/RCNPersonalizationTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
  FirebaseRemoteConfigSwift/Tests/ObjC/FetchMocks.m
Labels: api: remoteconfig

#10356 Fixed issue where metadata wasn't properly initialized
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/StorageReference.swift
  FirebaseStorage/Tests/ObjCIntegration/FIRStorageIntegrationTests.m
Labels: api: storage

#10368 Update CHANGELOG for Firebase 10.1.0 (M123)
  FirebaseAuth/CHANGELOG.md
Labels: api: auth

#10367 Analytics 10.1.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#10369 Remove the bitcode compiling flag.
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: release-tooling

#10373 Add changelog entry for bitcode removal in Firebase 10.1.0
  FirebaseCore/CHANGELOG.md
Labels: api: core

#10375 Adding changelog for rc swift 10.1.0
  FirebaseRemoteConfigSwift/CHANGELOG.md
Labels: api: remoteconfig

#10377 Update changelog with 10.1.0 version and issue number
  FirebaseStorage/CHANGELOG.md
Labels: api: storage

#10379 Test and Changelog for 10370
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Tests/Unit/StorageMetadataTests.swift
Labels: api: storage

#10324 [Messaging] Xcode 14 watchkit extension bundle id fix
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessagingUtilities.h
  FirebaseMessaging/Sources/FIRMessagingUtilities.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingUtilitiesTest.m
Labels: api: messaging

#10386 [Sessions] Update Sessions proto with newest changes
  FirebaseSessions/ProtoSupport/Protos/sessions.options
  FirebaseSessions/ProtoSupport/Protos/sessions.proto
  FirebaseSessions/Protogen/nanopb/sessions.nanopb.c
  FirebaseSessions/Protogen/nanopb/sessions.nanopb.h
  FirebaseSessions/Sources/SessionStartEvent.swift
Labels: sessions

#10381 Add umbrella header check on PRs
  Dangerfile
Labels: Infrastructure

#10376 [Sessions] Add ApplicationInfo for filling in the proto
  FirebaseSessions.podspec
  FirebaseSessions/Sources/ApplicationInfo.swift
  FirebaseSessions/Sources/FirebaseSessions.swift
  FirebaseSessions/Sources/NanoPB/FIRSESNanoPBHelpers.h
  FirebaseSessions/Sources/NanoPB/FIRSESNanoPBHelpers.m
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/Tests/Unit/Mocks/MockApplicationInfo.swift
  FirebaseSessions/Tests/Unit/SessionCoordinatorTests.swift
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
Labels: sessions

#10360 `SessionsInitiator` triggers new session for every foregrounding after 30 minutes of background
  FirebaseSessions/Sources/SessionInitiator.swift
  FirebaseSessions/Tests/Unit/InitiatorTests.swift
Labels: sessions

#10398 Replace FilterList with std::vector<Filter> for future maintenance
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/src/bundle/bundle_serializer.h
  Firestore/core/src/core/core_fwd.h
  Firestore/core/src/core/filter.h
  Firestore/core/src/core/query.cc
  Firestore/core/src/core/query.h
  Firestore/core/src/core/target.h
  Firestore/core/src/local/leveldb_index_manager.cc
  Firestore/core/src/remote/serializer.cc
  Firestore/core/src/remote/serializer.h
  Firestore/core/test/unit/core/query_test.cc
  Firestore/core/test/unit/remote/serializer_test.cc
Labels: api: firestore

#10409 Update project file
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
Labels: api: firestore

#10401 Support GetFilters() in core::Filter
  Firestore/core/src/core/composite_filter.h
  Firestore/core/src/core/field_filter.cc
  Firestore/core/src/core/field_filter.h
  Firestore/core/src/core/filter.h
  Firestore/core/src/local/leveldb_index_manager.cc
  Firestore/core/src/remote/serializer.cc
  Firestore/core/src/util/logic_utils.cc
Labels: api: firestore

#10402 Replace OrderByList by std::vector<OrderBy>
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Source/API/FIRQuery.mm
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/src/core/bound.cc
  Firestore/core/src/core/bound.h
  Firestore/core/src/core/core_fwd.h
  Firestore/core/src/core/order_by.h
  Firestore/core/src/core/query.cc
  Firestore/core/src/core/query.h
  Firestore/core/src/core/target.h
  Firestore/core/src/immutable/append_only_list.h
  Firestore/core/src/model/target_index_matcher.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/src/remote/serializer.h
  Firestore/core/test/unit/core/query_test.cc
  Firestore/core/test/unit/immutable/append_only_list_test.cc
  Firestore/core/test/unit/local/target_cache_test.cc
Labels: api: firestore

#10415 [Carthage] Update Carthage artifacts for Firebase 10.1.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#10412 Fix a race condition where a download size could exceed maxSize
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/StorageReference.swift
Labels: api: storage

#10399 [Sessions] Add NetworkInfo abstraction over CoreTelephony helpers
  FirebaseSessions/Sources/ApplicationInfo.swift
  FirebaseSessions/Sources/NanoPB/FIRSESNanoPBHelpers.h
  FirebaseSessions/Sources/NanoPB/FIRSESNanoPBHelpers.m
  FirebaseSessions/Sources/NetworkInfo.swift
  FirebaseSessions/Tests/Unit/ApplicationInfoTests.swift
  FirebaseSessions/Tests/Unit/Mocks/MockNetworkInfo.swift
Labels: sessions

#10418 Make App Distribution compatible with swizzling-disabled implementations
  FirebaseAppDistribution/CHANGELOG.md
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.m
  FirebaseAppDistribution/Sources/Public/FirebaseAppDistribution/FIRAppDistribution.h
Labels: public-api-change, api: appdistribution

#10424 [v10.2.0] Update versions for Release 10.2.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, api: appcheck
