Repository firebase/firebase-ios-sdk, pull requests merged in 2022-06, with the labels that each got.

#9876 Analytics swift API tests
  FirebaseAnalyticsSwift.podspec
  FirebaseAnalyticsSwift/Tests/SwiftUnit/AnalyticsAPITests.swift
Labels: api: analytics

#9879 Update versions for Release 9.2.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec.json
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  FirebaseStorageInternal.podspec
  GoogleAppMeasurement.podspec.json
  GoogleAppMeasurementOnDeviceConversion.podspec.json
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#9887 Use `@_implementationOnly import` for FirebaseCoreExtension
  FirebaseFunctions/CHANGELOG.md
  FirebaseFunctions/Sources/Functions.swift
  FirebaseFunctions/Sources/Internal/FunctionsComponent.swift
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Sources/StorageComponent.swift
Labels: api: storage, api: functions

#9907 Changelog version updates for 9.2.0
  FirebaseInAppMessaging/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: firestore, api: inappmessaging

#9898 Try to address prewarming issue by catching keychain errors instead of using `isProtectedDataAvailable`
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
Labels: api: auth

#9835 Realtime rc dev
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/Private/RCNConfigFetch.h
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.h
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: storage, api: remoteconfig, public-api-change, release-tooling

#9772 Port QueryEngine and LocalDocumentView
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/core/query.h
  Firestore/core/src/core/target.cc
  Firestore/core/src/core/target.h
  Firestore/core/src/local/index_manager.h
  Firestore/core/src/local/leveldb_index_manager.cc
  Firestore/core/src/local/leveldb_index_manager.h
  Firestore/core/src/local/leveldb_remote_document_cache.cc
  Firestore/core/src/local/leveldb_remote_document_cache.h
  Firestore/core/src/local/local_documents_view.cc
  Firestore/core/src/local/local_documents_view.h
  Firestore/core/src/local/local_store.cc
  Firestore/core/src/local/local_store.h
  Firestore/core/src/local/memory_index_manager.cc
  Firestore/core/src/local/memory_index_manager.h
  Firestore/core/src/local/memory_remote_document_cache.cc
  Firestore/core/src/local/memory_remote_document_cache.h
  Firestore/core/src/local/query_engine.cc
  Firestore/core/src/local/query_engine.h
  Firestore/core/src/local/remote_document_cache.h
  Firestore/core/src/model/field_index.cc
  Firestore/core/src/model/field_index.h
  Firestore/core/test/unit/local/counting_query_engine.cc
  Firestore/core/test/unit/local/counting_query_engine.h
  Firestore/core/test/unit/local/document_overlay_cache_test.cc
  Firestore/core/test/unit/local/leveldb_query_engine_test.cc
  Firestore/core/test/unit/local/leveldb_remote_document_cache_test.cc
  Firestore/core/test/unit/local/memory_query_engine_test.cc
  Firestore/core/test/unit/local/query_engine_test.cc
  Firestore/core/test/unit/local/query_engine_test.h
  Firestore/core/test/unit/local/remote_document_cache_test.cc
  Firestore/core/test/unit/model/field_index_test.cc
  Firestore/core/test/unit/testutil/testutil.cc
Labels: api: firestore

#9829 [Infra] Convert `*.podspec.json`s to Ruby podspecs
  .github/workflows/analytics.yml
  .github/workflows/spectesting.yml
  Dangerfile
  FirebaseAnalytics.podspec
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec
  GoogleAppMeasurement.podspec.json
  GoogleAppMeasurementOnDeviceConversion.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec.json
  ReleaseTooling/Sources/FirebaseManifest/Pod.swift
  ReleaseTooling/Sources/FirebaseReleaser/InitializeRelease.swift
  ReleaseTooling/Sources/ManifestParser/GHAMatrixSpecCollector.swift
  ReleaseTooling/Sources/PodspecsTester/InitializeSource.swift
  ReleaseTooling/Sources/PodspecsTester/main.swift
  ReleaseTooling/Sources/ZipBuilder/CocoaPodUtils.swift
  scripts/health_metrics/file_patterns.json
  scripts/health_metrics/generate_code_coverage_report/Sources/UpdatedFilesCollector/main.swift
  scripts/pod_lib_lint.rb
Labels: api: analytics, release-tooling

#9885 Firestore: Add NoDestructor to suppress destructors on exit
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/src/core/direction.h
  Firestore/core/src/credentials/auth_token.cc
  Firestore/core/src/credentials/user.cc
  Firestore/core/src/local/leveldb_transaction.cc
  Firestore/core/src/model/field_path.cc
  Firestore/core/src/model/snapshot_version.cc
  Firestore/core/src/model/value_util.cc
  Firestore/core/src/remote/datastore.cc
  Firestore/core/src/remote/grpc_connection.cc
  Firestore/core/src/util/autoid.cc
  Firestore/core/src/util/filesystem_common.cc
  Firestore/core/src/util/no_destructor.h
  Firestore/core/src/util/status.cc
  Firestore/core/src/util/string_util.cc
Labels: api: firestore

#9931 Carthage 9.2.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#9933 Update versions for Release 9.3.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  FirebaseStorageInternal.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#9926 Add a StorageMetadata integration test
  FirebaseStorageInternal/Tests/Integration/FIRStorageIntegrationTests.m
Labels: api: storage

#9920 [Infra] Refactors small areas of the `ZipBuilder`
  ReleaseTooling/Sources/ZipBuilder/CocoaPodUtils.swift
  ReleaseTooling/Sources/ZipBuilder/ModuleMapBuilder.swift
Labels: release-tooling

#9941 When patching snappy for Firestore, add --binary flag to patch command.
  cmake/external/snappy.cmake
Labels: api: firestore

#9948 Remove GoogleSignInSwift from binary distros
  FirebaseCore/CHANGELOG.md
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
Labels: api: core, release-tooling

#9947 Patch nanopb CMakeLists.txt to look for python 3.7 instead of python 2.7
  cmake/external/nanopb.cmake
  cmake/external/nanopb.patch
  scripts/check_whitespace.sh
Labels: api: firestore

#9932 Add FIREBASE_LD_EXECUTABLE cmake cache variable
  CMakeLists.txt
Labels: api: firestore

#9956 Changelog for Functions Error code fix
  FirebaseFunctions/CHANGELOG.md
Labels: api: functions

#9952 Remove default value for `max_attempts` argument to `RunTransaction()`.
  Firestore/core/src/api/firestore.h
Labels: api: firestore

#9940 Update console logging URL
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/Common/FPRConsoleURLGenerator.m
  FirebasePerformance/Tests/Unit/Common/FPRConsoleURLGeneratorTest.m
Labels: api: performance

#9914 Realtime rc dev
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig, public-api-change

#9969 Changelog update for 8307
  FirebaseRemoteConfig/CHANGELOG.md
Labels: api: remoteconfig
