Repository firebase/firebase-ios-sdk, pull requests merged in 2022-09, with the labels that each got.

#10162 Save template version in settings
  FirebaseRemoteConfig/Sources/Private/RCNConfigSettings.h
  FirebaseRemoteConfig/Sources/RCNConfigConstants.h
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
  FirebaseRemoteConfig/Sources/RCNConfigSettings.m
  FirebaseRemoteConfig/Sources/RCNUserDefaultsManager.h
  FirebaseRemoteConfig/Sources/RCNUserDefaultsManager.m
Labels: api: remoteconfig

#10170 firestore_client.cc: increase the kRegularBackfillDelay from 1ms to 1000ms
  Firestore/CHANGELOG.md
  Firestore/core/src/core/firestore_client.cc
Labels: api: firestore

#10169 Fix name collision with "result" in pretty printing logic in generated proto code.
  Firestore/Protos/lib/pretty_printing.py
  Firestore/Protos/nanopb/firestore/bundle.nanopb.cc
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.cc
  Firestore/Protos/nanopb/firestore/local/mutation.nanopb.cc
  Firestore/Protos/nanopb/firestore/local/target.nanopb.cc
  Firestore/Protos/nanopb/google/api/http.nanopb.cc
  Firestore/Protos/nanopb/google/api/resource.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/admin/index.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/common.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/document.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/any.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/empty.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/timestamp.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/wrappers.nanopb.cc
  Firestore/Protos/nanopb/google/rpc/status.nanopb.cc
  Firestore/Protos/nanopb/google/type/latlng.nanopb.cc
Labels: api: firestore

#10175 Add protos for COUNT
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Protos/CMakeLists.txt
  Firestore/Protos/cpp/google/firestore/v1/aggregation_result.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/aggregation_result.pb.h
  Firestore/Protos/cpp/google/firestore/v1/firestore.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/firestore.pb.h
  Firestore/Protos/cpp/google/firestore/v1/query.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/query.pb.h
  Firestore/Protos/nanopb/google/firestore/v1/aggregation_result.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/aggregation_result.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.h
  Firestore/Protos/protos/google/firestore/v1/aggregation_result.proto
  Firestore/Protos/protos/google/firestore/v1/firestore.proto
  Firestore/Protos/protos/google/firestore/v1/query.proto
  Firestore/core/src/nanopb/fields_array.h
  Firestore/core/test/unit/nanopb/fields_array_test.cc
Labels: api: firestore

#10173 Fix index backfilling frequency
  Firestore/core/src/core/firestore_client.cc
Labels: api: firestore

#10177 Analytics 9.6.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#10166 [Messaging] macOS keychain auth prompt fix
  FirebaseMessaging/Sources/Token/FIRMessagingAuthKeychain.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingAuthKeychainTest.m
Labels: api: messaging

#10176 [CoreInternal] Add explicit generics typing for Array.Index usage (2)
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatController.swift
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatsBundle.swift
  FirebaseCore/Internal/Sources/HeartbeatLogging/RingBuffer.swift
Labels: api: core

#10178 Add API tests for Analytics.sessionID()
  FirebaseAnalyticsSwift/Tests/SwiftUnit/AnalyticsAPITests.swift
Labels: api: analytics

#10183 Fix zip bloat issue
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
Labels: release-tooling

#10188 Realtime rc no change
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/Private/RCNConfigFetch.h
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
  FirebaseRemoteConfig/Tests/Unit/RCNPersonalizationTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
  FirebaseRemoteConfigSwift/Tests/ObjC/FetchMocks.m
Labels: api: remoteconfig

#10196 Fix typo
  FirebaseStorageInternal/Sources/FIRStorageUtils.h
  Firestore/Source/Public/FirebaseFirestore/FIRFirestore.h
Labels: api: storage, api: firestore, public-api-change

#10207 Carthage 9.6.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#10158 Support encoding and decoding Composite Filters.
  Firestore/core/src/core/composite_filter.cc
  Firestore/core/src/core/composite_filter.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/src/remote/serializer.h
  Firestore/core/test/unit/core/filter_test.cc
  Firestore/core/test/unit/remote/serializer_test.cc
Labels: api: firestore

#10193 Count from server
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Integration/API/FIRCountTests.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.h
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/Source/API/FIRAggregateQuery+Internal.h
  Firestore/Source/API/FIRAggregateQuery.mm
  Firestore/Source/API/FIRAggregateQuerySnapshot+Internal.h
  Firestore/Source/API/FIRAggregateQuerySnapshot.mm
  Firestore/Source/API/FIRAggregateSource+Internal.h
  Firestore/Source/API/FIRQuery+Internal.h
  Firestore/Source/API/FIRQuery.mm
  Firestore/core/src/api/aggregate_query.cc
  Firestore/core/src/api/aggregate_query.h
  Firestore/core/src/api/api_fwd.h
  Firestore/core/src/api/query_core.cc
  Firestore/core/src/api/query_core.h
  Firestore/core/src/core/firestore_client.cc
  Firestore/core/src/core/firestore_client.h
  Firestore/core/src/core/sync_engine.cc
  Firestore/core/src/core/sync_engine.h
  Firestore/core/src/remote/datastore.cc
  Firestore/core/src/remote/datastore.h
  Firestore/core/src/remote/remote_objc_bridge.cc
  Firestore/core/src/remote/remote_objc_bridge.h
  Firestore/core/src/remote/remote_store.cc
  Firestore/core/src/remote/remote_store.h
  scripts/cpplint.py
  scripts/run_firestore_emulator.sh
Labels: api: firestore

#10215 Storage Changelog for Firebase 10
  FirebaseStorage/CHANGELOG.md
Labels: api: storage

#10221 FIRFirestoreSettings.mm: remove unnecessary extern "C"
  Firestore/Source/API/FIRFirestoreSettings.mm
Labels: api: firestore

#10216 Add new throwing reference(for url:URL) API
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/Internal/StoragePath.swift
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Sources/StorageError.swift
  FirebaseStorage/Tests/Unit/StorageReferenceTests.swift
Labels: api: storage, public-api-change

#10222 FIAM: Remove extraneous `foo` constant in Swift preview helpers
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Swift/Source/SwiftUIPreviewHelpers.swift
Labels: api: inappmessaging, Swift API

#10224 Address missed review comments from #10216
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Tests/Unit/StorageReferenceTests.swift
Labels: api: storage

#10227 Firestore: Fix @param comparator doc compiler warning
  Firestore/CHANGELOG.md
  Firestore/core/src/util/set_util.h
Labels: api: firestore

#10225 Missing sync, missing interval processing, todo review
  FirebaseStorage/Sources/AsyncAwait.swift
  FirebaseStorage/Sources/Internal/StorageTokenAuthorizer.swift
  FirebaseStorage/Sources/Internal/StorageUtils.swift
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Sources/StorageComponent.swift
  FirebaseStorage/Sources/StorageUploadTask.swift
  FirebaseStorage/Tests/Integration/StorageAsyncAwait.swift
  FirebaseStorage/Tests/Unit/StorageTests.swift
Labels: api: storage

#10217 Fix misleading method documentation
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabaseReference.h
Labels: api: database

#10232 Remove unnecessary, unused parameters from API
  FirebaseFunctions/CHANGELOG.md
  FirebaseFunctions/Sources/Callable+Codable.swift
Labels: api: functions

#10236 FDL: Mark FIRDynamicLink's init as NS_UNAVAILABLE
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FIRDynamicLink.h
Labels: api: dynamiclinks, public-api-change, Swift API

#10237 Firestore: Fix Windows build due to decltype of captured lambda
  Firestore/core/src/local/local_store.cc
  Firestore/core/src/model/field_index.h
  Firestore/core/test/unit/local/leveldb_local_store_test.cc
Labels: api: firestore

#10245 Fix inadvertent API change
  FirebaseStorage/Sources/StorageReference.swift
  FirebaseStorage/Tests/Unit/StorageAPITests.swift
Labels: api: storage

#10248 Docs update for Extensions and putFile
  FirebaseStorage/Sources/AsyncAwait.swift
  FirebaseStorage/Sources/StorageReference.swift
Labels: api: storage

#10249 App google domain support
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/Utilities/FDLUtilities.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
Labels: api: dynamiclinks

#10155 Remote Config Dynamic Property Wrapper
  .gitignore
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/Private/RCNConfigSettings.h
  FirebaseRemoteConfigSwift.podspec
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/Podfile
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/SwiftUISample.xcodeproj/project.pbxproj
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/SwiftUISample/Assets.xcassets/AccentColor.colorset/Contents.json
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/SwiftUISample/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/SwiftUISample/Assets.xcassets/Contents.json
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/SwiftUISample/ContentView.swift
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/SwiftUISample/Preview Content/Preview Assets.xcassets/Contents.json
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/SwiftUISample/SwiftUISampleApp.swift
  FirebaseRemoteConfigSwift/CHANGELOG.md
  FirebaseRemoteConfigSwift/Sources/PropertyWrapper/RemoteConfigProperty.swift
  FirebaseRemoteConfigSwift/Sources/PropertyWrapper/RemoteConfigValueObservable.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/APITestBase.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/Constants.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/PropertyWrapperDefaultConfigsTests.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/PropertyWrapperTests.swift
Labels: api: remoteconfig

#10250 Separate GoogleUtilities Carthage build
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/ZipBuilder/CarthageUtils.swift
  ReleaseTooling/Sources/ZipBuilder/CocoaPodUtils.swift
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
Labels: release-tooling

#10252 Revert "Public count"
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/API/FIRCountTests.mm
  Firestore/Source/API/FIRAggregateQuery+Internal.h
  Firestore/Source/API/FIRAggregateQuerySnapshot+Internal.h
  Firestore/Source/API/FIRAggregateSource+Internal.h
  Firestore/Source/API/FIRQuery+Internal.h
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateQuery.h
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateQuerySnapshot.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuery.h
  Firestore/Swift/Tests/Integration/AsyncAwaitIntegrationTests.swift
Labels: api: firestore, public-api-change

#10244 [Firebase 10] Bump versions for 10.0.0
  Example/tvOSSample/Podfile
  Example/tvOSSample/tvOSSample.xcodeproj/project.pbxproj
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuth/Tests/Unit/FIRAdditionalUserInfoTests.m
  FirebaseAuth/Tests/Unit/FIRAuthAppCredentialTests.m
  FirebaseAuth/Tests/Unit/FIRUserMetadataTests.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
  FirebaseAuthInterop.podspec
  FirebaseAuthTestingSupport.podspec
  FirebaseCombineSwift.podspec
  FirebaseCore.podspec
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Tests/Unit/FIROptionsTest.m
  FirebaseCoreDiagnostics.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFirestoreTestingSupport.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/GoogleBenchmark.podspec
  Firestore/Example/GoogleTest.podspec
  Firestore/Example/LibFuzzer.podspec
  Firestore/Example/Podfile
  Firestore/Example/ProtobufCpp.podspec
  Firestore/core/test/unit/FSTGoogleTestTests.mm
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  GoogleUtilitiesComponents.podspec
  HeartbeatLoggingTestUtils.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/ZipBuilder/main.swift
  SwiftPMTests/swift-test/all-imports.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#10259 [Infra] Remove CoreDiagnostics library and references
  .github/workflows/core-diagnostics.yml
  .github/workflows/core.yml
  CMakeLists.txt
  CocoapodsIntegrationTest/TestEnvironments/Cocoapods_multiprojects_frameworks/Podfile
  CoreOnly/NOTICES
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest.xcodeproj/project.pbxproj
  CoreOnly/Tests/FirebasePodTest/Podfile
  Dangerfile
  Example/CoreDiagnostics/Tests/FIRCoreDiagnosticsTest.m
  Example/tvOSSample/Podfile
  Example/watchOSSample/Podfile
  Firebase/CoreDiagnostics/CHANGELOG.md
  Firebase/CoreDiagnostics/FIRCDLibrary/FIRCoreDiagnostics.m
  Firebase/CoreDiagnostics/FIRCDLibrary/Protogen/nanopb/firebasecore.nanopb.c
  Firebase/CoreDiagnostics/FIRCDLibrary/Protogen/nanopb/firebasecore.nanopb.h
  Firebase/CoreDiagnostics/FIRCDLibrary/Public/FIRCoreDiagnostics.h
  Firebase/CoreDiagnostics/ProtoSupport/Protos/firebasecore.options
  Firebase/CoreDiagnostics/ProtoSupport/Protos/firebasecore.proto
  Firebase/CoreDiagnostics/ProtoSupport/generate_nanopb_protos.sh
  Firebase/CoreDiagnostics/ProtoSupport/nanopb_build_protos.py
  Firebase/CoreDiagnostics/ProtoSupport/nanopb_proto_generator.py
  Firebase/CoreDiagnostics/generate_project.sh
  FirebaseAppCheck/Apps/FIRAppCheckTestApp/Podfile
  FirebaseAuth/Tests/Sample/Podfile
  FirebaseCore.podspec
  FirebaseCore/CMakeLists.txt
  FirebaseCore/Extension/FIRCoreDiagnosticsConnector.h
  FirebaseCore/Extension/FirebaseCoreInternal.h
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Sources/FIRCoreDiagnosticsConnector.m
  FirebaseCore/Sources/FIRDiagnosticsData.h
  FirebaseCore/Sources/FIRDiagnosticsData.m
  FirebaseCore/Tests/Unit/FIRAppTest.m
  FirebaseCore/Tests/Unit/FIRDiagnosticsDataTest.m
  FirebaseCoreDiagnostics.podspec
  FirebaseDynamicLinks/Tests/Sample/Podfile
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/Podfile
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/Podfile
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/Podfile
  FirebaseMLModelDownloader/Apps/Sample/Podfile
  FirebaseMessaging/Apps/AdvancedSample/Podfile
  FirebaseMessaging/Apps/Sample/Podfile
  FirebaseMessaging/Apps/SwiftUISample/Podfile
  FirebasePerformance/Tests/FIRPerfE2E/Podfile
  FirebaseRemoteConfig/Tests/Sample/Podfile
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/Podfile
  Firestore/Example/Podfile
  Interop/CoreDiagnostics/CHANGELOG.md
  Interop/CoreDiagnostics/CMakeLists.txt
  Interop/CoreDiagnostics/Public/FIRCoreDiagnosticsData.h
  Interop/CoreDiagnostics/Public/FIRCoreDiagnosticsInterop.h
  Package.swift
  SymbolCollisionTest/Podfile
  cmake/external/GoogleUtilities.cmake
  scripts/check_imports.swift
  scripts/check_whitespace.sh
  scripts/health_metrics/file_patterns.json
  scripts/localize_podfile.swift
Labels: api: core, api: auth, api: messaging, api: firestore, api: dynamiclinks, api: performance, api: remoteconfig, api: inappmessaging, api: appcheck

#10263 Deprecate, not remove, unused API
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/StorageMetadata.swift
  FirebaseStorage/Tests/ObjCIntegration/ObjCAPITests.m
Labels: api: storage

#10262 [Cleanup] Follow-up to #10259
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckAPIServiceTests.m
  FirebaseAuth/Tests/Unit/FIRAuthBackendRPCImplementationTests.m
  FirebaseCore/Extension/FIRHeartbeatInfo.h
  FirebaseCore/Extension/FIRHeartbeatLogger.h
  FirebaseCore/Extension/FirebaseCoreInternal.h
  FirebaseCore/Sources/FIRHeartbeatInfo.m
  FirebaseCore/Sources/FIRHeartbeatLogger.m
  FirebaseCore/Tests/Unit/FIRHeartbeatInfoTest.m
  FirebaseCore/Tests/Unit/FIRHeartbeatLoggerTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTokenOperationsTest.m
  Firestore/core/src/remote/firebase_metadata_provider_apple.mm
Labels: api: core, api: auth, api: messaging, api: firestore, api: installations, api: appcheck

#10265 [AppCheck] Refine public docs
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppAttestProvider.h
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRDeviceCheckProvider.h
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRDeviceCheckProviderFactory.h
Labels: public-api-change, api: appcheck

#10258 Firestore: Re-write API docs for COUNT API
  Firestore/Source/API/FIRAggregateQuery+Internal.h
  Firestore/Source/API/FIRAggregateQuery.mm
  Firestore/Source/API/FIRAggregateQuerySnapshot+Internal.h
  Firestore/Source/API/FIRAggregateQuerySnapshot.mm
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateQuery.h
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateQuerySnapshot.h
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateSource.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuery.h
Labels: api: firestore, public-api-change

#10261 Add isEqual and hash for aggregate classes
  Firestore/Example/Tests/Integration/API/FIRCountTests.mm
  Firestore/Source/API/FIRAggregateQuery.mm
  Firestore/Source/API/FIRAggregateQuerySnapshot.mm
Labels: api: firestore, public-api-change

#10271 [Firebase 10] Update 'Unreleased' changelog entries
  Firestore/CHANGELOG.md
Labels: api: firestore

#10269 Analytics 10.0.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#10274 add deprecation for watchOS
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabase.h
Labels: api: database, public-api-change

#10254 Public count
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/API/FIRCountTests.mm
  Firestore/Source/API/FIRAggregateQuery+Internal.h
  Firestore/Source/API/FIRAggregateQuery.mm
  Firestore/Source/API/FIRAggregateQuerySnapshot+Internal.h
  Firestore/Source/API/FIRAggregateQuerySnapshot.mm
  Firestore/Source/API/FIRQuery+Internal.h
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateQuery.h
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateQuerySnapshot.h
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateSource.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuery.h
  Firestore/Swift/Tests/Integration/AsyncAwaitIntegrationTests.swift
Labels: api: firestore, public-api-change

#10273 [Firestore] Remove encoding/decoding strategy type aliases
  Firestore/Swift/CHANGELOG.md
  Firestore/Swift/Source/Codable/EncoderDecoder.swift
  Firestore/Swift/Source/Codable/TimestampDecodingStrategy.swift
  Firestore/Swift/Source/Codable/TimestampEncodingStrategy.swift
Labels: api: firestore, Swift API

#10275 [Firestore] Add runtime warnings to `@DocumentID` setter and initializer
  FirebaseCore/Extension/FIRLogger.h
  FirebaseCore/Sources/FIRLogger.m
  FirebaseFirestoreSwift.podspec
  Firestore/Example/Podfile
  Firestore/Swift/CHANGELOG.md
  Firestore/Swift/Source/Codable/DocumentID.swift
  Package.swift
Labels: api: core, api: firestore

#10270 Address PR feedback for Firestore Codable
  Firestore/Swift/Source/Codable/DocumentID.swift
  Firestore/Swift/Source/Codable/EncoderDecoder.swift
Labels: api: firestore

#10167 Firestore: Make @DocumentID value setter private
  FirebaseCore/Extension/FIRLogger.h
  FirebaseCore/Sources/FIRLogger.m
  FirebaseFirestoreSwift.podspec
  Firestore/Example/Podfile
  Firestore/Swift/CHANGELOG.md
  Firestore/Swift/Source/Codable/DocumentID.swift
  Firestore/Swift/Tests/Integration/CodableIntegrationTests.swift
  Package.swift
Labels: api: firestore

#10266 add a readme for analytics swift sdk and add analytics view modifier in rc swift test app
  FirebaseAnalyticsSwift/README.md
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/Podfile
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/SwiftUISample.xcodeproj/project.pbxproj
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/SwiftUISample/ContentView.swift
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/SwiftUISample/SwiftUISampleApp.swift
Labels: api: remoteconfig

#10286 [Firebase 10] Revamp FIRLogger for Swift use
  FirebaseCore/Extension/FIRLogger.h
  FirebaseCore/Sources/FIRLogger.m
  FirebaseStorage/Sources/Internal/StorageTokenAuthorizer.swift
  Firestore/Swift/Source/Codable/DocumentID.swift
Labels: api: core, api: storage, api: firestore

#10287 [Storage] Extend timeout for flaking test
  FirebaseStorage/Tests/Unit/StorageReferenceTests.swift
Labels: api: storage

#10289 DocumentId property wrapper: Emit error message on a single line
  Firestore/Swift/Source/Codable/DocumentID.swift
Labels: api: firestore

#10288 Fix sign in alert shown inconsistently when triggered in viewDidAppear
  FirebaseAppDistribution/CHANGELOG.md
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.m
Labels: api: appdistribution

#10294 [Infra] Check for improper FirebaseCoreExtension imports
  scripts/check_imports.swift
Labels: api: storage
