Repository firebase/firebase-ios-sdk, pull requests merged in 2022-04, with the labels that each got.

#9553 Fix perf test regression from recent RC change
  FirebasePerformance/Tests/Unit/Configurations/FPRRemoteConfigFlagsTest.m
Labels: api: performance

#9554 [v9, Cleanup] Remove irrelevant comments
  .github/workflows/app_check.yml
  .github/workflows/core.yml
  .github/workflows/core_extension.yml
  .github/workflows/core_internal.yml
  FirebaseAppCheck.podspec
  FirebaseCore.podspec
  FirebaseCoreInternal.podspec
Labels: api: core, api: appcheck

#9540 Enable async/await APIs for iOS 13, etc.
  FirebaseAppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
  FirebaseAuth/Tests/Sample/SwiftApiTests/AccountInfoTests.swift
  FirebaseAuth/Tests/Sample/SwiftApiTests/AnonymousTests.swift
  FirebaseAuth/Tests/Sample/SwiftApiTests/EmailPasswordTests.swift
  FirebaseAuth/Tests/Sample/SwiftApiTests/FacebookTests.swift
  FirebaseAuth/Tests/Sample/SwiftApiTests/GoogleTests.swift
  FirebaseAuth/Tests/Sample/SwiftApiTests/SwiftAPI.swift
  FirebaseAuth/Tests/Sample/SwiftApiTests/TestsBase.swift
  FirebaseCore/Tests/SwiftUnit/CoreAPITests.swift
  FirebaseDatabase/Tests/Unit/Swift/DatabaseAPITests.swift
  FirebaseFunctions/CHANGELOG.md
  FirebaseFunctions/Sources/Callable+Codable.swift
  FirebaseFunctions/Sources/HTTPSCallable.swift
  FirebaseFunctions/Tests/Integration/IntegrationTests.swift
  FirebaseFunctions/Tests/Unit/FunctionsAPITests.swift
  FirebaseInstallations/Source/Tests/Unit/Swift/InstallationsAPITests.swift
  FirebaseMessaging/Tests/UnitTestsSwift/FIRMessagingAPITest.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/AsyncAwaitTests.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/Codable.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/Value.swift
  FirebaseStorage/CHANGELOG.md
  FirebaseStorageSwift/Sources/AsyncAwait.swift
  Firestore/Swift/Source/AsyncAwait/CollectionReference+AsyncAwait.swift
  Firestore/Swift/Source/AsyncAwait/Firestore+AsyncAwait.swift
  Firestore/Swift/Source/Codable/DocumentReference+ReadDecodable.swift
  Firestore/Swift/Tests/API/BasicCompileTests.swift
  Firestore/Swift/Tests/Integration/AsyncAwaitIntegrationTests.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: remoteconfig, api: functions, api: installations, api: appcheck

#9543 [Heartbeat Logging] Migrate Installations from using `FIRHeartbeatInfo` to `FIRHeartbeatLogger`
  .github/workflows/installations.yml
  FirebaseInstallations.podspec
  FirebaseInstallations/Source/Library/FIRInstallations.m
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.h
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsAPIService.m
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.h
  FirebaseInstallations/Source/Library/InstallationsIDController/FIRInstallationsIDController.m
  FirebaseInstallations/Source/Tests/Integration/FIRInstallationsIntegrationTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsIDControllerTests.m
Labels: api: installations

#9549 Wire DocumentOverlayCache into LocalStore and LocalDocumentsView
  Firestore/core/src/local/local_documents_view.h
  Firestore/core/src/local/local_store.cc
  Firestore/core/src/local/local_store.h
  Firestore/core/test/unit/local/counting_query_engine.cc
  Firestore/core/test/unit/local/counting_query_engine.h
  Firestore/core/test/unit/local/query_engine_test.cc
Labels: api: firestore

#9544 Update Firestore's public headers to use Swift class names.
  Firestore/Source/Public/FirebaseFirestore/FIRCollectionReference.h
  Firestore/Source/Public/FirebaseFirestore/FIRDocumentChange.h
  Firestore/Source/Public/FirebaseFirestore/FIRDocumentReference.h
  Firestore/Source/Public/FirebaseFirestore/FIRDocumentSnapshot.h
  Firestore/Source/Public/FirebaseFirestore/FIRFieldValue.h
  Firestore/Source/Public/FirebaseFirestore/FIRFirestore.h
  Firestore/Source/Public/FirebaseFirestore/FIRFirestoreErrors.h
  Firestore/Source/Public/FirebaseFirestore/FIRFirestoreSettings.h
  Firestore/Source/Public/FirebaseFirestore/FIRListenerRegistration.h
  Firestore/Source/Public/FirebaseFirestore/FIRLoadBundleTask.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuery.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuerySnapshot.h
  Firestore/Source/Public/FirebaseFirestore/FIRSnapshotMetadata.h
  Firestore/Source/Public/FirebaseFirestore/FIRTimestamp.h
  Firestore/Source/Public/FirebaseFirestore/FIRTransaction.h
  Firestore/Source/Public/FirebaseFirestore/FIRWriteBatch.h
  SwiftDashboard.md
Labels: api: firestore, public-api-change

#9512 Swift Error Improvements
  FirebaseAppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
  FirebaseAppDistribution/Sources/Public/FirebaseAppDistribution/FIRAppDistribution.h
  FirebaseInstallations/Source/Library/Public/FirebaseInstallations/FIRInstallationsErrors.h
  FirebaseInstallations/Source/Tests/Unit/Swift/InstallationsAPITests.swift
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/NSError+FIRMessaging.h
  FirebaseMessaging/Sources/NSError+FIRMessaging.m
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FIRMessaging.h
  FirebaseMessaging/Tests/UnitTestsSwift/FIRMessagingAPITest.swift
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
  Firestore/Source/Public/FirebaseFirestore/FIRFirestoreErrors.h
  Firestore/Swift/Tests/API/BasicCompileTests.swift
Labels: api: messaging, api: firestore, api: remoteconfig, api: installations, public-api-change, api: appdistribution, api: appcheck

#9562 Register Combine modules with Swift component system
  FirebaseCombineSwift/Sources/Auth/Auth+Combine.swift
  FirebaseCombineSwift/Sources/Firestore/Firestore+Combine.swift
  FirebaseCombineSwift/Sources/Functions/Functions+Combine.swift
  FirebaseCombineSwift/Sources/Storage/Storage+Combine.swift
  FirebaseCore/Sources/FIRApp.m
Labels: api: core

#9532 Upgrade grpc to 1.44 for SPM and Cocoapods
  .github/workflows/firestore.yml
  FirebaseFirestore.podspec
  Package.swift
Labels: api: firestore

#9578 Firestore CHANGELOG
  Firestore/CHANGELOG.md
Labels: api: firestore

#9567 Fixes flutter test failures
  Crashlytics/UnitTests/FIRCLSOnDemandModelTests.m
Labels: api: crashlytics

#9580 [AppCheck, v9] Update endpoint and response parsing logic
  FirebaseAppCheck/Sources/AppAttestProvider/API/FIRAppAttestAttestationResponse.m
  FirebaseAppCheck/Sources/Core/APIService/FIRAppCheckAPIService.m
  FirebaseAppCheck/Sources/Core/APIService/FIRAppCheckToken+APIResponse.m
  FirebaseAppCheck/Tests/Fixture/AppAttestAttestationResponseSuccess.json
  FirebaseAppCheck/Tests/Fixture/DeviceCheckResponseMissingTimeToLive.json
  FirebaseAppCheck/Tests/Fixture/FACTokenExchangeResponseSuccess.json
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckAPIServiceTests.m
Labels: api: appcheck

#9581 Analytics 8.15.0
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
Labels: api: analytics

#9568 [Heartbeat Logging] Migrate Messaging from using `FIRHeartbeatInfo` to `FIRHeartbeatLogger`
  FirebaseCore/Extension/FIRHeartbeatLogger.h
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenDeleteOperation.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenDeleteOperation.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenFetchOperation.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenFetchOperation.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenManager.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenManager.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenOperation.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenOperation.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTestUtilities.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTokenOperationsTest.m
Labels: api: core, api: messaging

#9582 Analytics SPM 8.15.0
  Package.swift
Labels: api: analytics

#9569 Functions and Storage deprecated Error variables
  FirebaseFunctions/CHANGELOG.md
  FirebaseFunctions/Sources/FIRFunctions+Internal.h
  FirebaseFunctions/Sources/FIRFunctions.m
  FirebaseFunctions/Sources/FUNError.m
  FirebaseFunctions/Sources/FUNSerializer.m
  FirebaseFunctions/Sources/Public/FirebaseFunctions/FIRError.h
  FirebaseFunctions/Tests/Integration/FIRIntegrationTests.m
  FirebaseFunctions/Tests/SwiftIntegration/IntegrationTests.swift
  FirebaseFunctions/Tests/Unit/FUNSerializerTests.m
  FirebaseFunctionsSwift/Tests/IntegrationTests.swift
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/FIRStorageConstants.m
  FirebaseStorage/Sources/FIRStorageErrors.h
  FirebaseStorage/Sources/FIRStorageErrors.m
  FirebaseStorage/Sources/FIRStorageUploadTask.m
  FirebaseStorage/Sources/FIRStorageUtils.m
  FirebaseStorage/Sources/Public/FirebaseStorage/FIRStorageConstants.h
  FirebaseStorage/Tests/Unit/FIRStorageReferenceTests.m
  FirebaseStorage/Tests/Unit/FIRStorageTokenAuthorizerTests.m
Labels: api: storage, api: functions, public-api-change

#9502 Fix nil async/await import error
  Firestore/CHANGELOG.md
  Firestore/Source/Public/FirebaseFirestore/FIRFirestore.h
  Firestore/Swift/Source/AsyncAwait/Firestore+AsyncAwait.swift
  Firestore/Swift/Tests/Integration/AsyncAwaitIntegrationTests.swift
Labels: api: firestore, public-api-change

#9556 [Heartbeat Logging] Migrate Auth from using `FIRHeartbeatInfo` to `FIRHeartbeatLogger`
  .github/workflows/auth.yml
  FirebaseAuth.podspec
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.h
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Sample/Podfile
  FirebaseAuth/Tests/Unit/FIRAuthBackendRPCImplementationTests.m
  FirebaseAuth/Tests/Unit/FIRFakeBackendRPCIssuer.h
  FirebaseAuth/Tests/Unit/FIRFakeBackendRPCIssuer.m
  Package.swift
Labels: api: auth

#9391 Remove slashes from log messages
  Crashlytics/Crashlytics/Helpers/FIRCLSLogger.m
  FirebaseABTesting/Sources/FIRExperimentController.m
  FirebaseAppCheck/Sources/Core/FIRAppCheckLogger.m
  FirebaseAppDistribution/Sources/FIRFADLogger.m
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseCore/Sources/FIRLogger.m
  FirebaseCore/Tests/Unit/FIRLoggerTest.m
  FirebaseDatabase/Sources/Utilities/FUtilities.m
  FirebaseDynamicLinks/Sources/Logging/FDLLogging.m
  FirebaseInAppMessaging/Sources/DefaultUI/FIRCore+InAppMessagingDisplay.m
  FirebaseInAppMessaging/Sources/FIRCore+InAppMessaging.m
  FirebaseInstallations/Source/Library/FIRInstallationsLogger.m
  FirebaseMessaging/Sources/FIRMessagingLogger.m
  FirebasePerformance/Sources/FPRConsoleLogger.m
  FirebaseStorage/Sources/FIRStorageLogger.m
  Firestore/core/src/util/log_apple.mm
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: dynamiclinks, api: performance, api: crashlytics, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, api: appcheck

#9586 [Heartbeat Logging] Add logging within `FirebaseCore`
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Tests/Unit/FIRAppTest.m
Labels: api: core

#9599 [Perf] Add missing `FirebaseCoreInternal` pod to testing Podfile
  .github/workflows/performance-integration-tests.yml
  FirebasePerformance/Tests/FIRPerfE2E/Podfile
Labels: api: performance

#9613 Move FirebaseStorageSwift to FirebaseStorage
  .github/workflows/combine.yml
  .github/workflows/storage.yml
  .gitignore
  FirebaseCombineSwift.podspec
  FirebaseCombineSwift/DECISIONS.md
  FirebaseStorage.podspec
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/AsyncAwait.swift
  FirebaseStorage/Sources/Result.swift
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Sources/StorageComponent.swift
  FirebaseStorage/Sources/StorageConstants.swift
  FirebaseStorage/Sources/StorageDownloadTask.swift
  FirebaseStorage/Sources/StorageError.swift
  FirebaseStorage/Sources/StorageListResult.swift
  FirebaseStorage/Sources/StorageMetadata.swift
  FirebaseStorage/Sources/StorageObservableTask.swift
  FirebaseStorage/Sources/StorageReference.swift
  FirebaseStorage/Sources/StorageTask.swift
  FirebaseStorage/Sources/StorageTaskSnapshot.swift
  FirebaseStorage/Sources/StorageUploadTask.swift
  FirebaseStorage/Tests/Integration/Credentials.swift
  FirebaseStorage/Tests/Integration/StorageAsyncAwait.swift
  FirebaseStorage/Tests/Integration/StorageIntegration.swift
  FirebaseStorage/Tests/Integration/StorageIntegrationCommon.swift
  FirebaseStorage/Tests/ObjCIntegration/ObjCAPITests.m
  FirebaseStorage/Tests/Unit/StorageAPITests.swift
  FirebaseStorage/Tests/Unit/StorageComponentTests.swift
  FirebaseStorage/Tests/Unit/StorageTests.swift
  FirebaseStorage/Typedefs/FIRStorageTypedefs.h
  Package.swift
  ROADMAP.md
  SwiftDashboard.md
Labels: api: storage

#9603 [v9] End beta period and update release tooling for select products
  .github/workflows/firestore.yml
  Example/FirestoreSample/FirestoreSample.xcodeproj/project.pbxproj
  Firebase.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAnalyticsSwift/CHANGELOG.md
  FirebaseAppCheck.podspec
  FirebaseAppCheck/CHANGELOG.md
  FirebaseDatabaseSwift.podspec
  FirebaseDatabaseSwift/CHANGELOG.md
  FirebaseFirestoreSwift.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseRemoteConfigSwift/CHANGELOG.md
  Firestore/Swift/CHANGELOG.md
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  scripts/build_non_firebase_sdks.sh
Labels: api: database, api: firestore, api: remoteconfig, api: inappmessaging, release-tooling, api: appcheck

#9615 Functions/Storage 9.0.0 release notes updates
  FirebaseFunctions/CHANGELOG.md
  FirebaseStorage/CHANGELOG.md
Labels: api: storage, api: functions

#9618 ObjC should use continue to use paths for Interop deps
  FirebaseStorageInternal.podspec
Labels: api: storage

#9619 Remove Objective-C Error APIs for Functions
  FirebaseFunctions/Sources/FunctionsError.swift
  FirebaseFunctions/Tests/ObjCIntegration/FIRIntegrationTests.m
  FirebaseFunctions/Tests/ObjCIntegration/ObjCAPITests.m
Labels: api: functions

#9621 [Infra] Fix Auth sample app when pod updating
  FirebaseAuth/Tests/Sample/Podfile
Labels: api: auth

#9594 Use Swift syntax in reference documentation
  Crashlytics/Crashlytics/Public/FirebaseCrashlytics/FIRCrashlytics.h
  FirebaseABTesting/Sources/Public/FirebaseABTesting/FIRLifecycleEvents.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAdditionalUserInfo.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthDataResult.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIREmailAuthProvider.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRFacebookAuthProvider.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRGameCenterAuthProvider.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRGitHubAuthProvider.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRGoogleAuthProvider.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactor.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIROAuthProvider.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRPhoneAuthProvider.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRPhoneMultiFactorInfo.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRTwitterAuthProvider.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDataSnapshot.h
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabase.h
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabaseQuery.h
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRMutableData.h
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRTransactionResult.h
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessaging.h
  FirebaseInstallations/Source/Library/Public/FirebaseInstallations/FIRInstallations.h
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FIRMessaging.h
  FirebasePerformance/Sources/Public/FirebasePerformance/FIRHTTPMetric.h
  FirebasePerformance/Sources/Public/FirebasePerformance/FIRPerformance.h
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
  Firestore/Source/Public/FirebaseFirestore/FIRDocumentSnapshot.h
  Firestore/Source/Public/FirebaseFirestore/FIRLoadBundleTask.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuery.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuerySnapshot.h
  Firestore/Source/Public/FirebaseFirestore/FIRTransaction.h
Labels: api: database, api: auth, api: messaging, api: storage, api: firestore, api: performance, api: remoteconfig, api: crashlytics, api: abtesting, api: inappmessaging, api: installations, public-api-change

#9628 Restore StorageErrorDomain and error tests
  FirebaseFunctions/Sources/FunctionsError.swift
  FirebaseFunctions/Tests/Unit/FunctionsAPITests.swift
  FirebaseStorage/Sources/StorageError.swift
  FirebaseStorage/Tests/Unit/StorageAPITests.swift
Labels: api: storage, api: functions

#9630 Update binary install instructions for disabling AdId
  Carthage.md
  ReleaseTooling/Template/README.md
Labels: release-tooling

#9632 Interop libs should be included in the zip
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
Labels: release-tooling

#9561 SDK support for logical termination in Firestore BatchGetDocuments
  Firestore/core/src/remote/datastore.cc
  Firestore/core/src/remote/datastore.h
  Firestore/core/src/remote/grpc_streaming_reader.cc
  Firestore/core/src/remote/grpc_streaming_reader.h
  Firestore/core/test/unit/remote/datastore_test.cc
  Firestore/core/test/unit/remote/grpc_connection_test.cc
  Firestore/core/test/unit/remote/grpc_streaming_reader_test.cc
Labels: api: firestore

#9625 [HeartbeatLogging] Remove heartbeat trigger for when app is configured
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Tests/Unit/FIRAppTest.m
Labels: api: core

#9624 Fix import bug
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Tests/Sample/SwiftApiTests/SwiftAPI.swift
Labels: api: auth, public-api-change

#9636 fix changelogs
  FirebasePerformance/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: firestore, api: performance

#9634 App Distro: fix async/await issue
  FirebaseAppDistribution.podspec
  FirebaseAppDistribution/CHANGELOG.md
  FirebaseAppDistribution/Sources/Public/FirebaseAppDistribution/FIRAppDistribution.h
  FirebaseAppDistribution/Tests/Unit/Swift/AppDistributionAPITest.swift
  Package.swift
Labels: public-api-change, api: appdistribution, Swift API

#9637 Fdl async await crash fix
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
Labels: api: dynamiclinks

#9639 [AppCheck] Improve documentation for retrieving a debug token
  FirebaseAppCheck/CHANGELOG.md
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppCheckDebugProvider.h
Labels: public-api-change, api: appcheck

#9642 Carthage update for M114
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#9576 Adding Custom-Time to Firebase Storage
  FirebaseStorage/Sources/StorageMetadata.swift
  FirebaseStorage/Tests/Integration/StorageAsyncAwait.swift
  FirebaseStorage/Tests/Integration/StorageIntegration.swift
  FirebaseStorageInternal/Sources/FIRStorageConstants.m
  FirebaseStorageInternal/Sources/FIRStorageConstants_Private.h
  FirebaseStorageInternal/Sources/FIRStorageMetadata.m
  FirebaseStorageInternal/Sources/Public/FirebaseStorageInternal/FIRStorageMetadata.h
  FirebaseStorageInternal/Tests/Integration/FIRStorageIntegrationTests.m
  FirebaseStorageInternal/Tests/Unit/FIRStorageMetadataTests.m
Labels: api: storage, public-api-change

#9652 Revert "Adding Custom Time to FirebaseStorage (#9576)"
  FirebaseStorage/Sources/StorageMetadata.swift
  FirebaseStorage/Tests/Integration/StorageAsyncAwait.swift
  FirebaseStorage/Tests/Integration/StorageIntegration.swift
  FirebaseStorageInternal/Sources/FIRStorageConstants.m
  FirebaseStorageInternal/Sources/FIRStorageConstants_Private.h
  FirebaseStorageInternal/Sources/FIRStorageMetadata.m
  FirebaseStorageInternal/Sources/Public/FirebaseStorageInternal/FIRStorageMetadata.h
  FirebaseStorageInternal/Tests/Integration/FIRStorageIntegrationTests.m
  FirebaseStorageInternal/Tests/Unit/FIRStorageMetadataTests.m
Labels: api: storage, public-api-change

#9659 Address v9, resolved, and obsolete TODO's
  .github/workflows/functions.yml
  .github/workflows/storage.yml
  .github/workflows/zip.yml
  Crashlytics/Protogen/nanopb/crashlytics.nanopb.c
  FirebaseCore/Extension/FIRAppInternal.h
  FirebaseDatabase/Sources/Api/FIRDatabase.m
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  scripts/check_whitespace.sh
Labels: api: core, api: database, api: dynamiclinks, api: crashlytics

#9566 Update changelog
  Firestore/Swift/CHANGELOG.md
Labels: api: firestore

#9658 Add FIRESTORE_INCLUDE_OBJC cmake cache variable
  Firestore/CMakeLists.txt
  Firestore/Example/CMakeLists.txt
  Firestore/Source/CMakeLists.txt
Labels: api: firestore

#9661 [FirebaseCore] Update headers in `FirebaseCore.podspec`
  FirebaseCore.podspec
Labels: api: core

#9662 Create individual Python virtualenv's in cmake builds
  Firestore/Protos/CMakeLists.txt
  Firestore/core/CMakeLists.txt
  cmake/external/CMakeLists.txt
  cmake/python_setup.cmake
Labels: api: firestore

#9664 Add callableWithURL
  FirebaseFunctions/CHANGELOG.md
  FirebaseFunctions/Sources/Functions.swift
  FirebaseFunctions/Sources/HTTPSCallable.swift
  FirebaseFunctions/Tests/Integration/IntegrationTests.swift
  FirebaseFunctions/Tests/ObjCIntegration/ObjCAPITests.m
  FirebaseFunctions/Tests/ObjCIntegration/ObjCPPAPITests.mm
  FirebaseFunctions/Tests/Unit/FunctionsAPITests.swift
Labels: api: functions

#9622 Fix keychain access issues caused by prewarming
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
Labels: api: auth

#9665 Analytics 9.0.0
  FirebaseAnalytics.podspec.json
  FirebaseAnalyticsOnDeviceConversion.podspec.json
  FirebaseAnalyticsOnDeviceConversionWrapper/dummy.m
  FirebaseAnalyticsOnDeviceConversionWrapper/include/dummy.h
  GoogleAppMeasurement.podspec.json
  GoogleAppMeasurementOnDeviceConversion.podspec.json
  Package.swift
  SwiftPMTests/analytics-import-test/analytics-import.swift
  SwiftPMTests/analytics-import-test/firebase-import.swift
Labels: api: analytics

#9655 Make getDataWithCompletionBlock snapshot nullable
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Api/FIRDatabaseQuery.m
  FirebaseDatabase/Sources/Core/FRepo.m
  FirebaseDatabase/Sources/FIRDatabaseReference.m
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabaseQuery.h
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabaseReference.h
  FirebaseDatabase/Tests/Unit/Swift/DatabaseAPITests.swift
Labels: api: database, public-api-change

#9667 Remove url label. add Codable test
  FirebaseFunctions/Sources/Functions.swift
  FirebaseFunctions/Tests/Integration/IntegrationTests.swift
  FirebaseFunctions/Tests/Unit/FunctionsAPITests.swift
Labels: api: functions

#9668 Update manifest with new pods
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: release-tooling

#9677 [v9] Update pinned minor version of `GTMSessionFetcher` dependencies
  FirebaseAuth.podspec
  FirebaseFunctions.podspec
  FirebaseStorageInternal.podspec
  Package.swift
Labels: api: auth, api: storage, api: functions

#9678 Refactor to remove `__` APIs in Swift
  FirebaseFunctions/Sources/Functions.swift
  FirebaseStorage/Sources/Storage.swift
Labels: api: storage, api: functions

#9670 Fix platforms and zip attribute on new pods
  AddNewPod.md
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: release-tooling

#9683 [FirebaseCoreInternal] Sanitize app ID used in file system resource
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatController.swift
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatStorage.swift
  FirebaseCore/Internal/Sources/HeartbeatLogging/StorageFactory.swift
  FirebaseCore/Internal/Tests/Integration/HeartbeatLoggingIntegrationTests.swift
Labels: api: core

#9650 Run queries through index manager
  Firestore/core/src/core/query.cc
  Firestore/core/src/core/target.cc
  Firestore/core/src/core/target.h
  Firestore/core/src/index/index_entry.cc
  Firestore/core/src/index/index_entry.h
  Firestore/core/src/local/index_manager.h
  Firestore/core/src/local/leveldb_index_manager.cc
  Firestore/core/src/local/leveldb_index_manager.h
  Firestore/core/src/local/leveldb_key.cc
  Firestore/core/src/local/leveldb_key.h
  Firestore/core/src/local/local_serializer.h
  Firestore/core/src/local/memory_document_overlay_cache.cc
  Firestore/core/src/local/memory_index_manager.cc
  Firestore/core/src/local/memory_index_manager.h
  Firestore/core/src/model/document_key.cc
  Firestore/core/src/model/document_key.h
  Firestore/core/src/model/value_util.cc
  Firestore/core/src/model/value_util.h
  Firestore/core/src/remote/serializer.h
  Firestore/core/src/util/maps.h
  Firestore/core/src/util/set_util.h
  Firestore/core/test/unit/core/target_test.cc
  Firestore/core/test/unit/local/leveldb_index_manager_test.cc
  Firestore/core/test/unit/local/leveldb_key_test.cc
Labels: api: firestore

#9693 [v9] Update pinned minor versions for podspecs
  FirebaseAppCheck.podspec
  FirebaseCrashlytics.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
Labels: api: crashlytics, api: installations, api: appcheck

#9695 Sync Release 9.0 branch to master
  FirebaseAppCheck.podspec
  FirebaseCrashlytics.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  Package.swift
  ReleaseTooling/Template/README.md
Labels: api: crashlytics, api: installations, release-tooling, api: appcheck

#9688 Make RTDB integration tests runnable on a real target
  FirebaseDatabase.podspec
  FirebaseDatabase/Tests/Helpers/FTestBase.m
Labels: api: database

#9705 Fix build errors in Xcode 13.3.1
  Firestore/CHANGELOG.md
  Firestore/Example/GoogleTest.podspec
  Firestore/Example/Tests/Integration/FSTTransactionTests.mm
  Firestore/core/src/credentials/user.h
  cmake/external/googletest.cmake
Labels: api: firestore

#9706 Update Storage and Functions header comments to Swift markdown
  FirebaseFunctions/Sources/Functions.swift
  FirebaseFunctions/Sources/FunctionsError.swift
  FirebaseFunctions/Sources/HTTPSCallable.swift
  FirebaseStorage/Sources/AsyncAwait.swift
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Sources/StorageDownloadTask.swift
  FirebaseStorage/Sources/StorageError.swift
  FirebaseStorage/Sources/StorageListResult.swift
  FirebaseStorage/Sources/StorageObservableTask.swift
  FirebaseStorage/Sources/StorageReference.swift
  FirebaseStorage/Sources/StorageTask.swift
  FirebaseStorage/Sources/StorageTaskSnapshot.swift
  FirebaseStorage/Sources/StorageUploadTask.swift
Labels: api: storage, api: functions

#9712 googletest.cmake: remove GIT_SHALLOW when cloning
  cmake/external/googletest.cmake
Labels: api: firestore

#9715 Missing NSObject overrides and tests
  FirebaseStorage/Sources/StorageListResult.swift
  FirebaseStorage/Sources/StorageMetadata.swift
  FirebaseStorage/Tests/Unit/StorageMetadataTests.swift
  FirebaseStorageInternal/Tests/Integration/FIRStorageIntegrationTests.m
Labels: api: storage

#9717 Fix an issue with StorageUploadTask.resume accidentally using Download.
  FirebaseStorage/Sources/StorageUploadTask.swift
Labels: api: storage

#9718 Cherry-pick 9717 to release-9.0
  FirebaseStorage/Sources/StorageUploadTask.swift
Labels: api: storage

#9719 Merge 9715 and 9720 to master
  FirebaseStorage/Sources/StorageListResult.swift
  FirebaseStorage/Sources/StorageMetadata.swift
  FirebaseStorage/Tests/Unit/StorageMetadataTests.swift
  FirebaseStorageInternal/Tests/Integration/FIRStorageIntegrationTests.m
  ReleaseTooling/Template/README.md
Labels: api: storage, release-tooling

#9726 Fix "the the" typos
  Crashlytics/run
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.h
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FDLURLComponents.h
  Firestore/Protos/nanopb_cpp_generator.py
  Firestore/core/src/local/leveldb_key.h
  Firestore/core/src/remote/remote_store.cc
  Firestore/core/src/util/filesystem.h
  Firestore/core/test/unit/local/mutation_queue_test.h
  Firestore/core/test/unit/remote/grpc_stream_tester.h
Labels: api: auth, api: firestore, api: dynamiclinks, api: crashlytics, public-api-change

#9708 Create PR for NOTICES
  .github/actions/notices_generation/action.yml
  .github/actions/notices_generation/app.rb
  .github/workflows/notice_generation.yml
  scripts/create_pull_request.rb
Labels: release-tooling
