Repository firebase/firebase-ios-sdk, pull requests merged in 2022-05, with the labels that each got.

#9748 Fix Storage Pod-lib-lint failures on Xcode 13.3.1
  .github/workflows/storage.yml
  FirebaseStorage.podspec
Labels: api: storage

#9747 [v9] Cherry-pick Firestore build fix for Xcode 13.3.1 into `release-9.0`
  Firestore/CHANGELOG.md
  Firestore/Example/GoogleTest.podspec
  Firestore/Example/Tests/Integration/FSTTransactionTests.mm
  Firestore/core/src/credentials/user.h
  cmake/external/googletest.cmake
Labels: api: firestore

#9739 Build zip with Xcode 13.3.1
  .github/workflows/zip.yml
  README.md
  ReleaseTooling/Template/README.md
Labels: release-tooling

#9758 Fix typos in CHANGELOG [skip-ci]
  FirebaseCore/CHANGELOG.md
Labels: api: core

#9762 [v9] Merge `release-9.0` into `master`
  .github/workflows/storage.yml
  FirebaseStorage.podspec
  Firestore/CHANGELOG.md
  Package.swift
  cmake/external/googletest.cmake
Labels: api: storage, api: firestore

#9764 Carthage 9.0.0 + instruction update
  Carthage.md
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#9750 Fix memory leak from ASAN checks
  Firestore/core/src/model/value_util.cc
  Firestore/core/test/unit/local/local_serializer_test.cc
Labels: api: firestore

#9775 [v9.1] Bump GoogleDataTransport dep to ≥9.1.4
  FirebaseAppDistribution.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  Package.swift
Labels: api: core, api: messaging, api: performance, api: crashlytics, api: appdistribution

#9765 Update to nanopb 2.30909.0
  FirebaseAnalytics.podspec.json
  FirebaseCoreDiagnostics.podspec
  FirebaseCrashlytics.podspec
  FirebaseFirestore.podspec
  FirebaseInAppMessaging.podspec
  FirebaseMessaging.podspec
  FirebaseMessaging/Apps/Sample/Podfile
  FirebasePerformance.podspec
  GoogleAppMeasurement.podspec.json
  Package.swift
Labels: api: core, api: messaging, api: firestore, api: performance, api: crashlytics, api: inappmessaging

#9732 [Crashlytics] Don't use `NS_SWIFT_NAME` to avoid collision with 3p macro
  Crashlytics/Crashlytics/Public/FirebaseCrashlytics/FIRCrashlytics.h
  Crashlytics/Crashlytics/Public/FirebaseCrashlytics/FIRCrashlyticsReport.h
Labels: api: crashlytics, public-api-change

#9783 [Release Tooling] Re-order pod manifest
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: release-tooling

#9754 Update NOTICES workflow.
  .github/workflows/notice_generation.yml
  scripts/create_pull_request.rb
Labels: api: core

#9785 [Infra] Convert `FirebaseAnalyticsOnDeviceConversion` JSON podspec to Ruby
  .github/workflows/analytics.yml
  Dangerfile
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec.json
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: analytics, release-tooling

#9787 [v9.1.0] Update versions for Release 9.1.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec.json
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  FirebaseStorageInternal.podspec
  GoogleAppMeasurement.podspec.json
  GoogleAppMeasurementOnDeviceConversion.podspec.json
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#9784 Crashlytics add more clarifying information to unsent reports log
  Crashlytics/Crashlytics/Controllers/FIRCLSExistingReportManager.m
Labels: api: crashlytics

#9777 [Infra] Standardize CHANGELOG header format
  Crashlytics/CHANGELOG.md
  Firebase/CoreDiagnostics/CHANGELOG.md
  FirebaseABTesting/CHANGELOG.md
  FirebaseAnalyticsSwift/CHANGELOG.md
  FirebaseAppCheck/CHANGELOG.md
  FirebaseAppDistribution/CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
  FirebaseCombineSwift/CHANGELOG.md
  FirebaseDatabase/CHANGELOG.md
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseFunctions/CHANGELOG.md
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/DefaultUI/CHANGELOG.md
  FirebaseInstallations/CHANGELOG.md
  FirebaseMessaging/CHANGELOG.md
  FirebasePerformance/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseStorage/CHANGELOG.md
  Firestore/CHANGELOG.md
  Firestore/Swift/CHANGELOG.md
  Interop/CoreDiagnostics/CHANGELOG.md
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, api: appcheck

#9811 Remove build statuses from README
  README.md
Labels: Docs

#9813 Analytics 9.1.0
  FirebaseAnalytics.podspec.json
  GoogleAppMeasurement.podspec.json
  Package.swift
Labels: api: analytics

#9812 [FirebaseCore] Mark duplicate internal API as unavailable in Swift
  FirebaseCore/Sources/FIRComponentContainerInternal.h
Labels: api: core

#9797 Fix Catalyst Flaky Test
  Crashlytics/Crashlytics/Controllers/FIRCLSExistingReportManager.m
  Crashlytics/Crashlytics/FIRCrashlytics.m
  Crashlytics/Crashlytics/Models/FIRCLSOnDemandModel.m
  Crashlytics/Crashlytics/Private/FIRCLSOnDemandModel_Private.h
  Crashlytics/UnitTests/FIRCLSOnDemandModelTests.m
  Crashlytics/UnitTests/Mocks/FIRCLSMockFileManager.m
  Crashlytics/UnitTests/Mocks/FIRCLSMockOnDemandModel.h
  Crashlytics/UnitTests/Mocks/FIRCLSMockOnDemandModel.m
Labels: api: crashlytics

#9792 Overlay Migration
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/local/leveldb_key.cc
  Firestore/core/src/local/leveldb_key.h
  Firestore/core/src/local/leveldb_migrations.cc
  Firestore/core/src/local/leveldb_migrations.h
  Firestore/core/src/local/leveldb_overlay_migration_manager.cc
  Firestore/core/src/local/leveldb_overlay_migration_manager.h
  Firestore/core/src/local/leveldb_persistence.cc
  Firestore/core/src/local/leveldb_persistence.h
  Firestore/core/src/local/local_documents_view.cc
  Firestore/core/src/local/local_store.cc
  Firestore/core/src/local/local_store.h
  Firestore/core/src/local/memory_overlay_migration_manager.h
  Firestore/core/src/local/memory_persistence.cc
  Firestore/core/src/local/memory_persistence.h
  Firestore/core/src/local/overlay_migration_manager.h
  Firestore/core/src/local/persistence.h
  Firestore/core/test/unit/local/leveldb_key_test.cc
  Firestore/core/test/unit/local/leveldb_migrations_test.cc
  Firestore/core/test/unit/local/leveldb_overlay_migration_manager_test.cc
Labels: api: firestore

#9809 Split release job to sub tasks.
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  ReleaseTooling/Sources/ManifestParser/GHAMatrixSpecCollector.swift
  ReleaseTooling/Sources/ManifestParser/main.swift
  scripts/create_spec_repo/Package.swift
  scripts/create_spec_repo/Sources/SpecRepoBuilder/main.swift
Labels: release-tooling

#8816 Add Swift API for recording errors with userInfo parameters
  Crashlytics/Crashlytics/FIRCrashlytics.m
  Crashlytics/Crashlytics/Public/FirebaseCrashlytics/FIRCrashlytics.h
Labels: cla: yes, api: crashlytics

#9807 Realtime rc dev
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.h
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
Labels: api: remoteconfig, public-api-change

#9731 Overlays integrate with mutations and queries, and migration
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Integration/API/FIRWriteBatchTests.mm
  Firestore/core/src/immutable/sorted_set.h
  Firestore/core/src/local/document_overlay_cache.cc
  Firestore/core/src/local/document_overlay_cache.h
  Firestore/core/src/local/leveldb_document_overlay_cache.cc
  Firestore/core/src/local/leveldb_document_overlay_cache.h
  Firestore/core/src/local/leveldb_key.cc
  Firestore/core/src/local/leveldb_key.h
  Firestore/core/src/local/leveldb_migrations.cc
  Firestore/core/src/local/leveldb_migrations.h
  Firestore/core/src/local/leveldb_overlay_migration_manager.cc
  Firestore/core/src/local/leveldb_overlay_migration_manager.h
  Firestore/core/src/local/leveldb_persistence.cc
  Firestore/core/src/local/leveldb_persistence.h
  Firestore/core/src/local/leveldb_remote_document_cache.cc
  Firestore/core/src/local/leveldb_remote_document_cache.h
  Firestore/core/src/local/local_documents_view.cc
  Firestore/core/src/local/local_documents_view.h
  Firestore/core/src/local/local_store.cc
  Firestore/core/src/local/local_store.h
  Firestore/core/src/local/local_write_result.h
  Firestore/core/src/local/memory_document_overlay_cache.cc
  Firestore/core/src/local/memory_document_overlay_cache.h
  Firestore/core/src/local/memory_persistence.cc
  Firestore/core/src/local/memory_persistence.h
  Firestore/core/src/local/memory_remote_document_cache.cc
  Firestore/core/src/local/memory_remote_document_cache.h
  Firestore/core/src/local/overlay_migration_manager.h
  Firestore/core/src/local/persistence.h
  Firestore/core/src/local/query_engine.cc
  Firestore/core/src/local/remote_document_cache.h
  Firestore/core/src/model/model_fwd.h
  Firestore/core/src/model/mutation.cc
  Firestore/core/src/model/mutation.h
  Firestore/core/src/model/mutation_batch.cc
  Firestore/core/src/model/mutation_batch.h
  Firestore/core/src/model/overlayed_document.h
  Firestore/core/src/model/patch_mutation.cc
  Firestore/core/src/model/patch_mutation.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/test/unit/local/counting_query_engine.cc
  Firestore/core/test/unit/local/counting_query_engine.h
  Firestore/core/test/unit/local/document_overlay_cache_test.cc
  Firestore/core/test/unit/local/leveldb_key_test.cc
  Firestore/core/test/unit/local/leveldb_migrations_test.cc
  Firestore/core/test/unit/local/leveldb_overlay_migration_manager_test.cc
  Firestore/core/test/unit/local/local_store_test.cc
  Firestore/core/test/unit/local/query_engine_test.cc
  Firestore/core/test/unit/local/remote_document_cache_test.cc
Labels: api: firestore

#9839 [Release] M116 Carthage Update
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#9842 Notices Generation Fix - update manifest parser
  .github/workflows/notice_generation.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  ReleaseTooling/Sources/ManifestParser/main.swift
Labels: release-tooling

#9833 Preinstall FirebaseCore for release testing.
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  ReleaseTooling/Sources/ManifestParser/GHAMatrixSpecCollector.swift
  scripts/create_spec_repo/Sources/SpecRepoBuilder/main.swift
  scripts/release_testing_setup.sh
Labels: release-tooling

#9846 fix doc comments in auth header
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthErrors.h
Labels: api: auth, public-api-change

#9847 Pass along FIREBASE_PYTHON_HOST_EXECUTABLE for leveldb.cmake
  cmake/external_rules.cmake
Labels: api: firestore

#9851 value_util.cc: Fix MaxValue() to no longer use designated initialization.
  Firestore/core/src/model/value_util.cc
Labels: api: firestore

#9858 Storage Custom Metadata Deletion
  FirebaseStorageInternal/Tests/Integration/FIRStorageIntegrationTests.m
Labels: api: storage

#9857 Verify localizedDescription with FunctionsInvalid Argument error
  FirebaseFunctions/Tests/ObjCIntegration/FIRIntegrationTests.m
Labels: api: functions

#9862 Fix 9.0.0 Functions Error Code Regressions
  FirebaseFunctions/Backend/index.js
  FirebaseFunctions/Backend/start.sh
  FirebaseFunctions/CHANGELOG.md
  FirebaseFunctions/Sources/FunctionsError.swift
  FirebaseFunctions/Tests/Integration/IntegrationTests.swift
  FirebaseFunctions/Tests/ObjCIntegration/FIRIntegrationTests.m
Labels: api: functions

#9870 Use nil to clear customMetadata
  FirebaseStorageInternal/Tests/Integration/FIRStorageIntegrationTests.m
Labels: api: storage
