Repository firebase/firebase-ios-sdk, pull requests merged in 2022-08, with the labels that each got.

#10061 Fix a bug where phone multi factor id is not correctly retrieved
  FirebaseAuth/Sources/Backend/RPC/Proto/FIRAuthProtoMFAEnrollment.h
  FirebaseAuth/Sources/Backend/RPC/Proto/FIRAuthProtoMFAEnrollment.m
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactor.m
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactorConstants.m
  FirebaseAuth/Sources/MultiFactor/Phone/FIRPhoneMultiFactorInfo.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
Labels: api: auth

#10070 [Infra] Move Firebase user agent tests to sepearate file
  FirebaseCore/Tests/Unit/FIRAppTest.m
  FirebaseCore/Tests/Unit/FIRFirebaseUserAgentTests.m
Labels: api: core

#10075 [CoreInternal] Add explicit generics typing for Array.Index usage
  FirebaseCore/Internal/Sources/HeartbeatLogging/RingBuffer.swift
Labels: api: core

#10063 Backend apis
  FirebaseAuth/Sources/Backend/RPC/FIRGetOOBConfirmationCodeRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRGetOOBConfirmationCodeRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRVerifyPasswordRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRVerifyPasswordRequest.m
  FirebaseAuth/Tests/Unit/FIRGetOOBConfirmationCodeRequestTests.m
  FirebaseAuth/Tests/Unit/FIRSignUpNewUserRequestTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyPasswordRequestTest.m
Labels: api: auth

#10085 [Core] Exclude lifecycle-dependent tests from watchOS
  FirebaseCore/Tests/Unit/FIRAppTest.m
Labels: api: core

#10084 update release note for 9.4.1
  FirebaseCore/CHANGELOG.md
Labels: api: core

#10073 Fix module name for Promises and Protobuf
  .github/workflows/zip.yml
  FirebaseCore/CHANGELOG.md
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: api: core, release-tooling

#10062 Replace NSLog with kFIRLoggerRemoteConfig
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
Labels: api: remoteconfig

#10088 Update versions for Release 9.5.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  FirebaseStorageInternal.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#10094 [AppCheck] DeviceCheck provider is supported by watchOS 9.0+
  FirebaseAppCheck/CHANGELOG.md
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppCheckAvailability.h
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckTests.m
  FirebaseAppCheck/Tests/Unit/DeviceCheckProvider/FIRDeviceCheckProviderTests.m
Labels: public-api-change, api: appcheck

#10098 [AppCheck] App Attest provider is supported by watchOS 9.0+
  FirebaseAppCheck/CHANGELOG.md
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppCheckAvailability.h
Labels: public-api-change, api: appcheck

#10101 Remove erroneous logic in ComputeViews.
  Firestore/CHANGELOG.md
  Firestore/core/src/local/local_documents_view.cc
Labels: api: firestore

#10067 Realtime rc failsafe
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig

#10105 Update Firestore CHANGELOG for Firebase 9.5.0
  Firestore/CHANGELOG.md
Labels: api: firestore

#10110 Update Auth CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
Labels: api: auth

#10090 Add setIndexConfiguration for client side indexing
  Firestore/CHANGELOG.md
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Integration/API/FIRIndexingTests.mm
  Firestore/Source/API/FIRFirestore.mm
  Firestore/Source/Public/FirebaseFirestore/FIRFirestore.h
  Firestore/core/src/api/firestore.cc
  Firestore/core/src/api/firestore.h
  Firestore/core/src/bundle/bundle_reader.h
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/src/bundle/bundle_serializer.h
  Firestore/core/src/core/firestore_client.cc
  Firestore/core/src/core/firestore_client.h
  Firestore/core/src/local/leveldb_index_manager.cc
  Firestore/core/src/local/local_store.cc
  Firestore/core/src/local/local_store.h
  Firestore/core/src/local/query_engine.h
  Firestore/core/src/model/field_index.h
  Firestore/core/src/util/json_reader.cc
  Firestore/core/src/util/json_reader.h
  Firestore/core/src/util/set_util.h
  Firestore/core/test/unit/bundle/bundle_serializer_test.cc
  Firestore/core/test/unit/local/counting_query_engine.cc
  Firestore/core/test/unit/local/leveldb_local_store_test.cc
  Firestore/core/test/unit/local/local_store_test.cc
  Firestore/core/test/unit/local/local_store_test.h
  Firestore/core/test/unit/local/query_engine_test.cc
  Firestore/core/test/unit/local/query_engine_test.h
  Firestore/core/test/unit/testutil/CMakeLists.txt
  Firestore/core/test/unit/testutil/testutil.cc
  Firestore/core/test/unit/testutil/testutil.h
Labels: api: firestore, public-api-change

#10089 Realtime rc merge patch v1
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
Labels: api: remoteconfig

#9734 Implement the Composite Filter class
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/Source/API/FIRFilter+Internal.h
  Firestore/Source/API/FIRFilter.mm
  Firestore/Source/API/FIRQuery+Internal.h
  Firestore/Source/API/FIRQuery.mm
  Firestore/core/src/api/query_core.cc
  Firestore/core/src/api/query_core.h
  Firestore/core/src/core/composite_filter.cc
  Firestore/core/src/core/composite_filter.h
  Firestore/core/src/core/field_filter.cc
  Firestore/core/src/core/field_filter.h
  Firestore/core/src/core/filter.h
  Firestore/core/src/core/query.cc
  Firestore/core/src/core/query.h
  Firestore/core/src/core/target.cc
  Firestore/core/src/local/leveldb_index_manager.cc
  Firestore/core/test/unit/core/field_filter_test.cc
  Firestore/core/test/unit/core/filter_test.cc
  Firestore/core/test/unit/testutil/testutil.cc
  Firestore/core/test/unit/testutil/testutil.h
Labels: api: firestore

#10117 StorageAuthorizer to Swift
  FirebaseCombineSwift.podspec
  FirebaseCombineSwift/Sources/Storage/StorageReference+Combine.swift
  FirebaseCombineSwift/Tests/Integration/Storage/StorageIntegration.swift
  FirebaseCombineSwift/Tests/Unit/Storage/StorageReferenceTests.swift
  FirebaseCore/Extension/FIRLogger.h
  FirebaseCore/Sources/FIRLogger.m
  FirebaseStorage.podspec
  FirebaseStorage/Sources/Internal/StorageTokenAuthorizer.swift
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Tests/Unit/StorageAuthorizerTests.swift
  FirebaseStorage/Tests/Unit/StorageDeleteTests.swift
  FirebaseStorage/Tests/Unit/StorageGetMetadataTests.swift
  FirebaseStorage/Tests/Unit/StorageListTests.swift
  FirebaseStorageInternal/Sources/FIRStorageTokenAuthorizer.m
  FirebaseStorageInternal/Sources/Public/FirebaseStorageInternal/FIRStorageTokenAuthorizer.h
  FirebaseStorageInternal/Tests/Unit/FIRStorageTestHelpers.h
  FirebaseStorageInternal/Tests/Unit/FIRStorageTokenAuthorizerTests.m
  Package.swift
Labels: api: core, api: storage

#10123 Limit GTMSessionFetcher version update to < 2.1.0
  FirebaseCore/CHANGELOG.md
  FirebaseStorageInternal.podspec
  Package.swift
Labels: api: core, api: storage

#10127 Cherry-pick #10123 into Firebase 9.5.0
  FirebaseCore/CHANGELOG.md
  FirebaseStorageInternal.podspec
  Package.swift
Labels: api: core, api: storage

#10119 [Infra] Add issue form for bug reports
  .github/ISSUE_TEMPLATE/BUG_REPORT.yml
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Infrastructure

#10120 [Infra] Add issue form for feature requests
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Infrastructure

#10113 modified url for app engine test-app
  FirebaseAuth/Tests/Sample/E2eTests/BYOAuthTests.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+AutoTests.m
Labels: api: auth

#10131 Reenable any GTMSessionFetcher 2.x dependency
  FirebaseCore/CHANGELOG.md
  FirebaseStorageInternal.podspec
  FirebaseStorageInternal/Sources/FIRStorageTokenAuthorizer.h
  FirebaseStorageInternal/Sources/FIRStorageTokenAuthorizer.m
  Package.swift
Labels: api: core, api: storage

#10132 Update Carthage JSON for Firebase 9.5.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#10144 Fix priority inversion issue exposed by Xcode 14
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/third_party/SocketRocket/FSRWebSocket.m
Labels: api: database

#10143 [RC] Fix retry logic to respect max retry count
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/ViewController.m
Labels: api: remoteconfig

#10146 [AppCheck] Disable tests that use keychain
  FirebaseAppCheck/Tests/Integration/FIRDeviceCheckAPIServiceE2ETests.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/Storage/FIRAppAttestArtifactStorageTests.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckIntegrationTests.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckStorageTests.m
  Package.swift
Labels: api: appcheck

#10145 Update versions for Release 9.6.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreDiagnostics.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  FirebaseStorageInternal.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#10112 [Core] Support watchOS lifecycle notifications
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Tests/Unit/FIRAppTest.m
Labels: api: core

#10157 [Core] Link `WatchKit` for watchOS in `FirebaseCore.podspec`
  FirebaseCore.podspec
Labels: api: core
