Repository firebase/firebase-ios-sdk, pull requests merged in 2023-09, with the labels that each got.

#11769 [Config] Revert merge of ConfigSwift into Config
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/Swift/SPMSwiftHeaderWorkaround.swift
  FirebaseRemoteConfigSwift.podspec
  FirebaseRemoteConfigSwift/Sources/Codable.swift
  FirebaseRemoteConfigSwift/Sources/FirebaseRemoteConfigSwift.swift
  FirebaseRemoteConfigSwift/Sources/FirebaseRemoteConfigValueDecoderHelper.swift
  FirebaseRemoteConfigSwift/Sources/PropertyWrapper/RemoteConfigProperty.swift
  FirebaseRemoteConfigSwift/Sources/PropertyWrapper/RemoteConfigValueObservable.swift
  FirebaseRemoteConfigSwift/Sources/Value.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/Codable.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/PropertyWrapperDefaultConfigsTests.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/PropertyWrapperTests.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/Value.swift
  Package.swift
Labels: api: remoteconfig, public-api-change

#11767 [ConfigSwift] Only re-export the API that used to be in ConfigSwift
  FirebaseRemoteConfigSwift/Sources/FirebaseRemoteConfigSwift.swift
Labels: api: remoteconfig

#11757 Public Auto Persistent Index Creation API
  Firestore/CHANGELOG.md
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/Example/Tests/Integration/API/FIRIndexingTests.mm
  Firestore/Example/Tests/Util/FSTExceptionCatcher.h
  Firestore/Example/Tests/Util/FSTExceptionCatcher.m
  Firestore/Source/API/FIRFirestore+Internal.h
  Firestore/Source/API/FIRFirestore.mm
  Firestore/Source/API/FIRPersistentCacheIndexManager+Internal.h
  Firestore/Source/Public/FirebaseFirestore/FIRFirestore.h
  Firestore/Source/Public/FirebaseFirestore/FIRPersistentCacheIndexManager.h
  Firestore/Swift/Tests/BridgingHeader.h
  Firestore/Swift/Tests/Integration/AsyncAwaitIntegrationTests.swift
  Firestore/Swift/Tests/Integration/DatabaseTests.swift
  Firestore/Swift/Tests/Integration/IndexingTests.swift
Labels: api: firestore, public-api-change

#11776 [Release] Update CHANGELOGs for 10.15.0
  Firestore/CHANGELOG.md
Labels: api: firestore

#11659 FCM Firelog to clearcut migration
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessagingExtensionHelper.m
Labels: api: messaging

#11699 Fix FIRCLSContextInitData crash
  Crashlytics/Crashlytics/Components/FIRCLSContext.h
  Crashlytics/Crashlytics/Components/FIRCLSContext.m
  Crashlytics/Crashlytics/Controllers/FIRCLSContextManager.m
  Crashlytics/Crashlytics/Helpers/FIRCLSContextInitData.h
  Crashlytics/Crashlytics/Helpers/FIRCLSContextInitData.m
Labels: api: crashlytics

#11679 Add test testBloomFilterShouldCorrectlyEncodeComplexUnicodeCharacters to FIRQueryTests.mm
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/Util/FSTTestingHooks.h
  Firestore/Example/Tests/Util/FSTTestingHooks.mm
  Firestore/core/src/remote/remote_event.cc
  Firestore/core/src/remote/remote_event.h
  Firestore/core/src/util/testing_hooks.h
  Firestore/core/test/unit/util/testing_hooks_test.cc
Labels: api: firestore

#11782 Add test cases for existence filter with updated, removed, added documents
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/SpecTests/json/existence_filter_spec_test.json
Labels: api: firestore

#11798 fix vision pro unit tests
  Crashlytics/Shared/FIRCLSMachO/FIRCLSMachO.m
Labels: api: crashlytics

#11799 [Release] Carthage artifacts for 10.15.0 / M137
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#11803 [Release] Update versions for Release 10.16.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#11781 thread safe memoization
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/core/composite_filter.cc
  Firestore/core/src/core/field_filter.cc
  Firestore/core/src/core/filter.cc
  Firestore/core/src/core/filter.h
  Firestore/core/src/core/query.cc
  Firestore/core/src/core/query.h
  Firestore/core/src/util/thread_safe_memoizer.h
  Firestore/core/test/unit/util/thread_safe_memoizer_test.cc
Labels: api: firestore

#11801 [auth-swift] Sample app Settings screen 2
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample.xcodeproj/project.pbxproj
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/SettingsViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/SettingsUITests.swift
Labels: api: auth

#11626 Multiple inequality support
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/core/src/api/query_core.cc
  Firestore/core/src/api/query_core.h
  Firestore/core/src/core/composite_filter.cc
  Firestore/core/src/core/composite_filter.h
  Firestore/core/src/core/field_filter.cc
  Firestore/core/src/core/field_filter.h
  Firestore/core/src/core/filter.h
  Firestore/core/src/core/query.cc
  Firestore/core/src/core/query.h
  Firestore/core/src/local/leveldb_index_manager.cc
  Firestore/core/src/model/target_index_matcher.cc
  Firestore/core/src/model/target_index_matcher.h
  Firestore/core/test/unit/core/query_test.cc
  Firestore/core/test/unit/local/leveldb_local_store_test.cc
  Firestore/core/test/unit/model/target_index_matcher_test.cc
Labels: api: firestore, do-not-merge

#11660 Add `FIRAppCheckProtocol` to `FirebaseAppCheckInterop` SDK
  FirebaseAppCheck.podspec
  FirebaseAppCheck/Interop/FIRAppCheckProtocol.h
  FirebaseAppCheck/Sources/Core/FIRAppCheck.m
  FirebaseAppCheck/Sources/Core/FIRAppCheckComponent.m
  FirebaseAppCheck/Sources/Core/FIRAppCheckTokenResult.h
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppCheck.h
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckIntegrationTests.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckTests.m
  Package.swift
  SharedTestUtilities/AppCheckFake/FIRAppCheckFake.h
  SharedTestUtilities/AppCheckFake/FIRAppCheckTokenResultFake.h
Labels: public-api-change, api: appcheck

#11812 Fix Database unit test build regression
  FirebaseDatabase.podspec
Labels: api: database

#11813 More fixes for AppCheckInterop
  FirebaseDatabase/Sources/Api/FIRDatabaseComponent.m
  FirebaseDatabase/Sources/Login/FIRDatabaseConnectionContextProvider.m
  Package.swift
Labels: api: database

#11815 [Release Tooling] Explicitly FST link direct/transitive deps. in module.modulemap
  ReleaseTooling/Sources/ZipBuilder/ModuleMapBuilder.swift
Labels: release-tooling

#11819 [Firestore] Add release note for #11815
  Firestore/CHANGELOG.md
Labels: api: firestore

#11824 Upgrade to `clang-format` v17
  CONTRIBUTING.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/SystemService/FIRAuthAppCredentialManager.m
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.m
  README.md
  scripts/setup_check.sh
  scripts/style.sh
Labels: api: auth

#11825 Fix Xcode 15 runtime warning
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/Instrumentation/Network/FPRNSURLSessionInstrument.m
Labels: api: performance

#11827 Enable `FIRAppCheckTests` on CI
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckTests.m
Labels: api: appcheck

#11846 Firestore: Downgrade grpc CocoaPods dependency to 1.44.0 (was 1.50.1)
  FirebaseFirestore.podspec
  Firestore/CHANGELOG.md
Labels: api: firestore

#11851 [Firestore] Update CHANGELOG entry version
  Firestore/CHANGELOG.md
Labels: api: firestore

#11852 Analytics 10.16.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  Package.swift
Labels: api: analytics

#11619 custom auth domain changes
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Utilities/FIRAuthWebUtils.h
  FirebaseAuth/Sources/Utilities/FIRAuthWebUtils.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Auth.h
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Auth.m
  FirebaseAuth/Tests/Unit/FIRAuthWebUtilsTests.m
Labels: api: auth, public-api-change

#11856 [Release] Update Package.swift with 10.16.0 RC0 Firestore binaryTarget
  Package.swift
Labels: api: firestore

#11864 Switch to `#import <Foundation/Foundation.h>` in `FIRAppCheckProtocol.h`
  FirebaseAppCheck/Interop/FIRAppCheckProtocol.h
Labels: api: appcheck

#11873 crash fix
  FirebaseABTesting/CHANGELOG.md
  FirebaseABTesting/Sources/ABTConditionalUserPropertyController.m
Labels: api: abtesting

#11874 Changelog update to 10.16.0
  FirebaseABTesting/CHANGELOG.md
Labels: api: abtesting

#11802 Fix a regression of a memory leak in Sessions.
  Crashlytics/CHANGELOG.md
  FirebasePerformance/CHANGELOG.md
  FirebaseSessions/Sources/SessionStartEvent.swift
Labels: api: performance, api: crashlytics

#11871 Update grpc to 1.49.1
  FirebaseFirestore.podspec
  Package.swift
Labels: api: firestore
