Repository firebase/firebase-ios-sdk, pull requests merged in 2023-07, with the labels that each got.

#11510 [Docs] Add a release note w.r.t. Xcode 15 Beta 1 support
  FirebaseCore/CHANGELOG.md
Labels: api: core

#11512 [App Check] Remove non-interop API surface
  AppCheck/Interop/Public/AppCheckInterop/AppCheckInterop.h
  AppCheck/Interop/Public/AppCheckInterop/GACAppCheckInterop.h
  AppCheck/Interop/Public/AppCheckInterop/GACAppCheckTokenInterop.h
  AppCheck/Interop/Public/AppCheckInterop/GACAppCheckTokenResultInterop.h
  AppCheck/Sources/Core/GACAppCheck.m
  AppCheck/Sources/Core/GACAppCheckTokenResult.h
  AppCheck/Sources/Public/AppCheck/GACAppCheck.h
  AppCheck/Sources/Public/AppCheck/GACAppCheckToken.h
  AppCheck/Tests/Unit/Core/GACAppCheckTests.m
  AppCheck/Tests/Utils/AppCheckFake/GACAppCheckFake.h
  AppCheck/Tests/Utils/AppCheckFake/GACAppCheckFake.m
  AppCheck/Tests/Utils/AppCheckFake/GACAppCheckTokenResultFake.h
  AppCheck/Tests/Utils/AppCheckFake/GACAppCheckTokenResultFake.m
Labels: api: appcheck

#11518 [auth-swift] Fix runtime warnings detected by Xcode 15 b3
  FirebaseAuth/Sources/Swift/AuthProvider/EmailAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/FacebookAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/GameCenterAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/GitHubAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/GoogleAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthCredential.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthCredential.swift
  FirebaseAuth/Sources/Swift/AuthProvider/TwitterAuthProvider.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebView.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebViewController.swift
Labels: api: auth

#11515 [Crashlytics] update deprecated kernel api for visionPro
  .github/workflows/sessions.yml
  Crashlytics/Crashlytics/Components/FIRCLSBinaryImage.m
  Crashlytics/Crashlytics/Controllers/FIRCLSNotificationManager.m
  Crashlytics/Crashlytics/Helpers/FIRCLSDefines.h
  Crashlytics/Shared/FIRCLSMachO/FIRCLSMachO.m
  Crashlytics/UnitTests/FIRCLSMachO/FIRCLSMachOTests.m
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
Labels: api: crashlytics

#11525 [auth-swift] Address a few todos
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
Labels: api: auth

#11528 [Release] Update Carthage artifacts for Firebase 10.12.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#11530 [App Check] Copy SharedTestUtilities for Lite SDK
  AppCheck.podspec
  AppCheck/Tests/Unit/AppAttestProvider/GACAppAttestAPIServiceTests.m
  AppCheck/Tests/Unit/Core/GACAppCheckAPIServiceTests.m
  AppCheck/Tests/Unit/Core/GACAppCheckTokenRefresherTests.m
  AppCheck/Tests/Unit/DebugProvider/GACAppCheckDebugProviderAPIServiceTests.m
  AppCheck/Tests/Unit/DeviceCheckProvider/GACDeviceCheckAPIServiceTests.m
  AppCheck/Tests/Utils/Date/GACDateTestUtils.h
  AppCheck/Tests/Utils/Date/GACDateTestUtils.m
  AppCheck/Tests/Utils/URLSession/GACURLSessionOCMockStub.h
  AppCheck/Tests/Utils/URLSession/GACURLSessionOCMockStub.m
Labels: api: appcheck

#11532 Updating API reference for TOTP
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactor.h
Labels: api: auth, public-api-change

#11539 [Release] Update versions for Release 10.13.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#11542 [App Check] Support custom base URL
  AppCheck/Sources/AppAttestProvider/GACAppAttestProvider.m
  AppCheck/Sources/Core/APIService/GACAppCheckAPIService.h
  AppCheck/Sources/Core/APIService/GACAppCheckAPIService.m
  AppCheck/Sources/DebugProvider/GACAppCheckDebugProvider.m
  AppCheck/Sources/DeviceCheckProvider/GACDeviceCheckProvider.m
  AppCheck/Sources/Public/AppCheck/GACAppAttestProvider.h
  AppCheck/Tests/Integration/GACDeviceCheckAPIServiceE2ETests.m
  AppCheck/Tests/Unit/AppAttestProvider/GACAppAttestProviderTests.m
  AppCheck/Tests/Unit/Core/GACAppCheckAPIServiceTests.m
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProvider.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestProviderTests.m
Labels: api: appcheck

#11544 [App Check] Set `limited_use` request param for App Attest
  AppCheck/Sources/AppAttestProvider/API/GACAppAttestAPIService.m
Labels: api: appcheck

#11522 [Release Tooling] Make 'zip-builder' compatible with Xcode 14
  .github/workflows/zip.yml
  ReleaseTooling/Sources/ZipBuilder/CocoaPodUtils.swift
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: release-tooling

#11545 [App Check] Add `limitedUse` parameter to `GACAppAttestProvider`
  AppCheck/Sources/AppAttestProvider/API/GACAppAttestAPIService.h
  AppCheck/Sources/AppAttestProvider/API/GACAppAttestAPIService.m
  AppCheck/Sources/AppAttestProvider/GACAppAttestProvider.m
  AppCheck/Sources/Public/AppCheck/GACAppAttestProvider.h
  AppCheck/Tests/Unit/AppAttestProvider/GACAppAttestAPIServiceTests.m
  AppCheck/Tests/Unit/AppAttestProvider/GACAppAttestProviderTests.m
Labels: api: appcheck

#11547 [auth-swift] First internal async-await transtion
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthURLPresenter.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebUtils.swift
Labels: api: auth

#11551 [auth-swift] async/await swath 2
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactor.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactorResolver.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/User/User.swift
Labels: api: auth

#11552 [auth-swift] Helper functions for async await transition
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
Labels: api: auth

#11555 Firestore: Disable bloom filter integration tests when using Firestore emulator
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
Labels: api: firestore

#11446 Add reCAPTCHA support to email flows of sign up, send email link, reset password
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/RPC/FIRGetOOBConfirmationCodeRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
Labels: api: auth

#11557 [auth-swift] Finish Transition to async-await for RPC calls
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/Proto/Phone/AuthProtoStartMFAPhoneRequestInfo.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SendVerificationTokenRequest.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactor.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactorResolver.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAppCredentialManager.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthNotificationManager.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebUtils.swift
  FirebaseAuth/Tests/Unit/AuthAPNSTokenManagerTests.swift
  FirebaseAuth/Tests/Unit/AuthAppCredentialManagerTests.swift
  FirebaseAuth/Tests/Unit/AuthBackendRPCImplentationTests.swift
  FirebaseAuth/Tests/Unit/AuthNotificationManagerTests.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/CreateAuthURITests.swift
  FirebaseAuth/Tests/Unit/DeleteAccountTests.swift
  FirebaseAuth/Tests/Unit/EmailLinkSignInTests.swift
  FirebaseAuth/Tests/Unit/Fakes/FakeBackendRPCIssuer.swift
  FirebaseAuth/Tests/Unit/GetAccountInfoTests.swift
  FirebaseAuth/Tests/Unit/GetOOBConfirmationCodeTests.swift
  FirebaseAuth/Tests/Unit/GetProjectConfigTests.swift
  FirebaseAuth/Tests/Unit/PhoneAuthProviderTests.swift
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
  FirebaseAuth/Tests/Unit/ResetPasswordTests.swift
  FirebaseAuth/Tests/Unit/RevokeTokenTests.swift
  FirebaseAuth/Tests/Unit/SendVerificationCodeTests.swift
  FirebaseAuth/Tests/Unit/SetAccountInfoTests.swift
  FirebaseAuth/Tests/Unit/SignInWithGameCenterTests.swift
  FirebaseAuth/Tests/Unit/SignUpNewUserTests.swift
  FirebaseAuth/Tests/Unit/VerifyAssertionTests.swift
  FirebaseAuth/Tests/Unit/VerifyClientTests.swift
  FirebaseAuth/Tests/Unit/VerifyCustomTokenTests.swift
  FirebaseAuth/Tests/Unit/VerifyPasswordTests.swift
  FirebaseAuth/Tests/Unit/VerifyPhoneNumberTests.swift
Labels: api: auth

#11564 [auth-swift] Game Center playerID warnings; enable CI warnings
  .github/workflows/auth.yml
  FirebaseAuth/Sources/Swift/AuthProvider/GameCenterAuthProvider.swift
Labels: api: auth

#11570 [App Check] Add log filtering based on log level
  AppCheck/Sources/AppAttestProvider/GACAppAttestProvider.m
  AppCheck/Sources/Core/APIService/GACAppCheckAPIService.m
  AppCheck/Sources/Core/GACAppCheck.m
  AppCheck/Sources/Core/GACAppCheckLogger+Internal.h
  AppCheck/Sources/Core/GACAppCheckLogger.h
  AppCheck/Sources/Core/GACAppCheckLogger.m
  AppCheck/Sources/DebugProvider/API/GACAppCheckDebugProviderAPIService.m
  AppCheck/Sources/DebugProvider/GACAppCheckDebugProvider.m
  AppCheck/Sources/DeviceCheckProvider/API/GACDeviceCheckAPIService.m
  AppCheck/Sources/DeviceCheckProvider/GACDeviceCheckProvider.m
  AppCheck/Sources/Public/AppCheck/AppCheck.h
  AppCheck/Sources/Public/AppCheck/GACAppCheckErrors.h
  AppCheck/Sources/Public/AppCheck/GACAppCheckLogger.h
Labels: api: appcheck

#11571 Fix FIAM Firebase.podspec tvos dependency spec
  Firebase.podspec
  FirebaseInAppMessaging/CHANGELOG.md
Labels: api: inappmessaging

#11572 [App Check] Replace `gGACAppCheckLogLevel` with class property
  AppCheck/Sources/Core/GACAppCheckLogger.m
  AppCheck/Sources/Public/AppCheck/GACAppCheckLogger.h
  AppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
Labels: api: appcheck

#11578 Cleanup some Firebase references in App Check Core
  AppCheck/Sources/AppAttestProvider/GACAppAttestProvider.m
  AppCheck/Sources/Core/Errors/GACAppCheckErrors.m
  AppCheck/Sources/Core/GACAppCheck.m
  AppCheck/Sources/Core/Storage/GACAppCheckStorage.m
Labels: api: appcheck

#11584 Internal AuthBackend API improvement
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
Labels: api: auth

#11587 [auth-swift] Unit Tests: RPC faking via blocks instead of groups
  FirebaseAuth/Tests/Unit/AuthSerialTaskQueueTests.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/Fakes/FakeBackendRPCIssuer.swift
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
  FirebaseAuth/Tests/Unit/UserTests.swift
Labels: api: auth

#11592 Make `tokenDelegate` nullable in `GACAppCheck`
  AppCheckCore/Sources/Core/GACAppCheck.m
  AppCheckCore/Sources/Public/AppCheckCore/AppCheckCore.h
  AppCheckCore/Sources/Public/AppCheckCore/GACAppCheck.h
  AppCheckCore/Tests/Unit/Core/GACAppCheckTests.m
  AppCheckCore/Tests/Unit/Swift/AppCheckAPITests.swift
Labels: api: appcheck

#11595 Remove App Check Core Interop SDK
  AppCheckCore.podspec
  AppCheckCore/Interop/CMakeLists.txt
  AppCheckCore/Interop/Public/AppCheckCoreInterop/AppCheckCoreInterop.h
  AppCheckCore/Interop/Public/AppCheckCoreInterop/GACAppCheckInterop.h
  AppCheckCore/Interop/Public/AppCheckCoreInterop/GACAppCheckTokenInterop.h
  AppCheckCore/Interop/dummy.m
  AppCheckCore/Sources/Core/GACAppCheck.m
  AppCheckCore/Sources/Core/GACAppCheckToken.m
  AppCheckCore/Sources/Public/AppCheckCore/GACAppCheck.h
  AppCheckCore/Sources/Public/AppCheckCore/GACAppCheckToken.h
  AppCheckCore/Tests/Unit/Core/GACAppCheckTests.m
  AppCheckCoreInterop.podspec
  Package.swift
Labels: api: appcheck

#11554 shared application fix
  FirebaseAuth/Sources/MultiFactor/TOTP/FIRTOTPSecret.m
Labels: api: auth

#11601 [Dynamic Links] Fix `unreleased` changelog entry
  FirebaseDynamicLinks/CHANGELOG.md
Labels: api: dynamiclinks

#11599 [App Check] Rename `instanceName` and `storageID` to `serviceName`
  AppCheckCore/Sources/AppAttestProvider/GACAppAttestProvider.m
  AppCheckCore/Sources/Core/GACAppCheck.m
  AppCheckCore/Sources/DebugProvider/GACAppCheckDebugProvider.m
  AppCheckCore/Sources/DeviceCheckProvider/GACDeviceCheckProvider.m
  AppCheckCore/Sources/Public/AppCheckCore/GACAppAttestProvider.h
  AppCheckCore/Sources/Public/AppCheckCore/GACAppCheck.h
  AppCheckCore/Sources/Public/AppCheckCore/GACAppCheckDebugProvider.h
  AppCheckCore/Sources/Public/AppCheckCore/GACAppCheckTokenDelegate.h
  AppCheckCore/Sources/Public/AppCheckCore/GACDeviceCheckProvider.h
  AppCheckCore/Tests/Unit/AppAttestProvider/GACAppAttestProviderTests.m
  AppCheckCore/Tests/Unit/Core/GACAppCheckTests.m
  AppCheckCore/Tests/Unit/DebugProvider/GACAppCheckDebugProviderTests.m
  AppCheckCore/Tests/Unit/DeviceCheckProvider/GACDeviceCheckProviderTests.m
  AppCheckCore/Tests/Unit/Swift/AppCheckAPITests.swift
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProvider.m
  FirebaseAppCheck/Sources/DebugProvider/FIRAppCheckDebugProvider.m
  FirebaseAppCheck/Sources/DeviceCheckProvider/FIRDeviceCheckProvider.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestProviderTests.m
  FirebaseAppCheck/Tests/Unit/DebugProvider/FIRAppCheckDebugProviderTests.m
  FirebaseAppCheck/Tests/Unit/DeviceCheckProvider/FIRDeviceCheckProviderTests.m
Labels: api: appcheck

#11231 Recaptcha integration master pr
  FirebaseAuth.podspec
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend+MultiFactor.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Backend/FIRAuthRPCRequest.h
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.h
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.m
  FirebaseAuth/Sources/Backend/FIRIdentityToolkitRequest.h
  FirebaseAuth/Sources/Backend/FIRIdentityToolkitRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRGetOOBConfirmationCodeRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRGetOOBConfirmationCodeRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigResponse.h
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigResponse.m
  FirebaseAuth/Sources/Backend/RPC/FIRRevokeTokenRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRVerifyPasswordRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRVerifyPasswordRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/Enroll/FIRFinalizeMFAEnrollmentRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/Enroll/FIRStartMFAEnrollmentRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/SignIn/FIRFinalizeMFASignInRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/SignIn/FIRStartMFASignInRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/Unenroll/FIRWithdrawMFARequest.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthErrors.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.m
  FirebaseAuth/Sources/Utilities/FIRAuthInternalErrors.h
  FirebaseAuth/Sources/Utilities/FIRAuthRecaptchaVerifier.h
  FirebaseAuth/Sources/Utilities/FIRAuthRecaptchaVerifier.m
  FirebaseAuth/Tests/Sample/Podfile
  FirebaseAuth/Tests/Sample/Sample/AuthSample-Bridging-Header.h
  FirebaseAuth/Tests/Sample/Sample/Dummy.swift
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Auth.m
  FirebaseAuth/Tests/Sample/SwiftApiTests/SwiftAPI.swift
  FirebaseAuth/Tests/Unit/FIRAuthBackendRPCImplementationTests.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRFakeBackendRPCIssuer.m
  FirebaseAuth/Tests/Unit/FIRGetOOBConfirmationCodeRequestTests.m
  FirebaseAuth/Tests/Unit/FIRGetRecaptchaConfigRequestTests.m
  FirebaseAuth/Tests/Unit/FIRGetRecaptchaConfigResponseTests.m
  FirebaseAuth/Tests/Unit/FIRIdentityToolkitRequestTests.m
  FirebaseAuth/Tests/Unit/FIRSignUpNewUserRequestTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyPasswordRequestTest.m
  Package.swift
Labels: api: auth, public-api-change

#11604 Analytics 10.13.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#11606 [Auth] Add changelogs for 10.13.0
  FirebaseAuth/CHANGELOG.md
Labels: api: auth

#11607 Update CHANGELOG.md for Firebase auth 10.13.0 release
  FirebaseAuth/CHANGELOG.md
Labels: api: auth

#11605 App extension shared application fix
  FirebaseAuth/Sources/MultiFactor/TOTP/FIRTOTPSecret.m
Labels: api: auth

#11603 [visionOS] Replace `TARGET_OS_XR` with `TARGET_OS_VISION`
  Crashlytics/Crashlytics/Components/FIRCLSBinaryImage.m
  Crashlytics/Crashlytics/Controllers/FIRCLSNotificationManager.m
  Crashlytics/Crashlytics/Helpers/FIRCLSDefines.h
  Crashlytics/Shared/FIRCLSMachO/FIRCLSMachO.m
  Crashlytics/UnitTests/FIRCLSMachO/FIRCLSMachOTests.m
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/AuthProvider/OAuth/FIROAuthProvider.m
  FirebaseAuth/Sources/AuthProvider/Phone/FIRPhoneAuthProvider.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRFederatedAuthProvider.h
  FirebaseAuth/Sources/SystemService/FIRAuthAPNSTokenManager.m
  FirebaseAuth/Sources/SystemService/FIRAuthNotificationManager.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Sources/Utilities/FIRAuthDefaultUIDelegate.m
  FirebaseAuth/Sources/Utilities/FIRAuthURLPresenter.h
  FirebaseAuth/Sources/Utilities/FIRAuthURLPresenter.m
  FirebaseAuth/Sources/Utilities/FIRAuthWebView.h
  FirebaseAuth/Sources/Utilities/FIRAuthWebView.m
  FirebaseAuth/Sources/Utilities/FIRAuthWebViewController.m
  FirebaseAuth/Tests/Unit/FIRAuthAPNSTokenManagerTests.m
  FirebaseAuth/Tests/Unit/FIRAuthURLPresenterTests.m
  FirebaseAuth/Tests/Unit/FIROAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Tests/Unit/FIRFirebaseUserAgentTests.m
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
Labels: api: core, api: auth, api: messaging, api: crashlytics, public-api-change

#11610 Fix compile errors in Combine
  FirebaseCombineSwift/Tests/Unit/Auth/AuthMocks.swift
  FirebaseCombineSwift/Tests/Unit/Auth/SignInWithGameCenterTests.swift
  FirebaseCombineSwift/Tests/Unit/FirebaseCombine-unit-Bridging-Header.h
Labels: api: auth

#11613 [CoreInternal] Add regression test for fix in #11611
  FirebaseCore/Internal/Tests/Unit/HeartbeatsPayloadTests.swift
Labels: api: core

#11617 [Auth] Revert reCAPTCHA integration PRs
  CoreOnly/NOTICES
  FirebaseAuth.podspec
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend+MultiFactor.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Backend/FIRAuthRPCRequest.h
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.h
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.m
  FirebaseAuth/Sources/Backend/FIRIdentityToolkitRequest.h
  FirebaseAuth/Sources/Backend/FIRIdentityToolkitRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRGetOOBConfirmationCodeRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRGetOOBConfirmationCodeRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigResponse.h
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigResponse.m
  FirebaseAuth/Sources/Backend/RPC/FIRRevokeTokenRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRVerifyPasswordRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRVerifyPasswordRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/Enroll/FIRFinalizeMFAEnrollmentRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/Enroll/FIRStartMFAEnrollmentRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/SignIn/FIRFinalizeMFASignInRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/SignIn/FIRStartMFASignInRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/Unenroll/FIRWithdrawMFARequest.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthErrors.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.m
  FirebaseAuth/Sources/Utilities/FIRAuthInternalErrors.h
  FirebaseAuth/Sources/Utilities/FIRAuthRecaptchaVerifier.h
  FirebaseAuth/Sources/Utilities/FIRAuthRecaptchaVerifier.m
  FirebaseAuth/Tests/Sample/Podfile
  FirebaseAuth/Tests/Sample/Sample/AuthSample-Bridging-Header.h
  FirebaseAuth/Tests/Sample/Sample/Dummy.swift
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Auth.m
  FirebaseAuth/Tests/Sample/SwiftApiTests/SwiftAPI.swift
  FirebaseAuth/Tests/Unit/FIRAuthBackendRPCImplementationTests.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRFakeBackendRPCIssuer.m
  FirebaseAuth/Tests/Unit/FIRGetOOBConfirmationCodeRequestTests.m
  FirebaseAuth/Tests/Unit/FIRGetRecaptchaConfigRequestTests.m
  FirebaseAuth/Tests/Unit/FIRGetRecaptchaConfigResponseTests.m
  FirebaseAuth/Tests/Unit/FIRIdentityToolkitRequestTests.m
  FirebaseAuth/Tests/Unit/FIRSignUpNewUserRequestTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyPasswordRequestTest.m
  FirebaseCombineSwift/Tests/Unit/Auth/AuthMocks.swift
  FirebaseCombineSwift/Tests/Unit/Auth/SignInWithGameCenterTests.swift
  FirebaseCombineSwift/Tests/Unit/FirebaseCombine-unit-Bridging-Header.h
  Package.swift
Labels: api: core, api: auth, public-api-change

#11614 [Release Tooling] File Utils timestamp should use 'yyyy'
  ReleaseTooling/Sources/Utils/FileManager+Utils.swift
Labels: release-tooling

#11620 Fix crash building a module map for a product with an iOS-only Interop dependency
  ReleaseTooling/Sources/ZipBuilder/ModuleMapBuilder.swift
Labels: release-tooling

#11630 [auth-swift] Implement fake with subclass instead of a library bool
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseAuth/Tests/Unit/PhoneAuthProviderTests.swift
Labels: api: auth
