Repository firebase/firebase-ios-sdk, pull requests merged in 2023-11, with the labels that each got.

#12031 Replace FIRDeviceCheckAPIServiceE2ETests with AppCheckE2ETests
  FirebaseAppCheck.podspec
  FirebaseAppCheck/Tests/Integration/AppCheckE2ETests.swift
  FirebaseAppCheck/Tests/Integration/FIRDeviceCheckAPIServiceE2ETests.m
  FirebaseAppCheck/Tests/Unit/Fixture/AppAttestAttestationResponseSuccess.json
  FirebaseAppCheck/Tests/Unit/Fixture/AppAttestResponseMissingChallenge.json
  FirebaseAppCheck/Tests/Unit/Fixture/AppAttestResponseSuccess.json
  FirebaseAppCheck/Tests/Unit/Fixture/DeviceCheckResponseMissingTimeToLive.json
  FirebaseAppCheck/Tests/Unit/Fixture/DeviceCheckResponseMissingToken.json
  FirebaseAppCheck/Tests/Unit/Fixture/FACTokenExchangeResponseSuccess.json
  Package.swift
Labels: api: appcheck

#12033 [Release] Update versions for Release 10.18.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#12009 Use sign up endpoint for link with email password (resubmit #11925)
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.h
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRSignUpNewUserRequestTests.m
  FirebaseAuth/Tests/Unit/FIRSignUpNewUserResponseTests.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
Labels: api: auth

#12038 More Xcode 15 CI
  .github/workflows/abtesting.yml
  .github/workflows/analytics.yml
  .github/workflows/appdistribution.yml
  .github/workflows/auth.yml
  .github/workflows/core.yml
  .github/workflows/core_extension.yml
  .github/workflows/core_internal.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firebase_app_check.yml
  .github/workflows/firestore.yml
  FirebaseAuth/Tests/Unit/FIRAuthKeychainServicesTests.m
  FirebaseAuth/Tests/Unit/FIRAuthUserDefaultsTests.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
  scripts/build.sh
Labels: api: auth, api: dynamiclinks

#12041 [Release Tooling] Add SpecsStaging to `pod spec lint` sources
  ReleaseTooling/Sources/PodspecsTester/main.swift
Labels: release-tooling

#12030 Update AppCheckCore dependency to 10.18.0
  FirebaseAppCheck.podspec
  Package.swift
  ReleaseTooling/Sources/PodspecsTester/main.swift
Labels: release-tooling, api: appcheck

#12048 Convert errors from `GACAppCheckErrorDomain` to `FIRAppCheckErrorDomain`
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckErrorUtil.h
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckErrorUtil.m
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckHTTPError.h
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckHTTPError.m
  FirebaseAppCheck/Tests/Unit/Core/Errors/FIRAppCheckErrorUtilTests.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckTests.m
Labels: api: appcheck

#12059 [Release] Require `GoogleUtilities/Logger` `7.12` in FirebaseCore
  FirebaseCore.podspec
Labels: api: core

#12056 Clean no-op code in `linkWithEmailPassword` method
  FirebaseAuth/Sources/User/FIRUser.m
Labels: api: auth

#12063 10.18.0 Changelog version update
  Firestore/CHANGELOG.md
Labels: api: firestore

#12065 [Core] Add `FIRGetLoggerLevel` function
  FirebaseCore/Extension/FIRLogger.h
  FirebaseCore/Sources/FIRLogger.m
  FirebaseCore/Tests/Unit/FIRLoggerTest.m
  Package.swift
Labels: api: core

#12066 Set `GACAppCheckLogger.logLevel` in Firebase App Check
  FirebaseAppCheck/Sources/Core/FIRAppCheck.m
  FirebaseAppCheck/Sources/Core/FIRAppCheckLogger.h
  FirebaseAppCheck/Sources/Core/FIRAppCheckLogger.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckLoggerTests.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckTests.m
Labels: api: appcheck

#12068 [App Check] Add CHANGELOG entry for 10.18.0
  FirebaseAppCheck/CHANGELOG.md
Labels: api: appcheck

#12083 [auth-swift] Swift implementation of link anon to email password
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SignUpNewUserRequest.swift
  FirebaseAuth/Sources/Swift/MultiFactor/Phone/PhoneMultiFactorInfo.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Tests/Unit/SignUpNewUserTests.swift
  FirebaseAuth/Tests/Unit/UserTests.swift
Labels: api: auth

#12088 Fix perf unit tests somehow
  FirebasePerformance/Tests/Unit/FPRObjectInstrumentorTest.m
Labels: api: performance

#12089 [auth-swift] Add six missing recaptcha unit tests
  FirebaseAuth/Sources/Swift/Utilities/AuthRecaptchaVerifier.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
Labels: api: auth

#12094 [auth-swift] Remove erroneously added public api
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#12095 [auth-swift] Mostly unified Swift API tests
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#12097 [auth-swift] Remove extra publics
  FirebaseAuth/Sources/Swift/Auth/AuthComponent.swift
  FirebaseAuth/Sources/Swift/Auth/AuthOperationType.swift
  FirebaseAuth/Sources/Swift/Auth/AuthSerialTaskQueue.swift
  FirebaseAuth/Sources/Swift/Backend/AuthRPCResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/CreateAuthURIResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/DeleteAccountResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/EmailLinkSignInResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetAccountInfoResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/Enroll/FinalizeMFAEnrollmentRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/Enroll/FinalizeMFAEnrollmentResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/Unenroll/WithdrawMFAResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/Proto/AuthProto.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/Proto/AuthProtoMFAEnrollment.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/Proto/Phone/AuthProtoFinalizeMFAPhoneRequestInfo.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/Proto/TOTP/AuthProtoFinalizeMFATOTPEnrollmentRequestInfo.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SecureTokenRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SetAccountInfoResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/VerifyAssertionResponse.swift
  FirebaseAuth/Sources/Swift/MultiFactor/TOTP/TOTPMultiFactorInfo.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSToken.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthNotificationManager.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/User/UserInfoImpl.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthInternalErrors.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebUtils.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebView.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebViewController.swift
Labels: api: auth

#12080 Zip: Stop including Swift specific frameworks
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/ZipBuilder/CarthageUtils.swift
  ReleaseTooling/Sources/ZipBuilder/CocoaPodUtils.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
  ReleaseTooling/Template/README.md
Labels: release-tooling

#12091 Align Auth SwiftAPI.swift testing
  .github/workflows/auth.yml
  FirebaseAuth.podspec
  FirebaseAuth/Tests/Sample/AuthSample.xcodeproj/project.pbxproj
  FirebaseAuth/Tests/Sample/SwiftApiTests/SwiftAPI.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
  Package.swift
Labels: api: auth

#12100 Carthage updates for 10.18.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#12102 Revert "[Release Tooling] Stage and publish with `--skip-import-valid…
  ReleaseTooling/Sources/FirebaseManifest/Pod.swift
  ReleaseTooling/Sources/FirebaseReleaser/Push.swift
Labels: release-tooling

#12104 Update versions for Release 10.19.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#12107 Stop releasing Swift extension CocoaPods
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: release-tooling

#12110 Messaging: Adopt NSSecureCoding for internal classes
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/Token/FIRMessagingAPNSInfo.h
  FirebaseMessaging/Sources/Token/FIRMessagingAPNSInfo.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenInfo.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenInfo.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingAPNSInfoTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingAuthKeychainTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTokenInfoTest.m
Labels: api: messaging

#12081 Email enumeration protection related error and doc updates
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#12122 Update method deprecation messages and add changelog
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
Labels: api: auth, public-api-change

#12126 Make fire-perf config error message Swift-friendly
  FirebasePerformance/Sources/FIRPerformance.m
Labels: api: performance

#12117 Auth: Add Objective C API build tests
  FirebaseAuth/Tests/Unit/ObjCAPITests.m
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#12121 [auth-swift] Add Objective C API build tests
  FirebaseAuth/Sources/Swift/ActionCode/ActionCodeSettings.swift
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Auth/AuthSettings.swift
  FirebaseAuth/Sources/Swift/AuthProvider/FederatedAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/MultiFactor/Phone/PhoneMultiFactorAssertion.swift
  FirebaseAuth/Sources/Swift/MultiFactor/Phone/PhoneMultiFactorGenerator.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/ObjCAPITests.m
  FirebaseAuth/Tests/Unit/PhoneAuthProviderTests.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
  Package.swift
Labels: api: auth

#12044 Fix docs unnecessarily undergo limbo resolution while resuming query bug
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/SpecTests/json/limbo_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limit_spec_test.json
  Firestore/core/src/core/sync_engine.cc
  Firestore/core/src/core/view.cc
  Firestore/core/src/core/view.h
Labels: api: firestore

#12134 [Release Tooling] Initial xcprivacy file generation tooling
  ReleaseTooling/Package.swift
  ReleaseTooling/Sources/PrivacyKit/PrivacyManifest.swift
  ReleaseTooling/Sources/PrivacyManifestGenerator/PrivacyManifestWizard.swift
  ReleaseTooling/Sources/PrivacyManifestGenerator/main.swift
Labels: release-tooling

#12141 [Release Tooling] xcprivacy generation tooling (2)
  ReleaseTooling/Sources/PrivacyKit/PrivacyManifest.swift
  ReleaseTooling/Sources/PrivacyManifestGenerator/PrivacyManifestWizard.swift
  ReleaseTooling/Sources/PrivacyManifestGenerator/PrivacyQuestionnaire.swift
  ReleaseTooling/Sources/PrivacyManifestGenerator/Questionnaire.swift
  ReleaseTooling/Sources/PrivacyManifestGenerator/main.swift
Labels: release-tooling

#12143 Add product_id to GoogleDataTransport logging for compliance.
  FirebaseMessaging.podspec
  FirebaseMessaging/Sources/FIRMessagingConstants.h
  FirebaseMessaging/Sources/FIRMessagingConstants.m
  FirebaseMessaging/Sources/FIRMessagingExtensionHelper.m
  Package.swift
Labels: api: messaging

#12142 redeclare protocol method so it can be added to docs
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppAttestProvider.h
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppCheckDebugProvider.h
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRDeviceCheckProvider.h
Labels: public-api-change, api: appcheck

#12147 [Firestore] Update version for 10.19.0 in CHANGELOG
  Firestore/CHANGELOG.md
Labels: api: firestore

#12127 [Passkey #9] Passkey withdraw
  FirebaseAuth/Sources/Backend/RPC/FIRSetAccountInfoRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRSetAccountInfoRequest.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/FIRSetAccountInfoRequestTests.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
Labels: api: auth, public-api-change

#12148 Remove recommendation to use deprecated fetchSignInMethods
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
Labels: api: auth, public-api-change

#12158 [Release Tooling] Fix .bash_profile warning for when no .bash_profile exists
  ReleaseTooling/Sources/Utils/ShellUtils.swift
Labels: release-tooling
