Repository firebase/firebase-ios-sdk, pull requests merged in 2023-10, with the labels that each got.

#11867 Change upload symbol input file list environment config variable
  Crashlytics/CrashlyticsInputFiles.xcfilelist
Labels: api: crashlytics

#11888 [Release] Update Carthage artifacts for Firebase 10.16.0 / M138
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#11889 [passkey #3] startPasskeySignIn RPC call
  FirebaseAuth/Sources/Backend/FIRAuthBackend.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Backend/RPC/FIRStartPasskeySignInRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRStartPasskeySignInRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRStartPasskeySignInResponse.h
  FirebaseAuth/Sources/Backend/RPC/FIRStartPasskeySignInResponse.m
  FirebaseAuth/Tests/Unit/FIRStartPasskeySignInRequestTests.m
  FirebaseAuth/Tests/Unit/FIRStartPasskeySignInResponseTests.m
Labels: api: auth

#11885 [Passkey #2] finalize passkey enrollment rpc
  FirebaseAuth/Sources/Backend/FIRAuthBackend.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Backend/FIRAuthRPCResponse.h
  FirebaseAuth/Sources/Backend/RPC/FIRFinalizePasskeyEnrollmentRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRFinalizePasskeyEnrollmentRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRFinalizePasskeyEnrollmentResponse.h
  FirebaseAuth/Sources/Backend/RPC/FIRFinalizePasskeyEnrollmentResponse.m
  FirebaseAuth/Tests/Unit/FIRFinalizePasskeyEnrollmentRequestTests.m
  FirebaseAuth/Tests/Unit/FIRFinalizePasskeyEnrollmentResponseTests.m
Labels: api: auth

#11909 [auth-swift] Fix TOTP for building in extensions
  FirebaseAuth/Sources/Swift/MultiFactor/TOTP/TOTPSecret.swift
Labels: api: auth

#11905 Fix 2nd instance of Xcode 15 runtime warning in FPRNSURLSessionInstru…
  FirebasePerformance/Sources/Instrumentation/Network/FPRNSURLSessionInstrument.m
Labels: api: performance

#11913 Changelog for #11905
  FirebasePerformance/CHANGELOG.md
Labels: api: performance

#11918 [auth-swift] post to call rename
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactor.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactorResolver.swift
  FirebaseAuth/Sources/Swift/MultiFactor/TOTP/TOTPMultiFactorGenerator.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/User/AdditionalUserInfo.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebUtils.swift
  FirebaseAuth/Tests/Unit/AuthBackendRPCImplentationTests.swift
  FirebaseAuth/Tests/Unit/CreateAuthURITests.swift
  FirebaseAuth/Tests/Unit/DeleteAccountTests.swift
  FirebaseAuth/Tests/Unit/EmailLinkSignInTests.swift
  FirebaseAuth/Tests/Unit/Fakes/FakeBackendRPCIssuer.swift
  FirebaseAuth/Tests/Unit/GetAccountInfoTests.swift
  FirebaseAuth/Tests/Unit/GetOOBConfirmationCodeTests.swift
  FirebaseAuth/Tests/Unit/GetProjectConfigTests.swift
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
  FirebaseAuth/Tests/Unit/ResetPasswordTests.swift
  FirebaseAuth/Tests/Unit/RevokeTokenTests.swift
  FirebaseAuth/Tests/Unit/SendVerificationCodeTests.swift
  FirebaseAuth/Tests/Unit/SetAccountInfoTests.swift
  FirebaseAuth/Tests/Unit/SignInWithGameCenterTests.swift
  FirebaseAuth/Tests/Unit/SignUpNewUserTests.swift
  FirebaseAuth/Tests/Unit/VerifyAssertionTests.swift
  FirebaseAuth/Tests/Unit/VerifyClientTests.swift
  FirebaseAuth/Tests/Unit/VerifyCustomTokenTests.swift
  FirebaseAuth/Tests/Unit/VerifyPasswordTests.swift
  FirebaseAuth/Tests/Unit/VerifyPhoneNumberTests.swift
Labels: api: auth

#11919 [Release Tooling] Create module maps for mixed language targets
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: release-tooling

#11927 [visionOS] Fix FirebaseCore build and tests on Xcode 15.1 beta 1
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Tests/Unit/FIRAppTest.m
Labels: api: core

#11928 [AppCheck] Fix 'public_headers_dir' in 'FirebaseAppCheckInterop.podspec'
  FirebaseAppCheckInterop.podspec
Labels: api: appcheck

#11914 [Infra] Enable `client_app / client-app-cocoapods` job
  .github/workflows/client_app.yml
  ClientApp/ClientApp.xcodeproj/project.pbxproj
  ClientApp/Shared/objcxx-header-import-test.mm
  ClientApp/Shared/objcxx-module-import-test.mm
  FirebaseRemoteConfigSwift.podspec
Labels: api: remoteconfig

#11930 [visionOS] Fix FirebaseMessaging build on Xcode 15.1 beta 1
  FirebaseMessaging/Sources/FIRMessagingUtilities.m
  FirebaseMessaging/Sources/Token/FIRMessagingAuthKeychain.m
Labels: api: messaging

#11800 [InAppMessaging] Consolidate FIAM and FIAMSwift
  .github/workflows/inappmessaging.yml
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Swift/Source/CustomInAppMessageDisplayViewModifier.swift
  FirebaseInAppMessaging/Swift/Source/SPMSwiftHeaderWorkaround.swift
  FirebaseInAppMessaging/Swift/Source/SwiftUIPreviewHelpers.swift
  FirebaseInAppMessagingSwift.podspec
  FirebaseInAppMessagingSwift/Sources/FirebaseInAppMessagingSwift.swift
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  SwiftPMTests/swift-test/all-imports.swift
Labels: api: inappmessaging

#11806 [Firestore] Consolidate Firestore and FirestoreSwift
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFirestoreSwift/Sources/FirebaseFirestoreSwift.swift
  Firestore/CHANGELOG.md
  Firestore/Swift/CHANGELOG.md
  Firestore/Swift/Source/AsyncAwait/CollectionReference+AsyncAwait.swift
  Firestore/Swift/Source/AsyncAwait/Firestore+AsyncAwait.swift
  Firestore/Swift/Source/Codable/CodablePassThroughTypes.swift
  Firestore/Swift/Source/Codable/CollectionReference+WriteEncodable.swift
  Firestore/Swift/Source/Codable/DocumentID.swift
  Firestore/Swift/Source/Codable/DocumentReference+Codable.swift
  Firestore/Swift/Source/Codable/DocumentReference+ReadDecodable.swift
  Firestore/Swift/Source/Codable/DocumentReference+WriteEncodable.swift
  Firestore/Swift/Source/Codable/DocumentSnapshot+ReadDecodable.swift
  Firestore/Swift/Source/Codable/EncoderDecoder.swift
  Firestore/Swift/Source/Codable/ExplicitNull.swift
  Firestore/Swift/Source/Codable/FieldValue+Encodable.swift
  Firestore/Swift/Source/Codable/GeoPoint+Codable.swift
  Firestore/Swift/Source/Codable/ServerTimestamp.swift
  Firestore/Swift/Source/Codable/Timestamp+Codable.swift
  Firestore/Swift/Source/Codable/TimestampDecodingStrategy.swift
  Firestore/Swift/Source/Codable/TimestampEncodingStrategy.swift
  Firestore/Swift/Source/Codable/Transaction+WriteEncodable.swift
  Firestore/Swift/Source/Codable/WriteBatch+WriteEncodable.swift
  Firestore/Swift/Source/PropertyWrapper/FirestoreQuery.swift
  Firestore/Swift/Source/PropertyWrapper/FirestoreQueryObservable.swift
  Firestore/Swift/Source/PropertyWrapper/QueryPredicate.swift
  Firestore/Swift/Source/SPMSwiftHeaderWorkaround.swift
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: firestore, public-api-change, release-tooling

#11807 [Database] Consolidate Database and DatabaseSwift
  .github/workflows/database.yml
  FirebaseDatabase.podspec
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Swift/Sources/Codable/DataSnapshot+ReadDecodable.swift
  FirebaseDatabase/Swift/Sources/Codable/DatabaseReference+WriteEncodable.swift
  FirebaseDatabase/Swift/Sources/Codable/EncoderDecoder.swift
  FirebaseDatabase/Swift/Sources/Codable/ServerTimestamp.swift
  FirebaseDatabase/Swift/Sources/SPMSwiftHeaderWorkaround.swift
  FirebaseDatabaseSwift.podspec
  FirebaseDatabaseSwift/CHANGELOG.md
  FirebaseDatabaseSwift/Sources/FirebaseDatabaseSwift.swift
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: database, public-api-change, release-tooling

#11935 [visionOS] Fix FirebaseInAppMessaging build on Xcode 15.1 beta 1
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMAnalyticsEventLoggerImpl.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutHttpRequestSender.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutLogStorage.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutLogger.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutUploader.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMFetchResponseParser.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMMessageContentDataWithImageURL.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMMessageDefinition.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMRenderingEffectSetting.m
  FirebaseInAppMessaging/Sources/DisplayTrigger/FIRIAMDisplayTriggerDefinition.m
  FirebaseInAppMessaging/Sources/FIRCore+InAppMessaging.m
  FirebaseInAppMessaging/Sources/FIRInAppMessaging.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMActivityLogger.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMBookKeeper.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMClientInfoFetcher.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayCheckOnAnalyticEventsFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayCheckOnAppForegroundFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayCheckOnFetchDoneNotificationFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayCheckTriggerFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMFetchFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMFetchOnAppForegroundFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMMessageClientCache.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMMsgFetcherUsingRestful.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMServerMsgFetchStorage.m
  FirebaseInAppMessaging/Sources/RenderingObjects/FIRInAppMessagingRenderingDataClasses.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMActionURLFollower.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMRuntimeManager.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMSDKModeManager.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMSDKSettings.m
  FirebaseInAppMessaging/Sources/Runtime/FIRInAppMessaging+Bootstrap.m
  FirebaseInAppMessaging/Sources/Util/FIRIAMElapsedTimeTracker.m
  FirebaseInAppMessaging/Sources/Util/FIRIAMTimeFetcher.m
  FirebaseInAppMessaging/Sources/Util/NSString+FIRInterlaceStrings.m
  FirebaseInAppMessaging/Sources/Util/UIApplication+FIRForegroundWindowScene.m
  FirebaseInAppMessaging/Sources/Util/UIColor+FIRIAMHexString.m
  SwiftPM-PlatformExclude/FirebaseInAppMessagingWrap/dummy.m
Labels: api: inappmessaging

#11937 [visionOS] Fix FirebaseDatabase build on Xcode 15.1 beta 1
  FirebaseDatabase/Sources/Core/FPersistentConnection.m
  FirebaseDatabase/Sources/Core/FRepo.m
  FirebaseDatabase/Sources/Persistence/FLevelDBStorageEngine.m
  FirebaseDatabase/Sources/Realtime/FWebSocketConnection.m
Labels: api: database

#11939 Revert "[Firestore] Consolidate Firestore and FirestoreSwift (#11806)"
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFirestoreSwift/Sources/FirebaseFirestoreSwift.swift
  Firestore/CHANGELOG.md
  Firestore/Swift/CHANGELOG.md
  Firestore/Swift/Source/AsyncAwait/CollectionReference+AsyncAwait.swift
  Firestore/Swift/Source/AsyncAwait/Firestore+AsyncAwait.swift
  Firestore/Swift/Source/Codable/CodablePassThroughTypes.swift
  Firestore/Swift/Source/Codable/CollectionReference+WriteEncodable.swift
  Firestore/Swift/Source/Codable/DocumentID.swift
  Firestore/Swift/Source/Codable/DocumentReference+Codable.swift
  Firestore/Swift/Source/Codable/DocumentReference+ReadDecodable.swift
  Firestore/Swift/Source/Codable/DocumentReference+WriteEncodable.swift
  Firestore/Swift/Source/Codable/DocumentSnapshot+ReadDecodable.swift
  Firestore/Swift/Source/Codable/EncoderDecoder.swift
  Firestore/Swift/Source/Codable/ExplicitNull.swift
  Firestore/Swift/Source/Codable/FieldValue+Encodable.swift
  Firestore/Swift/Source/Codable/GeoPoint+Codable.swift
  Firestore/Swift/Source/Codable/ServerTimestamp.swift
  Firestore/Swift/Source/Codable/Timestamp+Codable.swift
  Firestore/Swift/Source/Codable/TimestampDecodingStrategy.swift
  Firestore/Swift/Source/Codable/TimestampEncodingStrategy.swift
  Firestore/Swift/Source/Codable/Transaction+WriteEncodable.swift
  Firestore/Swift/Source/Codable/WriteBatch+WriteEncodable.swift
  Firestore/Swift/Source/PropertyWrapper/FirestoreQuery.swift
  Firestore/Swift/Source/PropertyWrapper/FirestoreQueryObservable.swift
  Firestore/Swift/Source/PropertyWrapper/QueryPredicate.swift
  Firestore/Swift/Source/SPMSwiftHeaderWorkaround.swift
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: firestore, public-api-change, release-tooling

#11925 Use sign up endpoint for link with email password
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.h
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRSignUpNewUserRequestTests.m
  FirebaseAuth/Tests/Unit/FIRSignUpNewUserResponseTests.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
Labels: api: auth

#11650 sum avg
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/API/FIRAggregateTests.mm
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Source/API/FIRAggregateField.mm
  Firestore/Source/API/FIRAggregateQuery+Internal.h
  Firestore/Source/API/FIRAggregateQuery.mm
  Firestore/Source/API/FIRAggregateQuerySnapshot+Internal.h
  Firestore/Source/API/FIRAggregateQuerySnapshot.mm
  Firestore/Source/API/FIRQuery+Internal.h
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateField.h
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateQuerySnapshot.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuery.h
  Firestore/Source/Public/FirebaseFirestore/FirebaseFirestore.h
  Firestore/Swift/Tests/Integration/AggregationIntegrationTests.swift
  Firestore/core/src/api/query_core.cc
  Firestore/core/src/api/query_core.h
  Firestore/core/src/remote/remote_objc_bridge.cc
Labels: api: firestore, public-api-change

#11950 [visionOS] Add support for Firebase Performance on visionOS
  FirebasePerformance/Sources/Instrumentation/UIKit/FPRUIViewControllerInstrument.m
  Package.swift
Labels: api: performance

#11953 [Passkey #6] Update passkey related proto naming change
  FirebaseAuth/Sources/Backend/RPC/FIRFinalizePasskeyEnrollmentRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRFinalizePasskeySignInRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRStartPasskeyEnrollmentRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRStartPasskeySignInRequest.m
  FirebaseAuth/Tests/Unit/FIRFinalizePasskeyEnrollmentRequestTests.m
  FirebaseAuth/Tests/Unit/FIRFinalizePasskeySignInRequestTests.m
Labels: api: auth

#11938 [visionOS] Fix Crashlytics build on Xcode 15.1 beta 1
  Crashlytics/Crashlytics/Components/FIRCLSApplication.m
Labels: api: crashlytics

#11959 [Analytics] Consolidate Analytics and AnalyticsSwift
  .github/workflows/analytics.yml
  .github/workflows/client_app.yml
  FirebaseAnalytics/Analytics+SwiftUI.swift
  FirebaseAnalytics/README.md
  FirebaseAnalyticsSwift.podspec
  FirebaseAnalyticsSwift/CHANGELOG.md
  FirebaseAnalyticsSwift/Sources/FirebaseAnalyticsSwift.swift
  FirebaseAnalyticsSwift/Tests/SwiftUnit/AnalyticsAPITests.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: analytics, public-api-change, release-tooling

#11958 Analytics 10.17.0
  .github/workflows/analytics.yml
  .github/workflows/client_app.yml
  FirebaseAnalytics.podspec
  FirebaseAnalytics/Analytics+SwiftUI.swift
  FirebaseAnalytics/README.md
  FirebaseAnalyticsSwift.podspec
  FirebaseAnalyticsSwift/CHANGELOG.md
  FirebaseAnalyticsSwift/Sources/FirebaseAnalyticsSwift.swift
  FirebaseAnalyticsSwift/Tests/SwiftUnit/AnalyticsAPITests.swift
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: analytics, public-api-change, release-tooling

#11963 [Release] Update CHANGELOGs for 10.17.0
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabaseSwift/CHANGELOG.md
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfigSwift/CHANGELOG.md
Labels: api: database, api: remoteconfig, api: inappmessaging

#11957 Revert "Use sign up endpoint for link with email password"
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.h
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRSignUpNewUserRequestTests.m
  FirebaseAuth/Tests/Unit/FIRSignUpNewUserResponseTests.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
Labels: api: auth

#11968 update comments
  Crashlytics/Crashlytics/Components/FIRCLSApplication.h
  Crashlytics/Crashlytics/Components/FIRCLSApplication.m
Labels: api: crashlytics

#11956 [App Check] Add failure reasons for App Attest error cases
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProvider.m
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckErrorUtil.h
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckErrorUtil.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestProviderTests.m
Labels: api: appcheck

#11865 Testing composite index queries against production
  .github/workflows/firestore.yml
  .gitignore
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Integration/API/FIRCompositeIndexQueryTests.mm
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.h
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/README.md
  Firestore/firestore_index_config.tf
  Firestore/main.tf
  scripts/gha-encrypted/firestore-integration.json.gpg
Labels: api: firestore

#11969 Update OR query Swift tests.
  Firestore/Swift/Tests/Integration/QueryIntegrationTests.swift
Labels: api: firestore

#11974 [App Check] Fix warning due to NSUInteger length on watchOS
  .github/workflows/firebase_app_check.yml
  FirebaseAppCheck/Sources/Core/Errors/FIRAppCheckErrorUtil.m
Labels: api: appcheck

#11970 [Firestore] Follow-up review items from #11954
  FirebaseDatabase/Swift/Sources/SPMSwiftHeaderWorkaround.swift
  FirebaseInAppMessaging/Swift/Source/SPMSwiftHeaderWorkaround.swift
  Firestore/Example/Podfile
  Firestore/Swift/Source/SwiftHeaderWorkaround.swift
  ReleaseTooling/Sources/ZipBuilder/ModuleMapBuilder.swift
Labels: api: database, api: firestore, api: inappmessaging, release-tooling

#11977 [Firestore] Fix build-for-testing linking affecting CocoaPods (Approach 1)
  FirebaseFirestore.podspec
Labels: api: firestore

#11965 Update Analytics swift API tests.
  FirebaseAnalyticsSwift/Tests/ObjCAPI/ObjCAPITests.m
  FirebaseAnalyticsSwift/Tests/SwiftUnit/AnalyticsAPITests.swift
Labels: api: analytics

#11934 Add MIEQ negative test cases
  .github/workflows/firestore.yml
  .github/workflows/health-metrics-presubmit.yml
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  scripts/run_firestore_emulator.sh
Labels: api: firestore

#11952 [Passkey #5] Auth startPasskeySignInWithCompletion: and finalizePasskeySignInWithPlatformCredential:completion
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
Labels: api: auth, public-api-change

#11936 [Config] Update FirebaseRemoteConfigSwift.podspec
  FirebaseRemoteConfigSwift.podspec
Labels: api: remoteconfig

#11989 fix exisits typo
  FirebaseAuth/Tests/Unit/FIRUserTests.m
  FirebaseMessaging/CHANGELOG.md
Labels: api: auth, api: messaging

#11986 [App Check] Reset App Attest key state if `attestKey` fails
  FirebaseAppCheck/CHANGELOG.md
  FirebaseAppCheck/Sources/AppAttestProvider/FIRAppAttestProvider.m
  FirebaseAppCheck/Tests/Unit/AppAttestProvider/FIRAppAttestProviderTests.m
Labels: api: appcheck

#11991 [Passkey #7] FIRUser startPasskeyEnrollmentWithName:completion: & finalizePasskeyEnrollmentWithPlatformCredential:completion: implementation
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/RPC/Proto/FIRPasskeyInfo.m
  FirebaseAuth/Sources/Backend/RPC/Proto/FIRPasskeyInfo_Internal.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRPasskeyInfo.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.h
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Sources/User/FIRUser_Internal.h
  FirebaseAuth/Tests/Unit/FIRUserTests.m
Labels: api: auth, public-api-change

#11996 Analytics 10.17.0 RC1
  GoogleAppMeasurement.podspec
Labels: api: analytics

#11985 Move sum&avg composite index tests to FIRCompositeIndexQueryTests.mm
  Firestore/Example/Tests/Integration/API/FIRAggregateTests.mm
  Firestore/Example/Tests/Integration/API/FIRCompositeIndexQueryTests.mm
  Firestore/firestore_collection_group_index_config.tf
  Firestore/firestore_composite_index_config.tf
  Firestore/main.tf
Labels: api: firestore

#11942 [auth-swift] Recaptcha Enterprise integration
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigResponse.h
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigResponse.m
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/Backend/AuthRPCRequest.swift
  FirebaseAuth/Sources/Swift/Backend/AuthRequestConfiguration.swift
  FirebaseAuth/Sources/Swift/Backend/IdentityToolkitRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/CreateAuthURIRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/DeleteAccountRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/EmailLinkSignInRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetAccountInfoRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetOOBConfirmationCodeRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetProjectConfigRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetRecaptchaConfigRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetRecaptchaConfigResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/Enroll/FinalizeMFAEnrollmentRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/Enroll/StartMFAEnrollmentRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/SignIn/FinalizeMFASignInRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/SignIn/StartMFASignInRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/Unenroll/WithdrawMFARequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/RevokeTokenRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SignUpNewUserRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/VerifyPasswordRequest.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrorUtils.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrors.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthRecaptchaVerifier.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/AuthenticationExampleUITests.swift
  FirebaseAuth/Tests/SampleSwift/Podfile
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/Fakes/FakeBackendRPCIssuer.swift
  FirebaseAuth/Tests/Unit/GetOOBConfirmationCodeTests.swift
  FirebaseAuth/Tests/Unit/GetRecaptchaConfigTests.swift
  FirebaseAuth/Tests/Unit/SignUpNewUserTests.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
  FirebaseAuth/Tests/Unit/VerifyPasswordTests.swift
Labels: api: auth

#12010 [auth-swift] Custom Auth Domains
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebUtils.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/AuthenticationExampleUITests.swift
  FirebaseAuth/Tests/Unit/AuthWebUtilsTests.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#12027 Fix Xcode 15.1 build warning
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/Gauges/CPU/FPRCPUGaugeCollector.m
Labels: api: performance
