Repository firebase/firebase-ios-sdk, pull requests merged in 2023-03, with the labels that each got.

#10879 Add tests and sampleApp changes for updatedKeys
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/ViewController.m
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/APITests.swift
Labels: api: remoteconfig

#10874 Add golden tests for BloomFilter
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/remote/bloom_filter.cc
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_1_0001_bloom_filter_proto.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_1_0001_membership_test_result.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_1_01_bloom_filter_proto.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_1_01_membership_test_result.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_1_1_bloom_filter_proto.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_1_1_membership_test_result.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_50000_0001_bloom_filter_proto.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_50000_0001_membership_test_result.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_50000_01_bloom_filter_proto.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_50000_01_membership_test_result.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_50000_1_bloom_filter_proto.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_50000_1_membership_test_result.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_5000_0001_bloom_filter_proto.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_5000_0001_membership_test_result.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_5000_01_bloom_filter_proto.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_5000_01_membership_test_result.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_5000_1_bloom_filter_proto.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_5000_1_membership_test_result.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_500_0001_bloom_filter_proto.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_500_0001_membership_test_result.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_500_01_bloom_filter_proto.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_500_01_membership_test_result.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_500_1_bloom_filter_proto.json
  Firestore/core/test/unit/remote/bloom_filter_golden_test_data/Validation_BloomFilterTest_MD5_500_1_membership_test_result.json
  Firestore/core/test/unit/remote/bloom_filter_test.cc
Labels: api: firestore

#10888 [auth-swift] VerifyAssertion and SecureToken RPCs to Swift
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/VerifyAssertionRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/VerifyAssertionResponse.swift
  FirebaseAuth/Sources/SystemService/FIRSecureTokenService.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyAssertionRequestTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyAssertionResponseTests.m
  FirebaseAuth/Tests/Unit/SecureTokenTests.swift
  FirebaseAuth/Tests/Unit/VerifyAssertionTests.swift
Labels: api: auth

#10890 [auth-swift] CustomToken RPC to Swift
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/VerifyCustomTokenResponse.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrorUtils.swift
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyCustomTokenRequestTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyCustomTokenResponseTests.m
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
  FirebaseAuth/Tests/Unit/VerifyCustomToken.swift
Labels: api: auth

#10895 [auth-swift] VerifyClient RPC calls and unit tests
  FirebaseAuth/Sources/Backend/FIRAuthBackend.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Tests/Unit/FIRVerifyClientRequestTest.m
  FirebaseAuth/Tests/Unit/FIRVerifyClientResponseTests.m
  FirebaseAuth/Tests/Unit/VerifyClientTests.swift
Labels: api: auth

#10897 [auth-swift] VerifyPhoneNumber RPC
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/VerifyPhoneNumberResponse.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrors.swift
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/FIRVerifyPhoneNumberRequestTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyPhoneNumberResponseTests.m
  FirebaseAuth/Tests/Unit/VerifyPhoneNumberTests.swift
Labels: api: auth

#10894 [Release] Update versions for Release 10.7.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#10860 Add Swift unit tests and utilities for AppDistributionApiService
  FirebaseAppDistribution/Tests/Unit/FIRFADApiServiceTests.m
  FirebaseAppDistributionInternal.podspec
  FirebaseAppDistributionInternal/Sources/AppDistributionApiService.swift
  FirebaseAppDistributionInternal/Sources/Internal/InstallationsProtocol.swift
  FirebaseAppDistributionInternal/Sources/Internal/Logger.swift
  FirebaseAppDistributionInternal/Tests/Unit/AppDistributionApiServiceTests.swift
  FirebaseAppDistributionInternal/Tests/Unit/FakeUtils/FakeInstallations.swift
  FirebaseAppDistributionInternal/Tests/Unit/FakeUtils/URLSessionPartialMock.swift
Labels: api: appdistribution

#10352 Add Public API for Or Query
  Firestore/CHANGELOG.md
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/Source/API/FIRFilter+Internal.h
  Firestore/Source/API/FIRFilter.mm
  Firestore/Source/API/FIRQuery+Internal.h
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/Public/FirebaseFirestore/FIRFilter.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuery.h
  Firestore/Source/Public/FirebaseFirestore/FirebaseFirestore.h
  Firestore/Swift/Tests/Integration/AsyncAwaitIntegrationTests.swift
  Firestore/Swift/Tests/Integration/QueryIntegrationTests.swift
  Firestore/core/src/core/composite_filter.cc
  Firestore/core/src/core/composite_filter.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/test/unit/core/filter_test.cc
Labels: api: firestore, public-api-change

#10899 [auth-swift] Backend now completely in Swift
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrorUtils.swift
  FirebaseAuth/Sources/SystemService/FIRSecureTokenService.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/AuthBackendRPCImplentationTests.swift
  FirebaseAuth/Tests/Unit/FIRAuthBackendRPCImplementationTests.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRFakeBackendRPCIssuer.h
  FirebaseAuth/Tests/Unit/FIRFakeBackendRPCIssuer.m
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
  FirebaseAuth/Tests/Unit/FakeBackendRPCIssuer.swift
  FirebaseAuth/Tests/Unit/OCMStubRecorder+FIRAuthUnitTests.h
  FirebaseAuth/Tests/Unit/OCMStubRecorder+FIRAuthUnitTests.m
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
Labels: api: auth

#10871 Implement CreateFeedback, UploadArtifact and CommitFeedback endpoints
  FirebaseAppDistributionInternal/Sources/AppDistributionApiService.swift
  FirebaseAppDistributionInternal/Tests/Unit/AppDistributionApiServiceTests.swift
  FirebaseAppDistributionInternal/Tests/Unit/FakeUtils/URLSessionPartialMock.swift
Labels: api: appdistribution

#10906 [FirebaseCore] Use optional instead of error
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatStorage.swift
Labels: api: core

#10907 [auth-swift] More AuthTests.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/ResetPasswordResponse.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
Labels: api: auth

#10909 [auth-swift] More AuthTests.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
Labels: api: auth

#10908 Refactor methods that handle API responses
  FirebaseAppDistributionInternal/Sources/AppDistributionApiService.swift
  FirebaseAppDistributionInternal/Tests/Unit/AppDistributionApiServiceTests.swift
  FirebaseAppDistributionInternal/Tests/Unit/FakeUtils/URLSessionPartialMock.swift
Labels: api: appdistribution

#10872 Add expected count to Target
  Firestore/Example/Tests/SpecTests/FSTMockDatastore.mm
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/json/listen_spec_test.json
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.h
  Firestore/Protos/protos/google/firestore/v1/firestore.options
  Firestore/core/src/core/sync_engine.cc
  Firestore/core/src/local/local_serializer.cc
  Firestore/core/src/local/target_data.cc
  Firestore/core/src/local/target_data.h
  Firestore/core/src/remote/remote_store.cc
  Firestore/core/src/remote/serializer.cc
  Firestore/core/test/unit/local/local_serializer_test.cc
  Firestore/core/test/unit/local/target_cache_test.cc
  Firestore/core/test/unit/remote/serializer_test.cc
Labels: api: firestore

#10918 [auth-swift] APNSToken.swift
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSToken.swift
  FirebaseAuth/Sources/SystemService/FIRAuthAPNSToken.h
  FirebaseAuth/Sources/SystemService/FIRAuthAPNSToken.m
  FirebaseAuth/Sources/SystemService/FIRAuthAPNSTokenManager.m
  FirebaseAuth/Tests/Unit/FIRAuthAPNSTokenManagerTests.m
  FirebaseAuth/Tests/Unit/FIRAuthAPNSTokenTests.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
Labels: api: auth

#10068 Add Sign in with Apple Display Name API and unit test
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/AuthProvider/OAuth/FIROAuthCredential.m
  FirebaseAuth/Sources/AuthProvider/OAuth/FIROAuthCredential_Internal.h
  FirebaseAuth/Sources/AuthProvider/OAuth/FIROAuthProvider.m
  FirebaseAuth/Sources/Backend/RPC/FIRVerifyAssertionRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRVerifyAssertionRequest.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIROAuthProvider.h
  FirebaseAuth/Tests/Sample/Sample/MainViewController+OAuth.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIROAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyAssertionRequestTests.m
Labels: api: auth, public-api-change

#10927 [auth-swift] AuthAppCredentialManager.swift
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSToken.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseAuth/Sources/SystemService/FIRAuthAPNSTokenManager.h
  FirebaseAuth/Sources/SystemService/FIRAuthAPNSTokenManager.m
  FirebaseAuth/Tests/Unit/FIRAuthAPNSTokenManagerTests.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
Labels: api: auth

#10936 [Crashlytics] update upload symbols cli
  Crashlytics/CHANGELOG.md
  Crashlytics/upload-symbols
Labels: api: crashlytics

#10896 [Firestore] Programmatically link un-linked symbols
  Firestore/Source/API/FIRFirestore.mm
  Firestore/Source/API/FSTFirestoreComponent.mm
Labels: api: firestore

#10925 Add feedback view controller
  .gitignore
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.h
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.m
  FirebaseAppDistribution/Sources/Public/FirebaseAppDistribution/FIRAppDistribution.h
  FirebaseAppDistribution/Tests/Unit/FIRAppDistributionTests.m
  FirebaseAppDistributionInternal.podspec
  FirebaseAppDistributionInternal/Resources/AppDistributionInternalStoryboard.storyboard
  FirebaseAppDistributionInternal/Resources/FIRAppDistributionInternalStoryboard.storyboard
  FirebaseAppDistributionInternal/Sources/ApiService.swift
  FirebaseAppDistributionInternal/Sources/FeedbackViewController.swift
  FirebaseAppDistributionInternal/Sources/InAppFeedback.swift
  FirebaseAppDistributionInternal/Sources/ViewController.swift
Labels: public-api-change, api: appdistribution

#10928 [auth-swift] AuthDataResult.swift
  .github/workflows/spm.yml
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Auth/FIRAuthDataResult.m
  FirebaseAuth/Sources/Auth/FIRAuthDataResult_Internal.h
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactor.m
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactorResolver.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthDataResult.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.h
  FirebaseAuth/Sources/Swift/Auth/AuthDataResult.swift
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.h
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/FIRAuthLifeCycleTests.m
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
  Package.swift
Labels: api: auth, public-api-change

#10938 SecureTokenService.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthLog.swift
  FirebaseAuth/Sources/SystemService/FIRSecureTokenService.h
  FirebaseAuth/Sources/SystemService/FIRSecureTokenService.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
Labels: api: auth

#10913 Provide server errors via the NSUnderlyingErrorKey
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/StorageError.swift
  FirebaseStorage/Tests/Integration/StorageAsyncAwait.swift
Labels: api: storage

#10943 Fix params for screenshot methods
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.m
  FirebaseAppDistributionInternal/Sources/InAppFeedback.swift
Labels: api: appdistribution

#10944 Fix ApiService
  FirebaseAppDistributionInternal/Sources/ApiService.swift
Labels: api: appdistribution

#10945 Fix unit tests and update podspec
  FirebaseAppDistribution.podspec
  FirebaseAppDistributionInternal.podspec
  FirebaseAppDistributionInternal/Tests/Unit/ApiServiceTests.swift
Labels: api: appdistribution

#10950 Import additional changes in AppDistributionInternal
  FirebaseAppDistributionInternal/Sources/ApiService.swift
  FirebaseAppDistributionInternal/Sources/FeedbackViewController.swift
  FirebaseAppDistributionInternal/Sources/InAppFeedback.swift
  FirebaseAppDistributionInternal/Tests/Unit/ApiServiceTests.swift
Labels: api: appdistribution

#10911 Refactor localstore.ShouldPersistTargetData
  Firestore/core/src/local/local_store.cc
Labels: api: firestore

#10941 [auth-swift] Restore integration tests
  .github/workflows/auth.yml
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Swift/AuthProvider/GameCenterAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/GoogleAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SecureTokenRequest.swift
  FirebaseAuth/Sources/Swift/User/AdditionalUserInfo.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrors.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebUtils.swift
  FirebaseAuth/Tests/Sample/ApiTests/AccountInfoTests.m
  FirebaseAuth/Tests/Sample/ApiTests/CustomAuthTests.m
  FirebaseAuth/Tests/Sample/ApiTests/FacebookAuthTests.m
  FirebaseAuth/Tests/Sample/ApiTests/GoogleAuthTests.m
  FirebaseAuth/Tests/Sample/AuthSample.xcodeproj/project.pbxproj
  FirebaseAuth/Tests/Sample/Podfile
  FirebaseAuth/Tests/Sample/Sample/FacebookAuthProvider.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+App.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Email.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+GameCenter.h
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Google.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+MultiFactor.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+OAuth.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Phone.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController.m
  FirebaseAuth/Tests/Sample/Sample/SettingsViewController.m
  FirebaseAuth/Tests/Sample/SwiftApiTests/AccountInfoTests.swift
  FirebaseAuth/Tests/Sample/SwiftApiTests/GoogleTests.swift
  FirebaseAuth/Tests/Unit/AuthBackendRPCImplentationTests.swift
  FirebaseAuth/Tests/Unit/FakeBackendRPCIssuer.swift
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
  FirebaseAuth/Tests/Unit/VerifyPhoneNumberTests.swift
Labels: api: auth, public-api-change

#10942 Add changelog entry for real-time updates.
  FirebaseRemoteConfig/CHANGELOG.md
Labels: api: remoteconfig

#10948 Change doc references to hyphenate real-time
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
Labels: api: remoteconfig, public-api-change

#10952 [auth-swift] UserInfoImpl.swift and UserMetadata.swift
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUserMetadata.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.h
  FirebaseAuth/Sources/Swift/User/UserInfoImpl.swift
  FirebaseAuth/Sources/Swift/User/UserMetadata.swift
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Sources/User/FIRUserInfoImpl.h
  FirebaseAuth/Sources/User/FIRUserInfoImpl.m
  FirebaseAuth/Sources/User/FIRUserMetadata.m
  FirebaseAuth/Sources/User/FIRUserMetadata_Internal.h
  FirebaseAuth/Tests/Unit/FIRUserMetadataTests.m
Labels: api: auth, public-api-change

#10951 Add API calls for creating feedback
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistributionInternal/Resources/AppDistributionInternalStoryboard.storyboard
  FirebaseAppDistributionInternal/Sources/ApiService.swift
  FirebaseAppDistributionInternal/Sources/FeedbackViewController.swift
Labels: api: appdistribution

#10955 [v10.7.0] Update changelogs for release
  Crashlytics/CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
  FirebaseStorage/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: auth, api: storage, api: firestore, api: crashlytics

#10902 Reorganize OR query test
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Swift/Tests/Integration/QueryIntegrationTests.swift
Labels: api: firestore

#10956 Fix call to FindRelease endpoint
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistributionInternal/Sources/ApiService.swift
Labels: api: appdistribution

#10877 pass appCheckToken as URL fragment
  FirebaseAuth/Sources/AuthProvider/OAuth/FIROAuthProvider.m
  FirebaseAuth/Sources/AuthProvider/Phone/FIRPhoneAuthProvider.m
  FirebaseAuth/Tests/Unit/FIRAuthBackendRPCImplementationTests.m
  FirebaseAuth/Tests/Unit/FIRFakeAppCheck.h
  FirebaseAuth/Tests/Unit/FIRFakeAppCheck.m
  FirebaseAuth/Tests/Unit/FIROAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
Labels: api: auth

#10962 Update Remote Config real-time config update ref-docs
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
Labels: api: remoteconfig, public-api-change

#10972 Add missing readtime
  Firestore/core/src/remote/serializer.cc
  Firestore/core/test/unit/remote/serializer_test.cc
Labels: api: firestore

#10983 fields_array.h: add missing template specializations for bloom filter
  Firestore/core/src/nanopb/fields_array.h
Labels: api: firestore

#10976 [auth-swift] Prep for keychain dependency injection (pt. 1)
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Tests/Unit/FIRAuthUseUserAccessGroupTests.m
Labels: api: auth

#10989 [Infra] Upgrade to clang-format16 (#10973)
  CONTRIBUTING.md
  Crashlytics/Crashlytics/Helpers/FIRCLSDefines.h
  Crashlytics/Shared/FIRCLSMachO/FIRCLSCodeMapping.m
  Crashlytics/UnitTests/FIRCLSDwarfExpressionTests.m
  FirebaseDatabase/Tests/Helpers/SenTest+FWaiter.h
  FirebaseDatabase/Tests/Integration/FData.m
  FirebaseInstallations/Source/Tests/Integration/FIRInstallationsIntegrationTests.m
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/FRCLog.h
  FirebaseRemoteConfig/Tests/Unit/RCNConfigAnalyticsTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfig+FIRAppTest.m
  Firestore/Source/API/FSTUserDataWriter.h
  README.md
  scripts/setup_check.sh
  scripts/style.sh
Labels: api: database, api: firestore, api: remoteconfig, api: crashlytics, api: installations

#10990 [auth-swift] Prep for keychain dependency injection (pt. 2)
  FirebaseAuth/Sources/Swift/Storage/AuthKeychainServices.swift
  FirebaseAuth/Tests/Unit/AuthKeychainServicesTests.swift
Labels: api: auth

#10986 Specify real-time APIs don't affect fetch and activate.
  FirebaseRemoteConfig/CHANGELOG.md
Labels: api: remoteconfig

#10996 [auth-swift] Move AuthStorage protocol to own file; split up AuthKeychainServices impl.
  FirebaseAuth/Sources/Swift/Storage/AuthKeychainServices.swift
  FirebaseAuth/Sources/Swift/Storage/AuthSharedKeychainServices.swift
  FirebaseAuth/Sources/Swift/Storage/AuthStorage.swift
  FirebaseAuth/Sources/Swift/Storage/AuthUserDefaults.swift
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.h
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.m
Labels: api: auth

#10997 [auth-swift] Migrate usage of `FIRAuthKeychainServices` to `id<FIRAuthSorage>`
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/SystemService/FIRAuthAppCredentialManager.h
  FirebaseAuth/Sources/SystemService/FIRAuthAppCredentialManager.m
Labels: api: auth

#10975 Refactor feedback view controller to be scroll view + refactor release name
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.h
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.m
  FirebaseAppDistribution/Tests/Unit/FIRAppDistributionTests.m
  FirebaseAppDistributionInternal.podspec
  FirebaseAppDistributionInternal/Resources/AppDistributionInternalStoryboard.storyboard
  FirebaseAppDistributionInternal/Sources/ApiService.swift
  FirebaseAppDistributionInternal/Sources/FeedbackViewController.swift
  FirebaseAppDistributionInternal/Sources/InAppFeedback.swift
  FirebaseAppDistributionInternal/Sources/Internal/AdditionalFormTextLabel.swift
  Package.swift
Labels: api: appdistribution

#10999 Export new API changes in AppDistributionInternal to `master`
  FirebaseAppDistributionInternal/Resources/AppDistributionInternalStoryboard.storyboard
  FirebaseAppDistributionInternal/Sources/ApiService.swift
  FirebaseAppDistributionInternal/Sources/FeedbackViewController.swift
Labels: api: appdistribution

#11000 [auth-swift] Update initializer to accept keychain storage types
  FirebaseAuth/Sources/Auth/FIRAuth.m
Labels: api: auth

#10953 Apply bloom filter on existence filter mismatch
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/json/existence_filter_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limbo_spec_test.json
  Firestore/Example/Tests/SpecTests/json/offline_spec_test.json
  Firestore/core/src/remote/datastore.cc
  Firestore/core/src/remote/datastore.h
  Firestore/core/src/remote/existence_filter.h
  Firestore/core/src/remote/remote_event.cc
  Firestore/core/src/remote/remote_event.h
  Firestore/core/src/remote/remote_store.cc
  Firestore/core/src/remote/remote_store.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/test/unit/remote/fake_target_metadata_provider.cc
  Firestore/core/test/unit/remote/fake_target_metadata_provider.h
  Firestore/core/test/unit/remote/remote_event_test.cc
  Firestore/core/test/unit/remote/serializer_test.cc
  Firestore/core/test/unit/remote/watch_change_test.cc
Labels: api: firestore

#10993 AuthUser -> Swift
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactor+Internal.h
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactor.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactor.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUserInfo.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.h
  FirebaseAuth/Sources/Swift/AuthProvider/GoogleAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/EmailLinkSignInRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/EmailLinkSignInResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetOOBConfirmationCodeRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SetAccountInfoResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SignInWithGameCenterResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/VerifyAssertionResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/VerifyCustomTokenResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/VerifyPhoneNumberResponse.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactorSession.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/User/UserInfo.swift
  FirebaseAuth/Sources/Swift/User/UserInfoImpl.swift
  FirebaseAuth/Sources/Swift/User/UserProfileChangeRequest.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthLog.swift
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Sources/User/FIRUser_Internal.h
  FirebaseAuth/Tests/Sample/ApiTests/AccountInfoTests.m
  FirebaseAuth/Tests/Sample/ApiTests/AnonymousAuthTests.m
  FirebaseAuth/Tests/Sample/ApiTests/EmailPasswordAuthTests.m
  FirebaseAuth/Tests/Sample/ApiTests/FIRAuthApiTestsBase.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+MultiFactor.m
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/EmailLinkSignInTests.swift
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
  FirebaseAuth/Tests/Unit/SetAccountInfoTests.swift
  FirebaseAuth/Tests/Unit/SignInWithGameCenterTests.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth, public-api-change

#11006 Objective C property functions should be Swift computed properties
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/VerifyAssertionTests.swift
Labels: api: auth

#11007 Fix screenshot delay bug
  FirebaseAppDistributionInternal/Sources/InAppFeedback.swift
Labels: api: appdistribution

#11008 [auth-swift] User decoding and api cleanup
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/AuthRequestConfiguration.swift
  FirebaseAuth/Sources/Swift/Backend/IdentityToolkitRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SecureTokenRequest.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Tests/Unit/AuthBackendRPCImplentationTests.swift
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
Labels: api: auth

#10977 Add new goog-listen-tags for BloomFilter
  Firestore/Example/Tests/SpecTests/json/bundle_spec_test.json
  Firestore/Example/Tests/SpecTests/json/existence_filter_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limbo_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limit_spec_test.json
  Firestore/Example/Tests/SpecTests/json/offline_spec_test.json
  Firestore/Example/Tests/SpecTests/json/recovery_spec_test.json
  Firestore/core/src/core/sync_engine.cc
  Firestore/core/src/local/target_data.cc
  Firestore/core/src/local/target_data.h
  Firestore/core/src/remote/remote_event.cc
  Firestore/core/src/remote/remote_event.h
  Firestore/core/src/remote/remote_store.cc
  Firestore/core/src/remote/serializer.cc
Labels: api: firestore

#11009 [auth-swift] Use stored keychain service at app cleanup
  FirebaseAuth/Sources/Auth/FIRAuth.m
Labels: api: auth

#11013 [auth-swift] UserTests.swift Part 1
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactor+Internal.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactor.h
  FirebaseAuth/Sources/Swift/Backend/RPC/GetAccountInfoResponse.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/DeleteAccountTests.swift
  FirebaseAuth/Tests/Unit/FakeBackendRPCIssuer.swift
  FirebaseAuth/Tests/Unit/GetOOBConfirmationCode.swift
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
  FirebaseAuth/Tests/Unit/SecureTokenTests.swift
  FirebaseAuth/Tests/Unit/UserTests.swift
Labels: api: auth, public-api-change

#11015 [auth-swift] UserProfileChangeRequest.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/User/UserProfileChangeRequest.swift
  FirebaseAuth/Tests/Unit/UserTests.swift
Labels: api: auth

#11019 [auth-swift] GetIDTokenResult unit tests
  FirebaseAuth/Sources/Swift/Auth/AuthTokenResult.swift
  FirebaseAuth/Tests/Unit/FakeBackendRPCIssuer.swift
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
  FirebaseAuth/Tests/Unit/UserTests.swift
Labels: api: auth

#11020 [Infra] Print state of invalid assertion to help identify cause of flake
  Crashlytics/UnitTests/FIRCLSExistingReportManagerTests.m
Labels: api: crashlytics

#11021 [Infra] Remove test artifact directory in test set up
  Crashlytics/UnitTests/FIRCLSExistingReportManagerTests.m
Labels: api: crashlytics

#11023 [auth-swift] User reload() unit tests and fix
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Tests/Unit/FIRUserTests.m
  FirebaseAuth/Tests/Unit/UserTests.swift
Labels: api: auth

#11024 [auth-swift] Make request components for deterministic to avoid test flakes
  FirebaseAuth/Sources/Swift/Backend/RPC/VerifyAssertionRequest.swift
  FirebaseAuth/Tests/Unit/VerifyAssertionTests.swift
Labels: api: auth

#11029 [Infra] Add tear down logic in set up code
  Crashlytics/UnitTests/FIRCLSReportManagerTests.m
Labels: api: crashlytics

#11032 FirebaseCore: Clean up mix of OCMock V2 and V3 syntax
  FirebaseCore/Tests/Unit/FIRBundleUtilTest.m
  FirebaseCore/Tests/Unit/FIROptionsTest.m
Labels: api: core

#11031 [Auth] Update OCMock 2 syntax to v3 syntax.
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
Labels: api: auth

#11025 [auth-swift] Finish Auth refactoring to allow for injecting fake keychain instance for macOS tests
  FirebaseAuth.podspec
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Swift/Storage/AuthKeychainServices.swift
  FirebaseAuth/Sources/Swift/Storage/AuthStorage.swift
  FirebaseAuth/Sources/Swift/Storage/AuthUserDefaults.swift
  FirebaseAuth/Tests/Unit/AuthKeychainServicesTests.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/Fakes/FakeAuthKeychainServices.swift
  FirebaseAuth/Tests/Unit/UserTests.swift
Labels: api: auth, public-api-change

#11041 [FirebaseCore] Add comment to notify future-us about potential side effects of code change
  FirebaseCore/Sources/FIRApp.m
Labels: api: core

#11042 [auth-swift] First user link swift unit test and a fix
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Tests/Unit/FIRUserTests.m
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
  FirebaseAuth/Tests/Unit/UserTests.swift
Labels: api: auth

#11038 Use ByteString instead of std::vector in the BloomFilter
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/core/src/remote/bloom_filter.cc
  Firestore/core/src/remote/bloom_filter.h
  Firestore/core/src/remote/existence_filter.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/test/unit/remote/bloom_filter_test.cc
Labels: api: firestore

#11048 [auth-swift] Two more User unit tests
  FirebaseAuth/Tests/Unit/FIRUserTests.m
  FirebaseAuth/Tests/Unit/UserTests.swift
Labels: api: auth
