Repository firebase/firebase-ios-sdk, pull requests merged in 2023-05, with the labels that each got.

#10014 Get rid of objc blocks inside dyld callback
  Crashlytics/Crashlytics/Components/FIRCLSBinaryImage.h
  Crashlytics/Crashlytics/Components/FIRCLSBinaryImage.m
  Crashlytics/Crashlytics/Components/FIRCLSContext.m
  Crashlytics/Shared/FIRCLSMachO/FIRCLSMachO.h
  Crashlytics/Shared/FIRCLSMachO/FIRCLSMachO.m
Labels: api: crashlytics

#10974 Firestore: FIRQueryTests.mm: add a test that resumes a query with existence filter
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.h
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
Labels: api: firestore

#11218 Delete invalid move tests
  Firestore/core/test/unit/api/settings_test.cc
Labels: api: firestore

#11224 fix undocumented appcheck
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppCheck.h
Labels: public-api-change, api: appcheck

#11222 Fill in os_version and app_build_version for Sessions
  FirebaseSessions/Sources/Development/DevEventConsoleLogger.swift
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
Labels: sessions

#11214 Extract GACAppCheckSettings from FIRAppCheckSettings
  FirebaseAppCheck/Sources/Core/FIRAppCheck.m
  FirebaseAppCheck/Sources/Core/FIRAppCheckSettings.h
  FirebaseAppCheck/Sources/Core/FIRAppCheckSettings.m
  FirebaseAppCheck/Sources/Core/TokenRefresh/FIRAppCheckTokenRefresher.h
  FirebaseAppCheck/Sources/Core/TokenRefresh/FIRAppCheckTokenRefresher.m
  FirebaseAppCheck/Sources/GAC/Core/GACAppCheckSettings.h
  FirebaseAppCheck/Sources/GAC/Core/GACAppCheckSettings.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckSettingsTests.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckTests.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckTokenRefresherTests.m
Labels: api: appcheck

#11209 FIRQueryTests.mm: improve the test that resumes a query with existence filter to actually validate the existence filter
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/core/src/remote/remote_event.cc
  Firestore/core/src/util/testing_hooks.cc
  Firestore/core/src/util/testing_hooks.h
  Firestore/core/test/unit/testutil/async_testing.h
  Firestore/core/test/unit/testutil/testing_hooks_util.cc
  Firestore/core/test/unit/testutil/testing_hooks_util.h
  Firestore/core/test/unit/util/testing_hooks_test.cc
Labels: api: core, api: storage, api: firestore, api: remoteconfig, api: crashlytics, api: functions, api: appdistribution, release-tooling

#11200 Add equality operator on aggregate query.
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/API/FIRAggregateQueryUnitTests.mm
  Firestore/core/src/api/aggregate_query.cc
  Firestore/core/src/api/aggregate_query.h
  Firestore/core/test/unit/api/CMakeLists.txt
  Firestore/core/test/unit/api/aggregate_query_test.cc
Labels: api: firestore

#11241 [Performance] Address Xcode 14.3 Analyzer issues
  FirebasePerformance/Sources/FPRNanoPbUtils.m
  FirebasePerformance/Sources/Gauges/Memory/FPRMemoryGaugeCollector.m
  FirebasePerformance/Sources/Instrumentation/Network/Delegates/FPRNSURLConnectionDelegateInstrument.m
  FirebasePerformance/Sources/Instrumentation/Network/Delegates/FPRNSURLSessionDelegateInstrument.m
  FirebasePerformance/Sources/Instrumentation/Network/FPRNSURLConnectionInstrument.m
  FirebasePerformance/Sources/Instrumentation/Network/FPRNSURLSessionInstrument.m
  FirebasePerformance/Sources/Instrumentation/UIKit/FPRUIViewControllerInstrument.m
Labels: api: performance

#11243 [Dynamic Links] Address Xcode 14.3 Analyzer issues
  FirebaseDynamicLinks/Sources/FIRDLJavaScriptExecutor.m
  FirebaseDynamicLinks/Sources/Utilities/FDLUtilities.m
Labels: api: dynamiclinks

#11242 [In App Messaging] Address Xcode 14.3 Analyzer issues
  FirebaseInAppMessaging/Sources/Data/FIRIAMMessageContentDataWithImageURL.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMMessageDefinition.m
  FirebaseInAppMessaging/Sources/Private/Data/FIRIAMMessageContentDataWithImageURL.h
  FirebaseInAppMessaging/Sources/Private/Data/FIRIAMMessageRenderData.h
Labels: api: inappmessaging

#11206 Long alias support for aggregations
  Firestore/Example/Tests/Integration/API/FIRAggregateTests.mm
  Firestore/Source/API/FIRAggregateField.h
  Firestore/Source/API/FIRAggregateField.mm
  Firestore/Source/API/FIRAggregateQuerySnapshot+Internal.h
  Firestore/Source/API/FIRQuery+Internal.h
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateQuerySnapshot.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuery.h
  Firestore/Source/Public/FirebaseFirestore/FirebaseFirestore.h
  Firestore/Swift/Tests/Integration/AggregationIntegrationTests.swift
  Firestore/core/src/model/object_value.cc
  Firestore/core/src/model/object_value.h
  Firestore/core/src/remote/datastore.cc
  Firestore/core/src/remote/remote_objc_bridge.cc
  Firestore/core/src/remote/remote_objc_bridge.h
  scripts/run_firestore_emulator.sh
Labels: api: firestore, public-api-change

#11246 Fix Component system retain cycle
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Auth/AuthComponent.swift
Labels: api: auth

#11245 Firestore Spec Tests: Port JS PR 7285 (remove no-android tag from bloom filter tests)
  Firestore/Example/Tests/SpecTests/json/existence_filter_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limbo_spec_test.json
  Firestore/Example/Tests/SpecTests/json/listen_spec_test.json
Labels: api: firestore

#11237 [auth-swift] Auth.swift
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactor+Internal.h
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactor.m
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactorResolver.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthWebViewController.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactor.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactorResolver.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.h
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Auth/AuthComponent.swift
  FirebaseAuth/Sources/Swift/AuthProvider/EmailAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetOOBConfirmationCodeRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SetAccountInfoRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SignUpNewUserResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/VerifyPasswordResponse.swift
  FirebaseAuth/Sources/Swift/Storage/AuthKeychainServices.swift
  FirebaseAuth/Sources/Swift/Storage/AuthStorage.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAppCredentialManager.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthStoredUserManager.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrorUtils.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthLog.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthURLPresenter.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebUtils.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebViewController.swift
  FirebaseAuth/Tests/Sample/Sample/MainViewController+App.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Auth.h
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Email.h
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Internal.h
  FirebaseAuth/Tests/Sample/Sample/MainViewController+MultiFactor.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController.m
  FirebaseAuth/Tests/Sample/Sample/SettingsViewController.m
  FirebaseAuth/Tests/Unit/AuthAppCredentialManagerTests.swift
  FirebaseAuth/Tests/Unit/AuthNotificationManagerTests.swift
  FirebaseAuth/Tests/Unit/AuthUseUserAccessGroupTests.swift
  FirebaseAuth/Tests/Unit/FIRAuthLifeCycleTests.m
  FirebaseAuth/Tests/Unit/FIRAuthUseUserAccessGroupTests.m
  FirebaseAuth/Tests/Unit/FIRMultiFactorResolverTests.m
  FirebaseAuth/Tests/Unit/Fakes/FakeAuthKeychainServices.swift
  FirebaseAuth/Tests/Unit/GetAccountInfoTests.swift
  FirebaseAuth/Tests/Unit/OAuthProviderTests.swift
  FirebaseAuth/Tests/Unit/PhoneAuthProviderTests.swift
  FirebaseAuth/Tests/Unit/SetAccountInfoTests.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
  FirebaseAuth/Tests/Unit/VerifyPasswordTests.swift
  FirebaseCore/Sources/FIRApp.m
Labels: api: core, api: auth, public-api-change

#11249 [auth-swift] Queue implementations and tests to Swift-only
  FirebaseAuth/Sources/Auth/FIRAuthGlobalWorkQueue.h
  FirebaseAuth/Sources/Auth/FIRAuthGlobalWorkQueue.m
  FirebaseAuth/Sources/Auth/FIRAuthSerialTaskQueue.h
  FirebaseAuth/Sources/Swift/Auth/AuthGlobalWorkQueue.swift
  FirebaseAuth/Sources/Swift/Auth/AuthSerialTaskQueue.swift
  FirebaseAuth/Sources/Swift/User/AdditionalUserInfo.swift
  FirebaseAuth/Tests/Unit/AuthSerialTaskQueueTests.swift
  FirebaseAuth/Tests/Unit/FIRAuthGlobalWorkQueueTests.m
  FirebaseAuth/Tests/Unit/FIRAuthLifeCycleTests.m
  FirebaseAuth/Tests/Unit/FIRAuthSerialTaskQueueTests.m
Labels: api: auth

#11251 [auth-swift] Eliminate FIRAuthExceptionUtils.m
  FirebaseAuth/Sources/Swift/AuthProvider/FacebookAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/GameCenterAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/GitHubAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/GoogleAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/TwitterAuthProvider.swift
  FirebaseAuth/Sources/Utilities/FIRAuthExceptionUtils.h
  FirebaseAuth/Sources/Utilities/FIRAuthExceptionUtils.m
Labels: api: auth

#11256 Fix a use after move warning
  Firestore/core/src/model/mutation_batch.cc
Labels: api: firestore

#11257 Add AppCheck as a dependency of FirebaseAppCheck
  AppCheck/Sources/AppAttestProvider/API/GACAppAttestAPIService.h
  AppCheck/Sources/AppAttestProvider/API/GACAppAttestAPIService.m
  AppCheck/Sources/AppAttestProvider/API/GACAppAttestAttestationResponse.h
  AppCheck/Sources/AppAttestProvider/API/GACAppAttestAttestationResponse.m
  AppCheck/Sources/AppAttestProvider/DCAppAttestService+GACAppAttestService.h
  AppCheck/Sources/AppAttestProvider/DCAppAttestService+GACAppAttestService.m
  AppCheck/Sources/AppAttestProvider/Errors/GACAppAttestRejectionError.h
  AppCheck/Sources/AppAttestProvider/Errors/GACAppAttestRejectionError.m
  AppCheck/Sources/AppAttestProvider/GACAppAttestProvider.m
  AppCheck/Sources/AppAttestProvider/GACAppAttestProviderState.h
  AppCheck/Sources/AppAttestProvider/GACAppAttestProviderState.m
  AppCheck/Sources/AppAttestProvider/GACAppAttestService.h
  AppCheck/Sources/AppAttestProvider/Storage/GACAppAttestArtifactStorage.h
  AppCheck/Sources/AppAttestProvider/Storage/GACAppAttestArtifactStorage.m
  AppCheck/Sources/AppAttestProvider/Storage/GACAppAttestKeyIDStorage.h
  AppCheck/Sources/AppAttestProvider/Storage/GACAppAttestKeyIDStorage.m
  AppCheck/Sources/AppAttestProvider/Storage/GACAppAttestStoredArtifact.h
  AppCheck/Sources/AppAttestProvider/Storage/GACAppAttestStoredArtifact.m
  AppCheck/Sources/Core/GACAppCheckComponent.m
  AppCheck/Sources/Core/GACAppCheckLogger.h
  AppCheck/Sources/Core/GACAppCheckLogger.m
  AppCheck/Sources/Core/TokenRefresh/GACAppCheckTimer.h
  AppCheck/Sources/Core/TokenRefresh/GACAppCheckTimer.m
  AppCheck/Sources/Core/TokenRefresh/GACAppCheckTokenRefresher.h
  AppCheck/Sources/Core/TokenRefresh/GACAppCheckTokenRefresher.m
  AppCheck/Sources/DeviceCheckProvider/API/GACDeviceCheckAPIService.h
  AppCheck/Sources/DeviceCheckProvider/API/GACDeviceCheckAPIService.m
  AppCheck/Sources/DeviceCheckProvider/DCDevice+GACDeviceCheckTokenGenerator.h
  AppCheck/Sources/DeviceCheckProvider/DCDevice+GACDeviceCheckTokenGenerator.m
  AppCheck/Sources/DeviceCheckProvider/GACDeviceCheckProvider.m
  AppCheck/Sources/DeviceCheckProvider/GACDeviceCheckProviderFactory.m
  AppCheck/Sources/DeviceCheckProvider/GACDeviceCheckTokenGenerator.h
  AppCheck/Sources/Public/AppCheck/GACAppAttestProvider.h
  AppCheck/Sources/Public/AppCheck/GACAppCheckAvailability.h
  AppCheck/Sources/Public/AppCheck/GACDeviceCheckProvider.h
  AppCheck/Sources/Public/AppCheck/GACDeviceCheckProviderFactory.h
  FirebaseAppCheck.podspec
Labels: api: appcheck

#11230 [Crashlytics] Fix Xcode 14.3 Analyzer issues
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Unwind/Dwarf/FIRCLSDwarfUnwind.c
Labels: api: crashlytics

#11258 [auth-swift] PhoneMultiFactorGenerator.swift and more cleanup
  FirebaseAuth/Sources/MultiFactor/Phone/FIRPhoneMultiFactorAssertion+Internal.h
  FirebaseAuth/Sources/MultiFactor/Phone/FIRPhoneMultiFactorAssertion.m
  FirebaseAuth/Sources/MultiFactor/Phone/FIRPhoneMultiFactorGenerator.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRPhoneMultiFactorGenerator.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.h
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactorAssertion.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactorInfo.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactorSession.swift
  FirebaseAuth/Sources/Swift/MultiFactor/Phone/PhoneMultiFactorAssertion.swift
  FirebaseAuth/Sources/Swift/MultiFactor/Phone/PhoneMultiFactorGenerator.swift
  FirebaseAuth/Sources/Swift/MultiFactor/Phone/PhoneMultiFactorInfo.swift
Labels: api: auth, public-api-change

#11127 [ SignIn#1]Adding sign-in related public header files for TOTP support
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRTOTPMultiFactorAssertion.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRTOTPMultiFactorGenerator.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.h
Labels: api: auth, public-api-change

#11128 [ SignIn#2]Update Finalize MFA Sign In request to accommodates TOTP request
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/SignIn/FIRFinalizeMFASignInRequest.h
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/SignIn/FIRFinalizeMFASignInRequest.m
  FirebaseAuth/Sources/Backend/RPC/Proto/TOTP/FIRAuthProtoFinalizeMFATOTPSignInRequestInfo.h
  FirebaseAuth/Sources/Backend/RPC/Proto/TOTP/FIRAuthProtoFinalizeMFATOTPSignInRequestInfo.m
  FirebaseAuth/Tests/Unit/FIRFinalizeMFASignInRequestTests.m
Labels: api: auth

#11263 [auth-swift] unowned instead of weak for holding app in the component
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Auth/AuthComponent.swift
Labels: api: auth

#11267 [App Check] Rename FIR symbols in unit tests for generic SDK
  AppCheck.podspec
  AppCheck/Tests/Integration/GACDeviceCheckAPIServiceE2ETests.m
  AppCheck/Tests/Unit/AppAttestProvider/GACAppAttestAPIServiceTests.m
  AppCheck/Tests/Unit/AppAttestProvider/GACAppAttestProviderTests.m
  AppCheck/Tests/Unit/AppAttestProvider/Storage/GACAppAttestArtifactStorageTests.m
  AppCheck/Tests/Unit/AppAttestProvider/Storage/GACAppAttestKeyIDStorageTests.m
  AppCheck/Tests/Unit/Core/GACAppCheckAPIServiceTests.m
  AppCheck/Tests/Unit/Core/GACAppCheckIntegrationTests.m
  AppCheck/Tests/Unit/Core/GACAppCheckTests.m
  AppCheck/Tests/Unit/Core/GACAppCheckTimerTests.m
  AppCheck/Tests/Unit/Core/GACAppCheckTokenRefresherTests.m
  AppCheck/Tests/Unit/DeviceCheckProvider/GACDeviceCheckAPIServiceTests.m
  AppCheck/Tests/Unit/DeviceCheckProvider/GACDeviceCheckProviderTests.m
  AppCheck/Tests/Unit/Utils/GACFakeTimer.h
  AppCheck/Tests/Unit/Utils/GACFakeTimer.m
  AppCheck/Tests/Unit/Utils/GACFixtureLoader.h
  AppCheck/Tests/Unit/Utils/GACFixtureLoader.m
Labels: api: appcheck

#11269 Replace GACAppCheckLogger macros with NSLog wrappers
  AppCheck/Sources/AppAttestProvider/GACAppAttestProvider.m
  AppCheck/Sources/Core/APIService/GACAppCheckAPIService.m
  AppCheck/Sources/Core/GACAppCheck.m
  AppCheck/Sources/Core/GACAppCheckLogger.h
  AppCheck/Sources/Core/GACAppCheckLogger.m
  AppCheck/Sources/DebugProvider/GACAppCheckDebugProvider.m
  AppCheck/Sources/DebugProvider/GACAppCheckDebugProviderFactory.m
  AppCheck/Sources/DeviceCheckProvider/GACDeviceCheckProvider.m
Labels: api: appcheck

#11273 Remove Firebase-specific implementation in GACAppCheckStorage
  AppCheck/Sources/Core/GACAppCheck.m
  AppCheck/Sources/Core/Storage/GACAppCheckStorage.h
  AppCheck/Sources/Core/Storage/GACAppCheckStorage.m
  AppCheck/Sources/DebugProvider/GACAppCheckDebugProvider.m
  AppCheck/Tests/Unit/Core/GACAppCheckStorageTests.m
  AppCheck/Tests/Unit/Core/GACAppCheckTests.m
Labels: api: appcheck

#11262 [auth-swift] MultiFactorResolver.swift and MultiFactor.swift
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactor+Internal.h
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactor.m
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactorResolver+Internal.h
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactorResolver.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactor.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactorResolver.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.h
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/Enroll/FinalizeMFAEnrollmentRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/Enroll/FinalizeMFAEnrollmentResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/SignIn/FinalizeMFASignInRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/Unenroll/WithdrawMFARequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/Unenroll/WithdrawMFAResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/Proto/AuthProtoMFAEnrollment.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactor.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactorInfo.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactorResolver.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactorSession.swift
  FirebaseAuth/Sources/Swift/MultiFactor/Phone/PhoneMultiFactorAssertion.swift
  FirebaseAuth/Sources/Swift/MultiFactor/Phone/PhoneMultiFactorGenerator.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrorUtils.swift
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Auth.h
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Google.m
  FirebaseAuth/Tests/Unit/FIRAdditionalUserInfoTests.m
  FirebaseAuth/Tests/Unit/FIRMultiFactorResolverTests.m
  FirebaseAuth/Tests/Unit/FIRUserMetadataTests.m
  FirebaseAuth/Tests/Unit/MultiFactorResolverTests.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth, public-api-change

#11236 Api Diff Report CI
  .github/workflows/api_diff_report.yml
  scripts/api_diff_report/api_diff_report.py
  scripts/api_diff_report/api_info.py
  scripts/api_diff_report/pr_commenter.py
  scripts/api_diff_report/prerequisite.sh
  scripts/api_diff_report/theme/templates/deprecation.mustache
  scripts/api_diff_report/theme/templates/doc.mustache
  scripts/api_diff_report/theme/templates/footer.mustache
  scripts/api_diff_report/theme/templates/header.mustache
  scripts/api_diff_report/theme/templates/nav.mustache
  scripts/api_diff_report/theme/templates/parameter.mustache
  scripts/api_diff_report/theme/templates/task.mustache
  scripts/api_diff_report/theme/templates/tasks.mustache
Labels: api: appcheck

#11274 [auth-swift] AuthUIDelegate.swift
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthUIDelegate.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.h
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthDefaultUIDelegate.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthUIDelegate.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth, public-api-change

#11276 Patch LevelDB so Firestore can support international paths on Windows
  cmake/external/leveldb-1.22_windows_paths.patch
  cmake/external/leveldb-1.23_windows_paths.patch
  cmake/external/leveldb.cmake
  cmake/external/leveldb_patch.py
  scripts/check_whitespace.sh
Labels: api: firestore

#11278 [auth-swift] AuthSettings.swift
  FirebaseAuth/Sources/Auth/FIRAuthSettings.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthSettings.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.h
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Auth/AuthSettings.swift
  FirebaseAuth/Tests/Unit/PhoneAuthProviderTests.swift
Labels: api: auth, public-api-change

#11279 [auth-swift] CocoaPods Swift-only sources
  FirebaseAuth.podspec
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
Labels: api: auth

#11280 [auth-swift] Restore SPM
  .github/workflows/auth.yml
  .github/workflows/spm.yml
  FirebaseAuth.podspec
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Auth/AuthComponent.swift
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/Backend/AuthRequestConfiguration.swift
  FirebaseAuth/Sources/Swift/Storage/AuthKeychainServices.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthNotificationManager.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthDefaultUIDelegate.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthLog.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthUIDelegate.swift
  FirebaseAuth/Tests/Unit/AuthBackendRPCImplentationTests.swift
  FirebaseAuth/Tests/Unit/AuthProviderIDTests.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
  FirebaseAuth/Tests/UnitObjC/FIRAdditionalUserInfoTests.m
  FirebaseAuth/Tests/UnitObjC/FIRApp+FIRAuthUnitTests.h
  FirebaseAuth/Tests/UnitObjC/FIRApp+FIRAuthUnitTests.m
  FirebaseAuth/Tests/UnitObjC/FIRAuthAPNSTokenManagerTests.m
  FirebaseAuth/Tests/UnitObjC/FIRAuthAPNSTokenTests.m
  FirebaseAuth/Tests/UnitObjC/FIRAuthAppCredentialTests.m
  FirebaseAuth/Tests/UnitObjC/FIRAuthDispatcherTests.m
  FirebaseAuth/Tests/UnitObjC/FIRAuthLifeCycleTests.m
  FirebaseAuth/Tests/UnitObjC/FIRAuthUserDefaultsTests.m
  FirebaseAuth/Tests/UnitObjC/FIRGitHubAuthProviderTests.m
  FirebaseAuth/Tests/UnitObjC/FIRIdentityToolkitRequestTests.m
  FirebaseAuth/Tests/UnitObjC/FIRSecureTokenRequestTests.m
  FirebaseAuth/Tests/UnitObjC/FIRTwitterAuthProviderTests.m
  FirebaseAuth/Tests/UnitObjC/FIRUserMetadataTests.m
  FirebaseCombineSwift/Sources/Auth/Auth+Combine.swift
  FirebaseCore/Extension/FIRHeartbeatLogger.h
  Package.swift
  SwiftPMTests/ClientApp/ClientApp/objc-header-import-test.m
  SwiftPMTests/objc-import-test/objc-header.m
Labels: api: core, api: auth

#11283 [auth-swift] AdditionalUserInfoTests.swift
  FirebaseAuth/Sources/Swift/User/AdditionalUserInfo.swift
  FirebaseAuth/Tests/Unit/AdditionalUserInfoTests.swift
  FirebaseAuth/Tests/Unit/UserTests.swift
  FirebaseAuth/Tests/UnitObjC/FIRAdditionalUserInfoTests.m
Labels: api: auth

#11288 [App Check] Expose `initWithApp:appCheckProvider:`
  AppCheck.podspec
  AppCheck/Sources/Core/GACAppCheck+Internal.h
  AppCheck/Sources/Core/GACAppCheck.m
  AppCheck/Sources/DeviceCheckProvider/GACDeviceCheckProviderFactory.m
  AppCheck/Sources/Public/AppCheck/GACAppCheck.h
  AppCheck/Tests/Unit/Core/GACAppCheckIntegrationTests.m
  AppCheck/Tests/Unit/Core/GACAppCheckTests.m
  AppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
  AppCheckInterop.podspec
Labels: api: appcheck

#11290 Remove AppCheckProviderFactory from App Check Lite
  AppCheck/Sources/Core/GACAppCheckLogger.h
  AppCheck/Sources/Core/GACAppCheckLogger.m
  AppCheck/Sources/DebugProvider/GACAppCheckDebugProviderFactory.m
  AppCheck/Sources/DeviceCheckProvider/GACDeviceCheckProviderFactory.m
  AppCheck/Sources/Public/AppCheck/AppCheck.h
  AppCheck/Sources/Public/AppCheck/GACAppCheckDebugProviderFactory.h
  AppCheck/Sources/Public/AppCheck/GACAppCheckProviderFactory.h
  AppCheck/Sources/Public/AppCheck/GACDeviceCheckProviderFactory.h
  AppCheck/Tests/Unit/Core/GACAppCheckIntegrationTests.m
  AppCheck/Tests/Unit/DebugProvider/GACAppCheckDebugProviderFactoryTests.m
Labels: api: appcheck

#11295 Update CHANGELOGs for M132 (10.10.0)
  Crashlytics/CHANGELOG.md
Labels: api: crashlytics

#11297 Analytics 10.10.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#11291 Extract Firebase-specific identifiers from GACAppAttestAPIService
  AppCheck/Sources/AppAttestProvider/API/GACAppAttestAPIService.h
  AppCheck/Sources/AppAttestProvider/API/GACAppAttestAPIService.m
  AppCheck/Sources/AppAttestProvider/GACAppAttestProvider.m
  AppCheck/Tests/Unit/AppAttestProvider/GACAppAttestAPIServiceTests.m
Labels: api: appcheck

#11298 [App Check] Always return fresh limitedUseToken
  FirebaseAppCheck/Sources/Core/FIRAppCheck.m
Labels: api: appcheck

#11270 Firebase App Check One-time Use Tokens for Callable Functions SDK
  FirebaseAppCheck/Interop/FIRAppCheckInterop.h
  FirebaseAppCheck/Sources/Core/FIRAppCheck.m
  FirebaseFunctions.podspec
  FirebaseFunctions/CHANGELOG.md
  FirebaseFunctions/Sources/Functions.swift
  FirebaseFunctions/Sources/HTTPSCallable.swift
  FirebaseFunctions/Sources/HTTPSCallableOptions.swift
  FirebaseFunctions/Sources/Internal/FunctionsContext.swift
  FirebaseFunctions/Tests/CombineUnit/HTTPSCallableTests.swift
  FirebaseFunctions/Tests/ObjCIntegration/ObjCAPITests.m
  FirebaseFunctions/Tests/ObjCIntegration/ObjCPPAPITests.mm
  FirebaseFunctions/Tests/Unit/FunctionsTests.swift
  SharedTestUtilities/AppCheckFake/FIRAppCheckFake.h
  SharedTestUtilities/AppCheckFake/FIRAppCheckFake.m
Labels: api: functions, public-api-change, api: appcheck

#11281 Suppress warning from boringssl
  CMakeLists.txt
  Firestore/Example/Tests/Integration/API/FIRAggregateTests.mm
Labels: api: firestore

#11308 Integrate FirebaseAppCheck changes into AppCheck
  AppCheck/Interop/GACAppCheckInterop.h
  AppCheck/Sources/Core/GACAppCheck.m
  AppCheck/Sources/Public/AppCheck/GACAppCheck.h
  AppCheck/Tests/Utils/AppCheckFake/GACAppCheckFake.h
  AppCheck/Tests/Utils/AppCheckFake/GACAppCheckFake.m
Labels: api: appcheck

#11307 [App Check] Merge latest FirebaseAppCheck changes from master
  FirebaseAppCheck/Interop/FIRAppCheckInterop.h
  FirebaseAppCheck/Sources/Core/FIRAppCheck.m
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppCheck.h
  Package.swift
  SharedTestUtilities/AppCheckFake/FIRAppCheckFake.h
  SharedTestUtilities/AppCheckFake/FIRAppCheckFake.m
Labels: public-api-change, api: appcheck

#11318 [Docs] Fix 'intializer' typos in repo
  FirebaseCore/Internal/Sources/HeartbeatLogging/Heartbeat.swift
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatController.swift
  FirebaseDatabase/Sources/Api/FIRDatabaseComponent.m
  FirebaseFunctions/Sources/HTTPSCallableOptions.swift
  FirebaseMessaging/Sources/Token/FIRMessagingTokenManager.h
Labels: api: core, api: database, api: messaging, api: functions

#11320 [Release] Update Carthage artifacts for Firebase 10.10.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#11317 Add better warning for misspelled files
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Sources/FIRApp.m
Labels: api: core

#11327 [Release] Update versions for Release 10.11.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#11331 [auth-swift] AuthAPNSTokenManagerTests.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseAuth/Sources/Swift/User/AdditionalUserInfo.swift
  FirebaseAuth/Tests/Unit/AuthAPNSTokenManagerTests.swift
  FirebaseAuth/Tests/UnitObjC/FIRAuthAPNSTokenManagerTests.m
  Package.swift
Labels: api: auth

#11334 Extract Firebase-specific symbols from GACAppAttestArtifactStorage
  AppCheck.podspec
  AppCheck/Sources/AppAttestProvider/GACAppAttestProvider.m
  AppCheck/Sources/AppAttestProvider/Storage/GACAppAttestArtifactStorage.h
  AppCheck/Sources/AppAttestProvider/Storage/GACAppAttestArtifactStorage.m
  AppCheck/Tests/Unit/AppAttestProvider/Storage/GACAppAttestArtifactStorageTests.m
  AppCheckInterop.podspec
  FirebaseAppCheck.podspec
Labels: api: appcheck

#11335 [auth-swift] AuthAPNSTokenTests.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSToken.swift
  FirebaseAuth/Tests/Unit/AuthAPNSTokenTests.swift
  FirebaseAuth/Tests/UnitObjC/FIRAuthAPNSTokenTests.m
Labels: api: auth

#11259 Save activated ExperimentsDescriptions in DB
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.m
  FirebaseRemoteConfig/Sources/RCNConfigDefines.h
  FirebaseRemoteConfig/Sources/RCNConfigExperiment.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigDBManagerTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigExperimentTest.m
Labels: api: remoteconfig

#11336 [auth-swift] AuthAppCredentialTests.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAppCredential.swift
  FirebaseAuth/Tests/Unit/AuthAppCredentialTests.swift
  FirebaseAuth/Tests/UnitObjC/FIRAuthAppCredentialTests.m
Labels: api: auth

#11339 [auth-swift] AuthDispatcherTests.swift
  FirebaseAuth/Sources/Swift/Auth/AuthDispatcher.swift
  FirebaseAuth/Tests/Unit/AuthDispatcherTests.swift
  FirebaseAuth/Tests/UnitObjC/FIRAuthDispatcherTests.m
Labels: api: auth

#11289 Progress closure for async/await APIs
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/AsyncAwait.swift
  FirebaseStorage/Tests/Integration/StorageAsyncAwait.swift
Labels: api: storage

#11340 Remove FIRApp dependencies from GACAppAttestProvider
  AppCheck/Sources/AppAttestProvider/API/GACAppAttestAPIService.m
  AppCheck/Sources/AppAttestProvider/GACAppAttestProvider.m
  AppCheck/Sources/Core/APIService/GACAppCheckAPIService.h
  AppCheck/Sources/Core/GACAppCheckSettings.m
  AppCheck/Sources/Public/AppCheck/GACAppAttestProvider.h
  AppCheck/Sources/Public/AppCheck/GACAppCheckProvider.h
  AppCheck/Sources/Public/AppCheck/GACAppCheckSettings.h
  AppCheck/Tests/Unit/AppAttestProvider/GACAppAttestProviderTests.m
  AppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
Labels: api: appcheck

#11341 [auth-swift] AuthLifecycleTests.swift
  FirebaseAuth/Tests/Unit/AuthDispatcherTests.swift
  FirebaseAuth/Tests/Unit/AuthLifecycleTests.swift
  FirebaseAuth/Tests/UnitObjC/FIRAuthLifeCycleTests.m
Labels: api: auth

#11343 [auth-swift] AuthUserDefaultsTests.swift
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Storage/AuthKeychainServices.swift
  FirebaseAuth/Sources/Swift/Storage/AuthSharedKeychainServices.swift
  FirebaseAuth/Sources/Swift/Storage/AuthStorage.swift
  FirebaseAuth/Sources/Swift/Storage/AuthUserDefaults.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAppCredentialManager.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthStoredUserManager.swift
  FirebaseAuth/Tests/Unit/AuthKeychainServicesTests.swift
  FirebaseAuth/Tests/Unit/AuthLifecycleTests.swift
  FirebaseAuth/Tests/Unit/AuthUserDefaultsTests.swift
  FirebaseAuth/Tests/Unit/Fakes/FakeAuthKeychainServices.swift
  FirebaseAuth/Tests/UnitObjC/FIRAuthUserDefaultsTests.m
Labels: api: auth

#11346 [auth-swift] IdentityToolkitRequestTests.swift
  FirebaseAuth/Tests/Unit/GetOOBConfirmationCodeTests.swift
  FirebaseAuth/Tests/Unit/IdentityToolkitRequestTests.swift
  FirebaseAuth/Tests/UnitObjC/FIRApp+FIRAuthUnitTests.h
  FirebaseAuth/Tests/UnitObjC/FIRApp+FIRAuthUnitTests.m
  FirebaseAuth/Tests/UnitObjC/FIRIdentityToolkitRequestTests.m
Labels: api: auth

#11348 [auth-swift] Finish unit test Swiftification
  FirebaseAuth.podspec
  FirebaseAuth/Tests/Unit/SecureTokenRequestTests.swift
  FirebaseAuth/Tests/Unit/UserMetadataTests.swift
  FirebaseAuth/Tests/UnitObjC/FIRSecureTokenRequestTests.m
  FirebaseAuth/Tests/UnitObjC/FIRUserMetadataTests.m
  FirebaseAuth/Tests/UnitObjC/ObjCAPITests.m
Labels: api: auth

#11344 Fix zip build break
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/AsyncAwait.swift
Labels: api: storage

#11349 [App Check] Remove Firebase specifics from Debug Provider
  AppCheck/Sources/DebugProvider/API/GACAppCheckDebugProviderAPIService.h
  AppCheck/Sources/DebugProvider/API/GACAppCheckDebugProviderAPIService.m
  AppCheck/Sources/DebugProvider/GACAppCheckDebugProvider.m
  AppCheck/Sources/Public/AppCheck/GACAppCheckDebugProvider.h
  AppCheck/Tests/Unit/DebugProvider/GACAppCheckDebugProviderAPIServiceTests.m
  AppCheck/Tests/Unit/DebugProvider/GACAppCheckDebugProviderTests.m
  AppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
Labels: api: appcheck

#11353 Fix an issue where TargetIndexMatcher rejects valid queries.
  Firestore/core/src/model/target_index_matcher.cc
  Firestore/core/test/unit/local/leveldb_index_manager_test.cc
  Firestore/core/test/unit/model/target_index_matcher_test.cc
Labels: api: firestore

#11357 [auth-swift] AuthTests.swift - 15 more unit tests
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthCredential.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Tests/Unit/AdditionalUserInfoTests.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
  FirebaseAuth/Tests/Unit/UserTests.swift
Labels: api: auth

#11342 Safe cast for number of aggregations to fix compilation warning.
  Firestore/CHANGELOG.md
  Firestore/core/src/remote/remote_objc_bridge.cc
Labels: api: firestore

#11360 More AuthTests.swift implementation
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
Labels: api: auth

#11358 Add CI infrastructure for App Check Core
  .github/workflows/app_check.yml
  AppCheck/Sources/Core/GACAppCheck.m
  AppCheck/Sources/Public/AppCheck/GACAppCheck.h
  AppCheck/Tests/Unit/Core/GACAppCheckSettingsTests.m
  AppCheck/Tests/Unit/Core/GACAppCheckTests.m
  AppCheck/Tests/Unit/DebugProvider/GACAppCheckDebugProviderAPIServiceTests.m
  AppCheck/Tests/Unit/DeviceCheckProvider/GACDeviceCheckAPIServiceTests.m
  AppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
  Package.swift
  scripts/spm_test_schemes/AppCheckUnit.xcscheme
  scripts/spm_test_schemes/AppCheckUnitSwift.xcscheme
Labels: api: appcheck

#11368 Remove Firebase specifics from `GACAppCheck`
  AppCheck.podspec
  AppCheck/Interop/GACAppCheckInterop.h
  AppCheck/Sources/Core/GACAppCheck.m
  AppCheck/Sources/Core/GACAppCheckLogger.m
  AppCheck/Sources/Core/GACAppCheckValidator.h
  AppCheck/Sources/Core/GACAppCheckValidator.m
  AppCheck/Sources/Core/Storage/GACAppCheckStoredToken.h
  AppCheck/Sources/Public/AppCheck/GACAppCheck.h
  AppCheck/Tests/Unit/Core/GACAppCheckTests.m
  AppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
  AppCheck/Tests/Utils/AppCheckFake/GACAppCheckFake.m
Labels: api: appcheck

#11369 Typo fix: query_core.h
  Firestore/core/src/api/query_core.h
Labels: api: firestore

#11216 Fixing threading-related hang during initialization in urgent mode
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Controllers/FIRCLSReportUploader.m
  Crashlytics/UnitTests/Data/GoogleService-Info.plist
  Crashlytics/UnitTests/FIRCLSReportUploaderTests.m
Labels: api: crashlytics
