Repository firebase/firebase-ios-sdk, pull requests merged in 2023-01, with the labels that each got.

#10579 Fix overlay patch mutation bug
  Firestore/CHANGELOG.md
  Firestore/core/src/local/local_documents_view.cc
  Firestore/core/src/model/overlayed_document.h
  Firestore/core/test/unit/local/counting_query_engine.cc
  Firestore/core/test/unit/local/counting_query_engine.h
  Firestore/core/test/unit/local/leveldb_local_store_test.cc
  Firestore/core/test/unit/local/local_store_test.cc
  Firestore/core/test/unit/local/local_store_test.h
  Firestore/core/test/unit/testutil/testutil.h
Labels: api: firestore

#10634 [Crashlytics]Fix crashlytics unit test directory
  Crashlytics/UnitTests/FIRCLSMachO/FIRCLSMachOBinaryTests.m
  Crashlytics/UnitTests/FIRCLSMachO/FIRCLSMachOTests.m
  Crashlytics/UnitTests/FIRCLSMachO/FIRCLSdSYMTests.m
  Crashlytics/UnitTests/FIRCLSMachO/machO_data/armv7-armv7s-arm64.dylib
  Crashlytics/UnitTests/FIRCLSMachO/machO_data/armv7-armv7s-executable
  Crashlytics/UnitTests/FIRCLSMachO/machO_data/armv7-armv7s.dSYM/Contents/Info.plist
  Crashlytics/UnitTests/FIRCLSMachO/machO_data/armv7-armv7s.dSYM/Contents/Resources/DWARF/CrashTest
  Crashlytics/UnitTests/FIRCLSMachO/machO_data/armv7k
  Crashlytics/UnitTests/FIRCLSMachO/machO_data/i386-simulator.dSYM/Contents/Info.plist
  Crashlytics/UnitTests/FIRCLSMachO/machO_data/i386-simulator.dSYM/Contents/Resources/DWARF/CrashTest
  Crashlytics/UnitTests/FIRCLSMachO/machO_data/tvos-binary
  Crashlytics/UnitTests/FIRCLSMachO/machO_data/tvsimulator-binary
  Crashlytics/UnitTests/FIRCLSMachO/machO_data/watchOS-simulator
  Crashlytics/UnitTests/FIRCLSMachO/machO_data/x86_64-executable
  FirebaseCrashlytics.podspec
  Package.swift
Labels: api: crashlytics

#10633 Fix secure coding bugs in MFA
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactor.m
  FirebaseAuth/Sources/User/FIRUser.m
Labels: api: auth

#10483 Realtime rc backoff
  FirebaseRemoteConfig/Sources/Private/RCNConfigSettings.h
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
  FirebaseRemoteConfig/Sources/RCNConfigSettings.m
  FirebaseRemoteConfig/Sources/RCNUserDefaultsManager.h
  FirebaseRemoteConfig/Sources/RCNUserDefaultsManager.m
  FirebaseRemoteConfig/Tests/Unit/RCNUserDefaultsManagerTests.m
Labels: api: remoteconfig

#10628 added handling of error returned from a blocking cloud function
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthErrors.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.m
  FirebaseAuth/Sources/Utilities/FIRAuthInternalErrors.h
Labels: api: auth

#10578 Return ConfigUpdate to realtime listeners
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/FIRRemoteConfigUpdate.m
  FirebaseRemoteConfig/Sources/Private/FIRRemoteConfig_Private.h
  FirebaseRemoteConfig/Sources/Private/RCNConfigFetch.h
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
  FirebaseRemoteConfig/Sources/RCNConfigContent.h
  FirebaseRemoteConfig/Sources/RCNConfigContent.m
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.h
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/ViewController.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigContentTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNPersonalizationTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
  FirebaseRemoteConfigSwift/Tests/ObjC/FetchMocks.m
Labels: api: remoteconfig, public-api-change

#10653 [Auth Exchange] Add Duration parser from swift-protobuf
  FirebaseAuthExchange/Apps/AuthExchange/AuthExchange/AuthExchangeApp.swift
  FirebaseAuthExchange/Apps/AuthExchange/Podfile
  FirebaseAuthExchange/Apps/ObjcSample/ObjcSample/main.m
  FirebaseAuthExchange/Apps/ObjcSample/Podfile
  FirebaseAuthExchange/Sources/third_party/swift_protobuf/LICENSE
  FirebaseAuthExchange/Sources/third_party/swift_protobuf/METADATA
  FirebaseAuthExchange/Sources/third_party/swift_protobuf/ProtobufDurationUtil.swift
  scripts/check_imports.swift
Labels: api: auth, codeapprove

#10657 Delete extra copies of the Crashlytics tools for testapps
  Crashlytics/generate_project.sh
  FirebaseSessions/generate_testapp.sh
Labels: api: crashlytics

#10658 Analytics 10.4.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#10635 Expose only needed error codes
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthErrors.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.m
  FirebaseAuth/Sources/Utilities/FIRAuthInternalErrors.h
  FirebaseAuth/Tests/Sample/SwiftApiTests/SwiftAPI.swift
Labels: api: auth, public-api-change

#10663 FirebaseAuth changelog update for 10.4.0
  FirebaseAuth/CHANGELOG.md
Labels: api: auth

#10662 [Release] Update CHANGELOGs for 10.4.0 release
  Crashlytics/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: firestore, api: crashlytics

#10667 [Infra] Remove firebase-ios-sdk package from messaging sample app
  FirebaseMessaging/Apps/SampleStandaloneWatchApp/SampleStandaloneWatchApp.xcodeproj/project.pbxproj
  FirebaseMessaging/Apps/SampleStandaloneWatchApp/SampleStandaloneWatchAppWatchApp/SampleStandaloneWatchAppApp.swift
Labels: api: messaging

#10665 Add Sessions Internal API
  FirebaseSessions.podspec
  FirebaseSessions/Sources/FirebaseSessions.swift
  FirebaseSessions/Sources/Public/SessionsDependencies.swift
  FirebaseSessions/Sources/Public/SessionsProvider.swift
  FirebaseSessions/Sources/Public/SessionsSubscriber.swift
  FirebaseSessions/Sources/SessionGenerator.swift
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/Tests/Unit/SessionGeneratorTests.swift
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
  Package.swift
Labels: api: crashlytics, sessions

#10677 Fix misplaced return after error
  FirebaseAuth/Sources/AuthProvider/Phone/FIRPhoneAuthProvider.m
Labels: api: auth

#10681 Remove unused dependency
  FirebaseAppDistribution.podspec
  Package.swift
Labels: api: appdistribution

#10683 Rename updatedParams to updatedKeys
  FirebaseRemoteConfig/Sources/FIRRemoteConfigUpdate.m
  FirebaseRemoteConfig/Sources/Private/FIRRemoteConfig_Private.h
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
  FirebaseRemoteConfig/Sources/RCNConfigContent.m
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
  FirebaseRemoteConfig/Tests/Sample/RemoteConfigSampleApp/ViewController.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigContentTest.m
Labels: api: remoteconfig, public-api-change

#10680 Add test for missing SessionCoordinator code coverage
  FirebaseSessions/Tests/Unit/SessionCoordinatorTests.swift
Labels: sessions

#10701 [Release] Carthage artifacts for 10.4.0 / M126
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#10692 Make Firebase Performance initialize using Component system.
  FirebasePerformance/Sources/FPRClient+Private.h
  FirebasePerformance/Sources/FPRClient.m
  FirebasePerformance/Tests/Unit/FPRClientTest.m
Labels: api: performance

#10706 change sessionId from the subscriber payload to public
  FirebaseSessions/Sources/Public/SessionsSubscriber.swift
Labels: sessions

#10682 Add required dependency between Crashlytics and Session
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/FIRCrashlytics.m
  FirebaseCrashlytics.podspec
  Package.swift
Labels: api: crashlytics, sessions

#10666 [Auth Exchange] Add a model for an ExchangeTokenResponse
  Crashlytics/Crashlytics/Helpers/FIRCLSDefines.h
  FirebaseAuthExchange/Sources/Models/ExchangeServiceModels.swift
  FirebaseAuthExchange/Tests/Unit/ExchangeServiceModelTests.swift
Labels: api: auth, api: crashlytics

#10704 Add required dependency between Performance and Sessions
  FirebasePerformance.podspec
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/FPRClient.m
  Package.swift
Labels: api: performance, sessions

#10713 Update Realtime RC service URL.
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
Labels: api: remoteconfig

#10712 Remove unused methods in FIROptions
  FirebaseCore/Extension/FIROptionsInternal.h
  FirebaseCore/Sources/FIROptions.m
Labels: api: core

#10721 Changes to build with pod gen on mac
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthBackend.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactor.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRMultiFactorResolver.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
  FirebaseAuth/Sources/Swift/Auth/ActionCodeSettings.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/AuthRequestConfiguration.swift
  FirebaseAuth/Sources/SystemService/FIRAuthAppCredentialManager.h
  FirebaseAuth/Sources/SystemService/FIRAuthAppCredentialManager.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Sources/User/FIRUser_Internal.h
  FirebaseAuth/Sources/Utilities/FIRAuthURLPresenter.m
  FirebaseAuth/Tests/Unit/FIRAuthBackendRPCImplementationTests.m
  FirebaseCombineSwift/Tests/Unit/FirebaseCombine-unit-Bridging-Header.h
Labels: api: auth, public-api-change

#10729 [Infra] Ignore deprecations in test utility
  FirebaseInstallations/Source/Tests/Utils/FIRTestKeychain.m
Labels: api: installations

#10735 Fix build warnings and style
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.h
  FirebaseAuth/Sources/Swift/Storage/AuthKeychainServices.swift
  FirebaseAuth/Sources/Swift/Storage/AuthUserDefaults.swift
  FirebaseAuth/Tests/Unit/FIRAuthUserDefaultsTests.m
Labels: api: auth, public-api-change

#10609 Add Storage API to limit upload chunk size
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Sources/StorageUploadTask.swift
  FirebaseStorage/Tests/Integration/StorageIntegration.swift
Labels: api: storage

#10711 Integrate sessionID from SessionsSDK into FireperfSDK
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/AppActivity/FPRAppActivityTracker.m
  FirebasePerformance/Sources/AppActivity/FPRSessionDetails.h
  FirebasePerformance/Sources/AppActivity/FPRSessionDetails.m
  FirebasePerformance/Sources/AppActivity/FPRSessionManager+Private.h
  FirebasePerformance/Sources/AppActivity/FPRSessionManager.h
  FirebasePerformance/Sources/AppActivity/FPRSessionManager.m
  FirebasePerformance/Sources/FPRClient.m
  FirebasePerformance/Sources/Instrumentation/FPRNetworkTrace.m
  FirebasePerformance/Sources/Timer/FIRTrace.m
  FirebasePerformance/Tests/Unit/FPRNetworkTraceTest.m
  FirebasePerformance/Tests/Unit/FPRSessionDetailsTest.m
  FirebasePerformance/Tests/Unit/FPRSessionManagerTest.m
  FirebasePerformance/Tests/Unit/Timer/FIRTraceTest.m
Labels: api: performance, sessions

#10740 [Messaging] - Fix crash for strongSelf dereference
  FirebaseMessaging/Sources/NSError+FIRMessaging.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenManager.m
Labels: api: messaging

#10753 Disable breaking out-of-date Facebook Auth integration tests
  FirebaseAuth/Tests/Sample/ApiTests/FacebookAuthTests.m
  FirebaseAuth/Tests/Sample/SwiftApiTests/FacebookTests.swift
Labels: api: auth

#10750 Fix a crash on FIRCLSFileWriteString
  Crashlytics/Crashlytics/Components/FIRCLSContext.m
Labels: api: crashlytics

#10756 Compare p13n metadata values as dictionaries.
  FirebaseRemoteConfig/Sources/RCNConfigContent.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigContentTest.m
Labels: api: remoteconfig

#10759 [Auth] Add 'kSecUseDataProtectionKeychain' flag to keychain access
  FirebaseAuth.podspec
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Storage/FIRAuthKeychainServices.m
Labels: api: auth

#10441 Use team player ID, game player ID and fetchItems for signature verification
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/AuthProvider/GameCenter/FIRGameCenterAuthCredential.h
  FirebaseAuth/Sources/AuthProvider/GameCenter/FIRGameCenterAuthCredential.m
  FirebaseAuth/Sources/AuthProvider/GameCenter/FIRGameCenterAuthProvider.m
  FirebaseAuth/Sources/Backend/RPC/FIRSignInWithGameCenterRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRSignInWithGameCenterRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRSignInWithGameCenterResponse.h
  FirebaseAuth/Sources/Backend/RPC/FIRSignInWithGameCenterResponse.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/FIRSignInWithGameCenterTests.m
Labels: api: auth, do-not-merge

#10705 Update CHANGELOG.md for 10.5.0
  FirebaseAuth/CHANGELOG.md
Labels: api: auth
