Repository firebase/firebase-ios-sdk, pull requests merged in 2023-02, with the labels that each got.

#10763 update missing changelog
  FirebaseMessaging/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: messaging, api: firestore, api: performance

#10715 Update Crashlytics SDK to send Session ID in crash reports
  Crashlytics/Crashlytics/Components/FIRCLSContext.h
  Crashlytics/Crashlytics/Components/FIRCLSContext.m
  Crashlytics/Crashlytics/Controllers/FIRCLSContextManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSContextManager.m
  Crashlytics/Crashlytics/Controllers/FIRCLSManagerData.h
  Crashlytics/Crashlytics/Controllers/FIRCLSManagerData.m
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.m
  Crashlytics/Crashlytics/FIRCrashlytics.m
  Crashlytics/Crashlytics/Models/Record/FIRCLSRecordIdentity.h
  Crashlytics/Crashlytics/Models/Record/FIRCLSRecordIdentity.m
  Crashlytics/Crashlytics/Models/Record/FIRCLSReportAdapter.m
  Crashlytics/UnitTests/FIRCLSContextManagerTests.m
  Crashlytics/UnitTests/FIRCLSOnDemandModelTests.m
  Crashlytics/UnitTests/FIRRecordExceptionModelTests.m
Labels: api: crashlytics, sessions

#10766 Fix typo in error message
  FirebaseAppCheck/Sources/Core/FIRAppCheck.m
Labels: api: appcheck

#10768 Fix build and disable broken Game Center Combine tests
  FirebaseCombineSwift/Tests/Unit/Auth/GameCenterAuthProviderTests.swift
  FirebaseCombineSwift/Tests/Unit/Auth/SignInWithGameCenterTests.swift
Labels: api: auth

#10761 Fix breif typo
  FirebaseAuth/Sources/Backend/RPC/FIRSignInWithGameCenterResponse.h
Labels: api: auth

#10770 Realtime RC 1P Bug Fix: Add checks for retryHttpConnection method
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
Labels: api: remoteconfig

#10745 Reduce memory usage by applying query check sooner
  Firestore/CHANGELOG.md
  Firestore/core/src/local/leveldb_remote_document_cache.cc
  Firestore/core/src/local/leveldb_remote_document_cache.h
  Firestore/core/src/local/local_documents_view.cc
  Firestore/core/src/local/memory_remote_document_cache.cc
  Firestore/core/src/local/memory_remote_document_cache.h
  Firestore/core/src/local/remote_document_cache.h
  Firestore/core/test/unit/local/counting_query_engine.cc
  Firestore/core/test/unit/local/counting_query_engine.h
  Firestore/core/test/unit/local/local_store_test.cc
  Firestore/core/test/unit/local/remote_document_cache_test.cc
Labels: api: firestore

#10773 Fix tester sign in URL
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
Labels: api: appdistribution

#10775 Add unreleased changes to FirebaseAppDistribution/CHANGELOG.md
  FirebaseAppDistribution/CHANGELOG.md
Labels: api: appdistribution

#10778 [auth-swift] Remove `module.modulemap` as it is unneeded
  FirebaseAuth.podspec
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.modulemap
  scripts/build_private_module_map.rb
Labels: api: auth

#10781 Fix unit test failure
  FirebaseAuth/Sources/Swift/Backend/IdentityToolkitRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetAccountInfoRequest.swift
  FirebaseAuth/Sources/Swift/Backend/VerifyClientRequest.swift
  FirebaseAuth/Tests/Unit/FIRIdentityToolkitRequestTests.m
Labels: api: auth

#10769 Update sampling to calculate per-run-of-app instead of per-session
  FirebaseSessions/Sources/FirebaseSessions.swift
  FirebaseSessions/Sources/SessionGenerator.swift
  FirebaseSessions/Tests/Unit/Library/FirebaseSessionsTestsBase.swift
  FirebaseSessions/Tests/Unit/SessionGeneratorTests.swift
Labels: sessions

#10660 [Sessions] Audit logging and update README with strategy
  FirebaseSessions/README.md
  FirebaseSessions/Sources/Development/DevEventConsoleLogger.swift
  FirebaseSessions/Sources/FirebaseSessions.swift
  FirebaseSessions/Sources/SessionCoordinator.swift
  FirebaseSessions/Sources/SessionStartEvent.swift
Labels: sessions

#10780 Added release note to update GTMSessionFetcher
  FirebaseStorage/CHANGELOG.md
Labels: api: storage

#10783 Fix typo.
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthErrors.h
Labels: api: auth, public-api-change

#10784 Add comments outlining the worries against using FirebaseSessionsEnabled
  FirebaseSessions/README.md
  FirebaseSessions/Sources/Settings/LocalOverrideSettings.swift
Labels: sessions

#10774 Make FetchType header capitalized to match backend
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
Labels: api: remoteconfig

#10787 Merge sessions-main with master
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Components/FIRCLSContext.h
  Crashlytics/Crashlytics/Components/FIRCLSContext.m
  Crashlytics/Crashlytics/Controllers/FIRCLSContextManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSContextManager.m
  Crashlytics/Crashlytics/Controllers/FIRCLSManagerData.h
  Crashlytics/Crashlytics/Controllers/FIRCLSManagerData.m
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.m
  Crashlytics/Crashlytics/FIRCrashlytics.m
  Crashlytics/Crashlytics/Models/Record/FIRCLSRecordIdentity.h
  Crashlytics/Crashlytics/Models/Record/FIRCLSRecordIdentity.m
  Crashlytics/Crashlytics/Models/Record/FIRCLSReportAdapter.m
  Crashlytics/UnitTests/FIRCLSContextManagerTests.m
  Crashlytics/UnitTests/FIRCLSOnDemandModelTests.m
  Crashlytics/UnitTests/FIRRecordExceptionModelTests.m
  FirebaseCrashlytics.podspec
  FirebasePerformance.podspec
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/AppActivity/FPRAppActivityTracker.m
  FirebasePerformance/Sources/AppActivity/FPRSessionDetails.h
  FirebasePerformance/Sources/AppActivity/FPRSessionDetails.m
  FirebasePerformance/Sources/AppActivity/FPRSessionManager+Private.h
  FirebasePerformance/Sources/AppActivity/FPRSessionManager.h
  FirebasePerformance/Sources/AppActivity/FPRSessionManager.m
  FirebasePerformance/Sources/FPRClient.m
  FirebasePerformance/Sources/Instrumentation/FPRNetworkTrace.m
  FirebasePerformance/Sources/Timer/FIRTrace.m
  FirebasePerformance/Tests/Unit/FPRNetworkTraceTest.m
  FirebasePerformance/Tests/Unit/FPRSessionDetailsTest.m
  FirebasePerformance/Tests/Unit/FPRSessionManagerTest.m
  FirebasePerformance/Tests/Unit/Timer/FIRTraceTest.m
  FirebaseSessions.podspec
  FirebaseSessions/Sources/Public/SessionsSubscriber.swift
  Package.swift
  scripts/localize_podfile.swift
Labels: api: performance, api: crashlytics

#10791 Add Sessions to release manifest
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: release-tooling

#10792 Fix verifying typo
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
Labels: api: auth, public-api-change

#10789 [Messaging] - Validate APNS token in the configure flow
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessaging.m
Labels: api: messaging

#10800 Fix Sessions on Xcode 13
  FirebaseSessions/Sources/Development/NanoPB+CustomStringConvertible.swift
Labels: sessions

#10802 update carthage for v10.5.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#10805 Multi-app fix
  FirebaseAuth.podspec
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.h
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.m
  FirebaseAuth/Sources/Backend/FIRIdentityToolkitRequest.m
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactorResolver+Internal.h
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactorResolver.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.m
  FirebaseAuth/Tests/Unit/FIRIdentityToolkitRequestTests.m
  FirebaseAuth/Tests/Unit/FIRMultiFactorResolverTests.m
Labels: api: auth

#10809 [Auth] Fix FIRGameCenterAuthProvider warning on Xcode 13
  FirebaseAuth/Sources/AuthProvider/GameCenter/FIRGameCenterAuthProvider.m
Labels: api: auth

#10811 Turn on Firebase Sessions Test App while SDK disabled
  FirebaseSessions/Tests/TestApp/AppQualityDevApp-iOS-Info.plist
  FirebaseSessions/Tests/TestApp/AppQualityDevApp-macOS-Info.plist
  FirebaseSessions/Tests/TestApp/AppQualityDevApp.xcodeproj/project.pbxproj
Labels: sessions, sessions-revert-before-release

#10815 Update versions for Release 10.6.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#10817 [auth-swift] Re-enable logging code (pt. 1)
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/Backend/AuthRequestConfiguration.swift
  FirebaseAuth/Sources/User/FIRUser.m
  Package.swift
Labels: api: auth

#10818 [AppCheck] Fix unused isTokenAutoRefreshEnabled ivar warning
  FirebaseAppCheck/Sources/Core/FIRAppCheckSettings.m
Labels: api: appcheck

#10816 Three more RPCs to Swift
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/Backend/AuthRPCRequest.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrorUtils.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrors.swift
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Sources/Utilities/FIRAuthWebUtils.m
  FirebaseAuth/Tests/Unit/CreateAuthURITests.swift
  FirebaseAuth/Tests/Unit/DeleteAccountTests.swift
  FirebaseAuth/Tests/Unit/EmailLinkSignInTests.swift
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRGetAccountInfoRequestTests.m
  FirebaseAuth/Tests/Unit/FIRGetAccountInfoResponseTests.m
  FirebaseAuth/Tests/Unit/FIRGetProjectConfigRequestTests.m
  FirebaseAuth/Tests/Unit/FIRGetProjectConfigResponseTests.m
  FirebaseAuth/Tests/Unit/FIROAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRSetAccountInfoRequestTests.m
  FirebaseAuth/Tests/Unit/FIRSetAccountInfoResponseTests.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
  FirebaseAuth/Tests/Unit/GetAccountInfoTests.swift
  FirebaseAuth/Tests/Unit/GetProjectConfigTests.swift
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
  FirebaseAuth/Tests/Unit/SetAccountInfoTests.swift
Labels: api: auth

#10814 Remove Fetch Duplicate error and fix API misuse error
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
Labels: api: remoteconfig

#10820 [auth-swift] First mock replacements
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FakeBackendRPCIssuer.swift
Labels: api: auth

#10824 [auth-swift] Depend on `CoreExtension` rather than including its sources
  FirebaseAuth.podspec
  FirebaseAuth/Sources/Auth/FIRAuth_Internal.h
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/AuthRequestConfiguration.swift
Labels: api: auth

#10825 [auth-swift] Re-enable logging code (pt. 2)
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseCore/Extension/FIRHeartbeatLogger.h
Labels: api: core, api: auth

#10826 [auth-swift] Get 'FIRAuthKeychainServicesTests.m' tests passing
  FirebaseAuth/Sources/Swift/Storage/AuthKeychainServices.swift
  FirebaseAuth/Tests/Unit/FIRAuthKeychainServicesTests.m
Labels: api: auth

#10827 [auth-swift] Update AuthKeychainServices following #10759
  FirebaseAuth/Sources/Swift/Storage/AuthKeychainServices.swift
Labels: api: auth

#10828 [auth-swift] Resolve TODO by with 'FirebaseLogger' usage
  FirebaseAuth/Sources/Swift/Storage/AuthKeychainServices.swift
Labels: api: auth

#10829 [auth-swift] Test improvements
  FirebaseAuth.podspec
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/User/AdditionalUserInfo.swift
  FirebaseAuth/Tests/Unit/FIRAuthSerialTaskQueueTests.m
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#10830 [auth-swift] Resolve missing implementation warning
  FirebaseAuth/Sources/Backend/FIRAuthBackend.h
Labels: api: auth

#10823 add bloomFilter to proto
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Protos/CMakeLists.txt
  Firestore/Protos/cpp/google/firestore/v1/bloom_filter.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/bloom_filter.pb.h
  Firestore/Protos/cpp/google/firestore/v1/firestore.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/firestore.pb.h
  Firestore/Protos/cpp/google/firestore/v1/write.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/write.pb.h
  Firestore/Protos/nanopb/google/firestore/v1/bloom_filter.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/bloom_filter.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.h
  Firestore/Protos/protos/google/firestore/v1/bloom_filter.proto
  Firestore/Protos/protos/google/firestore/v1/firestore.proto
  Firestore/Protos/protos/google/firestore/v1/write.proto
Labels: api: firestore

#10831 [auth-swift] Port 'FIRAuthKeychainServicesTests.m' -> 'AuthKeychainServicesTests.swift'
  FirebaseAuth.podspec
  FirebaseAuth/Tests/Unit/AuthKeychainServicesTests.swift
  FirebaseAuth/Tests/Unit/FIRAuthKeychainServicesTests.m
  Package.swift
Labels: api: auth

#10835 [auth-swift] Document flow in mock replacement test using fake
  FirebaseAuth/Tests/Unit/AuthTests.swift
Labels: api: auth

#10837 [auth-swift] GetOOBConfirmationCode to Swift
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRGetOOBConfirmationCodeRequestTests.m
  FirebaseAuth/Tests/Unit/FIRGetOOBConfirmationCodeResponseTests.m
  FirebaseAuth/Tests/Unit/FakeBackendRPCIssuer.swift
  FirebaseAuth/Tests/Unit/GetOOBConfirmationCode.swift
Labels: api: auth

#10449 Remove some query restrictions and add integration tests
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/core/src/api/query_core.cc
Labels: api: firestore, do-not-merge

#10852 [Release] Prepare CHANGELOGs for 10.6.0 release
  Crashlytics/CHANGELOG.md
  FirebaseAppDistribution/CHANGELOG.md
  FirebasePerformance/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: firestore, api: performance, api: crashlytics, api: appdistribution

#10853 Analytics 10.6.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  Package.swift
Labels: api: analytics

#10844 Return Server produced error if Http status code is 403
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
Labels: api: remoteconfig

#10798 Auth integration with AppCheck
  FirebaseAuth.podspec
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.h
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/FIRAuthBackendRPCImplementationTests.m
  FirebaseAuth/Tests/Unit/FIRFakeBackendRPCIssuer.m
Labels: api: auth

#10850 Migrate networking to Swift for AppDistribution
  FirebaseAppDistribution.podspec
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAppDistribution/Sources/FIRFADApiService.h
  FirebaseAppDistribution/Sources/Public/FirebaseAppDistribution/FIRAppDistribution.h
  FirebaseAppDistribution/Tests/Unit/FIRFADApiServiceTests.m
  FirebaseAppDistributionInternal.podspec
  FirebaseAppDistributionInternal/Sources/AppDistributionApiService.swift
  FirebaseAppDistributionInternal/Sources/Logger.swift
  FirebaseAppDistributionInternal/Tests/Unit/AppDistributionApiServiceTests.swift
  Package.swift
Labels: public-api-change, api: appdistribution

#10864 [auth-swift] Initial Green CI
  .github/workflows/auth.yml
  .github/workflows/health-metrics-presubmit.yml
  .github/workflows/spectesting.yml
  FirebaseAuth/Sources/Swift/Auth/ActionCodeSettings.swift
  FirebaseAuth/Sources/Swift/AuthProvider/FederatedAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthCredential.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetOOBConfirmationCodeRequest.swift
  FirebaseAuth/Sources/Swift/Backend/VerifyClientResponse.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/FIRAuthAppCredentialManagerTests.m
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyClientRequestTest.m
  FirebaseAuth/Tests/Unit/GetOOBConfirmationCode.swift
  FirebaseAuth/Tests/Unit/OAuthProviderTests.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#10866 Two Password RPCs to Swift
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRResetPasswordRequestTests.m
  FirebaseAuth/Tests/Unit/FIRResetPasswordResponseTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyPasswordRequestTest.m
  FirebaseAuth/Tests/Unit/FIRVerifyPasswordResponseTests.m
  FirebaseAuth/Tests/Unit/FakeBackendRPCIssuer.swift
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
  FirebaseAuth/Tests/Unit/ResetPasswordTests.swift
  FirebaseAuth/Tests/Unit/VerifyPasswordTests.swift
Labels: api: auth

#10859 Update CHANGELOG.md
  Crashlytics/CHANGELOG.md
  FirebasePerformance/CHANGELOG.md
Labels: api: performance, api: crashlytics

#10846 Implement BloomFilter class
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/remote/bloom_filter.cc
  Firestore/core/src/remote/bloom_filter.h
  Firestore/core/test/unit/remote/bloom_filter_test.cc
Labels: api: firestore

#10854 Firestore: Add CalculateMd5Digest() function
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/util/md5.cc
  Firestore/core/src/util/md5.h
  Firestore/core/test/unit/testutil/md5_testing.cc
  Firestore/core/test/unit/testutil/md5_testing.h
  Firestore/core/test/unit/util/md5_test.cc
Labels: api: firestore

#10875 Fix Crashlytics CHANGELOG.md style nit
  Crashlytics/CHANGELOG.md
Labels: api: crashlytics

#10876 [Release] Carthage artifacts for 10.6.0 / M128
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck
