Repository firebase/firebase-ios-sdk, pull requests merged in 2023-04, with the labels that each got.

#11056 Merge App check auth integration into master branch
  FirebaseAuth.podspec
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/AuthProvider/OAuth/FIROAuthProvider.m
  FirebaseAuth/Sources/AuthProvider/Phone/FIRPhoneAuthProvider.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.h
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.m
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/FIRAuthBackendRPCImplementationTests.m
  FirebaseAuth/Tests/Unit/FIRFakeAppCheck.h
  FirebaseAuth/Tests/Unit/FIRFakeAppCheck.m
  FirebaseAuth/Tests/Unit/FIRFakeBackendRPCIssuer.m
  FirebaseAuth/Tests/Unit/FIROAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
Labels: api: auth

#11061 [auth-swift] Merge AppCheck integration
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/Backend/AuthRequestConfiguration.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Tests/Unit/AuthBackendRPCImplentationTests.swift
  FirebaseAuth/Tests/Unit/FIRFakeAppCheck.h
  FirebaseAuth/Tests/Unit/FIRFakeAppCheck.m
  FirebaseAuth/Tests/Unit/FIRGitHubAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FIRIdentityToolkitRequestTests.m
  FirebaseAuth/Tests/Unit/FIRSecureTokenRequestTests.m
  FirebaseAuth/Tests/Unit/FIRTwitterAuthProviderTests.m
  FirebaseAuth/Tests/Unit/FakeBackendRPCIssuer.swift
  FirebaseAuth/Tests/Unit/Fakes/FakeAppCheck.swift
  FirebaseAuth/Tests/Unit/OAuthProviderTests.swift
Labels: api: auth

#11062 [auth-swift] Two cleanups
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Tests/Unit/Fakes/FakeBackendRPCIssuer.swift
Labels: api: auth

#11063 Address Xcode 14.3 build warnings and a few typos
  Crashlytics/Crashlytics/Components/FIRCLSCrashedMarkerFile.c
  Crashlytics/Crashlytics/Components/FIRCLSHost.m
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuthGlobalWorkQueue.m
  FirebaseAuth/Tests/Unit/FIRAuthBackendRPCImplementationTests.m
  FirebaseCore/CHANGELOG.md
  FirebaseDatabaseSwift/Sources/Codable/DataSnapshot+ReadDecodable.swift
  FirebaseDatabaseSwift/Sources/Codable/DatabaseReference+WriteEncodable.swift
  FirebaseMessaging/Sources/FIRMessagingUtilities.m
  Firestore/core/include/firebase/firestore/timestamp.h
Labels: api: core, api: database, api: auth, api: messaging, api: firestore, api: crashlytics

#11064 Analytics 10.8.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  Package.swift
Labels: api: analytics

#11075 Update CHANGELOG.md for Firebase Auth 10.8.0
  FirebaseAuth/CHANGELOG.md
Labels: api: auth

#11046 [SPM] Require Xcode 13.3+ (Swift 5.6)
  FirebaseCore/CHANGELOG.md
  Package.swift
  scripts/build.sh
  scripts/setup_spm_tests.sh
Labels: api: core

#11066 [Firestore] Change Firestore's release distro from source to binary for SPM
  FirebaseTestingSupport/Firestore/Sources/FIRQueryFake.mm
  Firestore/CHANGELOG.md
  Package.swift
Labels: api: firestore

#11081 Update FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
Labels: api: auth

#11083 [auth-swift] RevokeToken.swift
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/RPC/FIRRevokeTokenRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRRevokeTokenRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRRevokeTokenResponse.h
  FirebaseAuth/Sources/Backend/RPC/FIRRevokeTokenResponse.m
  FirebaseAuth/Sources/Swift/Backend/RPC/RevokeTokenRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/RevokeTokenResponse.swift
  FirebaseAuth/Tests/Unit/FIRRevokeTokenRequestTests.m
  FirebaseAuth/Tests/Unit/FIRRevokeTokenResponseTests.m
  FirebaseAuth/Tests/Unit/RevokeTokenTests.swift
Labels: api: auth

#11084 Fix successful typo
  Crashlytics/Crashlytics/Handlers/FIRCLSMachException.c
  FirebaseAuth/Tests/Unit/FIRDeleteAccountResponseTests.m
  FirebaseAuth/Tests/Unit/FIREmailLinkSignInResponseTests.m
  FirebaseAuth/Tests/Unit/FIRRevokeTokenResponseTests.m
  FirebaseAuth/Tests/Unit/FIRSendVerificationCodeResponseTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyClientResponseTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyPasswordResponseTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyPhoneNumberResponseTests.m
  FirebaseMessaging/Sources/FIRMessagingPendingTopicsList.h
Labels: api: auth, api: messaging, api: crashlytics

#11089 [auth-swift] Phone Auth progress
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthNotificationManager.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebUtils.swift
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
  FirebaseAuth/Tests/Unit/PhoneAuthProviderTests.swift
Labels: api: auth

#11092 [auth-swift] AuthURLPresenter implementation and PhoneAuth request
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Swift/Utilities/AuthURLPresenter.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebView.swift
  FirebaseAuth/Sources/Utilities/FIRAuthURLPresenter.h
  FirebaseAuth/Sources/Utilities/FIRAuthURLPresenter.m
  FirebaseAuth/Tests/Unit/FIRAuthURLPresenterTests.m
  FirebaseAuth/Tests/Unit/Fakes/FakeBackendRPCIssuer.swift
  FirebaseAuth/Tests/Unit/PhoneAuthProviderTests.swift
Labels: api: auth

#11091 [Auth] Remove unreachable code
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.h
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.m
  FirebaseAuth/Tests/Unit/FIRAuthUseUserAccessGroupTests.m
Labels: api: auth

#11099 [auth-swift] Fix test by using DataWrapper API
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.m
Labels: api: auth

#11103 Carthage json updates for 10.8.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#11109 [auth-swift] Port 'FIRAuthStoredUserManager'
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Swift/SystemService/AuthStoredUserManager.swift
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.h
  FirebaseAuth/Sources/SystemService/FIRAuthStoredUserManager.m
  FirebaseAuth/Tests/Unit/FIRAuthUseUserAccessGroupTests.m
Labels: api: auth

#11110 [auth-swift] More PhoneAuth Recaptcha tests
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
  FirebaseAuth/Tests/Unit/PhoneAuthProviderTests.swift
Labels: api: auth

#11112 Update versions for Release 10.9.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#11113 [Release Tooling] Separate out dynamic content from zip README.md
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
  ReleaseTooling/Template/METADATA.md
  ReleaseTooling/Template/README.md
Labels: release-tooling

#11121 [Release] Enable macCatalyst support for Firestore targets
  FirebaseCore/CHANGELOG.md
  Package.swift
Labels: api: core

#11122 [Release] Cherry-pick changes for SPM-only 10.8.1 patch release
  FirebaseCore/CHANGELOG.md
  Package.swift
Labels: api: core

#11057 New Cache Config API
  Firestore/CHANGELOG.md
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Integration/API/FIRBundlesTests.mm
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/Source/API/FIRFirestoreSettings.mm
  Firestore/Source/API/FIRLocalCacheSettings+Internal.h
  Firestore/Source/API/FIRLocalCacheSettings.mm
  Firestore/Source/Public/FirebaseFirestore/FIRFirestoreSettings.h
  Firestore/Source/Public/FirebaseFirestore/FIRLocalCacheSettings.h
  Firestore/Source/Public/FirebaseFirestore/FirebaseFirestore.h
  Firestore/Swift/Tests/API/BasicCompileTests.swift
  Firestore/Swift/Tests/Integration/DatabaseTests.swift
  Firestore/core/src/api/settings.cc
  Firestore/core/src/api/settings.h
  Firestore/core/src/util/hashing.h
  Firestore/core/test/unit/api/CMakeLists.txt
  Firestore/core/test/unit/api/settings_test.cc
Labels: api: firestore, public-api-change

#11126 Pb more phone auth unit
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/IdentityToolkitRequest.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAppCredentialManager.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/FIRAuthUserDefaultsTests.m
  FirebaseAuth/Tests/Unit/FIRPhoneAuthProviderTests.m
  FirebaseAuth/Tests/Unit/Fakes/FakeBackendRPCIssuer.swift
  FirebaseAuth/Tests/Unit/OAuthProviderTests.swift
  FirebaseAuth/Tests/Unit/PhoneAuthProviderTests.swift
  FirebaseAuth/Tests/Unit/UserTests.swift
  FirebaseAuth/Tests/Unit/VerifyClientTests.swift
Labels: api: auth

#11116 Update for proposed g3 ocmock changes
  FirebaseMessaging/Tests/UnitTests/FIRMessagingRemoteNotificationsProxyTest.m
Labels: api: messaging

#11133 [auth-swift] Some unit test cleanup
  FirebaseAuth/Tests/Unit/Fakes/FakeBackendRPCIssuer.swift
  FirebaseAuth/Tests/Unit/PhoneAuthProviderTests.swift
  FirebaseAuth/Tests/Unit/UserTests.swift
Labels: api: auth

#11131 Add AnalyticsSwiftUnit tests to SPM
  FirebaseAnalyticsSwift/Tests/SwiftUnit/AnalyticsAPITests.swift
  Package.swift
  scripts/spm_test_schemes/AnalyticsSwiftUnit.xcscheme
Labels: api: analytics

#11136 [Crashlytics] bump upload-symbols version to 3.15
  Crashlytics/CHANGELOG.md
  Crashlytics/upload-symbols
Labels: api: crashlytics

#11138 fix change log
  Crashlytics/CHANGELOG.md
Labels: api: crashlytics

#11086 Add limited use token to FirAppeCheck Interface
  FirebaseAppCheck/Apps/FIRAppCheckTestApp/FIRAppCheckTestApp/AppDelegate.swift
  FirebaseAppCheck/CHANGELOG.md
  FirebaseAppCheck/Sources/Core/FIRAppCheck.m
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppCheck.h
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckTests.m
Labels: public-api-change, api: appcheck

#11137 Analytics ObjC API coverage tests via CocoaPods and SPM
  FirebaseAnalyticsSwift.podspec
  FirebaseAnalyticsSwift/Tests/ObjCAPI/ObjCAPITests.m
  Package.swift
  scripts/spm_test_schemes/AnalyticsObjCAPI.xcscheme
Labels: api: analytics

#11142 Analytics 10.9.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  Package.swift
Labels: api: analytics

#11143 Fix typo
  FirebaseAuth/CHANGELOG.md
Labels: api: auth

#11139 Free nanopb mallocs when losing references to them
  Crashlytics/CHANGELOG.md
  FirebasePerformance/CHANGELOG.md
  FirebaseSessions/CHANGELOG.md
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/SourcesObjC/NanoPB/FIRSESNanoPBHelpers.h
  FirebaseSessions/SourcesObjC/NanoPB/FIRSESNanoPBHelpers.m
Labels: api: performance, api: crashlytics

#11147 [Infra] Expand file extenstion in 'source' glob
  FirebaseAnalyticsSwift.podspec
Labels: api: analytics

#11151 Add `@discardableResult` to async `addDocument`
  Firestore/Swift/Source/AsyncAwait/CollectionReference+AsyncAwait.swift
Labels: api: firestore

#11154 Analytics 10.9.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  Package.swift
Labels: api: analytics

#11155 [Release] Add changelog entry for #11151
  Firestore/CHANGELOG.md
  Firestore/Swift/CHANGELOG.md
Labels: api: firestore

#11163 [Firestore] Fix FIRLocalCacheSettings.h typos
  Firestore/Source/Public/FirebaseFirestore/FIRLocalCacheSettings.h
Labels: api: firestore, public-api-change

#11144 Remove references to deprecated CTCarrier for Sessions
  Crashlytics/CHANGELOG.md
  FirebaseSessions/Sources/ApplicationInfo.swift
  FirebaseSessions/Sources/Development/DevEventConsoleLogger.swift
  FirebaseSessions/Sources/NetworkInfo.swift
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/SourcesObjC/NanoPB/FIRSESNanoPBHelpers.h
  FirebaseSessions/SourcesObjC/NanoPB/FIRSESNanoPBHelpers.m
  FirebaseSessions/Tests/Unit/ApplicationInfoTests.swift
  FirebaseSessions/Tests/Unit/Mocks/MockApplicationInfo.swift
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
Labels: api: crashlytics, sessions

#11180 [Release] Update Carthage artifacts for Firebase 10.9.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#10650 Upgrade grpc to 150 and C++ to 14 For Cocoapods and SPM
  FirebaseFirestore.podspec
Labels: api: firestore

#11183 Firestore Spec Tests: Port JS PR 7021 (bundle the readTime and resumeToken)
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/json/existence_filter_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limbo_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limit_spec_test.json
Labels: api: firestore

#11185 Firestore Spec Tests: Port JS PR 7229 (optimized query resumption using bloom filter)
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/json/bundle_spec_test.json
  Firestore/Example/Tests/SpecTests/json/existence_filter_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limbo_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limit_spec_test.json
  Firestore/Example/Tests/SpecTests/json/listen_spec_test.json
  Firestore/Example/Tests/SpecTests/json/offline_spec_test.json
  Firestore/Example/Tests/SpecTests/json/recovery_spec_test.json
Labels: api: firestore

#11191 Firestore Spec Tests: Port JS PR 7257 (use strings for `targetPurpose`)
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/json/bundle_spec_test.json
  Firestore/Example/Tests/SpecTests/json/existence_filter_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limbo_spec_test.json
  Firestore/Example/Tests/SpecTests/json/limit_spec_test.json
  Firestore/Example/Tests/SpecTests/json/offline_spec_test.json
  Firestore/Example/Tests/SpecTests/json/recovery_spec_test.json
Labels: api: firestore

#11195 [Release] Update versions for Release 10.10.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#11198 Xcode 14.3 test_specs always need requires_app_host
  FirebaseAppDistribution.podspec
  FirebaseCore.podspec
  FirebaseCrashlytics.podspec
  FirebaseFunctions.podspec
  FirebaseStorage.podspec
Labels: api: core, api: storage, api: crashlytics, api: functions, api: appdistribution

#11194 Fix Xcode 14.3 RC warnings
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.m
  FirebaseRemoteConfig/Sources/RCNDevice.m
Labels: api: remoteconfig

#11182 Add TARGET_BACKEND environment variable. #no-changelog
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
Labels: api: firestore

#11203 [Release] Update Zip Disribution README.md
  ReleaseTooling/Template/README.md
Labels: release-tooling
