Repository firebase/firebase-ios-sdk, pull requests merged in 2023-08, with the labels that each got.

#11615 Firestore: FIRQueryTests.mm: Use a different Firestore instance to delete documents instead of a transaction
  Firestore/Example/Tests/Integration/API/FIRAggregateTests.mm
  Firestore/Example/Tests/Integration/API/FIRCountTests.mm
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.h
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
Labels: api: firestore

#11640 Update versions for Release 10.14.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#11638 Setup integration tests against named db
  .github/workflows/firestore.yml
  Firestore/Example/Tests/Integration/API/FIRBundlesTests.mm
  Firestore/Example/Tests/Integration/API/FIRValidationTests.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.h
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/core/test/unit/testutil/bundle_builder.cc
  Firestore/core/test/unit/testutil/bundle_builder.h
  scripts/gha-encrypted/firestore.plist.gpg
Labels: api: firestore

#11643 Increase test timeout to de-flake testes in Google3
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinkNetworkingTests.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
Labels: api: dynamiclinks

#11641 Depend on `AppCheckCore` staged in `SpecsDev`
  .github/workflows/app_check_core.yml
  AppCheckCore.podspec
  FirebaseAppCheck.podspec
  ReleaseTooling/Sources/PodspecsTester/main.swift
Labels: release-tooling, api: appcheck

#11629 [auth-swift] Fix Extensions build, AuthNotificationManager fixes
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthNotificationManager.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthDefaultUIDelegate.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthURLPresenter.swift
  FirebaseAuth/Tests/Unit/AuthNotificationManagerTests.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/OAuthProviderTests.swift
  FirebaseAuth/Tests/Unit/PhoneAuthProviderTests.swift
  Package.swift
Labels: api: auth

#11639 Firestore: Convert testing_hooks_util.h/cc from C++ to Objective-C in FSTTestingHooks.h/mm
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/Util/FSTTestingHooks.h
  Firestore/Example/Tests/Util/FSTTestingHooks.mm
  Firestore/core/test/unit/testutil/testing_hooks_util.cc
  Firestore/core/test/unit/testutil/testing_hooks_util.h
Labels: api: firestore

#11635 Fix: Aggregate query order-by normalization
  Firestore/Source/API/FIRQuery.mm
  Firestore/core/src/core/query.cc
  Firestore/core/src/core/query.h
  Firestore/core/test/unit/core/query_test.cc
Labels: api: firestore

#11648 [Core] Fix API misnomer within FIRApp.m
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Tests/Unit/FIRAppTest.m
Labels: api: core

#11661 update thread-safety docs on Storage
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Sources/StorageDownloadTask.swift
  FirebaseStorage/Sources/StorageObservableTask.swift
  FirebaseStorage/Sources/StorageTask.swift
  FirebaseStorage/Sources/StorageUploadTask.swift
Labels: api: storage

#11662 [App Check] Fix App Attest and DeviceCheck API availability
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppCheckAvailability.h
  FirebaseAppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
Labels: public-api-change, api: appcheck

#11666 [visionOS] Fix Sessions SDK build on Xcode 15 beta 6
  FirebaseCore/CHANGELOG.md
  FirebaseSessions/Sources/SessionInitiator.swift
  FirebaseSessions/Sources/SessionStartEvent.swift
  FirebaseSessions/Tests/Unit/Library/LifecycleNotifications.swift
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
Labels: api: core, sessions, Xcode 15 - iOS 17

#11649 Firestore: FIRQueryTests.mm: Replace SortedStringsNotIn() custom function
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
Labels: api: firestore

#11681 Auth reCAPTCHA integration
  CoreOnly/NOTICES
  FirebaseAuth.podspec
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend+MultiFactor.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.h
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Backend/FIRAuthRPCRequest.h
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.h
  FirebaseAuth/Sources/Backend/FIRAuthRequestConfiguration.m
  FirebaseAuth/Sources/Backend/FIRIdentityToolkitRequest.h
  FirebaseAuth/Sources/Backend/FIRIdentityToolkitRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRGetOOBConfirmationCodeRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRGetOOBConfirmationCodeRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigResponse.h
  FirebaseAuth/Sources/Backend/RPC/FIRGetRecaptchaConfigResponse.m
  FirebaseAuth/Sources/Backend/RPC/FIRRevokeTokenRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRSignUpNewUserRequest.m
  FirebaseAuth/Sources/Backend/RPC/FIRVerifyPasswordRequest.h
  FirebaseAuth/Sources/Backend/RPC/FIRVerifyPasswordRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/Enroll/FIRFinalizeMFAEnrollmentRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/Enroll/FIRStartMFAEnrollmentRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/SignIn/FIRFinalizeMFASignInRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/SignIn/FIRStartMFASignInRequest.m
  FirebaseAuth/Sources/Backend/RPC/MultiFactor/Unenroll/FIRWithdrawMFARequest.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthErrors.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.m
  FirebaseAuth/Sources/Utilities/FIRAuthInternalErrors.h
  FirebaseAuth/Sources/Utilities/FIRAuthRecaptchaVerifier.h
  FirebaseAuth/Sources/Utilities/FIRAuthRecaptchaVerifier.m
  FirebaseAuth/Tests/Sample/Podfile
  FirebaseAuth/Tests/Sample/Sample/AuthSample-Bridging-Header.h
  FirebaseAuth/Tests/Sample/Sample/Dummy.swift
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Auth.m
  FirebaseAuth/Tests/Sample/SwiftApiTests/SwiftAPI.swift
  FirebaseAuth/Tests/Unit/FIRAuthBackendRPCImplementationTests.m
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
  FirebaseAuth/Tests/Unit/FIRFakeBackendRPCIssuer.m
  FirebaseAuth/Tests/Unit/FIRGetOOBConfirmationCodeRequestTests.m
  FirebaseAuth/Tests/Unit/FIRGetRecaptchaConfigRequestTests.m
  FirebaseAuth/Tests/Unit/FIRGetRecaptchaConfigResponseTests.m
  FirebaseAuth/Tests/Unit/FIRIdentityToolkitRequestTests.m
  FirebaseAuth/Tests/Unit/FIRSignUpNewUserRequestTests.m
  FirebaseAuth/Tests/Unit/FIRVerifyPasswordRequestTest.m
  FirebaseCombineSwift/Tests/Unit/Auth/AuthMocks.swift
  FirebaseCombineSwift/Tests/Unit/Auth/SignInWithGameCenterTests.swift
  FirebaseCombineSwift/Tests/Unit/FirebaseCombine-unit-Bridging-Header.h
  Package.swift
Labels: api: core, api: auth, public-api-change

#11692 Update to TARGET_OS_VISION
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Utilities/FIRAuthRecaptchaVerifier.h
  FirebaseAuth/Sources/Utilities/FIRAuthRecaptchaVerifier.m
Labels: api: auth, public-api-change

#11685 Update Changelog for 10.14.0
  FirebaseABTesting/CHANGELOG.md
Labels: api: abtesting

#11680 Refactoring method names.
  FirebaseDynamicLinks/Sources/FIRDLDefaultRetrievalProcessV2.h
  FirebaseDynamicLinks/Sources/FIRDLDefaultRetrievalProcessV2.m
  FirebaseDynamicLinks/Sources/FIRDLJavaScriptExecutor.m
  FirebaseDynamicLinks/Sources/FIRDynamicLinkNetworking.h
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
Labels: api: dynamiclinks

#11698 Fix a bug where getProjectConfig uses http post
  FirebaseAuth/Sources/Backend/RPC/FIRGetProjectConfigRequest.m
Labels: api: auth

#11704 [auth-swift] Swift Sample Phone Auth
  .github/workflows/auth.yml
  .gitignore
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Auth/AuthComponent.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthNotificationManager.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/User/UserInfo.swift
  FirebaseAuth/Sources/Swift/User/UserInfoImpl.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrorUtils.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrors.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthURLPresenter.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample.xcodeproj/project.pbxproj
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/UserActions.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/SwiftApplication.plist
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Utility/Extensions.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/UserViewController.swift
  FirebaseAuth/Tests/SampleSwift/Podfile
  FirebaseAuth/Tests/Unit/VerifyCustomTokenTests.swift
  scripts/gha-encrypted/AuthSample/SwiftApplication.plist.gpg
Labels: api: auth

#11700 Fix Auth changelog for 10.14.0
  FirebaseAuth/CHANGELOG.md
Labels: api: auth

#11707 Update Crashlytics to use Google Utilities deviceSimulatorModel
  Crashlytics/Shared/FIRCLSFABHost.m
Labels: api: crashlytics

#11709 [auth-swift] Use headers instead of footers in Sample
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthProvider.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/UserViewController.swift
Labels: api: auth

#11708 Run xcodebuild in parallel for firestore
  .github/workflows/firestore.yml
  scripts/build.sh
Labels: api: firestore

#11714 Carthage 10.14.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#11717 Update versions for Release 10.15.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#11720 [Config] Merge RemoteConfig and its Swift extension in a non-breaking way
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseRemoteConfigSwift/Exporter/Exporter.swift
  FirebaseRemoteConfigSwift/Sources/Codable.swift
  FirebaseRemoteConfigSwift/Sources/FirebaseRemoteConfigValueDecoderHelper.swift
  FirebaseRemoteConfigSwift/Sources/PropertyWrapper/RemoteConfigProperty.swift
  FirebaseRemoteConfigSwift/Sources/PropertyWrapper/RemoteConfigValueObservable.swift
  FirebaseRemoteConfigSwift/Sources/Value.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/Codable.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/PropertyWrapperDefaultConfigsTests.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/PropertyWrapperTests.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/Value.swift
  Package.swift
Labels: api: remoteconfig, public-api-change

#11723 [auth-swift] Settings View Part 1
  FirebaseAuth/Sources/Swift/Backend/IdentityToolkitRequest.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample.xcodeproj/project.pbxproj
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/AppManager.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/AuthenticationExample.entitlements
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/CustomViews/LoginView.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/UserActions.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/SceneDelegate.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AccountLinkingViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/LoginController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/OtherAuthMethodControllers/CustomAuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/OtherAuthMethodControllers/PasswordlessViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/OtherAuthMethodControllers/PhoneAuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/SettingsViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/UserViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/AuthenticationExampleUITests.swift
  scripts/gha-encrypted/AuthSample/SwiftApplication.plist.gpg
Labels: api: auth

#11728 Fix recaptcha fall back tests
  FirebaseAuth/Tests/Unit/FIRAuthTests.m
Labels: api: auth

#11596 Add option to allow SDK create cache indexes automatically to improve query execution locally
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/Example/Tests/Integration/API/FIRIndexingTests.mm
  Firestore/Source/API/FIRFirestore+Internal.h
  Firestore/Source/API/FIRFirestore.mm
  Firestore/Source/API/FIRPersistentCacheIndexManager+Internal.h
  Firestore/Source/API/FIRPersistentCacheIndexManager.mm
  Firestore/core/src/api/firestore.cc
  Firestore/core/src/api/firestore.h
  Firestore/core/src/api/persistent_cache_index_manager.cc
  Firestore/core/src/api/persistent_cache_index_manager.h
  Firestore/core/src/core/firestore_client.cc
  Firestore/core/src/core/firestore_client.h
  Firestore/core/src/local/index_backfiller.cc
  Firestore/core/src/local/index_backfiller.h
  Firestore/core/src/local/index_manager.h
  Firestore/core/src/local/leveldb_index_manager.cc
  Firestore/core/src/local/leveldb_index_manager.h
  Firestore/core/src/local/leveldb_persistence.cc
  Firestore/core/src/local/leveldb_persistence.h
  Firestore/core/src/local/leveldb_remote_document_cache.cc
  Firestore/core/src/local/leveldb_remote_document_cache.h
  Firestore/core/src/local/leveldb_transaction.cc
  Firestore/core/src/local/local_documents_view.cc
  Firestore/core/src/local/local_documents_view.h
  Firestore/core/src/local/local_store.cc
  Firestore/core/src/local/local_store.h
  Firestore/core/src/local/memory_index_manager.cc
  Firestore/core/src/local/memory_index_manager.h
  Firestore/core/src/local/memory_persistence.cc
  Firestore/core/src/local/memory_persistence.h
  Firestore/core/src/local/memory_remote_document_cache.cc
  Firestore/core/src/local/memory_remote_document_cache.h
  Firestore/core/src/local/persistence.h
  Firestore/core/src/local/query_context.h
  Firestore/core/src/local/query_engine.cc
  Firestore/core/src/local/query_engine.h
  Firestore/core/src/local/remote_document_cache.h
  Firestore/core/src/model/target_index_matcher.cc
  Firestore/core/src/model/target_index_matcher.h
  Firestore/core/test/unit/local/counting_query_engine.cc
  Firestore/core/test/unit/local/counting_query_engine.h
  Firestore/core/test/unit/local/leveldb_index_manager_test.cc
  Firestore/core/test/unit/local/leveldb_local_store_test.cc
  Firestore/core/test/unit/local/local_store_test.cc
  Firestore/core/test/unit/local/local_store_test.h
  Firestore/core/test/unit/model/target_index_matcher_test.cc
Labels: api: firestore

#11747 [Config] Refactor Swift sources out of FirebaseRemoteConfigSwift
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/Swift/Codable.swift
  FirebaseRemoteConfig/Swift/FirebaseRemoteConfigValueDecoderHelper.swift
  FirebaseRemoteConfig/Swift/PropertyWrapper/RemoteConfigProperty.swift
  FirebaseRemoteConfig/Swift/PropertyWrapper/RemoteConfigValueObservable.swift
  FirebaseRemoteConfig/Swift/Value.swift
  FirebaseRemoteConfigSwift.podspec
  FirebaseRemoteConfigSwift/Sources/FirebaseRemoteConfigSwift.swift
  Package.swift
Labels: api: remoteconfig, public-api-change

#11758 [Firestore] Add shared test utility to pod sources
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/Util/FSTExceptionCatcher.h
  Firestore/Example/Tests/Util/FSTExceptionCatcher.m
  Firestore/Swift/Tests/BridgingHeader.h
  Firestore/Swift/Tests/Integration/AsyncAwaitIntegrationTests.swift
Labels: api: firestore

#11760 Add `const` for target index matcher
  Firestore/core/src/model/target_index_matcher.cc
  Firestore/core/src/model/target_index_matcher.h
Labels: api: firestore

#11764 [Config] Lock down no-op API's availability for Swift clients
  FirebaseRemoteConfig/Swift/Codable.swift
  FirebaseRemoteConfig/Swift/SPMSwiftHeaderWorkaround.swift
Labels: api: remoteconfig
