Repository firebase/firebase-ios-sdk, pull requests merged in 2024-07, with the labels that each got.

#13205 [auth-swift] Restore Recaptcha Enterprise integration
  FirebaseAuth/Sources/ObjC/FIRRecaptchaBridge.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRRecaptchaBridge.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.h
  FirebaseAuth/Sources/Swift/Utilities/AuthErrorUtils.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrors.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthRecaptchaVerifier.swift
  Package.swift
  scripts/gha-encrypted/AuthSample/SwiftApplication.plist.gpg
Labels: api: auth

#13216 [Messaging] Update CHANGELOG for 10.29 release
  FirebaseMessaging/CHANGELOG.md
Labels: api: messaging

#13215 [Vertex AI] Add support for compiling on watchOS
  .github/workflows/vertexai.yml
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/Chat.swift
  FirebaseVertexAI/Sources/CountTokensRequest.swift
  FirebaseVertexAI/Sources/GenerateContentError.swift
  FirebaseVertexAI/Sources/GenerateContentRequest.swift
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Sources/GenerationConfig.swift
  FirebaseVertexAI/Sources/GenerativeAIRequest.swift
  FirebaseVertexAI/Sources/GenerativeAIService.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/Logging.swift
  FirebaseVertexAI/Sources/ModelContent.swift
  FirebaseVertexAI/Sources/PartsRepresentable+Image.swift
  FirebaseVertexAI/Sources/PartsRepresentable.swift
  FirebaseVertexAI/Sources/Safety.swift
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Sources/VertexAIComponent.swift
  FirebaseVertexAI/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/Unit/ChatTests.swift
  FirebaseVertexAI/Tests/Unit/Fakes/AuthInteropFake.swift
  FirebaseVertexAI/Tests/Unit/GenerationConfigTests.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
  FirebaseVertexAI/Tests/Unit/MockURLProtocol.swift
  FirebaseVertexAI/Tests/Unit/ModelContentTests.swift
  FirebaseVertexAI/Tests/Unit/PartsRepresentableTests.swift
  FirebaseVertexAI/Tests/Unit/VertexAIAPITests.swift
  FirebaseVertexAI/Tests/Unit/VertexComponentTests.swift
Labels: api: vertexai

#13222 [v11] Update to SwiftFormat 0.54.0
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseFunctions/Sources/Internal/FunctionsSerializer.swift
  FirebaseInstallations/Source/Tests/Unit/Swift/InstallationsAPITests.swift
  FirebaseVertexAI/Sources/GenerativeAIService.swift
  Firestore/Swift/Tests/Integration/SnapshotListenerSourceTests.swift
  Mintfile
  ReleaseTooling/Sources/ZipBuilder/HashCalculator.swift
Labels: api: auth, api: firestore, api: functions, api: installations, release-tooling, api: vertexai

#13220 [v11] Streamline internal FirebaseStorageTask implementations
  FirebaseStorage/Sources/Internal/StorageDeleteTask.swift
  FirebaseStorage/Sources/Internal/StorageGetDownloadURLTask.swift
  FirebaseStorage/Sources/Internal/StorageGetMetadataTask.swift
  FirebaseStorage/Sources/Internal/StorageInternalTask.swift
  FirebaseStorage/Sources/Internal/StorageListTask.swift
  FirebaseStorage/Sources/Internal/StorageTokenAuthorizer.swift
  FirebaseStorage/Sources/Internal/StorageUpdateMetadataTask.swift
  FirebaseStorage/Sources/Internal/StorageUtils.swift
  FirebaseStorage/Sources/Result.swift
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Sources/StorageDownloadTask.swift
  FirebaseStorage/Sources/StorageError.swift
  FirebaseStorage/Sources/StorageListResult.swift
  FirebaseStorage/Sources/StorageMetadata.swift
  FirebaseStorage/Sources/StorageObservableTask.swift
  FirebaseStorage/Sources/StorageReference.swift
  FirebaseStorage/Sources/StorageTask.swift
  FirebaseStorage/Sources/StorageTaskSnapshot.swift
  FirebaseStorage/Sources/StorageUploadTask.swift
  FirebaseStorage/Tests/Integration/StorageIntegration.swift
  FirebaseStorage/Tests/Unit/StorageDeleteTests.swift
  FirebaseStorage/Tests/Unit/StorageGetMetadataTests.swift
  FirebaseStorage/Tests/Unit/StorageListTests.swift
  FirebaseStorage/Tests/Unit/StorageMetadataTests.swift
  FirebaseStorage/Tests/Unit/StorageReferenceTests.swift
  FirebaseStorage/Tests/Unit/StorageUpdateMetadataTests.swift
Labels: api: storage, public-api-change

#13233 [Vertex AI] Add README for unit test mock files
  FirebaseVertexAI/README.md
  FirebaseVertexAI/Tests/Unit/README.md
  Package.swift
  README.md
  scripts/README.md
Labels: api: vertexai

#13240 [Release] Carthage updates for 10.29.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#13244 [NFC] Updating changelogs for Swift extension deletion
  FirebaseDatabase/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: database, api: firestore, api: remoteconfig

#13249 [Database] Remove previously deleted files from podspec
  FirebaseDatabase.podspec
Labels: api: database

#13250 Update repo Podfiles to iOS 13 minimum
  FirebaseAppCheck/Apps/FIRAppCheckTestApp/Podfile
  FirebaseDynamicLinks/Tests/Sample/Podfile
  FirebasePerformance/Tests/FIRPerfE2E/Podfile
  FirebasePerformance/Tests/TestApp/Podfile
  FirebaseRemoteConfig/Tests/FeatureRolloutsTestApp/Podfile
  FirebaseSessions/Tests/TestApp/Podfile
Labels: api: dynamiclinks, api: performance, api: remoteconfig, api: appcheck

#13251 Revert "[Database] Remove previously deleted files from podspec"
  FirebaseDatabase.podspec
Labels: api: database

#13258 Fix Storage integration test
  FirebaseStorage/Tests/Integration/StorageIntegration.swift
Labels: api: storage

#13252 [Auth] Update unnecessary nullable API
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/ActionCode/ActionCodeInfo.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#13254 [Auth] Investigate and fix v11 integration test CI failures
  .github/workflows/auth.yml
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample.xcodeproj/project.pbxproj
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/AuthenticationExampleUITests.swift
  scripts/build.sh
Labels: api: auth

#13245 [Messaging] Remove extraneous const on FIRMessagingIsAPNSSyncMessage
  FirebaseMessaging/Sources/FIRMessaging.m
Labels: api: messaging

#13263 Remove `FIRAppCheckProtocol` from FirebaseAppCheckInterop SDK
  FirebaseAppCheck/Interop/Public/FirebaseAppCheckInterop/FIRAppCheckProtocol.h
  FirebaseAppCheck/Interop/Public/FirebaseAppCheckInterop/FIRAppCheckTokenProtocol.h
  FirebaseAppCheck/Interop/Public/FirebaseAppCheckInterop/FirebaseAppCheckInterop.h
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppCheck.h
  FirebaseAppCheck/Sources/Public/FirebaseAppCheck/FIRAppCheckToken.h
  FirebaseAppCheck/Tests/Interop/ObjC/FIRAppCheckProtocolAPITests.m
  FirebaseAppCheck/Tests/Interop/Swift/AppCheckProtocolAPITests.swift
Labels: public-api-change, api: appcheck

#13261 [v11] Release tooling should default to building dynamic frameworks
  .github/workflows/zip.yml
  FirebaseCore/CHANGELOG.md
  ReleaseTooling/Sources/ZipBuilder/main.swift
  ReleaseTooling/ZipBuilderV2Plan.md
  scripts/build_zip.sh
  scripts/check_firestore_symbols.sh
Labels: api: core, release-tooling

#13264 [Auth] Compile out deprecated API on CI
  .github/workflows/auth.yml
  FirebaseAuth.podspec
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Sources/Swift/User/User.swift
Labels: api: auth

#13268 Remove unused FIRCLSMultipartMimeStreamEncoder
  Crashlytics/Crashlytics/Controllers/FIRCLSReportUploader.m
  Crashlytics/Shared/FIRCLSNetworking/FIRCLSMultipartMimeStreamEncoder.h
  Crashlytics/Shared/FIRCLSNetworking/FIRCLSMultipartMimeStreamEncoder.m
Labels: api: crashlytics

#12692 Make memory lru gc the default
  Firestore/CHANGELOG.md
  Firestore/Swift/Tests/Integration/DatabaseTests.swift
  Firestore/core/src/api/settings.cc
  Firestore/core/src/api/settings.h
Labels: api: firestore

#13266 [Core] Use `GULOSLogBasic` for OSLog-based logging in `FIRLogBasic`
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Extension/FIRLogger.h
  FirebaseCore/Sources/FIRLogger.m
  FirebaseCore/Tests/Unit/FIRLoggerTest.m
  FirebaseMLModelDownloader/Apps/Sample/Podfile
  Package.swift
Labels: api: core

#13221 Move Timestamp class from Firestore to Firebase Core
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Sources/FIRTimestamp.m
  FirebaseCore/Sources/FIRTimestampInternal.h
  FirebaseCore/Sources/Public/FirebaseCore/FIRTimestamp.h
  FirebaseCore/Sources/Public/FirebaseCore/FirebaseCore.h
  FirebaseCore/Tests/Unit/FIRTimestampTest.m
  FirebaseFirestoreInternal/FirebaseFirestore/FIRTimestamp.h
  Firestore/CHANGELOG.md
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Firestore.xcodeproj/xcshareddata/xcschemes/Firestore_Benchmarks_iOS.xcscheme
  Firestore/Example/Tests/API/FSTUserDataReaderTests.mm
  Firestore/Example/Tests/Integration/API/FIRCompositeIndexQueryTests.mm
  Firestore/Example/Tests/Integration/API/FIRCursorTests.mm
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/Example/Tests/Integration/API/FIRFieldsTests.mm
  Firestore/Example/Tests/Integration/API/FIRServerTimestampTests.mm
  Firestore/Example/Tests/Integration/API/FIRTypeTests.mm
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Source/API/FIRDocumentSnapshot.mm
  Firestore/Source/API/FSTUserDataReader.mm
  Firestore/Source/API/converters.mm
  Firestore/Source/Public/FirebaseFirestore/FirebaseFirestore.h
  Firestore/Swift/Source/Codable/CodablePassThroughTypes.swift
  Firestore/Swift/Source/Codable/ServerTimestamp.swift
  Firestore/Swift/Source/Codable/Timestamp+Codable.swift
  Firestore/Swift/Source/Codable/TimestampDecodingStrategy.swift
  Firestore/Swift/Source/Codable/TimestampEncodingStrategy.swift
  Firestore/Swift/Tests/API/BasicCompileTests.swift
  Firestore/Swift/Tests/Codable/CodableTimestampTests.swift
  Firestore/Swift/Tests/Codable/ConditionalConformanceTests.swift
  Firestore/Swift/Tests/Codable/FirestoreEncoderTests.swift
  Firestore/Swift/Tests/Integration/CodableIntegrationTests.swift
Labels: api: core, api: firestore, public-api-change

#13275 [Config] Wait for installations token before starting realtime connection
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig

#13276 Placeholder Analytics 11.0.0
  FirebaseAnalytics.podspec
  FirebaseStorage/Tests/Unit/StorageAPITests.swift
  FirebaseStorage/Tests/Unit/StorageAuthorizerTests.swift
  FirebaseStorage/Tests/Unit/StorageComponentTests.swift
  FirebaseStorage/Tests/Unit/StorageMetadataTests.swift
  FirebaseStorage/Tests/Unit/StoragePathTests.swift
  FirebaseStorage/Tests/Unit/StorageReferenceTests.swift
  FirebaseStorage/Tests/Unit/StorageTestHelpers.swift
  FirebaseStorage/Tests/Unit/StorageTests.swift
  FirebaseStorage/Tests/Unit/StorageUpdateMetadataTests.swift
  FirebaseStorage/Tests/Unit/StorageUtilsTests.swift
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: storage, api: analytics

#13280 [auth] Fix getIDToken API and an error handling case
  FirebaseAuth/Sources/Swift/Auth/AuthTokenResult.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/UserActions.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Utility/Extensions.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/UserViewController.swift
Labels: api: auth

#13269 Clean up PThread attributes when it fails to be created
  Crashlytics/Crashlytics/Handlers/FIRCLSMachException.c
Labels: api: crashlytics

#13288 [Infra] Use full paths when importing public Core header
  Firestore/Example/Tests/API/FSTUserDataReaderTests.mm
  Firestore/Example/Tests/Integration/API/FIRCompositeIndexQueryTests.mm
  Firestore/Example/Tests/Integration/API/FIRCursorTests.mm
  Firestore/Example/Tests/Integration/API/FIRDatabaseTests.mm
  Firestore/Example/Tests/Integration/API/FIRFieldsTests.mm
  Firestore/Example/Tests/Integration/API/FIRServerTimestampTests.mm
  Firestore/Example/Tests/Integration/API/FIRTypeTests.mm
  Firestore/Example/Tests/Integration/FSTDatastoreTests.mm
  Firestore/Source/API/FIRDocumentSnapshot.mm
  Firestore/Source/API/FSTUserDataReader.mm
  Firestore/Source/API/converters.mm
Labels: api: firestore

#13290 Update imports for internal build system
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseStorage/Sources/StorageUploadTask.swift
Labels: api: auth, api: storage

#13294 Remove unnecessary import and fix API in unit test
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Tests/Unit/SignInWithGameCenterTests.swift
Labels: api: auth

#13293 [Infra] Use <> style imports when importing public Core header
  Firestore/Source/API/FIRDocumentSnapshot.mm
  Firestore/Source/API/FSTUserDataReader.mm
  Firestore/Source/API/converters.mm
Labels: api: firestore

#13296 Fix for internal build
  FirebaseAuth/Sources/Swift/Auth/AuthComponent.swift
Labels: api: auth

#13298 Fix param/definition mismatch and Xcode 16 issues
  FirebaseAuth/Sources/ObjC/FIRRecaptchaBridge.m
  FirebaseAuth/Tests/Unit/AuthTests.swift
Labels: api: auth

#13304 Disable recaptcha integration and heartbeat tests for internal build system
  FirebaseAuth/Sources/Swift/Utilities/AuthRecaptchaVerifier.swift
  FirebaseAuth/Tests/Unit/AuthBackendRPCImplentationTests.swift
Labels: api: auth

#13306 [InAppMessaging] Add availability attributes to fix SPM warnings
  FirebaseInAppMessaging/Sources/DefaultUI/Banner/FIRIAMBannerViewController.h
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMDefaultDisplayImpl.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMDisplayCheckOnAnalyticEventsFlow.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMDisplayExecutor.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMFetchOnAppForegroundFlow.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMMessageClientCache.h
  FirebaseInAppMessaging/Sources/Private/Runtime/FIRIAMFetchFlow.h
  FirebaseInAppMessaging/Sources/Private/Runtime/FIRIAMRuntimeManager.h
  FirebaseInAppMessaging/Sources/Public/FirebaseInAppMessaging/FIRInAppMessaging.h
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/InAppMessagingDisplay-Sample.xcodeproj/project.pbxproj
Labels: api: inappmessaging, public-api-change

#13312 Fix typos
  Crashlytics/Crashlytics/FIRCLSUserDefaults/FIRCLSUserDefaults_private.h
  FirebaseAnalytics/Tests/ObjCAPI/ObjCAPITests.m
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthErrors.h
  FirebaseAuth/Sources/Swift/ActionCode/ActionCodeInfo.swift
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/DeleteAccountRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetAccountInfoRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetOOBConfirmationCodeRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetRecaptchaConfigRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SetAccountInfoRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/VerifyAssertionRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/VerifyAssertionResponse.swift
  FirebaseAuth/Sources/Swift/Backend/VerifyClientRequest.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/User/AdditionalUserInfo.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrors.swift
  FirebaseAuth/Tests/SampleSwift/README.md
  FirebaseAuth/Tests/Unit/AuthBackendRPCImplentationTests.swift
  FirebaseAuth/Tests/Unit/AuthProviderIDTests.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/GetAccountInfoTests.swift
  FirebaseAuth/Tests/Unit/ObjCAPITests.m
  FirebaseAuth/Tests/Unit/PhoneAuthProviderTests.swift
  FirebaseAuth/Tests/Unit/SwiftGlobalTests.swift
  FirebaseAuth/Tests/Unit/VerifyAssertionTests.swift
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatStorage.swift
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/Logging/FDLLogging.h
  FirebaseDynamicLinks/Sources/Logging/FDLLogging.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMFetchResponseParser.m
  FirebaseInAppMessaging/Swift/Tests/Unit/FirebaseInAppMessaging_APIBuildTests.swift
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTokenOperationsTest.m
  Firestore/core/src/remote/watch_stream.h
  docs/AddNewPod.md
  docs/AddNewProduct.md
Labels: api: core, api: auth, api: messaging, api: firestore, api: dynamiclinks, api: crashlytics, api: inappmessaging, api: installations, public-api-change

#13313 Analytics 11.0.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#13315 [AppCheck] Remove unused Promises dependency
  FirebaseAppCheck.podspec
  FirebaseAppCheck/Sources/DebugProvider/FIRAppCheckDebugProvider.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckTests.m
  FirebaseAppCheck/Tests/Unit/DeviceCheckProvider/FIRDeviceCheckProviderTests.m
  Package.swift
Labels: api: appcheck

#13316 [Firebase 11] Default back to building static frameworks for RCs
  .github/workflows/zip.yml
  FirebaseCore/CHANGELOG.md
  ReleaseTooling/Sources/ZipBuilder/main.swift
  scripts/build_zip.sh
Labels: api: core, release-tooling

#13319 Analytics 11.0.0 (rc2)
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  Package.swift
Labels: api: analytics

#13317 [Release Tooling] Bump min. versions
  ReleaseTooling/Sources/ZipBuilder/main.swift
Labels: release-tooling

#13321 [Infra] Improve release tooling logging when updating tags
  ReleaseTooling/Sources/FirebaseReleaser/main.swift
Labels: release-tooling

#13332 Fix file copyrights
  Crashlytics/Crashlytics/Helpers/FIRCLSContextInitData.h
  Crashlytics/Crashlytics/Helpers/FIRCLSContextInitData.m
  Crashlytics/UnitTests/FIRCLSRolloutsPersistenceManagerTests.m
  Firestore/Swift/FirebaseFirestore.h
  Firestore/core/src/api/listen_source.h
  Firestore/core/src/util/thread_safe_memoizer.h
  Firestore/core/test/unit/util/thread_safe_memoizer_test.cc
  scripts/check_copyright.sh
Labels: api: firestore, api: crashlytics

#13325 [Auth] Token management cleanup
  FirebaseAuth/Sources/Swift/User/User.swift
Labels: api: auth

#13371 Fix non-main thread callback issue
  FirebaseStorage/Sources/Internal/StorageInternalTask.swift
  FirebaseStorage/Sources/Storage.swift
Labels: api: storage

#13383 [Core] Update log message from deprecated goo.gl link
  FirebaseCore/Sources/FIRApp.m
Labels: api: core

#13411 [Infra] Fetch tags first when running firebase-releaser
  ReleaseTooling/Sources/FirebaseReleaser/main.swift
Labels: release-tooling

#13405 [storage] Use async GTMSessionFetcher method
  FirebaseStorage/Sources/StorageDownloadTask.swift
  FirebaseStorage/Sources/StorageUploadTask.swift
Labels: api: storage

#13425 [v11] Upload Carthage artifacts
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#13426 Update versions for Release 11.1.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#13433 [Auth] Add custom provider support for AuthProviderID
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/AuthProvider/AuthProviderID.swift
  FirebaseAuth/Sources/Swift/AuthProvider/AuthProviderStrings.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#13432 [Infra] Attempt to fix some Crashlytics flakes
  Crashlytics/UnitTests/FIRCLSReportManagerTests.m
Labels: api: crashlytics

#13434 [AuthErrorCode] should conform to Swift.Error
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/Utilities/AuthErrors.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#13435 [AppCheck] Force link categories
  FirebaseAppCheck/Sources/Core/FIRApp+AppCheck.m
  FirebaseAppCheck/Sources/Core/FIRAppCheck.m
  FirebaseAppCheck/Sources/Core/FIRHeartbeatLogger+AppCheck.m
Labels: api: appcheck
