Repository firebase/firebase-ios-sdk, pull requests merged in 2024-05, with the labels that each got.

#12875 Update versions for Release 10.27.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#12881 Add SIGTERM support
  Crashlytics/Crashlytics/Controllers/FIRCLSMetricKitManager.m
  Crashlytics/Crashlytics/Handlers/FIRCLSMachException.c
  Crashlytics/Crashlytics/Handlers/FIRCLSSignal.c
  Crashlytics/Crashlytics/Handlers/FIRCLSSignal.h
Labels: api: crashlytics

#12864 [auth-swift] Remove FDL dep and update sample readme
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/SceneDelegate.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/OtherAuthMethodControllers/PasswordlessViewController.swift
  FirebaseAuth/Tests/SampleSwift/Podfile
  FirebaseAuth/Tests/SampleSwift/README.md
Labels: api: auth

#12885 [Release] Update CHANGELOG.md for #12881
  Crashlytics/CHANGELOG.md
Labels: api: crashlytics

#12327 Add phone auth settings
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/SwiftApplication.plist
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/SettingsViewController.swift
Labels: api: auth

#12359 Game center auth
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Assets.xcassets/Auth Provider Icons/Contents.json
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Assets.xcassets/Auth Provider Icons/Game Center.imageset/Contents.json
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Assets.xcassets/Auth Provider Icons/Game Center.imageset/gamecontroller.png
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/AuthenticationExample.entitlements
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AccountLinkingViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/AuthenticationExampleUITests.swift
Labels: api: auth

#12420 App section
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Utility/Extensions.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/SettingsViewController.swift
Labels: api: auth

#12421 Oob section
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Utility/DataSourceProvider/DataSourceProvider.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AccountLinkingViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/SettingsViewController.swift
Labels: api: auth

#12466 add mfa section
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/SwiftApplication.plist
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
Labels: api: auth

#12635 add password update option
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/UserActions.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Utility/Extensions.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/UserViewController.swift
Labels: api: auth

#12890 [Release Tooling] Add functionality to build dynamic frameworks
  .github/workflows/zip.yml
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
  scripts/build_zip.sh
Labels: release-tooling

#12910 [InAppMessaging] Fix #12882
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMDefaultDisplayImpl.m
Labels: api: inappmessaging

#12915 [Release] Update changelog to reflect #12900
  FirebaseMessaging/CHANGELOG.md
Labels: api: messaging

#12894 [RTDB] Use NSURLSessionWebSocket instead of SocketRocket where possible
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Realtime/FWebSocketConnection.h
  FirebaseDatabase/Sources/Realtime/FWebSocketConnection.m
  FirebaseDatabase/Tests/Integration/FData.m
  FirebaseDatabase/Tests/Integration/FIRDatabaseQueryTests.m
Labels: api: database

#12917 [InAppMessaging] Follow-up to #12910
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMDefaultDisplayImpl.m
Labels: api: inappmessaging

#12919 [Release] Update FIAM changelog to reflect 10.26.0
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMDefaultDisplayImpl.m
Labels: api: inappmessaging

#12920 [Release] Cherry-pick FIAM fixes into 10.26.0
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMDefaultDisplayImpl.m
Labels: api: inappmessaging

#12921 [Vertex AI] Make `text` computed property handle mixed-parts responses
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Tests/Unit/GenerateContentResponses/unary-success-function-call-mixed-content.json
  FirebaseVertexAI/Tests/Unit/GenerateContentResponses/unary-success-function-call-parallel-calls.json
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#12924 [auth-swift] Build and test Sample with SPM instead of CocoaPods
  .github/workflows/auth.yml
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample.xcodeproj/project.pbxproj
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/AppDelegate.swift
  FirebaseAuth/Tests/SampleSwift/ObjCApiTests/AnonymousAuthTests.m
  FirebaseAuth/Tests/SampleSwift/ObjCApiTests/EmailPasswordAuthTests.m
  FirebaseAuth/Tests/SampleSwift/SwiftApiTests/FacebookTests.swift
  FirebaseAuth/Tests/SampleSwift/SwiftApiTests/GoogleTests.swift
  scripts/build.sh
  scripts/install_prereqs.sh
Labels: api: auth

#12925 Update FirebaseAppCheck's FirebaseCore dependency
  FirebaseAppCheck.podspec
  FirebaseAppCheck/CHANGELOG.md
Labels: api: appcheck

#12923 [Vertex AI] Add basic checks for invalid model names
  FirebaseVertexAI/Sources/VertexAI.swift
Labels: api: vertexai

#12928 [Vertex AI] Add AppCheck, Auth and Storage frameworks to sample
  FirebaseVertexAI/Sample/VertexAISample.xcodeproj/project.pbxproj
  FirebaseVertexAI/Sample/VertexAISample/VertexAISampleApp.swift
Labels: api: vertexai

#12927 [auth-swift] Fix Sample build warnings
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Utility/DataSourceProvider/DataSourceProvider.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/SettingsViewController.swift
  FirebaseAuth/Tests/SampleSwift/README.md
Labels: api: auth

#12936 [Firestore] Cleanup compilation guards for building on older SDKs
  Firestore/core/test/unit/FSTGoogleTestTests.mm
Labels: api: firestore

#12935 [Messaging] Cleanup compilation guards for building on older SDKs
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/FIRMessagingContextManagerService.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingContextManagerServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingRemoteNotificationsProxyTest.m
Labels: api: messaging

#12933 [Vertex AI] Update logging details from Google AI SDK
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Sources/GenerativeAIService.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/Logging.swift
  FirebaseVertexAI/Sources/Safety.swift
Labels: api: vertexai

#12937 [FIAM] Cleanup compilation guards for building on older SDKs
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutLogStorage.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutUploader.m
  FirebaseInAppMessaging/Sources/DefaultUI/Banner/FIRIAMBannerViewController.m
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMBaseRenderingViewController.m
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMRenderingWindowHelper.m
  FirebaseInAppMessaging/Sources/DefaultUI/ImageOnly/FIRIAMImageOnlyViewController.m
  FirebaseInAppMessaging/Sources/DefaultUI/Modal/FIRIAMModalViewController.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMActivityLogger.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayCheckOnAppForegroundFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMFetchOnAppForegroundFlow.m
Labels: api: inappmessaging

#12944 [Vertex AI] Update sample instructions for public preview
  FirebaseVertexAI/Sample/README.md
Labels: api: vertexai

#12934 [Infra] Clean up visionOS conditionals
  FirebaseCore/Sources/FIRApp.m
  FirebaseCore/Tests/Unit/FIRAppTest.m
  FirebaseDatabase/Sources/Core/FPersistentConnection.m
  FirebaseDatabase/Sources/Core/FRepo.m
  FirebaseDatabase/Sources/Persistence/FLevelDBStorageEngine.m
  FirebaseDatabase/Sources/Realtime/FWebSocketConnection.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMAnalyticsEventLoggerImpl.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutHttpRequestSender.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutLogStorage.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutLogger.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutUploader.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMFetchResponseParser.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMMessageContentDataWithImageURL.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMMessageDefinition.m
  FirebaseInAppMessaging/Sources/Data/FIRIAMRenderingEffectSetting.m
  FirebaseInAppMessaging/Sources/DisplayTrigger/FIRIAMDisplayTriggerDefinition.m
  FirebaseInAppMessaging/Sources/FIRCore+InAppMessaging.m
  FirebaseInAppMessaging/Sources/FIRInAppMessaging.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMActivityLogger.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMBookKeeper.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMClientInfoFetcher.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayCheckOnAnalyticEventsFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayCheckOnAppForegroundFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayCheckOnFetchDoneNotificationFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayCheckTriggerFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMDisplayExecutor.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMFetchFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMFetchOnAppForegroundFlow.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMMessageClientCache.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMMsgFetcherUsingRestful.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMServerMsgFetchStorage.m
  FirebaseInAppMessaging/Sources/RenderingObjects/FIRInAppMessagingRenderingDataClasses.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMActionURLFollower.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMRuntimeManager.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMSDKModeManager.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMSDKSettings.m
  FirebaseInAppMessaging/Sources/Runtime/FIRInAppMessaging+Bootstrap.m
  FirebaseInAppMessaging/Sources/Util/FIRIAMElapsedTimeTracker.m
  FirebaseInAppMessaging/Sources/Util/FIRIAMTimeFetcher.m
  FirebaseInAppMessaging/Sources/Util/NSString+FIRInterlaceStrings.m
  FirebaseInAppMessaging/Sources/Util/UIApplication+FIRForegroundWindowScene.m
  FirebaseInAppMessaging/Sources/Util/UIColor+FIRIAMHexString.m
  FirebaseMessaging/Sources/FIRMessagingUtilities.m
  FirebaseMessaging/Sources/Token/FIRMessagingAuthKeychain.m
  Firestore/core/src/remote/connectivity_monitor_apple.mm
  Firestore/core/src/util/filesystem_apple.mm
  SwiftPM-PlatformExclude/FirebaseFirestoreWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseInAppMessagingWrap/dummy.m
Labels: api: core, api: database, api: messaging, api: firestore, api: inappmessaging

#12947 [Vertex AI] Update CHANGELOG entry with latest copy
  FirebaseVertexAI/CHANGELOG.md
Labels: api: vertexai

#12946 [Vertex AI] Switch to `gemini-1.5-pro-preview-0409` in sample app
  FirebaseVertexAI/Sample/ChatSample/ViewModels/ConversationViewModel.swift
  FirebaseVertexAI/Sample/FunctionCallingSample/ViewModels/FunctionCallingViewModel.swift
  FirebaseVertexAI/Sample/GenerativeAIMultimodalSample/ViewModels/PhotoReasoningViewModel.swift
  FirebaseVertexAI/Sample/GenerativeAITextSample/ViewModels/SummarizeViewModel.swift
Labels: api: vertexai

#12948 [vertex-ai] more accurate location error message
  FirebaseVertexAI/Sources/VertexAI.swift
Labels: api: vertexai

#12956 [Vertex AI] Update sample README for `main`
  FirebaseVertexAI/Sample/README.md
Labels: api: vertexai

#12958 [Vertex AI] Rename `FirebaseVertexAI-Docs.podspec` to avoid CI
  FirebaseVertexAI-Docs.not_podspec
Labels: api: vertexai

#12973 Update versions in `FirebaseVertexAI-Docs.not_podspec`
  FirebaseVertexAI-Docs.not_podspec
Labels: api: vertexai

#12979 [Vertex AI] Update samples/docs to use `gemini-1.5-flash-preview-0514`
  FirebaseVertexAI/Sample/ChatSample/ViewModels/ConversationViewModel.swift
  FirebaseVertexAI/Sample/FunctionCallingSample/ViewModels/FunctionCallingViewModel.swift
  FirebaseVertexAI/Sample/GenerativeAIMultimodalSample/ViewModels/PhotoReasoningViewModel.swift
  FirebaseVertexAI/Sample/GenerativeAITextSample/ViewModels/SummarizeViewModel.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/VertexAI.swift
Labels: api: vertexai

#12977 Crashlytics dispatch Rollouts writes async to prevent hangs
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Controllers/FIRCLSRolloutsPersistenceManager.m
  Crashlytics/UnitTests/FIRCLSRolloutsPersistenceManagerTests.m
Labels: api: crashlytics

#12981 [auth-swift] Fix two flow porting errors in AuthURLPresenter.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthURLPresenter.swift
Labels: api: auth

#12999 Deprecation warning for FDL
  .github/workflows/dynamiclinks.yml
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseDynamicLinks/Sources/Public/FirebaseDynamicLinks/FIRDynamicLinks.h
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  scripts/create_spec_repo/Sources/SpecRepoBuilder/main.swift
  scripts/health_metrics/pod_test_code_coverage_report.sh
Labels: api: dynamiclinks, public-api-change, release-tooling

#13005 [Release] Prep changelogs for 10.27.0 / M148
  Crashlytics/CHANGELOG.md
  FirebaseAppCheck/CHANGELOG.md
  FirebaseDatabase/CHANGELOG.md
  FirebaseDynamicLinks/CHANGELOG.md
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseMessaging/CHANGELOG.md
Labels: api: database, api: messaging, api: dynamiclinks, api: crashlytics, api: inappmessaging, api: appcheck

#13006 Analytics 10.27.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#13003 [auth-swift] Modernize Phone Auth Notification Implementation
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthNotificationManager.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/User/UserInfoImpl.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthUIDelegate.swift
  Package.swift
Labels: api: auth

#13007 [Vertex AI] Add error message for Firebase ML API not enabled
  .github/workflows/vertexai.yml
  FirebaseVertexAI/Sources/Errors.swift
  FirebaseVertexAI/Sources/GenerativeAIService.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Tests/Unit/ChatTests.swift
  FirebaseVertexAI/Tests/Unit/GenerateContentResponses/unary-failure-firebaseml-api-not-enabled.json
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13009 [Vertex AI] Log server error responses without `-FIRDebugEnabled`
  FirebaseVertexAI/Sources/GenerativeAIService.swift
Labels: api: vertexai

#13010 [Vertex AI] Add CHANGELOG entry for 10.27.0
  FirebaseVertexAI/CHANGELOG.md
Labels: api: vertexai

#13019 [Remote Config] Attempt to reduce int. tests flakes
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/APITestBase.swift
Labels: api: remoteconfig

#12991 Fix fireperf exception
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/Instrumentation/Network/FPRNSURLSessionInstrument.m
Labels: api: performance

#13030 [Release] Carthage versions for M148 / 10.27.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#13033 [Release] Update versions for Release 10.28.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#13040 [Firebase 11] Add bridged casts in FirebasePerformance
  FirebasePerformance/Sources/Instrumentation/FPRNetworkTrace.m
  FirebasePerformance/Sources/Instrumentation/Network/FPRNSURLConnectionInstrument.m
Labels: api: performance

#13036 [Firebase 11] Bump deps on GULs to v8 and GDT to v10
  FirebaseAnalytics.podspec
  FirebaseAppCheck.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebasePerformance/Sources/Instrumentation/FPRNetworkTrace.m
  FirebasePerformance/Sources/Instrumentation/Network/FPRNSURLConnectionInstrument.m
  FirebaseRemoteConfig.podspec
  FirebaseSessions.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: inappmessaging, api: installations, api: appdistribution, api: appcheck

#13042 Fix Auth Domain search code to match comment
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/Utilities/AuthWebUtils.swift
  FirebaseAuth/Tests/Unit/OAuthProviderTests.swift
Labels: api: auth
