Repository firebase/firebase-ios-sdk, pull requests merged in 2024-06, with the labels that each got.

#13047 [v11] Simplify Component System Usage
  FirebaseCore/Sources/FIRApp.m
  FirebaseFunctions/Sources/Functions.swift
  FirebaseFunctions/Sources/Internal/FunctionsComponent.swift
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Sources/StorageComponent.swift
  FirebaseStorage/Tests/Unit/StorageComponentTests.swift
  FirebaseStorage/Tests/Unit/StorageTests.swift
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Sources/VertexAIComponent.swift
  FirebaseVertexAI/Tests/Unit/VertexComponentTests.swift
Labels: api: core, api: storage, api: functions, api: vertexai

#13053 [v11] Remove unused FIRDependency class
  Crashlytics/Crashlytics/FIRCrashlytics.m
  FirebaseABTesting/Sources/FIRExperimentController.m
  FirebaseAppCheck/Sources/Core/FIRAppCheckComponent.m
  FirebaseAppDistribution/Sources/FIRAppDistribution.m
  FirebaseAuth/Sources/Swift/Auth/AuthComponent.swift
  FirebaseCore/Extension/FIRComponent.h
  FirebaseCore/Extension/FIRDependency.h
  FirebaseCore/Extension/FirebaseCoreInternal.h
  FirebaseCore/Sources/FIRComponent.m
  FirebaseCore/Sources/FIRDependency.m
  FirebaseCore/Tests/Unit/FIRTestComponents.m
  FirebaseDatabase/Sources/Api/FIRDatabaseComponent.m
  FirebaseDynamicLinks/Sources/FIRDynamicLinks.m
  FirebaseInAppMessaging/Sources/FIRInAppMessaging.m
  FirebaseInstallations/Source/Library/FIRInstallations.m
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebasePerformance/Sources/FPRClient.m
  FirebaseRemoteConfig/Sources/FIRRemoteConfigComponent.m
  FirebaseSessions/Sources/FirebaseSessions.swift
  Firestore/Source/API/FSTFirestoreComponent.mm
  Interop/FirebaseComponentSystem.md
Labels: api: core, api: database, api: auth, api: messaging, api: firestore, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, api: appcheck

#13052 [InAppMessaging] Remove InAppMessagingSwift
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest/AppDelegate.swift
  CoreOnly/Tests/FirebasePodTest/Podfile
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/Podfile
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/Shared/FIAMSwiftUIApp.swift
  FirebaseInAppMessaging/Swift/Tests/Integration/FIAMSwiftUI/Shared/ModalInAppMessageView.swift
  FirebaseInAppMessaging/Swift/Tests/Unit/CustomInAppMessageDisplayViewModifierTests.swift
  FirebaseInAppMessaging/Swift/Tests/Unit/FirebaseInAppMessaging_APIBuildTests.swift
  FirebaseInAppMessagingSwift.podspec
  FirebaseInAppMessagingSwift/Sources/FirebaseInAppMessagingSwift.swift
  IntegrationTesting/ClientApp/ClientApp.xcodeproj/project.pbxproj
  IntegrationTesting/ClientApp/Podfile
  IntegrationTesting/ClientApp/Shared-iOS13+/swift-import-test.swift
  Package.swift
  SwiftPMTests/swift-test/all-imports.swift
  scripts/api_diff_report/icore_module.py
Labels: api: core, api: inappmessaging

#13055 [v11] Address component system cleanup PR comments
  FirebaseStorage/Sources/Storage.swift
  FirebaseVertexAI/Sources/VertexAI.swift
Labels: api: storage, api: vertexai

#13058 Make sure rollouts logging queue is not nil
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Controllers/FIRCLSRolloutsPersistenceManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSRolloutsPersistenceManager.m
  Crashlytics/Crashlytics/FIRCrashlytics.m
  Crashlytics/UnitTests/FIRCLSRolloutsPersistenceManagerTests.m
Labels: api: crashlytics

#13056 [Analytics] Remove AnalyticsSwift
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest/AppDelegate.swift
  CoreOnly/Tests/FirebasePodTest/Podfile
  Dangerfile
  FirebaseAnalytics/README.md
  FirebaseAnalytics/Sources/Analytics+SwiftUI.swift
  FirebaseAnalytics/Sources/README.md
  FirebaseAnalytics/Tests/ObjCAPI/ObjCAPITests.m
  FirebaseAnalytics/Tests/SwiftUnit/AnalyticsAPITests.swift
  FirebaseAnalyticsSwift.podspec
  FirebaseAnalyticsSwift/CHANGELOG.md
  FirebaseAnalyticsSwift/README.md
  FirebaseAnalyticsSwift/Sources/FirebaseAnalyticsSwift.swift
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/Podfile
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/SwiftUISample/ContentView.swift
  IntegrationTesting/ClientApp/ClientApp.xcodeproj/project.pbxproj
  IntegrationTesting/ClientApp/Podfile
  IntegrationTesting/ClientApp/Shared-iOS13+/swift-import-test.swift
  Package.swift
  SwiftPM-PlatformExclude/FirebaseAnalyticsSwiftWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseAnalyticsSwiftWrap/include/dummy.h
  SwiftPMTests/analytics-import-test/analytics-import.swift
  scripts/api_diff_report/icore_module.py
Labels: api: core, api: remoteconfig

#13064 [v11] Drop support for deprecated notification methods
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/FIRMessagingRemoteNotificationsProxy.m
  FirebaseMessaging/Sources/Token/FIRMessagingAPNSInfo.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenInfo.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingRemoteNotificationsProxyTest.m
Labels: api: messaging

#13066 [v11] Update minimum platform versions for 11.0.0
  CoreOnly/Tests/FirebasePodTest/Podfile
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAppDistribution/Sources/FIRAppDistributionUIService.m
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseAuthTestingSupport.podspec
  FirebaseCombineSwift.podspec
  FirebaseCore.podspec
  FirebaseCore/CHANGELOG.md
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFirestoreTestingSupport.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessaging/Sources/DefaultUI/Banner/FIRIAMBannerViewController.m
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/Podfile
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/Podfile
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMLModelDownloader/Apps/Sample/Podfile
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebasePerformance/Sources/Instrumentation/UIKit/FPRUIViewControllerInstrument.m
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/Tests/Sample/Podfile
  FirebaseRemoteConfigInterop.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  FirebaseVertexAI-Docs.not_podspec
  Firestore/Example/GoogleBenchmark.podspec
  Firestore/Example/GoogleTest.podspec
  Firestore/Example/LibFuzzer.podspec
  Firestore/Example/Podfile
  Firestore/Example/ProtobufCpp.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  IntegrationTesting/ClientApp/Podfile
  Package.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, api: appcheck, api: vertexai

#13065 [v11] RC stringValue is now nonull
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/FIRConfigValue.m
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
  FirebaseRemoteConfig/Swift/FirebaseRemoteConfigValueDecoderHelper.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/APITests.swift
Labels: api: remoteconfig, public-api-change

#13069 [v11] Finish Messaging SecureCoding
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/Token/FIRMessagingAPNSInfo.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenInfo.m
Labels: api: messaging

#13057 [Database] Remove DatabaseSwift
  FirebaseDatabase/Tests/Unit/Swift/Codable/ServerValueCodingTests.swift
  FirebaseDatabaseSwift.podspec
  FirebaseDatabaseSwift/CHANGELOG.md
  FirebaseDatabaseSwift/Sources/FirebaseDatabaseSwift.swift
  IntegrationTesting/ClientApp/ClientApp.xcodeproj/project.pbxproj
  IntegrationTesting/ClientApp/Podfile
  IntegrationTesting/ClientApp/Shared-iOS12+/swift-import-test.swift
  Package.swift
  scripts/api_diff_report/icore_module.py
Labels: api: database

#13072 [v11] Stop using GULSecureCoding
  FirebaseMessaging/Sources/FIRMessagingPubSub.m
Labels: api: messaging

#13073 [v11] Clean up deprecated app delegate methods
  FirebaseMessaging/Sources/FIRMessaging.m
Labels: api: messaging

#13075 [Vertex AI] Add simple integration tests
  .github/workflows/vertexai.yml
  FirebaseVertexAI/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/Integration/Resources/placeholder.txt
  Package.swift
  scripts/gha-encrypted/vertexai-integration.plist.gpg
  scripts/spm_test_schemes/FirebaseVertexAIIntegration.xcscheme
Labels: api: vertexai

#13076 [Config] Remove ConfigSwift
  .github/workflows/remoteconfig.yml
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfig/Tests/Swift/AccessToken.json
  FirebaseRemoteConfig/Tests/Swift/Defaults-testInfo.plist
  FirebaseRemoteConfig/Tests/Swift/FakeConsole/FakeConsoleTests.swift
  FirebaseRemoteConfig/Tests/Swift/FakeUtils/FakeConsole.swift
  FirebaseRemoteConfig/Tests/Swift/FakeUtils/URLSessionPartialMock.swift
  FirebaseRemoteConfig/Tests/Swift/ObjC/Bridging-Header.h
  FirebaseRemoteConfig/Tests/Swift/ObjC/FetchMocks.h
  FirebaseRemoteConfig/Tests/Swift/ObjC/FetchMocks.m
  FirebaseRemoteConfig/Tests/Swift/ObjC/RealtimeMocks.h
  FirebaseRemoteConfig/Tests/Swift/ObjC/RealtimeMocks.m
  FirebaseRemoteConfig/Tests/Swift/README.md
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/APITestBase.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/APITests.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/AsyncAwaitTests.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/Codable.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/Constants.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/FirebaseRemoteConfigSwift_APIBuildTests.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/PropertyWrapperDefaultConfigsTests.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/PropertyWrapperTests.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/RemoteConfigConsole.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/Value.swift
  FirebaseRemoteConfigSwift.podspec
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/Podfile
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/SwiftUISample/ContentView.swift
  FirebaseRemoteConfigSwift/Apps/SwiftUISample/SwiftUISample/SwiftUISampleApp.swift
  FirebaseRemoteConfigSwift/CHANGELOG.md
  FirebaseRemoteConfigSwift/Sources/FirebaseRemoteConfigSwift.swift
  IntegrationTesting/ClientApp/ClientApp.xcodeproj/project.pbxproj
  IntegrationTesting/ClientApp/Podfile
  IntegrationTesting/ClientApp/Shared-iOS12+/swift-import-test.swift
  Package.swift
  scripts/api_diff_report/icore_module.py
  scripts/build.sh
Labels: api: remoteconfig

#13085 [Firestore] Remove FirestoreSwift
  .github/workflows/client_app.yml
  .github/workflows/firestore.yml
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest/AppDelegate.swift
  Example/FirestoreSample/FirestoreSample.xcodeproj/project.pbxproj
  Example/FirestoreSample/FirestoreSample/Views/FavouriteFruitsAnimationView.swift
  Example/FirestoreSample/FirestoreSample/Views/FavouriteFruitsMappingErrorView.swift
  Example/FirestoreSample/FirestoreSample/Views/FavouriteFruitsMappingErrorView2.swift
  Example/FirestoreSample/FirestoreSample/Views/FavouriteFruitsNoAnimationsView.swift
  Example/FirestoreSample/FirestoreSample/Views/FavouriteFruitsView.swift
  FirebaseCombineSwift/Sources/Firestore/CollectionReference+Combine.swift
  FirebaseCombineSwift/Sources/Firestore/DocumentReference+Combine.swift
  FirebaseFirestoreSwift.podspec
  FirebaseFirestoreSwift/Sources/FirebaseFirestoreSwift.swift
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Swift/Source/Codable/DocumentID.swift
  Firestore/Swift/Tests/Codable/CodableGeoPointTests.swift
  Firestore/Swift/Tests/Codable/CodableTimestampTests.swift
  Firestore/Swift/Tests/Codable/ConditionalConformanceTests.swift
  Firestore/Swift/Tests/Codable/FirestoreEncoderTests.swift
  Firestore/Swift/Tests/Integration/AggregationIntegrationTests.swift
  Firestore/Swift/Tests/Integration/AsyncAwaitIntegrationTests.swift
  Firestore/Swift/Tests/Integration/CodableIntegrationTests.swift
  Firestore/Swift/Tests/Integration/IndexingTests.swift
  Firestore/Swift/Tests/Integration/QueryIntegrationTests.swift
  Firestore/Swift/Tests/Integration/SnapshotListenerSourceTests.swift
  IntegrationTesting/ClientApp/ClientApp.xcodeproj/project.pbxproj
  IntegrationTesting/ClientApp/Shared-iOS12+/swift-import-test.swift
  Package.swift
  SwiftPM-PlatformExclude/FirebaseFirestoreSwiftWrap/dummy.m
  SwiftPM-PlatformExclude/FirebaseFirestoreSwiftWrap/include/dummy.h
  SwiftPMTests/swift-test/all-imports.swift
  scripts/api_diff_report/icore_module.py
Labels: api: core, api: firestore, public-api-change

#13086 [v11] Add changelog entries for Swift extension removal
  FirebaseCore/CHANGELOG.md
  FirebaseDatabase/CHANGELOG.md
  FirebaseInAppMessaging/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: core, api: database, api: firestore, api: remoteconfig, api: inappmessaging

#13093 [v11] Dependency version updates
  CoreOnly/Tests/FirebasePodTest/Podfile
  FirebaseAnalytics.podspec
  FirebaseAppCheck.podspec
  FirebaseAuth.podspec
  FirebaseCrashlytics.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseSessions.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  IntegrationTesting/ClientApp/Podfile
  Package.swift
Labels: api: core, api: auth, api: messaging, api: storage, api: analytics, api: performance, api: crashlytics, api: functions, api: inappmessaging, api: installations, api: appcheck

#13091 Replace SystemConfiguration with a more recent Apple provided network monitoring API.
  FirebasePerformance.podspec
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/AppActivity/FPRAppActivityTracker.h
  FirebasePerformance/Sources/AppActivity/FPRAppActivityTracker.m
  FirebasePerformance/Sources/FPRNanoPbUtils.m
  Package.swift
Labels: api: performance

#13095 [Vertex AI] Add environment variable to control integration tests
  .github/workflows/vertexai.yml
  FirebaseVertexAI/Tests/Integration/IntegrationTests.swift
  Package.swift
Labels: api: vertexai

#13099 [Vertex AI] Update samples/docs to use `gemini-1.5-flash`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/ChatSample/ViewModels/ConversationViewModel.swift
  FirebaseVertexAI/Sample/FunctionCallingSample/ViewModels/FunctionCallingViewModel.swift
  FirebaseVertexAI/Sample/GenerativeAIMultimodalSample/ViewModels/PhotoReasoningViewModel.swift
  FirebaseVertexAI/Sample/GenerativeAITextSample/ViewModels/SummarizeViewModel.swift
  FirebaseVertexAI/Sources/VertexAI.swift
Labels: api: vertexai

#13090 [Vertex AI] Add support for compiling on tvOS
  .github/workflows/vertexai.yml
  FirebaseVertexAI/Sources/Chat.swift
  FirebaseVertexAI/Sources/Constants.swift
  FirebaseVertexAI/Sources/CountTokensRequest.swift
  FirebaseVertexAI/Sources/GenerateContentError.swift
  FirebaseVertexAI/Sources/GenerateContentRequest.swift
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Sources/GenerationConfig.swift
  FirebaseVertexAI/Sources/GenerativeAIRequest.swift
  FirebaseVertexAI/Sources/GenerativeAIService.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/Logging.swift
  FirebaseVertexAI/Sources/ModelContent.swift
  FirebaseVertexAI/Sources/PartsRepresentable+Image.swift
  FirebaseVertexAI/Sources/PartsRepresentable.swift
  FirebaseVertexAI/Sources/Safety.swift
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Sources/VertexAIComponent.swift
  FirebaseVertexAI/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/Unit/ChatTests.swift
  FirebaseVertexAI/Tests/Unit/Fakes/AuthInteropFake.swift
  FirebaseVertexAI/Tests/Unit/GenerationConfigTests.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
  FirebaseVertexAI/Tests/Unit/MockURLProtocol.swift
  FirebaseVertexAI/Tests/Unit/ModelContentTests.swift
  FirebaseVertexAI/Tests/Unit/PartsRepresentableTests.swift
  FirebaseVertexAI/Tests/Unit/VertexAIAPITests.swift
  FirebaseVertexAI/Tests/Unit/VertexComponentTests.swift
Labels: api: vertexai

#13092 [Vertex AI] Add CI for visionOS
  .github/workflows/vertexai.yml
  FirebaseVertexAI/Tests/Unit/PartsRepresentableTests.swift
Labels: api: vertexai

#13100 [v11] [RTDB] Remove SocketRocket
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/LICENSE
  FirebaseDatabase/Sources/Core/FPersistentConnection.m
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabase.h
  FirebaseDatabase/Sources/Realtime/FWebSocketConnection.h
  FirebaseDatabase/Sources/Realtime/FWebSocketConnection.m
  FirebaseDatabase/Sources/Utilities/FStringUtilities.m
  FirebaseDatabase/Sources/third_party/SocketRocket/FSRWebSocket.h
  FirebaseDatabase/Sources/third_party/SocketRocket/FSRWebSocket.m
  FirebaseDatabase/Sources/third_party/SocketRocket/LICENSE
  FirebaseDatabase/Sources/third_party/SocketRocket/NSData+SRB64Additions.h
  FirebaseDatabase/Sources/third_party/SocketRocket/NSData+SRB64Additions.m
  FirebaseDatabase/Sources/third_party/SocketRocket/aa2297808c225710e267afece4439c256f6efdb3
  FirebaseDatabase/Sources/third_party/SocketRocket/fbase64.c
  FirebaseDatabase/Sources/third_party/SocketRocket/fbase64.h
  Package.swift
Labels: api: database, public-api-change

#13103 Early return for rollouts write errors
  Crashlytics/Crashlytics/Controllers/FIRCLSRolloutsPersistenceManager.m
Labels: api: crashlytics

#13105 [Vertex AI] Add CHANGELOG for tvOS/visionOS community support
  FirebaseVertexAI/CHANGELOG.md
Labels: api: vertexai

#13111 Changelogs 10.28.0
  Crashlytics/CHANGELOG.md
  FirebasePerformance/CHANGELOG.md
Labels: api: performance, api: crashlytics

#13112 [Docs] Update Crashlytics/CHANGELOG.md
  Crashlytics/CHANGELOG.md
Labels: api: crashlytics

#13116 Analytics 10.28.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#13121 Import `Foundation` in `FIRAppCheckTokenProtocol`
  FirebaseAppCheck/Interop/Public/FirebaseAppCheckInterop/FIRAppCheckTokenProtocol.h
Labels: api: appcheck

#13127 Changelog wording
  FirebasePerformance/CHANGELOG.md
Labels: api: performance

#13130 Address some Swift 6 warnings in Auth sample
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Utility/DataSourceProvider/DataSourceProvider.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Utility/Extensions.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Utility/TransitionAnimator/Animator.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AccountLinkingViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/LoginController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/OtherAuthMethodControllers/OtherAuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/UserViewController.swift
Labels: api: auth

#13097 [v11] Deprecate OAuthProvider API get credential API that uses string provider ID
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Tests/Unit/OAuthProviderTests.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#13135 [v11] Add changelog and cleanup deprecation approach from #13097
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Tests/Unit/ObjCAPITests.m
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#13114 [v11] Storage Error Handling Consistency
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/AsyncAwait.swift
  FirebaseStorage/Sources/Internal/StorageGetDownloadURLTask.swift
  FirebaseStorage/Sources/Internal/StorageTokenAuthorizer.swift
  FirebaseStorage/Sources/Result.swift
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Sources/StorageDownloadTask.swift
  FirebaseStorage/Sources/StorageError.swift
  FirebaseStorage/Sources/StorageReference.swift
  FirebaseStorage/Sources/StorageTaskSnapshot.swift
  FirebaseStorage/Sources/StorageUploadTask.swift
  FirebaseStorage/Tests/Integration/StorageAsyncAwait.swift
  FirebaseStorage/Tests/Integration/StorageIntegration.swift
  FirebaseStorage/Tests/Unit/StorageAPITests.swift
  FirebaseStorage/Tests/Unit/StorageGetMetadataTests.swift
  FirebaseStorage/Tests/Unit/StorageReferenceTests.swift
  FirebaseStorage/Tests/Unit/StorageTests.swift
Labels: api: storage, public-api-change

#13136 [v11] Add convenience initializer
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#13139 [Messaging] Rename initWithFileName internal method
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/Token/FIRMessagingBackupExcludedPlist.h
  FirebaseMessaging/Sources/Token/FIRMessagingBackupExcludedPlist.m
  FirebaseMessaging/Sources/Token/FIRMessagingCheckinStore.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingBackupExcludedPlistTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingCheckinStoreTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTokenStoreTest.m
Labels: api: messaging

#13143 Carthage 10.28.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#13096 [v11] Rename AuthProviderString to AuthProviderID
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/AuthProvider/AuthProviderStrings.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/RevokeTokenRequest.swift
  FirebaseAuth/Tests/Unit/AuthProviderIDTests.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/OAuthProviderTests.swift
  FirebaseAuth/Tests/Unit/ObjCAPITests.m
  FirebaseAuth/Tests/Unit/RevokeTokenTests.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#13145 Update versions for Release 10.29.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#13148 [v11] Fix recaptcha bug - mixing vars and funcs
  FirebaseAuth/Sources/Swift/Backend/IdentityToolkitRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetProjectConfigRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetRecaptchaConfigRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SecureTokenRequest.swift
  FirebaseAuth/Tests/Unit/AuthBackendRPCImplentationTests.swift
  FirebaseAuth/Tests/Unit/GetRecaptchaConfigTests.swift
Labels: api: auth

#13151 [v11] Fix GetRecaptchaConfigResponse key
  .github/workflows/auth.yml
  .github/workflows/symbolcollision.yml
  FirebaseAuth/Sources/Swift/Backend/RPC/GetRecaptchaConfigResponse.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthRecaptchaVerifier.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample.xcodeproj/project.pbxproj
Labels: api: auth

#13162 Revert "Add SIGTERM support (#12881)"
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Controllers/FIRCLSMetricKitManager.m
  Crashlytics/Crashlytics/Handlers/FIRCLSMachException.c
  Crashlytics/Crashlytics/Handlers/FIRCLSSignal.c
  Crashlytics/Crashlytics/Handlers/FIRCLSSignal.h
Labels: api: crashlytics

#13160 [MLModelDownloader] Use `FirebaseLogger` instead of `GULLoggerWrapper`
  FirebaseCore/Extension/FIRLogger.h
  FirebaseMLModelDownloader.podspec
  FirebaseMLModelDownloader/Sources/DeviceLogger.swift
  FirebaseMLModelDownloader/Tests/Unit/ModelDownloaderUnitTests.swift
  Package.swift
Labels: api: core, api: ml

#13165 [v11] Remove unused string constant
  FirebaseCore/Extension/FIRAppInternal.h
  FirebaseCore/Sources/FIRApp.m
Labels: api: core

#13175 [Crashlytics] Updated changelog entry for 10.28.1
  Crashlytics/CHANGELOG.md
Labels: api: crashlytics

#13176 [Messaging] Fix APS Environment entitlement key on visionOS
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessagingUtilities.m
Labels: api: messaging

#13182 Fix deployment targets in FirebaseAppCheckInterop.podspec
  FirebaseAppCheckInterop.podspec
Labels: api: appcheck

#13183 [Messaging] Update CHANGELOG.md
  FirebaseMessaging/CHANGELOG.md
Labels: api: messaging

#13185 Storage: Fix a var that should be a let
  FirebaseStorage/Sources/StorageMetadata.swift
Labels: api: storage

#13184 [Messaging] Update `TARGET_OS_*` conditionals
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/FIRMessagingContextManagerService.m
  FirebaseMessaging/Sources/FIRMessagingExtensionHelper.m
  FirebaseMessaging/Sources/FIRMessagingRemoteNotificationsProxy.m
  FirebaseMessaging/Sources/FIRMessagingUtilities.m
  FirebaseMessaging/Sources/Token/FIRMessagingAuthKeychain.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenManager.m
  FirebaseMessaging/Tests/IntegrationTests/FIRMessagingPubSubTest.swift
  FirebaseMessaging/Tests/IntegrationTests/FIRMessagingTokenRefreshTests.swift
  FirebaseMessaging/Tests/UnitTests/FIRMessagingAnalyticsTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingAuthKeychainTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingBackupExcludedPlistTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingCheckinStoreTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingContextManagerServiceTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingExtensionHelperTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingRemoteNotificationsProxyTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingUtilitiesTest.m
Labels: api: messaging

#13147 [v11] Remove `configureWithApp:` API in FIRLibrary protocol
  FirebaseCore/Extension/FIRLibrary.h
  FirebaseCore/Sources/FIRApp.m
  FirebaseInAppMessaging/Sources/FIRInAppMessaging.m
Labels: api: core, api: inappmessaging

#13190 [NFC] Remove dated TODOs
  FirebaseInAppMessaging/Swift/Tests/Unit/FirebaseInAppMessaging_APIBuildTests.swift
Labels: api: inappmessaging

#13197 remove os check for major update
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatsPayload.swift
  FirebasePerformance/Sources/AppActivity/FPRAppActivityTracker.m
  FirebasePerformance/Sources/FPRNanoPbUtils.m
Labels: api: core, api: performance

#13200 Update FPRDataUtils.m
  FirebasePerformance/Sources/FPRDataUtils.m
Labels: api: performance
