Repository firebase/firebase-ios-sdk, pull requests merged in 2024-10, with the labels that each got.

#13744 [Vertex AI] Remove `-Preview` suffix in SPM library name
  FirebaseVertexAI/Sample/VertexAISample.xcodeproj/project.pbxproj
  Package.swift
Labels: api: vertexai

#13760 Bump upload-symbols to 3.18
  Crashlytics/CHANGELOG.md
  Crashlytics/upload-symbols
Labels: api: crashlytics

#13759 [Vertex AI] Removed `-beta` from pod version
  FirebaseVertexAI.podspec
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/ZipBuilder/Platform.swift
Labels: release-tooling, api: vertexai

#13794 Reapply "SessionToken persistence implementation (#13684)" (#13719)
  Firestore/CHANGELOG.md
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/local/globals_cache.h
  Firestore/core/src/local/leveldb_globals_cache.cc
  Firestore/core/src/local/leveldb_globals_cache.h
  Firestore/core/src/local/leveldb_key.cc
  Firestore/core/src/local/leveldb_key.h
  Firestore/core/src/local/leveldb_persistence.cc
  Firestore/core/src/local/leveldb_persistence.h
  Firestore/core/src/local/memory_globals_cache.cc
  Firestore/core/src/local/memory_globals_cache.h
  Firestore/core/src/local/memory_persistence.cc
  Firestore/core/src/local/memory_persistence.h
  Firestore/core/src/local/persistence.h
  Firestore/core/test/unit/local/globals_cache_test.cc
  Firestore/core/test/unit/local/globals_cache_test.h
  Firestore/core/test/unit/local/leveldb_globals_cache_test.cc
  Firestore/core/test/unit/local/memory_globals_cache_test.cc
Labels: api: firestore

#13787 Fix Performance Unit Test Warnings around UserDefaults
  FirebasePerformance/Tests/Unit/Configurations/FPRConfigurationsTest.m
  FirebasePerformance/Tests/Unit/FPRNetworkTraceTest.m
  FirebasePerformance/Tests/Unit/Gauges/FPRGaugeManagerTests.m
  FirebasePerformance/Tests/Unit/Instruments/FIRHTTPMetricTests.m
  FirebasePerformance/Tests/Unit/Timer/FIRTraceTest.m
Labels: api: performance

#13793 [Infra] Sync messaging with recent 1P infra changes
  FirebaseMessaging/Sources/FIRMessaging+ExtensionHelper.m
  FirebaseMessaging/Sources/FIRMessaging.m
Labels: api: messaging

#13772 [Auth] Address possible race condition
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Tests/Unit/FIROAuthProviderTests.m
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
Labels: api: auth

#13811 [storage] Docs build fixes
  FirebaseStorage/Sources/AsyncAwait.swift
Labels: api: storage

#13795 Fix a crash related to thread sanitization on variables in FPRNetworkTrace class.
  FirebasePerformance/CHANGELOG.md
  FirebasePerformance/Sources/Instrumentation/FPRNetworkTrace.m
Labels: api: performance

#13813 [Vertex AI] Add sysInstructs, tools, genConfig to `countTokens`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/CountTokensRequest.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13814 [Vertex AI] Add image / function call count tokens integration tests
  FirebaseVertexAI/Sources/FunctionCalling.swift
  FirebaseVertexAI/Tests/Integration/IntegrationTests.swift
Labels: api: vertexai

#13815 [Core] Add logging level getter to FIRConfiguration
  FirebaseCore/Sources/FIRConfiguration.m
  FirebaseCore/Sources/FIRLogger.m
  FirebaseCore/Sources/Public/FirebaseCore/FIRConfiguration.h
  FirebaseCore/Tests/Unit/FIRConfigurationTest.m
Labels: api: core, public-api-change

#13776 Wrap _listeners access with _realtimeLockQueue in fetchLatestConfig completionHandler
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
Labels: api: remoteconfig

#13767 [Vertex AI] Replace `ModelContent.Part` enum with protocol/structs
  FirebaseVertexAI.podspec
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/FunctionCallingSample/ViewModels/FunctionCallingViewModel.swift
  FirebaseVertexAI/Sample/GenerativeAIMultimodalSample/ViewModels/PhotoReasoningViewModel.swift
  FirebaseVertexAI/Sources/Chat.swift
  FirebaseVertexAI/Sources/FunctionCalling.swift
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/ModelContent.swift
  FirebaseVertexAI/Sources/PartsRepresentable+Image.swift
  FirebaseVertexAI/Sources/PartsRepresentable.swift
  FirebaseVertexAI/Sources/Types/Internal/InternalPart.swift
  FirebaseVertexAI/Sources/Types/Public/Part.swift
  FirebaseVertexAI/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/Unit/ChatTests.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
  FirebaseVertexAI/Tests/Unit/ModelContentTests.swift
  FirebaseVertexAI/Tests/Unit/PartTests.swift
  FirebaseVertexAI/Tests/Unit/PartsRepresentableTests.swift
  FirebaseVertexAI/Tests/Unit/Resources/blue.png
  FirebaseVertexAI/Tests/Unit/VertexAIAPITests.swift
  Package.swift
Labels: api: vertexai

#13829 Updated podspec for internal FirebaseCore header
  FirebaseCore/Sources/FIROptionsInternal.h
  FirebaseFirestoreInternal.podspec
  scripts/check_imports.swift
Labels: api: core

#13832 [Vertex AI] Simplify `ModelContent` initializers
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/ChatSample/Views/ErrorDetailsView.swift
  FirebaseVertexAI/Sample/ChatSample/Views/ErrorView.swift
  FirebaseVertexAI/Sources/ModelContent.swift
  FirebaseVertexAI/Tests/Unit/VertexAIAPITests.swift
Labels: api: vertexai

#13833 [Vertex AI] Sample app CI for Xcode 16
  .github/workflows/vertexai.yml
Labels: api: vertexai

#13850 [CoreInternal] Add async flush method
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatController.swift
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatStorage.swift
  FirebaseCore/Internal/Sources/HeartbeatLogging/_ObjC_HeartbeatController.swift
  FirebaseCore/Internal/Tests/Integration/HeartbeatLoggingIntegrationTests.swift
  FirebaseCore/Internal/Tests/Unit/HeartbeatControllerTests.swift
  FirebaseCore/Internal/Tests/Unit/HeartbeatStorageTests.swift
Labels: api: core

#13845 [Vertex AI] Replace sample `CustomStringConvertible` extensions
  FirebaseVertexAI/Sample/ChatSample/Views/ErrorDetailsView.swift
Labels: api: vertexai

#13728 [Vertex AI] Use `struct` instead of `enum` for `HarmCategory`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/ChatSample/Views/ErrorDetailsView.swift
  FirebaseVertexAI/Sources/Safety.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: public-api-change, api: vertexai

#13851 [Core] Add async flush method
  FirebaseCore/Extension/FIRHeartbeatLogger.h
  FirebaseCore/Sources/FIRHeartbeatLogger.m
  FirebaseCore/Tests/Unit/FIRHeartbeatLoggerTests.m
Labels: api: core

#13852 [Vertex AI] Make `Schema` constructor and `DataType` enum internal
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/Types/Internal/DataType.swift
  FirebaseVertexAI/Sources/Types/Public/Schema.swift
Labels: api: vertexai

#13854 [Vertex AI] Use `struct` instead of `enum` for `HarmProbability`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/ChatSample/Views/ErrorDetailsView.swift
  FirebaseVertexAI/Sources/Safety.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13853 [Auth] Use async flush method to get header value
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Tests/Unit/AuthBackendRPCImplementationTests.swift
  FirebaseCore/Extension/FIRHeartbeatLogger.h
  FirebaseCore/Sources/FIRHeartbeatLogger.m
  FirebaseInstallations/Source/Tests/Unit/FIRInstallationsAPIServiceTests.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingTokenOperationsTest.m
Labels: api: core, api: auth, api: messaging, api: installations

#13858 [Auth] Restore MFA request setup to Firebase 10 behavior
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/Enroll/FinalizeMFAEnrollmentRequest.swift
  FirebaseAuth/Tests/Unit/FinalizeMFAEnrollmentRequestTests.swift
Labels: api: auth

#13859 [Vertex AI] Extract common protobuf enum to struct decoding logic
  FirebaseVertexAI/Sources/Protocols/Internal/CodableProtoEnum.swift
  FirebaseVertexAI/Sources/Safety.swift
Labels: api: vertexai

#13860 [Vertex AI] Refactor `FinishReason` as a `struct` and add new values
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13862 [Vertex AI] Add `EncodableProtoEnum` protocol and fix encoding
  FirebaseVertexAI/Sources/Protocols/Internal/CodableProtoEnum.swift
  FirebaseVertexAI/Tests/Integration/IntegrationTests.swift
Labels: api: vertexai

#13863 [Vertex AI] Refactor `HarmBlockThreshold` as a struct and add `.off`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/Safety.swift
  FirebaseVertexAI/Tests/Integration/IntegrationTests.swift
Labels: api: vertexai

#13861 [Vertex AI] Refactor `BlockReason` as a `struct` and add new values
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13864 [Vertex AI] Refactored `FunctionCallingConfig.Mode` as a `struct`
  FirebaseVertexAI/Sources/FunctionCalling.swift
  FirebaseVertexAI/Tests/Integration/IntegrationTests.swift
Labels: api: vertexai

#13865 [Vertex AI] Refactor `StringFormat` and `IntegerFormat` as structs
  FirebaseVertexAI/Sources/Types/Public/Schema.swift
  FirebaseVertexAI/Tests/Integration/IntegrationTests.swift
Labels: api: vertexai

#13870 [Vertex AI] Replace "enum" computed properties with `static let`
  FirebaseVertexAI/Sources/FunctionCalling.swift
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Sources/Protocols/Internal/CodableProtoEnum.swift
  FirebaseVertexAI/Sources/Safety.swift
Labels: api: vertexai

#13725 [Vertex AI] Switch to `firebasevertexai.googleapis.com` API
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/Constants.swift
  FirebaseVertexAI/Sources/Errors.swift
  FirebaseVertexAI/Sources/GenerativeAIRequest.swift
  FirebaseVertexAI/Sources/GenerativeAIService.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13872 Analytics 11.4.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  Package.swift
Labels: api: analytics

#13873 [Vertex AI] Refactor function calling APIs
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/FunctionCallingSample/ViewModels/FunctionCallingViewModel.swift
  FirebaseVertexAI/Sources/FunctionCalling.swift
  FirebaseVertexAI/Tests/Integration/IntegrationTests.swift
Labels: api: vertexai

#13871 [Vertex AI] Remove from zip build
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: release-tooling, api: vertexai

#13879 [Release] Update changelogs for 11.4.0
  Crashlytics/CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
  FirebasePerformance/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: auth, api: firestore, api: performance, api: crashlytics

#13880 [Auth] Fix crash when using TOTP MFA auth
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactor.swift
Labels: api: auth

#13875 [Vertex AI] Add `HarmSeverity` enum and `SafetyRating` properties
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/ChatSample/Views/ErrorDetailsView.swift
  FirebaseVertexAI/Sample/ChatSample/Views/ErrorView.swift
  FirebaseVertexAI/Sources/Safety.swift
  FirebaseVertexAI/Sources/VertexLog.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13876 [Vertex AI] Add `HarmBlockMethod` enum and `method` property
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/Safety.swift
  FirebaseVertexAI/Tests/Integration/IntegrationTests.swift
Labels: api: vertexai

#13890 fix typos in release notes
  Crashlytics/CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
Labels: api: auth, api: crashlytics

#13891 [Vertex AI] Add `blockReasonMessage` to `PromptFeedback`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13896 [Vertex AI] Fix invalid DocC links and missing docs
  FirebaseVertexAI/Sources/FunctionCalling.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/ModelContent.swift
  FirebaseVertexAI/Sources/Types/Public/Part.swift
Labels: api: vertexai

#13893 [Vertex AI] Add `Citation.publicationDate`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Sources/Types/Internal/ProtoDate.swift
  FirebaseVertexAI/Sources/VertexLog.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
  FirebaseVertexAI/Tests/Unit/Types/ProtoDateTests.swift
Labels: api: vertexai

#13897 [Vertex AI] Rename `CandidateResponse` to `Candidate`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/ChatSample/Views/ErrorDetailsView.swift
  FirebaseVertexAI/Sample/ChatSample/Views/ErrorView.swift
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Tests/Unit/VertexAIAPITests.swift
Labels: api: vertexai

#13899 [Vertex AI] Add `presencePenalty` and `frequencyPenalty`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenerationConfig.swift
  FirebaseVertexAI/Tests/Unit/GenerationConfigTests.swift
Labels: api: vertexai

#13903 [Vertex AI] Increase macOS minimum to 12.0
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/Chat.swift
  FirebaseVertexAI/Sources/CountTokensRequest.swift
  FirebaseVertexAI/Sources/FunctionCalling.swift
  FirebaseVertexAI/Sources/GenerateContentError.swift
  FirebaseVertexAI/Sources/GenerateContentRequest.swift
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Sources/GenerationConfig.swift
  FirebaseVertexAI/Sources/GenerativeAIRequest.swift
  FirebaseVertexAI/Sources/GenerativeAIService.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/JSONValue.swift
  FirebaseVertexAI/Sources/ModelContent.swift
  FirebaseVertexAI/Sources/PartsRepresentable+Image.swift
  FirebaseVertexAI/Sources/PartsRepresentable.swift
  FirebaseVertexAI/Sources/Safety.swift
  FirebaseVertexAI/Sources/Types/Internal/InternalPart.swift
  FirebaseVertexAI/Sources/Types/Public/Part.swift
  FirebaseVertexAI/Sources/Types/Public/Schema.swift
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Tests/Unit/GenerationConfigTests.swift
  FirebaseVertexAI/Tests/Unit/JSONValueTests.swift
  FirebaseVertexAI/Tests/Unit/PartTests.swift
  FirebaseVertexAI/Tests/Unit/PartsRepresentableTests.swift
  FirebaseVertexAI/Tests/Unit/VertexAIAPITests.swift
  FirebaseVertexAI/Tests/Unit/VertexComponentTests.swift
Labels: api: vertexai

#13653 [Vertex AI] Add code snippets for use in docs
  FirebaseVertexAI/Tests/Unit/Snippets/FirebaseAppSnippetsUtil.swift
  FirebaseVertexAI/Tests/Unit/Snippets/FunctionCallingSnippets.swift
  FirebaseVertexAI/Tests/Unit/Snippets/StructuredOutputSnippets.swift
Labels: api: vertexai

#13904 [Vertex AI] Make `GenerationConfig` properties internal
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Sources/GenerationConfig.swift
Labels: api: vertexai

#13923 [Vertex AI] Use `GoogleService-Info.plist` in snippets tests
  FirebaseVertexAI/Tests/Unit/ChatTests.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
  FirebaseVertexAI/Tests/Unit/Snippets/FirebaseAppSnippetsUtil.swift
  FirebaseVertexAI/Tests/Unit/Snippets/FunctionCallingSnippets.swift
  FirebaseVertexAI/Tests/Unit/Snippets/README.md
  FirebaseVertexAI/Tests/Unit/Snippets/StructuredOutputSnippets.swift
  FirebaseVertexAI/Tests/Unit/TestUtilities/BundleTestUtil.swift
Labels: api: vertexai

#13927 [Vertex AI] Add GA changelog entry
  FirebaseVertexAI/CHANGELOG.md
Labels: api: vertexai

#13926 [Vertex AI] Add text-only `generateContent` and Chat snippets
  FirebaseVertexAI/Tests/Unit/Snippets/ChatSnippets.swift
  FirebaseVertexAI/Tests/Unit/Snippets/TextSnippets.swift
Labels: api: vertexai

#13929 [Vertex AI] Add multimodal code snippets
  FirebaseVertexAI/Tests/Unit/Resources/animals.mp4
  FirebaseVertexAI/Tests/Unit/Snippets/MultimodalSnippets.swift
Labels: api: vertexai

#13932 [Vertex AI] Changelog fixes
  FirebaseVertexAI/CHANGELOG.md
Labels: api: vertexai

#13925 [Config] Mark two `RCNConfigSettings` properties `atomic`
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/Private/RCNConfigSettings.h
Labels: api: remoteconfig

#13940 [Release] Carthage artifacts for 11.4.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck, api: abtesting

#13942 [CoreExtension] Remove `NS_SWIFT_UNAVAILABLE` attribute that caused breaking change
  Firebase.podspec
  FirebaseCore.podspec
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Extension/FIRHeartbeatLogger.h
  FirebaseCoreExtension.podspec
Labels: api: core

#13941 [Infra] Update `FirebaseVertexAI` row in FirebaseManifest.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: release-tooling

#13943 [Release] Update versions for Release 11.5.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  FirebaseVertexAI.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck, api: vertexai, api: abtesting

#13954 [Core] Prefer completion handler APIs in Core Internal
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatController.swift
  FirebaseCore/Internal/Sources/HeartbeatLogging/_ObjC_HeartbeatController.swift
  FirebaseCore/Internal/Tests/Integration/HeartbeatLoggingIntegrationTests.swift
  FirebaseCore/Internal/Tests/Unit/HeartbeatControllerTests.swift
Labels: api: core

#13952 [Core] Fix iOS 12 spec lint failure from incomplete `FirebaseCoreInternal` implementation
  Firebase.podspec
  FirebaseAuth/Tests/Unit/AuthBackendRPCImplementationTests.swift
  FirebaseCore.podspec
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatController.swift
  FirebaseCore/Internal/Sources/HeartbeatLogging/_ObjC_HeartbeatController.swift
  FirebaseCore/Internal/Tests/Integration/HeartbeatLoggingIntegrationTests.swift
  FirebaseCore/Internal/Tests/Unit/HeartbeatControllerTests.swift
  FirebaseCore/Sources/FIRHeartbeatLogger.m
  FirebaseCoreInternal.podspec
Labels: api: core, api: auth

#13597 Added Marathi language in Remote Config Locale List
  FirebaseRemoteConfig/Sources/RCNDevice.m
Labels: api: remoteconfig

#13953 Keep FirebaseCore, FirebaseCoreExtension and FirebaseCoreInternal pod versions aligned to latest
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAppCheck.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCombineSwift.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseSessions.podspec
  FirebaseStorage.podspec
  FirebaseVertexAI.podspec
  ReleaseTooling/Sources/FirebaseReleaser/InitializeRelease.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck, api: vertexai, api: abtesting

#13960 [Vertex AI] Add test app for integration tests
  .github/workflows/vertexai.yml
  FirebaseVertexAI/Tests/TestApp/Resources/Assets.xcassets/AccentColor.colorset/Contents.json
  FirebaseVertexAI/Tests/TestApp/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseVertexAI/Tests/TestApp/Resources/Assets.xcassets/Contents.json
  FirebaseVertexAI/Tests/TestApp/Resources/Preview Content/Preview Assets.xcassets/Contents.json
  FirebaseVertexAI/Tests/TestApp/Resources/TestApp.entitlements
  FirebaseVertexAI/Tests/TestApp/Sources/ContentView.swift
  FirebaseVertexAI/Tests/TestApp/Sources/TestApp.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/VertexAITestApp.xcodeproj/project.pbxproj
  scripts/build.sh
  scripts/gha-encrypted/VertexAI/TestApp-Credentials.swift.gpg
  scripts/gha-encrypted/VertexAI/TestApp-GoogleService-Info.plist.gpg
Labels: api: vertexai

#13973 [Vertex AI] Fix deployment targets for TestApp
  FirebaseVertexAI/Tests/TestApp/VertexAITestApp.xcodeproj/project.pbxproj
Labels: api: vertexai

#13988 [Auth] Use constants for 'supportsSecureCoding' implementation
  FirebaseAuth/Sources/Swift/Auth/AuthDataResult.swift
  FirebaseAuth/Sources/Swift/Auth/AuthTokenResult.swift
  FirebaseAuth/Sources/Swift/AuthProvider/EmailAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/FacebookAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/GameCenterAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/GitHubAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/GoogleAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthCredential.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthCredential.swift
  FirebaseAuth/Sources/Swift/AuthProvider/TwitterAuthProvider.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactor.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAppCredential.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/User/AdditionalUserInfo.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/User/UserInfoImpl.swift
  FirebaseAuth/Sources/Swift/User/UserMetadata.swift
Labels: api: auth

#13985 [Vertex AI] Disable xcodebuild parallel testing
  scripts/build.sh
Labels: api: vertexai

#13982 [Vertex AI] Remove `spm-integration` job
  .github/workflows/vertexai.yml
  FirebaseVertexAI/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/Integration/Resources/placeholder.txt
  Package.swift
  scripts/spm_test_schemes/FirebaseVertexAIIntegration.xcscheme
Labels: api: vertexai

#13993 [Infra] Only compile core extension headers once
  FirebaseCore/Extension/FIRAppInternal.h
  FirebaseCore/Extension/FIRComponent.h
  FirebaseCore/Extension/FIRComponentContainer.h
  FirebaseCore/Extension/FIRComponentType.h
  FirebaseCore/Extension/FIRHeartbeatLogger.h
  FirebaseCore/Extension/FIRLibrary.h
  FirebaseCore/Extension/FIRLogger.h
  FirebaseCore/Extension/FirebaseCoreInternal.h
Labels: api: core

#13983 [Infra] Replace `xcpretty` with `xcbeautify` in build.sh
  scripts/build.sh
Labels: api: vertexai

#14001 [Auth] Prefer immutable properties and private access level in `*Request` types
  FirebaseAuth/Sources/Swift/Backend/RPC/CreateAuthURIRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetOOBConfirmationCodeRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/Enroll/FinalizeMFAEnrollmentRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/Enroll/StartMFAEnrollmentRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/SignIn/FinalizeMFASignInRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/SignIn/StartMFASignInRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/MultiFactor/Unenroll/WithdrawMFARequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/RevokeTokenRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SecureTokenRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SetAccountInfoRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/VerifyPhoneNumberRequest.swift
  FirebaseAuth/Sources/Swift/Backend/VerifyClientRequest.swift
  FirebaseAuth/Sources/Swift/User/UserProfileUpdate.swift
  FirebaseAuth/Tests/Unit/SetAccountInfoTests.swift
Labels: api: auth

#14002 Update to a more recent rtdb emulator version
  FirebaseDatabase/Tests/Helpers/FTestContants.h
  FirebaseDatabase/Tests/Integration/FEventTests.m
  scripts/run_database_emulator.sh
Labels: api: database

#14007 [Vertex AI] Fix caching of Vertex AI instances
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Tests/Unit/VertexComponentTests.swift
Labels: api: vertexai
