Repository firebase/firebase-ios-sdk, pull requests merged in 2024-08, with the labels that each got.

#13442 [Infra] Extend expectation wait time in FIRCLSSettingsTests.m
  Crashlytics/UnitTests/FIRCLSSettingsTests.m
Labels: api: crashlytics

#13428 [storage] Migrate to actor to fix a potential data race in initialization
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/Internal/StorageDeleteTask.swift
  FirebaseStorage/Sources/Internal/StorageFetcherService.swift
  FirebaseStorage/Sources/Internal/StorageGetDownloadURLTask.swift
  FirebaseStorage/Sources/Internal/StorageGetMetadataTask.swift
  FirebaseStorage/Sources/Internal/StorageInternalTask.swift
  FirebaseStorage/Sources/Internal/StorageListTask.swift
  FirebaseStorage/Sources/Internal/StorageUpdateMetadataTask.swift
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Sources/StorageDownloadTask.swift
  FirebaseStorage/Sources/StorageObservableTask.swift
  FirebaseStorage/Sources/StorageReference.swift
  FirebaseStorage/Sources/StorageTask.swift
  FirebaseStorage/Sources/StorageUploadTask.swift
  FirebaseStorage/Tests/Unit/StorageComponentTests.swift
  FirebaseStorage/Tests/Unit/StorageDeleteTests.swift
  FirebaseStorage/Tests/Unit/StorageGetMetadataTests.swift
  FirebaseStorage/Tests/Unit/StorageListTests.swift
  FirebaseStorage/Tests/Unit/StorageTestHelpers.swift
  FirebaseStorage/Tests/Unit/StorageUpdateMetadataTests.swift
Labels: api: storage, public-api-change

#13445 [Storage] Addressing Swift 6 issues with `Storage`'s instance management
  FirebaseStorage/Sources/Storage.swift
Labels: api: storage, do-not-merge

#13446 [Storage] Manage fetcherService from a data race safe singleton
  FirebaseStorage/Sources/Internal/StorageFetcherService.swift
  FirebaseStorage/Sources/Internal/StorageInternalTask.swift
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Sources/StorageDownloadTask.swift
  FirebaseStorage/Sources/StorageUploadTask.swift
  FirebaseStorage/Tests/Unit/StorageAuthorizerTests.swift
  FirebaseStorage/Tests/Unit/StorageDeleteTests.swift
  FirebaseStorage/Tests/Unit/StorageGetMetadataTests.swift
  FirebaseStorage/Tests/Unit/StorageListTests.swift
  FirebaseStorage/Tests/Unit/StorageTestHelpers.swift
  FirebaseStorage/Tests/Unit/StorageUpdateMetadataTests.swift
Labels: api: storage

#13472 [Auth] Fix async/await crash from implicitly unwrapped nil error
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/Unit/AuthAPNSTokenManagerTests.swift
  FirebaseAuth/Tests/Unit/PhoneAuthProviderTests.swift
Labels: api: auth

#13454 [CoreInternal] Address Swift 6 warnings (1)
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatController.swift
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatsPayload.swift
Labels: api: core

#13484 [Firestore] Resolve protocol conformance warnings
  Firestore/Swift/Source/Codable/DocumentReference+Codable.swift
  Firestore/Swift/Source/Codable/FieldValue+Encodable.swift
  Firestore/Swift/Source/Codable/GeoPoint+Codable.swift
  Firestore/Swift/Source/Codable/Timestamp+Codable.swift
  Firestore/Swift/Source/Codable/VectorValue+Codable.swift
Labels: api: firestore, public-api-change

#13491 [Infra] Force link remaining categories after #13435
  FirebaseInAppMessaging/Sources/FIRInAppMessaging.m
  FirebaseInAppMessaging/Sources/Runtime/FIRInAppMessaging+Bootstrap.m
  FirebaseInAppMessaging/Sources/Util/NSString+FIRInterlaceStrings.m
  FirebaseInAppMessaging/Sources/Util/UIApplication+FIRForegroundWindowScene.m
  FirebaseInAppMessaging/Sources/Util/UIColor+FIRIAMHexString.m
  FirebaseInstallations/Source/Library/FIRInstallations.m
  FirebaseInstallations/Source/Library/InstallationsAPI/FIRInstallationsItem+RegisterInstallationAPI.m
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/NSDictionary+FIRMessaging.m
  FirebaseMessaging/Sources/NSError+FIRMessaging.m
Labels: api: messaging, api: inappmessaging, api: installations

#13483 [Firestore] Add Sendable annotation to VectorValue
  Firestore/Source/Public/FirebaseFirestore/FIRVectorValue.h
Labels: api: firestore, public-api-change

#13492 Analytics 11.1.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  Package.swift
Labels: api: analytics

#13490 Adding LinkDomain to ActionCodeSetting
  FirebaseAuth/Sources/Swift/ActionCode/ActionCodeSettings.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetOOBConfirmationCodeRequest.swift
  FirebaseAuth/Tests/Unit/GetOOBConfirmationCodeTests.swift
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
Labels: api: auth

#13500 11.1.0 Changelog update
  FirebaseStorage/CHANGELOG.md
Labels: api: storage

#13498 update the sample app to use link domains for ActionCodeSettings
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AccountLinkingViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/OtherAuthMethodControllers/PasswordlessViewController.swift
Labels: api: auth

#13505 Fix and Regression Test for FirebaseUI 1199
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Tests/Unit/FIROAuthProviderTests.m
  Package.swift
Labels: api: auth

#13509 [Vertex AI] Move `Schema` and `DataType` to separate file
  FirebaseVertexAI/Sources/FunctionCalling.swift
  FirebaseVertexAI/Sources/Schema.swift
Labels: api: vertexai

#13517 Carthage M152 11.1.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#13520 [Vertex AI] Make `uri` optional in `Citation` and add `title` field
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Tests/Unit/ChatTests.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13453 [firestore] Mark readonly public classes as Sendable
  Firestore/CHANGELOG.md
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateField.h
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateQuery.h
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateQuerySnapshot.h
  Firestore/Source/Public/FirebaseFirestore/FIRCollectionReference.h
  Firestore/Source/Public/FirebaseFirestore/FIRDocumentChange.h
  Firestore/Source/Public/FirebaseFirestore/FIRDocumentReference.h
  Firestore/Source/Public/FirebaseFirestore/FIRDocumentSnapshot.h
  Firestore/Source/Public/FirebaseFirestore/FIRFieldPath.h
  Firestore/Source/Public/FirebaseFirestore/FIRFieldValue.h
  Firestore/Source/Public/FirebaseFirestore/FIRFilter.h
  Firestore/Source/Public/FirebaseFirestore/FIRGeoPoint.h
  Firestore/Source/Public/FirebaseFirestore/FIRLoadBundleTask.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuery.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuerySnapshot.h
  Firestore/Source/Public/FirebaseFirestore/FIRSnapshotListenOptions.h
  Firestore/Source/Public/FirebaseFirestore/FIRSnapshotMetadata.h
  Firestore/Swift/Tests/API/BasicCompileTests.swift
Labels: api: firestore, public-api-change

#13522 Version 11.2.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#13521 Fix Xcode 16 continuation crashes
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Docs/threading.md
  FirebaseAuth/Sources/Swift/Auth/AuthSerialTaskQueue.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/User/UserProfileUpdate.swift
  FirebaseAuth/Tests/Unit/AuthBackendRPCImplentationTests.swift
  FirebaseAuth/Tests/Unit/AuthSerialTaskQueueTests.swift
  FirebaseAuth/Tests/Unit/Fakes/FakeBackendRPCIssuer.swift
Labels: api: auth

#13531 `FunctionsContext` Updates
  FirebaseFunctions/Sources/Internal/FunctionsContext.swift
Labels: api: functions

#13519 [Auth] Phone Auth – Fallback to reCATCHA flow when "invalid app credential" error is thrown
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
Labels: api: auth

#13128 Support hex strings to prevent broken log lines
  Firestore/core/src/remote/grpc_stream.cc
  Firestore/core/src/remote/remote_store.cc
  Firestore/core/src/remote/stream.cc
  Firestore/core/src/util/string_format.cc
  Firestore/core/test/unit/util/string_format_test.cc
Labels: api: firestore

#13544 [Vertex AI] Remove extraneous `GenerativeModel.modelResourceName` method
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
  FirebaseVertexAI/Tests/Unit/VertexComponentTests.swift
Labels: api: vertexai

#13539 Fix Phone Auth via APNS for Sandbox Tokens and update Sample's Firebase app
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/Backend/VerifyClientRequest.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample.xcodeproj/project.pbxproj
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample.xcodeproj/xcshareddata/xcschemes/AuthenticationExample.xcscheme
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/SettingsUITests.swift
  FirebaseAuth/Tests/SampleSwift/ObjCApiTests/AccountInfoTests.m
  FirebaseAuth/Tests/SampleSwift/SwiftApiTests/AccountInfoTests.swift
  FirebaseAuth/Tests/SampleSwift/SwiftApiTests/Credentials.swift
  FirebaseAuth/Tests/SampleSwift/SwiftApiTests/GoogleTests.swift
  scripts/gha-encrypted/AuthSample/AuthCredentials.h.gpg
  scripts/gha-encrypted/AuthSample/Credentials.swift.gpg
  scripts/gha-encrypted/AuthSample/GoogleService-Info.plist.gpg
  scripts/gha-encrypted/AuthSample/SwiftApplication.plist.gpg
Labels: api: auth

#13548 [Auth] Add background modes capability to plist
  .github/workflows/auth.yml
  .gitignore
  FirebaseAuth/Tests/SampleSwift/SwiftApiTests/EmailPasswordTests.swift
  FirebaseAuth/Tests/SampleSwift/SwiftApiTests/TestsBase.swift
  scripts/gha-encrypted/AuthSample/SwiftApplication.plist.gpg
Labels: api: auth

#13556 [Vertex AI] Update MarkdownUI dep to 2.4.0 in sample app
  FirebaseVertexAI/Sample/VertexAISample.xcodeproj/project.pbxproj
Labels: api: vertexai

#13557 [Auth] When swizzling is disabled, open URLs via SceneDelegate
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/SceneDelegate.swift
Labels: api: auth

#13560 [Vertex AI] Add `Sendable` conformance to types
  FirebaseVertexAI/Sources/FunctionCalling.swift
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Sources/JSONValue.swift
  FirebaseVertexAI/Sources/ModelContent.swift
  FirebaseVertexAI/Sources/Safety.swift
Labels: api: vertexai

#13554 [Auth] Fix delete action in sample app
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AccountLinkingViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/UserViewController.swift
Labels: api: auth

#13561 [Auth] Fix unexpected nil in fetchSignInMethods success case
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/CreateAuthURIResponse.swift
  FirebaseAuth/Tests/SampleSwift/SwiftApiTests/EmailPasswordTests.swift
Labels: api: auth
