Repository firebase/firebase-ios-sdk, pull requests merged in 2024-03, with the labels that each got.

#12465 [Release] Carthage updates for 10.22.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#12464 add release notes and privacy manifest for interop
  Crashlytics/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: remoteconfig, api: crashlytics, release-tooling

#12467 [Release] Update versions for Release 10.23.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#12469 Add API tests for hashed email and phone number
  FirebaseAnalyticsSwift/Tests/ObjCAPI/ObjCAPITests.m
  FirebaseAnalyticsSwift/Tests/SwiftUnit/AnalyticsAPITests.swift
Labels: api: analytics

#12471 Update upload-symbols to 13.7
  Crashlytics/CHANGELOG.md
  Crashlytics/upload-symbols
Labels: api: crashlytics

#12482 Analytics 10.22.1
  FirebaseAnalyticsOnDeviceConversion.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#12483 Upgrade `clang-format` to v18
  CONTRIBUTING.md
  FirebaseDatabase/Tests/Integration/FData.m
  FirebaseDatabase/Tests/Integration/FIRDatabaseQueryTests.m
  FirebaseDatabase/Tests/Integration/FOrderByTests.m
  Firestore/core/src/immutable/keys_view.h
  Firestore/core/src/util/hashing.h
  README.md
  scripts/setup_check.sh
  scripts/style.sh
Labels: api: database, api: firestore

#12484 Analytics 10.22.1 (#12482)
  FirebaseAnalyticsOnDeviceConversion.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#12490 [Release] Add patch note for 10.22.1
  FirebaseCore/CHANGELOG.md
Labels: api: core

#12489 Update Firebase version for 10.22.1
  Package.swift
Labels: api: core, release-tooling

#12497 Restore 10.23.0 versions to main after 10.22.1
  FirebaseAnalyticsOnDeviceConversion.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
Labels: api: analytics

#12499 fix unit test
  Crashlytics/UnitTestsSwift/CrashlyticsRemoteConfigManagerTests.swift
Labels: api: crashlytics

#12500 Fix rollouts tests
  Crashlytics/Crashlytics/Controllers/FIRCLSRolloutsPersistenceManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSRolloutsPersistenceManager.m
Labels: api: crashlytics

#12502 reword parameter name
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.h
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.m
Labels: api: remoteconfig

#12398 Upgrade grpc to 1.62 for cocoapods
  FirebaseFirestoreInternal.podspec
  Firestore/core/test/unit/nanopb/message_test.cc
  Firestore/core/test/unit/util/to_string_test.cc
Labels: api: firestore

#12370 Snapshot listener source from cache
  Firestore/CHANGELOG.md
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Example/Tests/SpecTests/FSTSpecTests.mm
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.h
  Firestore/Example/Tests/SpecTests/FSTSyncEngineTestDriver.mm
  Firestore/Example/Tests/SpecTests/json/listen_source_spec_test.json
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.h
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/Source/API/FIRDocumentReference.mm
  Firestore/Source/API/FIRQuery.mm
  Firestore/Source/API/FIRSnapshotListenOptions.mm
  Firestore/Source/API/converters.h
  Firestore/Source/API/converters.mm
  Firestore/Source/Public/FirebaseFirestore/FIRDocumentReference.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuery.h
  Firestore/Source/Public/FirebaseFirestore/FIRSnapshotListenOptions.h
  Firestore/Source/Public/FirebaseFirestore/FirebaseFirestore.h
  Firestore/Swift/Tests/BridgingHeader.h
  Firestore/Swift/Tests/Integration/SnapshotListenerSourceTests.swift
  Firestore/core/src/api/listen_source.h
  Firestore/core/src/core/event_manager.cc
  Firestore/core/src/core/event_manager.h
  Firestore/core/src/core/listen_options.h
  Firestore/core/src/core/query_listener.cc
  Firestore/core/src/core/query_listener.h
  Firestore/core/src/core/sync_engine.cc
  Firestore/core/src/core/sync_engine.h
  Firestore/core/test/unit/core/event_manager_test.cc
Labels: api: firestore, public-api-change

#12520 [spm] Update grpc to 1.62.3
  Firestore/CHANGELOG.md
  Package.swift
Labels: api: firestore

#12517 [Release Tooling] Copy over macOS/macCatalyst plists
  FirebaseCore/CHANGELOG.md
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: release-tooling

#12533 Changelog updates for 10.23.0
  Crashlytics/CHANGELOG.md
  FirebaseCore/CHANGELOG.md
  FirebaseMessaging/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: core, api: messaging, api: firestore, api: remoteconfig, api: crashlytics

#12534 [Firestore] Add unlinked symbol introduced in #12370
  Firestore/Source/API/FIRFirestore.mm
  Firestore/Source/API/FIRSnapshotListenOptions.mm
Labels: api: firestore

#12536 Fix Firestore build warnings
  Firestore/core/src/local/index_backfiller.cc
  Firestore/core/src/local/index_backfiller.h
  Firestore/core/src/local/local_documents_view.cc
  Firestore/core/src/local/local_documents_view.h
  Firestore/core/src/remote/bloom_filter.cc
Labels: api: firestore

#12539 Analytics 10.23.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  Package.swift
Labels: api: analytics

#12531 Remove calls to fstat in crashlytics
  Crashlytics/Crashlytics/Helpers/FIRCLSFile.m
  Crashlytics/Shared/FIRCLSMachO/FIRCLSMachO.m
Labels: api: crashlytics

#12553 fix unit tests
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig

#12558 [Release] Add release note for signed artifact changes
  Firestore/CHANGELOG.md
Labels: api: firestore

#12565 Fix typo
  Firestore/Source/Public/FirebaseFirestore/FIRSnapshotListenOptions.h
Labels: api: firestore, public-api-change

#12588 Carthage 10.23.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#12609 [Release Tooling] Add case to address both issues with PrivateHeaders
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: release-tooling

#12594 Update versions for Release 10.24.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#12595 [Release Tooling] Update XCFramework structure
  FirebaseCore/CHANGELOG.md
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
  scripts/setup_quickstart_framework.sh
Labels: release-tooling

#12648 Analytics 10.23.1
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseCore/CHANGELOG.md
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: core, api: analytics

#12649 Tweak release note
  FirebaseCore/CHANGELOG.md
Labels: api: core

#12654 [CocoaPods] Lock FirestoreInternal version to Firestore
  FirebaseFirestore.podspec
  ReleaseTooling/Sources/FirebaseReleaser/InitializeRelease.swift
Labels: api: firestore, release-tooling

#12655 Merge 10.23.1
  FirebaseAnalytics.podspec
  FirebaseCore/CHANGELOG.md
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: core, api: analytics

#12659 [Crashlytics] Fix missing Swift header error
  .github/workflows/crashlytics.yml
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Controllers/FIRCLSRolloutsPersistenceManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSRolloutsPersistenceManager.m
  Crashlytics/Crashlytics/FIRCrashlytics.m
Labels: api: crashlytics

#12416 Move MIEQ to composite index tests
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/API/FIRCompositeIndexQueryTests.mm
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/firestore_collection_group_index_config.tf
  Firestore/firestore_composite_index_config.tf
Labels: api: firestore
