Repository firebase/firebase-ios-sdk, pull requests merged in 2024-04, with the labels that each got.

#12624 feat: add basic support to build frameworks and zip them for the Apple Watch
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/FirebaseManifest/Pod.swift
  ReleaseTooling/Sources/ZipBuilder/CocoaPodUtils.swift
  ReleaseTooling/Sources/ZipBuilder/Platform.swift
  ReleaseTooling/Sources/ZipBuilder/TargetPlatform.swift
  ReleaseTooling/Sources/ZipBuilder/main.swift
  ReleaseTooling/Template/README.md
Labels: Carthage, zip-builder, watchOS

#12670 Release note for watchOS zip/Carthage
  FirebaseCore/CHANGELOG.md
Labels: api: core

#12664 [Crashlytics] Remove mach_absolute_time usages
  Crashlytics/CHANGELOG.md
  Crashlytics/Crashlytics/Components/FIRCLSProcess.c
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.h
  Crashlytics/Crashlytics/Controllers/FIRCLSReportManager.m
  Crashlytics/Crashlytics/FIRCrashlytics.m
  Crashlytics/Crashlytics/Helpers/FIRCLSProfiling.c
  Crashlytics/Crashlytics/Helpers/FIRCLSProfiling.h
  Crashlytics/UnitTests/FIRCLSReportManagerTests.m
  Crashlytics/UnitTests/FIRCLSReportUploaderTests.m
  Crashlytics/UnitTests/Mocks/FIRCLSMockReportManager.m
Labels: api: crashlytics

#12665 Update to SwiftFormat 0.53.5
  CoreOnly/Tests/FirebasePodTest/FirebasePodTest/AppDelegate.swift
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatsBundle.swift
  FirebaseCore/Internal/Tests/Unit/HeartbeatStorageTests.swift
  FirebaseCore/Internal/Tests/Unit/HeartbeatTests.swift
  FirebaseRemoteConfigSwift/Sources/FirebaseRemoteConfigSwift.swift
  FirebaseSessions/Sources/FirebaseSessions.swift
  FirebaseSessions/Sources/Installations+InstallationsProtocol.swift
  FirebaseSessions/Tests/Unit/SessionStartEventTests.swift
  Mintfile
Labels: api: core, api: remoteconfig

#12672 Fix typo: Timout -> Timeout
  FirebaseDynamicLinks/Tests/Unit/FIRDLScionLoggingTest.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinkNetworkingTests.m
  FirebaseDynamicLinks/Tests/Unit/FIRDynamicLinksTest.m
  FirebaseMessaging/Tests/UnitTests/FIRMessagingAnalyticsTest.m
Labels: api: dynamiclinks

#12675 [Crashlytics] Regenerate privacy manifest
  Crashlytics/Resources/PrivacyInfo.xcprivacy
Labels: api: crashlytics

#12677 [Release] Version changelog entries for 10.24.0
  Crashlytics/CHANGELOG.md
  FirebaseCore/CHANGELOG.md
  FirebaseStorage/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: core, api: storage, api: firestore, api: crashlytics

#12661 [Release Tooling] Fix METADATA.md regression introduced in #12595
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
Labels: release-tooling

#12663 Passkey swift tests
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#12681 fix passkey name caching issue
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Tests/Unit/FIRUserTests.m
Labels: api: auth

#12693 Analytics 10.24.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#12691 Vertex AI preview versioning
  FirebaseCore/Sources/FIROptions.m
  FirebaseCore/Tests/Unit/FIROptionsTest.m
  Package.swift
  SwiftPMTests/swift-test/all-imports.swift
Labels: api: core

#12710 fix the sign in with deleted passkey crash issue
  FirebaseAuth/Sources/Auth/FIRAuth.m
  FirebaseAuth/Sources/Backend/FIRAuthBackend.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuthErrors.h
  FirebaseAuth/Sources/User/FIRUser.m
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.h
  FirebaseAuth/Sources/Utilities/FIRAuthErrorUtils.m
  FirebaseAuth/Sources/Utilities/FIRAuthInternalErrors.h
Labels: api: auth, public-api-change

#12714 [FirebaseCoreInternal] Switch to implementation-only import of GULs
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatsPayload.swift
Labels: api: core

#12658 Sample app for passkey
  FirebaseAuth/Tests/Sample/AuthSample.xcodeproj/project.pbxproj
  FirebaseAuth/Tests/Sample/Sample/MainViewController+OAuth.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Passkey.h
  FirebaseAuth/Tests/Sample/Sample/MainViewController+Passkey.m
  FirebaseAuth/Tests/Sample/Sample/MainViewController.m
  FirebaseAuth/Tests/Sample/Sample/UserInfoViewController.m
Labels: api: auth

#12734 [Carthage] Update Carthage artifacts for Firebase 10.24.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#12743 [Release] Update versions for Release 10.25.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#12753 [Database] Migrate to GoogleUtilities's storage container
  FirebaseDatabase.podspec
  FirebaseDatabase/Sources/Core/FRepoInfo.m
  Package.swift
Labels: api: database

#12758 Use declspec in Firestore on Windows machines
  Firestore/core/src/util/string_format.cc
Labels: api: firestore

#12761 [CoreInternal] Make test encoder deterministic to avoid Xcode 15 flakiness
  FirebaseCore/Internal/Tests/Unit/HeartbeatTests.swift
Labels: api: core

#12757 [InAppMessaging] Migrate to GoogleUtilities's storage container
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMAnalyticsEventLoggerImpl.h
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMAnalyticsEventLoggerImpl.m
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutUploader.m
  FirebaseInAppMessaging/Sources/Flows/FIRIAMBookKeeper.m
  FirebaseInAppMessaging/Sources/Private/Analytics/FIRIAMClearcutUploader.h
  FirebaseInAppMessaging/Sources/Private/Flows/FIRIAMBookKeeper.h
  FirebaseInAppMessaging/Sources/Private/Runtime/FIRIAMSDKModeManager.h
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMRuntimeManager.m
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMSDKModeManager.m
  FirebaseInAppMessaging/Tests/Unit/FIRIAMAnalyticsEventLoggerImplTests.m
  FirebaseInAppMessaging/Tests/Unit/FIRIAMBookKeeperViaUserDefaultsTests.m
  FirebaseInAppMessaging/Tests/Unit/FIRIAMClearcutUploaderTests.m
  FirebaseInAppMessaging/Tests/Unit/FIRIAMSDKModeManagerTests.m
  Package.swift
Labels: api: inappmessaging

#12746 [CI] Stop Xcode 14, start Xcode 15.3
  .github/workflows/abtesting.yml
  .github/workflows/analytics.yml
  .github/workflows/appdistribution.yml
  .github/workflows/archiving.yml
  .github/workflows/auth.yml
  .github/workflows/check.yml
  .github/workflows/client_app.yml
  .github/workflows/cocoapods-integration.yml
  .github/workflows/combine.yml
  .github/workflows/core.yml
  .github/workflows/core_extension.yml
  .github/workflows/core_internal.yml
  .github/workflows/crashlytics.yml
  .github/workflows/danger.yml
  .github/workflows/database.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firebase_app_check.yml
  .github/workflows/firestore-nightly.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/google-utilities-components.yml
  .github/workflows/health-metrics-presubmit.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/installations.yml
  .github/workflows/messaging.yml
  .github/workflows/mlmodeldownloader.yml
  .github/workflows/notice_generation.yml
  .github/workflows/performance-integration-tests.yml
  .github/workflows/performance.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/sessions-integration-tests.yml
  .github/workflows/sessions.yml
  .github/workflows/shared-swift.yml
  .github/workflows/spectesting.yml
  .github/workflows/spm.yml
  .github/workflows/storage.yml
  .github/workflows/symbolcollision.yml
  .github/workflows/watchos-sample.yml
  .github/workflows/zip.yml
  FirebaseAuth/Tests/Unit/FIRAuthUseUserAccessGroupTests.m
  FirebaseCore/Internal/Tests/Unit/HeartbeatTests.swift
  FirebaseCoreInternal.podspec
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/FiamDisplaySwiftExample/Base.lproj/Main.storyboard
  FirebaseInAppMessaging/Tests/Integration/DefaultUITestApp/InAppMessagingDisplay-UITests/InAppMessagingDisplayModalViewUITests.swift
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/InAppMessaging_Example_iOS_SwiftUITests/InAppMessaging_Example_iOS_SwiftUITests.swift
  FirebaseSessions/Sources/FirebaseSessions.swift
  IntegrationTesting/ClientApp/ClientApp.xcodeproj/project.pbxproj
  IntegrationTesting/ClientApp/Podfile
  Package.swift
  README.md
  ReleaseTooling/Template/README.md
  SwiftPackageManager.md
  SymbolCollisionTest/Podfile
  scripts/build.sh
  scripts/health_metrics/pod_test_code_coverage_report.sh
Labels: api: core, api: auth, api: inappmessaging, release-tooling, Xcode 15 - iOS 17

#12773 [AppCheck] Migrate to GoogleUtilities's storage container
  FirebaseAppCheck.podspec
  FirebaseAppCheck/Sources/Core/FIRAppCheck.m
  FirebaseAppCheck/Sources/Core/FIRAppCheckSettings.h
  FirebaseAppCheck/Sources/Core/FIRAppCheckSettings.m
  FirebaseAppCheck/Tests/Unit/Core/FIRAppCheckSettingsTests.m
  Package.swift
Labels: api: appcheck

#12774 [Release] Update changelogs for user defaults migration PRs
  Crashlytics/CHANGELOG.md
  FirebaseAppCheck/CHANGELOG.md
  FirebaseDatabase/CHANGELOG.md
  FirebaseInAppMessaging/CHANGELOG.md
  FirebasePerformance/CHANGELOG.md
Labels: api: database, api: performance, api: crashlytics, api: inappmessaging, api: appcheck

#12792 [Release] Update instructions with tips for integration
  FirebaseCore/CHANGELOG.md
  ReleaseTooling/Template/README.md
Labels: api: core, release-tooling

#12806 [App Check] Bump dependency on AppCheckCore to 10.19.0+
  FirebaseAppCheck.podspec
  Package.swift
Labels: api: appcheck

#12694 Allow Blob of data with zero length.
  Firestore/CHANGELOG.md
  Firestore/Swift/Tests/Integration/CodableIntegrationTests.swift
  Firestore/core/src/nanopb/nanopb_util.h
Labels: api: firestore

#12737 [Infra] Switch zip building over to Xcode 15.2
  .github/workflows/zip.yml
  FirebaseCore/CHANGELOG.md
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: api: core, release-tooling

#12815 [Crashlytics] Make 10.25.0 changelog entry more precise
  Crashlytics/CHANGELOG.md
Labels: api: crashlytics

#12548 Make use of SQLITE_OPEN_FILEPROTECTION_COMPLETEUNTILFIRSTUSERAUTHENTICATION conditional.
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.m
Labels: api: remoteconfig

#12830 [Release] Add changelog entry for #12548
  FirebaseRemoteConfig/CHANGELOG.md
Labels: api: remoteconfig

#12822 [auth-swift] Disable ObjC-implementation dependent Combine Auth tests
  FirebaseCombineSwift.podspec
  FirebaseCombineSwift/Tests/Unit/FirebaseCombine-unit-Bridging-Header.h
  FirebaseCombineSwift/Tests/Unit/Firestore/GetDocumentsTests.swift
  FirebaseCombineSwift/Tests/Unit/Storage/StorageReferenceTests.swift
Labels: api: firestore

#12821 [Release Tooling] Consistent approach to resources when building on Xcode 15
  FirebaseInAppMessaging/Sources/DefaultUI/FIRIAMDefaultDisplayImpl.m
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
  ReleaseTooling/Template/README.md
Labels: api: inappmessaging, release-tooling

#12825 [Release Tooling] Cleanup unused folder references
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: release-tooling

#12840 [Release] Update FIAM 10.25.0 changelog to reflect #12821
  FirebaseInAppMessaging/CHANGELOG.md
Labels: api: inappmessaging

#12839 Update unreleased changelog entries for 10.25.0
  Crashlytics/CHANGELOG.md
  FirebaseAppCheck/CHANGELOG.md
  FirebaseCore/CHANGELOG.md
  FirebaseDatabase/CHANGELOG.md
  FirebaseInAppMessaging/CHANGELOG.md
  FirebasePerformance/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: core, api: database, api: firestore, api: performance, api: remoteconfig, api: crashlytics, api: inappmessaging, api: appcheck

#12843 Analytics 10.25.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#12841 Update `FIRAuthInterop` to use `_Nullable_result` annotation
  FirebaseAuth/Interop/FIRAuthInterop.h
  FirebaseFunctions.podspec
  FirebaseStorage.podspec
Labels: api: auth, api: storage, api: functions

#12863 Gracefully fail rollout write
  Crashlytics/Crashlytics/Controllers/FIRCLSRolloutsPersistenceManager.m
Labels: api: crashlytics

#12871 [Release] Carthage updates for 10.25.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck
