Repository firebase/firebase-ios-sdk, pull requests merged in 2024-01, with the labels that each got.

#12229 [auth-swift] Fix a few decode runtime analyze issues
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthCredential.swift
  FirebaseAuth/Sources/Swift/MultiFactor/Phone/PhoneMultiFactorInfo.swift
Labels: api: auth

#12227 Add build tests for Auth globals
  FirebaseAuth/Tests/Unit/ObjCGlobalTests.m
  FirebaseAuth/Tests/Unit/SwiftGlobalTests.swift
  Package.swift
Labels: api: auth

#12232 Remove unnecessary compiler checks for Concurrency support
  FirebaseAppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
  FirebaseAuth/Tests/Sample/SwiftApiTests/AccountInfoTests.swift
  FirebaseAuth/Tests/Sample/SwiftApiTests/AnonymousTests.swift
  FirebaseAuth/Tests/Sample/SwiftApiTests/EmailPasswordTests.swift
  FirebaseAuth/Tests/Sample/SwiftApiTests/FacebookTests.swift
  FirebaseAuth/Tests/Sample/SwiftApiTests/GoogleTests.swift
  FirebaseAuth/Tests/Sample/SwiftApiTests/TestsBase.swift
  FirebaseCore/Tests/SwiftUnit/CoreAPITests.swift
  FirebaseDatabase/Tests/Unit/Swift/DatabaseAPITests.swift
  FirebaseFunctions/Sources/Callable+Codable.swift
  FirebaseFunctions/Sources/HTTPSCallable.swift
  FirebaseFunctions/Tests/Integration/IntegrationTests.swift
  FirebaseFunctions/Tests/Unit/FunctionsAPITests.swift
  FirebaseInstallations/Source/Tests/Unit/Swift/InstallationsAPITests.swift
  FirebaseMessaging/Tests/UnitTestsSwift/FIRMessagingAPITest.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/AsyncAwaitTests.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/Codable.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/PropertyWrapperDefaultConfigsTests.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/PropertyWrapperTests.swift
  FirebaseRemoteConfigSwift/Tests/SwiftAPI/Value.swift
  FirebaseStorage/Sources/AsyncAwait.swift
  FirebaseStorage/Sources/StorageReference.swift
  FirebaseStorage/Tests/Integration/StorageAsyncAwait.swift
  Firestore/Swift/Source/AsyncAwait/CollectionReference+AsyncAwait.swift
  Firestore/Swift/Source/AsyncAwait/Firestore+AsyncAwait.swift
  Firestore/Swift/Source/Codable/DocumentReference+ReadDecodable.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: remoteconfig, api: functions, api: installations, api: appcheck

#12235 Storage Integration Test flakiness
  FirebaseStorage/Tests/Integration/StorageAsyncAwait.swift
  FirebaseStorage/Tests/Integration/StorageIntegration.swift
Labels: api: storage

#12234 Firebase Dynamic Links Deprecation Notices
  FirebaseDynamicLinks/README.md
  README.md
Labels: api: dynamiclinks

#12243 [Release Tooling] Stop including 'Info.plist's in static xcframeworks
  FirebaseCore/CHANGELOG.md
  ReleaseTooling/Sources/ZipBuilder/CarthageUtils.swift
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: api: core, release-tooling

#12246 Decode old fcmToken format
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/Token/FIRMessagingTokenInfo.h
  FirebaseMessaging/Sources/Token/FIRMessagingTokenInfo.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenStore.m
Labels: api: messaging

#12255 Analytics 10.20.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#12260 Firestore 10.20.0 binary and changelog update
  FirebaseCore/CHANGELOG.md
  Package.swift
Labels: api: core

#12257 Fixes uncovered testing keychain decoding across versions and instances
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/User/UserMetadata.swift
Labels: api: auth

#12261 Update async/await availability comments to "iOS 13+"
  FirebaseAppCheck/Tests/Unit/Swift/AppCheckAPITests.swift
  FirebaseCore/Tests/SwiftUnit/CoreAPITests.swift
  FirebaseDatabase/Tests/Unit/Swift/DatabaseAPITests.swift
  FirebaseFunctions/Tests/Unit/FunctionsAPITests.swift
  FirebaseInstallations/Source/Tests/Unit/Swift/InstallationsAPITests.swift
Labels: api: core, api: database, api: functions, api: installations, api: appcheck

#12254 Firestore: Small Count API documentation improvements
  Firestore/Source/Public/FirebaseFirestore/FIRAggregateSource.h
  Firestore/Source/Public/FirebaseFirestore/FIRQuery.h
Labels: api: firestore, public-api-change

#12258 [Rollouts] Rollouts serialization
  Crashlytics/Crashlytics/Rollouts/CrashlyticsRemoteConfigManager.swift
  Crashlytics/Crashlytics/Rollouts/EncodedRolloutAssignment.swift
  Crashlytics/Crashlytics/Rollouts/StringToHexConverter.swift
  Crashlytics/UnitTests/FIRCLSFileTests.m
  Crashlytics/UnitTestsSwift/CrashlyticsRemoteConfigManagerTests.swift
  FirebaseRemoteConfig/Interop/RolloutAssignment.swift
Labels: api: remoteconfig, api: crashlytics, api: rollouts

#12264 Firestore: Use foundation API instead of C API
  Firestore/core/src/util/filesystem_apple.mm
  Firestore/core/src/util/filesystem_posix.cc
Labels: api: firestore

#12267 [NFC] Fix typos `occured` → `occurred`
  Crashlytics/Crashlytics/Handlers/FIRCLSHandler.m
  FirebaseDatabase/CHANGELOG.md
  FirebasePerformance/Tests/Unit/FPRNetworkTraceTest.m
Labels: api: database, api: performance, api: crashlytics

#12263 [auth-swift] Consistent NSSecureCoding decode
  FirebaseAuth/Sources/Swift/Auth/AuthDataResult.swift
  FirebaseAuth/Sources/Swift/Auth/AuthTokenResult.swift
  FirebaseAuth/Sources/Swift/AuthProvider/EmailAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/FacebookAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/GameCenterAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/GitHubAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/GoogleAuthProvider.swift
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthCredential.swift
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthCredential.swift
  FirebaseAuth/Sources/Swift/AuthProvider/TwitterAuthProvider.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactor.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactorInfo.swift
  FirebaseAuth/Sources/Swift/MultiFactor/Phone/PhoneMultiFactorInfo.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAppCredential.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Sources/Swift/User/AdditionalUserInfo.swift
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Sources/Swift/User/UserInfo.swift
  FirebaseAuth/Sources/Swift/User/UserInfoImpl.swift
  FirebaseAuth/Sources/Swift/User/UserMetadata.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#12282 Carthage 10.20.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck

#12279 [Firestore] Add warning when building Firestore's binary SPM distro for visionOS
  Firestore/CHANGELOG.md
  Package.swift
  SwiftPM-PlatformExclude/FirebaseFirestoreWrap/dummy.m
Labels: api: firestore

#12266 Fixed mfa resolver always using default auth instance to finalize
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactorResolver.m
Labels: api: auth

#12284 Release Note for multifactor resolver auth instance fix
  FirebaseAuth/CHANGELOG.md
Labels: api: auth

#12285 Fixed mfa factor always using default auth instance
  FirebaseAuth/Sources/MultiFactor/FIRMultiFactor.m
Labels: api: auth

#12286 [Firestore] Update CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: firestore

#12288 [Release] Update versions for Release 10.21.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck

#12294 [NFC] Fix typos: XCode -> Xcode
  FirebasePerformance/README.md
  FirebasePerformance/generate_project.sh
  Firestore/Example/FuzzTests/FuzzingResources/Serializer/Corpus/ConvertTextToBinary.sh
  Firestore/core/CMakeLists.txt
  Firestore/core/src/nanopb/pretty_printing.cc
  Firestore/core/test/unit/FSTGoogleTestTests.mm
Labels: api: firestore, api: performance

#12262 [Rollouts] Implement insert and load logic for rollout metadata in RC
  FirebaseRemoteConfig/Sources/RCNConfigContent.m
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.h
  FirebaseRemoteConfig/Sources/RCNConfigDBManager.m
  FirebaseRemoteConfig/Sources/RCNConfigDefines.h
  FirebaseRemoteConfig/Tests/Unit/RCNConfigContentTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigDBManagerTest.m
Labels: api: remoteconfig, api: rollouts

#12287 Add a [Deprecated] mark to the API reference
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRAuth.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRUser.h
Labels: api: auth, public-api-change

#12281 Firestore: Remove unnecessary brace initialization in call to AlphaNum
  Firestore/core/src/util/string_format.h
Labels: api: firestore

#12269 [auth-swift] Fix Component warning
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Auth/AuthComponent.swift
Labels: api: auth

#12315 Firestore: Another use foundation API instead of C API
  Firestore/core/src/util/filesystem_apple.mm
  Firestore/core/src/util/filesystem_posix.cc
Labels: api: firestore

#12312 Support empty map in Firestore bundle
  Firestore/core/src/bundle/bundle_serializer.cc
  Firestore/core/test/unit/bundle/bundle_reader_test.cc
Labels: api: firestore

#12320 Delete unnecessary file system API usages.
  FirebaseMessaging/Sources/FIRMessagingSyncMessageManager.m
  FirebaseMessaging/Sources/FIRMessagingUtilities.h
  FirebaseMessaging/Sources/FIRMessagingUtilities.m
Labels: api: messaging

#12322 Require at least CocoaPods version 1.12.0
  CONTRIBUTING.md
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAnalyticsSwift.podspec
  FirebaseAppCheck.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthTestingSupport.podspec
  FirebaseCombineSwift.podspec
  FirebaseCore.podspec
  FirebaseCore/CHANGELOG.md
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDatabaseSwift.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFirestoreSwift.podspec
  FirebaseFirestoreTestingSupport.podspec
  FirebaseFunctions.podspec
  FirebaseFunctions/README.md
  FirebaseInAppMessaging.podspec
  FirebaseInAppMessagingSwift.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigSwift.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  GoogleUtilitiesComponents.podspec
  IntegrationTesting/CocoapodsIntegrationTest/TestEnvironments/Cocoapods_multiprojects_frameworks/Gemfile
  README.md
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: abtesting, api: inappmessaging, api: installations, api: appdistribution, api: appcheck

#12324 [Release Tooling] Only embed bundles containing privacy manifests
  ReleaseTooling/Sources/ZipBuilder/FrameworkBuilder.swift
Labels: release-tooling

#12323 Doc fixes for Functions
  FirebaseFunctions/Sources/Callable+Codable.swift
  FirebaseFunctions/Sources/Functions.swift
  FirebaseFunctions/Sources/FunctionsError.swift
  FirebaseFunctions/Sources/HTTPSCallable.swift
Labels: api: functions

#12332 [Release] Update CHANGELOGs for 10.21.0
  Firestore/CHANGELOG.md
Labels: api: firestore

#12316 [Rollouts] Set active rollout metadata after activating config
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/Private/RCNConfigSettings.h
  FirebaseRemoteConfig/Sources/RCNConfigConstants.h
  FirebaseRemoteConfig/Sources/RCNConfigContent.h
  FirebaseRemoteConfig/Sources/RCNConfigContent.m
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
  FirebaseRemoteConfig/Sources/RCNConfigSettings.m
  FirebaseRemoteConfig/Sources/RCNUserDefaultsManager.h
  FirebaseRemoteConfig/Sources/RCNUserDefaultsManager.m
  FirebaseRemoteConfig/Tests/Unit/RCNConfigContentTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNUserDefaultsManagerTests.m
Labels: api: remoteconfig

#12335 Analytics 10.21.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  Package.swift
Labels: api: analytics

#12336 Clean auth e2e tests
  FirebaseAuth/Tests/Sample/E2eTests/BYOAuthTests.m
  FirebaseAuth/Tests/Sample/E2eTests/FIRAuthE2eTests.m
  FirebaseAuth/Tests/Sample/E2eTests/FIRAuthE2eTestsBase.h
  FirebaseAuth/Tests/Sample/E2eTests/FIRAuthE2eTestsBase.m
  FirebaseAuth/Tests/Sample/E2eTests/Info.plist
  FirebaseAuth/Tests/Sample/E2eTests/VerifyIOSClientTests.m
  FirebaseAuth/Tests/Sample/Podfile
Labels: api: auth
