Repository firebase/firebase-ios-sdk, pull requests merged in 2024-09, with the labels that each got.

#13567 Fix user session persistence in multi tenant projects
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
Labels: api: auth

#13564 Fix temporary disconnect when app goes inactive
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Core/FPersistentConnection.m
  FirebaseDatabase/Sources/Realtime/FWebSocketConnection.m
Labels: api: database

#13570 [Vertex AI] Make `Logger` properties constants
  FirebaseVertexAI/Sources/Logging.swift
Labels: api: vertexai

#13545 [Vertex AI] Make `GenerativeModel` and `Chat` into Swift actors
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/ChatSample/Screens/ConversationScreen.swift
  FirebaseVertexAI/Sample/ChatSample/ViewModels/ConversationViewModel.swift
  FirebaseVertexAI/Sample/FunctionCallingSample/Screens/FunctionCallingScreen.swift
  FirebaseVertexAI/Sample/FunctionCallingSample/ViewModels/FunctionCallingViewModel.swift
  FirebaseVertexAI/Sample/GenerativeAIMultimodalSample/ViewModels/PhotoReasoningViewModel.swift
  FirebaseVertexAI/Sample/GenerativeAITextSample/ViewModels/SummarizeViewModel.swift
  FirebaseVertexAI/Sources/Chat.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Tests/Unit/ChatTests.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
  FirebaseVertexAI/Tests/Unit/VertexAIAPITests.swift
  FirebaseVertexAI/Tests/Unit/VertexComponentTests.swift
Labels: api: vertexai

#13573 [Vertex AI] Make generateContentStream/sendMessageStream throws
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/ChatSample/ViewModels/ConversationViewModel.swift
  FirebaseVertexAI/Sample/FunctionCallingSample/ViewModels/FunctionCallingViewModel.swift
  FirebaseVertexAI/Sample/GenerativeAIMultimodalSample/ViewModels/PhotoReasoningViewModel.swift
  FirebaseVertexAI/Sample/GenerativeAITextSample/ViewModels/SummarizeViewModel.swift
  FirebaseVertexAI/Sources/Chat.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Tests/Unit/ChatTests.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13576 [Vertex AI] Add `responseSchema` to `GenerationConfig`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenerationConfig.swift
  FirebaseVertexAI/Tests/Unit/GenerationConfigTests.swift
Labels: api: vertexai

#13580 Fix Firebase/Crashlytics min iOS version
  Firebase.podspec
Labels: api: crashlytics

#13582 Add `-Wno-error=redundant-move` to cmake builds
  cmake/compiler_setup.cmake
Labels: api: firestore

#13583 Fix cmake builds with Python 3.12, which deleted the long-deprecated 'distutils' module
  cmake/external/nanopb.patch
Labels: api: firestore

#13572 Firestore: Improve efficiency of memory persistence when processing a large number of writes
  Firestore/CHANGELOG.md
  Firestore/core/src/local/memory_mutation_queue.h
Labels: api: firestore

#13585 [Vertex AI] Prepare podspec for a CocoaPods release
  .github/workflows/vertexai.yml
  FirebaseVertexAI-Docs.not_podspec
  FirebaseVertexAI.podspec
  FirebaseVertexAI/Tests/Unit/ChatTests.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
  FirebaseVertexAI/Tests/Unit/VertexComponentTests.swift
  Package.swift
Labels: api: vertexai

#13600 [Auth] Better keychain error descriptions
  FirebaseAuth/Sources/Swift/Utilities/AuthErrorUtils.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/SettingsViewController.swift
Labels: api: auth

#13592 [Auth] Forward secure coding calls for TOTPMultiFactorInfo
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/Backend/RPC/Proto/AuthProtoMFAEnrollment.swift
  FirebaseAuth/Sources/Swift/MultiFactor/TOTP/TOTPMultiFactorInfo.swift
  FirebaseAuth/Tests/Unit/UserTests.swift
Labels: api: auth

#13602 [Release] Cherry-pick #13592 into `release-11.2`
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/Backend/RPC/Proto/AuthProtoMFAEnrollment.swift
  FirebaseAuth/Sources/Swift/MultiFactor/TOTP/TOTPMultiFactorInfo.swift
  FirebaseAuth/Tests/Unit/UserTests.swift
Labels: api: auth

#13606 [Vertex AI] Add `Decodable` conformance for `FunctionResponse`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/FunctionCalling.swift
  FirebaseVertexAI/Sources/ModelContent.swift
  FirebaseVertexAI/Tests/Unit/ModelContentTests.swift
Labels: api: vertexai

#13586 [Vertex AI] Add pod to FirebaseManifest
  ReleaseTooling/CarthageJSON/FirebaseVertexAIBinary.json
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
  ReleaseTooling/Sources/ZipBuilder/Platform.swift
Labels: release-tooling, api: vertexai

#13610 [Infra] Reduce test flakes due to async variable assignment
  FirebaseAuth/Tests/Unit/AuthBackendRPCImplentationTests.swift
  FirebaseAuth/Tests/Unit/Fakes/FakeBackendRPCIssuer.swift
Labels: api: auth

#13620 [Release] Carthage updates for M153 / 11.2.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck, api: abtesting

#13621 [Auth] Revoke SiwA token when unlinking Apple provider
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Utility/Extensions.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AccountLinkingViewController.swift
Labels: api: auth

#13625 [Infra] Update NOTICES
  CoreOnly/NOTICES
Labels: api: core

#13627 [Infra] Fix Swift 6 warning in FirebaseAppTests.swift
  FirebaseCore/Tests/SwiftUnit/FirebaseAppTests.swift
Labels: api: core, Xcode 16 - iOS 18

#13629 [Infra] Silence extensions warnings in Sessions SDK tests
  FirebaseSessions/Tests/Unit/Error+EquatableTests.swift
Labels: Xcode 16 - iOS 18

#13632 [Infra] Address Sendable warnings in RC's URLSessionPartialMock.swift
  FirebaseRemoteConfig/Tests/Swift/FakeUtils/URLSessionPartialMock.swift
Labels: api: remoteconfig, Xcode 16 - iOS 18

#13633 [Infra] Fix warning in Auth's 'SwiftAPI.swift' tests
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth, Xcode 16 - iOS 18

#13635 [Vertex AI] Silence `SafetyRating: Comparable` warning in tests
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13642 [Auth] Query with `kSecAttrSynchronizable` when auth sharing enabled
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/SystemService/AuthStoredUserManager.swift
Labels: api: auth

#13647 [Auth] Await header value from underlying queue
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
Labels: api: auth

#13656 [Infra] Upgrade to `clang-format@19`
  FirebaseInAppMessaging/Sources/Analytics/FIRIAMClearcutUploader.m
  Firestore/core/src/immutable/keys_view.h
  Firestore/core/src/util/filesystem_posix.cc
  Firestore/core/src/util/hashing.h
  scripts/setup_check.sh
  scripts/style.sh
Labels: api: firestore, api: inappmessaging

#13658 [Auth] Use native Swift types in Auth backend types
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Tests/Unit/Fakes/FakeBackendRPCIssuer.swift
Labels: api: auth

#13643 [Auth] Handle corrupt keychain value resulting from incomplete v11 port
  FirebaseAuth/Sources/Swift/SystemService/AuthStoredUserManager.swift
Labels: api: auth

#13666 [Vertex AI] Remove `SafetyFeedback` struct
  FirebaseVertexAI/Sources/Safety.swift
Labels: api: vertexai

#13673 [Vertex AI] Cleanup Decodable impl from BlockThreshold
  FirebaseVertexAI/Sources/Safety.swift
Labels: api: vertexai

#13639 [Core] Add ability to load version from product SDK
  FirebaseCore/Sources/FIRApp.m
Labels: api: core

#13676 [Auth] Move applicable non-public types away from subclassing NSObject
  FirebaseAuth/Sources/Swift/Backend/AuthRequestConfiguration.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/DeleteAccountResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/EmailLinkSignInResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetAccountInfoResponse.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SetAccountInfoResponse.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSToken.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAPNSTokenManager.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAppCredential.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthAppCredentialManager.swift
  FirebaseAuth/Sources/Swift/SystemService/AuthNotificationManager.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrorUtils.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebUtils.swift
Labels: api: auth

#13687 [Vertex AI] Use `actions/cache` in workflow
  .github/workflows/vertexai.yml
Labels: Infrastructure, api: vertexai

#13663 [Vertex AI] Remove pod from `FirebaseManifest`
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: release-tooling

#13686 [Vertex AI] Refactor `HarmCategory` enum
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/ChatSample/Views/ErrorDetailsView.swift
  FirebaseVertexAI/Sources/Safety.swift
Labels: api: vertexai

#13691 [Messaging] Prep `FIRMessagingExtensionHelper` usage for refactored 1P target
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FIRMessaging.h
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FirebaseMessaging.h
Labels: api: messaging, public-api-change

#13696 [Vertex AI] Rename `BlockThreshold` to `HarmBlockThreshold`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/Safety.swift
Labels: api: vertexai

#13699 [Vertex AI] Remove `unspecified` enum cases from response types
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/ChatSample/Views/ErrorDetailsView.swift
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Sources/Safety.swift
Labels: api: vertexai

#13700 [Vertex AI] Rename `Part` enum case `data` to `inlineData`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/FunctionCallingSample/ViewModels/FunctionCallingViewModel.swift
  FirebaseVertexAI/Sources/Chat.swift
  FirebaseVertexAI/Sources/ModelContent.swift
  FirebaseVertexAI/Sources/PartsRepresentable+Image.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
  FirebaseVertexAI/Tests/Unit/VertexAIAPITests.swift
Labels: api: vertexai

#13702 [Vertex AI] Rename `citationSources` to `citations`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13697 GHA updates: visionOS and Xcode 16 - Part 1
  .github/workflows/abtesting.yml
  .github/workflows/api_diff_report.yml
  .github/workflows/appdistribution.yml
  .github/workflows/auth.yml
  .github/workflows/check.yml
  .github/workflows/crashlytics.yml
  .github/workflows/dynamiclinks.yml
  .github/workflows/firestore-nightly.yml
  .github/workflows/firestore.yml
  .github/workflows/functions.yml
  .github/workflows/installations.yml
  .github/workflows/messaging.yml
  .github/workflows/performance.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/storage.yml
  .github/workflows/update-cpp-sdk-on-release.yml
  .github/workflows/vertexai.yml
  FirebaseAuth.podspec
  scripts/setup_spm_tests.sh
Labels: api: auth

#13711 Changelog updates for 11.3.0
  FirebaseAuth/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: auth, api: firestore

#13634 [Infra] Fix warning in Auth's AuthWebViewController.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthWebViewController.swift
Labels: api: auth

#13709 Analytics 11.3.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  Package.swift
Labels: api: analytics

#13712 RC: fix internal API nullability issue caught by analyzer
  FirebaseRemoteConfig/Sources/Private/RCNConfigFetch.h
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
Labels: api: remoteconfig

#13715 [Auth] nil out SafariViewController when presentation finishes
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/Utilities/AuthURLPresenter.swift
Labels: api: auth

#13714 [Auth] Match Firebase 10 implementation in WKNavigationDelegate conformance
  FirebaseAuth/Sources/Swift/Utilities/AuthWebViewController.swift
Labels: api: auth

#13713 [Infra] Switch back to building Auth with `-warnings-as-errors`
  FirebaseAuth.podspec
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#13616 [Vertex AI] Refactor `Schema` declarations
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/FunctionCallingSample/ViewModels/FunctionCallingViewModel.swift
  FirebaseVertexAI/Sources/FunctionCalling.swift
  FirebaseVertexAI/Sources/Schema.swift
  FirebaseVertexAI/Tests/Unit/GenerationConfigTests.swift
Labels: api: vertexai

#13684 SessionToken persistence implementation
  Firestore/CHANGELOG.md
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/local/globals_cache.h
  Firestore/core/src/local/leveldb_globals_cache.cc
  Firestore/core/src/local/leveldb_globals_cache.h
  Firestore/core/src/local/leveldb_key.cc
  Firestore/core/src/local/leveldb_key.h
  Firestore/core/src/local/leveldb_persistence.cc
  Firestore/core/src/local/leveldb_persistence.h
  Firestore/core/src/local/memory_globals_cache.cc
  Firestore/core/src/local/memory_globals_cache.h
  Firestore/core/src/local/memory_persistence.cc
  Firestore/core/src/local/memory_persistence.h
  Firestore/core/src/local/persistence.h
  Firestore/core/test/unit/local/globals_cache_test.cc
  Firestore/core/test/unit/local/globals_cache_test.h
  Firestore/core/test/unit/local/leveldb_globals_cache_test.cc
  Firestore/core/test/unit/local/memory_globals_cache_test.cc
Labels: api: firestore

#13719 Revert "SessionToken persistence implementation (#13684)"
  Firestore/CHANGELOG.md
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/local/globals_cache.h
  Firestore/core/src/local/leveldb_globals_cache.cc
  Firestore/core/src/local/leveldb_globals_cache.h
  Firestore/core/src/local/leveldb_key.cc
  Firestore/core/src/local/leveldb_key.h
  Firestore/core/src/local/leveldb_persistence.cc
  Firestore/core/src/local/leveldb_persistence.h
  Firestore/core/src/local/memory_globals_cache.cc
  Firestore/core/src/local/memory_globals_cache.h
  Firestore/core/src/local/memory_persistence.cc
  Firestore/core/src/local/memory_persistence.h
  Firestore/core/src/local/persistence.h
  Firestore/core/test/unit/local/globals_cache_test.cc
  Firestore/core/test/unit/local/globals_cache_test.h
  Firestore/core/test/unit/local/leveldb_globals_cache_test.cc
  Firestore/core/test/unit/local/memory_globals_cache_test.cc
Labels: api: firestore

#13720 Revert "[Messaging] Prep #13691
  FirebaseMessaging/Sources/FIRMessaging.m
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FIRMessaging.h
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FirebaseMessaging.h
Labels: api: messaging, public-api-change

#13721 [Vertex AI] Optional `CountTokensResponse.totalBillableCharacters`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/CountTokensRequest.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13638 [Vertex AI] Migrate logging to `FirebaseLogger`
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Sources/GenerativeAIService.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/Logging.swift
  FirebaseVertexAI/Sources/Safety.swift
  FirebaseVertexAI/Sources/VertexLog.swift
Labels: api: vertexai

#13724 [Vertex AI] Add Firebase Vertex AI API enablement logging
  FirebaseVertexAI/Sources/Constants.swift
  FirebaseVertexAI/Sources/Errors.swift
  FirebaseVertexAI/Sources/GenerativeAIRequest.swift
  FirebaseVertexAI/Sources/GenerativeAIService.swift
  FirebaseVertexAI/Sources/VertexLog.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13722 [Vertex AI] Set default request timeout to 180 seconds
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenerativeAIRequest.swift
  FirebaseVertexAI/Sources/GenerativeAIService.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13735 [Vertex AI] Remove `ImageConversionError` from public API
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenerateContentError.swift
  FirebaseVertexAI/Sources/PartsRepresentable+Image.swift
  FirebaseVertexAI/Tests/Unit/PartsRepresentableTests.swift
Labels: api: vertexai

#13736 [Vertex AI] Remove `CountTokensError` enum
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#13733 [Vertex AI] Update log message when API is not enabled
  FirebaseVertexAI/Sources/GenerativeAIService.swift
Labels: api: vertexai

#13734 Add compatibility for GTMSessionFetcher 4
  FirebaseAuth.podspec
  FirebaseFunctions.podspec
  FirebaseStorage.podspec
  Package.swift
Labels: api: auth, api: storage, api: functions

#13739 Carthage 11.3.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck, api: abtesting

#13742 [Vertex AI] Remove `NSObject` superclass from `VertexAI`
  FirebaseVertexAI/Sources/VertexAI.swift
Labels: api: vertexai

#13743 Update versions for Release 11.4.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  FirebaseVertexAI.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck, api: vertexai, api: abtesting
