Repository firebase/firebase-ios-sdk, pull requests merged in 2025-04, with the labels that each got.

#14637 [Vertex AI] Add integration tests for staging endpoint
  FirebaseVertexAI/Sources/Types/Internal/APIConfig.swift
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/CountTokensIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/GenerateContentIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Utilities/InstanceConfig.swift
  FirebaseVertexAI/Tests/Unit/ChatTests.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
  FirebaseVertexAI/Tests/Unit/Types/Imagen/ImagenGenerationRequestTests.swift
  FirebaseVertexAI/Tests/Unit/Types/Internal/APIConfigTests.swift
  FirebaseVertexAI/Tests/Unit/Types/Internal/Requests/CountTokensRequestTests.swift
  FirebaseVertexAI/Tests/Unit/VertexComponentTests.swift
Labels: api: vertexai

#14606 [Infra] Build binaries with Xcode 16.2 x macos-14
  .github/workflows/zip.yml
  FirebaseCore/CHANGELOG.md
Labels: api: core

#14656 [FCM] Fix cases of multiple stubs on the same method on a mock
  FirebaseMessaging/Tests/UnitTests/FIRMessagingRemoteNotificationsProxyTest.m
Labels: api: messaging

#14673 [Vertex AI] Fix `countTokens` integration tests
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/CountTokensIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/GenerateContentIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Utilities/IntegrationTestUtils.swift
Labels: api: vertexai

#14672 Fix invalid user token error
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/User/User.swift
  FirebaseAuth/Tests/Unit/UserTests.swift
Labels: api: auth

#14667 [Functions] 'call' API's completion handler should be called on the main thread
  FirebaseFunctions/CHANGELOG.md
  FirebaseFunctions/Sources/HTTPSCallable.swift
  FirebaseFunctions/Tests/Integration/IntegrationTests.swift
  FirebaseFunctions/Tests/ObjCIntegration/FIRIntegrationTests.m
  FirebaseFunctions/Tests/Unit/FunctionsTests.swift
Labels: api: functions

#14688 [Infra] Move 'core' workflow to Xcode 16
  .github/workflows/core.yml
  .github/workflows/core_extension.yml
  .github/workflows/core_internal.yml
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatsPayload.swift
Labels: api: core

#14689 [Infra] Move 'functions' workflow to Xcode 16
  .github/workflows/functions.yml
  FirebaseFunctions/Sources/Functions.swift
Labels: api: functions

#14644 [Vertex AI] Add `countTokens` support for Developer API via VinF
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/Types/Internal/Requests/CountTokensRequest.swift
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/CountTokensIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Utilities/InstanceConfig.swift
  FirebaseVertexAI/Tests/Unit/ChatTests.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
  FirebaseVertexAI/Tests/Unit/Types/Internal/Requests/CountTokensRequestTests.swift
Labels: api: vertexai

#14697 Minimize signins in VertexAI integration tests
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/GenerateContentIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/ImagenIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/TestHelpers.swift
  FirebaseVertexAI/Tests/TestApp/VertexAITestApp.xcodeproj/project.pbxproj
Labels: api: vertexai

#14671 [Vertex AI] Add `minItems` and `maxItems` to `Schema`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/Types/Public/Schema.swift
  FirebaseVertexAI/Tests/Unit/GenerationConfigTests.swift
Labels: api: vertexai

#14701 [Infra] Move 'firestore' workflow to Xcode 16
  .github/workflows/firestore.yml
  Firestore/Swift/Source/Codable/DocumentID.swift
Labels: api: firestore

#14703 [VertexAI] Add schema minItems/maxItems test
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/GenerateContentIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Utilities/InstanceConfig.swift
Labels: api: vertexai

#14704 fix: remove null value inclusion from `isNotEqualTo` and `notIn` filter results
  Firestore/CHANGELOG.md
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/core/src/core/field_filter.cc
  Firestore/core/src/core/not_in_filter.cc
  Firestore/core/test/unit/core/query_test.cc
Labels: api: firestore

#14657 [Infra] Migrate Storage CI to Xcode 16
  .github/workflows/storage.yml
  FirebaseStorage/Sources/Internal/StorageTokenAuthorizer.swift
  FirebaseStorage/Sources/Storage.swift
  FirebaseStorage/Sources/StorageUploadTask.swift
  scripts/build.sh
Labels: api: storage

#14710 [vertexai] File for Schema integration tests
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/GenerateContentIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/SchemaTests.swift
  FirebaseVertexAI/Tests/TestApp/VertexAITestApp.xcodeproj/project.pbxproj
Labels: api: vertexai

#14696 [Vertex AI] Use ephemeral `URLSession` config on iOS 18.4 sim
  .github/workflows/vertexai.yml
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenAIURLSession.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenModel.swift
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Sources/VertexLog.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
  FirebaseVertexAI/Tests/Unit/VertexComponentTests.swift
Labels: api: vertexai

#14711 [VertexAI] Add minimum, maximum, title, and propertyOrdering to schema
  FirebaseVertexAI/Sources/Types/Public/Schema.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/SchemaTests.swift
Labels: api: vertexai

#14722 [Vertex AI] Temporarily disable proxied Dev API integration tests
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/CountTokensIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/GenerateContentIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Utilities/InstanceConfig.swift
Labels: api: vertexai

#14724 Analytics 11.12.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#14726 [Release] Update unreleased changelog entries to `11.12.0`
  FirebaseAuth/CHANGELOG.md
  FirebaseCore/CHANGELOG.md
  FirebaseFunctions/CHANGELOG.md
  FirebaseVertexAI/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: core, api: auth, api: firestore, api: functions, api: vertexai

#14708 [Vertex AI] Add `anyOf` support to `Schema`
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/Types/Public/Schema.swift
  FirebaseVertexAI/Sources/VertexLog.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/SchemaTests.swift
  FirebaseVertexAI/Tests/Unit/Types/SchemaTests.swift
Labels: api: vertexai

#14730 [Vertex AI] Re-enable Developer API staging integration tests
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/GenerateContentIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Utilities/InstanceConfig.swift
Labels: api: vertexai

#14731 [Infra] Fix remote config linting warnings
  FirebaseRemoteConfig/Tests/Swift/FakeUtils/MockURLProtocol.swift
  FirebaseRemoteConfig/Tests/Swift/FakeUtils/URLSessionPartialMock.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/APITestBase.swift
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
  scripts/build.sh
Labels: api: remoteconfig

#14733 [Release] Firestore binaries for `11.12.0`
  Package.swift
Labels: api: firestore

#14746 [Release] Carthage updates for M163 / 11.12.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
  ReleaseTooling/CarthageJSON/FirebaseVertexAIBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck, api: vertexai, api: abtesting

#14747 [Vertex AI] Fix decoding `ModalityTokenCount` when `tokenCount` is 0
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/ModalityTokenCount.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/GenerateContentIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Utilities/InstanceConfig.swift
  FirebaseVertexAI/Tests/Unit/Types/ModalityTokenCountTests.swift
Labels: api: vertexai

#14748 [Release] Update versions for Release 11.13.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCombineSwift.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  FirebaseVertexAI.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck, api: vertexai, api: abtesting

#14756 Re-use local variable to avoid extra `FIRRemoteConfig` accesses in `RemoteConfigValueObservable`
  FirebaseRemoteConfig/Swift/PropertyWrapper/RemoteConfigValueObservable.swift
Labels: api: remoteconfig

#14707 Improve the integration test coverage for online vs offline comparisons.
  Firestore/Example/Tests/Integration/API/FIRCompositeIndexQueryTests.mm
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.h
  Firestore/Example/Tests/Util/FSTIntegrationTestCase.mm
  Firestore/Swift/Tests/Integration/QueryIntegrationTests.swift
  Firestore/Swift/Tests/Integration/VectorIntegrationTests.swift
Labels: api: firestore

#14758 [Infra] Disable flaky FIAM UI tests in Xcode 16
  scripts/build.sh
Labels: api: inappmessaging

#14755 Add inlineDataParts accessor for GenerateContentResponse
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/GenerateContentIntegrationTests.swift
  FirebaseVertexAI/Tests/Unit/Types/GenerateContentResponseTests.swift
Labels: api: vertexai

#14769 [Infra] Convert App Check sample app to SwiftUI
  FirebaseAppCheck/Apps/FIRAppCheckTestApp/FIRAppCheckTestApp.xcodeproj/project.pbxproj
  FirebaseAppCheck/Apps/FIRAppCheckTestApp/FIRAppCheckTestApp/AppCheckTestApp.swift
  FirebaseAppCheck/Apps/FIRAppCheckTestApp/FIRAppCheckTestApp/AppDelegate.swift
  FirebaseAppCheck/Apps/FIRAppCheckTestApp/FIRAppCheckTestApp/Base.lproj/Main.storyboard
  FirebaseAppCheck/Apps/FIRAppCheckTestApp/FIRAppCheckTestApp/ContentView.swift
  FirebaseAppCheck/Apps/FIRAppCheckTestApp/FIRAppCheckTestApp/Info.plist
  FirebaseAppCheck/Apps/FIRAppCheckTestApp/FIRAppCheckTestApp/ViewController.swift
Labels: api: appcheck

#14768 RC Configure ephemeral URLSession for iOS 18.4 simulator
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/RCNConfigFetch.m
  FirebaseRemoteConfig/Sources/RCNConfigSessionConfiguration.h
  FirebaseRemoteConfig/Sources/RCNConfigSessionConfiguration.m
Labels: api: remoteconfig

#14772 [Functions] Address more Swift 6 warnings
  FirebaseFunctions/Sources/Functions.swift
  FirebaseFunctions/Sources/Internal/FunctionsSerializer.swift
Labels: api: functions

#14783 Add FirebaseAI to release process
  ReleaseTooling/CarthageJSON/FirebaseAIBinary.json
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: release-tooling

#14785 [Infra] Fix Combine unit test
  FirebaseFunctions/Tests/CombineUnit/HTTPSCallableTests.swift
Labels: api: functions
