Repository firebase/firebase-ios-sdk, pull requests merged in 2025-02, with the labels that each got.

#14201 [Auth] Add support for upcoming Recaptcha changes
  FirebaseAuth.podspec
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/ObjC/FIRRecaptchaBridge.m
  FirebaseAuth/Sources/Public/FirebaseAuth/FIRRecaptchaBridge.h
  FirebaseAuth/Sources/Public/FirebaseAuth/FirebaseAuth.h
  FirebaseAuth/Sources/Swift/Utilities/AuthRecaptchaVerifier.swift
  Package.swift
Labels: api: auth, public-api-change

#14417 [NFC] Update spacing in FirebaseAuth's sample app delegate
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/AppDelegate.swift
Labels: api: auth

#14342 Update to gRPC 1.69.0
  FirebaseFirestoreInternal.podspec
  Firestore/CHANGELOG.md
  Firestore/Example/Podfile
  Firestore/Example/ProtobufCpp.podspec
  Package.swift
Labels: api: firestore

#14416 [Vertex AI] Add documentation for `InlineDataPart`
  FirebaseVertexAI/Sources/Types/Public/Part.swift
Labels: api: vertexai

#14419 Carthage 11.8.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
  ReleaseTooling/CarthageJSON/FirebaseVertexAIBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck, api: vertexai, api: abtesting

#14418 [Infra] Bump Auth sample app's dep. on RecaptchaEnterprise
  FirebaseAuth/Tests/SampleSwift/Podfile
Labels: api: auth

#14420 [Auth] Suppress deprecation build warning
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/Backend/RPC/GetOOBConfirmationCodeRequest.swift
Labels: api: auth

#14421 Version 11.9
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCombineSwift.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  FirebaseVertexAI.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck, api: vertexai, api: abtesting

#14425 Prepare 11.8.1
  Firebase.podspec
  FirebaseAuth.podspec
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/Backend/RPC/GetOOBConfirmationCodeRequest.swift
  FirebaseCore.podspec
  Package.swift
Labels: api: core, api: auth

#14426 Update release notes after 11.8.1 published
  FirebaseAuth/CHANGELOG.md
Labels: api: auth

#14427 Restore socket rocket
  CoreOnly/NOTICES
  FirebaseDatabase.podspec
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/LICENSE
  FirebaseDatabase/Sources/Core/FPersistentConnection.m
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDatabase.h
  FirebaseDatabase/Sources/Realtime/FWebSocketConnection.h
  FirebaseDatabase/Sources/Realtime/FWebSocketConnection.m
  FirebaseDatabase/Sources/Utilities/FStringUtilities.m
  FirebaseDatabase/Sources/third_party/SocketRocket/FSRWebSocket.h
  FirebaseDatabase/Sources/third_party/SocketRocket/FSRWebSocket.m
  FirebaseDatabase/Sources/third_party/SocketRocket/LICENSE
  FirebaseDatabase/Sources/third_party/SocketRocket/NSData+SRB64Additions.h
  FirebaseDatabase/Sources/third_party/SocketRocket/NSData+SRB64Additions.m
  FirebaseDatabase/Sources/third_party/SocketRocket/aa2297808c225710e267afece4439c256f6efdb3
  FirebaseDatabase/Sources/third_party/SocketRocket/fbase64.c
  FirebaseDatabase/Sources/third_party/SocketRocket/fbase64.h
  FirebaseDatabase/Tests/Integration/FIRDatabaseQueryTests.m
  Package.swift
Labels: api: core, api: database, public-api-change

#14439 [Database] Mark 'FIRDataSnapshot' as Sendable
  FirebaseDatabase/CHANGELOG.md
  FirebaseDatabase/Sources/Public/FirebaseDatabase/FIRDataSnapshot.h
Labels: api: database, public-api-change

#14442 firestore_exceptions.h: remove dependency on absl to set FIRESTORE_HAVE_EXCEPTIONS
  Firestore/core/src/util/firestore_exceptions.h
Labels: api: firestore

#14406 [VertexAI] Add support for token-based usage metrics
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/CountTokensRequest.swift
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
  FirebaseVertexAI/Sources/ModalityTokenCount.swift
  FirebaseVertexAI/Sources/VertexLog.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#14447 [Vertex AI] Fix `CountTokensResponse` decoding
  FirebaseVertexAI/Sources/CountTokensRequest.swift
  FirebaseVertexAI/Sources/GenerateContentResponse.swift
Labels: api: vertexai

#14450 [RC] Fix a concurrency crash
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/Private/RCNConfigFetch.h
Labels: api: remoteconfig

#14452 [Vertex AI] Remove `generateImages(prompt:gcsURI:)` from public API
  FirebaseVertexAI/Sources/Types/Internal/Imagen/ImagenGCSImage.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenGenerationResponse.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenModel.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/ImagenIntegrationTests.swift
Labels: api: vertexai

#14300 Firestore: Fix memory leak in Query.whereField()
  Firestore/CHANGELOG.md
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/core/composite_filter.cc
  Firestore/core/src/core/composite_filter.h
  Firestore/core/src/core/field_filter.cc
  Firestore/core/src/core/field_filter.h
  Firestore/core/src/core/filter.cc
  Firestore/core/src/core/filter.h
  Firestore/core/src/core/query.cc
  Firestore/core/src/core/query.h
  Firestore/core/src/util/thread_safe_memoizer.h
  Firestore/core/test/unit/util/thread_safe_memoizer_test.cc
  Firestore/core/test/unit/util/thread_safe_memoizer_testing.cc
  Firestore/core/test/unit/util/thread_safe_memoizer_testing.h
  Firestore/core/test/unit/util/thread_safe_memoizer_testing_test.cc
Labels: api: firestore

#14456 [Vertex AI] Add `ImagenImagesBlockedError`
  FirebaseVertexAI/Sources/Types/Internal/Imagen/ImagenConstants.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenGenerationResponse.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenImagesBlockedError.swift
  FirebaseVertexAI/Sources/VertexLog.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/ImagenIntegrationTests.swift
  FirebaseVertexAI/Tests/Unit/Types/Imagen/ImagenGenerationResponseTests.swift
Labels: api: vertexai

#14458 [Vertex AI] Add error handling for decoding `ImagenInlineImage` from b64
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenInlineImage.swift
  FirebaseVertexAI/Tests/Unit/Types/Imagen/ImagenGenerationResponseTests.swift
  FirebaseVertexAI/Tests/Unit/Types/Imagen/ImagenInlineImageTests.swift
Labels: api: vertexai

#14446 [Vertex AI] Add integration tests for modality usage metrics
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/IntegrationTests.swift
Labels: api: vertexai

#14457 Migrate FCM codebase to new NSKeyedUnarchiver APIs.
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/Token/FIRMessagingTokenInfo.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenStore.m
Labels: api: messaging

#14466 [Release] Update unreleased CHANGELOG entries for 11.9.0
  Crashlytics/CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
  FirebaseDatabase/CHANGELOG.md
  FirebaseMessaging/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseVertexAI/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: database, api: auth, api: messaging, api: firestore, api: remoteconfig, api: crashlytics, api: vertexai

#14467 [Functions] Pass placeholder app check tokens on error
  FirebaseFunctions/Sources/Internal/FunctionsContext.swift
  FirebaseFunctions/Tests/Unit/ContextProviderTests.swift
  FirebaseFunctions/Tests/Unit/FunctionsTests.swift
Labels: api: functions

#14471 [Functions] Update CHANGELOG.md for App Check fix
  FirebaseFunctions/CHANGELOG.md
Labels: api: functions

#14472 Analytics 11.9.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  Package.swift
Labels: api: analytics

#14474 Firestore: pin googletest to a commit that supports c++14 in cmake builds
  cmake/external/googletest.cmake
Labels: api: firestore

#14477 [Auth] Compile-out `recaptchaToken(...)` for 1P
  FirebaseAuth/Sources/Swift/Utilities/AuthRecaptchaVerifier.swift
Labels: api: auth

#14480 Swift 6 build fixes for Vertex AI
  FirebaseVertexAI/Sources/Protocols/Internal/CodableProtoEnum.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenAspectRatio.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenSafetyFilterLevel.swift
  FirebaseVertexAI/Sources/Types/Public/Schema.swift
  FirebaseVertexAI/Sources/VertexAI.swift
Labels: api: vertexai

#14488 Specify Swift Version in Firestore test settings
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
Labels: api: firestore

#14479 Add google-app-id to Vertex AI requests
  FirebaseVertexAI/Sources/FirebaseInfo.swift
  FirebaseVertexAI/Sources/GenerativeAIService.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenModel.swift
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Tests/Unit/ChatTests.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
  FirebaseVertexAI/Tests/Unit/VertexComponentTests.swift
Labels: api: vertexai

#14493 [vertex-ai] Disable google-app-id
  FirebaseVertexAI/Sources/GenerativeAIService.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#14494 [Messaging] Update `FIRMessaging` header doc
  FirebaseMessaging/Sources/Public/FirebaseMessaging/FIRMessaging.h
Labels: api: messaging, public-api-change

#14495 [Release] Carthage updates for M160 / 11.9.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
  ReleaseTooling/CarthageJSON/FirebaseVertexAIBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck, api: vertexai, api: abtesting

#14498 [Release] Update versions for Release 11.10.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCombineSwift.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  FirebaseVertexAI.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck, api: vertexai, api: abtesting

#14501 [Vertex AI] Add integration test for `generateContentStream`
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/IntegrationTests.swift
Labels: api: vertexai

#14499 [VertexAI] More Swift 6
  .github/workflows/vertexai.yml
  FirebaseVertexAI/Sources/Chat.swift
  FirebaseVertexAI/Sources/FirebaseInfo.swift
  FirebaseVertexAI/Sources/FunctionCalling.swift
  FirebaseVertexAI/Sources/GenerateContentRequest.swift
  FirebaseVertexAI/Sources/GenerationConfig.swift
  FirebaseVertexAI/Sources/GenerativeAIRequest.swift
  FirebaseVertexAI/Sources/GenerativeAIService.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/Safety.swift
  FirebaseVertexAI/Sources/Types/Internal/Imagen/ImagenGenerationRequest.swift
  FirebaseVertexAI/Sources/Types/Public/Schema.swift
Labels: api: vertexai

#14503 [VertexAI] Add Swift 6 testing to CI
  .github/workflows/vertexai.yml
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Tests/Unit/MockURLProtocol.swift
  FirebaseVertexAI/Tests/Unit/VertexComponentTests.swift
Labels: api: vertexai
