Repository firebase/firebase-ios-sdk, pull requests merged in 2025-09, with the labels that each got.

#15291 IdP-Initiated Saml Sign In Implementation
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SignInWithSamlIdpRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/SignInWithSamlIdpResponse.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/SceneDelegate.swift
  FirebaseAuth/Tests/SampleSwift/SwiftApiTests/SignInWithSamlIdpTests.swift
  FirebaseAuth/Tests/Unit/AuthTests.swift
  FirebaseAuth/Tests/Unit/SignInWithSamlIdpRequestTests.swift
  FirebaseAuth/Tests/Unit/SignInWithSamlIdpResponseTests.swift
Labels: api: auth

#14826 [realppl 1] Add pipeline listen proto changes
  Firestore/Protos/cpp/firestore/local/target.pb.cc
  Firestore/Protos/cpp/firestore/local/target.pb.h
  Firestore/Protos/cpp/google/firestore/v1/firestore.pb.cc
  Firestore/Protos/cpp/google/firestore/v1/firestore.pb.h
  Firestore/Protos/nanopb/firestore/local/target.nanopb.cc
  Firestore/Protos/nanopb/firestore/local/target.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.h
  Firestore/Protos/protos/firestore/local/target.proto
  Firestore/Protos/protos/google/firestore/v1/firestore.proto
  Firestore/Protos/protos/google/firestore/v1/write.proto
Labels: api: firestore

#15326 [Firebase AI] Add macOS / Xcode 26 CI testing
  .github/workflows/firebaseai.yml
  scripts/build.sh
Labels: api: firebaseai

#15329 feat: Update versions for Release 12.4.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAI.podspec
  FirebaseAnalytics.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCombineSwift.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  GoogleAppMeasurement.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck, api: firebaseai, api: abtesting

#15335 [Firebase AI] Make `URLContext` struct internal
  FirebaseAI/Sources/Types/Internal/Tools/URLContext.swift
  FirebaseAI/Sources/Types/Public/URLContextMetadata.swift
  FirebaseAI/Sources/Types/Public/URLMetadata.swift
Labels: api: firebaseai

#15296 feat(ci): Test SPM quickstarts
  .github/workflows/abtesting.yml
  .github/workflows/auth.yml
  .github/workflows/common_quickstart.yml
  .github/workflows/crashlytics.yml
  .github/workflows/database.yml
  .github/workflows/firestore.yml
  .github/workflows/inappmessaging.yml
  .github/workflows/installations.yml
  .github/workflows/messaging.yml
  .github/workflows/performance.yml
  .github/workflows/remoteconfig.yml
  .github/workflows/storage.yml
  scripts/setup_quickstart_spm.sh
  scripts/test_quickstart.sh
Labels: do-not-merge

#14851 [realppl 5] map,string,timestamp and mirroring semantics
  FirebaseFirestoreInternal.podspec
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/core/src/core/expressions_eval.cc
  Firestore/core/src/core/expressions_eval.h
  Firestore/core/src/model/object_value.cc
  Firestore/core/src/model/value_util.cc
  Firestore/core/src/model/value_util.h
  Firestore/core/test/unit/core/expressions/comparison_test.cc
  Firestore/core/test/unit/core/expressions/map_test.cc
  Firestore/core/test/unit/core/expressions/mirroring_semantics_test.cc
  Firestore/core/test/unit/core/expressions/string_test.cc
  Firestore/core/test/unit/core/expressions/timestamp_test.cc
  Firestore/core/test/unit/testutil/expression_test_util.h
Labels: api: firestore

#15341 [AI] API docs for URLContext
  FirebaseAI/Sources/GenerateContentResponse.swift
  FirebaseAI/Sources/Tool.swift
  FirebaseAI/Sources/Types/Public/URLContextMetadata.swift
  FirebaseAI/Sources/Types/Public/URLMetadata.swift
Labels: api: firebaseai

#15355 [AI] Update empty parts check for urlContextMetadata
  FirebaseAI/Sources/GenerateContentResponse.swift
  FirebaseAI/Tests/Unit/Types/GenerateContentResponseTests.swift
Labels: api: firebaseai
