Repository firebase/firebase-ios-sdk, pull requests merged in 2025-07, with the labels that each got.

#15058 [Functions] Remove completion-handler based internal logic
  FirebaseFunctions/Sources/Functions.swift
  FirebaseFunctions/Sources/HTTPSCallable.swift
  FirebaseFunctions/Sources/Internal/FunctionsContext.swift
  FirebaseFunctions/Tests/CombineUnit/HTTPSCallableTests.swift
  FirebaseFunctions/Tests/Unit/ContextProviderTests.swift
  FirebaseFunctions/Tests/Unit/FunctionsAPITests.swift
  FirebaseFunctions/Tests/Unit/FunctionsTests.swift
Labels: api: functions

#15026 [Infra] Bump swift-tools-version in Package.swift
  FirebaseAI/Sources/Types/Internal/Imagen/ImagenImageRepresentable.swift
  FirebaseCore/CHANGELOG.md
  FirebaseFunctions/Sources/Callable+Codable.swift
  Package.swift
Labels: api: core, api: functions, api: firebaseai

#15064 [Infra] Fix RC nightly failure
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig

#15067 [Auth] Synchronize 'TOTPSecret.openInOTPApp(withQRCodeURL:)' to main actor
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/MultiFactor/TOTP/TOTPSecret.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#15063 [Infra] Fix build warning in performance tests
  FirebasePerformance/Tests/Unit/Common/FPRDiagnosticsTest.m
Labels: api: auth, api: storage, api: firestore, api: performance

#15073 Upgrade c++14 to c++17 in cmake
  Firestore/core/src/local/leveldb_remote_document_cache.cc
  Firestore/core/test/unit/util/iterator_adaptors_test.cc
  cmake/compiler_setup.cmake
Labels: api: firestore

#15048 [Auth] Regionalised Auth and BYO-CIAM feature implementation
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Backend/AuthRequestConfiguration.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/IdentityPlatform/ExchangeTokenRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/IdentityPlatform/ExchangeTokenResponse.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/AppManager.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/AuthenticationExampleUITests.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/SettingsUITests.swift
  FirebaseAuth/Tests/Unit/ExchangeTokenRequestTests.swift
  FirebaseAuth/Tests/Unit/ExchangeTokenResponseTests.swift
Labels: api: auth

#15075 [Functions] Update HTTPSCallableOptions.swift
  FirebaseFunctions/CHANGELOG.md
  FirebaseFunctions/Sources/HTTPSCallable.swift
  FirebaseFunctions/Sources/HTTPSCallableOptions.swift
  FirebaseFunctions/Tests/CombineUnit/HTTPSCallableTests.swift
Labels: api: functions

#15090 [Infra] Rename 'FIRAllocatedUnfairLock' to 'UnfairLock'
  FirebaseAuth/Sources/Swift/ActionCode/ActionCodeSettings.swift
  FirebaseAuth/Sources/Swift/Storage/AuthKeychainServices.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
  FirebaseAuth/Tests/Unit/AuthAPNSTokenManagerTests.swift
  FirebaseAuth/Tests/Unit/Fakes/FakeAuthKeychainStorage.swift
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatStorage.swift
  FirebaseCore/Internal/Sources/HeartbeatLogging/WeakContainer.swift
  FirebaseCore/Internal/Sources/Utilities/UnfairLock.swift
  FirebaseCore/Internal/Tests/Unit/HeartbeatStorageTests.swift
  FirebaseFunctions/Sources/Functions.swift
  FirebaseFunctions/Sources/HTTPSCallable.swift
  FirebaseSessions/Sources/Installations+InstallationsProtocol.swift
  FirebaseSessions/Sources/Public/SessionsDependencies.swift
  FirebaseSessions/Sources/Public/SessionsSubscriber.swift
  FirebaseSessions/Sources/Settings/RemoteSettings.swift
  FirebaseSessions/Tests/Unit/Mocks/MockSubscriber.swift
Labels: api: core, api: auth, api: functions

#15091 [Infra] Update `gtm-session-fetcher` to `~> 3.4, < 6.0`
  FirebaseAuth.podspec
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample.xcodeproj/project.pbxproj
  FirebaseCore/CHANGELOG.md
  FirebaseFunctions.podspec
  FirebaseStorage.podspec
  Package.swift
Labels: api: core, api: auth, api: storage, api: functions

#15101 [Infra] Database Xcode 26 beta warnings
  FirebaseDatabase/Swift/Sources/Codable/DatabaseReference+WriteEncodable.swift
Labels: api: database

#15088 merging into private preview branch
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Backend/AuthRequestConfiguration.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/IdentityPlatform/ExchangeTokenRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/IdentityPlatform/ExchangeTokenResponse.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/AppManager.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/AuthenticationExampleUITests.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/SettingsUITests.swift
  FirebaseAuth/Tests/Unit/ExchangeTokenRequestTests.swift
  FirebaseAuth/Tests/Unit/ExchangeTokenResponseTests.swift
Labels: api: auth

#15093 [FirebaseAuth] Add Sign-Out Support for BYO-CIAM in Regionalized GCIP
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/AppManager.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
Labels: api: auth

#15104 [Infra] Disable flaky integration tests
  FirebaseDatabase/Tests/Integration/FData.m
Labels: api: database

#15123 [Infra] Suppress designated initializer warning in `FIRQueryFake`
  FirebaseTestingSupport/Firestore/Sources/FIRQueryFake.mm
Labels: api: firestore

#15127 Restore pod Firebase/Firestore for tvOS
  Firebase.podspec
  Firestore/CHANGELOG.md
Labels: api: firestore

#15136 [Firebase AI] Merge `+Coverage` files into existing test files
  FirebaseAI/Tests/Unit/JSONValueTests+Coverage.swift
  FirebaseAI/Tests/Unit/JSONValueTests.swift
  FirebaseAI/Tests/Unit/PartsRepresentableTests+Coverage.swift
  FirebaseAI/Tests/Unit/PartsRepresentableTests.swift
  FirebaseAI/Tests/Unit/SafetyTests.swift
Labels: api: firebaseai

#15126 Increase Firebase AI Logic unit test coverage
  FirebaseAI/Tests/Unit/ChatTests.swift
  FirebaseAI/Tests/Unit/JSONValueTests.swift
  FirebaseAI/Tests/Unit/PartsRepresentableTests.swift
  FirebaseAI/Tests/Unit/SafetyTests.swift
Labels: api: firebaseai

#15143 [Auth] Add changelog entry for #15128
  FirebaseAuth/CHANGELOG.md
Labels: api: auth

#15156 Update changelogs for 12.1.0
  Crashlytics/CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: auth, api: firestore, api: crashlytics

#15157 Analytics 12.1.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  Package.swift
Labels: api: analytics

#15165 [FirebaseMessaging] Fix Xcode 26 symbol crash
  FirebaseInAppMessaging/Sources/Runtime/FIRIAMActionURLFollower.m
  FirebaseInAppMessaging/Tests/Unit/FIRIAMActionUrlFollowerTests.m
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/FIRMessaging.m
Labels: api: messaging, api: inappmessaging

#15166 [Infra] Add changelog entry for Xcode 26 crash fix
  FirebaseInAppMessaging/CHANGELOG.md
Labels: api: inappmessaging
