Repository firebase/firebase-ios-sdk, pull requests merged in 2025-03, with the labels that each got.

#14504 [Vertex AI] Refactor generateContentStream to fix Swift 6 warning
  FirebaseVertexAI/Sources/GenerativeModel.swift
Labels: api: vertexai

#14525 [Config] Add encoder and decoder param to public codable APIs
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Swift/Codable.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/Codable.swift
Labels: api: remoteconfig

#14540 [Vertex AI] Parameterize integration tests for Vertex and Dev API
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/GenerateContentIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/VertexAITestApp.xcodeproj/project.pbxproj
  FirebaseVertexAI/Tests/Unit/VertexComponentTests.swift
Labels: api: vertexai

#14544 remove useless method
  Crashlytics/Crashlytics/Components/FIRCLSApplication.h
  Crashlytics/Crashlytics/Components/FIRCLSApplication.m
Labels: api: remoteconfig, api: crashlytics

#14545 Add imagen generation example to VertexAI Sample
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sample/ImagenScreen/ImagenScreen.swift
  FirebaseVertexAI/Sample/ImagenScreen/ImagenViewModel.swift
  FirebaseVertexAI/Sample/VertexAISample.xcodeproj/project.pbxproj
  FirebaseVertexAI/Sample/VertexAISample/ContentView.swift
Labels: api: vertexai

#14552 [Config] Split Codable APIs up and improve doc comments
  FirebaseRemoteConfig/Swift/Codable.swift
Labels: api: remoteconfig

#14518 Fix RCNConfigRealtime crash.
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig

#14395 [Functions] Add support for streamable cloud functions
  .github/workflows/functions.yml
  FirebaseFunctions/Backend/index.js
  FirebaseFunctions/Backend/start.sh
  FirebaseFunctions/CHANGELOG.md
  FirebaseFunctions/Sources/Callable+Codable.swift
  FirebaseFunctions/Sources/Functions.swift
  FirebaseFunctions/Sources/HTTPSCallable.swift
  FirebaseFunctions/Tests/Integration/IntegrationTests.swift
Labels: api: functions, public-api-change

#14547 [Vertex AI] Add enum integration test and run on Developer API v1
  .github/workflows/vertexai.yml
  FirebaseCore/Sources/Public/FirebaseCore/FIROptions.h
  FirebaseVertexAI/Tests/TestApp/Sources/Constants.swift
  FirebaseVertexAI/Tests/TestApp/Sources/TestApp.swift
  FirebaseVertexAI/Tests/TestApp/Sources/TestAppCheckProviderFactory.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/GenerateContentIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Utilities/IntegrationTestUtils.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Utilities/VertexAITestUtils.swift
  FirebaseVertexAI/Tests/TestApp/VertexAITestApp.xcodeproj/project.pbxproj
  scripts/gha-encrypted/VertexAI/TestApp-GoogleService-Info-Spark.plist.gpg
Labels: api: core, public-api-change, api: vertexai

#14553 Remove VertexAI sample
  .github/workflows/vertexai.yml
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/README.md
  FirebaseVertexAI/Sample/ChatSample/Assets.xcassets/AccentColor.colorset/Contents.json
  FirebaseVertexAI/Sample/ChatSample/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseVertexAI/Sample/ChatSample/Assets.xcassets/Contents.json
  FirebaseVertexAI/Sample/ChatSample/Models/ChatMessage.swift
  FirebaseVertexAI/Sample/ChatSample/Preview Content/Preview Assets.xcassets/Contents.json
  FirebaseVertexAI/Sample/ChatSample/Screens/ConversationScreen.swift
  FirebaseVertexAI/Sample/ChatSample/ViewModels/ConversationViewModel.swift
  FirebaseVertexAI/Sample/ChatSample/Views/BouncingDots.swift
  FirebaseVertexAI/Sample/ChatSample/Views/ErrorDetailsView.swift
  FirebaseVertexAI/Sample/ChatSample/Views/ErrorView.swift
  FirebaseVertexAI/Sample/ChatSample/Views/MessageView.swift
  FirebaseVertexAI/Sample/FunctionCallingSample/Screens/FunctionCallingScreen.swift
  FirebaseVertexAI/Sample/FunctionCallingSample/ViewModels/FunctionCallingViewModel.swift
  FirebaseVertexAI/Sample/GenerativeAIMultimodalSample/Assets.xcassets/AccentColor.colorset/Contents.json
  FirebaseVertexAI/Sample/GenerativeAIMultimodalSample/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseVertexAI/Sample/GenerativeAIMultimodalSample/Assets.xcassets/Contents.json
  FirebaseVertexAI/Sample/GenerativeAIMultimodalSample/Preview Content/Preview Assets.xcassets/Contents.json
  FirebaseVertexAI/Sample/GenerativeAIMultimodalSample/Screens/PhotoReasoningScreen.swift
  FirebaseVertexAI/Sample/GenerativeAIMultimodalSample/ViewModels/PhotoReasoningViewModel.swift
  FirebaseVertexAI/Sample/GenerativeAITextSample/Assets.xcassets/AccentColor.colorset/Contents.json
  FirebaseVertexAI/Sample/GenerativeAITextSample/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseVertexAI/Sample/GenerativeAITextSample/Assets.xcassets/Contents.json
  FirebaseVertexAI/Sample/GenerativeAITextSample/Preview Content/Preview Assets.xcassets/Contents.json
  FirebaseVertexAI/Sample/GenerativeAITextSample/Screens/SummarizeScreen.swift
  FirebaseVertexAI/Sample/GenerativeAITextSample/ViewModels/SummarizeViewModel.swift
  FirebaseVertexAI/Sample/GenerativeAIUIComponents/Package.swift
  FirebaseVertexAI/Sample/GenerativeAIUIComponents/Sources/GenerativeAIUIComponents/InputField.swift
  FirebaseVertexAI/Sample/GenerativeAIUIComponents/Sources/GenerativeAIUIComponents/MultimodalInputField.swift
  FirebaseVertexAI/Sample/GoogleService-Info.plist
  FirebaseVertexAI/Sample/ImagenScreen/ImagenScreen.swift
  FirebaseVertexAI/Sample/ImagenScreen/ImagenViewModel.swift
  FirebaseVertexAI/Sample/README.md
  FirebaseVertexAI/Sample/VertexAISample.xcodeproj/project.pbxproj
  FirebaseVertexAI/Sample/VertexAISample/Assets.xcassets/AccentColor.colorset/Contents.json
  FirebaseVertexAI/Sample/VertexAISample/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseVertexAI/Sample/VertexAISample/Assets.xcassets/Contents.json
  FirebaseVertexAI/Sample/VertexAISample/ContentView.swift
  FirebaseVertexAI/Sample/VertexAISample/Preview Content/Preview Assets.xcassets/Contents.json
  FirebaseVertexAI/Sample/VertexAISample/VertexAISampleApp.swift
  scripts/build.sh
Labels: api: vertexai

#14555 [Vertex AI] Update DocC links to Firebase docsite where available
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/CountTokensRequest.swift
  FirebaseVertexAI/Sources/FunctionCalling.swift
  FirebaseVertexAI/Sources/GenerationConfig.swift
  FirebaseVertexAI/Sources/Safety.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenGenerationConfig.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenModel.swift
  FirebaseVertexAI/Sources/Types/Public/Part.swift
  FirebaseVertexAI/Sources/VertexAI.swift
Labels: api: vertexai

#14558 [Vertex AI] Set `ModelContent.role` to `nil` in system instructions
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Tests/Unit/VertexComponentTests.swift
Labels: api: vertexai

#14563 Analytics 11.10.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#14564 [Release] Version changelog entries for 10.10.0
  FirebaseFunctions/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseVertexAI/CHANGELOG.md
Labels: api: remoteconfig, api: functions, api: vertexai

#14565 [Config] Revert adding encoder/decoder params to Codable APIs
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Swift/Codable.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/Codable.swift
Labels: api: remoteconfig

#14561 [Swift 6] Add Swift 6 testing for CoreInternal
  .github/workflows/core_internal.yml
  FirebaseCore/Internal/Tests/Integration/HeartbeatLoggingIntegrationTests.swift
  FirebaseCore/Internal/Tests/Unit/HeartbeatControllerTests.swift
  FirebaseCore/Internal/Tests/Unit/HeartbeatStorageTests.swift
Labels: api: core

#14546 End-to-end minimalistic ppl
  FirebaseFirestoreInternal/FirebaseFirestore/FIRPipelineBridge.h
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Source/API/FIRFirestore+Internal.h
  Firestore/Source/API/FIRPipelineBridge+Internal.h
  Firestore/Source/API/FIRPipelineBridge.mm
  Firestore/Source/Public/FirebaseFirestore/FIRPipelineBridge.h
  Firestore/Source/Public/FirebaseFirestore/FirebaseFirestore.h
  Firestore/Swift/Source/SwiftAPI/Expressions.swift
  Firestore/Swift/Source/SwiftAPI/Firestore+Pipeline.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline.swift
  Firestore/Swift/Source/SwiftAPI/PipelineSnapshot.swift
  Firestore/Swift/Source/SwiftAPI/PipelineSource.swift
  Firestore/Swift/Source/SwiftAPI/Stages.swift
  Firestore/Swift/Tests/Integration/PipelineTests.swift
  Firestore/core/src/api/api_fwd.h
  Firestore/core/src/api/expressions.cc
  Firestore/core/src/api/expressions.h
  Firestore/core/src/api/firestore.cc
  Firestore/core/src/api/firestore.h
  Firestore/core/src/api/pipeline.cc
  Firestore/core/src/api/pipeline.h
  Firestore/core/src/api/pipeline_result.cc
  Firestore/core/src/api/pipeline_result.h
  Firestore/core/src/api/pipeline_snapshot.h
  Firestore/core/src/api/stages.cc
  Firestore/core/src/api/stages.h
  Firestore/core/src/core/firestore_client.cc
  Firestore/core/src/core/firestore_client.h
  Firestore/core/src/nanopb/fields_array.h
  Firestore/core/src/remote/datastore.cc
  Firestore/core/src/remote/datastore.h
  Firestore/core/src/remote/remote_objc_bridge.cc
  Firestore/core/src/remote/remote_objc_bridge.h
  Firestore/core/src/remote/remote_store.cc
  Firestore/core/src/remote/remote_store.h
  Firestore/core/src/remote/serializer.cc
  Firestore/core/src/remote/serializer.h
Labels: api: firestore, public-api-change

#14512 [Vertex AI] Add Developer API encoding `CountTokensRequest`
  FirebaseVertexAI/Sources/GenerateContentRequest.swift
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/Types/Internal/Requests/CountTokensRequest.swift
  FirebaseVertexAI/Tests/TestApp/Sources/Constants.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/CountTokensIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/GenerateContentIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Utilities/InstanceConfig.swift
  FirebaseVertexAI/Tests/TestApp/VertexAITestApp.xcodeproj/project.pbxproj
  FirebaseVertexAI/Tests/Unit/Types/Internal/Requests/CountTokensRequestTests.swift
Labels: api: vertexai

#14587 [vertex-ai] Rename googleAppID to firebaseAppID
  FirebaseVertexAI/Sources/FirebaseInfo.swift
  FirebaseVertexAI/Sources/GenerativeAIService.swift
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Tests/Unit/ChatTests.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#14593 [Vertex AI] Add placeholders for `vertexai-sdk-test-data` files
  FirebaseVertexAI/Tests/Unit/vertexai-sdk-test-data/mock-responses
  FirebaseVertexAI/Tests/Unit/vertexai-sdk-test-data/mock-responses/developerapi
  FirebaseVertexAI/Tests/Unit/vertexai-sdk-test-data/mock-responses/vertexai
Labels: api: vertexai

#14589 [Release] Carthage for M161
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
  ReleaseTooling/CarthageJSON/FirebaseVertexAIBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck, api: vertexai, api: abtesting

#14591 [Infra] Update versions for Release 11.11.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCombineSwift.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  FirebaseVertexAI.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck, api: vertexai, api: abtesting

#14496 Fix priority queue assertion which enforce the item to have strict order
  Firestore/CHANGELOG.md
  Firestore/core/src/local/leveldb_index_manager.cc
  Firestore/core/src/model/field_index.cc
  Firestore/core/src/model/field_index.h
Labels: api: firestore

#14597 [Swift 6] Address low-hanging Swift concurrency errors in Functions
  FirebaseFunctions/Sources/Functions.swift
  FirebaseFunctions/Sources/FunctionsError.swift
  FirebaseFunctions/Sources/HTTPSCallableOptions.swift
  FirebaseFunctions/Sources/Internal/FunctionsContext.swift
Labels: api: functions

#14594 [Swift 6] Add AtomicBox to CoreInternal
  FirebaseCore/Internal/Sources/HeartbeatLogging/HeartbeatStorage.swift
  FirebaseCore/Internal/Sources/Utilities/AtomicBox.swift
Labels: api: core

#14604 [NFC] Unmutated vars
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
Labels: api: auth

#14609 Release notes for 11.11.0
  Firestore/CHANGELOG.md
Labels: api: firestore

#14610 [Vertex AI] Log warning for unsupported model names
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenModel.swift
  FirebaseVertexAI/Sources/VertexLog.swift
Labels: api: vertexai

#14612 Analytics 11.11.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#14621 consolidate FIRCLSRedactUUID tests for clarity
  Crashlytics/UnitTests/FIRCLSUtilityTests.m
Labels: api: crashlytics

#14629 [Vertex AI] Fix unsupported model name check introduced in #14610
  FirebaseVertexAI/Sources/GenerativeModel.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenModel.swift
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Tests/Unit/ChatTests.swift
  FirebaseVertexAI/Tests/Unit/GenerativeModelTests.swift
Labels: api: vertexai

#14633 Firestore: minor tweaks to ThreadSafeMemozier code in response to code review feedback
  Firestore/core/src/core/filter.h
  Firestore/core/src/core/query.cc
  Firestore/core/src/core/query.h
  Firestore/core/test/unit/util/thread_safe_memoizer_testing.cc
  Firestore/core/test/unit/util/thread_safe_memoizer_testing.h
Labels: api: firestore

#14634 [Release] Add carthage artifacts for M162 / 11.11.0 release
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
  ReleaseTooling/CarthageJSON/FirebaseVertexAIBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck, api: vertexai, api: abtesting
