Repository firebase/firebase-ios-sdk, pull requests merged in 2025-06, with the labels that each got.

#14927 [Release] Carthage updates for M165 / 11.14.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAIBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
  ReleaseTooling/CarthageJSON/FirebaseVertexAIBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck, api: firebaseai, api: abtesting

#14928 [Firebase AI] Add Firebase AI Logic SDK to Carthage docs
  Carthage.md
Labels: api: firebaseai

#14930 [Release] Update versions for `11.15.0`
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAI.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCombineSwift.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  FirebaseVertexAI.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck, api: firebaseai, api: abtesting

#14956 [Firebase AI] Upgrade Gemini 1.x models in integration tests
  FirebaseAI/Tests/TestApp/Tests/Integration/IntegrationTests.swift
Labels: api: firebaseai

#14970 [Infra] Remove C99 language standard settings
  FirebaseABTesting.podspec
  FirebaseAppCheck.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseCore.podspec
  FirebaseCore/CHANGELOG.md
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFirestoreTestingSupport.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseSessions.podspec
  Package.swift
Labels: api: core, api: database, api: auth, api: messaging, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: installations, api: appdistribution, api: appcheck, api: abtesting

#14960 sample app changes with updated logic
  ExchangeTokensRequestTests.swift
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Backend/IdentityToolkitRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/ExchangeTokenRequest.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/AppManager.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/Unit/IdentityToolkitRequestTests.swift
Labels: api: auth

#14865 implementing regionalized auth and exchangeToken
  ExchangeTokensRequestTests.swift
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Backend/AuthRequestConfiguration.swift
  FirebaseAuth/Sources/Swift/Backend/IdentityToolkitRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/ExchangeTokenRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/ExchangeTokenResponse.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/AppManager.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/Unit/IdentityToolkitRequestTests.swift
Labels: api: auth

#14909 [Firebase AI] Add support for configuring a thinking budget
  FirebaseAI/CHANGELOG.md
  FirebaseAI/Sources/GenerateContentResponse.swift
  FirebaseAI/Sources/GenerationConfig.swift
  FirebaseAI/Sources/Types/Public/ThinkingConfig.swift
  FirebaseAI/Tests/TestApp/Sources/Constants.swift
  FirebaseAI/Tests/TestApp/Tests/Integration/GenerateContentIntegrationTests.swift
  FirebaseAI/Tests/TestApp/Tests/Utilities/InstanceConfig.swift
Labels: api: firebaseai

#14991 [Firebase AI] Add integration tests for `global` endpoint
  FirebaseAI/Tests/TestApp/Tests/Integration/GenerateContentIntegrationTests.swift
  FirebaseAI/Tests/TestApp/Tests/Utilities/InstanceConfig.swift
Labels: api: firebaseai

#14994 Changelog 11.15.0
  FirebaseAI/CHANGELOG.md
  FirebaseCore/CHANGELOG.md
Labels: api: core, api: firebaseai

#14999 Analytics 11.15.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
Labels: api: analytics

#14998 [Firebase AI] Deprecate `CountTokensResponse.totalBillableCharacters`
  FirebaseAI/CHANGELOG.md
  FirebaseAI/Sources/Types/Internal/Requests/CountTokensRequest.swift
  FirebaseAI/Tests/TestApp/Tests/Integration/CountTokensIntegrationTests.swift
  FirebaseAI/Tests/TestApp/Tests/Integration/IntegrationTests.swift
  FirebaseAI/Tests/Unit/GenerativeModelVertexAITests.swift
Labels: api: firebaseai

#15000 [Infra] Remove Firebase Dynamic Links from the InAppMessaging sample applications.
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/App/InAppMessaging-Example-iOS/AppDelegate.m
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/ExternalAppExample/fiam-external-ios-testing-app/GoogleService-Info.plist
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/ExternalAppExample/fiam-external-ios-testing-app/Podfile
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/ExternalAppExample/fiam-external-ios-testing-app/fiam-external-ios-testing-app.xcodeproj/project.pbxproj
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/ExternalAppExample/fiam-external-ios-testing-app/fiam-external-ios-testing-app/AppDelegate.h
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/ExternalAppExample/fiam-external-ios-testing-app/fiam-external-ios-testing-app/AppDelegate.m
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/ExternalAppExample/fiam-external-ios-testing-app/fiam-external-ios-testing-app/Assets.xcassets/AppIcon.appiconset/Contents.json
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/ExternalAppExample/fiam-external-ios-testing-app/fiam-external-ios-testing-app/Base.lproj/LaunchScreen.storyboard
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/ExternalAppExample/fiam-external-ios-testing-app/fiam-external-ios-testing-app/Base.lproj/Main.storyboard
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/ExternalAppExample/fiam-external-ios-testing-app/fiam-external-ios-testing-app/Info.plist
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/ExternalAppExample/fiam-external-ios-testing-app/fiam-external-ios-testing-app/ViewController.h
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/ExternalAppExample/fiam-external-ios-testing-app/fiam-external-ios-testing-app/ViewController.m
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/ExternalAppExample/fiam-external-ios-testing-app/fiam-external-ios-testing-app/main.m
  FirebaseInAppMessaging/Tests/Integration/FunctionalTestApp/Podfile
Labels: api: inappmessaging

#15001 [Core] Deprecate '-[FIROptions deepLinkURLScheme]' API
  FirebaseCore/Sources/FIROptions.m
  FirebaseCore/Sources/Public/FirebaseCore/FIROptions.h
Labels: api: core, public-api-change

#15002 [Infra] Update CHANGELOG.md for `Options.deepLinkURLScheme` deprecation
  FirebaseCore/CHANGELOG.md
Labels: api: core

#15013 [Core] Remove `Options.androidClientID` and `Options.trackingID`
  FirebaseCore/CHANGELOG.md
  FirebaseCore/Sources/FIROptions.m
  FirebaseCore/Sources/Public/FirebaseCore/FIROptions.h
  docs/FirebaseOptionsPerProduct.md
Labels: api: core, public-api-change

#15027 Remove deprecated VertexAI
  .github/workflows/vertexai.yml
  FirebaseCore/CHANGELOG.md
  FirebaseVertexAI.podspec
  FirebaseVertexAI/CHANGELOG.md
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Tests/Unit/Resources/animals.mp4
  FirebaseVertexAI/Tests/Unit/Resources/blue.png
  FirebaseVertexAI/Tests/Unit/Resources/gemini-report.pdf
  FirebaseVertexAI/Tests/Unit/Resources/hello-world.mp3
  FirebaseVertexAI/Tests/Unit/Snippets/ChatSnippets.swift
  FirebaseVertexAI/Tests/Unit/Snippets/FirebaseAppSnippetsUtil.swift
  FirebaseVertexAI/Tests/Unit/Snippets/FunctionCallingSnippets.swift
  FirebaseVertexAI/Tests/Unit/Snippets/MultimodalSnippets.swift
  FirebaseVertexAI/Tests/Unit/Snippets/README.md
  FirebaseVertexAI/Tests/Unit/Snippets/StructuredOutputSnippets.swift
  FirebaseVertexAI/Tests/Unit/Snippets/TextSnippets.swift
  FirebaseVertexAI/Tests/Unit/TestUtilities/BundleTestUtil.swift
  FirebaseVertexAI/Tests/Unit/VertexAIAPITests.swift
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, release-tooling

#15024 [Infra] Stop including AdMob in zip builds
  FirebaseCore/CHANGELOG.md
  ReleaseTooling/Sources/ZipBuilder/CarthageUtils.swift
  ReleaseTooling/Sources/ZipBuilder/ZipBuilder.swift
Labels: api: core, release-tooling

#15033 [Firebase AI] Cleanup Vertex AI in Firebase references
  .github/workflows/spm.yml
  Carthage.md
  Dangerfile
  FirebaseAI/README.md
  README.md
  scripts/README.md
  scripts/make_release_notes.py
  scripts/spm_test_schemes/FirebaseVertexAIUnit.xcscheme
Labels: api: firebaseai

#15036 [Auth] Remove 'ActionCodeSettings.dynamicLinkDomain'
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/ActionCode/ActionCodeSettings.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetOOBConfirmationCodeRequest.swift
  FirebaseAuth/Tests/Unit/GetOOBConfirmationCodeTests.swift
  FirebaseAuth/Tests/Unit/ObjCAPITests.m
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#15037 [Auth] Remove deprecated string-based provider ID APIs
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/AuthProvider/OAuthProvider.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#14984 Exchange token tests
  ExchangeTokenRequestTests.swift
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/IdentityPlatform/ExchangeTokenRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/IdentityPlatform/ExchangeTokenResponse.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/AppManager.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/AuthenticationExampleUITests.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/SettingsUITests.swift
  FirebaseAuth/Tests/Unit/ExchangeTokenRequestTests.swift
Labels: api: auth

#14981 Add internal support for regionalized OIDC token exchange (BYO-CIAM)
  ExchangeTokenRequestTests.swift
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/IdentityPlatform/ExchangeTokenRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/IdentityPlatform/ExchangeTokenResponse.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/AppManager.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/AuthenticationExampleUITests.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/SettingsUITests.swift
  FirebaseAuth/Tests/Unit/ExchangeTokenRequestTests.swift
Labels: api: auth

#14979 Add support for R-GCIP tenant configuration
  ExchangeTokenRequestTests.swift
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/Backend/AuthRequestConfiguration.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/IdentityPlatform/ExchangeTokenRequest.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/IdentityPlatform/ExchangeTokenResponse.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/AppManager.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/AuthenticationExampleUITests.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/SettingsUITests.swift
  FirebaseAuth/Tests/Unit/ExchangeTokenRequestTests.swift
Labels: api: auth

#14951 Pipeline tests part 2
  Firestore/Example/Firestore.xcodeproj/project.pbxproj
  Firestore/Source/API/FIRPipelineBridge.mm
  Firestore/Source/Public/FirebaseFirestore/FIRPipelineBridge.h
  Firestore/Swift/Source/Helper/PipelineHelper.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/Aggregation/AggregateFunction.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/Expr/ArrayExpression.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/Expr/Constant.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/Expr/FunctionExpr/BooleanExpr.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/Expr/MapExpression.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/Pipeline.swift
  Firestore/Swift/Source/SwiftAPI/Pipeline/PipelineResult.swift
  Firestore/Swift/Source/SwiftAPI/Stages.swift
  Firestore/Swift/Tests/Integration/PipelineTests.swift
  Firestore/Swift/Tests/TestHelper/TestHelper.swift
  Firestore/core/src/api/ordering.cc
  Firestore/core/src/api/stages.cc
  Firestore/core/src/api/stages.h
Labels: api: firestore, public-api-change

#15057 [Storage] Remove unused, long-deprecated 'StorageMetadata.storageReference' API`
  FirebaseStorage/CHANGELOG.md
  FirebaseStorage/Sources/StorageMetadata.swift
  FirebaseStorage/Tests/ObjCIntegration/ObjCAPITests.m
Labels: api: storage
