Repository firebase/firebase-ios-sdk, pull requests merged in 2025-01, with the labels that each got.

#14301 Bump Python version from 3.7 to 3.11 in GitHub Actions workflows
  .github/workflows/firestore-nightly.yml
  .github/workflows/firestore.yml
Labels: api: firestore

#14299 [rc-swift] ConfigRealtime
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/Private/FIRRemoteConfig_Private.h
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.h
  FirebaseRemoteConfig/Sources/RCNConfigRealtime.m
  FirebaseRemoteConfig/SwiftNew/ConfigContent.swift
  FirebaseRemoteConfig/SwiftNew/ConfigFetch.swift
  FirebaseRemoteConfig/SwiftNew/ConfigRealtime.swift
  FirebaseRemoteConfig/SwiftNew/ConfigSettings.swift
  FirebaseRemoteConfig/SwiftNew/Utils/InstallationsProtocol.swift
  FirebaseRemoteConfig/SwiftNew/Utils/UtilsURL.swift
  FirebaseRemoteConfig/Tests/Swift/ObjC/Bridging-Header.h
  FirebaseRemoteConfig/Tests/Swift/ObjC/RealtimeMocks.m
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/APITestBase.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/APITests.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/FirebaseRemoteConfigSwift_APIBuildTests.swift
  FirebaseRemoteConfig/Tests/SwiftUnit/ConfigDBManagerOrigTest.swift
  FirebaseRemoteConfig/Tests/SwiftUnit/ConfigRealtimeTests.swift
  FirebaseRemoteConfig/Tests/Unit/RCNPersonalizationTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig, public-api-change

#14303 [Config] Follow-up to 'RCNRealtime' port
  FirebaseRemoteConfig/SwiftNew/ConfigRealtime.swift
Labels: api: remoteconfig

#14241 [Auth] Refactor MultiFactor.swift
  FirebaseAuth/Sources/Swift/MultiFactor/MultiFactor.swift
Labels: api: auth

#14310 Update RCE flow to skip checking status if appVerificationDisabledForTesting is set
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/AuthProvider/PhoneAuthProvider.swift
Labels: api: auth

#14308 [Auth] Make two string properties atomic
  FirebaseAuth/Sources/Swift/Auth/Auth.swift
  FirebaseAuth/Sources/Swift/SystemService/SecureTokenService.swift
Labels: api: auth

#14313 Analytics 11.7.0
  FirebaseAnalytics.podspec
  GoogleAppMeasurement.podspec
  Package.swift
Labels: api: analytics

#14316 [Release] Changelogs for M158 / 11.7.0
  Crashlytics/CHANGELOG.md
  FirebaseAuth/CHANGELOG.md
Labels: api: auth, api: crashlytics

#13976 Add custom signals support in Remote Config.
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/FIRRemoteConfig.m
  FirebaseRemoteConfig/Sources/Private/RCNConfigSettings.h
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
  FirebaseRemoteConfig/Sources/RCNConfigSettings.m
  FirebaseRemoteConfig/Sources/RCNUserDefaultsManager.h
  FirebaseRemoteConfig/Sources/RCNUserDefaultsManager.m
  FirebaseRemoteConfig/Swift/CustomSignals.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/APITestBase.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/AsyncAwaitTests.swift
  FirebaseRemoteConfig/Tests/Swift/SwiftAPI/FirebaseRemoteConfigSwift_APIBuildTests.swift
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
  FirebaseRemoteConfig/Tests/Unit/RCNUserDefaultsManagerTests.m
Labels: api: remoteconfig, public-api-change

#14314 [Config] Conditionally mark closures as Sendable for Xcode 16
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
Labels: api: remoteconfig, public-api-change

#14317 [Vertex AI] Rename `ImageGenerationResponse` to `ImagenGenerationResponse`
  FirebaseVertexAI/Sources/Types/Internal/Imagen/ImagenGenerationRequest.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenGenerationResponse.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenModel.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/Unit/Types/Imagen/ImagenGenerationRequestTests.swift
  FirebaseVertexAI/Tests/Unit/Types/Imagen/ImagenGenerationResponseTests.swift
Labels: api: vertexai

#14306 Firestore: string_format.h: fix use-after-free bug when internally formatting strings
  Firestore/CHANGELOG.md
  Firestore/core/src/util/string_format.h
  Firestore/core/test/unit/util/string_format_test.cc
Labels: api: firestore

#14328 Firestore: add a test for formatting an objective-c Class objects
  Firestore/core/test/unit/util/string_format_apple_test.mm
Labels: api: firestore

#14339 [Release] Carthage for M158 / 11.7.0
  ReleaseTooling/CarthageJSON/FirebaseABTestingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAdMobBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAnalyticsOnDeviceConversionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppCheckBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAppDistributionBinary.json
  ReleaseTooling/CarthageJSON/FirebaseAuthBinary.json
  ReleaseTooling/CarthageJSON/FirebaseCrashlyticsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDatabaseBinary.json
  ReleaseTooling/CarthageJSON/FirebaseDynamicLinksBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFirestoreBinary.json
  ReleaseTooling/CarthageJSON/FirebaseFunctionsBinary.json
  ReleaseTooling/CarthageJSON/FirebaseGoogleSignInBinary.json
  ReleaseTooling/CarthageJSON/FirebaseInAppMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMLModelDownloaderBinary.json
  ReleaseTooling/CarthageJSON/FirebaseMessagingBinary.json
  ReleaseTooling/CarthageJSON/FirebasePerformanceBinary.json
  ReleaseTooling/CarthageJSON/FirebaseRemoteConfigBinary.json
  ReleaseTooling/CarthageJSON/FirebaseStorageBinary.json
  ReleaseTooling/CarthageJSON/FirebaseVertexAIBinary.json
Labels: api: database, api: auth, api: messaging, api: storage, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: appdistribution, release-tooling, api: appcheck, api: vertexai, api: abtesting

#14341 [Vertex AI] Make `ImagenImageRepresentable` internal
  FirebaseVertexAI/Sources/Types/Internal/Imagen/ImagenImageRepresentable.swift
  FirebaseVertexAI/Sources/Types/Internal/Imagen/InternalImagenImage.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenFileDataImage.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenGenerationResponse.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenInlineDataImage.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenModel.swift
  FirebaseVertexAI/Tests/Unit/Types/Imagen/ImagenFileDataImageTests.swift
  FirebaseVertexAI/Tests/Unit/Types/Imagen/ImagenInlineDataImageTests.swift
Labels: api: vertexai

#14346 [Infra] Update versions for Release 11.8.0
  Firebase.podspec
  FirebaseABTesting.podspec
  FirebaseAnalytics.podspec
  FirebaseAnalyticsOnDeviceConversion.podspec
  FirebaseAppCheck.podspec
  FirebaseAppCheckInterop.podspec
  FirebaseAppDistribution.podspec
  FirebaseAuth.podspec
  FirebaseAuthInterop.podspec
  FirebaseCombineSwift.podspec
  FirebaseCore.podspec
  FirebaseCoreExtension.podspec
  FirebaseCoreInternal.podspec
  FirebaseCrashlytics.podspec
  FirebaseDatabase.podspec
  FirebaseDynamicLinks.podspec
  FirebaseFirestore.podspec
  FirebaseFirestoreInternal.podspec
  FirebaseFunctions.podspec
  FirebaseInAppMessaging.podspec
  FirebaseInstallations.podspec
  FirebaseMLModelDownloader.podspec
  FirebaseMessaging.podspec
  FirebaseMessagingInterop.podspec
  FirebasePerformance.podspec
  FirebaseRemoteConfig.podspec
  FirebaseRemoteConfigInterop.podspec
  FirebaseSessions.podspec
  FirebaseSharedSwift.podspec
  FirebaseStorage.podspec
  FirebaseVertexAI.podspec
  GoogleAppMeasurement.podspec
  GoogleAppMeasurementOnDeviceConversion.podspec
  Package.swift
  ReleaseTooling/Sources/FirebaseManifest/FirebaseManifest.swift
Labels: api: core, api: database, api: auth, api: messaging, api: storage, api: firestore, api: analytics, api: dynamiclinks, api: performance, api: remoteconfig, api: crashlytics, api: functions, api: inappmessaging, api: installations, api: appdistribution, release-tooling, api: appcheck, api: vertexai, api: abtesting

#14312 FIX: sort strings in UTF-8 encoded byte order
  Firestore/Example/Tests/Integration/API/FIRQueryTests.mm
Labels: api: firestore

#14350 [Config] Port ConfigExperiment tests
  FirebaseRemoteConfig/SwiftNew/ConfigExperiment.swift
  FirebaseRemoteConfig/Tests/SwiftUnit/ConfigExperimentOrigTests.swift
Labels: api: remoteconfig

#14351 [Config] Port Component tests
  FirebaseRemoteConfig/Tests/SwiftUnit/RemoteConfigComponentOrigTest.swift
  FirebaseRemoteConfig/Tests/SwiftUnit/TestUtilities.swift
  FirebaseRemoteConfig/Tests/Unit/FIRRemoteConfigComponentTest.m
Labels: api: remoteconfig

#14353 shared_ptr instead of unique_ptr
  .gitignore
  Firestore/Protos/nanopb/firestore/bundle.nanopb.cc
  Firestore/Protos/nanopb/firestore/bundle.nanopb.h
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.cc
  Firestore/Protos/nanopb/firestore/local/maybe_document.nanopb.h
  Firestore/Protos/nanopb/firestore/local/mutation.nanopb.cc
  Firestore/Protos/nanopb/firestore/local/mutation.nanopb.h
  Firestore/Protos/nanopb/firestore/local/target.nanopb.cc
  Firestore/Protos/nanopb/firestore/local/target.nanopb.h
  Firestore/Protos/nanopb/google/api/annotations.nanopb.cc
  Firestore/Protos/nanopb/google/api/annotations.nanopb.h
  Firestore/Protos/nanopb/google/api/http.nanopb.cc
  Firestore/Protos/nanopb/google/api/http.nanopb.h
  Firestore/Protos/nanopb/google/api/resource.nanopb.cc
  Firestore/Protos/nanopb/google/api/resource.nanopb.h
  Firestore/Protos/nanopb/google/firestore/admin/index.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/admin/index.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/aggregation_result.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/aggregation_result.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/bloom_filter.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/bloom_filter.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/common.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/common.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/document.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/document.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.h
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.cc
  Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/any.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/any.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/empty.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/empty.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/struct.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/timestamp.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/timestamp.nanopb.h
  Firestore/Protos/nanopb/google/protobuf/wrappers.nanopb.cc
  Firestore/Protos/nanopb/google/protobuf/wrappers.nanopb.h
  Firestore/Protos/nanopb/google/rpc/status.nanopb.cc
  Firestore/Protos/nanopb/google/rpc/status.nanopb.h
  Firestore/Protos/nanopb/google/type/latlng.nanopb.cc
  Firestore/Protos/nanopb/google/type/latlng.nanopb.h
  Firestore/Source/Public/FirebaseFirestore/FIRCallbackWrapper.h
  Firestore/core/interfaceForSwift/api/pipeline.h
Labels: api: firestore, public-api-change

#14355 Don't cache FCM registration token operations.
  FirebaseMessaging/CHANGELOG.md
  FirebaseMessaging/Sources/Token/FIRMessagingTokenDeleteOperation.m
  FirebaseMessaging/Sources/Token/FIRMessagingTokenFetchOperation.m
Labels: api: messaging

#14357 Update functions sample to latest sdk version and add streaming samples.
  FirebaseFunctions/Backend/index.js
  FirebaseFunctions/Backend/package.json
  FirebaseFunctions/Backend/start.sh
Labels: api: functions

#14359 [rc-swift] Custom Signals and Sendable
  FirebaseRemoteConfig/Swift/CustomSignals.swift
  FirebaseRemoteConfig/SwiftNew/ConfigConstants.swift
  FirebaseRemoteConfig/SwiftNew/ConfigSettings.swift
  FirebaseRemoteConfig/SwiftNew/RemoteConfig.swift
  FirebaseRemoteConfig/SwiftNew/UserDefaultsManager.swift
  FirebaseRemoteConfig/Tests/Unit/RCNRemoteConfigTest.m
Labels: api: remoteconfig

#14347 Firestore: Remove obsolete NOLINT comments
  Firestore/core/include/firebase/firestore/timestamp.h
  Firestore/core/src/api/document_reference.cc
  Firestore/core/src/api/firestore.h
  Firestore/core/src/api/load_bundle_task.cc
  Firestore/core/src/api/load_bundle_task.h
  Firestore/core/src/api/query_core.cc
  Firestore/core/src/core/event_listener.h
  Firestore/core/src/core/firestore_client.cc
  Firestore/core/src/credentials/firebase_app_check_credentials_provider_apple.h
  Firestore/core/src/credentials/firebase_auth_credentials_provider_apple.h
  Firestore/core/src/local/leveldb_remote_document_cache.cc
  Firestore/core/src/local/leveldb_remote_document_cache.h
  Firestore/core/src/local/lru_garbage_collector.cc
  Firestore/core/src/remote/exponential_backoff.h
  Firestore/core/src/remote/grpc_completion.h
  Firestore/core/src/remote/grpc_connection.cc
  Firestore/core/src/remote/grpc_stream.cc
  Firestore/core/src/remote/online_state_tracker.cc
  Firestore/core/src/remote/stream.cc
  Firestore/core/src/util/async_queue.h
  Firestore/core/src/util/background_queue.h
  Firestore/core/src/util/executor.h
  Firestore/core/src/util/executor_libdispatch.h
  Firestore/core/src/util/executor_std.cc
  Firestore/core/src/util/executor_std.h
  Firestore/core/src/util/schedule.h
  Firestore/core/src/util/task.cc
  Firestore/core/src/util/task.h
  Firestore/core/src/util/testing_hooks.cc
  Firestore/core/src/util/testing_hooks.h
  Firestore/core/src/util/thread_safe_memoizer.h
  Firestore/core/test/unit/api/load_bundle_task_test.cc
  Firestore/core/test/unit/core/query_listener_test.cc
  Firestore/core/test/unit/credentials/firebase_app_check_credentials_provider_test.mm
  Firestore/core/test/unit/credentials/firebase_auth_credentials_provider_test.mm
  Firestore/core/test/unit/local/local_store_test.cc
  Firestore/core/test/unit/remote/exponential_backoff_test.cc
  Firestore/core/test/unit/remote/grpc_stream_tester.h
  Firestore/core/test/unit/testutil/async_testing.h
  Firestore/core/test/unit/testutil/testutil.cc
  Firestore/core/test/unit/testutil/time_testing.h
  Firestore/core/test/unit/util/async_queue_test.cc
  Firestore/core/test/unit/util/executor_test.cc
  Firestore/core/test/unit/util/schedule_test.cc
  Firestore/core/test/unit/util/task_test.cc
  Firestore/core/test/unit/util/testing_hooks_test.cc
  Firestore/core/test/unit/util/thread_safe_memoizer_test.cc
  scripts/cpplint.py
Labels: api: firestore

#14374 Firestore: add some 'NOLINT(build/include_order)' comments to make lint happy
  Firestore/core/src/nanopb/byte_string.cc
  Firestore/core/test/unit/nanopb/byte_string_test.cc
  Firestore/core/test/unit/util/executor_test.cc
  Firestore/core/test/unit/util/schedule_test.cc
Labels: api: firestore

#14348 Firestore: Remove vestigial mentions of STLport
  Firestore/core/include/firebase/firestore/timestamp.h
  Firestore/core/src/timestamp.cc
  Firestore/core/src/util/firestore_exceptions.h
Labels: api: firestore

#14375 [Config] Mark `addOnConfigUpdateListener` as `Sendable`
  FirebaseRemoteConfig/CHANGELOG.md
  FirebaseRemoteConfig/Sources/Public/FirebaseRemoteConfig/FIRRemoteConfig.h
Labels: api: remoteconfig, public-api-change

#14372 [Config] Follow-up to #14309
  FirebaseRemoteConfig/SwiftNew/ConfigContent.swift
  FirebaseRemoteConfig/SwiftNew/ConfigRealtime.swift
  FirebaseRemoteConfig/SwiftNew/RemoteConfig.swift
Labels: api: remoteconfig

#14379 Fix bug in genStream function impl.
  FirebaseFunctions/Backend/index.js
Labels: api: functions

#14383 [Config] Port over Sendability changes from #14375
  FirebaseRemoteConfig/SwiftNew/RemoteConfig.swift
Labels: api: remoteconfig

#14386 Changelog updates for 11.8.0
  FirebaseMessaging/CHANGELOG.md
  FirebaseRemoteConfig/CHANGELOG.md
  Firestore/CHANGELOG.md
Labels: api: messaging, api: firestore, api: remoteconfig

#14164 [Vertex AI] Add compilation tests for GCS snippets
  FirebaseVertexAI/Tests/Unit/Snippets/CloudStorageSnippets.swift
  Package.swift
Labels: api: vertexai

#14387 Deprecate FirebaseDynamicLinks CocoaPod
  FirebaseDynamicLinks.podspec
  FirebaseDynamicLinks/CHANGELOG.md
Labels: api: dynamiclinks

#14384 [Auth] Add ActionCodeSettings.linkDomain and deprecate ActionCodeSettings.dynamicLinkDomain
  FirebaseAuth/CHANGELOG.md
  FirebaseAuth/Sources/Swift/ActionCode/ActionCodeSettings.swift
  FirebaseAuth/Sources/Swift/Backend/AuthBackend.swift
  FirebaseAuth/Sources/Swift/Backend/RPC/GetOOBConfirmationCodeRequest.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrorUtils.swift
  FirebaseAuth/Sources/Swift/Utilities/AuthErrors.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/Models/AuthMenu.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AccountLinkingViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/AuthViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExample/ViewControllers/OtherAuthMethodControllers/PasswordlessViewController.swift
  FirebaseAuth/Tests/SampleSwift/AuthenticationExampleUITests/AuthenticationExampleUITests.swift
  FirebaseAuth/Tests/Unit/GetOOBConfirmationCodeTests.swift
  FirebaseAuth/Tests/Unit/ObjCAPITests.m
  FirebaseAuth/Tests/Unit/RPCBaseTests.swift
  FirebaseAuth/Tests/Unit/SwiftAPI.swift
Labels: api: auth

#14388 [Vertex AI] Update Imagen public APIs to match API proposal
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenGCSImage.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenGenerationConfig.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenInlineImage.swift
  FirebaseVertexAI/Sources/Types/Public/Imagen/ImagenModel.swift
  FirebaseVertexAI/Sources/VertexAI.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/Unit/Types/Imagen/ImageGenerationParametersTests.swift
  FirebaseVertexAI/Tests/Unit/Types/Imagen/ImagenGCSImageTests.swift
  FirebaseVertexAI/Tests/Unit/Types/Imagen/ImagenGenerationRequestTests.swift
  FirebaseVertexAI/Tests/Unit/Types/Imagen/ImagenGenerationResponseTests.swift
  FirebaseVertexAI/Tests/Unit/Types/Imagen/ImagenInlineImageTests.swift
Labels: api: vertexai

#14390 Update Dynamic Links CHANGELOG.md
  FirebaseDynamicLinks/CHANGELOG.md
Labels: api: dynamiclinks

#14398 Update CHANGELOG.md
  FirebaseDynamicLinks/CHANGELOG.md
Labels: api: dynamiclinks

#14399 Undo xcscheme change to fix CI error
  Firestore/Example/Firestore.xcodeproj/xcshareddata/xcschemes/Firestore_IntegrationTests_iOS.xcscheme
  Firestore/core/src/nanopb/byte_string.cc
  Firestore/core/test/unit/nanopb/byte_string_test.cc
Labels: api: firestore

#14404 [Vertex AI] Remove outdated `Preview` notice from README
  FirebaseVertexAI/README.md
Labels: api: vertexai

#14403 [Vertex AI] Add Imagen integration tests for GCS and filtering
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/ImagenIntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/TestApp/VertexAITestApp.xcodeproj/project.pbxproj
Labels: api: vertexai

#14356 [Vertex AI] Add internal `apiVersion` parameter to `RequestOptions`
  FirebaseVertexAI/Sources/APIVersion.swift
  FirebaseVertexAI/Sources/GenerativeAIRequest.swift
  FirebaseVertexAI/Tests/TestApp/Tests/Integration/IntegrationTests.swift
  FirebaseVertexAI/Tests/Unit/APIVersionTests.swift
  FirebaseVertexAI/Tests/Unit/RequestOptionsTest.swift
  FirebaseVertexAI/Tests/Unit/VertexAIAPITests.swift
Labels: api: vertexai
